<% current_user_authorized_to_manage = @sop.can_manage? -%>
<h1>Editing <%= t('sop') %>: <%= link_to(h(@sop.title), sop_path(@sop)) -%></h1>

<%= form_for(@sop) do |f| %>
    <div class="asset_form">
      <%= f.error_messages %>

      <div class="form-group">
        <label>Title <span class="required">*</span></label>
        <%= f.text_field :title, :class=>"form-control" -%>
      </div>

      <div class="form-group">
        <label>Description</label>
        <%= f.text_area :description, :class=>"form-control", :rows => 5 -%>
      </div>

      <%# only the owner should get to see this option (ability to reload defaults remain in 'edit' action, and project selector was disabled) -%>
      <% if current_user_authorized_to_manage -%>
          <%= render :partial => "projects/project_selector", :locals => { :resource => @sop, :allow_nil => true } -%>
      <% end -%>

      <% if show_scales? %>
          <%= render :partial => "scales/scales_selector",:locals=>{:object=>@sop} %>
      <% end %>

      <%# only the owner should be able to change sharing permissions -%>
      <% if current_user_authorized_to_manage -%>
          <%= render :partial=>"assets/asset_form_bottom", :locals=> {:show_publications=>false, :f => f}-%>

          <%= render :partial => "assays/associate_assays", :locals=>{:resource => @sop} -%>

          <%= render :partial=>"samples/associate_sample", :locals=>{:resource=>@sop} %>
      <% end -%>

      <div>
        <%= preview_permission_popup_link(@sop)-%>
        <%= f.submit "Update", :id => "sop_submit_btn",
                     :onclick => "javascript: validateResourceFields(false, 'sop', #{current_user_authorized_to_manage}); return(false);",
                     :class => 'btn btn-primary' -%>
        or <%= cancel_button(sop_path(@sop)) -%>
      </div>
    </div>
<% end %>
