<%= javascript_include_tag "sharing.js" %>

<% current_user_authorized_to_manage = Authorization.is_authorized?("manage", nil, @sop, current_user) -%>


<ul class="sectionIcons">
  <li><%= icon('arrow_left', sop_path(@sop), 'Return to SOP', nil, 'Return to SOP') -%></li>   
</ul>

<h1>Editing SOP: <%= link_to(h(@sop.title), sop_path(@sop)) -%></h1>

<div class="show_basic">

  <% form_for(@sop) do |f| %>
    <%= f.error_messages %>

    <center>
      <div style="width: 60%;">
        <p style="margin-top: 1.5em;">
          <b>Title:</b><br/>
          <%= f.text_field :title, :style => "width: 100%;" -%>
        </p>

        <p style="margin-top: 0.5em;">
          <b>Description:</b><br/>
          <%= f.text_area :description, :style => "width: 100%;", :rows => 5 -%>
        </p>

        <%# only the owner should get to see this option (ability to reload defaults remain in 'edit' action, but project selector is disabled) -%>
        <% if current_user_authorized_to_manage -%>
          <%= render :partial => "assets/project_selector", :locals => { :resource_type => "SOP",  # this is only for presentation, not for any processing
            :selected_project_id => @sop.project_id,
            :project_hash => current_user.generate_own_project_id_name_hash,
            :disable_project_select => true } -%>
        <% end -%>
      </div>
    </center>

    <%#*<p>%>
      <%#= render :partial => "organisms/select_organism",:locals=>{:model=>Sop} -%>
    <%#*</p>%>

    <%# only the owner should be able to change sharing permissions -%>
    <% if current_user_authorized_to_manage -%>
      <p style="margin: 2.5em 0 0 0;">
        <%= render :partial => "assets/sharing_form" -%>
      </p>

      <p style="margin: 0;">
        <%= render :partial => "assets/attribution_form", :locals => { :resource_type => "SOP",  # this is only for presentation, not for any processing
          :existing_attributions => Authorization.authorize_collection("show", @sop.attributions_objects, current_user),
          :attribution_suggestions => Sop.get_all_as_json(current_user) } -%>
      </p>
    <% end -%>

    <p style="text-align: center;">
      <%= f.submit "Update", :id => "sop_submit_btn", :onclick => "javascript: validateSopFields(false); return(false);"  -%> or <%= link_to "Cancel", sop_path(@sop) -%>
    </p>
  <% end %>
    
</div>