<%= javascript_include_tag "sharing.js", "assays.js" %>
<% current_user_authorized_to_manage = @sop.can_manage? -%>
<ul class="sectionIcons">
    <li>
        <%= image_tag_for_key('arrow_left', sop_path(@sop), 'Return to SOP', nil, 'Return to SOP') -%>
    </li>
</ul>
<h1>Editing SOP: <%= link_to(h(@sop.title), sop_path(@sop)) -%></h1>
<div class="show_basic">
    <% form_for(@sop) do |f| %>
    <div class="asset_form">
        <%= f.error_messages %>
        <p>
            <b>Title:</b>
            <br/>
            <%= f.text_area :title, :style=>"width: 100%", :rows=>2 -%>
        </p>
        <p>
            <b>Description:</b>
            <br/>
            <%= f.text_area :description, :style => "width: 100%;", :rows => 10 -%>
        </p>        
      
        <%# only the owner should get to see this option (ability to reload defaults remain in 'edit' action, but project selector is disabled) -%>
        <% if current_user_authorized_to_manage -%>
        <%= render :partial => "assets/project_selector", :locals => { :resource_type => "SOP",  # this is only for presentation, not for any processing
        :selected_project_id => @sop.project_id,
        :project_hash => current_user.generate_own_project_id_name_hash,
        :disable_project_select => true } -%>
        <% end -%>
        <%# only the owner should be able to change sharing permissions -%>
        <% if current_user_authorized_to_manage -%>
		
		<%= render :partial=>"assets/asset_form_bottom", :locals=> {
					:resource_type => "Sop",
					:existing_attributions=>Authorization.authorize_collection("show", @sop.attributions_objects, current_user),
					:existing_creators=>@sop.creators,
					:other_creators=>@sop.other_creators,
					:related_publications=>@sop.related_publications,
					:show_publications=>false
				}
    	-%>
		<%= render :partial => "assays/associate_assays", :locals=>{:resource => @sop} -%>
        <% end -%>
        <p>
            <%= f.submit "Update", :id => "sop_submit_btn", :onclick => "javascript: validateSopFields(false); return(false);" -%> or <%= link_to "Cancel", sop_path(@sop) -%>
        </p>
		</div>
        <% end %>    
</div>
