<%= javascript_include_tag "sharing.js", "assays.js","attribution.js","resource.js" %>

<% current_user_authorized_to_manage = @sop.can_manage? -%>

<h1>Editing SOP: <%= link_to(h(@sop.title), sop_path(@sop)) -%></h1>
<div class="show_basic">
    <%= form_for(@sop) do |f| %>
    <div class="asset_form">
        <%= f.error_messages %>
        <p>
            <b>Title:</b>
            <br/>
            <%= f.text_area :title, :style=>"width: 100%", :rows=>2 -%>
        </p>
        <p>
            <b>Description:</b>
            <br/>
            <%= f.text_area :description, :style => "width: 100%;", :rows => 10 -%>
        </p>        
      
        <%# only the owner should get to see this option (ability to reload defaults remain in 'edit' action, but project selector is disabled) -%>
        <% if current_user_authorized_to_manage -%>
            <%= render :partial => "projects/project_selector", :locals => { :resource => @sop, :disable_project_select => true } -%>
        <% end -%>
        <%# only the owner should be able to change sharing permissions -%>
        <% if current_user_authorized_to_manage -%>
		
		<%= render :partial=>"assets/asset_form_bottom", :locals=> {:show_publications=>false, :f => f}-%>
		<%= render :partial => "assays/associate_assays", :locals=>{:resource => @sop} -%>
        <%= f.fancy_multiselect :samples, {:hidden=> @sop.samples.blank?  ? true : false, :other_projects_checkbox => true} -%>
        <% end -%>
        <p>
          <%= preview_permission_popup_link(@sop)-%>
          <%= f.submit "Update", :id => "sop_submit_btn", :onclick => "javascript: validateResourceFields(false, 'sop', #{current_user_authorized_to_manage}); return(false);" -%> or <%= link_to "Cancel", sop_path(@sop) -%>
        </p>
		</div>
        <% end %>    
</div>
