<%= javascript_include_tag "sharing.js" -%>

<h1>New SOP</h1>

<div class="show_basic">
  <% form_tag({:action => :create}, :multipart => true) do -%>
    <%= error_messages_for :sop -%>

	  <center>
	  	<div style="width: 60%;">
	  		<p>
			    <b>File to upload:&nbsp;</b>
			    <%= file_field :sop, :data -%>
			  </p>
				
		    <p style="margin-top: 1.5em;">
			  	<b>Title:</b><br/>
					<% sop_title_value = (params[:sop].blank? || params[:sop][:title].blank?) ? nil : params[:sop][:title] -%>
					<%= text_field_tag 'sop[title]', sop_title_value, :style => "width: 100%;" -%>
			  </p>
				
		    <p style="margin-top: 0.5em;">
		    	<b>Description:</b><br/>
					<% sop_description_value = (params[:sop].blank? || params[:sop][:description].blank?) ? nil : params[:sop][:description] -%>
					<%= text_area_tag 'sop[description]', sop_description_value, :style => "width: 100%;", :rows => 5 -%>
		    </p>
	  
	 			<%= render :partial => "assets/project_selector", :locals => { :resource_type => "SOP",   # this is only for presentation, not for any processing
                                                                       :project_hash => current_user.generate_own_project_id_name_hash } -%>
	  	</div>
		</center>

        <p>
          <%= render :partial => "sops/select_organism" -%>
        </p>
		
		<p style="margin: 2.5em 0 0 0;">
  		<%= render :partial => "assets/sharing_form" -%>
		</p>
		
		<p style="margin: 0;">
		  <%= render :partial => "assets/attribution_form", :locals => { :resource_type => "SOP",  # this is only for presentation, not for any processing
                                                                     :existing_attributions => [],
                                                                     :attribution_suggestions => Sop.get_all_as_json(current_user) } -%>
		</p>
		
	  <p style="text-align: center; margin-top: 1.5em;">
	    <%= submit_tag "Upload and Save", :id => "sop_submit_btn", :onclick => "javascript: validateSopFields(true); return(false);" -%> or <%= link_to 'Cancel', sops_path -%> 
	  </p>
	<% end -%>	
</div>
