<%= render :partial => "general/item_title",:locals=>{:item=>@sop} %>

<ul class="sectionIcons">
    <%= asset_buttons @sop,@display_sop.version -%>
</ul>
<br/>

<div class="show_basic">

  <%= render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@sop} -%>

  <div class="main_content_left_box">

    <%= render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_sop, :resource=>@sop} -%>

    <div class="box_about_actor">
      <%= item_description @display_sop.description -%>
      <%= render :partial => 'assets/fileinfo',:object=>@display_sop.content_blob -%>

      <%= render :partial => "assets/special_auth_code_display", :locals => {:resource => @sop} %>

      <%= render :partial => "assets/asset_doi", :locals => {:displayed_resource=>@display_sop} %>

    </div>
  </div>

  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @sop, :versioned_resource=>@display_sop } %>

  <div style="clear:both">
    <%= render :partial=>"general/isa_graph", :locals => {:root_item => @sop, :current_item => @sop, :deep => true} %>
  </div>

  <div style="clear:both;">
    <% if Seek::Config.experimental_conditions_enabled %>
        <p>
            <h2>
              Experimental Conditions
            </h2>
        </p>
        <%= render :partial=>"sops/simple_experimental_conditions_list" %>
    <% end %>

    <%# get, classify and authorize all assets for this project -%>
    <%= render :partial=>"general/items_related_to",:object => @sop %>
  </div>

</div>