<%= javascript_include_tag "resource" -%>
<% truncate_length_for_boxes = 22 -%>

<ul class="sectionIcons">
  <% if Authorization.is_authorized?("manage", nil, @sop, current_user) -%>
      <li><%= link_to_function image("new")+" Upload new version", visual_effect(:toggle_blind, "upload_new_version_form") -%></li>
      <li><%= icon('manage', edit_sop_path(@sop), nil, nil, 'Manage SOP') -%></li>
  <% elsif Authorization.is_authorized?("edit", nil, @sop, current_user) -%>
      <%# this is not owner, but current user can edit -%>
      <li><%= icon('edit', edit_sop_path(@sop), nil, nil, 'Edit SOP') -%></li>
  <% end -%>

  <% if Authorization.is_authorized?("destroy", nil, @sop, current_user) -%>
      <li><%= icon('destroy', sop_path(@sop), nil, { :confirm => 'This deletes the SOP and all metadata. Are you sure?', :method => :delete }, 'Delete SOP') -%></li>
  <% end -%>

  <% if Authorization.is_authorized?("download", nil, @sop, current_user) -%>
      <li><%= icon('download', download_sop_url(:version=>@display_sop.version), "Download SOP", nil, "Download SOP") -%></li>
  <% else -%>
      <li>
      <li>
        <%= render :partial=>"assets/request_resource", :locals=>{:resource=>@sop} %>
      </li>
      </li>
  <% end -%>
</ul>

<div id="upload_new_version_form" class="show_basic" style="display:none">
  <% form_tag ({:action=>"new_version", :id=>@sop}, :multipart => true) do -%>
      <center>
        <div style="width: 60%;margin-top:0.75em;">
      <p>
        <b>File to upload:&nbsp;</b><br/>
        <%= file_field_tag :data,:size=>40 -%><br/>
        <%= submit_tag "Upload" -%>
      </p>
            
        </div>        
      </center>
  <% end -%>
</div>

<h1 class="contribution_title">SOP: <%= link_to(h(@display_sop.title), sop_path(@sop)) -%></h1>

<%= render :partial => "assets/resource_datetime_info", :locals => { :resource => @sop } -%>


<div class="show_basic">
  <div class="main_content_left_box">

    <div class="box_about_actor">
      <p>
        <b>Title:</b>
        <span class="title"><%= h @display_sop.title -%></span>
      </p>

      <p>
        <b>Version:</b>
        <%= resource_version_selection @sop,@display_sop -%>
      </p>      

      <p>
        <b>File name:</b>
        <%= h @display_sop.original_filename -%>
      </p>

      <p>
        <b>Format:</b>
        <%= h @display_sop.content_type -%>
      </p>

      <%#*<p>%>
      <%#*<b>Organism:</b>%>
      <%# if @sop.organism -%>
      <%#=organism_link_to @sop.organism -%>
      <%# else -%>
      <%#*<span class="none_text">Unknown</span>%>
      <%# end -%>
      <%#*</p>%>

      <br/>

      <p>
        <b>Description</b>
        <% unless @display_sop.description.blank? -%>
          <div class="box_standout">
            <%= simple_format(white_list(@display_sop.description)) -%>
          </div>
      <% else -%>
          <p class="none_text">
            No description
          </p>
      <% end -%>
      </p>


    </div>
  </div>

  <div class="main_content_right_box">
    <%= render :partial => "assets/resource_original_uploader_box", :locals => { :resource => @sop } -%>
    <%= render :partial => "assets/resource_attributions_box", :locals => { :resource => @sop, :attributed_to => Authorization.authorize_collection("show", @sop.attributions_objects, current_user, true), :truncate_to => truncate_length_for_boxes } -%>
  </div>

  <div style="clear:both;">


    <h2>
      Experimental Conditions
    </h2>
    <%= render :partial=>"sops/simple_experimental_conditions_list" %>
    <br/>


    <%# get, classify and authorize all assets for this project -%>
    <% sop_asset_hash = classify_for_tabs([@sop.project]) -%>
    <% sop_asset_hash.merge! classify_for_tabs(@sop.assays) -%>

    <%= render :partial=>"layouts/items_related_to", :locals=>{:item_name=>@sop.title, :item_hash=>sop_asset_hash} %>

  </div>


</div>