<%= javascript_include_tag "resource" -%>

<%= render :partial => "layouts/item_title",:locals=>{:item=>@sop} %>

<ul class="sectionIcons">
    <%= asset_buttons @sop,@display_sop.version -%>
</ul>
<br/>

<div class="show_basic">

  <%= render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@sop} -%>

  <div class="main_content_left_box_narrower">

    <%= render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_sop, :resource=>@sop} -%>
  
    <div class="box_about_actor">
      <%= render :partial => 'assets/fileinfo',:object=>@display_sop.content_blob -%>

      <br/>

      <%= render :partial => "assets/special_auth_code_display", :locals => {:resource => @sop} %>

      <p>
        <b>Description:</b>
        <% unless @display_sop.description.blank? -%>
          <div class="box_standout" id="description">
            <%= simple_format(auto_link(white_list(@display_sop.description),:all,:rel=>'nofollow')) -%>
          </div>
      <% else -%>
          <p class="none_text">
            No description
          </p>
      <% end -%>
      </p>
    </div>
  </div>

  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @sop } %>

  <div style="clear:both;padding-top:1em;">
    <p>
        <%= embedded_isa_svg(@sop, true, @sop) -%>
    </p>

    <h2>
      Experimental Conditions
    </h2>
    <%= render :partial=>"sops/simple_experimental_conditions_list" %>
    <br/>

    <%# get, classify and authorize all assets for this project -%>
    <%= render :partial=>"layouts/items_related_to",:object => @sop %>
    <br/>
    <%= render :partial => "layouts/usage_info", :locals => { :resource => @sop } -%>
  </div>

</div>