<%= javascript_include_tag "resource" -%>
<% truncate_length_for_boxes = 22 -%>

<ul class="sectionIcons">
  <% if Authorization.is_authorized?("manage", nil, @sop, current_user) -%>
      <li><%= link_to_function image("new")+" Upload new version", visual_effect(:toggle_appear, "upload_new_version_form") -%></li>
      <li><%= image_tag_for_key('manage', edit_sop_path(@sop), nil, nil, 'Manage SOP') -%></li>
  <% elsif Authorization.is_authorized?("edit", nil, @sop, current_user) -%>
      <%# this is not owner, but current user can edit -%>
      <li><%= image_tag_for_key('edit', edit_sop_path(@sop), nil, nil, 'Edit SOP') -%></li>
  <% end -%>

  <% if Authorization.is_authorized?("destroy", nil, @sop, current_user) -%>
      <li><%= image_tag_for_key('destroy', sop_path(@sop), nil, { :confirm => 'This deletes the SOP and all metadata. Are you sure?', :method => :delete }, 'Delete SOP') -%></li>
  <% end -%>

  <% if Authorization.is_authorized?("download", nil, @sop, current_user) -%>
      <li><%= image_tag_for_key('download', download_sop_url(:version=>@display_sop.version), "Download SOP", nil, "Download SOP") -%></li>
  <% else -%>
      <li>
      <li>
        <%= render :partial=>"assets/request_resource", :locals=>{:resource=>@sop} %>
      </li>
      </li>
  <% end -%>
</ul>

<%= render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@sop} -%>

<%= render :partial => "layouts/item_title",:locals=>{:item=>@sop} %>

<%= render :partial => "layouts/usage_info", :locals => { :resource => @sop } -%>


<div class="show_basic">
  

  <div class="main_content_left_box">

    <%= render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_sop, :resource=>@sop} -%>
  
    <div class="box_about_actor">
      <p>
        <b>Title:</b>
        <span class="title"><%= h @display_sop.title -%></span>
      </p>


      <p>
        <b>File name:</b>
        <%= h @display_sop.original_filename -%>
      </p>

      <p>
        <b>Format:</b>
        <%= h mime_nice_name(@display_sop.content_type) -%>
      </p>

      <br/>

      <p>
        <b>Description:</b>
        <% unless @display_sop.description.blank? -%>
          <div class="box_standout" id="description">
            <%= simple_format(auto_link(white_list(@display_sop.description),:all,:rel=>'nofollow')) -%>
          </div>
      <% else -%>
          <p class="none_text">
            No description
          </p>
      <% end -%>
      </p>
      <p>
        <%= embedded_isa_svg(@sop, true, @sop) -%>
      </p>
    </div>
  </div>

  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @sop } %>

  <div style="clear:both;padding-top:1em;">
    <div id="tags_box">
        <%= render :partial=>"assets/tags_box" -%>
    </div>

    <h2>
      Experimental Conditions
    </h2>
    <%= render :partial=>"sops/simple_experimental_conditions_list" %>
    <br/>

    <%# get, classify and authorize all assets for this project -%>
    <%= render :partial=>"layouts/items_related_to",:object => @sop %>

  </div>

</div>