<h1>New <%= t('collection') %></h1>

<%= index_and_new_help_icon controller_name %>

<%= form_tag({:action => :create}, :multipart => true) do -%>
    <div class="asset_form">
      <%= error_messages_for :collection -%>

      <div class="form-group">
        <label class="required">Title</label>
        <% collection_title_value = (params[:collection].blank? || params[:collection][:title].blank?) ? nil : params[:collection][:title] -%>
        <%= text_field_tag 'collection[title]', collection_title_value, :class=>"form-control" -%>
      </div>

      <div class="form-group">
        <label>Description</label>
        <% collection_description_value = (params[:collection].blank? || params[:collection][:description].blank?) ? nil : params[:collection][:description] -%>
        <%= text_area_tag 'collection[description]', collection_description_value, :class=>"form-control rich-text-edit" -%>
      </div>

      <%= fields_for(@collection) do |collection_fields| %>
        <%= render partial: 'extended_metadata/extended_metadata_type_selection', locals: { f: collection_fields, resource: @collection } %>
        <%= render partial: 'extended_metadata/extended_metadata_attribute_input', locals: { f: collection_fields, resource: @collection } %>
      <% end %>

      <%= render :partial => "projects/project_selector", :locals => { :resource => @collection } %>

      <%= render :partial => 'assets/license_selector', :locals => { :resource => @collection } %>

      <%= fields_for(@collection) { |f| render :partial=>"assets/asset_form_bottom", :locals=> {:show_publications=>false, :f => f} }-%>

      <%= form_submit_buttons(@collection) %>
    </div>
<% end -%>
