<% key = attribute.title  %>
<% value ||= nil %>
<% index ||= 'row-template' %>

<%   allow_row_removal = if index == 0
                           attribute.linked_extended_metadata_type.extended_metadata_attributes.none?(&:required?)
                         else
                           true
                         end %>
<% field_name_prefix = "#{element_name}[#{index}]" %>

<div id="<%= prefix-%>-role-<%= index-%>" class="<%= key.singularize %> single-role multi_linked_extended_metdata" data-index="<%= index-%>">
  <% attribute.linked_extended_metadata_type.extended_metadata_attributes.each do |attr| %>
    <div class="form-group"><label><%= attr.label %></label><%= required_span if attr.required? %>
      <div class="form-group single-attr-row">
        <% attr_element_name = "#{element_name}[#{index}][#{attr.title}]" %>
        <%= attribute_form_element(attr, value ? value[attr.title] : nil, attr_element_name, element_class) %>
        <% unless attribute.description.nil? %>
          <%= extended_metadata_attribute_description(attr.description) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <% if allow_row_removal %>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-danger extended_metadata-small-btn">
          Remove
          <%= check_box_tag "#{field_name_prefix}[_destroy]", '1', false,
                            class: 'destroy-row', autocomplete: 'off',id:"#{field_name_prefix}-checkbox[_destroy]" %>
        </label>
      </div>
    <% end %>
  </div>
</div>

<script>
    $j(document).ready(function () {

        $j('#<%= prefix-%>-role-<%= index-%>').on('change', '.destroy-row', function () {
            var row = $j(this).closest('#<%= prefix-%>-role-<%= index-%>');
            row.remove();
        });

    });

</script>
