<%= form_for([@project,@openbis_space]) do |f| %>

    <%= f.error_messages %>

    <div class="form-group">
      <label>AS Endpoint</label><span class="required">*</span>
      <%= f.text_field :as_endpoint, :class=>"form-control login-credential"-%>
    </div>

    <div class="form-group">
      <label>DSS Endpoint</label><span class="required">*</span>
      <%= f.text_field :dss_endpoint, :class=>"form-control login-credential"-%>
    </div>

    <div class="form-group">
      <%= f.label :username -%><span class="required">*</span>
      <%= f.text_field :username, :class=>"form-control login-credential"-%>
    </div>

    <div class="form-group">
      <%= f.label :password -%><span class="required">*</span>
      <%= f.password_field :password, :class=>"form-control login-credential"-%>
    </div>

    <div class="form-group">
      <%= f.label :space -%><span class="required">*</span>
      <%= f.text_field :space_name, :class=>"form-control login-credential"-%>
    </div>

    <span style="border:1px black solid;" id="test-endpoint">Test!</span>
    <span id="result"></span>

    <%= f.submit(@openbis_space.new_record? ? "Add" : "Update",
                 disabled:true ,
                 disable_with: @openbis_space.new_record? ? "Adding ..." : "Updating ...",
                 class:'btn btn-primary',
                 id:'submit-button')
    %>
    or
    <%= cancel_button(project_openbis_spaces_path(@project)) %>


<% end %>

<script>

  function testEndpoint() {
    $j.ajax('<%= test_endpoint_project_openbis_spaces_path(@project) %>', {
          data: $j('input.login-credential').serialize(),
          success: function (data) {
            if (data.result==true) {
              $j('#result').html('Passed')
              $j('#submit-button').prop('disabled', false);
            }
            else {
              $j('#result').html('Failed')
              $j('#submit-button').prop('disabled', true);
            }
          },
          beforeSend: function () {
            $j('#result').html('<%= image('spinner') %>');
          }
        }
    );
  }

  $j('#test-endpoint').on('click', function() {
    testEndpoint();
  });

</script>