<%= modal(id: 'create-folder-dialog', size: 'm', class: 'text-left') do %>
  <%= form_tag({:action => :create_folder}, id: 'create-folder-form', :multipart => true) do %>
    <%= modal_header('Create a folder') %>
    <%= modal_body do %>
      <label>Folder name</label>
      <%= text_field_tag :folder_name %>
      <%= hidden_field_tag :path, path %>
      <%= hidden_field_tag :dataset_id, dataset_id %>
    <% end %>
    <%= modal_footer do %>
      <%= create_button id:"folder_submit_btn", button_text:'Add',
                        class:'btn btn-primary' %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <% end %>
  <% end %>
<% end %>

<script>
    $j(document).ready(function () {
        $j('#create_folder').on('click', function () {

            $j('#create-folder-dialog').modal('show');

            return false;
        });
    });
</script>