<h2><%= @dataset['name'] -%> <small><%= @dataset['type'] -%></small></h2>
<p><%= @dataset['description'] %></p>
<% if @dataset['owner_name'].present? %>
    <strong>Owner:</strong> <%= @dataset['owner_name'] %><br/>
<% end %>
<% if (time = Time.parse(@dataset['creation_date']) rescue nil).present? %>
    <strong>Created:</strong> <%= time %> <span class="subtle">(<%= time_ago_in_words(time) %> ago)</span><br/>
<% end %>
<br/>
<h5>Subtypes</h5>
<ul class="list-group">
  <% @dataset['subtypes'].each do |subtype| %>
      <li class="list-group-item">
        <%= subtype['type'] %> <span class="subtle">(<%= number_to_human_size(subtype['size']) %>)</span>
        <%= button_link_to('Add metadata', 'add', nil, { id: "add_metadata_"+params[:project_id]+"_"+params[:dataset_id]+"_"+subtype['type'], class:"add_metadata"} ) %>

        <% if subtype["metadata"] %>
          <%= button_link_to('Download metadata', 'download', {:action => :get_metadata,
            :project_id => params[:project_id],:dataset_id => params[:dataset_id],:subtype_name => subtype['type']},
            method: :get) %>
        <% end %>
        <% if @assay && params[:assay_id]%>
          <%= form_tag(register_nels_path(:assay_id=>params[:assay_id]), method: :post, class: 'pull-right') do %>
              <%= hidden_field_tag('project_id', params[:project_id]) %>
              <%= hidden_field_tag('dataset_id', params[:dataset_id]) %>
              <%= hidden_field_tag('subtype_name', subtype['type']) %>
              <%= submit_tag('Register', class: 'btn btn-primary btn-xs') %>
          <% end %>
        <% end %>
      </li>
  <% end %>
</ul>

<%# TODO: Check app\assets\javascripts\validation.js as it doesn't interrupt flow if invalid%>
<%= modal(id: 'upload-file', size: 'm', class: 'text-left') do %>
  <%= form_tag({:action => :add_metadata}, :multipart => true) do %>
    <%= modal_header('Add metadata') %>
    <%= modal_body do %>
      <%= render :partial=>"assets/upload_box",:locals=>{:resource=>@data_file, :action_text=>"upload"} -%>
    <% end %>
    <%= modal_footer do %>
      <%= create_button id:"data_file_submit_btn", button_text:'Add',
                          onclick:"return validateResourceFields('data_file_xlsx');",
                          class:'btn btn-primary' %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <% end %>
  <% end %>
<% end %>

<script>
  $j(document).ready(function () {
    $j('.add_metadata').on('click', function () {
      // Show upload file form and populate the params as hidden fields
      $j('#upload-file').modal('show');
      button_id = $j(this).attr('id')

      $j('#upload-file form').append(`<input type="hidden" name="project_id" value="${button_id.split("_")[2]}" />`);
      $j('#upload-file form').append(`<input type="hidden" name="dataset_id" value="${button_id.split("_")[3]}" />`);
      $j('#upload-file form').append(`<input type="hidden" name="subtype_name" value="${button_id.split("_")[4]}" />`);

      return false;
    });
  });
</script>
