<i>Non Working prototype, links not working!!</i>
<p><% @file_list -%></p>
<h2>You are at:</h2>

<%# Use @path to create a series of folder links as breadcrumb %>
<%# Remove the first "Storebioinfo/" item and only make elements beyond project clickable%>
<% full_path="Storebioinfo"%>
<p>
  <% @path.split('/')[1..].each_with_index do |path_item, index | %>
    <% full_path += "/"+ path_item %>
    /<span <% if index>1 %> class="nels-folder" style="cursor: pointer;color:blue;"<% end %> path=<%= full_path%>>
      <%= path_item %>
    </span>
  <% end %>
</p>



<% if @dataset['owner_name'].present? %>
    <strong>Owner:</strong> <%= @dataset['owner_name'] %><br/>
<% end %>
<% if (time = Time.parse(@dataset['creation_date']) rescue nil).present? %>
    <strong>Created:</strong> <%= time %> <span class="subtle">(<%= time_ago_in_words(time) %> ago)</span><br/>
<% end %>
<br/>

<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style>

<%= button_link_to('New Folder', 'add', nil, { id: "", class:"add_metadata"}) %>
<%= button_link_to('Upload', 'arrow_up', nil, { id: "", class:"add_metadata"}) %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <% @file_list.each do |file_item| %>
      <tr>
        <td>
          <span
            class="<%= file_item["isFolder"] ? "nels-folder" : "glyphicon glyphicon-download nels-file" %>"
            style="cursor: pointer;" path=<%= file_item["path"]%>
          >
            <%= file_item["name"]%>
          </span>
        </td>
        <td><%= file_item["size"]%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $j(document).ready(function () {

    sessionStorage.setItem('nels_folder_state','Folder 1/Folder 2')
    // Update breadcrumb
    pathHTML='';
    path=''
    sessionStorage.getItem('nels_folder_state').split("/").forEach(element => {
      path=path.concat(`/${element}`);
      pathHTML=pathHTML.concat(`/<a href="" onclick="return false;" path="${path}">${element}</a>`);
    });
    $j('#nels_breadcrumb').html(pathHTML)
    // TODO: Add on click for each element in the breadcrumb

    function updateFolderList(path){
      $j('#nels-dataset').html('').spinner('add').show();
      $j.ajax({ url: '<%= subtype_assay_nels_path(params[:assay_id]) -%>',
        data: {
          project_id: '<%= @project_id -%>',
          dataset_id: '<%= @dataset['id'] -%>',
          subtype: '<%= @subtype -%>',
          path: path,
        },
        success: function (data) {
          $j('#nels-dataset').html(data).spinner('remove');
        }
      });
    }

    $j('.nels-folder').click(function() {
      updateFolderList($j(this).attr('path'));
    });
    $j('.nels-file').click(function() {
      alert(`trigger download for ${$j(this).attr('path')}`);
    });
  });
</script>
