<h1>
  <%= icon_tag('nels_logo') %>
  NeLS Browser
</h1>

<p class='subtle'>
  Logged in as <%= @rest_client.user_info['name'] %>
</p>

<%= render partial:'browser-overview' %>

<div class="row">
      <%= button_link_to('Open in NeLS', 'nels_logo_small', 'https://test-fe.cbu.uib.no/nels-web/#/sbi-storage',options = {target:'blank'}) %>
</div>



<div class="row">
  <div class="col-sm-3">
    <div id="nels-tree" style="min-height: 300px; border-right: 1px solid #ddd"></div>
  </div>
  <div class="col-sm-9">
    <div id="nels-dataset" style="display: none"></div>
    <div id="nels-content" style="display: none"></div>
  </div>
</div>

<script type="text/javascript">

    function selectNelsTreeNode(nodeId) {
        $j('#'+nodeId+' > a').click();
    }

    function bindNelsTreeNodeLinks() {
        $j('[data-role="nels-tree-node-link"]').on('click', function () {
            let nodeId = $j(this).data('tree-node-id');
            selectNelsTreeNode(nodeId);
        });
    }

    function showSubtype(projectId, datasetId, subtype, folder_path, assay_id = null) {
        $j('#nels-dataset').html('').spinner('add').show();
        $j('#nels-content').hide();


        $j.ajax({ url: '<%= subtype_nels_path -%>',
            data: {
                project_id: projectId,
                dataset_id: datasetId,
                subtype: subtype,
                path: folder_path,
                assay_id: assay_id
            },
            success: function (data) {
                $j('#nels-dataset').html(data).spinner('remove');
            }
        });
    }

    function saveLastSelectedNode(projectId, datasetId = null, subtypeId = null) {
        let val = `project${projectId}`;
        if (datasetId) {
            val = val + `,dataset${datasetId}`;
        }
        if (subtypeId) {
            val = val + `,${subtypeId}`;
        }

        sessionStorage.setItem('nels_tree_state',val);
    }

  $j(document).ready(function () {

    // Waits till the given element is loaded
    function waitForElm(selector) {
      return new Promise(resolve => {
        if (document.querySelector(selector)) {
          return resolve(document.querySelector(selector));
        }

        const observer = new MutationObserver(mutations => {
          if (document.querySelector(selector)) {
            resolve(document.querySelector(selector));
            observer.disconnect();
          }
        });

        observer.observe(document.body, {
          childList: true,
          subtree: true
        });
      });
    };

    // Reopen the tree at previous existing location
    if (sessionStorage.getItem("nels_tree_state")){
      let path = sessionStorage.getItem("nels_tree_state").split(',')

      // // Open all nodes except the last one
      path.slice(0,path.length-1).forEach(element => {
        waitForElm(`#${element}`).then((elm) => $j("#nels-tree").jstree("open_node", element))
      });
      // // Then select and click the last node in the path
      waitForElm(`#${path[path.length-1]}`).then((elm) => {
          selectNelsTreeNode(path[path.length-1]);
      });
    }

    $j('#nels-tree')
        .bind('loaded.jstree', function() {})
        .jstree({
          'core': {
            'check_callback': true,
            'force_text': true,
            'data' : {
              'url': function (node) {
                if (node.id === '#') {
                  return '<%= projects_nels_path() -%>';
                } else {
                  return '<%= datasets_nels_path(:assay_id=>params[:assay_id]) -%>';
                }
              },
              'data': function (node) {
                if (node.id === '#') {
                  return { };
                }
                var d = { id: node.data.id };

                if (node.data.project_id) {
                  d.project_id = node.data.project_id
                }
                if (d) return d;
              },
              'error': function (error) {
                $j('#nels-dataset').hide();
                $j('#nels-content').show();
                $j('#nels-content').html(HandlebarsTemplates['nels/error'](error));
                if (error.responseJSON.url) {
                  window.location.href = error.responseJSON.url;
                }
              }
            }
          }
        })
      .on('activate_node.jstree', function (e, data) {
        if (data.node.data.is_subtype) {// subtype selected
          $j('#nels-dataset').html('').spinner('add').show();
          $j('#nels-content').hide();

          // For NeLS file browser, project and dataset names are needed
          // Find project parent node, which for subtype will always be the second position
          project_name = $j('#nels-tree').jstree().get_node(data.node.parents[1]).text

          // Save current state
          saveLastSelectedNode(data.node.data.project_id, data.node.data.dataset_id, data.node.data.id );


          //folder_path = sessionStorage.getItem('nels_folder_state');
          folder_path = `Storebioinfo/${project_name}/${data.node.data.dataset_name}/${data.node.data.text}/`;

          showSubtype(data.node.data.project_id, data.node.data.dataset_id, data.node.data.text, folder_path, '<%= params[:assay_id] %>');

        } else if (data.node.data.is_dataset) {// dataset selected
          $j('#nels-dataset').html('').spinner('add').show();
          $j('#nels-content').hide();

          // Save current state
            saveLastSelectedNode(data.node.data.project_id, data.node.data.id );


          $j.ajax({ url: '<%= dataset_nels_path(:assay_id=>params[:assay_id]) -%>',
            data: {
              project_id: data.node.data.project_id,
              dataset_id: data.node.data.id,
            },
            success: function (data) {
              $j('#nels-dataset').html(data).spinner('remove');
            }
          });
        } else {// Project selected
          $j('#nels-dataset').hide();
          $j('#nels-content').show();

            // Save current state
            saveLastSelectedNode(data.node.data.id);

          $j.ajax({ url: '<%= project_nels_path() -%>',
            data: {
              project: data.node.data,
            },
            success: function (data) {
              $j('#nels-content').html(data).spinner('remove');
            }
          });

        }
    }).on('load_node.jstree', function (e, data) {
      if (data.node.id === '#') { // The root node - list of projects
        if (!data.node.children.length) {
          $j('#nels-dataset').hide();
          $j('#nels-content').show();
          $j('#nels-content').html(HandlebarsTemplates['nels/no_projects']);
        } else {
          $j('#nels-dataset').hide();
          $j('#nels-content').show();
        }
      }
    }).on('select_node.jstree', function (e, data) {
        if (data.node.data.is_dataset) {// dataset selected
            // open this node and collapse siblings
            data.instance.open_node(data.node);
            let siblings = data.instance.get_node(data.node.parent).children;
            $j(siblings).each( function(index, node) {
                if (node != data.node.id) {
                    data.instance.close_node(node);
                }
            });
        }
        else {
            data.instance.open_node(data.node);
        }
    });
  });
</script>
