<%= javascript_include_tag :nels %>

<h1>
  <%= icon_tag('nels_logo') %>
  NeLS Browser
</h1>

<p id='user-info' class='subtle'>
  Logged in as <%= @user_info %>
</p>

<%= render partial:'browser-overview' %>

<div id="nels-browser">
  <div class="row">
        <%= button_link_to('Open in NeLS', 'nels_logo_small', Seek::Config.nels_sbi_url, options = { target: '_blank' }) %>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div id="nels-tree" style="min-height: 300px; border-right: 1px solid #ddd"></div>
    </div>
    <div class="col-sm-9">
      <div id="nels-dataset" style="display: none"></div>
      <div id="nels-content" style="display: none"></div>
    </div>
  </div>
</div>

<%= hidden_field_tag :assay_id, params[:assay_id] %>

<script type="text/javascript">

  $j(document).ready(function () {
      NelsTree.bindTree();
      NelsTree.reopenLastSelectedNode();
  });

</script>
