<%# TODO: add dictionary entry for title %>
<h1>New <%= @assay.title %> NeLS dataset</h1>

<%# <%= form_for[@assay, :nels, @dataset_assay_nels](@dataset_assay_nels, :multipart => true) do |f| %>
<%# <%= form_for(@assay, :multipart => true) do |f| %>
<%= form_tag({:action => :create_dataset}, :multipart => true) do -%> 
  <%# <%= render :partial => "dataset_form", :locals => { :f => f, :project => nil } -%>

   <div class="form-group">
    <label>Project <span class="required">*</span></label>
    <%= select_tag :project, options_for_select(@projects.collect{ |p| [p['name'], p['id']]}), class: 'form-control' %>
  </div>
   
  <div class="form-group">
    <label>Dataset type <span class="required">*</span></label>
    <%= select_tag :datasettype, options_for_select(@datasettypes), class: 'form-control' %>
  </div>

  <%# Based on projects/_form.html.erb %>
  <div class="form-group">
    <label>Name <span class="required">*</span></label>
    <%= text_field_tag :title, nil, :class=>"form-control"-%>
    <%# <input type="text" name="nels_name" class="form-control" id="nels_name"> %>
  </div>

  <div class="form-group">
    <label>Description <span class="required">*</span></label>
    <%= text_field_tag :description, nil, :class=>"form-control"-%>
  </div>


  <%= submit_tag "Create dataset", data: {disable_with: 'Creating...'}, :class => 'btn btn-primary' -%>
  or
  <%= cancel_button(assay_nels_path(@assay.id)) %>

<% end %>
