<%= render partial: 'general/item_title',locals: { item: @service, buttons_partial: 'services/buttons' } %>

<%= render partial: 'general/show_page_tab_definitions' %>

<div class="tab-content">
  <%= tab_pane('overview') do %>
    <div class="row">
      <div class="col-md-9 col-sm-8 box_about_actor">
        <%= item_description @service.description -%>
      </div>
      <div class="col-md-3 col-sm-4">
        <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @service } %>
      </div>
    </div>
  <% end %>

  <%= tab_pane('related-items') do %>
    <%= render partial: 'general/items_related_to', object: @service %>
  <% end %>
</div>
