<ul>
  <li>
    The size of the file is
    <% if @info[:file_size] %>
      expected to be <strong><%= number_to_human_size(@info[:file_size]) -%></strong>
    <% else %>
      <span class="none_text">unknown</span>
    <% end %>
  </li>

  <% if @info[:file_name] %>
    <li>The filename is <strong><%= @info[:file_name] %></strong></li>
  <% end %>
</ul>

<% if @info[:file_size] && @info[:file_size] > Seek::Config.hard_max_cachable_size %>
  <div class="alert alert-info" role="alert">
    This file exceeds <%= Seek::Config.application_name %>'s remote file size limit of
    <strong><%= number_to_human_size(Seek::Config.hard_max_cachable_size) -%></strong>
    and so only a link to the file will be stored.
  </div>
<% else %>
  <div>
    <p>
      You can either upload this file to <%= Seek::Config.application_name %> using this URL, or you can register a link to the file.
    </p>

    <p>
      By selecting the option below, a copy of the file will be made. This is recommended, and is equivalent to uploading
      a file from your disk. It also means that should the data behind the URL become unavailable, the data is still
      available from <%= Seek::Config.application_name %>.
      However, you should be sure that the copyright on the file allows you to do this.
    </p>

    <p>
      If you do not select the option below <%= Seek::Config.application_name %> will store only the URL and a copy will not be stored on <%= Seek::Config.application_name %>. You should do this if the file
      is large or you always want <%= Seek::Config.application_name %> to deliver the latest version.
    </p>

    <div class="checkbox" id="copy_option">
      <label>
        <%= check_box_tag "content_blobs[][make_local_copy]", "1", false, :id => "make_local_copy" %>
        <strong>Upload a copy</strong>
      </label>
    </div>
  </div>
<% end %>
