<%= f.error_messages -%>
<div>
  <div class="tab-pane fade active in" id="search-by-name-tab" role="tabpanel" aria-labelledby="search-by-name-tab">
    <%= render partial: 'institution_fields', locals: {f:f, institution:institution} %>
  </div>
</div>

<%= render partial: "assets/discussion_links_form", locals:{ resource:@institution} -%>

<%= f.submit(institution ? "Update" : "Create",data: { disable_with: (institution ? "Updating..." : "Creating...") },
             class:'btn btn-primary') -%> or
<%= cancel_button(institution ? institution_path(institution.id) : institutions_path) -%>

