<%= f.error_messages -%>

<div class="form-group">
  <%= f.label :name -%><br/>
  <%= f.text_field :title, :class=>"form-control" -%>
</div>

<div class="form-group">
  <%= f.label :web_page -%><br/>
  <%= f.text_field :web_page, :class=>"form-control" -%>
</div>

<div class="form-group">
  <%= f.label :address -%><br/>
  <%= f.text_area :address, :rows => 5, :class=>"form-control" -%>
</div>

<div class="form-group">
  <%= f.label :city -%><br/>
  <%= f.text_field :city, :class=>"form-control" -%>
</div>

<div class="form-group">
  <%= f.label :country -%><br/>
  <%= f.country_select :country, nil, { :include_blank => true }, :class=>"form-control" -%>
</div>

<%= f.submit(institution ? "Update" : "Create",:disable_with=>(institution ? "Updating..." : "Creating..."),
             :class => 'btn btn-primary') -%> or
<%= cancel_button(institution ? institution_path(institution.id) : institutions_path) -%>
