<%= f.error_messages -%>

<h2>Institution Details</h2>

<center>
	<div style="width: 95%;">
	  <p>
	    <%= f.label :name -%><br/>
	    <%= f.text_field :name, :style => "width: 350px;" -%>
	  </p>
	  <p>
	    <%= f.label :web_page -%><br/>
	    <%= f.text_field :web_page, :style => "width: 350px;" -%>
	  </p>
		
		<p style="margin-top: 1.5em;">
	    <%= f.label :address -%><br/>
	    <%= f.text_area :address, :style => "width: 350px;", :rows => 4 -%>
	  </p>
	  <p>
	    <%= f.label :city -%><br/>
	    <%= f.text_field :city, :style => "width: 350px;" -%>
	  </p>
	  
	  <p>
	    <%= f.label :country -%><br/>
	    <%= f.country_select :country, nil, {}, :style => "width: 350px;" -%>
	  </p>
	</div>
</center>

  
<%# show avatar selection only when the institution exists AND when current user is allowed to edit it -%>
<% if institution && (mine?(institution) || institution.can_be_edited_by?(current_user)) -%>
  <h2 style="margin-top: 2.5em;">Institution Picture</h2>
	<%= render :partial => "avatars/selector_hlist", :locals => { :avatar_for_instance => institution, :form_instance => f } -%>
<% end -%>

<p style="margin-top: 2em; text-align: center;">
  <%= f.submit(institution ? "Update" : "Create",:disable_with=>(institution ? "Updating..." : "Creating...")) -%>
	or <%= link_to 'Cancel', (institution ? institution_path(institution.id) : institutions_path) -%>
</p>