<%= f.error_messages -%>

<h2>Institution Details</h2>

<center>
	<div style="width: 95%;">
	  <p>
	    <%= f.label :name -%><br/>
	    <%= f.text_area :title, :class=>"title_text_entry" -%>
	  </p>
	  <p>
	    <%= f.label :web_page -%><br/>
	    <%= f.text_field :web_page, :class=>"text_entry" -%>
	  </p>

		<p style="margin-top: 1.5em;">
	    <%= f.label :address -%><br/>
	    <%= f.text_area :address, :class=>"large_text_entry" -%>
	  </p>
	  <p>
	    <%= f.label :city -%><br/>
	    <%= f.text_field :city, :class=>"text_entry" -%>
	  </p>

	  <p>
	    <%= f.label :country -%><br/>
	    <%= f.country_select :country, nil, {}, :class=>"text_entry" -%>
	  </p>
	</div>
</center>


<p style="margin-top: 2em; text-align: center;">
  <%= f.submit(institution ? "Update" : "Create",:disable_with=>(institution ? "Updating..." : "Creating...")) -%>
	or <%= link_to 'Cancel', (institution ? institution_path(institution.id) : institutions_path) -%>
</p>