<style>
  .label {
    font-size:100%;
    background-color: royalblue;
  }
</style>

<%= hidden_field_tag 'institution[id]', @institution.id %>

<div class="form-group" id="combined_typeahead">
  <div class="help-block">
    This is the <%= t('institution').downcase %> <strong>you</strong> are associated with, and will be used when defining your membership with the <%= t('project') %>.
  </div>
  <div class="help-block">
    Type the name of the <%= t('institution').downcase %>, or part of the name or the city it may be associated with. From the list of the results
    found, select the <%= t('institution').downcase %> you are looking for.
    <br>
  </div>
  <div class="help-block">
    Suggested <%= t('institution').pluralize.downcase %> are sourced from the local instance first, followed by the <%= link_to("#{image('ror_id', title: 'ROR', width: '30')} service".html_safe, 'https://ror.org/', target: '_blank') %> remotely.
    Whenever possible, select the <%= t('institution').downcase %> from the local list.
    If the desired <%= t('institution').downcase %> is not listed, continue typing its full name and select one from ROR.
  </div>

  <label class="control-label">Type the name of the <%= t('institution').downcase %> </label><span class="required">*</span>
  <%= link_to "Clear Fields", "#", id: "clear-fields", class: "link-primary small" %>
  <%= text_field_tag 'institution[title]', nil, placeholder: "Search...", class: "typeahead form-control" %>
</div>

<div class="form-group">
  <label class="control-label">ROR ID</label>    <%= link_to(image('ror_id', title: 'ROR', width: '30'), 'https://ror.org/', target: '_blank') %>
  <%= help_icon('The ROR ID (Research Organization Registry Identifier) is a unique 9-character alphanumeric code (e.g., 01f7bcy98).
   To find out more and get your ROR ID please visit https://ror.org/') -%>
  <%= text_field_tag 'institution[ror_id]', @institution.ror_id, class: "form-control" %>
  <%= render partial: 'institutions/ror_fetch_button' %>
</div>

<div class="form-group">
  <label class="control-label">Department</label>
  <%= text_field_tag('institution[department]', @institution.department, class:'form-control') %>
</div>

<div class="form-group">
  <label class="control-label">Website</label>
  <%= text_field_tag('institution[web_page]', @institution.web_page, class:'form-control') %>
</div>

<div class="form-group">
  <label class="control-label">City</label>
  <%= text_field_tag('institution[city]', @institution.city, class:'form-control') %>
</div>

<div class="form-group">
  <label class="control-label">Country</label>
  <%= country_select('institution','country',
                     { include_blank: 'Select a country' },value: @institution.nil? ? nil:CountryCodes.country(@institution.country), class: 'form-control') %>
</div>


