<div class="form-group">
  <label class="control-label">Type the name of the <%= t('institution') %> </label>
  <%= objects_input('institution[id]', [], typeahead:  {query_url: typeahead_institutions_path + '?query=%QUERY'}, limit:1) -%>
</div>

<%= hidden_field_tag 'institution[title]' %>

<div class="form-group" id='additional-institution-details' style='display:none;'>
  <label class="control-label">Website</label>
  <%= text_field_tag('institution[web_page]','',class:'form-control') %>

  <label class="control-label">Country</label>
  <%= country_select('institution','country',
                     { include_blank: 'Select a country' },
                     { class: 'form-control' }) %>
</div>

<script type='application/javascript'>
    $j(document).ready(function () {

        $j('input').on('itemAdded', function(event) {
            if (event.item.id=='0') {
                $j('#additional-institution-details').show();
            }
            else {
                $j('#additional-institution-details').hide();
            }
            $j('#institution_title').val(event.item.name);
        });

        $j('input').on('itemRemoved', function(event) {
            $j('#additional-institution-details').hide();
            $j('#institution_title').val('');
        });

    });
</script>

