<h1>Editing institution</h1>

<% form_for(@institution) do |f| %>
  <%= f.error_messages %>
  Name: <%=f.text_field :name %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @institution %> |
<%= link_to 'Back', institutions_path %>
