<h1>Listing institutions</h1>

<table>
  <tr>
  </tr>

<% for institution in @institutions %>
  <tr>
    <td><%= h institution.name %></td>
    <td><%= link_to 'Show', institution %></td>
    <td><%= link_to 'Edit', edit_institution_path(institution) %></td>
    <td><%= link_to 'Destroy', institution, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New institution', new_institution_path %>
