<%= index_title -%>
<ul class="sectionIcons">
    <% if project_manager_logged_in?-%>
        <li>
          <%= image_tag_for_key "new", new_institution_path(), "New Institution", nil, "New Institution" -%>
        </li>
    <% end -%>
</ul>

<% if index_with_facets?(controller_name)  %>
    <%= render :partial => "assets/filter_button", :locals => {:index_path => institutions_path} %>

    <% if params[:user_enable_facet] == 'true' %>
        <%= render :partial => "faceted_browsing/faceted_browsing", :object => @institutions %>
    <% else %>
        <%= render :partial => "assets/resources_alphabetical_paginated", :object => @institutions %>
    <% end %>
<% else %>
    <%= render :partial => "assets/resources_alphabetical_paginated", :object => @institutions %>
<% end %>