<% drag_id=model_to_drag_id @institution %>

<% truncate_length_for_boxes = 22 -%>


<% if mine?(@institution) || @institution.can_be_edited_by?(current_user) -%>
	<ul class="sectionIcons">
	  <li><%= icon('edit', edit_institution_path(@institution), "Edit Institution Details", nil, 'Edit Institution Details') -%></li>
	  <% if current_user.is_admin? -%>
		  <li><%= icon "destroy", institution_path(@institution), "Delete Institution", { :confirm => 'Are you sure?', :method => :delete }, "Delete Institution" -%>
		<% end -%>
	</ul>
<% end %>

<h1><%= h @institution.name -%></h1>

<div class="show_basic">
	
  <div class="main_content_left_box">
  	<div class="box_about_actor">
      <p class="web_page">
  			<label>Web page: </label><%= text_or_not_specified(@institution.web_page, :external_link=>true) -%>
      </p>
			
			<fieldset>
  			<legend>Location</legend>
				<p class="country">
		      <label>Country: </label><%= text_or_not_specified @institution.country, :flag=>true -%>
		    </p>
				
				<p class="city">
	        <label>City: </label><%= text_or_not_specified @institution.city %>
	      </p>
	      
	      <p class="address">
	        <label>Address: </label><%= text_or_not_specified @institution.address %>
	      </p>
  		</fieldset>
      
  	</div>
	</div>
	
	<div class="main_content_right_box">
		<%= render :partial => "layouts/contribution_section_box_avatar", :locals => { :object => @institution, :drag_id => drag_id } -%>
		
		<div class="contribution_section_box">
			<p class="heading">
				<%= help_icon("People working in #{@institution.name}.") -%>
			  People (<%= @institution.people.length -%>)
			</p>
			<%= render :partial => "layouts/contribution_section_box_item_list", 
                 :locals => { :collection => @institution.people,
                              :icon_type => "Person",
                              :truncate_to => truncate_length_for_boxes } -%>
		</div>
		
		<div class="contribution_section_box">
			<p class="heading">
				<%= help_icon("Projects that are undertaken by #{@institution.name}.") -%>
			  Projects (<%= @institution.projects.length -%>)
			</p>
			<%= render :partial => "layouts/contribution_section_box_item_list", 
                 :locals => { :collection => @institution.projects,
                              :icon_type => "Project",
                              :truncate_to => truncate_length_for_boxes } -%>
		</div>
	</div>
</div>
