<% drag_id=model_to_drag_id @institution %>

<% truncate_length_for_boxes = 22 -%>


<% if mine?(@institution) || @institution.try(:can_be_edited_by?, current_user) -%>
  <ul class="sectionIcons">
    <li><%= image_tag_for_key('edit', edit_institution_path(@institution), "Edit Institution Details", nil, 'Edit Institution Details') -%></li>
    <% if admin_logged_in? -%>
      <li>
        <%= image_tag_for_key "destroy", institution_path(@institution), "Delete Institution", { :confirm => 'Are you sure?', :method => :delete }, "Delete Institution" -%>
      </li>
    <% end -%>
  </ul>
<% end %>

<%= render :partial => "layouts/item_title",:locals=>{:item=>@institution} %>

<div class="show_basic">

  <div class="main_content_left_box_narrower">

    <div class="box_about_actor">
      <p class="web_page">
        <label>Web page: </label><%= text_or_not_specified(@institution.web_page, :external_link=>true) -%>
      </p>


      <p class="country">
        <label>Country: </label><%= text_or_not_specified @institution.country, :link_as_country => true -%>
      </p>

      <p class="city">
        <label>City: </label><%= text_or_not_specified @institution.city %>
      </p>

      <p class="address">
        <label>Address: </label><%= text_or_not_specified @institution.address, :address=>true %>
      </p>

    </div>

  </div>

  <div class="main_content_right_box_wider">
    <%= render :partial => "layouts/contribution_section_box_avatar", :locals => { :object => @institution, :drag_id => drag_id } -%>
  </div>

  <div style="clear:both;">
    <%= render :partial=>"layouts/items_related_to",:object => @institution %>
  </div>
</div>
