<% drag_id=model_to_drag_id @institution %>
<div class="show_basic">
  <div class="yui-gf">
    <div class="yui-u first">
      <div id="avatar_pane">
        <div id="<%= drag_id %>" class="asset">
          <%= image_tag "institution_64x64.png",:size=>"50x60", :alt=>@institution.name %>
        </div>
      </div>
      <%= favourite_drag_element drag_id %>
    </div>
    <div class="yui-u">
      <id id="name">
        <p><%= h @institution.name %></p>
      </id>
      
      
      <div id="country">
        <p><label>Country: </label><%= text_or_not_specified @institution.country, :flag=>true %></p>
      </div>
      
      
      
      <div id="web_page">
        <p><label>Web page: </label><%= text_or_not_specified(@institution.web_page, :external_link=>true)   %></p>
      </div>
      
      
      
      <div id="city">
        <p><label>City: </label><%= text_or_not_specified @institution.city %></p>
      </div>
      
      
      
      <div id="address">
        <p><label>Address: </label><%= text_or_not_specified @institution.address %></p>
      </div>
      
      <p>
        <%= render :partial=>'institution_people', :object=>@institution.people %>
      </p>
      <p>
        <%= render :partial=>'institution_projects', :object=>@institution.projects %>
      </p>
    </div>
  </div>
  
</div>


