<div>

  <table border="1" cellpadding="10">
    <tr>
      <th>Type</th>
      <th>Value</th>
      <% show_substance = false %>
      <% if treatments.detect {|t| !t.compound.nil?} %>
      <th>Substance</th>
      <% show_substance = true %>
      <% end %>
      <th>Incubation Time</th>
      <th>Protocol</th>
      <th>Comments</th>
    </tr>
    <% for treatment in treatments %>
    <tr>
      <td><%= text_or_not_specified(treatment.treatment_type.nil? ? nil : treatment.treatment_type.title.capitalize) %></td>
      <td><%= text_or_not_specified(treatment.value_with_unit) %></td>
      <% if show_substance %>
      <td><%= text_or_not_specified(treatment.compound.nil? ? nil : treatment.compound.name.capitalize)%></td>
      <% end %>
      <td><%= text_or_not_specified(treatment.incubation_time_with_unit) %></td>
      <td><%= text_or_not_specified(treatment.treatment_protocol) %></td>
      <td><%= text_or_not_specified(treatment.comments) %></td>
    </tr>
    <% end %>

  </table>

</div>