<% scope = @project || :admin %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<%= render partial: 'general/page_title', locals: { title: "#{@project ? t('project').capitalize : 'SEEK'} Dashboard" } %>

<div class="row">
  <div class="col-sm-4">
    <%= panel('Most viewed assets', id: 'most_viewed') do %>
      <%= render partial: 'dashboard/asset_activity', locals: { url: polymorphic_path([:asset_activity, scope, :stats], activity: 'show') } %>
    <% end %>
    <%= panel('Most downloaded assets', id: 'most_downloaded') do %>
      <%= render partial: 'dashboard/asset_activity', locals: { url: polymorphic_path([:asset_activity, scope, :stats], activity: 'download'), type_options: Seek::Util.asset_types.sort_by { |t| t.name }  } %>
    <% end %>
    <%= panel('Most active contributors', id: 'active_contributors') do %>
      <%= render partial: 'dashboard/activity', locals: { url: polymorphic_path([:contributors, scope, :stats]) } %>
    <% end %>
  </div>
  <div class="col-sm-8">
    <div>
      <%= panel('Contributions', id: 'contributions') do %>
        <%= render partial: 'dashboard/contributions', locals: { url: polymorphic_path([:contributions, scope, :stats]) } %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= panel('Contributions', id: 'published_assets') do %>
          <%= render partial: 'dashboard/published_assets' %>
        <% end %>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</div>

<script>
    $j(document).ready(function () {
        $j('[data-dashboard-field="period-start"], [data-dashboard-field="period-end"]').each(function () {
            $j(this).datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });

        $j('[data-dashboard-field="period-select"]').change(function () {
            var wrapper = $j(this).parent().parent();
            if ($j(this).val() === 'custom') {
                $j('.custom-range-field', wrapper).fadeIn();
            } else {
                $j('.custom-range-field', wrapper).fadeOut();
                $j('[data-dashboard-field="period-start"]', wrapper).val($j(this).val());
                $j('[data-dashboard-field="period-end"]', wrapper).val(new Date().toISOString().substr(0,10));
            }
        });

        $j('[data-dashboard-field="period-select"]').change();

        $j('.most-activity').each(function () {
            var container = $j(this);
            var getStats = function () {
                var data = {};
                data.start_date  = container.find('[data-dashboard-field="period-start"]').val();
                data.end_date = container.find('[data-dashboard-field="period-end"]').val();
                var typeField = container.find('[data-dashboard-field="type"]');
                if (typeField.length && typeField.val() !== 'all') {
                  data.type = typeField.val();
                }

                container.spinner('add');

                $j.ajax({ url: container.data('statsUrl'),
                    data: data,
                    success: function (resp) {
                        var list = container.find('ul.mini-resource-list');
                        list.html('');
                        resp.forEach(function (activity) {
                            list.append(HandlebarsTemplates['dashboard/resource_listing'](activity));
                        });
                    },
                    error: function () {
                        container.html('<div class="alert alert-danger">An error occurred whilst fetching stats.</div>');
                    },
                    complete: function () {
                        container.spinner('remove');
                    }
                });
            };

            $j('[data-dashboard-field="period-select"]', container).change(function () {
                if ($j(this).val() !== 'custom') {
                    getStats();
                }
            });
            $j('[data-dashboard-field="type"]', container).change(getStats);
            $j('[data-dashboard-period-btn]', container).click(function () { getStats(); return false; });
            $j('[data-dashboard-field="period-select"]', container).change(); // triggers initial load
        });

    });
</script>
