<% scope = @scope %>

<script>
    <%# A simple object to hold a list of functions for updating (refresh) each of the dashboard panels,
          and a function to execute them all when e.g. the time period is changed. %>
    var Dashboard = {
        updateFunctions: [],
        updateAll: function () {
            this.updateFunctions.forEach(setTimeout);
        }
    };
</script>

<div class="row">
  <div class="col-sm-8">
    <%= render partial: 'general/page_title', locals: { title: "#{scope == :admin ? Seek::Config.instance_name : t(scope.class.name.downcase).capitalize} Dashboard" } %>
  </div>
  <div class="col-sm-4">
    <div id="dashboard-controls" class="form-inline text-right">
      <%= render partial: 'dashboard/time_controls' -%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <%= render partial: 'dashboard/asset_activity', locals: { title: 'Most viewed assets',
                                                              url: polymorphic_path([:asset_activity, scope, :stats], activity: 'show') } %>
    <%= render partial: 'dashboard/asset_activity', locals: { title: 'Most downloaded assets',
                                                              url: polymorphic_path([:asset_activity, scope, :stats], activity: 'download'),
                                                              type_options: Seek::Util.asset_types.sort_by { |t| t.name }  } %>
    <%= render partial: 'dashboard/activity', locals: { title: "Most active #{t('contributor').pluralize}", url: polymorphic_path([:contributors, scope, :stats]) } %>
    <%= help_link(:dashboard, link_text:'Dashboard guide',include_icon:true) %>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <%= render partial: 'dashboard/contributions', locals: { url: polymorphic_path([:contributions, scope, :stats]) } %>
      </div>
      <div class="col-sm-6">
        <%= render partial: 'dashboard/asset_accessibility', locals: {url: polymorphic_path([:asset_accessibility, scope, :stats]) } %>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <span style="float:right">
    <%= button_link_to "Refresh", 'refresh', polymorphic_path([:clear_cache, scope, :stats]), :method => :post %>
  </span>
</div>

<script>
    $j(document).ready(function () {
        <%# Behaviour for the "Most viewed/downloaded" and "Most active submitter" lists %>
        $j('.most-activity').each(function () {
            var container = $j(this);
            var body = $j('.panel-body', container);

            <%# Function to fetch/update the stats via AJAX and render using handlebars %>
            var getStats = function () {
                var data = {};
                data.start_date  = $j('#dashboard-controls [data-dashboard-field="period-start"]').val();
                data.end_date = $j('#dashboard-controls [data-dashboard-field="period-end"]').val();
                var typeField = container.find('[data-dashboard-field="type"]');
                if (typeField.length && typeField.val() !== 'all') {
                    data.type = typeField.val();
                }

                body.addClass('loading');

                $j.ajax({ url: container.data('statsUrl'),
                    data: data,
                    success: function (resp) {
                        var list = container.find('ul.mini-resource-list');
                        list.html('');
                        resp.forEach(function (activity) {
                            list.append(HandlebarsTemplates['dashboard/resource_listing'](activity));
                        });
                    },
                    error: function () {
                        body.html('<div class="alert alert-danger">An error occurred whilst fetching stats.</div>');
                    },
                    complete: function () {
                        body.removeClass('loading');
                    }
                });
            };

            <%# Register the update function %>
            Dashboard.updateFunctions.push(getStats);

            $j('[data-dashboard-field="type"]', container).change(getStats);
        });

        $j('[data-dashboard-field="period-start"], [data-dashboard-field="period-end"]').each(function () {
            $j(this).datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });

        $j('[data-dashboard-field="period-select"]').change(function () {
            var wrapper = $j(this).parent().parent();
            if ($j(this).val() === 'custom') {
                $j('.custom-range-field', wrapper).fadeIn();
            } else {
                $j('.custom-range-field', wrapper).fadeOut();
                $j('[data-dashboard-field="period-start"]', wrapper).val($j(this).val());
                $j('[data-dashboard-field="period-end"]', wrapper).val(new Date().toISOString().substr(0,10));
                Dashboard.updateAll();
            }
        });

        $j('[data-dashboard-period-btn]').click(function () { Dashboard.updateAll(); return false; });

        <%# Register update functions that were defined in some partials %>
        Dashboard.updateFunctions.push(getContributionStats);
        Dashboard.updateFunctions.push(getAccessibilityStats);

        <%# Trigger a "change" event on the period selector  as a hacky way to load all the panels when the page is first loaded %>
        $j('[data-dashboard-field="period-select"]').change();
    });
</script>
