<li class="association-list-item">
    <input type="hidden" name="{{fieldName}}[][bio_tools_id]" value="{{id}}"/>
    {{title}}

    <input type="hidden" name="{{fieldName}}[][name]" value="{{title}}"/>
    <a class="remove-association clickable" title="Remove data">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
</li>