<li class="association-list-item">
    <input type="hidden" name="{{fieldName}}[][asset_id]" value="{{id}}"/>
    {{title}}
    {{#if direction}}
        <input type="hidden" name="{{fieldName}}[][direction]" value="{{direction.value}}"/>
    {{/if}}
    {{#if relationship_type}}
        <input type="hidden" name="{{fieldName}}[][relationship_type_id]" value="{{relationship_type.value}}"/>
        <small>({{relationship_type.text}})</small>
    {{/if}}
    <a class="remove-association clickable" title="Remove data">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
</li>
