<li class="association-list-item">
    <input type="hidden" name="{{fieldName}}[][asset_id]" value="{{id}}"/>
    <input type="hidden" name="{{fieldName}}[][direction]" value="{{direction.value}}"/>
    {{title}}
    <a class="remove-association clickable" title="Remove sample">&times;</a>
</li>
