<p>
  <b>First name:</b>
  <%=h @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @profile.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @profile.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @profile.phone %>
</p>

<p>
  <b>Skype name:</b>
  <%=h @profile.skype_name %>
</p>

<p>
  <b>Web page:</b>
  <%=h @profile.web_page %>
</p>

<p>
  <b>Person:</b>
  <%=h @profile.person_id %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
