<% sample_type = item %>

<% if sample_type.samples.any? %>
    <%= button_link_to("View samples", 'view_samples', sample_type_samples_path(sample_type)) %>
<% end %>

<% if Sample.can_create? %>
    <%= button_link_to("Create sample", 'new', new_sample_path(sample_type_id:sample_type.id)) %>
<% end %>

<%= admin_dropdown do %>

    <% if sample_type.can_edit? -%>
        <li><%= image_tag_for_key('edit', edit_sample_type_path(sample_type), nil, nil, "Edit Sample Type") -%></li>
    <% end -%>
    <% if sample_type.can_delete? %>
        <%= delete_icon(sample_type, current_user) %>
    <% end %>

<% end %>
