<%= form_for(@sample_type) do |f| %>
  <% if @sample_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample_type.errors.count, "error") %> prohibited this sample_type from being saved:</h2>

      <ul>
      <% @sample_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

    <%= f.fields_for :sample_attributes do |sample_attribute_fields| %>
          Title: <%= sample_attribute_fields.text_field :title %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
