<%= form_tag({action: :create_from_template},:multipart => true) do |f| %>

    <%= error_messages_for :sample_type -%>

    <div class="form-group">
      <label>Title</label>
      <%= text_field_tag 'sample_type[title]', @sample_type.title, :class=>"form-control", :placeholder => 'Sample type name' -%>
    </div>

    <div class="form-group">
      <label>Description</label>
      <%= text_area_tag 'sample_type[description]',@sample_type.description, :class=>"form-control", :rows => 5 -%>
    </div>

    <div class="form-group">
      <label>File to upload<span class="required">*</span></label>
      <%= file_field_tag "content_blobs[][data]", { "data-batch-upload" => false } -%>
    </div>


    <p class="actions">
      <%= submit_tag (@sample_type.new_record? ? 'Create' : 'Update'), :class => 'btn btn-primary' %>
      or
      <%= cancel_button(@sample_type.new_record? ? sample_types_path : sample_type_path(@sample_type)) %>
    </p>

<% end %>