<% sample_attribute ||= nil %>
<% index ||= 'replace-me' %>
<% id = sample_attribute ? sample_attribute.id : '' %>
<% title = sample_attribute ? sample_attribute.title : '' %>
<% description = sample_attribute ? sample_attribute.description : '' %>
<% pid = sample_attribute ? sample_attribute.pid : '' %>
<% pos = sample_attribute ? sample_attribute.pos : '' %>
<% required = sample_attribute ? sample_attribute.required : false %>
<% is_title = sample_attribute ? sample_attribute.is_title : false %>
<% attribute_type_id = sample_attribute ? sample_attribute.sample_attribute_type_id : nil %>
<% sample_controlled_vocab_id = sample_attribute ? sample_attribute.sample_controlled_vocab_id : nil %>
<% linked_sample_type_id = sample_attribute ? sample_attribute.linked_sample_type_id : nil %>
<% unit_id = sample_attribute ? sample_attribute.unit_id : nil %>
<% template_column_index = sample_attribute ? sample_attribute.template_column_index : nil %>
<% field_name_prefix = "sample_type[sample_attributes_attributes][#{index}]" %>
<% constraints = sample_type.editing_constraints %>
<% allow_required = constraints.allow_required?(sample_attribute) %>
<% allow_attribute_removal = constraints.allow_attribute_removal?(sample_attribute)  %>
<% allow_type_change = constraints.allow_type_change?(sample_attribute) %>
<% allow_name_change = constraints.allow_name_change?(sample_attribute) %>
<% seek_sample_multi = sample_attribute.try(:seek_sample_multi?) %>
<% link_to_self = sample_attribute && sample_attribute.deferred_link_to_self %>
<tr class="sample-attribute <%= 'success' if sample_attribute.nil? -%>" data-index="<%= index-%>">
  <th scope="row" class="attribute-position">
    <div class="btn btn-info attribute-handle">
      <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      <span class="attribute-position-label"><%= pos %></span>
    </div>
    <%= hidden_field_tag "#{field_name_prefix}[pos]", pos, readonly: true %>
  </th>
  <td>

    <%= text_field_tag "#{field_name_prefix}[title]", title, class: 'form-control',
                       placeholder: 'Attribute name',disabled: !allow_name_change %>
  </td>

  <td class="text-center">
    <div class="checkbox-inline">
      <%= hidden_field_tag "#{field_name_prefix}[required]", '0' %>
      <%= check_box_tag "#{field_name_prefix}[required]", '1', required,disabled: !allow_required %>
    </div>
  </td>
  <td class="text-center">
    <div class="checkbox-inline">
      <%= hidden_field_tag "#{field_name_prefix}[is_title]", '0' %>
      <%= check_box_tag "#{field_name_prefix}[is_title]", '1', is_title, class:'sample-type-is-title',disabled: seek_sample_multi || !allow_required %>
    </div>
  </td>
  <td>
    <%= select_tag "#{field_name_prefix}[sample_attribute_type_id]",
                   options_for_select(SampleAttributeType.all.sort_by { |t| t.default? ? 0 : 1 }.map { |t| [t.title, t.id,{'data-is-cv'=>t.controlled_vocab?, 'data-is-seek-sample'=>t.seek_sample? || t.seek_sample_multi? }] }, attribute_type_id),
                   class: 'form-control sample-type-attribute-type',
                   disabled: !allow_type_change %>
    <div class='controlled-vocab-block' style="<%= 'display:none;' unless sample_attribute.try(:controlled_vocab?) %>">
      <br/>
      <%= select_tag "#{field_name_prefix}[sample_controlled_vocab_id]",
                     options_for_select(SampleControlledVocab.all.map { |t| [t.title, t.id, {'data-editable'=>t.can_edit?}] },
                                        sample_controlled_vocab_id),
                     include_blank: true,
                     class: 'form-control controlled-vocab-selection',
                     disabled: !allow_type_change %>
      <% if allow_type_change %>
        <%= button_link_to('Edit', 'edit', '#', class:'cv-edit-button', disabled: true, target: :_blank) %>        
        <%= create_sample_controlled_vocab_modal_button  %>
      <% end %>
      <%= button_link_to('View current', 'show', '#', class:'cv-show-button', disabled: true, target: :_blank) %>
      <%= button_link_to('Browse', 'index', sample_controlled_vocabs_path, target: :_blank) %>

    </div>
    <div class='sample-type-block' style="<%= 'display:none;' unless sample_attribute.try(:seek_sample?) || seek_sample_multi %>">
      <br/>
      <%
        options = sample_type_grouped_options
        #if a new record, then include the option to link to itself
        if sample_type.new_record?
          options = [['Special',[['<This Sample Type>','self']]]] + options
        end
      %>
      <%= select_tag "#{field_name_prefix}[linked_sample_type_id]",
                     grouped_options_for_select(options,
                                        link_to_self ? 'self' : linked_sample_type_id),
                     include_blank: true,
                     class: 'form-control linked-sample-type-selection' %>
    </div>
  </td>
  <td>
    <%= text_area_tag "#{field_name_prefix}[description]", description, class: 'form-control',
                      style:'height:4em;width:20em;', placeholder: 'Description' %>
  </td>
  <td>
    <%= text_field_tag "#{field_name_prefix}[pid]", pid, class: 'form-control',
                       placeholder: 'Identifier URI' %>
  </td>
  <td>
    <%= select_tag "#{field_name_prefix}[unit_id]",
                   options_for_select(Unit.order(:order).map { |u| ["#{u.symbol} #{u.title}", "#{u.id}"] },
                                      unit_id),
                   include_blank: true,
                   class: 'form-control',
                   disabled: !allow_type_change %>
  </td>

  <td>
    <% if allow_attribute_removal %>
      <%= hidden_field_tag "#{field_name_prefix}[_destroy]", '0', autocomplete: 'off' %>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-danger">
          Remove
          <%= check_box_tag "#{field_name_prefix}[_destroy]", '1', false,
                            class: 'destroy-attribute', autocomplete: 'off',id:"#{field_name_prefix}-checkbox[_destroy]" %>
        </label>
      </div>
    <% else %>
      <div>&nbsp;</div>
    <% end %>
  </td>


  <% if sample_attribute %>
      <%= hidden_field_tag("#{field_name_prefix}[id]", id) %>
      <%= hidden_field_tag("#{field_name_prefix}[template_column_index]", template_column_index) %>

  <% end %>
</tr>