<% sample_attribute ||= nil %>
<% index ||= 'replace-me' %>
<% id = sample_attribute ? sample_attribute.id : '' %>
<% title = sample_attribute ? sample_attribute.title : '' %>
<% pos = sample_attribute ? sample_attribute.pos : '' %>
<% required = sample_attribute ? sample_attribute.required : false %>
<% is_title = sample_attribute ? sample_attribute.is_title : false %>
<% attribute_type_id = sample_attribute ? sample_attribute.sample_attribute_type_id : nil %>
<% sample_controlled_vocab_id = sample_attribute ? sample_attribute.sample_controlled_vocab_id : nil %>
<% unit_id = sample_attribute ? sample_attribute.unit_id : nil %>
<% template_column_index = sample_attribute ? sample_attribute.template_column_index : nil %>
<% field_name_prefix = "sample_type[sample_attributes_attributes][#{index}]" %>

<tr class="sample-attribute <%= 'success' if sample_attribute.nil? -%>" data-index="<%= index-%>">
  <th scope="row" class="attribute-position">
    <div class="btn btn-info attribute-handle">
      <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      <span class="attribute-position-label"><%= pos %></span>
    </div>
    <%= hidden_field_tag "#{field_name_prefix}[pos]", pos, :readonly => true %>
  </th>
  <td>
    <%= text_field_tag "#{field_name_prefix}[title]", title, :class => 'form-control',
                       :placeholder => 'Attribute name' %>
  </td>
  <td class="text-center">
    <div class="checkbox-inline">
      <%= hidden_field_tag "#{field_name_prefix}[required]", '0' %>
      <%= check_box_tag "#{field_name_prefix}[required]", '1', required %>
    </div>
  </td>
  <td class="text-center">
    <div class="checkbox-inline">
      <%= hidden_field_tag "#{field_name_prefix}[is_title]", '0' %>
      <%= check_box_tag "#{field_name_prefix}[is_title]", '1', is_title, class:'sample-type-is-title' %>
    </div>
  </td>
  <td>
    <%= select_tag "#{field_name_prefix}[sample_attribute_type_id]",
                   options_for_select(SampleAttributeType.all.sort_by { |t| t.default? ? 0 : 1 }.map { |t| [t.title, t.id,{'data-is-cv'=>t.is_controlled_vocab? }] },
                                      attribute_type_id),
                   :class => 'form-control sample-type-attribute-type'%>
    <div class='controlled-vocab-block' style="<%= 'display:none;' if sample_controlled_vocab_id.nil? %>">
    <br/>
    <%= select_tag "#{field_name_prefix}[sample_controlled_vocab_id]",
                   options_for_select(SampleControlledVocab.all.map { |t| [t.title, t.id] },
                                      sample_controlled_vocab_id),
                   :include_blank => true,
                   :class => 'form-control'%>
    </div>
  </td>
  <td>
    <%= select_tag "#{field_name_prefix}[unit_id]",
                   options_for_select(Unit.all.map { |u| ["#{u.symbol} #{u.title}", "#{u.id}"] },
                                      unit_id),
                   :include_blank => true,
                   :class => 'form-control'%>
  </td>

  <td>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-danger">
        Remove
        <%= hidden_field_tag "#{field_name_prefix}[_destroy]", '0', :autocomplete => 'off' %>
        <%= check_box_tag "#{field_name_prefix}[_destroy]", '1', false,
                          :class => 'destroy-attribute', :autocomplete => 'off' %>
      </label>
    </div>

  </td>


  <% if sample_attribute %>
      <%= hidden_field_tag("#{field_name_prefix}[id]", id) %>
      <%= hidden_field_tag("#{field_name_prefix}[template_column_index]", template_column_index) %>

  <% end %>
</tr>