<% tab = @tab || 'manual' %>

<h1>New Sample Type</h1>

<p>
  Sample Types can be defined manually through the form below,
  or semi-automatically by uploading a spreadsheet to be used as a template.
</p>

<div>
  <ul id="sample-type-tabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" <%= 'class="active"'.html_safe if tab == 'manual' -%>>
      <a href="#manual" aria-controls="from-template" role="tab" data-toggle="tab">Form</a>
    </li>
    <li role="presentation" <%= 'class="active"'.html_safe if tab == 'from-template' -%>>
      <a href="#from-template" aria-controls="manual" role="tab" data-toggle="tab">Use spreadsheet template</a>
    </li>
  </ul>

  <%= render partial: 'sample_types/form', locals: { tab: tab } %>
</div>

<script>
  $j(document).ready(function () {
    // A function to switch the form action depending on which tab is selected.
    // Also disables form elements in the hidden tab.
    var switchFormTarget = function () {
      var form = $j('#new_sample_type');
      var id = $j('.tab-pane.active', form)[0].id;
      $j('.tab-pane :input', form).attr('disabled', true);
      $j('.tab-pane.active :input', form).attr('disabled', false);

      if (id == 'from-template') {
        form[0].action = '<%= create_from_template_sample_types_path -%>';
      } else {
        form[0].action = '<%= sample_types_path -%>';
      }
    };

    $j('#sample-type-tabs a[data-toggle="tab"]').on('shown.bs.tab', switchFormTarget);

    switchFormTarget();
  });
</script>
