

<%= render :partial => "general/item_title", :locals => {:item => @sample_type,:buttons_partial => 'buttons'} %>

<%= item_description @sample_type.description -%>

<h2>Template</h2>
<%= render :partial=>"template" %>

<h2>Attributes</h2>

<ul>
<% @sample_type.sample_attributes.each do |attribute| %>
<li>
  <%= sample_attribute_details(attribute) %>
</li>


<% end %>
</ul>

<%= render :partial=>"general/items_related_to",:object => @sample_type %>