

<%= render :partial => "general/item_title", :locals => {:item => @sample_type,:buttons_partial => 'buttons'} %>

<%= item_description h(@sample_type.description) -%>

<h2>Template</h2>
<%= render :partial=>"template" %>

<h2>Attributes</h2>


<%=
  sample_attribute_details_table(@sample_type.sample_attributes)
%>


<h2>Tags</h2>
<%= sample_type_tags_list(@sample_type) %>

<%= render :partial=>"general/items_related_to",:object => @sample_type %>