

<%= render :partial => "general/item_title", :locals => {:item => @sample_type,:buttons_partial => 'buttons'} %>

<%= item_description @sample_type.description -%>

<% if @sample_type.template %>

    <h2>Template</h2>

    <%= @sample_type.template.original_filename %> -    <%= link_to 'Download',download_sample_type_content_blob_path(@sample_type,@sample_type.template)  %>

<% end %>

<h2>Attributes</h2>

<ul>
<% @sample_type.sample_attributes.each do |attribute| %>
<li>
  <%= sample_attribute_details(attribute) %>
</li>


<% end %>
</ul>

<%= render :partial=>"general/items_related_to",:object => @sample_type %>