<div id="buttons">
  <ul class="sectionIcons">
    <% if sweep.can_manage? && !current_user.guest? -%>
        <li><%= image_tag_for_key('manage', main_app.edit_sweep_path(sweep), nil, nil, "Manage sweep") -%></li>
    <% end -%>
    <% if sweep.runs.all? { |r| r.can_delete? } -%>
        <% if sweep.complete?  %>
            <% unless current_user.guest? %>
                <li>
                  <%= link_to sweep_path(sweep), :method => :delete, data: { confirm: 'Are you sure?' } do %>
                      <span class="icon"><%= image('destroy') -%>Delete sweep</span>
                  <% end %>
                </li>
            <% end %>
        <% else %>
            <li>
              <%= link_to cancel_sweep_path(sweep), :method => :put, data: { confirm: 'Are you sure?' } do %>
                  <span class="icon"><%= image('destroy') -%>Cancel sweep</span>
              <% end %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>
