<div class="run_input">
  <h3>
    <%= workflow_input[:name] %>
    <% unless workflow_input[:description].blank? %>
        <%= help_icon(workflow_input[:description]) -%>
    <% end %>
  </h3>

  <%= form.fields_for :inputs, TavernaPlayer::RunPort::Input.new do |input_fields| %>
      <%= input_fields.hidden_field :name, :value => workflow_input[:name] %>
      <div class="text_input">
        <%= input_fields.text_area :value, :value => nil, :rows => 2, :cols => 40, :placeholder => "Enter input here..." %>
      </div>
      <div class="file_input">
        Or select a file...<br/>
        <%= input_fields.file_field :file %>
      </div>
      <div style="clear:both"></div>
  <% end %>
</div>
