<%= stylesheet_link_tag('jquery-ui-1.8.14.custom') %>
<%= javascript_include_tag 'jquery-1.5.1.min.js','jquery-ui-1.8.14.custom.min.js' %>

<script type="text/javascript">
    jQuery.noConflict();
    var $j = jQuery;

    // Select/unselect all checkboxes in the sweep results table
    $j(document).ready(function () {
        $j('#chk-select-all').click(function () {
            $j('.chk-select').prop('checked', true);
            $j('.chk-select-row').prop('checked', true);
        });

        $j('#chk-unselect-all').click(function () {
            $j('.chk-select').prop('checked', false);
            $j('.chk-select-row').prop('checked', false);
        });

        // This enables the user to select/unselect all checkboxes in a row that
        // belong to a specific output port by clicking on a special checkbox with
        // class='chk-select-row' and the name=<name_of_the_output_port>
        $j('.chk-select-row').click(function () {
            if ($j(this).is(":checked")) {
                $j('.chk-select').filter("[name*='" + $j(this).attr('name') + "']").prop('checked', true);
            } else {
                $j('.chk-select').filter("[name*='" + $j(this).attr('name') + "']").prop('checked', false);
            }
        });
    });
</script>

<div id="sweep_results">
  <div class="scroll_box">
    <%= form_tag(download_results_sweep_path(@sweep), :method => :post) do %>
        <div style="margin: 10px 0 10px 0; text-align: right;">
          <%= content_tag :button, :type => :button, :id => :'chk-select-all' do %>
              Select all
          <% end %>
          <%= content_tag :button, :type => :button, :id => :'chk-unselect-all' do %>
              Unselect all
          <% end %>
        </div>
        <table cellpadding="0" cellspacing="0" class="display" id="sweep_results_table" style="">
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Output</th>
            <% @sweep.runs.each do |run| %>
                <th><%= run.name %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <%= render :partial => 'results_table_body', :locals => {:sweep => @sweep} %>
          </tbody>
        </table>

        <!--#Button to download all results for this port across all runs&ndash;&gt;-->
        <div style="margin-top: 20px; text-align: right;">
          <%= submit_tag("Download selected values", :name => "download_results") %>
        </div>
    <% end %>

  </div>
</div>

<!-- Hidden div for the contents of the result value being viewed that will appear as
a modal dialog and will be populated via an AJAX call. -->
<div style="display:none;">
  <div>
    <div id="modal-dialog">
      <div class="modal-header">
        <h3 class="modal-heading">Result value view</h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
