<div class="breadcrumbs">
  <a href="/">Home</a> &gt;
  <%= link_to @sweep.workflow.category.name, main_app.workflows_path(:category_id => @sweep.workflow.category) -%> &gt;
  <%= link_to @sweep.executed_workflow.title, main_app.workflow_path(@sweep.workflow, :version => @sweep.workflow_version) -%> &gt;
  <%= link_to @sweep.name, main_app.sweep_path(@sweep) -%> &gt;
  Manage
</div>


<div class="contribution_title">
  <h1>Manage sweep: <%= @sweep.name %></h1>
</div>


<div class="show_basic">
  <%= form_for @sweep do |f| %>
    <div class="asset_form">
      <%= error_messages_for :run -%>
      <p>
        <b>Name:</b>
        <%= f.text_field :name, :size => 80 -%>
      </p>

      <p>
        <%= render :seek_partial => "sharing/form" -%>
      </p>

      <p>
        <%= submit_tag 'Save' -%>
        or
        <%= cancel_button(main_app.sweep_path(@sweep)) -%>
      </p>
    </div>
  <% end %>
</div>
