<%
   workflow_title = TavernaPlayer.workflow_proxy.title(@workflow) || ""
   workflow_inputs = TavernaPlayer.workflow_proxy.inputs(@workflow)
   params[:sweep_length] ||= '3'
   data_inputs = workflow_inputs.select { |input| (input.port_type.name == WorkflowInputPortType::DATA) }
   data_input_names = data_inputs.collect { |input| input.name }
   parameter_inputs = workflow_inputs.select { |input| input.port_type.name == WorkflowInputPortType::PARAMETER }
   params[:sweep_data_input_name] ||= data_inputs[0].name # Data input port to iterate over in a sweep
   sweepable_input = data_inputs.detect{|input| input.name == params[:sweep_data_input_name]}
%>
<script type="text/javascript">
  var inputs = <%= input_json_hash(data_inputs) -%>;
  var iteration_template = "<%= escape_javascript render('iteration_template') -%>";
  var input_template = "<%= escape_javascript render('input_template') -%>";
</script>

<div class="breadcrumbs">
  <a href="/">Home</a> &gt;
  <%= link_to @workflow.category.name, main_app.workflows_path(:category_id => @workflow.category) -%> &gt;
  <%= link_to @workflow.title, main_app.workflow_path(@workflow) -%> &gt;
  <%= link_to "#{@run.name} &gt;", taverna_player.run_path(@run) unless @run.blank?-%>
  New sweep
</div>

<div class="contribution_title">
  <h1><%= 'New Data Sweep for Workflow: ' + workflow_title -%></h1>
</div>

<div class="show_basic">
  <%= error_messages_for :sweep -%>

  <%= form_for @sweep, :html => {:multipart => true} do |sweep_form| %>
    <%= sweep_form.hidden_field :workflow_id, :value => @workflow.id %>
    <%= hidden_field_tag :run_id, params[:run_id] %>
    <%# f.hidden_field :workflow_version, :value => @workflow_version.version %>

    <div>
      <% if !@run.blank? %>
        <div class="box_standout curved">
          <p>
            <%= label_tag 'Sweep based on run:' %> <%= link_to(@run.name, @run) %>
          </p>
        </div>
      <% end %>
      <p>
        <%= sweep_form.label :name, "Sweep name:" %>
        <%= sweep_form.text_field :name, :value => "#{workflow_title} sweep", :size => 80 %><br/>
      </p>

      <div>
        <%= label_tag "Data inputs to iterate over:" %>
        <ul class="sweep_input_selection">
          <% data_input_names.each_with_index do |input, index| %>
            <li>
              <label>
                <%= check_box_tag(nil, input, (index == 0), :class => "sweep_inputs") -%> <%= input -%>
              </label>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="fold">
      <div class="foldTitle">
        Data
      </div>
      <div class="foldContent">
        <div id="sweep_data">
          <%# Iterations get added dynamically with javascript %>
        </div>
        <p>
          <%= button_tag('Add Iteration', :onclick => "add_iteration(); return false;") %>
        </p>
      </div>
    </div>

    <!--Another form for all other input ports which values are fixed (i.e. shared over all sweep iterations). -->
    <!--These will be copied over to each individual run/iteration of a sweep as input data values for those ports. -->
    <!--They form "special shared values" that needs to be removed from a sweep model after the input data is copied.-->
    <%= sweep_form.fields_for :shared_input_values_for_all_runs, TavernaPlayer::Run.new do |shared_input_values| %>
      <div class="fold">
        <div class="foldTitle">
          Fixed Data
        </div>
        <div class="foldContent" id="fixed_data">
          <%# skip first input because its the sweep input by default %>
          <% data_inputs[1..-1].each do |input| %>
            <%= render :partial => 'taverna_player/runs/input_form', :locals => {:input => input, :form => shared_input_values} %>
          <% end %>
        </div>
      </div>

      <div class="fold">
        <div class="foldTitle">
          Parameters
        </div>
        <div class="foldContent" id="parameters">
          <% unless parameter_inputs.blank? %>
            <% parameter_inputs.each do |input| %>
              <%= render :partial => 'taverna_player/runs/input_form', :locals => {:input => input, :form => shared_input_values} %>
            <% end %>
          <% else %>
            <p class="none_text" style="margin-left:20px;">None</p>
          <% end %>
        </div>
      </div>
    <% end %>
    <br/>

    <div style="float: left;">
      <%= sweep_form.submit 'Start sweep', :id => "submit_button" %>
    </div>
  <% end %>

  <%= javascript_include_tag 'jquery-1.5.1.min.js' %>
  <script type="text/javascript">
    $j = jQuery.noConflict();
  </script>
  <%= javascript_include_tag 'sweeps.js' %>
</div>
