<% workflow_title = TavernaPlayer.workflow_proxy.title(@workflow) || "" %>
<% workflow_inputs = TavernaPlayer.workflow_proxy.inputs(@workflow) %>
<% params[:sweep_length] ||= '5' %>

<div class="contribution_title">
  <h1><%= 'New Data Sweep for Workflow: ' + workflow_title -%></h1>
</div>

<div class="show_basic">
  <%= form_for @sweep, :html => {:multipart => true} do |f| %>
      <%= f.hidden_field :workflow_id, :value => @workflow.id %>
      <%# f.hidden_field :workflow_version, :value => @workflow_version.version %>

      <div style="text-align: left; padding: 20px 20px 20px 0px;">
        <% if !@run.blank? %>
            <p>
              <%= label_tag 'Sweep based on run:' %> <%= link_to(@run.name, @run) %>
              </br>
            </p>
        <% end %>
        <p>
          <%= f.label :name, "Sweep name:" %>
          <%= f.text_field :name, :value => "#{workflow_title} sweep", :size => 80 %><br/>
        </p>
        </p>
        <%= label_tag "Sweep length:" %>
        <% if !@run.blank? %>
            <%= select_tag :sweep_length, options_for_select(1.upto(20), :selected => params[:sweep_length]),
                           :onchange => "window.location = '#{new_sweep_url(:run_id => params[:run_id])}&sweep_length=' + this.options[this.selectedIndex].value;" %>
        <% else %>
            <%= select_tag :sweep_length, options_for_select(1.upto(20), :selected => params[:sweep_length]),
                           :onchange => "window.location = '#{new_sweep_url(:workflow_id => params[:workflow_id])}&sweep_length=' + this.options[this.selectedIndex].value;" %>
        <% end %>
        </p>
      </div>

      <!-- Data inputs -->
      <% data_inputs = workflow_inputs.select { |input| (input.port_type.name == WorkflowInputPortType::DATA) } -%>
      <% unless data_inputs.blank? %>
          <%= render :partial => 'taverna_player/runs/inputs_form', :locals => {:title => "Data", :inputs => data_inputs, :form => f, :sweep_length => params[:sweep_length].to_i} %>
      <% end %>

      <!-- Parameter inputs -->
      <% paramater_inputs = workflow_inputs.select { |input| input.port_type.name == WorkflowInputPortType::PARAMETER } -%>
      <% if !@run.blank? %>
          <%= f.fields_for @run, TavernaPlayer::Run.new do |r| %>
              <% unless paramater_inputs.blank? %>
                  <%= render :partial => 'taverna_player/runs/inputs_form', :locals => {:title => "Parameters", :inputs => paramater_inputs, :form => r, :hidden => true, :locked => true} %>
              <% end %>
          <% end %>
      <% else %>
          <% unless paramater_inputs.blank? %>
              <%= render :partial => 'taverna_player/runs/inputs_form', :locals => {:title => "Parameters", :inputs => paramater_inputs, :form => f, :hidden => false, :locked => false} %>
          <% end %>
      <% end %>
      <br/>

      <div style="float: left;">
        <%= f.submit 'Start Run' %>
      </div>
  <% end %>
</div>
