<div class="breadcrumbs">
  <a href="/">Home</a> &gt;
  <%= link_to @sweep.workflow.category.name, main_app.workflows_path(:category_id => @sweep.workflow.category) -%> &gt;
  <%= link_to @sweep.executed_workflow.title, main_app.workflow_path(@sweep.workflow, :version => @sweep.workflow_version) -%> &gt;
  <%= @sweep.name -%>
</div>

<div class="contribution_title">
  <h1><%= 'Sweep: ' + @sweep.name -%></h1>
</div>

<%= render :partial => 'buttons', :locals => {:sweep => @sweep} %>
<br/>

<div class="show_basic">
  <% if @sweep.can_manage? && !current_user.guest? -%>
      <p>
        <%= describe_visibility(@sweep) -%>
      </p>
  <% end %>

  <h2 class="standout">Runs</h2>
  <%= render :partial => 'taverna_player/runs/table', :locals => {:runs => @runs,
                                                                  :polling_url => runs_sweep_path(@sweep),
                                                                  :redirect_to => sweep_path(@sweep),
                                                                  :default_sort => [0, 'asc'],
                                                                  :poll => !@sweep.complete?,
                                                                  :poll_interval => 5000} %>

  <div id="sweep_results_table" style="<%= 'display: none' unless @sweep.complete? -%>">
    <h2 class="standout">Results</h2>
    <div class="alert alert-info">
      You can use the following table to download particular results produced by this sweep. Tick off the values you
      require and then click "Download selected values" at the bottom. Ticking the box next to an output name will tick all
      checkboxes in that column. Individual results can be previewed by clicking the "view" link in each cell.
    </div>
    <br/>
    <%= render :partial => 'results_table' %>
  </div>
</div>
