<%= javascript_include_tag 'jquery-1.5.1.min.js' %>

<div class="breadcrumbs">
  <a href="/">Home</a> &gt;
  <%= link_to @sweep.workflow.category.name, main_app.workflows_path(:category_id => @sweep.workflow.category) -%> &gt;
  <%= link_to @sweep.workflow.title, main_app.workflow_path(@sweep.workflow) -%> &gt;
  <%= @sweep.name -%>
</div>

<div class="contribution_title">
  <h1><%= 'Sweep: ' + @sweep.name -%></h1>
</div>

<div class="show_basic">
  <%= render :partial => 'taverna_player/runs/table', :locals => {:runs => @sweep.runs, :polling_url => runs_sweep_path(@sweep) } %>
</div>