<p style="float:right; margin-top:0">
</p>

<p id="forum_name">

<table border="0" cellspacing="0" cellpadding="0" class="noborder nopad wide">
  <td>
    <label><%= 'Title'[:title_title] %></label><br />
    <%= form.text_field :name, :class => "primary" %>
  </td>
  <td style="text-align:right">
    <label><%= 'Position'[:position_title] %></label><br />
    <%= form.text_field :position, :size => 5 %>

  </td>
</table>

</p>
<p id="forum_descripion">
<label><%= 'Description'[:description_title] %></label><br />
<%= form.text_area :description, :rows => 7 %></p>