<div class="crumbs">
  <%= link_to 'Forums'[:forums_title], forums_path %> <span class="arrow">&rarr;</span>
</div>

<h1><%= 'Edit Forum'[:edit_forum] %></h1>

<% form_for :forum,
     :url  => forum_path(@forum),
     :html => { :method => :put } do |f| -%>
<%= render :partial => "form", :object => f %>
<%= submit_tag 'Save Forum'[:save_forum] -%> or <%= link_to('Cancel'[:cancel], forums_path) %>
<% end -%>