<%
  resource_text ||= text_for_resource(resource)

  assay_assets = resource.assay_assets.where(asset_type: 'Sample').includes(:asset)
  associated_samples_json = assay_assets.map do |aa|
    { title: aa.asset.title, id: aa.asset_id,
      direction: aa.direction, directionName: direction_name(aa.direction) }
  end.to_json
-%>

<%= folding_panel("Samples", assay_assets.blank?, :body_options => {:id => 'associate_sample_fold_content'},
                  :help_text => "Here you associate Samples in SEEK to this #{resource_text}.") do %>
    <p style="color: #666666;">
      The following Samples are involved in this <%= resource_text -%>:
    </p>

    <%= associations_list('sample_to_list', 'associations/sample', associated_samples_json,
                          :empty_text => 'No samples') %>

    <hr/>

    <%= button_link_to('Add sample', 'add', '#', 'data-toggle' => "modal", 'data-target' => "#addSampleModal") %>

    <%= modal(:class => 'new-association-modal', :id => 'addSampleModal') do %>
        <%= modal_header 'Select sample' %>
        <%= modal_body do %>
            <div class="association-step">
              <div class="form-group">
                <input type="text" class="form-control association-filter" placeholder="Type to filter...">
              </div>
              <div class="list-group association-candidate-list" id="samples-list">
                <%= render :partial => 'samples/association_preview', :collection => Sample.limit(5) %>
              </div>
            </div>
            <div class="association-step">
              <div class="form-group">
                <label>Select sample direction</label>
                <%= select_tag(:_association_direction, direction_options, :class => 'form-control') %>
                <%= hidden_field_tag :_association_directionName, '' %>
              </div>
            </div>
        <% end %>
        <%= modal_footer do %>
            <%= confirm_association_button('Add sample', 'sample_to_list') %>
        <% end %>
    <% end %>

    <script>
      // Need to store the direction name for displaying in the list of samples
      function updateDirectionName () {
        var select = $j('#_association_direction');
        var hidden = $j('#_association_directionName');
        hidden.val($j('option:selected', select).text());
      }

      $j(document).ready(function () {
        $j('#_association_direction').change(updateDirectionName);
        updateDirectionName();

        $j('.association-filter').keypress(function (e) {
          // If more than two characters were entered, or the input was cleared, or the ENTER key was pressed..
          if($j(this).val().length == 0 || $j(this).val().length >= 2 || e.keyCode == 13) {
            var modal = $j(this).parents('.new-association-modal');
            $j.ajax('<%= filter_samples_path %>', {
                  data: { filter: $j(this).val() },
                  success: function (data) { $j('.association-candidate-list', modal).html(data); }
                }
            );
            if(e.keyCode == 13)
              e.preventDefault();
          }
        });
      });
    </script>
<% end %>
