<%
  resource_text ||= text_for_resource(resource)

  assay_assets = resource.assay_assets.where(asset_type: 'Sample').includes(:asset)
  associated_samples_json = assay_assets.map do |aa|
    { title: aa.asset.title, id: aa.asset_id,
      direction: aa.direction, directionName: direction_name(aa.direction) }
  end.to_json
-%>

<%= folding_panel("Samples", assay_assets.blank?, :body_options => {:id => 'associate_sample_fold_content'},
                  :help_text => "Here you associate Samples in SEEK to this #{resource_text}.") do %>

    <p>The following Samples are involved in this <%= resource_text -%>:</p>

    <%= associations_list('sample_to_list', 'associations/sample', associated_samples_json,
                          :empty_text => 'No samples') %>

    <hr/>

    <%= association_selector('sample_to_list', 'Add samples', 'Select samples') do %>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#associate-samples-individual" aria-controls="associate-samples-individual" role="tab" data-toggle="tab">Individual</a>
          </li>
          <li role="presentation">
            <a href="#associate-samples-batch" aria-controls="associate-samples-batch" role="tab" data-toggle="tab">Batch</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="associate-samples-individual">
            <label>Select samples</label>
            <%= filterable_association_select(filter_samples_path(:assay_id => resource.id), :multiple => true) do %>
                <%= render :partial => 'samples/association_preview', :collection => Sample.limit(20),
                           :locals => { :existing => resource.samples }
                %>
            <% end %>

          </div>
          <div role="tabpanel" class="tab-pane" id="associate-samples-batch">
            <div data-role="seek-wizard">
              <div data-role="seek-wizard-step">
                <label>Select data file</label>
                <%= filterable_association_select(filter_data_files_path) do %>
                    <%= render :partial => 'data_files/association_preview', :collection => DataFile.all_authorized_for('view').first(20),
                               :locals => { :existing => resource.samples }
                    %>
                <% end %>
              </div>
              <div data-role="seek-wizard-step">
                <label>Select samples</label>
                <div id="data-file-samples-table">
                  <%#TODO: Change me %>
                  <%= render :partial => 'samples/table_view', :locals => { :samples => Sample.where(:sample_type_id => SampleType.last.id)} %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr/>

        <div class="form-group">
          <label>Select sample direction</label>
          <%= select_tag(:_association_direction, direction_options, :class => 'form-control') %>
          <%= hidden_field_tag :_association_directionName, '' %>
        </div>
    <% end %>

    <script>
      // Need to store the direction name for displaying in the list of samples
      function updateDirectionName () {
        var select = $j('#_association_direction');
        var hidden = $j('#_association_directionName');
        hidden.val($j('option:selected', select).text());
      }

      $j(document).ready(function () {
        $j('#_association_direction').change(updateDirectionName);
        updateDirectionName();
      });
    </script>
<% end %>
