<%
  resource_text ||= text_for_resource(resource)

  assay_assets = resource.assay_assets.where(asset_type: 'Sample').includes(:asset)
  associated_samples_json = assay_assets.map do |aa|
      { title: aa.asset.title, id: aa.asset_id, direction: aa.direction }
  end.to_json
-%>

<%= folding_panel("Samples", assay_assets.blank?, :body_options => {:id => 'associate_sample_fold_content'},
                  :help_text => "Here you associate Samples in SEEK to this #{resource_text}.") do %>
    <p style="color: #666666;">
      The following Samples are involved in this <%= resource_text -%>:
    </p>

    <ul id="sample_to_list" class="association-list">
      <span class="none_text" id="samples">Loading ...</span>
    </ul>

    <%= button_link_to('Add sample', 'add', '#', 'data-toggle' => "modal", 'data-target' => "#addSampleModal") %>

    <div class="modal new-association-modal" id="addSampleModal" tabindex="-1" role="dialog" aria-labelledby="addSampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addSampleModalLabel">Select sample</h4>
          </div>
          <div class="modal-body">
              <div class="association-step" data-step="1">
                <div class="form-group">
                  <input type="text" class="form-control association-filter" placeholder="Type to filter...">
                </div>
                <div class="list-group association-candidate-list" id="samples-list">
                  <%= render :partial => 'samples/association_preview', :collection => Sample.limit(5) %>
                </div>
                <%= hidden_field_tag :association_id, '' %>
                <%= hidden_field_tag :association_title, '' %>
              </div>
              <div class="association-step" data-step="2" style="display: none">
                <div class="form-group">
                  <label>Select sample direction</label>
                  <%= select_tag(:sample_direction,
                                 options_for_select([
                                                        ['No direction', AssayAsset::Direction::NODIRECTION],
                                                        ['Incoming', AssayAsset::Direction::INCOMING],
                                                        ['Outgoing', AssayAsset::Direction::OUTGOING]]),
                                 :class => 'form-control') %>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary add-association-btn">Add sample</button>
          </div>
        </div>
      </div>
    </div>

    <script>

      var associateSample = {
        selectSample: function () {
          $j(this).siblings().removeClass('active');
          $j(this).addClass('active');
          $j('div[data-step=2]').show();
          $j('#association_id').val($j(this).data('association-id'));
          $j('#association_title').val($j(this).data('association-title'));
          return false;
        },
        filterSamples: function (e) {
          // If more than two characters were entered, or the ENTER key was pressed..
          if($j(this).val().length >= 2 || e.keyCode == 13) {
            var modal = $j(this).parents('.new-association-modal');
            $j.ajax('<%= filter_samples_path %>', {
                  data: { filter: $j(this).val() },
                  success: function (data) { $j('.association-candidate-list', modal).html(data); }
                }
            );
          }
          e.preventDefault();
          return false;
        },
        addSample: function () {
          var o = {
            id: $j('#association_id').val(),
            title: $j('#association_title').val(),
            direction: $j('#sample_direction').val()
          };
          $j('#sample_to_list').append(HandlebarsTemplates['associations/sample'](o));
          $j(this).parents('.new-association-modal').modal('hide');
        }
      };

      $j(document).ready(function () {
        $j('.association-list').on('click', '.remove-association', function () {
          $j(this).parent().remove();
        });
        $j('.new-association-modal').on('click', '.association-preview', associateSample.selectSample);
        $j('.association-filter').keypress(associateSample.filterSamples);
        $j('.add-association-btn').click(associateSample.addSample);
      });

      $j(document).ready(function () {
        $j('#sample_to_list').html('');
        var associated = <%= associated_samples_json.html_safe %>;
        associated.each(function (x) {
          $j('#sample_to_list').append(HandlebarsTemplates['associations/sample'](x));
        });
      });
    </script>

<% end %>