<%
  resource_text ||= text_for_resource(resource)

  assay_assets = resource.assay_assets.where(asset_type: 'Sample').includes(:asset)
  associated_samples_json = assay_assets.map do |aa|
    { title: aa.asset.title, id: aa.asset_id, direction: aa.direction }
  end.to_json
-%>

<%= folding_panel("Samples", assay_assets.blank?, :body_options => {:id => 'associate_sample_fold_content'},
                  :help_text => "Here you associate Samples in SEEK to this #{resource_text}.") do %>
    <p style="color: #666666;">
      The following Samples are involved in this <%= resource_text -%>:
    </p>

    <ul id="sample_to_list" class="association-list">
      <li class="none_text no-item-text" id="samples">No samples</li>
    </ul>

    <%= button_link_to('Add sample', 'add', '#', 'data-toggle' => "modal", 'data-target' => "#addSampleModal") %>

    <%= modal(:class => 'new-association-modal', :id => 'addSampleModal') do %>
        <%= modal_header 'Select sample' %>
        <%= modal_body do %>
            <div class="association-step" data-step="1">
              <div class="form-group">
                <input type="text" class="form-control association-filter" placeholder="Type to filter...">
              </div>
              <div class="list-group association-candidate-list" id="samples-list">
                <%= render :partial => 'samples/association_preview', :collection => Sample.limit(5) %>
              </div>
              <%= hidden_field_tag :association_id, '' %>
              <%= hidden_field_tag :association_title, '' %>
            </div>
            <div class="association-step" data-step="2" style="display: none">
              <div class="form-group">
                <label>Select sample direction</label>
                <%= select_tag(:sample_direction,
                               options_for_select([['No direction', AssayAsset::Direction::NODIRECTION],
                                                   ['Incoming', AssayAsset::Direction::INCOMING],
                                                   ['Outgoing', AssayAsset::Direction::OUTGOING]]),
                               :class => 'form-control') %>
              </div>
            </div>
        <% end %>
        <%= modal_footer do %>
            <button type="button" class="btn btn-primary add-association-btn">Add sample</button>
        <% end %>
    <% end %>

    <script>
      var associateSample = {
        selectSample: function () {
          $j(this).siblings().removeClass('active');
          $j(this).addClass('active');
          $j('div[data-step=2]').show();
          $j('#association_id').val($j(this).data('association-id'));
          $j('#association_title').val($j(this).data('association-title'));
          return false;
        },
        filterSamples: function (e) {
          // If more than two characters were entered, or the ENTER key was pressed..
          if($j(this).val().length >= 2 || e.keyCode == 13) {
            var modal = $j(this).parents('.new-association-modal');
            $j.ajax('<%= filter_samples_path %>', {
                  data: { filter: $j(this).val() },
                  success: function (data) { $j('.association-candidate-list', modal).html(data); }
                }
            );
          }
        },
        addSample: function () {
          var o = {
            id: $j('#association_id').val(),
            title: $j('#association_title').val(),
            direction: $j('#sample_direction').val()
          };
          $j('#sample_to_list').append(HandlebarsTemplates['associations/sample'](o));
          $j(this).parents('.new-association-modal').modal('hide');

          var list = $j('#sample_to_list');
          var noText = $j('.no-item-text', list);

          if($j('.association-list-item', list).length == 0)
            noText.show();
          else
            noText.hide()
        },
        removeSample: function () {
          var list = $j(this).parents('.association-list');
          var noText = $j('.no-item-text', list);

          $j(this).parent().remove();

          if($j('.association-list-item', list).length == 0)
            noText.show();
          else
            noText.hide();

          $j(this).parent().remove();
        }
      };

      $j(document).ready(function () {
        $j('.association-list').on('click', '.remove-association', associateSample.removeSample);
        $j('.new-association-modal').on('click', '.association-preview', associateSample.selectSample);
        $j('.association-filter').keypress(associateSample.filterSamples);
        $j('.add-association-btn').click(associateSample.addSample);
      });

      $j(document).ready(function () {
        var associated = <%= associated_samples_json.html_safe %>;
        associated.each(function (x) {
          $j('#sample_to_list').append(HandlebarsTemplates['associations/sample'](x));
        });
      });
    </script>
<% end %>
