<%= javascript_include_tag "biosample"%>

<%= f.error_messages %>

<% if @sample.new_record? && @sample.specimen.try(:new_record?)%>
    <%= f.fields_for :specimen do |specimen_f| %>
        <%= render :partial => "specimens/form", :locals => {:f => specimen_f, :specimen => @sample.specimen, :action => action}%>
    <% end %>
<% else %>
    <div class="form-group">
      <%= f.label "Choose a #{I18n.t 'biosamples.sample_parent_term'}" %> <span class="required">*</span>
      <%= f.collection_select(:specimen_id, Specimen.all_authorized_for('view'), :id, :title, {:include_blank =>"Please Select..."},
                              {:class => 'form-control'}) %>
    </div>
<% end %>

<%= folding_panel('Sample Details') do %>
    <div class="form-group">
      <%= f.label "Sample name" -%><span class="required">*</span><br/>
      <%= f.text_field :title, :class=>"form-control" -%>
    </div>

    <% if Seek::Config.is_virtualliver %>
        <div class="form-group">
          <%= f.label :description -%><br/>
          <%= f.text_area :comments, :rows => 5, :class=>"form-control" -%>
        </div>

        <div class="form-group">
          <%= f.label "Explantation time" -%><br/>
          <%= f.text_field :explantation, :class=>"form-control" -%>
        </div>

        <div class="form-group date-select">
          <%= f.label :donation_date -%><span class="required">*</span>
          <%= f.calendar_date_select :donation_date, :time => "mixed", :class=>"form-control" -%>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :lab_internal_identifier -%><span class="required">*</span>
      <%= f.text_field :lab_internal_number, :class=>"form-control"-%>
    </div>

    <div class="form-group date-select">
      <%= f.label :sampling_date -%>
      <%= f.calendar_date_select :sampling_date, :time => "mixed", :class=>"form-control" -%>
    </div>

    <div class="form-group">
      <%= f.label :age_at_sampling -%>
      <div class="row">
        <div class="col-sm-10 col-xs-7">
          <%= f.text_field :age_at_sampling, :class=>"form-control",
                           :onkeypress => "javascript: return onlyFloatNumbers(event);" -%>
        </div>
        <div class="col-sm-2 col-xs-5">
          <%= f.select :age_at_sampling_unit_id, options_for_select(Unit.time_units.sort_by(&:order).collect{|u| [u.title.pluralize, u.id]}, @sample.age_at_sampling_unit_id), {},
                       :class=>"form-control"-%>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :provider_name -%>
      <%= f.text_field :provider_name, :class=>"form-control" -%>
    </div>

    <div class="form-group">
      <%= f.label "Provider's sample identifier" -%>
      <%= f.text_field :provider_id, :class=>"form-control" -%>
    </div>

    <div class="form-group">
      <%= f.label "Comment" -%>
      <%= f.text_field :comments, :class=>"form-control" -%>
    </div>

    <div class="form-group">
      <%= f.label "Organism part" -%>
      <% organism_part_options = Seek::Config.is_virtualliver ? ['whole organism','organ','tissue','intercellular','cell','subcellular','blood','serum']:['whole cell', 'membrane fraction'] %>
      <%= f.select :organism_part, options_for_select(organism_part_options.insert(0,'Not specified'), @sample.organism_part), {}, :class=>"form-control" %>
    </div>
<% end %>

<%= render :partial => 'projects/project_selector', :locals => {:resource => @sample,:allow_nil=>Seek::Config.is_virtualliver ? true : false}%>

<% if Seek::Config.is_virtualliver %>
    <%= render :partial => "samples/select_tissue_and_cell_types", :locals=>{:resource => @sample} if @sample.respond_to?(:tissue_and_cell_types) -%>
<% end %>

<%= render :partial => "scales/scales_selector",:locals=>{:object=>@sample} if @sample.respond_to?(:scales) && show_scales? %>

<% if @sample.can_manage?%>
    <%= render :seek_partial => "assets/sharing_form" -%>

    <%= render :partial => 'assets/special_auth_code_form', :locals => {:f => f} if !@sample.try(:new_record?)%>
<% end %>

<%= fancy_multiselect @sample, :data_files,  {:name => 'sample_data_file_ids', :association_class => DataFile,:selected => (params[:sample_data_file_ids] || []).map(&:to_i) | @sample.data_files.map(&:id), :hidden=> @sample.data_files.blank? ? true : false, :other_projects_checkbox => true} %>

<%= fancy_multiselect @sample, :models, :name => 'sample_model_ids', :association_class => Model,:selected => (params[:sample_model_ids] || []).map(&:to_i) | @sample.models.map(&:id) %>

<%= fancy_multiselect @sample, :sops,  {:name => 'sample_sop_ids', :association_class => Sop,:selected => (params[:sample_sop_ids] || []).map(&:to_i) | @sample.sops.map(&:id), :hidden=> @sample.sops.blank?  ? true : false, :other_projects_checkbox => true} %>

<%= f.hidden_field :parent_name %>
<%= f.hidden_field :from_biosamples %>

<%
   button_text=action==:edit ? "Update" : "Create"
   disabled_text=action==:edit ? "Updating..." : "Creating..."
%>
<% if @sample.can_manage? %>
    <%= preview_permission_popup_link(@sample)-%>
    <%= f.submit button_text, :id => "sample_submit_btn",
                 :onclick => "javascript: if(($('organism')!=null && ($F('organism')=='' || $F('organism')=='0'))){alert('Please select organism');return false;};previewPermissions();return(false);",
                 :class => 'btn btn-primary' -%>
<% else %>
    <%= f.submit button_text, :id => "sample_submit_btn", :disable_with => disabled_text,
                 :class => 'btn btn-primary' -%>
<% end %>
 or <%= cancel_button(@sample.id ? sample_path(@sample.id) : samples_path) -%>
