<div class="asset_form">

<%= f.error_messages -%>

<%= f.select :sample_type_id, options_for_select(SampleType.all.collect{|st| [st.title,st.id]},@sample.sample_type_id),{:include_blank => true,} %>

<% if @sample.sample_type %>

    <div class="form-group">
      <label>Title</label><%= required_span %>
      <%= f.text_field :title, :class=>'form-control' %>
    </div>

    <%= render :partial=>"attribute_fields",:locals=>{:f=>f,:sample_type=>@sample.sample_type} %>

    <%= f.submit "Create",:class => 'btn btn-primary' %>

<% end %>

</div>

<script>
  $j('#sample_sample_type_id').on('change',function() {
      if (this.value){
          //quick hack to get started, a later refinement will be to reload the form with ajax
          location.search="?sample_type_id="+this.value;
      }

  });

</script>