<%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
<%= stylesheet_link_tag 'calendar_date_select/default' %>
<%= javascript_include_tag "sharing.js" -%>

<%= f.error_messages %>


<h2>Sample Details</h2>

<div>

  <p>
    <%= f.label "Sample name:" -%><span class="required">*</span><br/>
    <%= f.text_field :title, :style => "width: 350px;" -%>
  </p>

  <p>
    <%= f.label "Choose a specimen" %> <span class="required">*</span><br/>
    <%= collection_select(:sample, :specimen_id, Specimen.all.select{|s|s.can_view?} , :id, :title,{:include_blank =>"Please Select..."},{:style=>"width:90%"}) %>
  </p>

  <p>
    <%= f.label :explantation -%><br/>
    <%= f.text_field :explantation, :style => "width: 350px;" -%>
  </p>

  <p>
    <%= f.label :lab_internal_number -%><span class="required">*</span><br/>
    <%= f.text_field :lab_internal_number, :style => "width: 350px;" -%>
  </p>
  <p>
    <%= f.label :donation_date -%><span class="required">*</span><br/>
    <%= f.calendar_date_select :donation_date, :time => "mixed" -%>
  </p>

  <p>
    <%= f.label :description -%><br/>
    <%= f.text_area :comments, :style => "width: 85%;", :rows => 5 -%>
  </p>

  <%= render :partial => "samples/select_tissue_and_cell_types", :locals=>{:resource => @sample}-%>

  <%= render :partial => 'projects/project_selector', :locals => {:resource => @sample}%>
  <p>
        <%= f.fancy_multiselect :scales, {:possibilities=>sort_scales(Scale.all)} -%>
  </p>
  <br style="clear:both"/>
  <p>
      <%= render :partial => "assets/sharing_form" if @sample.can_manage?-%>
  </p>

  <%= fancy_multiselect @sample, :sops, :name => 'sample_sop_ids', :selected => (params[:sample_sop_ids] || []).map(&:to_i) | @sample.sop_masters.map(&:sop_id) %>
</div>


<p style="margin-top: 2em; text-align: center;">
  <%= f.submit(action==:edit ? "Update" : "Create", :disable_with=>(action==:edit ? "Updating..." : "Creating...")) -%>
  or <%= link_to 'Cancel', (@sample.id ? sample_path(@sample.id) : samples_path) -%>
</p>