

<div class="asset_form">
  <%= render partial: 'sample_error_messages', locals: { object: @sample } %>

  <p id="sample-type">
    <label>Sample type: </label> <%= link_to(h(@sample.sample_type.title), @sample.sample_type) %>
    <% if @sample.new_record? %>
      <span style="font-size:smaller">
        (<%= link_to('change', select_sample_types_path) %>)
      </span>
    <% end %>
    <%= f.hidden_field(:sample_type_id) %>
  </p>

  <div id="sample_attributes">
    <%= render :partial=>"sample_attributes_form",:locals=>{sample:@sample} %>
  </div>

  <div id="sample_extra_details">
    <% if show_form_manage_specific_attributes? && @sample.can_manage? -%>
      <%= render :partial => "projects/project_selector", :locals => { :resource => @sample,:allow_nil=> false} %>
      <%= render :partial => "assets/asset_form_bottom", :locals=>{:f=>f,attribution_enable:false,show_publications:false,sharing_link:false} %>
    <% end %>
  </div>

  <%= form_submit_buttons(@sample, validate:false) %>

</div>