<%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
<%= stylesheet_link_tag 'calendar_date_select/default' %>
<%= javascript_include_tag "sharing.js" -%>
<%= javascript_include_tag "resource.js"%>

<%= f.error_messages %>


<h2>Sample Details</h2>

<div style="width: 95%;">

  <p>
    <%= f.label "Sample name:" -%><span class="required">*</span><br/>
    <%= f.text_field :title, :style => "width: 350px;" -%>
  </p>

  <p>
    <%= f.label "Choose a specimen" %> <span class="required">*</span><br/>
    <%= collection_select(:sample, :specimen_id, Specimen.all.select{|s|s.can_view?} , :id, :title,{:include_blank =>"Please Select..."},{:style=>"width:90%"}) %>
  </p>

  <% if Seek::Config.is_virtualliver %>
      <p>
        <%= f.label "Explantation time" -%><br/>
        <%= f.text_field :explantation, :style => "width: 350px;" -%>
      </p>

      <p>
        <%= f.label :donation_date -%><span class="required">*</span><br/>
        <%= f.calendar_date_select :donation_date, :time => "mixed" -%>
      </p>
  <% end %>

  <p>
    <%= f.label :lab_internal_identifier -%><span class="required">*</span><br/>
    <%= f.text_field :lab_internal_number, :style => "width: 350px;" -%>
  </p>

  <p>
    <%= f.label :description -%><br/>
    <%= f.text_area :comments, :style => "width: 99%;", :rows => 5 -%>
  </p>

  <p>
    <%= f.label :sampling_date -%><br/>
    <%= f.calendar_date_select :sampling_date, :time => "mixed" -%>
  </p>

  <p>
    <%= f.label :organism_part -%><br/>
    <%= select_tag :organism_part,options_for_select(['Not specified', 'Whole cell', 'Membrane fraction']) -%>
  </p>

  <br/>
  <%= render :partial => 'projects/project_selector', :locals => {:resource => @sample,:allow_nil=>true}%>

  <br style="clear:both"/>

  <% if @sample.can_manage?%>
      <p>
          <%= render :partial => "assets/sharing_form" -%>
      </p>

      <%= fancy_multiselect @sample, :sops, :name => 'sample_sop_ids', :association_class=>Sop,:selected => (params[:sample_sop_ids] || []).map(&:to_i) | @sample.sop_masters.map(&:sop_id) %>
  <% end %>
</div>

<%= f.hidden_field :from_new_link %>

<p style="margin-top: 2em; text-align: center;">
  <%
     button_text=action==:edit ? "Update" : "Create"
     disabled_text=action==:edit ? "Updating..." : "Creating..."
     is_new_file=action==:edit ? false : true
  %>
  <% if @sample.can_manage? %>
      <%= preview_permission_popup_link('sample', url_for(:controller => 'policies', :action => 'preview_permissions'), is_new_file, try_block{@sample.contributor.user.id})-%>
      <%= f.submit button_text, :id => "sample_submit_btn", :onclick => "javascript: clickLink($('preview_permission'));return(false);" -%>
  <% else %>
      <%= f.submit button_text, :id => "sample_submit_btn", :disable_with=>disabled_text-%>
  <% end %>
  or <%= link_to 'Cancel', (@sample.id ? sample_path(@sample.id) : samples_path) -%>
</p>