<div class="asset_form">

  <%= f.error_messages -%>

  <% if @sample.new_record? %>
      <div class="form-group">
      <%= f.select :sample_type_id,
                   options_for_select(SampleType.all.collect { |st| [st.title, st.id] }, @sample.sample_type_id),
                   {:include_blank => 'Please select the appropriate Sample type' },:class => 'form-control' %>
      </div>
  <% end %>

  <div id="sample_attributes">
    <%= render :partial=>"sample_attributes_form",:locals=>{sample:@sample} %>
  </div>

  <%= f.submit (@sample.new_record? ? "Create" : "Update"), :class => 'btn btn-primary',:id=>'submit_sample_button',disabled:@sample.sample_type.nil? %>

</div>

<script>
    $j('#sample_sample_type_id').on('change', function () {
        if (this.value) {
            $j.ajax({
                url:"<%= attribute_form_samples_path %>",
                type: "get",
                data: {sample_type_id: this.value},
                dataType: "json",
                success: function(data) {
                    var replacement = "<div id='sample_attributes'>"+data["form"]+"</div>"
                    $j('#sample_attributes').replaceWith(replacement);
                    $j('#submit_sample_button').prop('disabled',false);
                },
                error: function(data) {
                    $j('#sample_attributes').replaceWith("<div id='sample_attributes'/>");
                    $j('#submit_sample_button').prop('disabled',true);
                }
            });
        }
        else {
            $j('#sample_attributes').replaceWith("<div id='sample_attributes'/>");
            $j('#submit_sample_button').prop('disabled',true);
        }
    });

</script>