<%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
<%= stylesheet_link_tag 'calendar_date_select/default' %>
<%= javascript_include_tag "sharing.js" -%>
<%= javascript_include_tag "resource.js"%>

<%= f.error_messages %>

<h2><%= CELL_CULTURE_OR_SPECIMEN.capitalize -%> details</h2>

<script type="text/javascript">
  var organism_strains = new Array();
  <% Organism.all.each do |org|
    strains = org.strains.without_default -%>

    organism_strains[<%= org.id -%>] = '<%= strains.to_json -%>';

  <% end -%>

  function update_strains_for_organism(organism_id) {
        var strains_json = organism_strains[organism_id];
        var strains = eval('('+strains_json+')');
        var box = $('sample_specimen_attributes_strain_id');
        box.options.length = 0;
        box.insert(new Element('option',{value:0}).update("Not specified"));
        for(var i=0;i<strains.length;i++) {
            var strain = strains[i];
            box.insert(new Element('option',{value:strain.strain.id}).update(strain.strain.title));
        }
  }
</script>

<% f.fields_for :specimen do |specimen_f| -%>
    <p>
        <%= specimen_f.label "#{CELL_CULTURE_OR_SPECIMEN.capitalize} title:"-%><span class="required">*</span><br/>
        <%= specimen_f.text_field :title, :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Lab internal identifier:" -%> <span class="required">*</span><br/>
        <%= specimen_f.text_field :lab_internal_number, :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Culture start date:" -%> <br/>
        <%= specimen_f.calendar_date_select :born, :time => "mixed", :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Culture growth type:" -%> <br/>
        <%= specimen_f.select :culture_growth_type_id, options_for_select(CultureGrowthType.all.collect{|c| [c.title,c.id]}),:include_blank=>"Not specified" -%>
    </p>

    <p>
        <%= specimen_f.label "Provider name:" -%> <br/>
        <%= specimen_f.text_field :provider_name, :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Provider's #{CELL_CULTURE_OR_SPECIMEN} identifier:" -%> <br/>
        <%= specimen_f.text_field :provider_id, :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Organism:" -%><span class="required">*</span> <br/>
        <%= select_tag :organism,
                              options_for_select([["Not specified",""]] + Organism.all(:order=>:title).collect{|o| [o.title,o.id]}),
                              :onchange=>"update_strains_for_organism(this.value);" -%>
    </p>

    <p>
        <%= specimen_f.label "Strain:" -%> <br/>
        <% strains = @sample.specimen.organism.try(:strains) || [] %>
        <%= specimen_f.select :strain_id,
                              options_for_select(strains.collect{|s| [s.title,s.id]}),:include_blank=>"Not specified" -%>
    </p>


<% end -%>



<h2>Sample Details</h2>

<div style="width: 95%;">

  <p>
    <%= f.label "Sample name:" -%><span class="required">*</span><br/>
    <%= f.text_field :title, :style => "width: 350px;" -%>
  </p>

  <% if Seek::Config.is_virtualliver %>
      <p>
        <%= f.label "Explantation time" -%><br/>
        <%= f.text_field :explantation, :style => "width: 350px;" -%>
      </p>

      <p>
        <%= f.label :donation_date -%><span class="required">*</span><br/>
        <%= f.calendar_date_select :donation_date, :time => "mixed" -%>
      </p>
  <% end %>

  <p>
    <%= f.label :lab_internal_identifier -%><span class="required">*</span><br/>
    <%= f.text_field :lab_internal_number, :style => "width: 350px;" -%>
  </p>

  <p>
    <%= f.label :sampling_date -%><br/>
    <%= f.calendar_date_select :sampling_date, :time => "mixed", :style=>"width:350px;" -%>
  </p>

  <p>
    <%= f.label :provider_name -%><br/>
    <%= f.text_field :provider_name, :style=>"width:350px;" -%>
  </p>

  <p>
    <%= f.label "Provider's sample identifier" -%><br/>
    <%= f.text_field :provider_id, :style=>"width:350px;" -%>
  </p>

  <br/>
  <%= render :partial => 'projects/project_selector', :locals => {:resource => @sample,:allow_nil=>true}%>

  <br style="clear:both"/>

  <% if @sample.can_manage?%>
      <p>
          <%= render :partial => "assets/sharing_form" -%>
      </p>
  <% end %>
</div>

<%= f.hidden_field :from_new_link %>

<p style="margin-top: 2em; text-align: center;">
  <%
     button_text=action==:edit ? "Update" : "Create"
     disabled_text=action==:edit ? "Updating..." : "Creating..."
     is_new_file=action==:edit ? false : true
  %>
  <% if @sample.can_manage? %>
      <%= preview_permission_popup_link('sample', url_for(:controller => 'policies', :action => 'preview_permissions'), is_new_file, try_block{@sample.contributor.user.id})-%>
      <%= f.submit button_text, :id => "sample_submit_btn", :onclick => "javascript: clickLink($('preview_permission'));return(false);" -%>
  <% else %>
      <%= f.submit button_text, :id => "sample_submit_btn", :disable_with=>disabled_text-%>
  <% end %>
  or <%= link_to 'Cancel', (@sample.id ? sample_path(@sample.id) : samples_path) -%>
</p>