<div class="row">
  <div class="col-sm-6">
    <%= list_item_authorized_attribute "Uploader", resource.contributor.try(:person) %>

    <%= list_item_attribute "Lab internal ID", h(resource.lab_internal_number) %>

    <%= list_item_attribute "Date at sampling", text_or_not_specified(resource.sampling_date.nil? ? nil : date_as_string(resource.sampling_date)) -%>

    <%= list_item_attribute "Provider name",text_or_not_specified(resource.provider_name) -%>
    <%= list_item_attribute "Provider's sample ID",text_or_not_specified(resource.provider_id) -%>
  </div>

  <div class="col-sm-6">
    <%= list_item_attribute "Organism", resource.specimen.strain.organism.title, organism_path(resource.specimen.strain.organism) -%>
    <%= list_item_authorized_list (resource.specimen.strain.is_dummy? ? [] : [resource.specimen.strain]),"Strain", true, 50, true %>
    <%= list_item_authorized_list resource.data_files,t('data_file').pluralize, true, 50, true %>
    <%= list_item_authorized_list resource.sops,t('sop').pluralize, true, 50, true %>
  </div>
</div>

<div class="hidden-xs">
  <%= scales_list_for_list_item resource%>
</div>
