<% specimen = sample_specimen_details -%>

<p>
  <label><%= CELL_CULTURE_OR_SPECIMEN.capitalize -%> name:</label>
  <%= text_or_not_specified(specimen.title) -%>
</p>
<p>
  <label>Seek ID:</label>
  <%= text_or_not_specified(specimen.id) %>
</p>
<p>
  <label>Lab internal identifier:</label>
  <%= text_or_not_specified(specimen.lab_internal_number) %>
</p>
<p>
  <label>Culture starting date:</label>
  <%= text_or_not_specified specimen.born.nil? ? nil : date_as_string(specimen.born) -%>
</p>
<p>
  <label>Culture growth type:</label>
  <%= text_or_not_specified specimen.culture_growth_type.try(:title) -%>
</p>
<p>
  <label>Sex:</label>
  <%
     sex = sex_list_for_selection.select{|s| s[1] == specimen.sex}.collect{|s| s[0]}.first
  %>
  <%= text_or_not_specified sex -%>
</p>
<p>
  <label>Comment:</label>
  <%= text_or_not_specified specimen.comments -%>
</p>
<p>
  <label>Provider name:</label>
  <%= text_or_not_specified specimen.provider_name -%>
</p>
<p>
  <label>Provider's <%= CELL_CULTURE_OR_SPECIMEN -%> identifier:</label>
  <%= text_or_not_specified specimen.provider_id -%>
</p>
<p>
  <label>Organism and strain:</label>
  <%= organism_and_strain( specimen.strain) -%>
</p>