<% specimen = sample_specimen_details -%>

<p>
  <label><%= (I18n.t 'biosamples.sample_parent_term').capitalize -%> name:</label>
  <%= link_to specimen.title,specimen -%>
</p>
<% if Seek::Config.is_virtualliver %>
    <p>
      <label>Seek Specimen ID:</label>
      <%= specimen.id %>
    </p>

    <p id="organism">
      <label>Organism and strain: </label>
      <%= specimen_organism_list specimen.organism, specimen.strain %>
    </p>
    <p>
          <label>Genotypes and phenotypes:</label>
          <%= text_or_not_specified(specimen.genotype_info + '/' + specimen.phenotype_info) %>
    </p>
    <p>
      <label>Culture growth type:</label>
      <%= text_or_not_specified specimen.culture_growth_type.try(:title) -%>
    </p>
      <% if specimen.culture_growth_type.try(:title)=="cultured cell line" || specimen.culture_growth_type.try(:title)=="primary cell culture" %>
        <table border="1" cellpadding="10">
          <tr>
            <th>Medium</th>
            <th>Culture Format</th>
            <th>Temperature</th>
            <th>PH</th>
            <th>Confluency</th>
            <th>Passage</th>
            <th>Viability</th>
            <th>Purity</th>
          </tr>
          <tr>
            <td><%= text_or_not_specified(specimen.medium) %></td>
            <td><%= text_or_not_specified(specimen.culture_format) %></td>
            <td><%= text_or_not_specified(specimen.temperature) %></td>
            <td><%= text_or_not_specified(specimen.ph) %></td>
            <td><%= text_or_not_specified(specimen.confluency) %></td>
            <td><%= text_or_not_specified(specimen.passage) %></td>
            <td><%= text_or_not_specified(specimen.viability) %></td>
            <td><%= text_or_not_specified(specimen.purity) %></td>
          </tr>

        </table>
    <% end %>
    <% if specimen.culture_growth_type.try(:title)=="in vivo" %>
        <p>
          <label>Age:</label>
          <%= text_or_not_specified(specimen.age_with_unit) %>
        </p>
        <p>
          <label>Sex:</label>
           <%
              sex = sex_list_for_selection.select{|s| s[1] == specimen.sex}.collect{|s| s[0]}.first
           %>
           <%= text_or_not_specified sex -%>
        </p>
        <p>
          <label>Birthday:</label>
          <% if specimen.born.nil? %>
              <%= text_or_not_specified nil %>
          <% else %>

              <% if specimen.try(:born).hour == 0 and specimen.try(:born).min == 0 and specimen.try(:born).sec == 0 then %>
                  <%= h specimen.try(:born).strftime('%d/%m/%Y') %>
              <% else %>
                  <%= h specimen.try(:born).strftime('%d/%m/%Y @ %H:%M:%S') %>
              <% end %>

          <% end %>
        </p>
    <% end %>

    <p>
      <label>Treatment:</label>
      <%= text_or_not_specified(specimen.treatment) %>
    </p>
    <p>
      <label>Institution:</label>
      <%= text_or_not_specified(specimen.institution.title) %>
    </p>
<% end %>
<p>
  <label>Seek ID:</label>
  <%= text_or_not_specified(specimen.id) %>
</p>
<p>
  <label>Lab internal identifier:</label>
  <%= text_or_not_specified(specimen.lab_internal_number) %>
</p>
<% unless Seek::Config.is_virtualliver %>
<p>
  <label>Culture starting date:</label>
  <%= text_or_not_specified specimen.born.nil? ? nil : date_as_string(specimen.born) -%>
</p>
<p>
  <label>Culture growth type:</label>
  <%= text_or_not_specified specimen.culture_growth_type.try(:title) -%>
</p>
<p>
  <label>Ploidy:</label>
  <%= text_or_not_specified specimen.ploidy -%>
</p>
<p>
  <label>Gender:</label>
  <%
     sex = sex_list_for_selection.select{|s| s[1] == specimen.sex}.collect{|s| s[0]}.first
  %>
  <%= text_or_not_specified sex -%>
</p>
<% end %>
<p>
  <label>Comment:</label>
  <%= text_or_not_specified specimen.comments -%>
</p>
<p>
  <label>Provider name:</label>
  <%= text_or_not_specified specimen.provider_name -%>
</p>
<p>
  <label>Provider's <%= I18n.t 'biosamples.sample_parent_term' -%> identifier:</label>
  <%= text_or_not_specified specimen.provider_id -%>
</p>
<% unless Seek::Config.is_virtualliver %>
<p>
  <% organism = specimen.strain.organism %>
  <label>Organism:</label>
  <%= link_to organism.title, organism -%>
</p>

 <span style="font-size: 120%;">
  <%= list_item_authorized_list (specimen.strain.is_dummy? ? [] : [specimen.strain]),"Strain", true, 50, true %>
 </span>

 <%= render :partial => "assets/special_auth_code_display", :locals => {:resource => specimen} %>
<% end %>
