<%
   select_truncate_length=120
   all_tissue_and_cell_types = TissueAndCellType.find(:all, :order => :title)
   resource_text ||= resource.class.name.downcase
%>


<div class="fold">

  <div class="foldTitle">
    <%= help_icon("Here you can associate the sample with specific tissue or cell types") -%>
    Tissue and Cell Types
  </div>

  <div id="tissue_and_cell_types_fold_content" class="foldContent" style="display:block;">

    <div class="yui-u first">
      <p style="color:#666666;">
        The following tissue or cell types are involved in this <%= "#{resource_text}" %>
      </p>

      <div id="tissue_and_cell_type_to_list" class="box_editing_inner" style="line-height:1.5;">
        <span class="none_text" id="tissue_and_cell_types"> Loading...</span>
      </div>

      <% if all_tissue_and_cell_types.empty? -%>
          <p class="none_text">No tissue or cell types have yet been defined, you can type the name in the box below to
            create a new one if required.</p>
      <% else -%>
          <p class="none_text">Optionally, select an existing tissue or cell type below, or type the name in the box
            below to create a new one.</p>
      <% end -%>
          <%= select_tag :tissue_and_cell_type_ids, options_from_collection_for_select([], :id, :title), {:multiple=>true, :style=>"display:none;"} -%>

          <%= select_tag :possible_tissue_and_cell_types,
                         options_for_select([["Select Tissue or Cell Type ...", 0]]|all_tissue_and_cell_types.collect { |o| [truncate(h(o.title), :length=>select_truncate_length), o.id] }),
                         {:style=>"width:90%",
                          :onchange=> "$('tissue_and_cell_type').clear();addSelectedTissueOrCellType();return(false);"} -%>


          <br/>
          <div id="existing_tissue_and_cell_types"></div>
          <%= text_field_tag :tissue_and_cell_type ,nil,{:onfocus=>"$('possible_tissue_and_cell_types').selectedIndex = 0;"}%>



      <br/>
      <%= link_to_function (image("new") + " Include in the #{resource_text}"), "addSelectedTissueOrCellType(); return(false);", :id=>"add_tissue_link", :class=>"block_link", :style => "width: 13em" %>
    </div>
  </div>
</div>



<script type="text/javascript">
   var  tissue_and_cell_type_id = 0;
   var tissue_and_cell_types = new Array();

   function setTissueAndCellTypeTextField(title){
      $('tissue_and_cell_type').value = title;
      new Effect.Highlight('tissue_and_cell_type');

  }

   <%  resource.tissue_and_cell_types.each do |t| %>
    title = '<%=escape_javascript(t.title) %>';
    id = '<%= t.id %>';
    addTissueAndCellType(title, id);
    <%end%>

     <%if params[:tissue_and_cell_type_ids]%>
        <% params[:tissue_and_cell_type_ids].each do |text| %>
        <% t_id,t_title=text.split(",")%>
        title = '<%=escape_javascript(t_title) %>';
        id = '<%= t_id %>';
        addTissueAndCellType(title, id);
     <%end%>
    <%end-%>




    updateTissueAndCellTypes();

    function checkTissueAndCellTypeNotInList(title,id) {
        toAdd = true;

        for (var i = 0; i < tissue_and_cell_types.length; i++)
            if (tissue_and_cell_types[i][0] == title ) {
                toAdd = false;
                break;
            }
        if (!toAdd) {
            alert("Tissue or cell type already exists!");
        }
        return toAdd;
    }

    function addTissueAndCellType(title, id) {
        if (checkTissueAndCellTypeNotInList(title, id)) {
            tissue_and_cell_types.push([title,id]);
            updateTissueAndCellTypes();
        }


    }

    function addSelectedTissueOrCellType() {
        selected_option_index = $("possible_tissue_and_cell_types").selectedIndex;
        selected_option = $("possible_tissue_and_cell_types").options[selected_option_index];

        id = selected_option.value;


        if($('tissue_and_cell_type').value==""&& id != 0 ){
            title = selected_option.text;
            addTissueAndCellType(title, id);
        }
        if ($('tissue_and_cell_type').value!=""){
            title = $('tissue_and_cell_type').value;
            addTissueAndCellType(title, id);
        }





    }

    function removeTissueAndCellType(index) {
        // remove according to the index

        tissue_and_cell_types.splice(index, 1);
        // update the page
        updateTissueAndCellTypes();
    }

    function updateTissueAndCellTypes() {
        tissue_and_cell_type_text = '<ul class="related_asset_list">';

        for (var i = 0; i < tissue_and_cell_types.length; i++) {
            tissue_and_cell_type = tissue_and_cell_types[i];
            title = tissue_and_cell_type[0];
            id = tissue_and_cell_type[1];

            titleText = '<span title="' + title + '">' + title.truncate(100);


            titleText += '</span>';
            tissue_and_cell_type_text += '<li>' + titleText +
                    '&nbsp;&nbsp;&nbsp;<small style="vertical-align: middle;">' +
                    '[<a href="" onclick="javascript:removeTissueAndCellType(' + i + '); return(false);">remove</a>]</small></li>';
        }

        tissue_and_cell_type_text += '</ul>';

        // update the page
        if (tissue_and_cell_types.length == 0) {
            $('tissue_and_cell_type_to_list').innerHTML = '<span class="none_text">No tissue and cell types</span>';
        }
        else {
            $('tissue_and_cell_type_to_list').innerHTML = tissue_and_cell_type_text;
        }

        clearList('tissue_and_cell_type_ids');

        select = $('tissue_and_cell_type_ids');
        for (i = 0; i < tissue_and_cell_types.length; i++) {
            tissue_and_cell_type = tissue_and_cell_types[i];
            title = tissue_and_cell_type[0];
            id = tissue_and_cell_type[1];

            o = document.createElement('option');
            o.value = id +","+ title;
            o.text = title;
            o.selected = true;

            try {
                select.add(o); //for older IE version
            }
            catch (ex) {
                select.add(o, null);
            }
        }

    }
</script>