<h2><%= CELL_CULTURE_OR_SPECIMEN.capitalize -%> details</h2>

<% f.fields_for :specimen do |specimen_f| %>
    <p>
        <%= specimen_f.label "#{CELL_CULTURE_OR_SPECIMEN.capitalize} title:"-%><span class="required">*</span><br/>
        <%= specimen_f.text_field :title, :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Lab internal identifier:" -%> <span class="required">*</span><br/>
        <%= specimen_f.text_field :lab_internal_number, :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Culture starting date:" -%> <br/>
        <%= specimen_f.calendar_date_select :born, :time => "mixed", :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Culture growth type:" -%> <br/>
        <%= specimen_f.collection_select :culture_growth_type_id, CultureGrowthType.all,:id,:title,:include_blank=>"Not specified" -%>
    </p>

    <p>
        <%= specimen_f.label "Sex:" -%> <br/>
        <%= specimen_f.select :sex, options_for_select([["female",true],["male",false]].insert(0,["Not specified", 0]),specimen.try(:sex)) -%>
    </p>

    <p>
        <%= specimen_f.label "Comment:" -%> <br/>
        <%= specimen_f.text_field :comments, :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Provider name:" -%> <br/>
        <%= specimen_f.text_field :provider_name, :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Provider's #{CELL_CULTURE_OR_SPECIMEN} identifier:" -%> <br/>
        <%= specimen_f.text_field :provider_id, :style=>"width:350px;" -%>
    </p>

    <p>
        <%= specimen_f.label "Organism:" -%><span class="required">*</span> <br/>
        <%= select_tag :organism,
                              options_for_select([["Not specified",""]] + Organism.all(:order=>:title).collect{|o| [o.title,o.id]},specimen.organism.try(:id)),
                              :onchange=>"show_ajax_loader('strains_of_selected_organism');strains_of_selected_organism(this.value);" -%>
    </p>

    <p>
        <%= specimen_f.label "Strain:" -%>
      <div id = 'strains_of_selected_organism'>
        <% strains = specimen.organism.nil? ? [] : specimen.organism.strains.without_default -%>
        <%= specimen_f.collection_select :strain_id,
                              strains,:id,:info,:include_blank=>"Not specified" -%>
      </div>
    </p>

    <%= fancy_multiselect specimen, :sops, :name => 'specimen_sop_ids',:association_class=>Sop, :selected => specimen.sop_masters.map(&:sop_id) -%>

    <p>
      <%= render :partial => "assets/author_form", :locals => {:resource_type => 'Specimen',
                                                               :existing_creators => specimen.creators,
                                                               :other_creators => specimen.other_creators} -%>
    </p>
<% end %>
