<% sample_type = samples.first.sample_type %>
<% shown_attributes = sample_type.sample_attributes %>

<div data-role="seek-association-candidate-list">
  <div class="table-responsive">
    <table class="table table-bordered samples-table" style="width: 100%">
      <% [:thead, :tfoot].each do |section| %>
          <%= content_tag(section) do %>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <% shown_attributes.each do |attribute| %>
                    <th><%= attribute.title %></th>
                <% end %>
              </tr>
          <% end %>
      <% end %>
      <tbody>
      <% samples.each do |sample| %>
          <%= content_tag(:tr, class: 'clickable') do %>
              <td><%= sample.id %></td>
              <td><%= sample.title %></td>
              <% shown_attributes.each do |attribute| %>
                  <td><%= sample.send(attribute.accessor_name.to_sym) %></td>
              <% end %>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
