<% sample_type = samples.first.sample_type %>
<% shown_attributes = sample_type.sample_attributes.includes(:sample_attribute_type) %>
<% link ||= false %>

<div data-role="seek-association-candidate-list">
  <div class="table-responsive">
    <table class="table table-bordered samples-table" style="width: 100%">
      <% [:thead, :tfoot].each do |section| %>
          <%= content_tag(section) do %>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <% shown_attributes.each do |attribute| %>
                    <th data-column-type="<%= attribute.sample_attribute_type.base_type-%>"><%= attribute.title %></th>
                <% end %>
              </tr>
          <% end %>
      <% end %>
      <tbody>
      <% samples.each do |sample| %>
          <%= content_tag(:tr) do %>
              <td><%= sample.id %></td>
              <td><%= sample.title %></td>
              <% shown_attributes.each do |attribute| %>
                  <td>
                    <% case attribute.sample_attribute_type.base_type %>
                    <% when 'Date' %>
                        <%= Date.parse(sample.send(attribute.accessor_name)).strftime("%e %B %Y") %>
                    <% when 'DateTime' %>
                        <%= DateTime.parse(sample.send(attribute.accessor_name)).strftime("%e %B %Y %H:%M:%S") %>
                    <% else %>
                        <% if link && attribute.is_title %>
                            <%= link_to(sample.send(attribute.accessor_name), sample) %>
                        <% else %>
                            <%= text_or_not_specified(sample.send(attribute.accessor_name), auto_link: link) %>
                        <% end %>
                    <% end %>
                  </td>
              <% end %>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
