<% if @data_file || @sample_type || @template %>
  <% if @sample_type %>
    <% unless Seek::Config.project_single_page_enabled %>
      <p> Showing for Sample Type: <%= link_to @sample_type.title,@sample_type %> </p>
    <% end %>
    <% resource_hash = get_related_resources(@sample_type) %>
    <% @total_count = resource_hash["Sample"][:items].count + resource_hash["Sample"][:hidden_count] %>
    <% @visible_count = resource_hash["Sample"][:items].count %>
    <p>
      <%= render partial: 'assets/resource_counts' %>
    </p>  
  <% end %>
  <% if @samples.any? %>
      <div id="samples-table">
        <% if @data_file %>
            <%= render partial: "samples/table_view", locals: { samples: @samples, link: true, source_url: samples_table_data_file_path(@data_file) }%>
        <% else %>
            <%= render partial: "samples/table_view", locals: { samples: @samples, link: true }%>
        <% end %>
      </div>
      <script>
        $j(document).ready(function () {
          Samples.initTable($j('#samples-table'));
        });
      </script>
  <% end %>
<% else %>
    <%= render partial: "general/index" %>
<% end %>
