<%= render :partial => "general/item_title", :locals => {:item => @sample, :buttons_partial => 'assets/asset_buttons'} %>



<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">

    <div class="row">
      <div class="col-md-6">
        <p>
          <label>Sample type:</label>
          <%= link_to @sample.sample_type.title,@sample.sample_type %>
        </p>
        <% if @sample.originating_data_file %>
            <p>
              <label>Source data:</label>
              <%= link_to @sample.originating_data_file.title, @sample.originating_data_file %>
            </p>
        <% end %>
        <%= render :partial => "attribute_values", :locals => {:sample => @sample} %>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4">
    <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @sample } %>
  </div>
</div>


<%= render :partial=>"general/items_related_to",:object => @sample %>