<% truncate_length_for_boxes = 22 -%>

<ul class="sectionIcons">
  <%= render :partial => "subscriptions/subscribe", :locals => { :object => @sample } %>
  <% if @sample.can_manage? %>
      <li><%= image_tag_for_key('manage', edit_sample_path(@sample), "Manage Sample", nil, 'Manage Sample') %></li>
   <% elsif @sample.can_edit? %>
      <li><%= image_tag_for_key('edit', edit_sample_path(@sample), "Edit Sample", nil, 'Edit Sample') %></li>
  <% end %>
  <% if @sample.can_delete? %>
      <li><%= image_tag_for_key "destroy", sample_path(@sample), "Delete Sample", {:confirm => 'Are you sure?', :method => :delete}, "Delete Sample" -%></li>
  <% end %>
  <% if logged_in? && current_user.person.member? && Seek::Config.is_virtualliver %>
      <li><%= image_tag_for_key('new', new_object_based_on_existing_one_path(:controller_name=>"samples",:id=>@sample.id), nil, nil, 'New sample based on this one') %></li>
  <% end %>
</ul>

<%= render :partial => "layouts/item_title", :locals=>{:item=>@sample} %>

<%= render :partial => "layouts/usage_info", :locals => { :resource => @sample } -%>

<div class="show_basic">

  <div class="main_content_left_box_narrower">

    <div class="box_about_actor">
      <p>
        <label>Sample name:</label>
        <%= text_or_not_specified(@sample.title) -%>
      </p>
      <p>
        <label>Seek ID:</label>
        <%= text_or_not_specified(@sample.id) %>
      </p>
      <p>
        <label>Lab internal identifier:</label>
        <%= text_or_not_specified(@sample.lab_internal_number) %>
      </p>
      <p>
        <label>Date at sampling:</label>
        <%= text_or_not_specified @sample.sampling_date.nil? ? nil : date_as_string(@sample.sampling_date) -%>
      </p>
      <p>
        <label>Provider name:</label>
        <%= text_or_not_specified @sample.provider_name -%>
      </p>
      <p>
        <label>Provider's sample identifier:</label>
        <%= text_or_not_specified @sample.provider_id -%>
      </p>
      <p>
        <label>Organism part:</label>
        <%= text_or_not_specified @sample.organism_part -%>
      </p>
      <p>
          <label>Comment:</label>
          <%= text_or_not_specified @sample.comments -%>
        </p>
    </div>

  </div>

  <%= render :partial => "assets/resource_main_content_right", :locals => {:resource => @sample, :title => 'Owner'} %>

  <div style="clear:both">
    <br/>
    <h2><%= CELL_CULTURE_OR_SPECIMEN.capitalize -%> details</h2>

    <div class="main_content_left_box_narrower">
      <%= render :partial => "sample_specimen_details", :object => @sample.specimen %>
    </div>
    <br/>
    <%= render :partial => "assets/resource_main_content_right", :locals => {:resource => @sample.specimen, :title => 'Owner and creators'} %>
  </div>

  <div style="clear:both">
    <br/>
    <%= render :partial => "layouts/items_related_to", :object => @sample %>
  </div>

</div>
