<%
  entity=controller_name.singularize
  object=instance_variable_get("@#{entity}")
  display_asset = nil
  path_to_create_from_existing = nil
  if asset == "data_file"
    asset_object = @data_file
    display_asset = @display_data_file
    path_to_create_from_existing = create_from_existing_data_file_studied_factors_url
  elsif asset == "sop"
    asset_object = @sop
    display_asset = @display_sop
    path_to_create_from_existing = create_from_existing_sop_experimental_conditions_url
  end
%>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'studied_factors/condition_or_factor_form', locals: { asset: asset, object: object } %>
  </div>
  <div class="col-md-6">
    <%= form_tag(path_to_create_from_existing, { remote: true, id: 'create-from-existing-form' }) do -%>
      <% fses_or_ecs = fses_or_ecs_of_project asset_object, controller_name
         unless fses_or_ecs.blank? %>
        <div class="conditions_or_factors">
          <h4> Or select from:</h4>
          <% grouped_fses_or_ecs = fses_or_ecs.group_by { |fs_or_ec| fs_or_ec.measured_item.title }
             grouped_fses_or_ecs = Hash[grouped_fses_or_ecs.sort]
             grouped_fses_or_ecs.each do |measured_item, fses_or_ecs| %>

            <% link_table_name = entity + '_links'
               #remove the fs_or_ecs which have the concentration of no substance
               if measured_item == 'concentration'
                 fses_or_ecs = fses_or_ecs.reject { |fs_or_ec| fs_or_ec.send(link_table_name).blank? }
               end
               fses_or_ecs = uniq_fs_or_ec fses_or_ecs

               fses_or_ecs = fses_or_ecs.sort { |a, b| (try_block { a.send(link_table_name).first.substance.name.downcase }.to_s + a.measured_item.title) <=> (try_block { b.send(link_table_name).first.substance.name.downcase }.to_s + b.measured_item.title) }
               safe_id = measured_item.gsub(/[^a-zA-Z0-9\-_]/,'-') + 'i'
            %>
            <div id="existing-conditions">
              <ul class="measured_items">
                <li>
                  <div class="checkbox">
                  <label>
                    <input type="checkbox" id='checkbox_<%= safe_id -%>' autocomplete="off" onchange="$j('#conditions_or_factors_of_item_<%= safe_id-%>').fadeToggle();">
                    <%= measured_item -%>
                  </label>
                  </div>
                </li>
              </ul>
              <div id='conditions_or_factors_of_item_<%= safe_id -%>' class='existing_conditions_or_factors' style="display: none;">
                <%= render partial: "studied_factors/condition_or_factor_table", locals: { collection: fses_or_ecs, asset: asset, show_delete: false, show_checkbox: true} %>
              </div>
            </div>
          <% end -%>
          <%= hidden_field_tag "#{asset}_id", asset_object.id -%>
          <%= hidden_field_tag "version", display_asset.version -%>

          <div class="form-group">
            <%= submit_tag "Add", :class => 'btn btn-primary', :id => 'add_from_existing' %>
          </div>
        </div>
      <% end -%>
    <% end -%>
  </div>
</div>
