
<% remote_form_for :studied_factor ,@studied_factor,
  :url=>data_file_studied_factors_path(:data_file_id=>@data_file,:id=>@studied_factor),
  :before=>"$('studied_factor_submit').disabled=true;",
  :loaded=>"$('studied_factor_submit').disabled=false;",
  :html=>{:method=>:post} do |f| -%>


  <div class="conditions_or_factors" >
  <table >
    <tr>
      <th>Time point</th>
      <th>Measured item</th>
      <th>Unit</th>
      <th>Start value</th>
      <th>End value</th>
      <th>SD</th>
    </tr>
    <tr>

      <td><%= f.text_field :time_point,:size=>4 %></td>

      <td><%=  f.collection_select :measured_item_id, sorted_measured_items,:id,:title, {}, {:onchange => "displayCompoundTextField()"} %></td>

      <td><%=  f.collection_select :unit_id, Unit.find(:all),:id,:symbol %></td>

      <td><%= f.text_field :start_value,:size=>4 %></td>

      <td><%= f.text_field :end_value,:size=>4 %></td>

      <td><%= f.text_field :standard_deviation,:size=>4 %></td>

      <td><%= f.submit "Add" %></td>
      
      <%= hidden_field_tag "version", @display_data_file.version -%>
    </tr>

  </table>
  <div class="compound">
    <div id="facebook" class="clearfix" style="display:none">
      Substance name:
      <div tabindex="-1" id="tag_ids" class="clearfix tokenizer" onclick="$('tag_autocomplete_input').focus();">
        <span class="tokenizer_stretcher">^_^</span>
        <span class="tab_stop"><input type="text" id="tag_hidden_input" tabindex="-1"></span>
        <div id="tag_autocomplete_display" class="tokenizer_input">
          <input type="text" size="1" tabindex="" id="tag_autocomplete_input"/>
        </div>
      </div>
    </div>
    <div id="tag_autocomplete_populate" class="clearfix autocomplete typeahead_list" style="width: 600px; height: auto; overflow-y: hidden;display:none">
       <div class="typeahead_message"></div>
    </div>
    <%= render :partial=>"tagging/autocompleter_javascript", :locals=>{:name=> 'tag', :all_tags =>all_substances ,:item_tags=>[]} %>
  </div>
</div>


<% end -%>

<script type="text/javascript">
    function displayCompoundTextField(){
        //check if the selected entry is concentration
        selectedIndex = $("studied_factor_measured_item_id").selectedIndex
        option_select = $("studied_factor_measured_item_id").options[selectedIndex]

        if (option_select.text == 'concentration'){
            $('facebook').show()

        }else{
           $('facebook').hide()
        }
    }
</script>
