<% javascript_include_tag "sharing.js" -%>

<% show_delete||=false %>
<% studied_factor=factor_row -%>
<li id="studied_factor_row_<%= studied_factor.id -%>" >
  <ul class="condition_or_factor_row">
    <li id="time_point">
      <%= h studied_factor.time_point %>
    </li>

    <li id="measured_item">
      <%if  studied_factor.measured_item.title == 'concentration' and studied_factor.substance.try(:name)%>
        <%= h studied_factor.substance.name + ' ' + studied_factor.measured_item.title  %>
      <%else%>
        <%= h studied_factor.measured_item.title %>
      <%end%>
    </li>
    
    <li id="values">
      <!--don't show dimensionless unit-->
      <% if studied_factor.unit.symbol == 'dimensionless' %>
          <%= "#{h studied_factor.range_text}" %>
      <% else %>
        <%= "#{h studied_factor.range_text} #{studied_factor.unit.symbol}" %>
      <% end %>
    </li>       

    <li id="standard_deviation">
      <%= h studied_factor.standard_deviation %>
    </li>
    
    <% if show_delete %>
        <li id="delete" class="destroy_studied_factor">
           <%=  link_to_remote image("destroy",:alt=>"Delete",:title=>"Delete factor studied"),
             :url => { :action => "destroy", :id => studied_factor.id,:data_file_id=>studied_factor.data_file.id },
             :confirm=>"Are you sure?",:method=>:delete
           -%>
        </li>

        <li id="edit_on_<%= studied_factor.id -%>" >
          <%= link_to_function image(("edit"),:title=>"Start editing",:alt=>"Start editing") do |page|
             page.visual_effect :appear, "edit_factor_#{studied_factor.id}_form"
             page["edit_on_#{studied_factor.id}"].toggle
             page["edit_off_#{studied_factor.id}"].toggle

            end
          -%>
        </li>

        <li id="edit_off_<%= studied_factor.id -%>" style="display:none">
          <%= link_to_function image(("edit-off"),:title=>"Stop editing",:alt=>"Stop editing") do |page|
             page.visual_effect :fade, "edit_factor_#{studied_factor.id}_form"
             page["edit_on_#{studied_factor.id}"].toggle
             page["edit_off_#{studied_factor.id}"].toggle
            end
          -%>
        </li>
    <% end %>
    </ul>
</li>


<% if show_delete %>
    <%= render :partial => "studied_factors/edit_factor", :locals => {:studied_factor => studied_factor}-%>
<% end %>

