<% show_delete||=false %>
<% studied_factor=factor_row -%>
<li id="studied_factor_row_<%= studied_factor.id -%>" >
  <ul class="condition_or_factor_row">
    <li id="time_point">
      <%= h studied_factor.time_point %>
    </li>

    <li id="measured_item">
      <%= h studied_factor.measured_item.title %>
    </li>
    
    <li id="values">
      <%= "#{h studied_factor.range_text} #{studied_factor.unit.symbol}" %>
    </li>       

    <li id="standard_deviation">
      <%= h studied_factor.standard_deviation %>
    </li>



    
    <% style="display:none;" unless show_delete %>
    <li id="delete" class="destroy_studied_factor" style="<%= style %>">
       <%=  link_to_remote image("destroy",:alt=>"Delete",:title=>"Delete factor studied"),
         :url => { :action => "destroy", :id => studied_factor.id,:data_file_id=>studied_factor.data_file.id },
         :confirm=>"Are you sure?",:method=>:delete
       -%>
    </li>
    
  </ul>
</li>
