
<%= render :partial => "general/item_title",:locals=>{:title=>"Technology type '#{@type_class.try(:label) || params[:label]}'"} %>


<% unless @type_class.nil? -%>

    <div class="ontology_nav">

      <%= image("arrow_up",{:title=>"Parents",:alt=>"Parents",:style=>"vertical-align:middle"}) -%>
      <%= parent_technology_types_list_links @type_class.parents  -%>

      <br/>

      <%= image("current",{:title=>"Current technology type",:alt=>"Current technology type",:style=>"vertical-align:middle"}) -%>
      <%= @type_class.descriptive_label -%>

      <br/>

      <%= image("arrow_down",{:title=>"Children",:alt=>"Children",:style=>"vertical-align:middle"}) -%>
      <%= child_technology_types_list_links @type_class.children  -%>


    </div>

    <h2>Related <%= t('assays.assay').downcase.pluralize %></h2>
    <div class="list_items_container">
      <%= render :partial => "assets/resource_list_item", :collection=>@assays %>
    </div>

<% end -%>