<%= javascript_include_tag "projects" %>

<%= f.error_messages %>

<%= panel("#{t('programme')} Details") do %>
    <div class="form-group">
      <%= f.label :title -%><span class="required">*</span>
      <%= f.text_field :title, :class=>"form-control" -%>
    </div>

    <div class="form-group">
      <%= f.label "Web page"-%>
      <%= f.text_field :web_page, :class=>"form-control" -%>
    </div>

    <div class="form-group">
      <%= f.label :description -%>
      <%= f.text_area :description, :rows => 5, :class=>"form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :funding_codes -%>
      <%= tags_input('programme[funding_codes]', @programme.funding_codes, :typeahead => {:type => 'funding_code'}) %>
    </div>

    <div class="form-group">
      <%= f.label :funding_details -%>
      <%= f.text_area :funding_details, :rows => 5, :class=>"form-control" -%>
    </div>
<% end %>

<% if admin_logged_in? %>
    <%= render :partial => "projects/project_selector", :locals => { :resource => @programme,
                                                                     :allow_nil => true,
                                                                     :possibilities=>(Project.without_programme | @programme.projects) } %>
<% end %>

<% if @programme.can_manage? %>

<%= panel("#{t('programme')} Administrators") do %>
        <%= programme_administrators_input_box(@programme) %>
<% end %>


<% end %>

<%= f.submit(programme ? "Update" : "Create",:disable_with=>(programme ? "Updating..." : "Creating..."), :class => 'btn btn-primary') -%>
 or <%= cancel_button(programme ? programme_path(programme.id) : programmes_path) -%>
