<%= javascript_include_tag "projects" %>

<%= f.error_messages %>

<%= panel("#{t('programme')} Details") do %>
    <p>
      <%= f.label :title -%><br />
      <%= f.text_area :title, :class=>"title_text_entry" -%>
    </p>
    <p>
      <%= f.label "Web page"-%><br />
      <%= f.text_field :web_page, :class=>"text_entry" -%>
    </p>

    <p>
      <%= f.label :description -%><br/>
      <%= f.text_area :description, :class=>"large_text_entry"  %>
    </p>
    <p>
      <%= f.label :funding_details -%></br>
      <%= f.text_area :funding_details, :class=>"large_text_entry" -%>
    </p>
<% end %>

<%= render :partial => "projects/project_selector", :locals => { :resource => @programme, :allow_nil => true, :possibilities=>(Project.without_programme | @programme.projects) } -%>

<p>
  <%= f.submit(programme ? "Update" : "Create",:disable_with=>(programme ? "Updating..." : "Creating...")) -%>
  or <%= link_to 'Cancel', (programme ? programme_path(programme.id) : programmes_path) -%>
</p>