<%= render :partial => "general/item_title",:locals => {:item=>@programme, :title_prefix=>"Acitivation required for: "} %>

<p>
  A <%= t('programme') %> has been created by a user, and requires activation. The <%= t('programme') %> created is <%= link_to @programme.title, @programme %>.
</p>
<p>
  The administrators of the <%= t('programme') %> are:
  <ul>
    <% @programme.programme_administrators.each do |admin| %>
    <li>
      <%= link_to admin.name, admin %>
    </li>
    <% end %>
  </ul>
</p>
<% if @programme.rejected? %>
    <p>
    This <%= t('programme') %> was rejected for the following reason:

    <div class="well"><%= @programme.activation_rejection_reason %></div>

    You can either now <b>Accept</b> the <%= t('programme') %>, or instead <b>permanently Delete</b> it.
    </p>
<% else %>
<p>
  You can either <b>Accept</b> or <b>Reject</b> the <%= t('programme') %> by clicking the option below. The <%= t('programme') %> administrators will be notified of your decision, and if rejected a reason can be provided. </br>
  A rejected <%= t('programme') %> will not be automatically deleted.
</p>
<% end %>
<p>
  <%= link_to 'Accept',accept_activation_programme_path(@programme), method: :put, data: { confirm: "You are about to accept this #{t('programme')}. Are you sure?" }, class: 'btn btn-success' %>
  <% if @programme.rejected? %>
      <%= link_to 'Delete',programme_path(@programme), method: :delete, data: { confirm: "You are about to permanently delete this #{t('programme')}. Are you sure?" }, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Reject',reject_activation_confirmation_programme_path(@programme),class: 'btn btn-danger' %>
    <%= link_to('Delete without response', @programme, data: { confirm: "You are about to permanently delete this #{t('programme')}. Are you sure?" }, method: :delete, class:'btn btn-danger') %>
  <% end %>
</p>
