<h1>About to spawn a <%= t('project') %> into the <%= "#{t('programme')} '#{link_to(h(@programme.title),@programme)}'".html_safe %></h1>
<%
  show_form = !@project.nil?
  @project||=Project.new
%>

<div class="show_basic">
    <p>
      Available <%= t('project').pluralize %>:
      <%= select_tag('projects',options_from_collection_for_select(@available_projects, "id", "title",@project.ancestor_id)) -%>

    </p>
    <div id="project_details" <%= "style=display:none;" unless show_form  %>>
        <%= form_for(@project,:url=>spawn_project_programme_path(@programme)) do |f| %>
          <%= f.hidden_field :ancestor_id,:value=>@project.ancestor_id %>
          <%= f.error_messages %>
          <p>
            <%= f.label :title -%><br />
            <%= f.text_area :title, :class=>"title_text_entry" -%>
          </p>
          <p>
            <%= f.label "Web page"-%><br />
            <%= f.text_field :web_page, :class=>"text_entry" -%>
          </p>

          <p>
            <%= f.label :description -%><br/>
            <%= f.text_area :description, :class=>"large_text_entry"  %>
          </p>
          <%= submit_tag "Create" %>
        <% end %>
    </div>
    <div id="error" class="error_div alert alert-danger" style="display:none;">
        Something went wrong, please try again later.
    </div>
</div>

<script>
  $j('select#projects').change(function() {
    var project_id = $j(this).find('option:selected').val();
    $j("#errorExplanation").hide();
    $j.ajax({
        url:"/projects/"+project_id+"/",
        type: "get",
        dataType: "json",
        success: function(data) {
            var description = data["description"];
            var web_page = data["web_page"];
            $j("#project_details").show();
            $j("#error").hide();
            $j("#project_web_page").val(web_page);
            $j("#project_details  #project_description").val(description);
            $j("#project_details  #project_ancestor_id").val(project_id);
        },
        error: function() {
            $j("#error").show();
            $j("#project_details").hide();
        }
    });
  });
</script>