<%= render :partial => "general/item_title",:locals => {:item=>@programme, :buttons_partial => 'programmes/buttons'} %>


<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">

    <%= render :partial=>"activation_status" %>

    <%=  item_description @programme.description -%>

    <p>
      <strong>Web page:</strong>
      <%= text_or_not_specified(@programme.web_page,:external_link=>true) %>
    </p>

    <% if logged_in_and_registered? %>

        <p class="programme_administrators">
          <strong><%= t('programme') %> Administrators:</strong>
          <%= programme_administrator_link_list @programme -%>
        </p>

    <% end %>

    <% if @programme.funding_codes.any? %>
        <strong>Funding codes:</strong>
        <ul>
          <% @programme.funding_codes.each do |code| %>
              <li><%= code %></li>
          <% end %>
        </ul>
    <% end %>


    <strong>Funding details:</strong>
    <div class="well well-sm">
      <%= text_or_not_specified(@programme.funding_details, :description=>true,:auto_link=>true, :none_text=>"No funding details specified") %>
    </div>
  </div>

  <div class="col-md-3 col-sm-4">
    <%= render :partial => "layouts/contribution_section_box_avatar", :locals => { :object => @programme } -%>
    <% if @programme.can_manage? -%>
        <%= render :partial => 'general/storage_usage_box', locals: { programme: @programme,
                                                                      url: storage_report_programme_path(@programme)} %>
    <% end %>
  </div>
</div>

<%# get, classify and authorize all assets for this project -%>
<%= render :partial=>"general/items_related_to",:object => @programme %>
