<%
      type = @suggested_assay_type.is_for_modelling ? "modelling_analysis" : "assay"
 %>

<!--empty form tag is added here, so that the new_suggested_assay_types form below wont be ignored by some browsers, e.g. Chrome,-->
<form></form>
<div id="redbox_contents_div" class="redbox_contents " style="width:800px;">
  <div class="head">
    <%= link_to_close_redbox image_tag("close.gif"), :style => "float:right; margin-left:0.5em; vertical-align:middle;" -%>
    <span style="vertical-align:middle;">
          Create new <%= t('assays.assay').downcase %> type
    </span>
  </div>
  <div class="body">
    <div style="float:left;width: 50%">
      <ul><%= ontology_editor_display type, (@suggested_assay_type.uri.blank? ? @suggested_assay_type.default_parent_uri : @suggested_assay_type.uri) %></ul>
    </div>
     <div style="float:left;width: 50%">
       <div id= "new_suggested_assay_type_form" >
         <%= render :partial => "form", :locals => {:action => :new_popup, :type => type} -%>
       </div>
         <%= image 'large_spinner', :id => "edit_suggested_type_spinner", :style => "display: none;" %>
     </div>

  </div>
</div>

