<div class="matching_items">

  <% matching_data_items.each do |matching_data_item| %>
      <%
         data_file = DataFile.find(matching_data_item.primary_key)
         plots = data_file.latest_version.spreadsheet_annotations.select { |a| a.annotation_attribute.name=="plot_data" }
      %>
      <div class="matching_item">

        <%= list_item_title data_file -%>
        <span class="score">
                - matched by <b><%= matching_data_item.search_terms.join(", ") -%></b>
          <%= "( #{matching_data_item.score} )" if Rails.env.development? %>

            </span>

        <%= list_item_contributor data_file -%>

        <div class="box_standout">
          <%= text_or_not_specified(data_file.description, :description => true, :length => 500) -%>
        </div>

        <ul class="plots">
          <% plots.each do |plot| -%>
              <%
                 div_id = "plot_#{UUID.generate}"
                 data = tsv_to_flot_data plot.value.text
              %>

              <li id="<%= div_id -%>" class="plot"></li>
              <script type="text/javascript">
                  jQuery.noConflict();
                  var $j = jQuery;
                  $j(function () {
                      var json_data = <%= data.html_safe -%>;

                      var options = { series:{
                          curvedLines:{
                              active:true
                          }
                      }
                      };

                      $j.plot($j("#<%= div_id -%>"), json_data, options);
                  });
              </script>
          <% end -%>

        </ul>
        <div style="clear:both">&nbsp;</div>
      </div>
  <% end %>

</div>