<%= folding_panel("#{t('model')} type details") do %>
    <div class="form-group">
      <span id="model_type_info" style="display:none;"></span>
      <label><%= t('model') %> type</label>

      <span id="model_type_selection">
        <%= collection_select :model, :model_type_id, ModelType.order(:title), :id, :title,
                              {:include_blank => "Not specified"},
                              {:class => 'form-control'} -%>
      </span>
    </div>

    <div class="form-group">
      <span id="model_format_info" style="display:none;"></span>
      <label><%= t('model') %> format</label>

      <span id="model_format_selection">
        <%= collection_select :model, :model_format_id, ModelFormat.order(:title), :id, :title,
                              {:include_blank => "Not specified"},
                              {:class => 'form-control'}
        -%>
      </span>
    </div>

    <% environment_options=[['Unknown', 0]]|RecommendedModelEnvironment.order(:title).collect { |e| [h(e.title), e.id] } %>
    <div class="form-group">
      <label>Preferred execution or visualisation environment</label>
      <%= select_tag 'model[recommended_environment_id]',
                     options_for_select(environment_options, @model.recommended_environment_id),
                     :name => "model[recommended_environment_id]", :class => 'form-control'%>
    </div>
<% end %>
