

<p>
  <span id="model_type_info" style="display:none;"></span>
  <b><%= t('model') %> type:</b><br/>

  <span id="model_type_selection">
    <%= collection_select :model,
      :model_type_id,
      ModelType.all,
      :id,
      :title,
      {:include_blank=>"Not specified"},
      {:onchange=>"model_type_selection_changed();" } -%>
  </span>


</p>





<p>
  <span id="model_format_info" style="display:none;"></span>
  <b><%= t('model') %> format:</b><br/>

  <span id="model_format_selection">
    <%= collection_select :model, :model_format_id, ModelFormat.all, :id, :title,
      {:include_blank=>"Not specified"},
      {:onchange=>"model_format_selection_changed();" }
    -%>
  </span>

</p>






<%
environment_options=[['Unknown', 0]]|RecommendedModelEnvironment.all.collect{|e| [h(e.title), e.id]}
%>
<p>
  <b>Preferred execution or visualisation environment:</b><br/>
  <%= select_tag 'model[recommended_environment_id]',
    options_for_select(environment_options, @model.recommended_environment_id),
    {
    :name=>"model[recommended_environment_id]"
  }
%>
</p>

<script type="text/javascript">
<%
ModelFormat.all.each do |format|
  if (format.models.empty?)
    -%>
      model_formats_for_deletion.push(<%=  format.id -%>);
  <%
  end
end

%>

<%
ModelType.all.each do |type|
  if (type.models.empty?)
    -%>
      model_types_for_deletion.push(<%=  type.id -%>);
  <%
  end
end

%>

</script>