<%# this should be set by the caller, this is an extra check -%>
<% resource=resource_list_item %>
<% odd_row ||= false -%>
<% narrow_view ||= false -%>

<table class="list_item">
  <tr class="<%= odd_row ? "odd_row" : "even_row" -%>">
    <td style="width: 125px;">
      <p style="margin-top:0; padding-top:0; text-align: center;"><b>Uploader:</b></p>
      <center><%= contributor(resource.asset.contributor, true, 60) -%></center>
    </td>

    <td style="text-align: left;">
      <p class="title">
        <%= icon "model", nil, nil, nil, '' -%>
        <% title = h(resource.title) -%>
        <%= link_to(title, model_path(resource)) -%>
      </p>

      <p style="font-size:85%; margin-top: 0.3em; padding-top: 0;">
        <b>Associated project: </b>
        <%= (resource.project ? link_to(h(resource.project.name), project_path(resource.project.id)) : "<span class='none_text'>None</span>" ) -%>
      </p>

      <p style="font-size:85%; margin-top: 0.3em; padding-top: 0;">
        <b>Organism:</b>
        <% if resource.organism -%>
          <%=organism_link_to resource.organism -%>
        <% else -%>
          <span class="none_text">Unknown</span>
        <% end -%>
      </p>

      <p style="font-size:85%; margin-top: 0.3em; padding-top: 0;">
        <b>Model type:</b> <%= model_type_text resource.model_type %>
        <%= narrow_view ? "<br/>" : " | " -%>
        <b>Model format:</b> <%= model_format_text resource.model_format %>
      </p>
      
      <p style="font-size:85%; margin-top: 0.3em; padding-top: 0;">
        <b>Environment:</b> <%= model_environment_text resource %>
      </p>

      <p style="font-size: 85%; margin-top: 0.4em;">
        <b>Created:</b> <%= resource.asset.created_at.strftime('%d/%m/%Y @ %H:%M:%S') -%>
        <% unless resource.asset.created_at == resource.asset.updated_at -%>
          <%= narrow_view ? "<br/>" : " | " -%>
          <b>Last updated:</b> <%= resource.asset.updated_at.strftime('%d/%m/%Y @ %H:%M:%S') -%>
        <% end %>
      </p>

      <div class="desc" style="font-size: 85%;">
        <% unless resource.description.blank? -%>
          <%= truncate(auto_link(white_list(resource.description)), :length=>500) -%>
        <% else -%>
          <span class="none_text">No description</span>
        <% end -%>
      </div>

      <p style="font-size:85%;">
        <b>Format: </b>
        <%= h(resource.content_type) -%>
      </p>
    </td>

    <td class="actions" style="width: 80px;">
      <%= icon "show", model_path(resource), nil, nil, "View" -%>
      <% if Authorization.is_authorized?("download", nil, resource, current_user) -%>
        <%= icon "download", download_model_path(resource) -%>
      <% end -%>
      <% if Authorization.is_authorized?("manage", nil, resource, current_user) -%>
        <%= icon "manage", edit_model_path(resource), nil, nil, "Manage" -%>
      <% elsif Authorization.is_authorized?("edit", nil, resource, current_user) -%>
        <%= icon "edit", edit_model_path(resource), nil, nil, "Edit" -%>
      <% end -%>
    </td>

  </tr>
</table>