<h1>
  Annotator
</h1>

Param Keys = <%= @params_hash.keys.join(", ") -%>
<br/>
Species annotations keys = <%= @species_annotations.keys.join(", ") -%>
<br/>
Reaction annotation keys = <%= @reaction_annotations.keys.join(", ") -%>
<br/>
Search results keys = <%= @search_results.keys.join(", ") -%>
<br/>
Cached annotation keys = <%= @cached_annotations.keys.join(", ") -%>