<%= javascript_include_tag "jws/JWSconstructor_panels.js","jws/webMathematica.js","jws/addEvent.js","jws/sweetTitles.js","jws/Resizeable_Textbox/javascript.js","jws/Resizeable_Container/javascript.js","jws/jws_builder.js","jws/jws_annotator.js" -%>

<%= stylesheet_link_tag 'jws/JWSconstructor_panels','jws/Resizeable_Textbox/style.css','jws/Resizeable_Container/style.css','jws/jws_builder.css',"jws/jws_annotator.css" -%>

<%= render :partial=>"models/builder/annotator_header" -%>

<div class="show_basic">
    <div class="yui-gf">
        <div class="yui-u first builder_actions" style="width:19%;">
          <h6>Store annotations</h6>
          <input type="Button" id="submit_annotations_button" value="Store" onclick="create_annotator_panel_cookies();submit_annotations();">
          <div style="padding-bottom:1em;"></div>
        </div>
        <div class="yui-u" style="width: 80%; height: 100%; margin-left: 0.1em;">
          <% if @search_results.error_code != "0" -%>
              <div class="jws_errors">
                Error: <%= @search_results.search_status -%>
              </div>
         <% end -%>

    <% form_tag submit_to_jws_model_path(@model,:version=>@display_model.version),:name=>"form",:id=>"form" do -%>
            <%= jws_annotator_hidden_fields @params_hash -%>
            <%= hidden_field_tag :following_action, "" -%>
            <%= hidden_field_tag :nameToSearch, "" -%>


    <%= render :partial=>"models/builder/annotation_box",:locals=>{:prefix=>"species",:title=>"Annotations for species",:type=>"species",:cached_annotations=>@cached_annotations, :annotation_hash=>@species_annotations} -%>

    <%= render :partial=>"models/builder/annotation_box",:locals=>{:prefix=>"reactions",:title=>"Annotations for processes",:type=>"reactions", :annotation_hash=>@reaction_annotations} -%>

    <%= render :partial=>"models/builder/attribution_annotations_box",:locals=>{:annotations=>@attribution_annotations} -%>

    <% end -%>
        </div>
    </div>
</div>


<script type="text/javascript">
<% if @search_results -%>
<%
   prefix = @species_annotations.keys.include?(@search_results.selected_symbol) ? "species" : "reactions"
-%>
   triplets = new Array();
    <% @search_results.results.each do |triplet| -%>
        triplet = {"urn" : '<%= triplet.urn -%>',"full_name" : '<%= escape_javascript(triplet.full_name) -%>' , "qualifier" : '<%= triplet.qualifier -%>' };
        triplets.push(triplet);
    <% end -%>
    store_search_results(triplets);
    display_search_results('<%= prefix -%>','<%= @search_results.selected_symbol -%>','<%= @search_results.search_term -%>',triplets);

<% end -%>
   read_annotator_panel_cookies();
</script>
