<%= javascript_include_tag "jws/JWSconstructor_panels.js","jws/webMathematica.js","jws/addEvent.js","jws/sweetTitles.js","jws/Resizeable_Textbox/javascript.js","jws/Resizeable_Container/javascript.js","jws/jws_builder.js","jws/jws_annotator.js" -%>

<%= stylesheet_link_tag 'jws/JWSconstructor_panels','jws/Resizeable_Textbox/style.css','jws/Resizeable_Container/style.css','jws/jws_builder.css',"jws/jws_annotator.css" -%>



<h1>
  Annotator
</h1>

<script type="text/javascript">

</script>
<div class="show_basic">
<% if @search_results  -%>
    Search Term: <%= @search_results.search_term -%><br/>
    Selected Symbol = <%= @search_results.selected_symbol -%><br/>
    Results size = <%= @search_results.results.size -%><br/>
    Error code = <%= @search_results.error_code -%><br/>
    Search Status = <%= @search_results.search_status -%><br/>
<% end -%>

<input type="Button" id="submit_annotations_button" value="Submit" onclick="submit_annotations();">

<% form_tag submit_to_jws_model_path(@model,:version=>@display_model.version),:name=>"form",:id=>"form" do -%>
        <%= jws_annotator_hidden_fields @params_hash -%>
        <%= hidden_field_tag :following_action, "" -%>
        <%= hidden_field_tag :nameToSearch, "" -%>


<%= render :partial=>"models/builder/annotation_box",:locals=>{:prefix=>"species",:title=>"Annotations for species",:type=>"species",:cached_annotations=>@cached_annotations, :annotation_hash=>@species_annotations} -%>

<%= render :partial=>"models/builder/annotation_box",:locals=>{:prefix=>"reactions",:title=>"Annotations for processes",:type=>"reactions", :annotation_hash=>@reaction_annotations} -%>

<% end -%>
</div>

<script type="text/javascript">
<% if @search_results -%>
<%
   prefix = @species_annotations.keys.include?(@search_results.selected_symbol) ? "species" : "reactions"
-%>
   triplets = new Array();
    <% @search_results.results.each do |triplet| -%>
        triplet = {"urn" : '<%= triplet.urn -%>',"full_name" : '<%= escape_javascript(triplet.full_name) -%>' , "qualifier" : '<%= triplet.qualifier -%>' };
        triplets.push(triplet);
    <% end -%>
    store_search_results(triplets);
    display_search_results('<%= prefix -%>','<%= @search_results.selected_symbol -%>','<%= @search_results.search_term -%>',triplets);

<% end -%>
</script>
