<!-- JWS CONSTRUCTOR -->

<%= javascript_include_tag "jws/JWSconstructor_panels.js","jws/webMathematica.js","jws/addEvent.js","jws/sweetTitles.js","jws/Resizeable_Textbox/javascript.js","jws/Resizeable_Container/javascript.js","jws/jws_builder.js" -%>

<%= stylesheet_link_tag 'jws/JWSconstructor_panels','jws/Resizeable_Textbox/style.css','jws/Resizeable_Container/style.css','jws/sweetTitles.css','jws/jws_builder' -%>
<style>
    .builder_box {
        width: 50em;
        padding: 3px;
        float: left;
    }				
</style>
<ul class="sectionIcons">
    <li>
        <%= image_tag_for_key('back', model_path(@model,:version=>@display_model.version), nil, nil, "Back to model") -%>
    </li>
</ul>
<%= render :partial=>"models/builder/header" -%>
<div class="yui-gf">
    <div class="yui-u first builder_actions" style="width:19%;">
        <!-- Simulate action --><h6>Simulate</h6>
        <input type=checkbox name="steadystate" id="steadystate" />Steady State Analysis?
        <br/>
        <input value="Simulate" type="button" alt="Simulate" title="" id="simulate_button" onclick="create_panel_cookies();simulate_clicked();"/>
        <br/>
        <br/>
        <!-- Save new version action --><h6>Save as new version</h6>
        Model format: <%= select_tag "model_format","<option value='sbml'>SBML</option><option value='dat'>JWS Dat</option>" -%>
        <br/>
        <input value="Save" type="button" alt="Save" title="" id="new_version_button" onclick="create_panel_cookies();save_new_version_extra_options();"/>
        <br/>
        <br/>
        <!-- Validate -->
        <h6>Validate</h6>
        <div>
            <input value="Check" type="button" alt="Check" title="Check the modified values are valid" id="check_button" onclick="create_panel_cookies();check_clicked();"/>
        </div>
        <br/>
        <!-- Annotator -->
        <h6>Annotator</h6>
        <div>
            <input value="Annotate" type="button" alt="Check" title="Allows you to interactively add MIRIAM annotations" id="annotate_button" onclick="create_panel_cookies();annotate_clicked();"/>
        </div>
        <br/>
    </div>
    <div class="yui-u" style="width: 80%; height: 100%; margin-left: 0.1em;">
		<button onclick="toggleContent()" title="Opens or closes all the input panels simultaneously">
            Open/Close all panels
        </button>
        <% recognised_errors = @error_keys.collect{|k| jws_key_to_text(k)}.compact -%>
        <% if recognised_errors.empty? -%>
			<div class="jws_success">
	            Model validated successfully.
	        </div>
		<% else -%>
	        <div class="jws_errors">
	            There were problems reported with: <%= join_with_and(recognised_errors) -%>
	        </div>
	        <script type="text/javascript">
	            $('simulate_button').disabled = true;
	            $('new_version_button').disabled = true;
	        </script>
        <% end -%>
        
        <% form_tag submit_to_jws_model_path(@model,:version=>@display_model.version),:name=>"form",:id=>"form" do -%>
        <input type="hidden" name="new_version_comments" id="new_version_comments" value=""/><input type="hidden" name="new_version_filename" id="new_version_filename" value=""/><input type="hidden" name="following_action" id="following_action" value=""/><input type="hidden" name="saved_model_format" id="saved_model_format" value=""/><input type="hidden" name="steadystateanalysis" id="steadystateanalysis"/>
        <br/>
        <br/>
        <div>
          <%= render :partial=>"models/builder/builder_box",
                       :locals=>{
                               :title=>"Model name",:prefix=>"name",:key=>"modelname",:javascript_var=>"rtmodelname",
                               :help_button=>{
                                       :title=>"Examples for model names are: model1, westerhoff2010",
                                       :text=>"Model name help",
                                       :link_url=>"http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpName.html",
                                       :link_title=>"model name help window"
                               }
                       } -%>
            <%= render :partial=>"models/builder/hidden_attribution_annotation_fields",:locals=>{:annotations=>@attribution_annotations} -%>
            <div id="reactions_top" class="builder_box">
                <div class="squarebox">
                    <div id="reactions_caption" class="squareboxgradientcaption" onclick="togglePanel('reactions');" style="height:20px; cursor: pointer;">
                        <div style="float: left">
                            Reactions
                        </div>
                        <div style="float: right; vertical-align: middle">
                            <%= image_tag "jws/expand.gif", :border=>"0",:height=>"14",:alt=>"Show/Hide",:width=>"13", :id=>"reactions_chevron"-%>
                        </div>
                    </div>
                    <div class="squareboxcontent" id="reactions_panel" style="display: none">
                        <!-- reactions script -->
                        <script type="text/javascript">
                            var rtreaction = new ResizeableTextbox('reaction');
                            rtreaction.SetText("<%= @params_hash['reaction'] -%>");
                            rtreaction.GetContainer().style.left = '10px';
                            rtreaction.GetContainer().style.top = '10px';
                            rtreaction.SetCurrentWidth(600);
							rtreaction.SetCurrentHeight(300);
                            rtreaction.SetMaxWidth(600);
                            rtreaction.SetMaxHeight(800);
                        </script>
                        <p>
                            <button title="Examples of model reactions:<br> v[1] {1}$sink + {1.5}b = {1}c + {1}d <br> vGLK {1}glc + {1}ATP = {1}g6p + {1}ADP" onclick="window.open('http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpReactions.html','model reactions help window', 'width=400,height=600,toolbar=0'); return false;">
                                Reactions help
                            </button>
                            <input value="Show schema" type="button" onclick="create_panel_cookies();$('plotGraphPanel').value='on';this.form.submit();" alt="Evaluate" width="175" />&nbsp;<input value="Hide schema" type="button" onclick="create_panel_cookies();$('plotGraphPanel').value='off';this.form.submit();" alt="Evaluate" width="175" /><!-- resizable? script -->
                            <% if @objects_hash["reactionImage"] -%>
                                <%= render :partial=>"models/builder/schema_navigate" -%>
                            <% end -%>
                            <%= render :partial=>"models/builder/object_block",
                                :locals=>{:objects_hash=>@objects_hash,:key=>"reactionImage",:hidden_id=>"plotGraphPanel",:object_element_id=>"svgObj",:javascript_var=>"rc"} -%>
                        </p>
                    </div>
                </div>
                <%= simple_image_tag_for_key "jws_shadow",:height=>"10",:width=>"100%" -%>

            </div>
            <div id="equations_top" class="builder_box">
                <div class="squarebox">
                    <div id="equations_caption" class="squareboxgradientcaption" onclick="togglePanel('equations');" style="height:20px; cursor: pointer;">
                        <div style="float: left">
                            Rate equations
                        </div>
                        <div style="float: right; vertical-align: middle">
                            <%= image_tag "jws/expand.gif", :border=>"0",:height=>"14",:alt=>"Show/Hide",:width=>"13", :id=>"equations_chevron"     -%>
                        </div>
                    </div>
                    <div class="squareboxcontent" id="equations_panel" style="display: none">
                        <!-- equations script -->
                        <script type="text/javascript"> 
						var rtkinetics = new ResizeableTextbox('kinetics');
						rtkinetics.SetText("<%= @params_hash['kinetics'] -%>");
						rtkinetics.GetContainer().style.left = '10px';
						rtkinetics.GetContainer().style.top = '10px';
						rtkinetics.SetCurrentWidth(600);
						rtkinetics.SetCurrentHeight(300);
						rtkinetics.SetMaxWidth(600);
						rtkinetics.SetMaxHeight(800);
					</script>
                        <p>
                        </p>
                        <p>
                            <button title="Examples of rate equations:<br> v[1] = k1*sink*a[t]/(a[t]+Kma)-k2*c[t]*d[t]<br> vGLK = Vm*glc[t]/(KmGLKglc+glc[t])" onclick="window.open('http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpRateEquations.html','model rate equations help window', 'width=400,height=600,toolbar=0'); return false;">
                                Rate equations help
                            </button>
                            <input value="Show eqs graph" type="button" onclick="create_panel_cookies();$('plotKineticsPanel').value='on';this.form.submit();" alt="Evaluate" width="175" />&nbsp;<input value="Hide eqs graph" type="button" onclick="create_panel_cookies();$('plotKineticsPanel').value='off';this.form.submit();" alt="Evaluate" width="175" /><!-- resizable_2 script -->

                            <%= render :partial=>"models/builder/object_block",
                                :locals=>{:objects_hash=>@objects_hash,:key=>"kineticsImage",:hidden_id=>"plotKineticsPanel",:object_element_id=>"resizeableElement2",:javascript_var=>"rc2"} -%>
                        </p>
                    </div>
                </div><%= simple_image_tag_for_key "jws_shadow",:height=>"10",:width=>"100%" -%>
            </div>

            <%= render :partial=>"models/builder/builder_box",:locals=>{:title=>"Annotations for processes",:prefix=>"annotated_reactions",:key=>"annotationsReactions",:javascript_var=>"rtAnnotatedReactions"} -%>

            <%= render :partial=>"models/builder/builder_box",:locals=>{:title=>"Annotations for species",:prefix=>"annotated_species",:key=>"annotationsSpecies",:javascript_var=>"rtAnnotatedSpecies"} -%>

            <%= render :partial=>"models/builder/builder_box",
                       :locals=>{
                               :title=>"Initial values",:prefix=>"initial",:key=>"initVal",:javascript_var=>"rtinitVal",
                               :help_button=>{
                                       :title=>"Example of variable initialisations:<br> x[0] = 1<br> g6p[0] = 1.4 ",
                                       :text=>"Inital values help",
                                       :link_url=>"http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpInitVals.html",
                                       :link_title=>"model parameter values help window"
                               }
                       } -%>

            <%= render :partial=>"models/builder/builder_box",
                       :locals=>{
                               :title=>"Parameter values",:prefix=>"parameters",:key=>"parameterset",:javascript_var=>"rtparameterset",
                               :help_button=>{
                                       :title=>"Example of parameter initialisations:<br> k1 = 1<br> k2 = 3 ",
                                       :text=>"Parameters help",
                                       :link_url=>"http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpParameters.html",
                                       :link_title=>"model parameter values help window"
                               }
                       } -%>

            <%= render :partial=>"models/builder/builder_box",
                       :locals=>{
                               :title=>"Assignment rules",:prefix=>"assignments",:key=>"assignmentRules",:javascript_var=>"rtassignmentRules",
                               :help_button=>{
                                       :title=>"Examples of assignment rules are:<br>totalP := P1[t]+P2[t]<br> a := a[t]+Sin[t] ",
                                       :text=>"Assignment rules help",
                                       :link_url=>"http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpAssignmentRules.html",
                                       :link_title=>"model assignments rules help window"
                               }
                       } -%>

            <%= render :partial=>"models/builder/builder_box",
                       :locals=>{
                               :title=>"Functions",:prefix=>"functions",:key=>"functions",:javascript_var=>"rtfunctions",
                               :help_button=>{
                                       :title=>"Examples of functions are:<br> mmKin[vm_,s_,kms_] := vm*s/(s+kms)<br>aFree[tot_]:=tot-a[t]",
                                       :text=>"Functions help",
                                       :link_url=>"http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpFunctions.html",
                                       :link_title=>"model functions help window"
                               }
                       } -%>

            <%= render :partial=>"models/builder/builder_box",
                       :locals=>{
                               :title=>"Events",:prefix=>"events",:key=>"events",:javascript_var=>"rtevents",
                               :help_button=>{
                                       :title=>"Examples of events are:<br> ?",
                                       :text=>"Events help",
                                       :link_url=>"http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpEvents.html",
                                       :link_title=>"model events help window"
                               }
                       } -%>
            
            
            
        </div><% end -%>
    </div>
</div><!-- JWS CONSTRUCTOR END -->
<script type="text/javascript">
    map_rt_elements();
    read_panel_cookies();    
</script>

<%= render :partial=>"models/builder/new_version_details" -%>
<% @error_keys.collect{|err_key| jws_key_to_prefix(err_key)}.compact.each do |prefix| -%>
<script type="text/javascript">
    highlight_error("<%= prefix -%>");
</script>
<% end -%>