<!-- JWS CONSTRUCTOR -->
<script src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/JWSconstructor_panels.js" language="javascript" type="text/javascript">
</script>
<script src="http://jjj.mib.ac.uk/webMathematica/Resources/JavaScript/webMathematica.js" type="text/javascript">
</script>
<script src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/addEvent.js" type="text/javascript">
</script>
<script src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/sweetTitles.js" type="text/javascript">
</script>
<script src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/Resizeable_Textbox/javascript.js" type="text/javascript">
</script>
<script src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/Resizeable_Container/javascript.js" type="text/javascript">
</script>
<link href="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/JWSconstructor_panels.css" rel="stylesheet" type="text/css" />
<link href="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/Resizeable_Textbox/style.css" rel="stylesheet" media="screen" type="text/css" />
<link href="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/Resizeable_Container/style.css" rel="stylesheet" media="screen" type="text/css" />
<link href="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/sweetTitles.css" rel="stylesheet" media="screen" type="text/css" />
<style type="text/css" media="screen,projection">
    
    .rtTextArea {
        font-size: 10pt;		
    }
    
    .builder_box {
        width: auto;
        padding: 3px;
        float: left;
    }
    
    div.builder_actions {
        border-right: 1px #999 solid;
        border-bottom: 1px #999 solid;
        text-align: center;
        height: 100%;
    }
    
    div.builder_actions h6 {
        background-color: #EEE;
        width: 100%;
        margin-bottom: 0.5em;
        padding-top: 0.4em;
        border-top: solid 1px #999;
        border-bottom: solid 1px #BBB;
        height: 1.5em;
        vertical-align: middle;
    }
    
    div.jws_errors {
        color: red;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 1em;
    }
</style>
<ul class="sectionIcons">
    <li>
        <%= image_tag_for_key('back', model_path(@model,:version=>@display_model.version), nil, nil, "Back to model") -%>
    </li>
</ul>
<%= render :partial=>"models/builder/header" -%>

<div class="yui-gf">
    <div class="yui-u first builder_actions" style="width:19%;">
        <!-- Simulate action --><h6>Simulate</h6>
        <input type=checkbox name="steadystate" id="steadystate" />Steady State Analysis?
        <br/>
        <input value="Simulate" type="button" alt="Simulate" title="" id="simulate_button" onclick="simulate_clicked();"/>
        <br/>
        <br/>
        <!-- Save new version action --><h6>Save as new version</h6>
        Model format: <%= select_tag "model_format","<option value='dat'>JWS Dat</option><option value='sbml' disabled='true'>SBML</option>" -%>
        <br/>
        <input value="Save" type="button" alt="Save" title="" id="new_version_button" onclick="save_new_version_clicked();"/>
        <br/>
        <br/>
        <!-- Check --><h6>Check</h6>
        <div>
            <input value="Check" type="button" alt="Check" title="Check the modified values are valid" id="check_button" onclick="check_clicked();"/>
        </div>
        <br/>
    </div>
    <div class="yui-u" style="width: 80%; height: 100%; margin-left: 0.1em;">
        <% unless @error_keys.empty? -%>
			<div class="jws_errors">
	            There were problems reported with: <%= join_with_and(@error_keys.collect{|k| jws_key_to_text(k)}) -%>
	        </div>
			<script type="text/javascript">
				$('simulate_button').disabled=true;
				$('new_version_button').disabled=true;
			</script>
		<% end -%>
		
        <button onclick="toggleContent()" title="Opens or closes all the input panels simultaneously">
            Open/Close all panels
        </button>
        <% form_tag submit_to_jws_model_path(@model,:version=>@display_model.version),:name=>"form",:id=>"form" do -%>
        <input type="hidden" name="following_action" id="following_action" value=""/><input type="hidden" name="saved_model_format" id="saved_model_format" value=""/><input type="hidden" name="steadystateanalysis" id="steadystateanalysis"/>
        <br/>
        <br/>
        <div>
            <div id="name_top" class="builder_box">
                <div class="squarebox">
                    <div class="squareboxgradientcaption" onclick="togglePanel('name');" style="height:20px; cursor: pointer;">
                        <div style="float: left">
                            Model name
                        </div>
                        <div style="float: right; vertical-align: middle">
                            <img id="name_chevron" title="Show/Hide" src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/expand.gif" border="0" height="14" alt="Show/Hide" width="13" />
                        </div>
                    </div>
                    <div class="squareboxcontent" id="name_panel" style="display: none">
                        <!-- model name script -->
                        <%= @data_script_hash["modelname"] -%>
                        <p>
                            <button title="Examples for model names are: model1, westerhoff2010" onclick="window.open('http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpName.html','model name help window', 'width=300,height=300,toolbar=0'); return false;">
                                Model name help
                            </button>
                        </p>
                    </div>
                </div>
                <img src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/shadow2.gif" height="20" alt="" width="100%" />
            </div>
            <div class="builder_box">
                <div class="squarebox">
                    <div class="squareboxgradientcaption" onclick="togglePanel('reactions');" style="height:20px; cursor: pointer;">
                        <div style="float: left">
                            Reactions
                        </div>
                        <div style="float: right; vertical-align: middle">
                            <img id="reactions_chevron" title="Show/Hide" src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/expand.gif" border="0" height="14" alt="Show/Hide" width="13" />
                        </div>
                    </div>
                    <div class="squareboxcontent" id="reactions_panel" style="display: none">
                        <!-- reactions script -->
                        <%= @data_script_hash["reactions"] -%>
                        <p>
                            <button title="Examples of model reactions:<br> v[1] {1}$sink + {1.5}b = {1}c + {1}d <br> vGLK {1}glc + {1}ATP = {1}g6p + {1}ADP" onclick="window.open('http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpReactions.html','model reactions help window', 'width=400,height=600,toolbar=0'); return false;">
                                Reactions help
                            </button>
                            <input value="Show schema" type="button" onclick="$('plotGraphPanel').value='on';this.form.submit();" alt="Evaluate" width="175" /><input value="Hide schema" type="button" onclick="$('plotGraphPanel').value='off';this.form.submit();" alt="Evaluate" width="175" /><!-- resizable? script -->
                            <% if @objects_hash["resizeableElement"] -%>
                            <%= hidden_field_tag "plotGraphPanel","on" -%>
                            <%= @objects_hash["resizeableElement"] -%>
                            <%= @data_script_hash["resizable"] -%>
                            <% else -%>
                            <%= hidden_field_tag "plotGraphPanel","off" -%>
                            <% end -%>
                        </p>
                    </div>
                </div><img src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/shadow2.gif" height="20" alt="" width="100%" />
            </div>
            <div class="builder_box">
                <div class="squarebox">
                    <div class="squareboxgradientcaption" onclick="togglePanel('equations');" style="height:20px; cursor: pointer;">
                        <div style="float: left">
                            Rate equations
                        </div>
                        <div style="float: right; vertical-align: middle">
                            <img id="equations_chevron" title="Show/Hide" src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/expand.gif" border="0" height="14" alt="Show/Hide" width="13" />
                        </div>
                    </div>
                    <div class="squareboxcontent" id="equations_panel" style="display: none">
                        <!-- equations script -->
                        <%= @data_script_hash["equations"] -%>
                        <p>
                        </p>
                        <p>
                            <button title="Examples of rate equations:<br> v[1] = k1*sink*a[t]/(a[t]+Kma)-k2*c[t]*d[t]<br> vGLK = Vm*glc[t]/(KmGLKglc+glc[t])" onclick="window.open('http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpRateEquations.html','model rate equations help window', 'width=400,height=600,toolbar=0'); return false;">
                                Rate equations help
                            </button>
                            <input value="Show eqs graph" type="button" onclick="$('plotKineticsPanel').value='on';this.form.submit();" alt="Evaluate" width="175" /><input value="Hide eqs graph" type="button" onclick="$('plotKineticsPanel').value='off';this.form.submit();" alt="Evaluate" width="175" /><!-- resizable_2 script -->
                            <% if @objects_hash["resizeableElement2"] -%>
                            <%= hidden_field_tag "plotKineticsPanel","on" -%>
                            <%= @objects_hash["resizeableElement2"] -%>
                            <%= @data_script_hash["resizable_2"] -%>
                            <% else -%>
                            <%= hidden_field_tag "plotKineticsPanel","off" -%>
                            <% end -%>
                        </p>
                    </div>
                </div><img src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/shadow2.gif" height="20" alt="" width="100%" />
            </div>
            <div class="builder_box">
                <div class="squarebox">
                    <div class="squareboxgradientcaption" onclick="togglePanel('initial');" style="height:20px; cursor: pointer;">
                        <div style="float: left">
                            Initial values
                        </div>
                        <div style="float: right; vertical-align: middle">
                            <img id="initial_chevron" title="Show/Hide" src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/expand.gif" border="0" height="14" alt="Show/Hide" width="13" />
                        </div>
                    </div>
                    <div class="squareboxcontent" id="initial_panel" style="display: none">
                        <!-- initial values script -->
                        <%= @data_script_hash["initial"] -%>
                        <p>
                            <button title="Example of variable initialisations:<br> x[0] = 1<br> g6p[0] = 1.4 " onclick="window.open('http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpInitVals.html','model parameter values help window', 'width=300,height=300,toolbar=0'); return false;">
                                Initial values help
                            </button>
                        </p>
                    </div>
                </div>
                <img src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/shadow2.gif" height="20" alt="" width="100%" />
            </div>
            <div class="builder_box">
                <div class="squarebox">
                    <div class="squareboxgradientcaption" onclick="togglePanel('parameters');" style="height:20px; cursor: pointer;">
                        <div style="float: left">
                            Parameter values
                        </div>
                        <div style="float: right; vertical-align: middle">
                            <img id="parameters_chevron" title="Show/Hide" src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/expand.gif" border="0" height="14" alt="Show/Hide" width="13" />
                        </div>
                    </div>
                    <div class="squareboxcontent" id="parameters_panel" style="display: none">
                        <!--parameters script -->
                        <%= @data_script_hash["parameters"] -%>
                        <p>
                            <button title="Example of parameter initialisations:<br> k1 = 1<br> k2 = 3 " onclick="window.open('http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpParameters.html','model parameter values help window', 'width=300,height=300,toolbar=0'); return false;">
                                Parameters help
                            </button>
                        </p>
                    </div>
                </div>
                <img src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/shadow2.gif" height="20" alt="" width="100%" />
            </div>
            <div class="builder_box">
                <div class="squarebox">
                    <div class="squareboxgradientcaption" onclick="togglePanel('assignments');" style="height:20px; cursor: pointer;">
                        <div style="float: left">
                            Assignment rules
                        </div>
                        <div style="float: right; vertical-align: middle">
                            <img id="assignments_chevron" title="Show/Hide" src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/expand.gif" border="0" height="14" alt="Show/Hide" width="13" />
                        </div>
                    </div>
                    <div class="squareboxcontent" id="assignments_panel" style="display: none">
                        <!-- rules script -->
                        <%= @data_script_hash["rules"] -%>
                        <p>
                            <button title="Examples of assignment rules are:<br>totalP := P1[t]+P2[t]<br> a := a[t]+Sin[t]  " onclick="window.open('http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpAssignmentRules.html','model assignments rules help window', 'width=300,height=300,toolbar=0'); return false;">
                                Assignment rules help
                            </button>
                        </p>
                    </div>
                </div>
                <img src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/shadow2.gif" height="20" alt="" width="100%" />
            </div>
            <div class="builder_box">
                <div class="squarebox">
                    <div class="squareboxgradientcaption" onclick="togglePanel('functions');" style="height:20px; cursor: pointer;">
                        <div style="float: left">
                            Functions
                        </div>
                        <div style="float: right; vertical-align: middle">
                            <img id="functions_chevron" title="Show/Hide" src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/expand.gif" border="0" height="14" alt="Show/Hide" width="13" />
                        </div>
                    </div>
                    <div class="squareboxcontent" id="functions_panel" style="display: none">
                        <!-- functions script -->
                        <%= @data_script_hash["functions"] -%>
                        <p>
                            <button title="Examples of functions are:<br> mmKin[vm_,s_,kms_] := vm*s/(s+kms)<br>aFree[tot_]:=tot-a[t]" onclick="window.open('http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpFunctions.html','model functions help window', 'width=300,height=500,toolbar=0'); return false;">
                                Functions help
                            </button>
                        </p>
                    </div>
                </div>
                <img src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/shadow2.gif" height="20" alt="" width="100%" />
            </div>
            <div class="builder_box">
                <div class="squarebox">
                    <div class="squareboxgradientcaption" onclick="togglePanel('events');" style="height:20px; cursor: pointer;">
                        <div style="float: left">
                            Events
                        </div>
                        <div style="float: right; vertical-align: middle">
                            <img id="events_chevron" title="Show/Hide" src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/expand.gif" border="0" height="14" alt="Show/Hide" width="13" />
                        </div>
                    </div>
                    <div class="squareboxcontent" id="events_panel" style="display: none">
                        <!-- events script -->
                        <%= @data_script_hash["events"] -%>
                        <p>
                            <button title="Examples of events are:<br> ?" onclick="window.open('http://jjj.mib.ac.uk/webMathematica//Examples/JWSconstructor_panels/text/helpEvents.html','model events help window', 'width=300,height=500,toolbar=0'); return false;">
                                Events help
                            </button>
                        </p>
                    </div>
                </div>
                <img src="http://jjj.mib.ac.uk/webMathematica/Examples/JWSconstructor_panels/images/shadow2.gif" height="20" alt="" width="100%" />
            </div>
        </div><% end -%>
    </div>
</div><!-- JWS CONSTRUCTOR END -->
<script type="text/javascript">
    
    setTheDivStyle();
    
    function check_clicked(){
        $('check_button').value = "Submitting ...";
        $('check_button').disabled = true;
        $('form').submit();
    }
    
    function simulate_clicked(){
        $('simulate_button').value = "Submitting ...";
        $('simulate_button').disabled = true;
        $('steadystateanalysis').value = $('steadystate').value;
        $('form').following_action.value = "simulate";
        $('form').submit();
    }
    
    function save_new_version_clicked(){
        $('new_version_button').value = "Submitting ...";
        $('new_version_button').disabled = true;
        $('form').following_action.value = "save_new_version";
        $('form').saved_model_format.value = $('model_format').value;
        $('form').submit();
    }
    
    function togglePanel(panel_name){
        Effect.toggle(panel_name + "_panel", "blind", {
            duration: 0.25
        });
        chevron = $(panel_name + "_chevron")
        var expand = (chevron.src.indexOf("expand.gif") > 0);
        chevron.src = chevron.src.split(expand ? "expand.gif" : "collapse.gif").join(expand ? "collapse.gif" : "expand.gif");
    }
			
</script>
