<%= stylesheet_link_tag :bives -%>

<%= @other_version.version -%>

<%= @model.version -%>

<p>
<%= "file 1 = #{@file1}" -%>
</p>
<p>
<%= "file 2 = #{@file2}" -%>
</p>

<div class="bives_output">
    <%= @comparison_html.html_safe -%>
</div>

