<%= stylesheet_link_tag 'bives' -%>


<div class="show_basic">
  <div class="summary">
    <p class="box_standout curved">A summary of the differences in the SBML between  <%= link_to "version #{@display_model.version}",model_path(@model,:version=>@display_model.version) -%>
      and <%= link_to "version #{@other_version.version}",model_path(@model,:version=>@other_version.version) -%> for the files <%= @blob1.original_filename -%> and <%= @blob2.original_filename -%> respectively</p>
  </div>
  <p>
    <%= @blob1.filepath -%>
    <br/>
    <%= @blob2.filepath -%>
  </p>
  <p>
    <%= @b_json %>
  </p>
<% unless @comparison_html.blank? %>
      <p>
    <div class="bives_output curved with_shadow">
        <%= @comparison_html.html_safe -%>
    </div>
      </p>
<% end %>

<% unless @crn.blank? %>
      <h2>Chemical Reaction Network</h2>
    <div id="bives_crn_graph" class="curved with_shadow bives_cytoscape_graph">

    </div>
<% end %>
</div>


<% unless @crn.blank? %>
    <script>
        drawDiffGraphJS('<%= @crn.html_safe -%>','#bives_crn_graph');
    </script>
<% end %>

