<%= javascript_include_tag "sharing.js","models.js" -%>
<% current_user_authorized_to_manage = Authorization.is_authorized?("manage", nil, @model, current_user) -%>
<ul class="sectionIcons">
    <li>
        <%= image_tag_for_key('arrow_left', model_path(@model), 'Return to Model', nil, 'Return to Model') -%>
    </li>
</ul>
<h1>Editing Model: <%= link_to(h(@model.title), model_path(@model)) -%></h1>
<div class="show_basic">
    <% form_for(@model) do |f| %>
    <div class="asset_form">
        <%= f.error_messages %>
        <p>
            <b>Title:</b>
            <br/>
            <%= f.text_area :title, :style => "width: 100%;",:rows=>2 -%>
        </p>
        <p>
            <b>Description:</b>
            <br/>
            <%= f.text_area :description, :style => "width: 100%;", :rows => 10 -%>
        </p>
        <p>
            <div class="fold">
                <div class="foldTitle">
                    Other information 
                </div>
                <div class="foldContent">
                    <%# only the owner should get to see this option (ability to reload defaults remain in 'edit' action, but project selector is disabled) -%>
                    <% if current_user_authorized_to_manage -%>
                    <%= render :partial => "assets/project_selector", :locals => { :resource_type => "Model",  # this is only for presentation, not for any processing
                    :selected_project_id => @model.project_id,
                    :project_hash => current_user.generate_own_project_id_name_hash,
                    :disable_project_select => true } -%>
                    <% end -%>
                    <%= render :partial=>"model_metadata" -%>
                </div>
            </div>
        </p>
        <p>
            <%= render :partial => "organisms/select_organism",:locals=>{:model=>Model} -%>
        </p>
        <%# only the owner should be able to change sharing permissions -%>
        <% if current_user_authorized_to_manage -%>
		
		<%= render :partial=>"assets/asset_form_bottom", :locals=> {
					:resource_type => "Model",
					:existing_attributions=>Authorization.authorize_collection("show", @model.attributions_objects, current_user),
					:existing_creators=>@model.creators,
					:other_creators=>@model.other_creators,
					:related_publications=>@model.related_publications
				} 
    	-%>
		
        <p>
            <%= render :partial => "assets/sharing_form" -%>
        </p>
        <p>
            <%= render :partial => "assets/attribution_form", :locals => { :resource_type => "Model",  # this is only for presentation, not for any processing
            :existing_attributions => Authorization.authorize_collection("show", @model.attributions_objects, current_user),
            :attribution_suggestions => Model.get_all_as_json(current_user) } -%>
        </p>
        <p>
            <%= render :partial => "assets/publication_relation_form", :locals => { :resource_type => "Model",
            :related_publications => @model.related_publications} -%>
        </p>
        <p>
            <%= render :partial => "assets/author_form", :locals => { :resource_type => "Model",  # this is only for presentation, not for any processing
            :existing_creators => @model.creators,
            :other_creators => @model.other_creators} -%>
        </p>
        <% end -%>
        <p>
            <%= f.submit "Update", :id => "model_submit_btn", :onclick => "javascript: validateModelFields(false); return(false);" -%>or <%= link_to "Cancel", model_path(@model) -%>
        </p>
        <% end %>
    </div>
</div>
