<% current_user_authorized_to_manage = @model.can_manage? -%>
<h1>Editing <%= t('model') %>: <%= link_to(h(@model.title), model_path(@model)) -%></h1>
<div class="show_basic">
    <%= form_for(@model ,:html => {:multipart => true, :method => :put}) do |f| %>
    <div class="asset_form">
        <%= f.error_messages %>
        <%= render :partial => "form_import_details" -%>
        <p>
            <b>Title:</b>
            <br/>
            <%= f.text_area :title, :class=>"title_text_entry" -%>
        </p>
        <p>
            <b>Description:</b>
            <br/>
            <%= f.text_area :description, :class=>"large_text_entry"-%>
        </p>
        <p>

            <%# only the owner should get to see this option (ability to reload defaults remain in 'edit' action, but project selector is disabled) -%>
            <% if current_user_authorized_to_manage -%>
              <%= render :partial => "projects/project_selector", :locals => { :resource => @model, :disable_project_select => true ,:allow_nil => true } -%>
            <% end -%>
            <%= render :partial=>"model_metadata" -%>

        </p>
        <p>
            <%= render :partial => "organisms/select_organism",:locals=>{:model_class=>Model} -%>
        </p>
        <p>
          <%= render :partial => "scales/scales_selector_with_parameters",:locals=>{:object=>@model} if show_scales?%>
       </p>

        <% if current_user_authorized_to_manage -%>
		
		<%= render :partial=>"assets/asset_form_bottom", :locals=> { :f => f } -%>
		<%= render :partial => "assays/associate_assays", :locals=>{:resource => @model} -%>
        <%= f.fancy_multiselect :samples,{:hidden=> @model.samples.blank?  ? true : false, :other_projects_checkbox => true} -%>

        <% end -%>
        <p>
          <%= preview_permission_popup_link(@model)-%>
          <%= f.submit "Update", :id => "model_submit_btn", :onclick => "javascript: validateResourceFields(false,'model', #{current_user_authorized_to_manage}); return(false);" -%> or <%= link_to "Cancel", model_path(@model) -%>
        </p>
		</div>
        <% end %>    
</div>
