
<%= javascript_include_tag 'jquery.ui.all', 'spreadsheet_explorer','spreadsheet_explorer_plot',
                           'flot/index' %>

<%= stylesheet_link_tag "match_making",'spreadsheet_explorer','jquery.ui.resizable' -%>


<div class="contribution_title">
  <h1><%= t('data_file').pluralize %> that contain data that may be relevant to <%= link_to @model.title, @model -%></h1>
</div>

<div class="show_basic">

    <%= render :partial => "matching_data_item", :locals => {:matching_data_items => @matching_data_items} -%>

</div>
