<%= stylesheet_link_tag 'spreadsheet_explorer' -%>
<%= javascript_include_tag 'jquery-ui/all', 'spreadsheet_explorer', 'spreadsheet_explorer_plot', 'flot/index' %>

<div class="contribution_title">
  <h1><%= t('data_file').pluralize %> that contain data that may be relevant to <%= link_to @model.title, @model -%></h1>
</div>

<div class="show_basic">

    <%= render :partial => "matching_data_item", :locals => {:matching_data_items => @matching_data_items} -%>

</div>
