<%= javascript_include_tag "sharing.js","models.js", "assays.js","attribution.js","resource.js" -%>
<h1>New <%= t('model') %></h1>
<div class="show_basic">
    <%= form_tag({:action => :create}, :multipart => true) do -%>
    <div class="asset_form">
        <%= error_messages_for :model -%>
        <%= render :partial => "form_import_details" -%>
        <%= render :partial=>"assets/upload_box",:locals=>{:resource=>@model} -%>
        <p style="margin-top: 1.5em;">
            <b>Title</b>
            <span class="required">*</span>
            <br/>
            <% model_title_value = (params[:model].blank? || params[:model][:title].blank?) ? nil : params[:model][:title] -%>
            <%= text_area_tag 'model[title]', model_title_value, :style => "width: 100%;", :rows=>2 -%>
        </p>
        <p style="margin-top: 0.5em;">
            <b>Description</b>
            <br/>
            <% model_description_value = (params[:model].blank? || params[:model][:description].blank?) ? nil : params[:model][:description] -%>
            <%= text_area_tag 'model[description]', model_description_value, :style => "width: 100%;", :rows => 10 -%>
        </p>

        <p>


                  <%= render :partial => "projects/project_selector", :locals => { :resource => @model, :allow_nil => true } -%>
                    <%= render :partial=>"model_metadata" -%>

        </p>

        <%= render :partial => "organisms/select_organism",:locals=>{:model_class=>Model} -%>
          <p>
            <%= fancy_multiselect @model, :scales, {:possibilities => sort_scales(Scale.all)} if @model.is_scalable?-%>
          </p>

        <%= fields_for(@model) {|f| render :partial=>"assets/asset_form_bottom", :locals=> {:f => f}} -%>
       

        <%= render :partial => "assays/associate_assays", :locals=>{:resource => @model, :show_relationships => false} -%>
        <%= fields_for(@model) {|f| f.fancy_multiselect (:samples, {:hidden=> @model.samples.blank?  ? true : false, :other_projects_checkbox => true}) }-%>

        <p>
          <%= preview_permission_popup_link(@model)-%>
          <%= submit_tag "Upload and Save", :id => "model_submit_btn", :onclick => "javascript: validateResourceFields(true, 'model',true); return(false);" -%>&nbsp;or <%= link_to 'Cancel', models_path -%>
        </p>
		</div>
        <% end -%>    
</div>
