<h1>New <%= t('model') %></h1>

<%= form_tag({:action => :create}, :multipart => true) do -%>
    <div class="asset_form">
      <%= error_messages_for :model -%>

      <%= render :partial => "form_import_details" -%>

      <%= render :partial=>"assets/upload_box",:locals=>{:resource=>@model} -%>

      <div class="form-group">
        <label class="required">Title</label>
        <% model_title_value = (params[:model].blank? || params[:model][:title].blank?) ? nil : params[:model][:title] -%>
        <%= text_field_tag 'model[title]', model_title_value, :class=>"form-control" -%>
      </div>

      <div class="form-group">
        <label>Description</label>
        <% model_description_value = (params[:model].blank? || params[:model][:description].blank?) ? nil : params[:model][:description] -%>
        <%= text_area_tag 'model[description]', model_description_value, :class=>"form-control" -%>
      </div>

      <%= render :partial => "projects/project_selector", :locals => { :resource => @model, :allow_nil => Seek::Config.is_virtualliver } -%>

      <%= render :partial => 'assets/license_selector', :locals => { :resource => @model } %>

      <%= render :partial=> "assets/discussion_links_form", :locals=>{:resource => @model} -%>

      <%= render :partial => "model_metadata" -%>

      <%= render :partial => "organisms/select_organism",:locals=>{:model_class=>Model} -%>

      <%= render :partial => "scales/scales_selector",:locals=>{:object=>@model} if show_scales?%>

      <%= fields_for(@model) {|f| render :partial=>"assets/asset_form_bottom", :locals=> {:f => f}} -%>

      <%= render :partial => "assays/associate_assays", :locals=>{:resource => @model, :show_relationships => false} -%>

      <%= form_submit_buttons(@model) %>
    </div>
<% end -%>

<%# handle the data_url being passed from another form, such as importing a biomodels result %>
<% if params['model'] && !params['model']['data_url'].blank? %>
<script>
  $j('#data_url_field').val('<%= params['model']['data_url'] %>');
  submit_url_for_examination();
  $j('#make_local_copy').prop('checked',true);
  addRemoteFile();
</script>
<% end %>