
<%= javascript_include_tag "zoom/lightbox"-%>
<%= stylesheet_link_tag "lightbox" %>

<%= render :partial => "general/item_title",:locals=>{:item=>@model} %>

<ul class="sectionIcons">
  <%= asset_buttons @model, @display_model.version -%>

  <% if Seek::Config.solr_enabled && @display_model.latest_version? && (@model.contains_sbml? || @model.contains_jws_dat?) -%>
      <li>
        <%= image_tag_for_key("search",matching_data_model_path(@model),nil,nil,"Find related #{t('data_file').pluralize}") -%>
      </li>
  <% end -%>

  <% if cytoscapeweb_supported?(@display_model) %>
           <% if can_download_asset?(@model, params[:code]) -%>
               <li>
                 <%= image_tag_for_key('cytoscape_web', visualise_model_path(@model, :version => @display_model.version, :code => params[:code]), nil, {:target => "_blank"}, "Visualise #{t('model')} with Cytoscape Web") -%>
               </li>
           <% end -%>
   <% end %>
  <% if show_jws_simulate? %>
      <li>
        <%= image_tag_for_key('execute', simulate_model_path(@model, :version => @display_model.version, :code => params[:code]), nil, {:method => :post}, "Simulate #{t('model')} on JWS") -%>
      </li>
  <% end %>
</ul>

<% if Seek::Config.sycamore_enabled && @display_model.contains_sbml? %>
    <% excutable_content_blob =  @display_model.content_blobs.detect{|cb| cb.is_sbml?}
       if excutable_content_blob.is_in_simulatable_size_limit? && can_download_asset?(@model, params[:code]) -%>
        <ul class='sectionIcons'>
          <li>
            <%= form_tag("http://sycamore.eml.org/sycamore/submission.jsp", :id => 'sycamore-form', :target => '_blank') do -%>
                <%= hidden_field_tag 'sbml_model' -%>
                <%= hidden_field_tag 'sender', 'seek' -%>
                <%= link_to image('execute') + "Simulate #{t('model')} on Sycamore", {:action => 'submit_to_sycamore', :id => @model.id, :version => @display_model.version}, :remote => true, :method => :post -%>
            <% end -%>

          </li>
        </ul>
    <% end -%>
<% end %>
<br/>


<div class="show_basic">

  <%= render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@model} -%>

    <div class="main_content_left_box">

        <%= render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_model, :resource=>@model} -%>
        <div class="box_about_actor">
          <%= item_description @display_model.description -%>
            <%= render :partial=>"assets/multiple_fileinfo", :object=>@display_model -%>

            <p>
                <b>Organism:</b>
                <% if @display_model.organism -%>
                <%= organism_link_to @display_model.organism -%>
                <% else -%>
                <span class="none_text">Not specified</span>
                <% end -%>
            </p>

            <span id="format_info">
            <p id="model_type">
                <b><%= t('model') %> type:</b>
                <%= model_type_text @display_model.model_type %>
            </p>
            <p id="model_format">
                <b><%= t('model') %> format:</b>
                <%= model_format_text @display_model.model_format %>
            </p>
            <p id="execution_environment">
                <b>Execution or visualisation environment:</b>
                <%= model_environment_text @display_model %>
            </p>
            </span>

            <%= render :partial=>"model_visualisation" -%>

            <%= render :partial => "assets/special_auth_code_display", :locals => {:resource => @model} %>

            <%= render :partial=>"import_details", :object=>@display_model %>

            <%= render :partial => "assets/asset_doi", :locals => {:displayed_resource=>@display_model} %>

        </div>
    </div>

    <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @model,:versioned_resource=>@display_model } %>

    <div style="clear:both">
      <%= render :partial=>"general/isa_graph", :locals => {:root_item => @model, :current_item => @model, :deep => true} %>
    </div>

    <div style="clear:both;">
      <%= render :partial => "general/items_related_to", :object => @model %>
    </div>
</div>


