<%= javascript_include_tag "resource" -%>

<ul class="sectionIcons">
  <%= asset_buttons @model,@display_model.version -%>

  <% if Seek::Config.jws_enabled && @display_model.is_jws_supported? -%>

      <% if @model.can_edit? -%>
          <li>
            <%= image_tag_for_key('jws_builder', builder_model_path(@model,:version=>@display_model.version),nil,nil,"JWS One Stop") -%>
          </li>
      <% end -%>
      <% if @model.can_download? -%>
          <li>
            <%= image_tag_for_key('execute', simulate_model_path(@model,:version=>@display_model.version),nil,{:method=>:post},"Simulate Model on JWS") -%>
          </li>
      <% end -%>

  <% end -%>

  <% if Seek::Config.sycamore_enabled and @display_model.content_blob.file_exists? && @display_model.is_sbml? %>
      <li>
      <span class="icon">
        <% form_tag("http://sycamore.eml.org/sycamore/submission.jsp", :id=>'sycamore-form', :target => '_blank') do -%>
          <%= hidden_field_tag 'sbml_model', h(IO.read(@display_model.content_blob.filepath).gsub(/\n/, '')) -%>
            <%= hidden_field_tag 'sender', 'seek' -%>
            <%= link_to_function "#{image_tag(icon_filename_for_key 'execute')}Simulate Model on Sycamore", "$('sycamore-form').submit()" -%>
        <% end -%>
      </span>
      </li>
  <% end %>
</ul>

<%= render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@model} -%>
<%= render :partial => "layouts/item_title",:locals=>{:item=>@model} %>
<%= render :partial => "layouts/usage_info", :locals => { :resource => @model } -%>

<div class="show_basic">
    <div class="main_content_left_box_narrower">
        <%= render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_model, :resource=>@model} -%>
        <div class="box_about_actor">
            <p>
                <b>Title:</b>
                <span class="title"><%=h @display_model.title -%></span>
            </p>
            <p>
                <b>File name:</b>
                <%=h @display_model.original_filename -%>
            </p>
            <p>
                <b>Format:</b>
                <%=h mime_nice_name(@display_model.content_type) -%>
            </p>
            <p>
                <b>Organism:</b>
                <% if @display_model.organism -%>
                <%= organism_link_to @display_model.organism -%>
                <% else -%>
                <span class="none_text">Not specified</span>
                <% end -%>
            </p>
            <p>
                <b>Model type:</b>
                <%= model_type_text @display_model.model_type %>
            </p>
            <p>
                <b>Model format:</b>
                <%= model_format_text @display_model.model_format %>
            </p>
            <p>
                <b>Execution or visualisation environment:</b>
                <%= model_environment_text @display_model %>
            </p>
            <br/>
            <p>
                <b>Description:</b>
                <% unless @display_model.description.blank? -%>
                <div class="box_standout" id="description">
                    <%= simple_format(auto_link(white_list(@display_model.description),:all,:rel=>'nofollow')) -%>
                </div>
                <% else -%>
                <p class="none_text">
                    No description.
                </p>
                <% end -%>
            </p>
            <p>
                <%= embedded_isa_svg(@model, true, @model) -%>
            </p>

        </div>

    </div>

    <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @model } %>

    <div style="clear:both;padding-top:1em;">
        <%= render :partial=>"layouts/items_related_to",:object => @model %>
    </div>
</div>


