<ul class="sectionIcons">
	<li>
	<% if @saved_file -%>
		<%= image_tag_for_key('back', builder_model_path(@model,:version=>@display_model.version,:saved_file=>@saved_file), nil, nil, "Back to JWS One Stop") -%>
	<% else -%>
		<%= image_tag_for_key('back', model_path(@model,:version=>@display_model.version), nil, nil, "Back to Model") -%>
	<% end -%>
	</li>
</ul>

<%= render :partial => "layouts/item_title",:locals=>{:item=>@display_model,:title_postfix=>" - JWS Model Simulation"} %>

<br/>


<div style="height: 100%;width: 100%;">
    <iframe src="http://jjj.mib.ac.uk/webMathematica/UItester.jsp?fileName=<%=@modelname-%>&noHeader=true" id="jws_simulator" width="100%" height="100%" frameborder=0>You need a Frames Capable browser to view this content.</iframe>
</div>

<% if @display_model.is_sbml? %>
        <center>
        <%= link_to_remote "Discover data that may be related to this model",
                         :url=>url_for(:controller=>"models",:action=>"matching_data_files",:id=>@model,:version=>@display_model.version),
                         :before=>"$('matching_data_files').show();show_ajax_loader('matching_data_files');"
        -%>
        </center>
        <div id="matching_data_files" style="display:none;">

        </div>
        <div id="matching_results" style="display:none;height:55em;overflow-y: scroll;">

        </div>
<% end -%>

