{{#if url}}
    <span>
        <a href="{{url}}" title="{{{description}}}">
          <b>{{type}}: </b> {{{fullName}}}
        </a>
    </span>
{{else}}
    <span class="none_text">Hidden item</span>
{{/if}}
