<%= javascript_include_tag 'exhibit/exhibit-api.js' %>
<%#<script src="/assets/exhibit/exhibit-api.js"></script>%>
<%#need to go after exhibit lib %>
<%= javascript_include_tag 'modified_exhibit' %>
<%= stylesheet_link_tag 'modified_exhibit' %>


<%
   objects = facets
   object_type = objects.first.class.name
   facet_config = YAML.load(File.read(facet_config_path))
   facets_for_object = facet_config[object_type] || {}
%>

<div style="width: 100%">
    <div data-ex-role="exhibit-collection" data-ex-item-types="<%= object_type%>"></div>
    <div class="yui-g" id="exhibit">
        <div class="yui-u first" style="width: 85%;">
          <div id="content-area">
            <div data-ex-role="exhibit-lens" style="display: none">
              <span data-ex-content=".display_content"></span>
            </div>

            <div data-ex-role="exhibit-viewPanel">
              <div data-ex-role="exhibit-view"
                   data-ex-label="Tiles"
                   data-ex-possible-orders=".<%= facets_for_object.keys.join(',.') %>"
                   data-ex-paginate="true"
                   data-ex-page-size="10"
                   data-ex-show-all="true"
              ></div>
            </div>
          </div>
        </div>
        <div class="yui-u" style="float:right;width: 15%;">
          <div data-ex-role="facet" data-ex-facet-class="TextSearch" id="facet_search_box"></div>
          <br/>
          <b>Filter <%= internationalized_resource_name(object_type)%> by:</b>
          <hr/>
          <% count = 0 %>
          <% facets_for_object.each do |key, value| %>
              <% label = value['label'] %>
              <% facet_class = value['facet_class'] %>
              <div data-ex-role="facet"
                   data-ex-expression=".<%= key %>"
                   data-ex-facet-label="<%= label %>"
                   data-ex-facet-class="<%= facet_class %>"
                   data-ex-height="13em"
                   data-ex-collapsible="true"

                   <% if facet_class == "NumericRange" %>
                        <% interval = value['interval'] %>
                        data-ex-interval="<%= interval %>"
                   <% end %>

                   <% if facet_class == "Exhibit.HierarchicalFacet" %>
                        data-ex-uniform-grouping=".subclassOf"
                        data-ex-scroll="false"
                   <% end %>
                   <% count += 1%>
                   <% if count > 1 %>
                        data-ex-collapsed="true"
                   <% end %>
              >
              </div>
              <br/>
          <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
   var faceted_items_url = '<%= url_for(:action => 'faceted_items') %>'
</script>

<%= render :partial => "faceted_browsing/data", :locals => {:objects => objects} %>