<%#= javascript_include_tag 'exhibit/exhibit-api.js' %>
<script src="/assets/exhibit/exhibit-api.js?bundle=false"></script>
<%#need to go after exhibit lib %>
<%= javascript_include_tag 'modified_exhibit' %>
<%= stylesheet_link_tag 'modified_exhibit' %>


<%
   objects = facets
   object_type = objects.first.class.name
   facet_config = YAML.load(File.read(File.join(Rails.root, "config/facets.yml")))
%>

<div style="width: 100%">
    <div data-ex-role="exhibit-collection" data-ex-item-types="<%= object_type%>"></div>
    <table cellpadding="0" cellspacing="10" border="0" id="exhibit" width="100%">
      <tr>
        <td style="width: 85%;">
          <div id="content-area">
            <div data-ex-role="exhibit-lens" style="display: none">
              <span data-ex-content=".display_content"></span>
            </div>

            <div data-ex-role="exhibit-viewPanel">
              <div data-ex-role="exhibit-view"
                   data-ex-label="Tiles"
                   data-ex-possible-orders=".<%= facet_config[object_type].keys.join(',.') %>"
                   data-ex-paginate="true"
                   data-ex-page-size="10"
                   data-ex-show-all="true"
              ></div>
            </div>
          </div>
        </td>
        <td style="float:right;">
          <b>Search</b>
          <div data-ex-role="facet" data-ex-facet-class="TextSearch"></div>
          <hr/>
          <% count = 0 %>
          <% facet_config[object_type].keys.each do |facet| %>
              <% label = facet_config[object_type][facet]['label'] %>
              <% facet_class = facet_config[object_type][facet]['facet_class'] %>
              <div data-ex-role="facet"
                   data-ex-expression=".<%= facet %>"
                   data-ex-facet-label="<%= label %>"
                   data-ex-facet-class="<%= facet_class %>"
                   data-ex-height="13em"
                   data-ex-collapsible="true"

                   <% if facet_class == "NumericRange" %>
                        <% interval = facet_config[object_type][facet]['interval'] %>
                        data-ex-interval='1'
                   <% end %>

                   <% if facet_class == "Exhibit.HierarchicalFacet" %>
                        data-ex-uniform-grouping=".subclassOf"
                        data-ex-scroll="false"
                   <% end %>
                   <% count += 1%>
                   <% if count > 3 %>
                        data-ex-collapsed="true"
                   <% end %>
              >
              </div>
              <br/>
          <% end %>
        </td>
      </tr>
    </table>
</div>

<script type="text/javascript">
   var faceted_items_url = '<%= url_for(:action => 'faceted_items') %>'
</script>

<%= render :partial => "faceted_browsing/data", :locals => {:objects => objects} %>