<%
   resource_hash = classify_for_tabs @results
   object_types = resource_hash.keys
   common_facet_config = YAML.load(File.read(common_faceted_search_config_path))
   specified_facet_config = YAML.load(File.read(specified_faceted_search_config_path))
   expand_facet_count = 1
%>

<div data-ex-role="exhibit-collection" data-ex-item-types="<%= object_types.join(',') %>"></div>
<div class="yui-g" id="exhibit">
  <div class="yui-u first" style="width: 85%;">
    <div id="content-area">
      <div data-ex-role="exhibit-lens" style="display: none">
        <span data-ex-content=".display_content"></span>
      </div>

      <div data-ex-role="exhibit-viewPanel">
        <div data-ex-role="exhibit-view"
             data-ex-label="Tiles"
             data-ex-possible-orders=".<%= common_facet_config.keys.join(',.') %>"
             data-ex-paginate="false"
             data-ex-show-all="true"
        ></div>
      </div>
    </div>
  </div>
  <div class="yui-u facet_list" style="float:right;width: 15%;">
    <div data-ex-role="facet" data-ex-facet-class="TextSearch" id="facet_search_box"></div>
    <br/>
    <b>Filter items by:</b>
    <hr/>
    <% count = 0 %>
    <% common_facet_config.each do |key, value| %>
        <% label = value['label'] %>
        <% facet_class = value['facet_class'] %>

        <div data-ex-role="facet"
             data-ex-expression=".<%= key %>"
             data-ex-facet-label="<%= label %>"
             data-ex-facet-class="<%= facet_class %>"
             data-ex-height="13em"
             data-ex-collapsible="true"

             <% if facet_class == "NumericRange" %>
             <% interval = value['interval'] %>
             data-ex-interval="<%= interval %>"
             <% end %>

             <% if facet_class == "Exhibit.HierarchicalFacet" %>
             data-ex-uniform-grouping=".subclassOf"
             data-ex-scroll="false"
             <% end %>
             <% count += 1 %>
             <% if count > expand_facet_count %>
             data-ex-collapsed="true"
             <% end %>
             >
        </div>
        <br/>
    <% end %>

    <% object_types.each do |object_type| %>
        <% facets_for_object = specified_facet_config[object_type] || {} %>
        <% unless facets_for_object.blank? %>
            <div class="specified_facets" id="specified_<%= object_type %>_facets">
              <div class="specified_facet_list" id="<%= object_type %>_facet">
                <% facets_for_object.each do |key, value| %>
                    <% label = value['label'] %>
                    <% facet_class = value['facet_class'] %>

                    <div data-ex-role="facet"
                         data-ex-expression=".<%= key %>"
                         data-ex-facet-label="<%= label %>"
                         data-ex-facet-class="<%= facet_class %>"
                         data-ex-height="13em"
                         data-ex-collapsible="true"
                         data-ex-collapsed="true"

                         <% if facet_class == "NumericRange" %>
                         <% interval = value['interval'] %>
                         data-ex-interval="<%= interval %>"
                         <% end %>

                         <% if facet_class == "Exhibit.HierarchicalFacet" %>
                         data-ex-uniform-grouping=".subclassOf"
                         data-ex-scroll="false"
                         <% end %>
                         >
                    </div>
                    <br/>
                <% end %>
              </div>

              <%
                 more_id = "more_#{object_type}"
                 less_id = "less_#{object_type}"
                 facet_type_id = "#{object_type}_facet"
              %>
              <%= link_to_function ("More "+image("expand")).html_safe, :id => more_id, :style => "float:right;display:none", :class => "more_link" do |page|
                page[more_id].toggle
                page[less_id].toggle
                page.visual_effect(:toggle_appear, facet_type_id, :duration => 0.3)
              end
              -%>
              <%= link_to_function ("Less "+image("collapse")).html_safe, :id => less_id, :style => "float:right;display:none" do |page|
                page[more_id].toggle
                page[less_id].toggle
                page.visual_effect(:toggle_appear, facet_type_id, :duration => 0.3)
              end
              -%>
            </div>
        <% end %>
    <% end %>

  </div>
</div>

<%= render :partial => "faceted_browsing/data_search", :object => resource_hash %>

<script type="text/javascript">
    Exhibit.SelectionState.currentAssetType = "All";
</script>


