<%= form_for(@service_credential) do |f| %>
  <% if @service_credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_credential.errors.count, "error") %> prohibited this service_credential from being saved:</h2>

      <ul>
      <% @service_credential.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
    <div class="field">
    <%= f.label :uri, "URI" %><br />
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
