<h1>Listing Service Credentials</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>URI</th>
    <th>Login</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @service_credentials.each do |service_credential| %>
  <tr>
    <td><%= service_credential.name %></td>
    <td><%= service_credential.description %></td>
    <td><%= service_credential.uri %></td>
    <td><%= service_credential.login %></td>
    <td><%= link_to 'Show', service_credential %></td>
    <td><%= link_to 'Edit', edit_service_credential_path(service_credential) %></td>
    <td><%= link_to 'Destroy', service_credential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service Credential', new_service_credential_path %>
