<h1>Service Credential</h1>

<p>
  <b>Name:</b>
  <%= @service_credential.name %>
</p>

<p>
  <b>Description:</b>
  <%= @service_credential.description %>
</p>

<p>
  <b>URI:</b>
  <%= @service_credential.uri %>
</p>

<p>
  <b>Login:</b>
  <%= @service_credential.login %>
</p>

<%= link_to 'Edit', edit_service_credential_path(@service_credential) %> |
<%= link_to 'Back', service_credentials_path %>
