<%= modal(size: 'md', id: 'git-move-modal', class: 'git-browser-modal') do %>
  <%= modal_header('Move/rename') %>

  <%= modal_body do %>
    <%= render partial: 'move_file_form', locals: { resource: @parent_resource, path: params[:path], version: @git_version.version } %>
  <% end -%>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <strong>Path: </strong> <%= params[:path] -%><br/>
    <strong>Size: </strong> <%= number_to_human_size @blob.size -%><br/>
    <strong>SHA: </strong> <code><%= @blob.oid %></code><br/>
  </div>
  <div class="col-sm-6 text-right">
    <%= button_link_to('Download', 'download', polymorphic_path([@parent_resource, :git_download], version: @git_version.version, path: params[:path])) %>
    <%= button_link_to('Raw', 'markup', polymorphic_path([@parent_resource, :git_raw], version: @git_version.version, path: params[:path])) %>
    <% if @git_version.mutable? && @git_version.can_edit? %>
      <%= button_link_to('Move/rename', 'move', '#', { 'data-toggle' => 'modal', 'data-target' => '#git-move-modal' }) %>
      <%= button_link_to('Delete', 'destroy',
                         polymorphic_path([@parent_resource, :git_remove_file], version: @git_version.version, file: { path: params[:path] }),
                         method: :delete,
                         data: { confirm: "Are you sure you wish to delete this file?" }) %>
    <% end %>
  </div>
</div>

<hr/>

<% if @blob.binary? %>
  <% if is_image_path?(params[:path]) %>
    <% raw_path = polymorphic_path([@parent_resource, :git_raw], version: @git_version.version, path: params[:path]) %>
    <%= link_to image_tag(raw_path, class: 'git-image-preview'), raw_path, title: 'Click for full' %>
  <% else %>
    <span class="subtle">Binary content not displayed</span>
  <% end %>
<% else %>
  <%= content_tag :pre, @blob.content %>
<% end %>
