<%= modal(size: 'xl', id: 'git-preview-modal', class: 'git-browser-modal') do %>
  <%= modal_header('Preview') %>
  <%= modal_body %>
<% end %>

<% if git_version.can_edit? %>
  <div class="pull-right">
    <%= button_link_to('Annotate files', 'spreadsheet_annotation_edit', edit_paths_workflow_path(resource, version: git_version.version)) -%>
    <% if git_version.mutable? %>
      <%= modal(size: 'md', id: 'git-add-modal', class: 'git-browser-modal') do %>
        <%= modal_header('Add File') %>

        <%= modal_body do %>
          <%= render partial: 'git/add_file_form', locals: { resource: resource, version: git_version.version } %>
        <% end -%>
      <% end %>
      <%= button_link_to('Add file', 'add', '#', { 'data-toggle' => 'modal', 'data-target' => '#git-add-modal' }) %>
    <% else %>
      <%= button_link_to('Add file', 'add', nil, disabled_reason: git_version.immutable_error) %>
    <% end %>
  </div>
<% end %>

<strong>Total size: </strong> <%= number_to_human_size git_version.total_size -%><br/>
<%= render partial: 'git/jstree', locals: { tree: git_version.tree, annotations: git_version.git_annotations,
                                            opts: { id: 'git-browser-jstree', class: 'allow-blob-preview' } } %>
<% if git_version.empty? %>
  <span class="none_text">Empty</span>
<% end %>

<script>
    $j(document).ready(function () {
        $j("#git-browser-jstree.allow-blob-preview").on('click','.jstree-anchor', function (e) {
            var jstree = $j.jstree.reference(this);
            var node = jstree.get_node(this);
            var element = $j(this);
            if (node.type === 'blob') {
                var path = '<%= polymorphic_path([resource, :git_blob], version: git_version.version, path: '__replaceme__') %>'.replace('__replaceme__', Git.encodePath(node.data.path))
                element.spinner('add');
                $j.ajax(path, {
                    success: function (html) {
                        $j('#git-preview-modal .modal-body').html(html);
                        $j('#git-preview-modal').modal('show');
                    },
                    complete: function () {
                        element.spinner('remove');
                    }
                });
            }
        });
    })
</script>
