<h4>Activity statistics</h4>

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>1 year</th>
    <th>6 months</th>
    <th>1 month</th>
    <th>1 week</th>
    <th>1 day</th>
  </tr>
  </thead>
  <tr>
    <td>Unique Users</td>
    <td><%= stats.yearly_users -%></td>
    <td><%= stats.six_monthly_users -%></td>
    <td><%= stats.monthly_users -%></td>
    <td><%= stats.weekly_users -%></td>
    <td><%= stats.daily_users -%></td>
  </tr>

  <tr>
    <td><%= t('sop').pluralize %> uploaded</td>
    <td><%= stats.yearly_sops_created -%></td>
    <td><%= stats.six_monthly_sops_created -%></td>
    <td><%= stats.monthly_sops_created -%></td>
    <td><%= stats.weekly_sops_created -%></td>
    <td><%= stats.daily_sops_created -%></td>
  </tr>

  <tr>
    <td><%= t('data_file').pluralize %> uploaded</td>
    <td><%= stats.yearly_datafiles_created -%></td>
    <td><%= stats.six_monthly_datafiles_created -%></td>
    <td><%= stats.monthly_datafiles_created -%></td>
    <td><%= stats.weekly_datafiles_created -%></td>
    <td><%= stats.daily_datafiles_created -%></td>
  </tr>

  <tr>
    <td><%= t('model').pluralize %> uploaded</td>
    <td><%= stats.yearly_models_created -%></td>
    <td><%= stats.six_monthly_models_created -%></td>
    <td><%= stats.monthly_models_created -%></td>
    <td><%= stats.weekly_models_created -%></td>
    <td><%= stats.daily_models_created -%></td>
  </tr>

  <tr>
    <td><%= t('presentation').pluralize %> uploaded</td>
    <td><%= stats.yearly_presentations_created -%></td>
    <td><%= stats.six_monthly_presentations_created -%></td>
    <td><%= stats.monthly_presentations_created -%></td>
    <td><%= stats.weekly_presentations_created -%></td>
    <td><%= stats.daily_presentations_created -%></td>
  </tr>

  <tr>
    <td>Publications registered</td>
    <td><%= stats.yearly_publications_created -%></td>
    <td><%= stats.six_monthly_publications_created -%></td>
    <td><%= stats.monthly_publications_created -%></td>
    <td><%= stats.weekly_publications_created -%></td>
    <td><%= stats.daily_publications_created -%></td>
  </tr>



  <tr>
    <td><%= t('sop').pluralize %> downloaded</td>
    <td><%= stats.yearly_sops_downloaded -%></td>
    <td><%= stats.six_monthly_sops_downloaded -%></td>
    <td><%= stats.monthly_sops_downloaded -%></td>
    <td><%= stats.weekly_sops_downloaded -%></td>
    <td><%= stats.daily_sops_downloaded -%></td>
  </tr>

  <tr>
    <td><%= t('data_file').pluralize %> downloaded</td>
    <td><%= stats.yearly_datafiles_downloaded -%></td>
    <td><%= stats.six_monthly_datafiles_downloaded -%></td>
    <td><%= stats.monthly_datafiles_downloaded -%></td>
    <td><%= stats.weekly_datafiles_downloaded -%></td>
    <td><%= stats.daily_datafiles_downloaded -%></td>
  </tr>

  <tr>
    <td><%= t('model').pluralize %> downloaded</td>
    <td><%= stats.yearly_models_downloaded -%></td>
    <td><%= stats.six_monthly_models_downloaded -%></td>
    <td><%= stats.monthly_models_downloaded -%></td>
    <td><%= stats.weekly_models_downloaded -%></td>
    <td><%= stats.daily_models_downloaded -%></td>
  </tr>

  <tr>
    <td><%= t('presentation').pluralize %> downloaded</td>
    <td><%= stats.yearly_presentations_downloaded -%></td>
    <td><%= stats.six_monthly_presentations_downloaded -%></td>
    <td><%= stats.monthly_presentations_downloaded -%></td>
    <td><%= stats.weekly_presentations_downloaded -%></td>
    <td><%= stats.daily_presentations_downloaded -%></td>
  </tr>

  <tr>
    <td><%= t('assays.assay') %> created</td>
    <td><%= stats.yearly_assays_created -%></td>
    <td><%= stats.six_monthly_assays_created -%></td>
    <td><%= stats.monthly_assays_created -%></td>
    <td><%= stats.weekly_assays_created -%></td>
    <td><%= stats.daily_assays_created -%></td>
  </tr>

  <tr>
    <td><%= t('study').pluralize %> created</td>
    <td><%= stats.yearly_studies_created -%></td>
    <td><%= stats.six_monthly_studies_created -%></td>
    <td><%= stats.monthly_studies_created -%></td>
    <td><%= stats.weekly_studies_created -%></td>
    <td><%= stats.daily_studies_created -%></td>
  </tr>

  <tr>
    <td><%= t('investigation').pluralize %> created</td>
    <td><%= stats.yearly_investigations_created -%></td>
    <td><%= stats.six_monthly_investigations_created -%></td>
    <td><%= stats.monthly_investigations_created -%></td>
    <td><%= stats.weekly_investigations_created -%></td>
    <td><%= stats.daily_investigations_created -%></td>
  </tr>
</table>
