


<div id="<%= resource_id -%>_hidden">
</div>
<div  class="link_selector" style="float:left;margin-left:60px;">
  <div id="tableContainer" class="tableContainer">
    <table id="<%= resource_id + "_source_table" -%>" border="0" cellpadding="0" cellspacing="0" width="100px" class="scrollTable">
      <thead class="fixedHeader">

        <!-- <div style="height:50px;"> -->
        <!-- <table id="<%= resource_type + "_source_table" -%>"> -->
        <tr><th><%= resource_type -%></th></tr>
      </thead>
      <tbody class="scrollContent" id="<%= resource_id + "_source_table_body"-%>">
        <% left_collection.each do |item| -%>
          <% if authorization_for_showing_already_done || item.can_view? -%>
            <tr id="<%= resource_id + "_" + item.id.to_s + "_source_row" -%>">
              <td id="<%= resource_id + "_" + item.id.to_s + "_source_cell"
                  -%>" onclick="javascript:checkItem('<%= item.id.to_s -%>', 'source', '<%= resource_id -%>')">
                    <%= item.title -%>
              </td>
            </tr>
            <%= javascript_tag "addInstanceOfObject('#{resource_id}','#{item.id.to_s}', '#{h(item.title)}')" -%>
          <% end -%>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
<div  style="float:right;margin-right:60px;">
  <div id="tableContainer" class="tableContainer">
    <table id="<%= resource_id + "_target_table" -%>" border="0" cellpadding="0" cellspacing="0" width="100px" class="scrollTable">
      <thead class="fixedHeader">

        <tr><th><%= right_resource_type -%></th></tr>
      </thead>
      <tbody class="scrollContent" id="<%= resource_id + "_target_table_body"-%>">
        <% left_collection.each do |item| -%>
          <% if authorization_for_showing_already_done || item.can_view? -%>
            <tr id="<%= resource_id + "_" + item.id.to_s + "_target_row" -%>" style="display:none;">
              <td id="<%= resource_id + "_" + item.id.to_s + "_target_cell"
                  -%>" onclick="javascript:checkItem('<%= item.id.to_s -%>', 'target', '<%= resource_id -%>')">
                    <%= item.title -%>
              </td>
            </tr>
          <% end -%>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>


<div class="link_selector_buttons">
  <ul>
    <li>
      <%= button_to_function('Add selected', "addSelected('#{resource_id}','source')") -%>
    </li>
    <li>
      <%= button_to_function('Add all', "addAll('#{resource_id}','source')") -%>
    </li>
    <li>
      <%= button_to_function('Remove selected', "addSelected('#{resource_id}','target')") -%>
    </li>
    <li>
      <%= button_to_function('Remove all', "addAll('#{resource_id}','target')") -%>
    </li>
  </ul>
</div>

<script type="text/javascript">
<% right_collection.each do |right_item| -%>
    checkItem('<%= right_item.id.to_s -%>', 'source', '<%= resource_id -%>');
<% end -%>
  addSelected('<%= resource_id -%>');
</script>