<% description ||= nil -%>
<li>
      <span class='setting_name'>
        <%= name -%>
      </span>
      <%= "<br/>" if field.include?("textarea") -%>
      <span class='<%= field.include?(%!type="text"!) ? "setting_field" : "setting_checkbox" -%>' >
        <%= field -%>
      </span>
      <% if description -%>
          <span class='setting_description'>
            <%= description -%>
          </span>
      <% end -%>
</li>