<ul>
  <li>
    <%= link_to "Enable/disable features", features_enabled_admin_path  %>
    - select individual features and services that you wish to be enabled or disabled.
  </li>
  <li>
    <%= link_to "Site branding", rebrand_admin_path %>
    - change some of the wording, title, links and images to adapt SEEK to suit your <%= t('project') %>
  </li>
  <li>
    <%= link_to "Homepage settings", home_settings_admin_path  %>
    - set up the welcome message and description of your <%= t('project') %>, 
      configure the <%= t('project') %> news and community news.
  </li>
  <li>
    <%= link_to "Index page behaviour", pagination_admin_path %>
    - control whether individual index pages list all items, or just the latest
  </li>
  <li>
    <%= link_to "Imprint setting", imprint_setting_admin_path %>
    - Enable imprint and set the text for imprint page
  </li>
  <li>
    <%= link_to "Additional settings", others_admin_path %>
    - some additional properties, such as controls over tags and the email used for DOI and PubMed
  </li>
</ul>
