<% name_class=dubious_tag?(tag) ? "dubious_tag" : ""
   name_class="unlinked_tag" if name_class.empty? and tag.annotations.blank?
   associated_count=tag.annotations.count

-%>
<% contexts=tag.annotations.collect{|a| a.annotation_attribute.name}.uniq -%>
<tr>
  <td><%= tag.id -%></td>
  <td class="<%= name_class -%>"><%= h(tag.text) -%></td>
  <td><%= associated_count -%></td>
  <td><%= contexts.join(", ") -%></td>
  <td>

    <%= link_to image("edit",:title=>"Edit"),:action=>:edit_tag,:id=>tag.id unless associated_count==0 %>
    <%= link_to image("destroy",:title=>"Delete"),{:action=>:delete_tag,:id=>tag.id}, data: { confirm: 'Are you sure?' },
                :method=>:post -%>

  </td>
</tr>
