<div class="admin_tasks">
  <div class="row">
    <div class="col-sm-4">
      <h3>Announcements</h3>
      <ul>
        <li><%= link_to "Make an announcement", new_site_announcement_path -%></li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Create</h3>
      <ul>
        <%= content_tag(:li,link_to("Create a #{t('programme').downcase}",new_programme_path)) if Seek::Config.programmes_enabled-%>
        <%= content_tag :li, link_to("Create a #{t('project').downcase}", new_project_path) %>
        <%= content_tag :li, link_to("Create an institution", new_institution_path) %>
        <%= content_tag :li, link_to("Create a profile", new_person_path) %>
        <%= content_tag(:li,link_to("Create an organism",new_organism_path)) if Seek::Config.organisms_enabled-%>
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>Manage</h3>
      <ul>
        <li><%= link_to "Manage assay types", url_for(:action=>"manage", :controller=>"suggested_assay_types") %></li>
        <li><%= link_to "Manage technology types", url_for(:action=>"manage", :controller=>"suggested_technology_types") %></li>
        <li><%= link_to "Manage tags", tags_admin_path %></li>
        <% if Seek::Config.project_hierarchy_enabled %>
            <li><%= link_to "Manage projects", url_for(:action=>"manage", :controller=>"projects") %></li>
        <% end %>
        <li><%= link_to "Manage compounds", url_for(:action=>"index", :controller=>"compounds") %></li>
      </ul>
    </div>
  </div>

</div>
