<%
   workflows = Workflow.includes(:policy => :permissions, :runs => :contributor).all
   workflows = Workflow.authorize_asset_collection(workflows, 'view')
   workflows.sort_by! { |w| -w.runs.count }

   run_activities = ActivityLog.where(:activity_loggable_type => 'TavernaPlayer::Run', :action => 'create')
   sweep_activities = ActivityLog.where(:activity_loggable_type => 'Sweep', :action => 'create')

   stats = workflows.map do |workflow|
     run_logs = run_activities.select { |r| r.referenced == workflow }
     sweep_logs = sweep_activities.select { |s| s.referenced == workflow }
     {
             :workflow => workflow,
             :public =>  workflow.can_view?(nil),
             :runs_count => run_logs.count,
             :sweep_count => sweep_logs.count,
             :unique_users => (run_logs + sweep_logs).map {|l| l.culprit}.uniq.count
     }
   end
%>

<p>
  Total workflows = <%= Workflow.count -%> (<%= stats.count -%> visible to you)
</p>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Public?</th>
    <th># Single Runs (non-sweep runs)</th>
    <th># Sweeps</th>
    <th># Unique Users</th>
  </tr>
  </thead>
  <% stats.sort_by {|s| -s[:unique_users] }.each do |wf_stats| %>
      <tr>
        <td class="text-left"><%= link_to wf_stats[:workflow].title, wf_stats[:workflow] -%></td>
        <td><%= wf_stats[:public] -%></td>
        <td><%= wf_stats[:runs_count] -%></td>
        <td><%= wf_stats[:sweep_count] -%></td>
        <td><%= wf_stats[:unique_users] -%></td>
      </tr>
  <% end -%>
</table>
