<%= stylesheet_link_tag "settings" -%>
<h1>Biosamples naming</h1>

<div class='show_basic'>
  <%= form_tag :action=>"update_biosamples_renaming" do -%>
  <ul class='settings'>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"The term of samples' parent where they are extracted.'",
            :name=>"Sample Parent",
            :field=>text_field_tag(:sample_parent_term, (I18n.t 'biosamples.sample_parent_term'), :title => 'cell culture, specimen, or others')
    } -%>
    <%= render :partial=>'setting_li',:locals=>{
                :description=>"Title of people who are responsible for samples parent.",
                :name=>"Responsible people",
                :field=>text_field_tag(:specimen_creators, Seek::Config.specimen_creators, :title => 'Title of people who are responsible for for samples parent.')
    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Term for when the samples' parent is generated.",
            :name=>"Generation time",
            :field=>text_field_tag(:specimen_culture_starting_date, Seek::Config.specimen_culture_starting_date, :title => 'e.g. birthday of the mouse, or culture starting date of the cell culture batch')
    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Age representation of samples.",
            :name=>"Age of sample",
            :field=>text_field_tag(:sample_age, Seek::Config.sample_age, :title => 'e.g. age in hours, age in weeks, or just age')
    } -%>


    <li>
        <%= submit_tag "Update",:disable_with=>"Updating..." -%>
    </li>
  </ul>
  <% end -%>

</div>
