<%= stylesheet_link_tag "settings" -%>

<h1>Enable or disable features</h1>
<div class="show_basic">
  <%= form_tag :action=>"update_features_enabled" do -%>
  <ul class='settings'>
    <%# render :partial=>'setting_li',:locals=>{
            :description=>"Whether the Public SEEK is enabled.",
            :name=>"Public SEEK enabled",
            :field=>check_box_tag(:public_seek_enabled, 1,Seek::Config.public_seek_enabled)
    } -%>
    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Whether the #{t('event').pluralize} are displayed and can be added.",
            :name=>"#{t('event').pluralize} enabled",
            :field=>check_box_tag(:events_enabled, 1,Seek::Config.events_enabled)
    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Whether JERM harvesting is enabled. You probably want this disabled. If enabled you need to administer a #{t('project')} to setup the connection and default sharing policy.",
            :name=>"JERM harvesting enabled",
            :field=>check_box_tag(:jerm_enabled, 1, Seek::Config.jerm_enabled)
    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Whether search is enabled. If switched on you need to ensure SOLR is running and its index is up to date. You need to restart both the server, and the Background service, after chaning this setting.",
            :name=>"Search enabled",
            :field=>check_box_tag(:solr_enabled, 1, Seek::Config.solr_enabled, :title => 'enable search function')
    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Whether pdf conversion is enabled. It allows converting some document types to pdf format. If enabled, you need to ensure open office is running",
            :name=>"Pdf conversion enabled",
            :field=>check_box_tag(:pdf_conversion_enabled, 1, Seek::Config.pdf_conversion_enabled)
    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Whether the Activities/Forum tab is displayed and forum functionalities are available",
            :name=>"Forum enabled",
            :field=>check_box_tag(:forum_enabled, 1, Seek::Config.forum_enabled)
    } -%>

    <%= render :partial=>'setting_li',:locals=>{
                :description=>"Whether delete of one version of the versioned asset is enabled. It allows to delete previous (older) versions without deleting the complete asset",
                :name=>"Delete asset version enabled",
                :field=>check_box_tag(:delete_asset_version_enabled, 1, Seek::Config.delete_asset_version_enabled)
     } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Hides email addresses, skype and internal web addresses.",
            :name=>"Hide contact details",
            :field=>check_box_tag(:hide_details_enabled, 1, Seek::Config.hide_details_enabled)
    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Whether activation is required when registering, as an additional check that the person is genuine and provided a correct email address. Since an activation email is sent, you need to make sure email is setup and working",
            :name=>"Activation required",
            :field=>check_box_tag(:activation_required_enabled, 1, Seek::Config.activation_required_enabled)
    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Whether integration with JWS Online is enabled. Enabling this allows simulation of SBML models with JWS Online.",
            :name=>"JWS Online enabled",
            :field=>check_box_tag(:jws_enabled, 1, Seek::Config.jws_enabled, :onchange=>toggle_appear_javascript('jws_online_details'),:title => 'enable JWS Online for building and simulating SBML models')
    } -%>

    <li id="jws_online_details" class="additional_settings" style="<%= show_or_hide_block Seek::Config.jws_enabled -%>">
        JWS Online Root URL: <%= text_field_tag(:jws_online_root, Seek::Config.jws_online_root) %>
      <span class='setting_description'>This is the root URL for the JWS Online server SEEK communicates with, e.g. http://jjj.mib.ac.uk .</span>
    </li>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Allows you to keep track of site traffic using Google Analytics. You need to register with Google Analytics and get a tracker ID",
            :name=>"Google analytics enabled",
            :field=>check_box_tag(:google_analytics_enabled, 1, Seek::Config.google_analytics_enabled,:onchange=>toggle_appear_javascript('google_anaylitics_block'), :title => 'generating detailed statistics about the visitors to this website')
    } -%>

    <li id="google_anaylitics_block" class="additional_settings" style="<%= show_or_hide_block Seek::Config.google_analytics_enabled -%>">
      Google analytics tracker id: <%= text_field_tag(:google_analytics_tracker_id, Seek::Config.google_analytics_tracker_id) %>
      <span class="setting_description">The tracker ID provided to you by Google.</span>
    </li>

     <%= render :partial=>'setting_li',:locals=>{
            :description=>"Allows you to keep track of site traffic using Piwik Analytics.",
            :name=>"Piwik analytics enabled",
            :field=>check_box_tag(:piwik_analytics_enabled, 1, Seek::Config.piwik_analytics_enabled,:onchange=>toggle_appear_javascript('piwik_anaylitics_block'), :title => 'generating detailed statistics about the visitors to this website')
    } -%>
    <li id="piwik_anaylitics_block" class="additional_settings" style="<%= show_or_hide_block Seek::Config.piwik_analytics_enabled -%>">
      Piwik analytics id site: <%= text_field_tag(:piwik_analytics_id_site, Seek::Config.piwik_analytics_id_site) %>
      <span class="setting_description">the ID of your website inside Piwik. It is the numeric value corresponding to the ID of the site created in Piwik.</span>
      Piwik analytics url: <%= text_field_tag(:piwik_analytics_url, Seek::Config.piwik_analytics_url) %>
      <span class="setting_description">The URL to your Piwik installation, withouth the http:// or https://, e.g. 'localhost/piwikfolder/'</span>
    </li>

    <%= render :partial=>"doi_settings" %>

    <li>
      <%= render :partial => 'admins/email'  %>
    </li>

    <li><%= submit_tag "Update",:disable_with=>"Updating ..." %> or <%= link_to 'Cancel', admin_path -%></li>
  </ul>

      <% end -%>
  </div>


