<h1>Homepage Settings</h1>

<%= form_tag :action=>"update_home_settings" do -%>
    <%= admin_checkbox_setting(:news_enabled, 1, Seek::Config.news_enabled,
                               "News enabled", "Display news in the homepage",
                               :onchange=>toggle_appear_javascript('news_block')) %>
    <div id="news_block" class="additional_settings" style="<%= show_or_hide_block Seek::Config.news_enabled -%>">
      <%= admin_text_setting(:news_feed_urls, Seek::Config.news_feed_urls,
                             'Feed URLs', "The urls of the news feeds you want for the news box. The multiple urls are separated by a comma. The format of the feeds can either be RSS or ATOM") %>

      <%= admin_text_setting(:news_number_of_entries, Seek::Config.news_number_of_entries,
                             'Number of news items', "Number of news items you want to display in the news box. The news will be taken by the chronological order",
                             :onkeypress => "javascript: return onlyNumbers(event);") %>
    </div>

    <%= admin_textarea_setting(:home_description, Seek::Config.home_description,
                               "Home page description", "Sets the description text on the front page") %>

<!--
    <%= admin_checkbox_setting(:front_page_buttons_enabled, 1, Seek::Config.front_page_buttons_enabled,
                               "Home page buttons enabled", "Display the three large buttons on the home page.") %>

-->
    <%= submit_tag "Update", :disable_with=>"Updating...", :class => 'btn btn-primary' -%> or
    <%= cancel_button admin_path -%>
<% end %>
