<%= stylesheet_link_tag "settings" -%>

<h1>Index page behaviour</h1>
<div class='show_basic'>
  <%= form_tag :action=>"update_pagination" do -%>
  <ul class='settings'>
    <li class="setting_description">
      When clicking on each tab above, either All items are listed, or only the Latest. On this page you can select the default for each tab.
    </li>
    <%= render :partial=>'setting_li',:locals=>{
            :name=>"People",
            :field=>(radio_button_tag(:people, "latest", Seek::Config.default_page("people") == "latest") +
                    label_tag(:people_latest, "latest") +
                    radio_button_tag(:people, "all",Seek::Config.default_page("people") == "all") +
                    label_tag(:people_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :name=>"Projects",
            :field=>(radio_button_tag(:projects, "latest", Seek::Config.default_page("projects") == "latest") +
                    label_tag(:projects_latest, "latest") +
                    radio_button_tag(:projects, "all",Seek::Config.default_page("projects") == "all") +
                    label_tag(:projects_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :name=>"Institutions",
            :field=>(radio_button_tag(:institutions, "latest", Seek::Config.default_page("institutions") == "latest") +
                    label_tag(:institutions_latest, "latest") +
                    radio_button_tag(:institutions, "all",Seek::Config.default_page("institutions") == "all") +
                    label_tag(:institutions_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :name=>t('investigation').pluralize,
            :field=>(radio_button_tag(:investigations, "latest", Seek::Config.default_page("investigations") == "latest") +
                    label_tag(:investigations_latest, "latest") +
                    radio_button_tag(:investigations, "all",Seek::Config.default_page("investigations") == "all") +
                    label_tag(:investigations_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :name=>t('study').pluralize,
            :field=>(radio_button_tag(:studies, "latest", Seek::Config.default_page("studies") == "latest") +
                    label_tag(:studies_latest, "latest") +
                    radio_button_tag(:studies, "all",Seek::Config.default_page("studies") == "all") +
                    label_tag(:studies_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :name=>t('assays.assay').pluralize.capitalize,
            :field=>(radio_button_tag(:assays, "latest", Seek::Config.default_page("assays") == "latest") +
                    label_tag(:assays_latest, "latest") +
                    radio_button_tag(:assays, "all",Seek::Config.default_page("assays") == "all") +
                    label_tag(:assays_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :name=>t('data_file').pluralize,
            :field=>(radio_button_tag(:data_files, "latest", Seek::Config.default_page("data_files") == "latest") +
                    label_tag(:data_files_latest, "latest") +
                    radio_button_tag(:data_files, "all",Seek::Config.default_page("data_files") == "all") +
                    label_tag(:data_files_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :name=>t('model').pluralize,
            :field=>(radio_button_tag(:models, "latest", Seek::Config.default_page("models") == "latest") +
                    label_tag(:models_latest, "latest") +
                    radio_button_tag(:models, "all",Seek::Config.default_page("models") == "all") +
                    label_tag(:models_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :name=>t('sop').pluralize,
            :field=>(radio_button_tag(:sops, "latest", Seek::Config.default_page("sops") == "latest") +
                    label_tag(:sops_latest, "latest") +
                    radio_button_tag(:sops, "all",Seek::Config.default_page("sops") == "all") +
                    label_tag(:sops_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :name=>"Publications",
            :field=>(radio_button_tag(:publications, "latest", Seek::Config.default_page("publications") == "latest") +
                    label_tag(:publications_latest, "latest") +
                    radio_button_tag(:publications, "all",Seek::Config.default_page("publications") == "all") +
                    label_tag(:publications_all, "all"))

    } -%>

     <%= render :partial=>'setting_li',:locals=>{
            :name=>t('presentation').pluralize,
            :field=>(radio_button_tag(:presentations, "latest", Seek::Config.default_page("presentations") == "latest") +
                    label_tag(:presentations_latest, "latest") +
                    radio_button_tag(:presentations, "all",Seek::Config.default_page("presentations") == "all") +
                    label_tag(:presentations_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{            
            :name=>t('event').pluralize,
            :field=>(radio_button_tag(:events, "latest", Seek::Config.default_page("events") == "latest") +
                    label_tag(:events_latest, "latest") +
                    radio_button_tag(:events, "all",Seek::Config.default_page("events") == "all") +
                    label_tag(:events_all, "all"))

    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"This is the maximum number of items that are listed when viewing 'latest'.",
            :name=>"Latest list length",
            :field=>text_field_tag(:limit_latest, Settings.limit_latest, :onkeypress => "javascript: return onlyNumbers(event);")

    } -%>

    <li>
      <%= submit_tag "Update",:disable_with=>"Updating..." -%>
    </li>

  </ul>
  <% end -%>
</div>



