<h1>Site branding</h1>

<%= form_tag({:action=>"update_rebrand"}, :multipart => true) do -%>
    <%= admin_text_setting(:project_name, Seek::Config.project_name,
                           "#{t('project')} name", "A name for your #{t('project')}, this is the text that is used in sentences. Example Sysmo, Virtual Liver") %>

    <%= admin_text_setting(:project_type, Seek::Config.project_type,
                           "#{t('project')} type", "Whether your #{t('project')} is a group, consortium, network etc.") %>

    <%= admin_text_setting(:project_link, Seek::Config.project_link,
                           "#{t('project')} Link", "A URL that is used as a link to your #{t('project')} website.") %>

    <%= admin_text_setting(:application_name, Seek::Config.application_name,
                           "Application name", "The name of your application, as used in sentences, if you are extending SEEK and wish to give it a different name.") %>

    <%= admin_text_setting(:dm_project_name, Seek::Config.dm_project_name,
                           "Data management #{t('project')} name", "The name of the data management #{t('project')}, if different from the #{t('project')}, as used in titles. For example, in SysMO the #{t('project')} is SysMO, but the DM #{t('project')} name is SysMO-DB.") %>

    <%= admin_text_setting(:dm_project_link, Seek::Config.dm_project_link,
                           "Data management #{t('project')} link", "A URL that is used in links to the data management #{t('project')}.") %>

    <%= admin_checkbox_setting(:header_image_enabled, 1, Seek::Config.header_image_enabled,
                               "Header logo image enabled", "Whether a header logo image appears on the right in the header.",
                               :onchange => toggle_appear_javascript('header_image_details')) %>

    <div id="header_image_details" class="additional_settings" style="<%= show_or_hide_block Seek::Config.header_image_enabled -%>">
      <%= admin_file_setting(:header_image_file,
                             'Upload a header logo image file',  'The file for the header logo image. It should be a valid image file, such as JPEG or PNG.') %>

      <%= admin_text_setting(:header_image_link, Seek::Config.header_image_link,
                             "Header image link", "A URL that is used as the link in the header image.") %>

      <%= admin_text_setting(:header_image_title, Seek::Config.header_image_title,
                             "Header image title", "A title for the header image.") %>
    </div>

    <%= admin_checkbox_setting(:copyright_addendum_enabled, 1, Seek::Config.copyright_addendum_enabled,
                               "Copyright addendum enabled", "If you have been developing SEEK for your #{t('project')}, you may been to provide some additional copyright information.",
                               :onchange => toggle_appear_javascript('copyright_details')) %>

    <div class="additional_settings" id="copyright_details" style="<%= show_or_hide_block Seek::Config.copyright_addendum_enabled -%>">
      <%= admin_text_setting(:copyright_addendum_content, Seek::Config.copyright_addendum_content,
                             "Copyright addendum content", "Additional copyright information that is appended to the information in the footer") %>
    </div>

    <%= admin_text_setting(:noreply_sender, Seek::Config.noreply_sender,
                           "Noreply sender", "An email that is used to send notification from SEEK.") %>

    <%= submit_tag "Update", data: { disable_with: 'Updating...' }, :class => 'btn btn-primary' -%> or
    <%= cancel_button admin_path %>
<% end -%>
