<h1>Administration <small><%= version_text -%></small></h1>

<%= folding_panel('Common tasks', false) do %>
    <%= render :partial => 'admins/tasks' %>
<% end %>

<%= folding_panel('Site configuration', true) do %>
    <%= render :partial => 'admins/site_configuration' %>
<% end %>

<%= folding_panel('Statistics', true) do %>
    <%= render :partial => 'admins/stats' %>
<% end %>

<%= folding_panel('Users and Administrators Management', true) do %>
    <%= render :partial => 'admins/users_admin' %>
<% end %>

<% if Seek::Config.admin_impersonation_enabled %>
    <%= folding_panel('Act As Another User', true) do %>
        <%= render :partial => 'admins/impersonate' %>
    <% end %>
<% end %>

<%= folding_panel('Register SEEK', true) do %>
    <%= render :partial => 'admins/registration' %>
<% end %>

<%= render :partial => "admins/restart_buttons" unless using_docker? %>

<small><%= git_link_tag %></small>
