<h1> Administration <span style="font-size:smaller;"><%= version_text -%></span></h1>


<div class="show_basic">
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Common tasks", :partial => 'admins/tasks'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Site configuration",:partial => 'admins/site_configuration'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Statistics", :partial => 'admins/stats'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Manage Administrators", :partial => 'admins/admin_selection'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Act as another User", :partial => 'admins/impersonate'} if Seek::Config.admin_impersonation_enabled-%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Register SEEK", :partial => 'admins/registration'} -%>

  <br/>
  <div class='box_infotext'>
      If you are running in an production environment deployed in conjunction with <%= link_to "Passenger Phusion (modrails)","http://www.modrails.com/",:target=>"_blank" -%>
      on a single machine, then the following button will restart the instances for you.
    </div>
  <br/>
  <%= button_to 'Restart server', restart_server_admin_path, :id => 'restart_server', :onclick => "restart_server_confirmation();return false;" -%>
</div>

<script type="text/javascript">
  function restart_server_confirmation(){
      if (confirm('Are you sure you want to restart the server?')){
          var restart_button = $('restart_server');
          restart_button.disabled = true;
          restart_button.value = 'Restarting ...'
          restart_button.form.submit();
      }
  }

</script>