<%= stylesheet_link_tag "settings" -%>
<h1> Administration <span style="font-size:smaller;"><%= version_text -%></span></h1>


<div class="show_basic">
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Common tasks", :partial => 'admins/tasks'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Site configuration",:partial => 'admins/site_configuration'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Statistics", :partial => 'admins/stats'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Users and Administrators Management", :partial => 'admins/users_admin'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Act as another User", :partial => 'admins/impersonate'} if Seek::Config.admin_impersonation_enabled-%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Register SEEK", :partial => 'admins/registration'} -%>

  <br/>

  <%= render :partial => "admins/restart_buttons" -%>

</div>

<script type="text/javascript">
  function confirmation(button_id, value){
      if (confirm('Are you sure?')){
          var button = $(button_id);
          button.disabled = true;
          button.value = value
          button.form.submit();
      }
  }

</script>