<h1> Administration <span style="font-size:smaller;"><%= version_text -%></span></h1>


<div class="show_basic">
  <%= folding_panel('Common tasks', true) do %>
      <%= render :partial => 'admins/tasks' %>
  <% end %>

  <%= folding_panel('Site configuration', true) do %>
      <%= render :partial => 'admins/site_configuration' %>
  <% end %>

  <%= folding_panel('Statistics', true) do %>
      <%= render :partial => 'admins/stats' %>
  <% end %>

  <%= folding_panel('Users and Administrators Management', true) do %>
      <%= render :partial => 'admins/users_admin' %>
  <% end %>

  <% if Seek::Config.admin_impersonation_enabled %>
      <%= folding_panel('Act As Another User', true) do %>
          <%= render :partial => 'admins/impersonate' %>
      <% end %>
  <% end %>

  <%= folding_panel('Register SEEK', true) do %>
      <%= render :partial => 'admins/registration' %>
  <% end %>

  <br/>

  <%= render :partial => "admins/restart_buttons" -%>

</div>

<script type="text/javascript">
  function confirmation(button_id, value){
      if (confirm('Are you sure?')){
          var button = $(button_id);
          button.disabled = true;
          button.value = value
          button.form.submit();
      }
  }

</script>