<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<div id="embedded-run-button">
  <% if run.complete? %>
    <% if run.finished? %>
      <%= link_to run.results.url, :class => 'button-link' do %>
        <%= image 'download', :class => "icon" -%> Download Results
      <% end %>
    <% end %>
    <%= link_to taverna_player.new_run_path(:workflow_id => run.workflow_id, :embedded => true, :version => run.workflow_version), :class => 'button-link' do %>
      <%= image 'refresh', :class => "icon" -%> Restart
    <% end %>
  <% else %>
    <% if @interaction %>
      <%# works by refreshing the page, presenting the interaction again %>
      <%= link_to '', :class => 'button-link' do %>
        <%= image 'show', :class => "icon" -%> Show Interaction
      <% end %>
    <% end %>
    <%= link_to cancel_run_path(run.id), :method => :put, data: { confirm: "Are you sure?" }, :class => 'button-link' do %>
      <%= image 'destroy', :class => "icon" -%> Cancel
    <% end %>
  <% end %>
</div>
