<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<% workflow_title = @workflow_version.title %>

<div class="contribution_title">
  <h1><%= workflow_title -%></h1>
</div>

<%= form_for @run, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :workflow_id, :value => @workflow.id %>
  <%= f.hidden_field :workflow_version, :value => @workflow_version.version %>
  <%= f.hidden_field :embedded %>
  <%= f.hidden_field :name, :value => "#{workflow_title} (embedded)" %>

  <% unless @workflow_version.data_input_ports.empty? %>
    <%= render :partial => 'inputs_form', :locals => {:title => "Data", :inputs => @workflow_version.data_input_ports, :form => f} %>
  <% end %>

  <% unless @workflow_version.parameter_input_ports.empty? %>
    <%= render :partial => 'inputs_form', :locals => {:title => "Parameters", :inputs => @workflow_version.parameter_input_ports, :form => f} %>
  <% end %>

  <div class="text-center">
    <%= f.submit 'Start Run', :id => "embedded-start-button" %>
  </div>
<% end %>
