<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<h1><%= @run.workflow.title -%></h1>

<%= render "taverna_player/runs/embedded/info", :run => @run %>

<%= render "taverna_player/runs/embedded/button", :run => @run %>

<%
  # Note that the base run/interaction partial is used here. You can still
  # override it in the embedded directory if you wish but you will need to
  # change the file name below AND in embedded/show.js.erb.
%>
<%= render "interaction", :run => @run, :interaction => @interaction %>

<div id="run-outputs" style="<%= 'display: none' unless @run.complete? && @run.outputs.size > 0-%>">
  <div class="fold">
    <div class="foldTitle">
      Outputs
    </div>
    <div class="foldContent">
      <% if @run.complete? %>
        <%= render(:partial => "taverna_player/runs/embedded/outputs", :locals => { :run => @run }) -%>
      <% end %>
    </div>
  </div>
</div>

<%
  # Note that the base run/poll partial is used here. You can still
  # override it in the embedded directory if you wish but you will need to
  # change the file name below AND in embedded/show.js.erb.
%>
<% unless @run.complete? %>
  <%= render "poll", :reload => run_path(@run) %>
<% end %>
