<%= panel("Contact details") do %>
    <p>
      <span class="warning_icon"></span>
      <%= contact_details_warning_message %>
    </p>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :email %><span class="required">*</span>

          <%= f.text_field :email, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :web_page %>

          <%= f.text_field :web_page, :class => 'form-control' %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :phone %>

          <%= f.text_field :phone, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :skype_name %>

          <%= f.text_field :skype_name, :class => 'form-control' %>
        </div>
      </div>
    </div>
<% end %>
