<%= javascript_include_tag "people" %>
<%= f.error_messages %>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :first_name -%><span class="required">*</span>

      <%= f.text_field :first_name, :class => 'form-control' -%>
    </div>
    <div class="form-group">
      <%= f.label :last_name %><span class="required">*</span>

      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label>ORCID Identifier
        <%= help_icon('<b>ORCID</b> is an open, non-profit, community-based effort to provide a registry of unique researcher identifiers and a transparent method of linking research activities and outputs to these identifiers.<b>An ORCID identifier looks like http://orcid.org/XXXX-XXXX-XXXX-XXXX</b>To find out more and get your ORCID ID please visit http://orcid.org') -%>
      </label>

      <%= f.text_field :orcid, :class => 'form-control' %>
    </div>


  </div>
</div>

<div class="form-group">
  <label>Description about myself</label>
  <%= f.text_area :description, :class=>"description form-control", :rows => 5 -%>
</div>

<%= render :partial => 'contact_details_form', :locals => {:f => f} %>


<% if person -%>
    <%= panel("Knowledge and expertise") do %>
        <%= render :partial=>"people/discipline_select",:locals=>{:f=>f} %>
        <br/>
        <%= render :partial => "select_expertise", :locals => {:person => (person ? person : Person.new) } -%>
        <%= render :partial => "select_tools", :locals => {:person => (person ? person : Person.new) } -%>
    <% end %>
    <%= render :partial=>"project_roles",:locals=>{:editable=>true} -%>
<% end %>

<% if person && person.notifiee_info -%>
    <%= folding_panel("Email announcements") do %>
        <div class="checkbox">
          <label>
            <%= check_box_tag "receive_notifications",true,person.notifiee_info.receive_notifications -%> I wish to receive occasional email announcements
          </label>
        </div>
    <% end %>
    <%= render :partial=>"people/subscriptions",:locals=>{:f=>f} %>

<% end -%>

<%= f.submit((person ? "Update" : "Create"), :disable_with=>(person ? "Updating..." : "Creating..."), :class => 'btn btn-primary') -%>
 or <%= link_to 'Cancel', (person ? person_path(person.id) : people_path), :class => 'btn btn-default' -%>
