<%= f.error_messages %>

<%= render :partial=>"name_details_form", :locals=>{:f=>f} %>

<div class="form-group">
  <label>Description</label>
  <%= f.text_area :description, :class=>"description form-control", :rows => 5 -%>
</div>

<%= render :partial => 'contact_details_form', :locals => {:f => f} %>


<% if person -%>
    <%= panel("Knowledge and expertise") do %>
        <%= render :partial=>"people/discipline_select",:locals=>{:f=>f} %>
        <br/>
        <%= render :partial => "select_expertise", :locals => {:person => (person ? person : Person.new) } -%>
        <%= render :partial => "select_tools", :locals => {:person => (person ? person : Person.new) } -%>
    <% end %>
    <%= render :partial=>"project_positions",:locals=>{:editable=>true} -%>
<% end %>

<% if person && person.notifiee_info -%>
    <%= folding_panel("Email announcements") do %>
        <div class="checkbox">
          <label>
            <%= check_box_tag "receive_notifications",true,person.notifiee_info.receive_notifications -%> I wish to receive occasional email announcements
          </label>
        </div>
    <% end %>
    <%= render :partial=>"people/subscriptions",:locals=>{:f=>f} %>

<% end -%>

<%= f.submit((person ? "Update" : "Create"), data: { disable_with: (person ? "Updating..." : "Creating...") }, :class => 'btn btn-primary') -%>
 or <%= cancel_button(person ? person_path(person.id) : people_path) %>
