<% positions = membership.project_positions %>
<% if membership.project.can_be_administered_by?(current_user) %>
  <%= button_link_to('Manage', 'manage', edit_project_path(membership.project), class: 'btn-xs pull-right') -%>
<% end %>
<%= membership_link(membership) %>
<div class="row">
  <div class="col-sm-6">
    <ul>
      <% if positions.any? %>
        <% positions.each do |position| %>
          <li><%= position.name.humanize %></li>
        <% end %>
      <% else %>
        <li>Member</li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-6">
    <ul>
      <% roles.each do |role| %>
        <li class="role">
          <%= seek_role_icon(role, 16, 'data-tooltip' => nil) -%>
          <%= role.humanize %>
        </li>
      <% end %>
    </ul>
  </div>
</div>