<% person=person_list_item -%>
<% drag_id=model_to_drag_id person -%>

<% truncate_projects_institutions_length = 25 -%>

<div class="list_items_container">
  <table class="list_item">
    <tr>
      <td class="item_avatar" style="width: 100px">
        <% image_tag = avatar(person, 60, true) -%>
        <%= link_to_draggable(image_tag, url_for(person), :id=>drag_id, :class=>"asset", :title=>tooltip_title_attrib(h(person.name))) -%>
      </td>

      <td class="item_details">
        <p class="name">
          <% if mine? person -%>
            <span style="float: right; font-size: 77%;"><%= icon "edit", edit_person_path(person), nil, nil, "Edit" -%></span>
          <% end -%>
          <% person_name = h(person.name) -%>
          <%= person_name.blank? ? "<span class='none_text'>Unknown</span>" : link_to(person_name, person_path(person)) -%>
        </p>

        <div class="box_standout">
          <%= truncate(text_or_not_specified(person.description, :description => true), 300) %>
        </div>

        <% unless person.email.nil? or person.email.empty? %>
          <p class="email">
            <label>Email: </label>
            <%= mail_to h(person.email) %>
          </p>
        <% end  %>

        <% unless person.web_page.nil? or person.web_page.empty? %>
          <p class="web_page">
            <label>Web page:</label>
            <%= link_to h(person.web_page), h(person.web_page),:popup=>true %>
          </p>
        <% end  %>

        <% unless person.phone.nil? or person.phone.empty? %>
          <p class="phone">
            <label>Phone:</label>
            <%= h person.phone %>
          </p>
        <% end  %>

        <% unless person.skype_name.nil? or person.skype_name.empty? -%>
          <p class="skype_name">
            <label>Skype:</label>
            <%= h person.skype_name %>
          </p>
        <% end  %>

        <div class="expertise" style="margin-top: 0.7em;">

          <div style="margin-top: 0.3em; border-left: 2px dotted #365FA5;">
            <p style="margin-left: 1em;">
              <label>Expertise:</label>
              <% unless person.expertise.empty? -%>
                <%= list_item_tags_list person.expertise,:type=>:expertise %>
              <% else -%>
                <span class="none_text">Not known</span>
              <% end -%>
            </p>

            <p style="margin-left: 1em;">
              <label>Tools:</label>
              <% unless person.tools.empty? -%>
                <%= list_item_tags_list person.tools,:type=>:tools %>
              <% else -%>
                <span class="none_text">Not known</span>
              <% end -%>
            </p>


          </div>
        </div>
      </td>

      <td class="item_right_table_cell" style="width: 170px;">
        <div>
          <p class="section_header">Institutions</p>
          <ul>
            <% unless person.institutions.empty? -%>
              <% for institution in person.institutions %>
                <li>
                  <% if institution.country -%>
									  <%= flag_icon(institution.country) -%>
									<% else -%>
  									<%= icon("institution", nil, "Institution", nil, "&nbsp;"); -%>
									<% end -%>
                  <%= link_to(truncate(h(institution.name), truncate_projects_institutions_length), url_for(institution), :title => tooltip_title_attrib(h(institution.name))) -%>
                </li>
              <% end  %>
            <% else -%>
              <li><span class="none_text" style="margin-left: 1em;">Not known</span></li>
            <% end -%>
          </ul>
        </div>

        <div style="margin-top: 1em;">
          <p class="section_header">Projects</p>
          <ul>
            <% unless person.projects.empty? -%>
              <% for project in person.projects %>
                <li>
                  <%= icon("project", nil, "Project", nil, "&nbsp;"); -%>
                  <%= link_to(truncate(h(project.name), truncate_projects_institutions_length), url_for(project), :title => tooltip_title_attrib(h(project.name))) -%>
                </li>
              <% end  %>
            <% else -%>
              <li><span class="none_text" style="margin-left: 1em;">Not known</span></li>
            <% end -%>
          </ul>
        </div>
      </td>
    </tr>
  </table>


</div>