<% person=person_list_item %>
<% profile = person.profile %>

<div id="person_list_item">
  
  <div id="avatar_pane">
    <div id="avatar">
      <%= image_tag person_avatar_image(person),{:size=>"50x60"} %>
    </div>
  </div>
  
  
  <div id="details">
    
    <div id="name">
      <%=  link_to  h(person_full_name(person)),url_for(person) %>
      <% if @current_user.person==person %>
        <small style="font-size:12px">[<%= link_to "edit",url_for(:id=>@current_user.person,:action=>'edit') %>]</small>
      <% end %>
    </div>
    
    
    <div id="email">
      <% unless profile.email.nil? or profile.email.empty? %>
                    
        <label>Email: </label>
        <%= mail_to h(profile.email) %>
      
      <% end  %>
    </div>
    
    <% unless profile.web_page.nil? or profile.web_page.empty? %>
      <div id="web_page">
        <label>Webpage:</label>
        <%= link_to h(profile.web_page), h(profile.web_page),:popup=>true %>
      </div>
    <% end  %>
    
    <% unless profile.phone.nil? or profile.phone.empty? %>
      <div id="phone">
        <label>Phone:</label>
        <%= h profile.phone %>
      </div>
    <% end  %>
    
    <% unless profile.skype_name.nil? or profile.skype_name.empty? %>
      <div id="skype_name">
        <label>Skype:</label>
        <%= h profile.skype_name %>
      </div>
    <% end  %>
            
    <div id="institutions">
      <% unless person.institutions.empty? %>
        <ul><label>Institutions:</label>
          <% for institution in person.institutions %>
            <li>
              <%= link_to h(institution.name),url_for(institution) %>
            </li>
          <% end  %>
        </ul>
      <% end  %>
    </div>
    
    <div id="projects">
      <% unless person.projects.empty? %>
        <ul><label>Projects:</label>
          <% for project in person.projects %>
            <li>
              <%= link_to h(project.title), url_for(project) %>
            </li>
          <% end  %>
        </ul>
      <% end  %>
    </div>
  </div>
  
</div>