<% person=person_list_item -%>
<% drag_id=model_to_drag_id person -%>

<div id="list_item" class="list_details">
  
  <div id="avatar_pane">
    
    <div id="avatar">
      <% image_tag = avatar(person, 60, true) -%>
      <%= link_to_draggable(image_tag, url_for(person), :id=>drag_id, :class=>"asset", :title=>tooltip_title_attrib(h(person.name))) -%>
    </div>
    
  </div>
  
  
  
  <div id="details">
    
    <div id="name">
      <%=  link_to  h(person.name),url_for(person) -%>
      <% if @current_user.person==person -%>
        <small style="font-size:12px">[<%= link_to "edit",url_for(:id=>@current_user.person,:action=>'edit', :controller=>'people') -%>]</small>
      <% end -%>
    </div>
    
    
    <div id="email">
      <% unless person.email.nil? or person.email.empty? %>
                                                              
        <label>Email: </label>
        <%= mail_to h(person.email) %>
      
      <% end  %>
    </div>
    
    
    <p>
      <div class="box_standout">
        <%= text_or_not_specified person.description, :description=>true %>
      </div>
    </p>
    
    
    <% unless person.web_page.nil? or person.web_page.empty? %>
      <div id="web_page">
        <label>Web page:</label>
        <%= link_to h(person.web_page), h(person.web_page),:popup=>true %>
      </div>
    <% end  %>
    
    <% unless person.phone.nil? or person.phone.empty? %>
      <div id="phone">
        <label>Phone:</label>
        <%= h person.phone %>
      </div>
    <% end  %>
    
    <% unless person.skype_name.nil? or person.skype_name.empty? -%>
      <div id="skype_name">
        <label>Skype:</label>
        <%= h person.skype_name %>
      </div>
    <% end  %>
    
    <% unless person.expertises.empty? -%>
      <div id="expertise">
        <label>Expertise:</label>
        <%= list_item_expertise_list person.expertises %>
      </div>
    <% end  %>
    
    <%= render :partial=>"people/person_list_item_extra_details", :object=>person %>
  </div>
  
</div>