<%
  project_roles = person.project_roles
  memberships = person.group_memberships.includes(:project)
  memberships = memberships.sort_by do |m|
    roles = (project_roles[m.project] || [])
    if roles.include?('project_administrator')
      10
    else
      roles.length
    end
  end.reverse

  max_visible ||= 8
  visible_memberships = memberships[0...max_visible] || []
  hidden_memberships = memberships[max_visible..-1] || []
%>
<%= modal(id: 'project-roles', size: 'lg', class: 'text-left') do %>
  <%= modal_header("#{t('project')} roles") %>
  <%= modal_body do %>
    <% visible_memberships.each do |membership| %>
      <%= render partial: 'people/project_role_details', locals: { membership: membership,
                                                                   roles: (project_roles[membership.project] || []) } %>
    <% end %>
    <% if hidden_memberships.any? %>
      <div style="display: none" id="hidden-project-roles">
        <% hidden_memberships.each do |membership| %>
          <%= render partial: 'people/project_role_details', locals: { membership: membership,
                                                                       roles: (project_roles[membership.project] || []) } %>
        <% end %>
      </div>
    <% end %>
    <% if hidden_memberships.any? %>
      <%= modal_footer do %>
        <a href="#" onclick="$j('#hidden-project-roles').fadeIn(); $j(this).hide(); return false;" class="pull-right">
          Show <%= hidden_memberships.count-%> more
        </a>
      <% end %>
    <% end %>
  <% end %>
<% end %>
