<%= panel("#{t('project').pluralize} and Institutions") do %>
  <p>
      If you need to be assigned to one or more existing <%= t('project').pluralize %>, please select them below and also indicate the <%= t('institution') %>(s) you belong to.
      By doing so a <%= t('project') %> Administrator will be notified and will be able to add you. You will be notified by email once added.
    </p>

    <p class="alert alert-warning" id="no-project-warning">
      If you register but are not a member of a <%= t('project') %> you will not be able to add new content. You will need to contact a <%= t('project') %> administrator to ask to be assigned to that Project,
      or you can <%= help_link(:join_project,link_text:'Request to join') %> from the <%= t('project') %> page.
      <% if Seek::Config.programme_user_creation_enabled && Seek::Config.programmes_enabled %>
        You can also to create and administer your own <%= t('project').pluralize %>, by <%= help_link(:programme_self_management,link_text:'Creating and managing your own Programme space') %>.
      <% end %>
    </p>
  <div class="row">
    <div class="col-sm-4">
      <label><%= t('project').pluralize %></label>
      <%= select_tag "projects",
                     options_for_select(Project.all.sort_by(&:title).collect { |p| [p.title, p.id] }|[['Others', 0]],
                                        selected: params['projects']),
                     { multiple: true, class: 'form-control'} -%>
      <div style='display: none' class="form-group other">
        <label>Other <%= t('project').pluralize %></label>
        <%= text_field_tag :other_projects, params['other_projects'], class: 'form-control' %>
      </div>
    </div>

    <div class="col-sm-4">
      <label><%= t('institution').pluralize %></label>
      <%= select_tag "institutions",
                     options_for_select(Institution.all.sort_by(&:title).collect { |i| [i.title, i.id] }|[['Others', 0]],
                                        selected: params['institutions']),
                     { multiple: true, class: 'form-control'} -%>
      <div style='display: none' class="form-group other">
        <label>Other <%= t('institution').pluralize %></label>
        <%= text_field_tag :other_institutions, params['other_institutions'], class: 'form-control' %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    $j(document).ready(function () {
        function showOther() {
            if ($j(this).val() && $j(this).val().indexOf('0') > -1) {
                $j(this).siblings('.other').show().children('.form-control').prop('disabled', false);
            } else {
                $j(this).siblings('.other').hide().children('.form-control').prop('disabled', true);
            }
        }

        $j('#projects').multiselect({ maxHeight: 250, buttonWidth: '20em', numberDisplayed: 1 }).change(function() {
	          // hides the warning if a registered project is selected
            if ($j(this).val() === null || ($j(this).val().filter(function (v) { return v !== '0' }).length === 0)) {
                $j('#no-project-warning').show();
            }
            else {
                $j('#no-project-warning').hide();
            }

            showOther.apply(this);
        });

        $j('#institutions').multiselect({ maxHeight: 250, buttonWidth: '20em', numberDisplayed: 1 }).change(showOther);

        // Show/hide on page load
        $j('#projects').change();
        $j('#institutions').change();
    });
</script>
