<%
    admin_or_me = (current_user.try(:person) == @person || admin_logged_in?)
%>

<div <%= "class='yui-gc'".html_safe if admin_or_me -%> >

  <%= item_description @person.description,:label=>"About #{@person.name}" %>
  <div <%= "class='yui-u first'".html_safe if admin_or_me -%>>


    <p>
      <% locations = @person.locations -%>
      <% unless locations.empty? -%>
          <b><%= pluralize(locations.length, "Location").split(" ")[1] -%>:</b>
          <% locations.each do |location| -%>
              <%= flag_icon(location) + "&nbsp;".html_safe + link_to(location, country_path(location)) -%>
              <%= ", " unless location==locations.last -%>
          <% end -%>
      <% else -%>
          <b>Location:</b>
          <span class="none_text">Not known</span>
      <% end -%>
    </p>

    <p>
      <b>Disciplines:</b>
      <%= discipline_list(@person) %>
    </p>

    <%= render :partial=>"areas_of_expertise", :locals => {:person=>@person} %>
    <p>
      <b>ORCID Identifier:</b>
      <%= orcid_identifier(@person) -%>
    </p>
  </div>
  <% if admin_or_me %>
      <div <%= "class='yui-u'".html_safe %>>

            <p>
              <span class='none_text'>Only shown to you and administrators</span>
            </p>

            <p>
              <b>Seek ID: </b>
              <%= @person.id %>
            </p>
            <% if !@person.user.nil? && @person.user.login %>
                <p>
                  <b>Login name:</b>
                  <%= h @person.user.login %>
                </p>
            <% end %>
            <% if !@person.user.nil? && @person.user.openid %>
                <p>
                  <b>OpenID URL:</b>
                  <%= h @person.user.openid %>
                </p>
            <% end %>
            <p>
              <b>Joined:</b>
              <%= @person.registered? ? date_as_string(@person.user.created_at, true) : 'This person has not yet registered' -%>
            </p>

      </div>
  <% end %>
</div>
