<%
  project_roles = @person.project_roles
  memberships = @person.group_memberships.includes(:project, :project_positions)
%>

<% if memberships.any? %>
  <%= panel("#{t('project')} roles", id: 'project-positions') do %>
    <% memberships.each do |membership| %>
      <% positions = membership.project_positions %>
      <% roles = (project_roles[membership.project] || []) %>
      <%= membership_link(membership) %>

      <% if positions.any? || roles.any? %>
        <ul>
          <% roles.each do |role| %>
            <li class="role">
              <%= seek_role_icon(role, 16, 'data-tooltip' => nil) -%>
              <%= role.humanize %>
            </li>
          <% end %>
          <% positions.each do |position| %>
            <li><%= position.name.humanize %></li>
          <% end %>
        </ul>
      <% else %>
        <ul>
          <li>Member</li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>
