<%= panel("#{t('project')} positions", id: 'project-positions') do %>
    <% @person.group_memberships.each do |group_membership| -%>
        <div class="project-positions-group" data-group-id="<%= group_membership.id -%>">
          <p>
            <%= link_to group_membership.work_group.project.title, group_membership.work_group.project -%>
            at
            <%= link_to group_membership.work_group.institution.title, group_membership.work_group.institution -%>
          </p>

          <ul class="roles" id="positions-<%= group_membership.id -%>">Loading...</ul>
          <% if editable %>
              <%= select_tag "possible_roles_#{group_membership.id}",
                             options_for_select(ProjectPosition.all.map { |d| [h("#{d.name}"),d.id]}),
                             class: 'form-control project-positions-adder',
                             prompt: 'Add a position...',
                             'data-group-id' => group_membership.id%>
          <% end %>
          <hr/>
        </div>
    <% end %>
<% end %>

<script>
    var positionData = <%= @person.group_memberships.includes(:work_group).map do |membership|
                {
                  id: membership.id,
                  positions: membership.project_positions.map do |position|
                           { editable: editable,
                             position: { id: position.id, name: position.name }
                           }
                  end
                }
                end.to_json.html_safe %>;

    $j(document).ready(function () {
        positions.render(positionData);
    });

    $j('#project-positions').on('click', '.delete', positions.remove);
    $j('.project-positions-adder').change(positions.add);
</script>
