<%
  memberships = @person.group_memberships
  memberships_with_positions = memberships.select{|m| m.project_positions.any?}
  memberships_without_positions = memberships - memberships_with_positions
%>

<% if memberships.any? %>
    <%
      positions = {}
      memberships_with_positions.each do |membership|
        membership.project_positions.each do |position|
          positions[position] ||= []
          positions[position] << membership
        end
      end
    %>
    <%= panel("#{t('project')} positions", id: 'project-positions') do %>
        <% positions.keys.each do |position| %>
            <p>

                <label><%= position.name %>:</label>
                <%= membership_list(positions[position]) %>


            </p>
        <% end %>
        <% if memberships_without_positions.any? %>
            <p>
                <label>Other <%= t('project').pluralize %>:</label>
                <%= membership_list(memberships_without_positions) %>
            </p>
        <% end %>

    <% end %>
<% end %>
