<script type="text/javascript">
    function person_selected(id) {
        if (id) {
            $('person_list_submit').disabled=false;
        }
        else {
            $('person_list_submit').disabled=true;
        }
    }
</script>

<h1>Profile selection</h1>

<p>
  If you are a member of <%= Seek::Config.project_name %>, then you should already have a basic profile. Please select a <%= t('project') %> you are a member of to begin finding your profile.
</p>
<p>
  If you are not a <%= Seek::Config.project_name %> member, or cannot find your <%= t('project') %>, then proceed to
  <%= link_to "create a new profile", "#", :onclick => "javascript:$j('#profile_select a[href=\"#profile_creation\"]').tab('show'); return false"%>.
</p>

<div id="project_list">
  <% if @userless_projects.blank? -%>
      <%= alert_box('danger', :hide_button => true) do %>
          There are no available profiles to select from. You should <b><%= link_to_function "create your own" do |page|
  page.visual_effect :toggle_blind, "profile_selection"
  page.visual_effect :toggle_blind, "profile_creation"
end -%>.</b>
      <% end %>
  <% else %>
      <div class="form-group">
        <label>Project</label>
        <%= select_tag "project_id",
                       options_for_select([["Select #{t('project')}..",0]]|@userless_projects.collect {|p| [p.title,p.id]}),
                       {:onchange=>remote_function(
                               :update=>:people_list,
                               :url=>{:action=>"userless_project_selected_ajax"},
                               :with=>"'project_id='+this.value",
                               :before=>"show_ajax_loader('people_list')"
                       ), :class => 'form-control'}
        -%>
      </div>
  <% end %>
</div>

<div id="people_list"></div>
