<h1>New profile</h1>
<p class="box_infotext" style="text-align:center">
  You should only create a new profile if you could not find yourself listed under your project.<br/>
  If you are a member of a <%= Seek::ApplicationConfiguration.project_name %> project and have not yet checked if your profile exists, then you should
  <b><%= link_to_function "select an existing profile" do |page|
      page.visual_effect :toggle_blind, "profile_selection"
      page.visual_effect :toggle_blind, "profile_creation"
    end -%>.</b>
  <br/><br/>
  
</p>
<% form_for @person do |f| %>
  <h2>Personal Information & Contact Details</h2>
  <%= f.error_messages %>
  <table style="width: 100%;" class="box_simple">
    <tr>
      <td style="width: 45%;">
        <center>
          <div style="width: 90%;">
            <p>
              <font style="color: #FF0000;">*</font> <%= f.label :first_name -%><br />
              <%= f.text_field :first_name, :style => "width: 100%;" -%>
            </p>

            <p>
              <font style="color: #FF0000;">*</font> <%= f.label :last_name %><br />
              <%= f.text_field :last_name, :style => "width: 100%;" %>
            </p>

            <p>
              <font style="color: #FF0000;">*</font> <%= f.label :email %><br />
              <%= f.text_field :email, :style => "width: 100%;" %>
            </p>
          </div>
        </center>
      </td>
      <td style="width: 45%;">
        <center>
          <div style="width: 90%">
            <p>
              <%= f.label :phone %><br />
              <%= f.text_field :phone, :style => "width: 100%;" %>
            </p>

            <p>
              <%= f.label :skype_name %><br />
              <%= f.text_field :skype_name, :style => "width: 100%;" %>
            </p>

            <p>
              <%= f.label :web_page %><br />
              <%= f.text_field :web_page, :style => "width: 100%;" %>
            </p>
          </div>
        </center>
      </td>
    </tr>
  </table>
  <br/>
  <%= hidden_field_tag :sysmo_member, true -%>  
  
  <br/>
  <div id="sysmo_member_details_div" >
    <p class="box_infotext" style="text-align:center">
      Please provide some additional details about the projects your are a member of,<br/> and the institution at which you are based.<br/>
    </p>
    <br/>
    <center>
      <%=
      text_area_tag :sysmo_member_details,nil,:size=>"60x5"
      -%>
    </center>
  </div>
  <br/>
  <%=  f.submit("Create",:disable_with=>"Creating...") %>
<% end -%>
