

<h1>New profile</h1>
<p class="box_infotext" style="text-align:center">
  You should only create a new profile if you could not find yourself listed under your <%= t('project') %>.<br/>
  If you are a member of a <%= Seek::Config.project_name %> <%= t('project') %> and have not yet checked if your profile exists, then you should
  <b><%= link_to_function "select an existing profile" do |page|
      page.visual_effect :toggle_blind, "profile_selection"
      page.visual_effect :toggle_blind, "profile_creation"
    end -%>.</b>
  <br/>
  Alternatively you may choose to <b><%= render :partial => "cancel_registration" %></b>
  <br/>

</p>
<%= form_for @person do |f| %>
  <h2>Personal Information & Contact Details</h2>
  <%= f.error_messages %>
  <table style="width: 100%;" class="box_simple">
    <tr>
      <td style="width: 45%;">

          <div style="width: 90%;">
            <p>
              <%= f.label :first_name -%><span class="required">*</span><br />
              <%= f.text_field :first_name, :style => "width: 100%;" -%>
            </p>

            <p>
              <%= f.label :last_name %><span class="required">*</span><br />
              <%= f.text_field :last_name, :style => "width: 100%;" %>
            </p>

            <p>
              <%= f.label :email %><span class="required">*</span><br />
              <%= f.text_field :email, :style => "width: 100%;" %>
            </p>
          </div>

      </td>
      <td style="width: 45%;">

          <div style="width: 90%">
            <p>
              <%= f.label :phone %><br />
              <%= f.text_field :phone, :style => "width: 100%;" %>
            </p>

            <p>
              <%= f.label :skype_name %><br />
              <%= f.text_field :skype_name, :style => "width: 100%;" %>
            </p>

            <p>
              <%= f.label :web_page %><br />
              <%= f.text_field :web_page, :style => "width: 100%;" %>
            </p>
          </div>

      </td>
    </tr>
  </table>
  <br/>
  <%= hidden_field_tag :sysmo_member, true -%>


    <br/>
    <h2><%= t('project').pluralize %> & Institutions</h2>
    <div class="yui-g box_simple">
      <center>
        <div class="yui-u first" style="width: 42%; margin-left: 2em; margin-top: 1em; margin-bottom: 1em;">
          <span style="font-weight:bold;float: left">Projects:</span> <br/>
          <%= select_tag "projects",
                         options_for_select(Project.all.collect { |p| [p.title, p.id] }|[['Others', 0]], :selected => params['projects']),
                         {:onchange => "Javascript:others('projects')", :multiple => true, :style => "width: 100%"}
          -%>
          <div id='other_projects' style='display: none'>
            <br/>
            <span style="font-weight:bold;float: left">Other <%= t('project').pluralize %>:</span>
            <br/> <%= text_field_tag :other_projects, nil, {:style => "width: 100%", :value => params['other_projects']} %>
          </div>
        </div>
      </center>

      <center>
        <div class="yui-u" style="width: 42%;margin-right: 2em; margin-top: 1em; margin-bottom: 1em;">
          <span style="font-weight:bold;float: left">Institutions:</span> <br/>
          <%= select_tag "institutions",
                         options_for_select(Institution.all.collect { |i| [i.title, i.id] }|[['Others', 0]], :selected => params['institutions']),
                         {:onchange => "Javascript:others('institutions')", :multiple => true, :style => "width: 100%;"}
          -%>
          <div id='other_institutions' style='display: none'>
            <br/>
            <span style="font-weight:bold;float: left">Other institutions:</span>
            <br/> <%= text_field_tag :other_institutions, nil, {:style => "width: 100%", :value => params['other_institutions']} %>
          </div>
        </div>
      </center>
    </div>

    <br/>

  <%=  f.submit("Create",:disable_with=>"Creating...") %>
  <%= render :partial=>"cancel_registration" %>
  <%= javascript_tag "others('projects')"-%>
  <%= javascript_tag "others('institutions')"-%>
<% end -%>

