<% person = resource %>

<% cache "rli_#{person.cache_key}_#{hide_contact_details?(resource)}" do -%>
    <%= list_item_title person, :title=>person.name %>

    <!--<div class="list_item_left_column">-->
      <!--<%= list_item_simple_list(resource.disciplines, "Disciplines") {|i| link_to i.title, people_path(:discipline_id=>i.id)} %>-->

      <!--<%= list_item_simple_list(resource.project_positions, "Roles") {|i| link_to i.title, people_path(:project_position_id=>i.id)} %>-->

      <!--<%= list_item_simple_list(resource.expertise, "Expertise") {|i| link_for_ann(i, :type=>:expertise)} %>-->

      <!--<% unless hide_contact_details?(resource)%>-->
        <!--<%= list_item_optional_attribute "Email", mail_to(h(resource.email)) %>-->

        <!--<%= list_item_optional_attribute "Web page", h(resource.web_page), h(resource.web_page) %>-->
      <!--<% end  %>-->

    <!--</div>-->

    <!--<div class="list_item_right_column">-->
      <!--<%= list_item_simple_list resource.projects, t('project').pluralize %>-->
      <!--<%= list_item_simple_list resource.institutions, "Institutions" %>-->
      <!--<%= list_item_simple_list(resource.tools, "Tools") {|i| link_for_ann(i, :type=>:tool)} %>-->

      <!--<% unless hide_contact_details?(resource) %>-->
        <!--<%= list_item_optional_attribute "Phone", h(resource.phone)%>-->

        <!--<%= list_item_optional_attribute "Skype", h(resource.skype_name)%>-->
      <!--<% end -%>-->
    <!--</div>-->

    <!--<div class="list_item_whole_width">-->
      <!--<%= list_item_description resource.description %>-->
    <!--</div>-->
<% end -%>
