<%

   projects = @person.projects_for_role(role)
   project_list = projects.collect(&:title).collect{|t| "<strong>#{t}</strong>"}.join(", ")
   project_ids = projects.collect(&:id)
   select_name = "[roles][#{role}]"
   select_id = "_roles_#{role}"
   hidden_block = "edit_#{role}"
   add_method = "add_project_to_#{role}"
   ul_block = "project_list_for_#{role}"
   user_selection_id = "possible_project_for_#{role}"

%>
<style>
  .box_editing_inner  a {
      font-size:smaller;
      vertical-align: middle;
  }
</style>
<p>

  This person is <strong><%= role_title -%></strong> in the following <%= t('Project').downcase.pluralize.html_safe -%>:
  <span id='projects_for_<%= role %>'>
    <%= text_or_not_specified(project_list,:none_text=>"No #{t('Project').downcase.pluralize} assigned") -%>
    &nbsp;
    <%= link_to "[edit]","javascript:Effect.Appear('#{hidden_block}');Effect.Fade('projects_for_#{role}');" %>
  </span>

</p>

<div id='<%= hidden_block %>' style="display:none;padding-left:1em;padding-right:1em;">
  <div class='box_editing_inner'>
    <ul id='<%= ul_block %>'>
      <% projects.each do |project| %>
          <li id="<%= role -%>_project_<%= project.id %>">
            <%= project.title -%>
            <%= link_to "[remove]", "javascript:removePersonFromAdminDefinedRole('#{role}',#{project.id});" %>
          </li>
      <% end -%>
    </ul>
  </div>
  <div style="padding-top:0.25em;">
      <%= select_tag user_selection_id, options_from_collection_for_select(@person.projects.sort_by(&:title), "id", "title") -%>
      &nbsp;<%= link_to "Add", "javascript:addPersonToAdminDefinedRole('#{role}');" -%>
  </div>
  <br>
</div>
<%= select_tag select_name,
               options_from_collection_for_select(Project.all,"id","title",project_ids),
               {:multiple=>true,:style=>"display:none;"} -%>

<script type="text/javascript">

</script>