<%

   projects = @person.projects_for_role(role)
   project_list = projects.collect(&:title).collect{|t| "<strong>#{h(t)}</strong>"}.join(", ").html_safe
   project_ids = projects.collect(&:id)
   select_name = "[roles][#{role}]"
   hidden_block = "edit_#{role}"
   ul_block = "project_list_for_#{role}"
   user_selection_id = "possible_project_for_#{role}"

%>
<style>
  .box_editing_inner  a {
      font-size:smaller;
      vertical-align: middle;
  }
</style>
<p>

  This person is <strong><%= role_title -%></strong> for the following <%= t('project').downcase.pluralize.html_safe -%>:
  <span id='projects_for_<%= role %>'>
    <%= text_or_not_specified(project_list,:none_text=>"No #{t('project').downcase.pluralize} assigned") -%>
    &nbsp;
    <%= link_to_function "[edit]","Effect.Appear('#{hidden_block}');Effect.Fade('projects_for_#{role}');return(false);" %>
  </span>

</p>

<div id='<%= hidden_block %>' style="display:none;padding-left:1em;padding-right:1em;">
  <div class='box_editing_inner'>
    <ul id='<%= ul_block %>'>
      <% if projects.empty? %>
      <li id="no_projects_for_<%=role%>" class="none_text">No <%= t('project').downcase %> assigned</li>
      <% end -%>
      <% projects.each do |project| %>
          <li id="<%= role -%>_project_<%= project.id %>">
            <%= project.title -%>
            <%= link_to_function "[remove]", "removePersonFromAdminDefinedRole('#{role}',#{project.id});return(false);" %>
          </li>
      <% end -%>
    </ul>
  </div>
  <div style="padding-top:0.25em;">
    <% person_direct_projects = Seek::Config.project_hierarchy_enabled ?  @person.direct_projects : @person.projects %>
      <% selection_options = person_direct_projects.sort_by(&:title).collect{|p| [sanitize(p.title),p.id]} -%>
      <%= select_tag user_selection_id, options_for_select(selection_options) -%>
      &nbsp;<%= link_to_function "Add", "addPersonToAdminDefinedRole('#{role}');return(false);" -%>
  </div>
  <br>
</div>
<%= select_tag select_name,
               options_from_collection_for_select(Project.all,"id","title",project_ids),
               {:multiple=>true,:style=>"display:none;"} -%>
