
<p>
  <label for="tool_list">
    Tools and techniques
    <%= help_icon("A comma seperated list of keywords that describe your tools and techniques.<br/>Please let the suggestions guide you, but feel free to add your own if necessary.") %>
  </label>

  <div id="facebook" class="clearfix">
    <div tabindex="-1" id="tool_ids" class="clearfix tokenizer" onclick="$('tools_autocomplete_input').focus();">
      <span class="tokenizer_stretcher">^_^</span>
      <span class="tab_stop"><input type="text" id="tools_hidden_input" tabindex="-1" ></span>

      <div id="tools_autocomplete_display" class="tokenizer_input">
        <input type="text" size="1" tabindex="" id="tools_autocomplete_input" />
      </div>
    </div>
    <div id="tools_autocomplete_populate" class="clearfix autocomplete typeahead_list" style="width: 600px; height: auto; overflow-y: hidden;display:none">
      <div class="typeahead_message">Type the tools you have expertise in</div>
    </div>
  </div>



  <p style="font-size: 93%; margin-bottom: 0.2em; padding: 0 inherit; text-align: right; vertical-align: middle;">
    <%= link_to_function "View suggestions" + expand_image("0.3em"), visual_effect(:toggle_blind, "tools_tag_suggestions", :duration => 0.4) %>
  </p>

  <div id="tools_tag_suggestions" style="font-size: 93%; color: #333333; display: none; text-align: center; margin-top: 0.5em; padding: 0.3em;">
    <div id="tools_select_tags" class="hTagcloud">
      <div class="popularity">
        <% unless @tags_tools.blank? -%>
          <% tag_cloud @tags_tools, %w(popular v-popular vv-popular vvv-popular vvvv-popular) do |tag, css_class| -%>
            <%= link_to tag.name, "javascript:addToolListTag(#{tag.id});", :class => css_class -%>
          <% end -%>
        <% end -%>
      </div>
    </div>
  </div>

</p>


<script type="text/javascript">
  var tools_list = <%= @all_tools_as_json -%>;
  var prepopulate_with = <%= @person.tools.sort{|a,b| a.id<=>b.id}.collect{|t| t.id}.to_json -%>;
  var tools_autocompleter_id='tools_autocompleter'
  var tools_autocompleter = new Autocompleter.LocalAdvanced(
  tools_autocompleter_id, 'tools_autocomplete_input', 'tools_autocomplete_display', 'tools_autocomplete_populate', tools_list, prepopulate_with, {
    frequency: 0.1,
    updateElement: addAction,
    search_field: "name",
    id_field: "id",
    validation_type: "any"
  });
  var hidden_input = new HiddenInput('tools_hidden_input',tools_autocompleter);

  var autocompleters = new Array();
  autocompleters[tools_autocompleter_id] = tools_autocompleter;
</script>

