<p>
  Please now select yourself from the list of people below, and then click Select.<br/>
  If you do not appear in this list, then you will need to then proceed to
  <%= link_to "create a new profile", "#", :onclick => "javascript:$j('#profile_select a[href=\"#profile_creation\"]').tab('show'); return false"%>.
</p>

<%= form_for current_user do |f| -%>
    <div class="form-group">
      <label>Profile</label>
      <%= f.collection_select(
                  :person_id,
                  people,
                  :id,
                  :name,
                  {:include_blank=>"Select yourself.."},
                  {:onchange=>"person_selected(this.value)", :class => 'form-control'})
      -%>
    </div>

    <%=f.submit("Select",:disabled=>true,:id=>"person_list_submit", :class => 'btn btn-primary')%> <%= render :partial=>"cancel_registration" %>
<% end -%>
