<style>
  div.work_groups {
      margin-top: 1em;
      margin-bottom: 2em;
      margin-left: 2em;
      width: 90%;
      height: 500px;
      overflow: auto;
  }

  div.wg_project {
      margin-top:1.5em;
      margin-bottom: 0.5em;
      font-weight: bolder;
  }

  div.wg_institution {
      margin-left: 0.5em;
  }
</style>

<%= fields_for person do |f| %>
    <% work_group_groups = work_group_groups_for_selection %>
    <% chosen_wg_ids = person.work_groups.collect(&:id) %>
      <div class="work_groups">
        <% work_group_groups.each do |work_group_group| %>
            <div class="wg_project"><%= work_group_group.project_name %></div>
            <div class="wg_institution">
                <% work_group_group.options.each do |option| %>
                    <%= check_box_tag "workgroup_#{option.id}", option.id, chosen_wg_ids.include?(option.id), :class => 'work_group_checkbox' %>
                    <%= option.institution_name %>
                    <br/>
                <% end %>
            </div>
        <% end %>
      </div>

      <select id="person_work_group_ids" multiple="multiple" name="person[work_group_ids][]" style="display:none;">
        <%= option_groups_from_collection_for_select work_group_groups,
                                                     :options, :project_name, :id, :institution_name, person.work_groups.map { |wg| wg.id }
        %>
      </select>
<% end %>
