<%= fields_for person do |f| %>
    <% work_group_groups = work_group_groups_for_selection(person) %>
    <% chosen_wg_ids = person.work_groups.collect(&:id) %>

    <% work_group_groups.each do |work_group_group| %>
        <h4><%= work_group_group.project_name %></h4>
        <% work_group_group.options.each do |option| %>
            <div class="checkbox">
              <label>
                <%= option.institution_name %>
                <%= check_box_tag "workgroup_#{option.id}", option.id, chosen_wg_ids.include?(option.id), class: 'work_group_checkbox',disabled: !work_group_group.editable %>
              </label>
            </div>
        <% end %>
    <% end %>

    <input name="person[work_group_ids][]" type="hidden" value/>
    <select id="person_work_group_ids" multiple="multiple" name="person[work_group_ids][]" style="display:none;">
      <%= option_groups_from_collection_for_select work_group_groups,
                                                   :options, :project_name, :id, :institution_name, person.work_groups.map { |wg| wg.id }
      %>
    </select>
<% end %>
