<h1>Administer Person: <%= link_to @person.name, person_path(@person) -%></h1>

<%= form_for @person, :url => {:action => 'administer_update', :id => @person.id}, method: :put do |f| -%>
    <% unless (project_administrator_logged_in? && @person.me?) %>
        <%= panel("#{t('project')} / Institution Memberships", :id => 'work_groups') do %>
            <%= render :partial => "work_groups", :locals => { :person => @person } -%>
        <% end %>
    <% end %>
    <% if admin_logged_in? || @person.is_project_administered_by?(User.current_user) %>
        <%= panel("Administrative Roles") do %>
            <div class="row">
              <div class="col-md-6 col-md-push-6">
                <div class="alert alert-info">
                  <p>
                    These are the roles that can be assigned to a person by an administrator to allow this person to carry out specific tasks within that role.
                    Each role is associated with, and only applies to, a particular <%= t('project').downcase.html_safe %>.
                  </p>
                  <p>
                    <strong>Note</strong> that if new projects are added to this person (above), they will
                    need to be saved before the <%= t('project').downcase.pluralize.html_safe %> you can associate with a role are available.
                    If the person is removed from a <%= t('project').downcase.html_safe %> then the role will also be automatically removed.
                  </p>
                </div>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <% admin_defined_project_roles_hash.each do |role, role_title| %>
                    <%= render :partial => "roles_selector", :locals => {:role => role, :role_title => role_title} -%>
                    <hr/>
                <% end %>
              </div>
            </div>
        <% end %>
    <% end %>

    <%= f.submit("Update", data: { disable_with: 'Updating...' }, :onclick => "updateWorkGroupIds()", :class => 'btn btn-primary   ') -%>
    or <%= cancel_button(person_path(@person.id)) -%>
<% end -%>
