<h1>Administer Person: <%= link_to h(@person.name), person_path(@person) -%></h1>

<div class="show_basic">
  <% form_for(@person) do |f| -%>
    <% if admin_logged_in? || current_user.person.is_project_manager?-%>
    <h2 style="margin-top: 1.5em;">Choose Project / Institution&nbsp;&nbsp;&nbsp;</h2>
    <%= render :partial => "work_groups", :locals=> { :person => @person} -%>
    <%# only makes sense to display these settings when the person has "user" associated with it; -%>
    <%# also, can only do this if the person is not an admin, too - because admins cannot edit accounts of each other -%>
    <h2 style="margin-top: 1.5em;">Assign roles or permissions&nbsp;&nbsp;&nbsp;</h2>
    <p style="line-height: 1.8;">
      <% if !@person || (mine?(@person) || !@person.is_admin?) -%>
            <label for="can_edit_projects" style="font-weight: normal;">
                <%= f.check_box :can_edit_projects -%>Allow this person to edit <b>projects</b>
                they work in.
            </label>
            <br/>
            <label for="can_edit_institutions" style="font-weight: normal;">
                <%= f.check_box :can_edit_institutions -%>Allow this person to edit <b>institutions</b>
                they work in.
            </label>
            <br/>
        <% end -%>
        <% if admin_logged_in? %>
            <label for="is_pal" style="font-weight: normal;">
                <%= check_box_tag '[roles][pal]',1, @person.try(:is_pal?) -%>
                This person is a certified <b><%= Seek::Config.dm_project_name %> PAL</b>
            </label><br/>
            <label for="is_project_manager" style="font-weight: normal;">
                <%= check_box_tag "[roles][project_manager]", 1, @person.try(:is_project_manager?) -%>
                This person is a <b>Project Manager</b>
            </label><br/>
            <label for="is_asset_manager" style="font-weight: normal;">
                <%= check_box_tag "[roles][asset_manager]", 1, @person.try(:is_asset_manager?) -%>
                This person is an <b>Asset Manager</b>
            </label>
         <% end %>
    </p>
    <% end -%>
    <p style="margin-top: 2em; text-align: center;">
      <%= f.submit("Update", :disable_with=>"Updating...") -%>
      or <%= link_to 'Cancel', person_path(@person.id) -%>
    </p>

  <% end -%>
</div>