<h1>Administer Person: <%= link_to h(@person.name), person_path(@person) -%></h1>

<div class="show_basic">
  <% form_for :person, @person, :url => {:action => 'administer_update', :id => @person.id} do |f| -%>
      <% if admin_logged_in? || project_manager_logged_in? -%>
          <h2 style="margin-top: 1.5em;">Choose Project / Institution&nbsp;&nbsp;&nbsp;</h2>
          <%= render :partial => "work_groups", :locals=> {:person => @person} -%>
          <h2 style="margin-top: 1.5em;">Assign roles or permissions&nbsp;&nbsp;&nbsp;</h2>
          <p style="line-height: 1.8;">
            <% if admin_logged_in? || (project_manager_logged_in? && !(@person.projects & current_user.try(:person).try(:projects).to_a).empty?) %>

                <label for="can_edit_projects" style="font-weight: normal;">
                  <%= f.check_box :can_edit_projects -%>Allow this person to edit <b>projects</b>
                  they work in.
                </label>
                <br/>
                <label for="can_edit_institutions" style="font-weight: normal;">
                  <%= f.check_box :can_edit_institutions -%>Allow this person to edit <b>institutions</b>
                  they work in.
                </label>
                <br/>
            <% end -%>

            <% if admin_logged_in? %>
                <label for="is_pal" style="font-weight: normal;">
                  <%= check_box_tag '[roles][pal]', 1, @person.try(:is_pal?) -%>
                  This person is a certified <b><%= Seek::Config.dm_project_name %> PAL</b>
                </label>
                <br/>

                <label for="is_project_manager" style="font-weight: normal;">
                  <%= check_box_tag "[roles][project_manager]", 1, @person.try(:is_project_manager?) -%>
                  This person is a <b>Project Manager</b>
                </label>
                <br/>

                <label for="is_asset_manager" style="font-weight: normal;">
                  <%= check_box_tag "[roles][asset_manager]", 1, @person.try(:is_asset_manager?) -%>
                  This person is an <b>Asset Manager</b>
                </label>
                <br/>

                <label for="is_gatekeeper" style="font-weight: normal;">
                  <%= check_box_tag "[roles][gatekeeper]", 1, @person.try(:is_gatekeeper?) -%>
                  This person is a <b>Gatekeeper</b>
                </label>
            <% end %>
          </p>
      <% end -%>
      <p style="margin-top: 2em; text-align: center;">
        <%= f.submit("Update", :disable_with=>"Updating...") -%>
        or <%= link_to 'Cancel', person_path(@person.id) -%>
      </p>

  <% end -%>
</div>