<h1>Editing person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>
  
  <p>First Name: <%= f.text_field :first_name%></p>
  <p>Last Name: <%= f.text_field :last_name%></p>
<p>
        Institutions: <%= collection_select(:person, :institution_ids, Institution.find(:all), :id, :name,{},{ :multiple=>true })%>
</p>
<p>
        Projects: <%= collection_select(:person, :project_ids, Project.find(:all), :id, :name,{},{ :multiple=>true})%>
</p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
