<h1>Listing people</h1>

<table>
  <tr>
    <th>Fist name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Skype name</th>
    <th>Web page</th>
  </tr>

<% for person in @people %>
  <tr>
    <td><%=h person.profile.first_name %></td>
    <td><%=h person.profile.last_name %></td>
    <td><%=h person.profile.email %></td>
    <td><%=h person.profile.phone %></td>
    <td><%=h person.profile.skype_name %></td>
    <td><%=h person.profile.web_page %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New person', new_person_path %>
