<% if @expertise -%>
  <h2><%= "People with expertise in '"+h(@expertise)+"' ... " -%></h2>
<% end %>

<% if @tools -%>
  <h2><%= "People with experience in '"+h(@tools)+"' ... " -%></h2>
<% end %>

<% if @discipline -%>
  <h2><%= "People with the discipline '#{h(@discipline.title)}'" %></h2>
<%  end -%>

<% if @role -%>
  <h2><%= "People with the role '#{h(@role.name)}'" %></h2>
<% end -%>


<% if @people.public_methods.include?("page_totals") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate_alphabetical", :locals => { :pages => @people.pages, :page_totals=>@people.page_totals,:current_page=>@people.page } -%>
<% end %>

<div class="list_items_container">
  <%= render :partial => "layouts/resource_list_item", :collection=>@people %>
</div>

<% if @people.page == "latest"%>
    <% filter_hash = {:filter => params[:filter]} %>
    <div class="alphabetcal_pagination">
      <ul>
          <li><%= link_to "See All", {:id => params[:id], :page => "all"}.merge(filter_hash) %></li>
      </ul>
      <%=  link_to("Clear Filter", CGI::unescape(request.url).gsub(/filter\[.+\]=[0-9]*[&]?/,""), :style => "display:none") unless params[:filter].blank? %>
    </div>
<% end %>
