<%# #MERGENOTE - come back and add a title using the helper for consistency. also do the same for the following modified title... %>
<% if @expertise -%>
  <h2><%= "People with expertise in '"+h(@expertise)+"' ... " -%></h2>
<% end %>

<% if @tools -%>
  <h2><%= "People with experience in '"+h(@tools)+"' ... " -%></h2>
<% end %>

<% if @discipline -%>
  <h2><%= "People with the discipline '#{h(@discipline.title)}'" %></h2>
<%  end -%>

<% if @project_role -%>
  <h2><%= "People with the role '#{h(@project_role.name)}'" %></h2>
<% end -%>

<% if Seek::Config.faceted_browsing_enabled && Seek::Config.facet_enable_for_pages[controller_name] && @ie_support_faceted_browsing  %>
    <%= render :partial => "faceted_browsing/faceted_browsing", :object => @people %>
<% else %>
    <%= render :partial => "assets/resources_alphabetical_paginated", :object => @people %>
<% end %>


