<h1>New person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>
  First Name: <%= f.text_field :first_name%>
  Last Name: <%= f.text_field :last_name%>
  <p>
        Institutions: <%=collection_select(:person, :institution_ids, Institution.find(:all), :id, :name,{},{ :multiple=>true})%>
  </p>
  <p>
        Projects: <%=collection_select(:person, :project_ids, Project.find(:all), :id, :name,{},{ :multiple=>true})%>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>

<% end %>

<%= link_to 'Back', people_path %>
