
<% form_for @person do |f| %>
  <%= f.error_messages %>
  <% fields_for @person.profile do |prof|%>
  <div id="first_name">
    <%= prof.label :first_name %><br />
    <%= prof.text_field :first_name %>
  </div>
  <div id="last_name">
    <%= prof.label :last_name %><br />
    <%= prof.text_field :last_name %>
  </div>
  <div id="email">
    <%= prof.label :email %><br />
    <%= prof.text_field :email %>
  </div>
  <div id="phone_number">
    <%= prof.label :phone %><br />
    <%= prof.text_field :phone %>
  </div>
  <div id="skype_name">
    <%= prof.label :skype_name %><br />
    <%= prof.text_field :skype_name %>
  </div>
  <div id="web_page">
    <%= prof.label :web_page %><br />
    <%= prof.text_field :web_page %>
  </div>
<% end %>

<%= render :partial =>"work_groups", :locals=>{:person=>@person}%>
<%= render :partial =>"expertise", :locals=>{:profile=>@person.profile} %>

 
  
    <%= f.submit "Create" %>
  
<% end %>

<%= link_to 'Back', people_path %>
