<h1>New profile</h1>

<%= form_for @person do |f| %>
  <%= f.error_messages %>
  <%= render :partial=>"name_details_form", :locals=>{:f=>f} %>
  <%= render :partial => 'contact_details_form', :locals => {:f => f} %>

  <%= f.submit("Create",data: { disable_with: 'Creating...' }, :class => 'btn btn-primary') %>
  <%= render :partial=>"cancel_registration" %>
<% end -%>
