<%= javascript_include_tag 'profile_project_selection' %>
<% select_display = Seek::Config.profile_select_by_default && !(@userless_projects.blank? || !error_messages_for(:person).empty?) %>

<div id="profile_select">
  <ul class="nav nav-tabs" role="tablist">
    <% unless @userless_projects.blank? %>
        <li role="presentation" <%= 'class="active"'.html_safe if select_display %>>
          <a href="#profile_selection" aria-controls="profile_selection" role="tab" data-toggle="tab">Select profile</a>
        </li>
    <% end %>
    <li role="presentation" <%= 'class="active"'.html_safe unless select_display %>>
      <a href="#profile_creation" aria-controls="openid" role="tab" data-toggle="tab">Create profile</a>
    </li>
  </ul>
  <div class="tab-content">
    <% unless @userless_projects.blank? %>
        <div role="tabpanel" class="tab-pane <%= 'active'.html_safe if select_display %>" id="profile_selection">
          <%= render :partial => "registration_profile_selection" -%>
        </div>
    <% end %>
    <div role="tabpanel" class="tab-pane <%= 'active'.html_safe unless select_display %>" id="profile_creation">
      <%= render :partial => "registration_profile_creation" %>
    </div>
  </div>
</div>
