<% drag_id=model_to_drag_id @person %>

<% truncate_length_for_boxes = 22 -%>

<% if mine?(@person) || @person.can_be_edited_by?(current_user) -%>
  <ul class="sectionIcons">
    <li><%= icon('edit', edit_person_path(@person), "Edit Person Profile", nil, 'Edit Profile') -%></li>

    <% if mine?(@person) -%>
      <li>
        <%= icon "lock", url_for({:controller=>:users, :action=>:edit, :id=>@person.user}), "Change password", nil, "Change password" -%>
      </li>
    <% end -%>

    <% if current_user.is_admin? -%>
      <li><%= icon "destroy", person_path(@person), "Delete Person", { :confirm => 'Are you sure?', :method => :delete }, "Delete Person" -%>
    <% end -%>
  </ul>
<% end %>


<h1><%= h @person.name -%></h1>

<div class="show_basic">

  <div class="main_content_left_box">
    <div class="box_about_actor">
      
      <p>
        <b>Name:</b> <%= h @person.name %>
      </p>

      <% if mine?(@person) -%>
        <p>
          <b>Login name :</b> <%= h @person.user.login %> <span class='none_text'>(Only visible to you)</span>
        </p>
        <p>
          <b>Seek ID :</b> <%= @person.id %>
        </p>
      <% end %>

      <p>
        <b>About me:</b>
        <div id="description" class="box_standout">
          <%= text_or_not_specified(@person.description, :description=>true) %>
        </div>
      </p>

      <p>
        <% locations = @person.locations -%>
        <% unless locations.empty? -%>
          <table>
            <tr>
              <td style="padding: 0; vertical-align: top;"><b><%= pluralize(locations.length, "Location").split(" ")[1] -%>:</b></td>
              <td style="padding: 0; text-align: left;"><ul>
                  <% locations.each do |l| -%>
                    <li><%= flag_icon(l) + "&nbsp;" + link_to(h(l), country_path(h(l))) -%></li>
                  <% end -%>
              </ul></td>
            </tr>
          </table>
        <% else -%>
          <b>Location:</b> <span class="none_text">unknown</span>
        <% end -%>
      </p>

      <p>
        <%= render :partial=>"areas_of_expertise", :locals => {:person=>@person}  %>
      </p>
    </div>

    <fieldset>
      <legend>Contact Details</legend>
      <div id="web_page">
        <p><label for="web_page">Web page:</label> <%= text_or_not_specified(@person.web_page, :external_link=>true) %></p>
      </div>

      <div id="email">
        <p><label for="email">Email:</label> <%= text_or_not_specified(@person.email, :email=>true) %></p>
      </div>

      <div id="skype">
        <p><label for="email">Skype:</label> <%= text_or_not_specified(@person.skype_name) %></p>
      </div>

      <div id="phone">
        <p><label for="phone">Phone:</label> <%= text_or_not_specified(@person.phone) %></p>
      </div>
    </fieldset>


    <% # show the following section only to admins and only if the @person has an associated "user", which is not an admin itself - -%>
    <% # this is because it's not needed then: admins can see everything anyway -%>
    <% if current_user.is_admin? && @person.user && !@person.user.is_admin? -%>
      <h3 class="admin_warning" style="margin-top: 2.5em;">Access Rights Information - Only Visible to Admins</h3>
      <% if @person.user -%>
        <ul>
          <li>Editing <b>projects</b>, where this person is involved: <%= @person.user.can_edit_projects ? "<span class='allowed_text'>allowed</span>" : "<span class='denied_text'>denied</span>" -%></li>
          <li>Editing <b>institutions</b>, where this person works with: <%= @person.user.can_edit_institutions ? "<span class='allowed_text'>allowed</span>" : "<span class='denied_text'>denied</span>" -%></li>
        </ul>
      <% else -%>
        <p>No "user" instance detected for this person. User has not registered yet.</p>
      <% end -%>
    <% end -%>


    <h2 style="margin-top: 4em;">Associated with '<%= h(@person.name) -%>' </h2>
    <% # get, classify and authorize all assets for this person's user (assets belong to users, not people!) -%>
    <% persons_asset_hash = (@person.user ? Asset.classify_and_authorize(@person.user.assets, true, current_user) : {}) -%>
    <% persons_asset_hash.merge!(classify_for_tabs(@person.projects)) %>
    <% persons_asset_hash.merge!(classify_for_tabs(@person.institutions)) %>
    <%= render :partial => "assets/resource_listing_tabbed_by_class", :locals => { :asset_hash => persons_asset_hash,
      :narrow_view => true,
      :authorization_already_done => true } -%>
  </div>


  <div class="main_content_right_box">
    <%= render :partial => "layouts/contribution_section_box_avatar", :locals => { :object => @person, :drag_id => drag_id } -%>

    <% if current_user.person.id == @person.id && !is_nil_or_empty?(@person.people_i_may_know) -%>
      <div class="contribution_section_box">
        <p class="heading">
          <%= help_icon("These are people that are related to you either by project or institution.") -%>
          People I may know
        </p>
        <%= render :partial => "layouts/contribution_section_box_item_list",
          :locals => { :collection => @person.people_i_may_know,
          :collection_name => "people_i_may_know",
          :icon_type => @person.class.name,
          :truncate_to => truncate_length_for_boxes } -%>
      </div>
    <% end -%>

    <div class="contribution_section_box">
      <p class="heading">
        <%= help_icon("Projects where #{@person.name} is involved.") -%>
        Projects (<%= @person.projects.length -%>)
      </p>
      <%= render :partial => "layouts/contribution_section_box_item_list",
        :locals => { :collection => @person.projects,
        :collection_name => "projects_i_am_involved_in",
        :icon_type => "Project",
        :truncate_to => truncate_length_for_boxes } -%>
    </div>

    <div class="contribution_section_box">
      <p class="heading">
        <%= help_icon("Institutions where #{@person.name} is a member.") -%>
        Institutions (<%= @person.institutions.length -%>)
      </p>
      <%= render :partial => "layouts/contribution_section_box_item_list",
        :locals => { :collection => @person.institutions,
        :collection_name => "member_of_institutions",
        :icon_type => "flag",
        :truncate_to => truncate_length_for_boxes } -%>
    </div>

  </div>



</div>