<div id="person">

<div id="name">
<div id="first_name">
  <b>Fist name:</b>
  <%=h @person.profile.first_name %>
</div>

<div id="last_name">
  <b>Last name:</b>
  <%=h @person.profile.last_name %>
</div>
</div>

<div id="email">
  <b>Email:</b>
  <%=h @person.profile.email %>
</div>

<div id="phone">
  <b>Phone:</b>
  <%=h @person.profile.phone %>
</div>

<div id="skype">
  <b>Skype name:</b>
  <%=h @person.profile.skype_name %>
</div>

<div id="web_page">
  <b>Web page:</b>
  <%=h @person.profile.web_page %>
</div>
</div>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
