<p>
  <b>Fist name:</b>
  <%=h @person.profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @person.profile.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @person.profile.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @person.profile.phone %>
</p>

<p>
  <b>Skype name:</b>
  <%=h @person.profile.skype_name %>
</p>

<p>
  <b>Web page:</b>
  <%=h @person.profile.web_page %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
