<%
   admin_or_me = (current_user.try(:person) == @person || admin_logged_in?)
%>


<%= render :partial => "general/item_title", :locals => {:item=>@person, :buttons_partial => 'people/buttons'} %>

<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">
    <%= item_description @person.description,:label=>"About #{@person.name}" %>

    <div class="row">
      <div class="col-md-6">
        <p>
          <% locations = @person.locations -%>
          <% unless locations.empty? -%>
              <b><%= pluralize(locations.length, "Location").split(" ")[1] -%>:</b>
              <% locations.each do |location| -%>
                  <%= flag_icon(location) + "&nbsp;".html_safe + link_to(location, country_path(location)) -%>
                  <%= ", " unless location==locations.last -%>
              <% end -%>
          <% else -%>
              <b>Location:</b>
              <span class="none_text">Not known</span>
          <% end -%>
        </p>
        <p>
          <b>Disciplines:</b>
          <%= discipline_list(@person) %>
        </p>
        <%= render :partial=>"areas_of_expertise", :locals => {:person=>@person} %>
        <p>
          <b>ORCID Identifier:</b>
          <%= orcid_identifier(@person) -%>
        </p>
      </div>
      <% if admin_or_me %>
          <div class="col-md-6">

            <p>
              <span class='none_text'>Only shown to you and administrators</span>
            </p>

            <p>
              <b>Seek ID: </b>
              <%= @person.id %>
            </p>
            <% if !@person.user.nil? && @person.user.login %>
                <p>
                  <b>Login name:</b>
                  <%= h @person.user.login %>
                </p>
            <% end %>
            <p>
              <b>Joined:</b>
              <%= @person.registered? ? date_as_string(@person.user.created_at, true) : 'This person has not yet registered' -%>
            </p>

          </div>
      <% end %>
    </div>

  </div>

  <div class="col-md-3 col-sm-4">
    <%= render :partial => "layouts/contribution_section_box_avatar", :locals => {:object => @person} -%>
    <%= render :partial => "personal_tags", :locals=>{:person=>@person} if Seek::Config.tagging_enabled %>
  </div>
</div>
<div class="row">
  <% unless hide_contact_details?(@person) %>
      <div class="col-md-6">
        <%= render :partial=>"people/contact_details" %>
      </div>
  <% end %>
  <div class="col-md-6">
    <%= render :partial=>"people/project_positions", :locals=>{:editable=>false} %>
  </div>
</div>
<%= render :partial=>"people/project_subscriptions",:locals => {:person=>@person} if (mine?(@person) || current_user.try(:person).try(:is_admin?))  %>

<%# get, classify and authorize all assets for this person's user (assets belong to users, not people!) -%>
<%= render :seek_partial=>"general/items_related_to", :object => @person %>
