<p>
  <b>Fist name:</b>
  <%=h @person.fist_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @person.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @person.phone %>
</p>

<p>
  <b>Skype name:</b>
  <%=h @person.skype_name %>
</p>

<p>
  <b>Web page:</b>
  <%=h @person.web_page %>
</p>

<p>
<b>Groups:</b>
<% @person.groups.each do |group| %>
  <%=link_to h(group.group_name), group %>
    <% end %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
