<% drag_id=model_to_drag_id @person %>

<%= render :partial => "general/item_title", :locals=>{:item=>@person} %>

<ul class="sectionIcons">
  <% if mine?(@person) || @person.can_be_edited_by?(current_user) -%>
      <li>
        <%= image_tag_for_key('edit', edit_person_path(@person), "Edit Person Profile", nil, 'Edit Profile') -%>
      </li>
      <% if mine?(@person) -%>
          <li>
            <%= image_tag_for_key "lock", url_for({:controller=>:users, :action=>:edit, :id=>@person.user}), "Manage Account", nil, "Manage Account" -%>
          </li>
      <% end -%>
      <% if admin_logged_in? -%>
          <li>
            <%= image_tag_for_key "destroy", person_path(@person), "Delete Person", {:confirm => 'Are you sure?', :method => :delete}, "Delete Person" -%>
          </li>
      <% end -%>
  <% end %>

  <% if @person.can_be_administered_by?(current_user)-%>
      <li>
        <%= image_tag_for_key "admin", admin_person_path(@person), "Administer", nil, "Person Administration" -%>
      </li>
  <% end -%>

  <% if mine?(@person) -%>
      <li>
        <% tooltip_text = "Publish your owned assets in one click. A preview will be given before publishing" %>
        <%= image_tag_for_key "publish", batch_publishing_preview_person_path(@person), "Publish your assets", {:title => tooltip_title_attrib(tooltip_text)}, "Publish your assets" -%>
      </li>
      <li>
        <%= image_tag_for_key "waiting", waiting_approval_assets_person_path(@person), "Your assets waiting for approval",
                              {:title => "The list of assets that you requested for the gatekeeper's approval to make published"},
                              "Your assets waiting for approval" -%>
      </li>
      <% if @person.is_gatekeeper_of_any_project? %>
          <li>
            <%= image_tag_for_key "waiting", requested_approval_assets_person_path(@person), "Waiting approval assets",
                                  {:title => "The list of assets that were requested for your approval to make published"},
                                  "Waiting approval assets" -%>
          </li>
      <% end %>
  <% end %>
</ul>

<div class="show_basic">
  <div class="main_content_left_box">
    <div class="box_about_actor">
      <%= render :partial=>"profile_information" -%>



    </div>
  </div>
  <div class="main_content_right_box">
    <%= render :partial => "layouts/contribution_section_box_avatar", :locals => {:object => @person, :drag_id => drag_id} -%>
    <%= render :partial=>"personal_tags", :locals=>{:person=>@person} %>
  </div>
  <div style="clear:both;">
    <br/>
    <%= render :partial=>"people/contact_details" unless hide_contact_details? %>
    <%= render :partial=>"people/project_roles", :locals=>{:editable=>false} %>
    <%= render :partial=>"people/project_subscriptions",:locals => {:person=>@person} if (mine?(@person) || current_user.try(:person).try(:is_admin?))  %>
    <%# get, classify and authorize all assets for this person's user (assets belong to users, not people!) -%>
    <%= render :partial=>"general/items_related_to", :object => @person %>
    <%# show the following section only to admins and only if the @person has an associated "user", which is not an admin itself - -%>
    <%# this is because it's not needed then: admins can see everything anyway -%>
    <% if admin_logged_in? -%>
        <h3 class="admin_warning" style="margin-top: 2.5em;">Access Rights Information - Only Visible to Admins</h3>
        <ul>

          <%= "<li>This person is a <b>#{Seek::Config.dm_project_name} PAL</b></li>".html_safe if @person.is_pal_of_any_project? %>


          <%= "<li>This person is a <b>#{t('project')} Manager</b></li>".html_safe if @person.is_project_manager_of_any_project? %>

          <%= "<li>This person is an <b>Asset Manager</b></li>".html_safe if @person.is_asset_manager_of_any_project? %>
          <%= "<li>This person is a <b>Gatekeeper</b></li>".html_safe if @person.is_gatekeeper_of_any_project? %>

          <li>
            Editing <b><%= t('project').pluralize %></b>, where this person is
            involved: <%= (@person.can_edit_projects? ? "<span class='allowed_text'>allowed</span>" : "<span class='denied_text'>denied</span>").html_safe -%>
          </li>
          <li>
            Editing <b>institutions</b>, where this person works
            with: <%= (@person.can_edit_institutions? ? "<span class='allowed_text'>allowed</span>" : "<span class='denied_text'>denied</span>").html_safe -%>
          </li>
        </ul>
    <% end -%>
  </div>
</div>
