<% drag_id=model_to_drag_id @person %>

<% truncate_length_for_boxes = 22 -%>

<h1><%= h @person.name -%></h1>

<div class="show_basic">
	
  <div class="main_content_left_box">
  	<div class="box_about_actor">
  		<p>
  			<b>Name:</b> <%= h @person.name %>
  		</p>
			
			<p>
				<b>About me:</b>
				<div id="description" class="box_standout">
		      <%= text_or_not_specified(@person.description, :description=>true) %>
		    </div>
			</p>
			
			<p>
        <%= render :partial=>"tools_list", :object => @person  %>
      </p>
  	</div>
		
		<fieldset>
  		<legend>Contact Details</legend>
			<div id="web_page">
        <p><label for="web_page">Web page:</label> <%= text_or_not_specified(@person.web_page, :external_link=>true) %></p>
      </div>
      
      <div id="email">
        <p><label for="email">Email:</label> <%= text_or_not_specified(@person.email, :email=>true) %></p>
      </div>
      
      <div id="skype">
        <p><label for="email">Skype:</label> <%= text_or_not_specified(@person.skype_name) %></p>
      </div>
      
      <div id="phone">
        <p><label for="phone">Phone:</label> <%= text_or_not_specified(@person.phone) %></p>
      </div>
  	</fieldset>
	</div>
	
	
	<div class="main_content_right_box">
		<div class="contribution_section_box" style="padding-top: 3em; padding-bottom: 3em;">
  		<div id="<%= drag_id %>" class="asset">
				<%= link_to_draggable(avatar(@person, 60, true), person_url(@person), :title=>tooltip_title_attrib(h(@person.name)), :id => drag_id) -%>
	    </div>
	    <%= favourite_drag_element(drag_id) %>
		</div>
		
		<% if current_user.person.id == @person.id && !is_nil_or_empty?(@person.people_i_may_know) -%>
			<div class="contribution_section_box">
			  <p class="heading">
			  	<%= help_icon("These are people that are related to you either by project or institution.") -%>
					People I may know
				</p>
        <%= render :partial => "layouts/contribution_section_box_item_list", 
                   :locals => { :collection => @person.people_i_may_know,
                                :icon_type => @person.class.name,
                                :truncate_to => truncate_length_for_boxes } -%>
			</div>
		<% end -%>
		
		<div class="contribution_section_box">
			<p class="heading">
				<%= help_icon("Projects where #{@person.name} is involved.") -%>
				Projects (<%= @person.projects.length -%>)
			</p>
			<%= render :partial => "layouts/contribution_section_box_item_list", 
                 :locals => { :collection => @person.projects,
                              :icon_type => "Project",
                              :truncate_to => truncate_length_for_boxes } -%>
		</div>
		
		<div class="contribution_section_box">
			<p class="heading">
				<%= help_icon("Institutions where #{@person.name} is a member.") -%>
				Institutions (<%= @person.institutions.length -%>)
			</p>
			<%= render :partial => "layouts/contribution_section_box_item_list", 
                 :locals => { :collection => @person.institutions,
                              :icon_type => "flag",
                              :truncate_to => truncate_length_for_boxes } -%>
		</div>
		
	</div>



</div>