<ul>
  <li>
    <label><b>Label</b></label>
      <%= concept.label %>
  </li>
  <li>
    <label><b>Synonyms (<%= concept.synonyms.count -%>) </b></label>
      <%= concept.synonyms.join(", ") %>
  </li>
  <li>
    <label><b>Definition (<%= concept.definitions.count -%>) </b></label>
      <%= concept.definitions.join(", ") %>
  </li>
  <li>
    <label><b>Child size</b></label>
      <%= concept.child_size %>
  </li>
  

</ul>
