<ul>
  <li>
    <label><b>Label</b></label>
      <%= concept[:label] %>
  </li>
  <li>
    <label><b>Synonyms (<%= concept[:synonyms].count -%>) </b></label>
      <%= concept[:synonyms].join(", ") %>
  </li>
  <li>
    <label><b>Definitions (<%= concept[:definitions].count -%>) </b></label>
      <%= concept[:definitions].join(", ") %>
  </li>
  <li>
    <label><b>Child count</b></label>
      <%= concept[:child_count] %>
  </li>
  <li>
    <label><b>Children</b></label>
    <%= concept[:children].collect{|c| c[:label]}.join(", ") -%>
  </li>
  <li>
    <label><b>Parent count</b></label>
      <%= concept[:parents].count %>
  </li>
  <li>
    <label><b>Parents</b></label>
    <%= concept[:parents].collect{|c| c[:label]}.join(", ") -%>
  </li>
  <li>
    <%= link_to "Visualise",visualise_organism_path(@organism),:popup=>true %>
  </li>
</ul>
