<%= panel("Organism details") do %>
    <%= form_for(@organism) do |f| %>

        <%= f.error_messages -%>

        <div class="form-group">
          <%= f.label :display_name -%><span class="required">*</span>
          <%= f.text_field :title, :class => "form-control" -%>
        </div>
        <%= f.hidden_field :ontology_id -%>

        <div class="form-group">
          <label>NCBI Taxonomy URI</label>
          <span class='help-block'>A valid NCBI taxonomy URI is required. This can be of the form http://purl.bioontology.org/ontology/NCBITAXON/&lt;Number&gt; or https://identifiers.org/taxonomy/&lt;Number&gt;<br/>
          You can just enter the NCBI number, and it will automatically be turned into a valid URI.
          </span>
          <%= f.text_field :concept_uri, :class => "form-control" -%>
        </div>

        <%= f.submit @organism.id ? "Update" : "Create", data: { disable_with: @organism.id ? "Updating..." : "Creating..." },
                     :class => 'btn btn-primary' -%>
    <% end %>
<% end %>
