<% if admin_logged_in? -%>
    <% content_for(:buttons) do -%>
        <%= admin_dropdown do %>
          <li><%= image_tag_for_key('edit', edit_organism_path(@organism), "Edit Organism", nil, 'Edit Organism') -%></li>
          <li><%= image_tag_for_key('new', new_organism_path, "Add Organism", nil, 'Add Organism') -%></li>
          <li><%= delete_organism_icon(@organism)%></li>
        <% end %>
    <% end %>
<% elsif can_create_organisms? %>
    <% content_for(:buttons) do -%>
        <%= admin_dropdown do %>
            <li><%= image_tag_for_key('new', new_organism_path, "Add Organism", nil, 'Add Organism') -%></li>
            <li><%= delete_organism_icon(@organism)%></li>
        <% end %>
    <% end %>
<% end %>


<%= render :partial => "general/item_title",:locals=>{:item=>@organism} %>

<div class="show_basic">

  <% if @organism.concept -%>
    <h2>Details about this organism</h2>
    <%= render :partial=>"bioportal_concept_details",:locals=>{:concept=>@organism.concept} -%>
    <br/>
    <%= link_to_ncbi_taxonomy_browser @organism,"NCBI taxonomy browser",:popup=>true %>
  <% end -%>

  <h2>Strain details</h2>
  <table class="strain_list" style="width:100%;">
  <thead>
    <th>Name</th>
    <th>Provider name</th>
    <th>Provider's strain ID</th>
    <th>Genotypes</th>
    <th>Phenotypes</th>
    <th>Synonym</th>
    <th>Comments</th>
    <th>Based on</th>
  </thead>
  <%= render :partial=>"strain_information_row", :collection=>@organism.strains.without_default.select(&:can_view?) -%>
  </table>
<%= render :partial=>"general/items_related_to",:object => @organism %>
</div>
