<% if !flash[:error] -%>
<%
new_resources=fetch_results.select{|r| !r.duplicate}
new_with_errors=new_resources.select{|r| !r.error.nil?}
new_resources=new_resources - new_with_errors
duplicate_resources=fetch_results.select{|r| r.duplicate} %>
<%= "Harvested #{fetch_results.size} results" %>
<% form_remote_tag :url=>url_for(:controller => "jerm", :action => "insert_results"),:before=>"harvester_initiated();" do -%>
<%= hidden_field_tag :project,@project.id %>
<h2>New</h2>
<table class="jerm_results">
    <tr>
        <th>
            Exclude?
        </th>
        <th>
            Type
        </th>
        <th>
            Title
        </th>
        <th>
            Filename
        </th>
        <th>
            Description
        </th>
        <th>
            Name
        </th>
        <th>
            Seek ID
        </th>
        <th>
            Auth Tag
        </th>
    </tr>
    <%= render :partial=>"fetch_result_line",:collection=>new_resources %>
</table>
<h2><%= link_to_function("Problematic",visual_effect(:toggle_appear,"problematic_jerm_results")) -%></h2>
<div id="problematic_jerm_results" style="display:none;">
    <table class="jerm_results">
        <tr>
            <th>
                Exclude?
            </th>
            <th>
                Type
            </th>
            <th>
                Title
            </th>
            <th>
                Filename
            </th>
            <th>
                Description
            </th>
            <th>
                Name
            </th>
            <th>
                Seek ID
            </th>
            <th>
                Auth Tag
            </th>
            <th>
                Error
            </th>
        </tr>
        <%= render :partial=>"fetch_result_line",:collection=>new_with_errors %>
    </table>
</div>
<h2><%= link_to_function("Existing",visual_effect(:toggle_appear,"existing_jerm_results")) -%></h2>
<div id="existing_jerm_results" style="display:none;">
    <table class="jerm_results">
        <tr>
            <th>
                Exclude?
            </th>
            <th>
                Type
            </th>
            <th>
                Title
            </th>
            <th>
                Filename
            </th>
            <th>
                Description
            </th>
            <th>
                Name
            </th>
            <th>
                Seek ID
            </th>
            <th>
                Auth Tag
            </th>
        </tr>
        <%= render :partial=>"fetch_result_line",:collection=>duplicate_resources %>
    </table>
</div>
<%= submit_tag "Insert" -%>
<% end -%>
<% else -%>
<div id="error_flash" class="box_standout" style="color: red; font-weight: bold; margin: 0.8em 0.8em; line-height: 1.4;">
    <%= white_list flash[:error] %>
    <p>
        It is possible that the project needs configuring: <%= link_to "Configure #{h(@project.name)}",admin_project_path(@project) %>
    </p>
</div>
<% end -%>
