<%
uuid=UUIDTools::UUID.random_create %>
<tr>
    <td>
        <%= check_box_tag "exclude_#{uuid}","",fetch_result_line.duplicate || !fetch_result_line.error.nil? -%>		
    </td>
    <td>
        <%= fetch_result_line.type -%>
    </td>
    <td>
        <%= text_area_tag("title_#{uuid}",fetch_result_line.title,:cols=>50,:rows=>3) -%>
    </td>
    <td>
        <%= (link_to_function(image("arrow_left"),"use_title('#{uuid}','#{generate_resource_title_from_filename(fetch_result_line.filename)}');") + "<br/>") unless fetch_result_line.filename.blank? -%>
        <%= text_field_tag("filename_#{uuid}",fetch_result_line.filename) -%>
        <br/>
        <%= link_to(image("download"),url_for(:action=>"download",:uri=>fetch_result_line.uri,:project=>@project.id,:type=>fetch_result_line.type,:controller=>"jerm")) unless fetch_result_line.uri.blank? -%>
    </td>
    <td>
        <%= text_area_tag("description_#{uuid}",fetch_result_line.description,:cols=>50,:rows=>3) -%>
    </td>
    <td>
        <%= text_field_tag("first_name_#{uuid}",fetch_result_line.author_first_name,:size=>10) -%>
        <br/>
        <%= text_field_tag("last_name_#{uuid}",fetch_result_line.author_last_name,:size=>10) -%>
    </td>
    <td>
        <%= text_field_tag("seek_id_#{uuid}",fetch_result_line.author_seek_id,:size=>5) -%>
    </td>
	<td>
        <%= h(fetch_result_line.authorization) -%>
    </td>
    <% if fetch_result_line.error -%>
    <td>
        <%= h(fetch_result_line.error.message) -%>
    </td>
    <% end -%>
</tr>
<%= hidden_field_tag "authorization_#{uuid}",fetch_result_line.authorization -%>
<%= hidden_field_tag "timestamp_#{uuid}",fetch_result_line.timestamp -%>
<%= hidden_field_tag "uri_#{uuid}",fetch_result_line.uri -%>
<%= hidden_field_tag "project_#{uuid}",fetch_result_line.project -%>
<%= hidden_field_tag "type_#{uuid}",fetch_result_line.type -%>
<%= hidden_field_tag "duplicate_#{uuid}",fetch_result_line.duplicate -%>
