<tr>
  <td><%= h(result_line.project) -%></td>
  <td><%= h(result_line.type) -%></td>
  <td><%= h(result_line.author_name) -%></td>
  <td><%= h(result_line.author_seek_id) -%></td>
  <td><%= link_to h(result_line.uri),result_line.uri -%></td>
  <td><%= h(result_line.timestamp) -%></td>
</tr>
