<tr>
  <td><%= h(result_line[:response].to_s) -%></td>
  <td><%= h(result_line[:resource].type) -%></td>
  <td><%= h(result_line[:resource].author_name) -%></td>
  <td><%= h(result_line[:resource].author_seek_id) -%></td>
  <td><%= h(result_line[:resource].timestamp) -%></td>
  <td><%= h(result_line[:message]) -%></td>
</tr>
