<tr>
  <td><%= status_image(result_line[:response]) -%></td>
  <td><%= h(result_line[:response_code]) %></td>
  <td><%= h(result_line[:resource].title) -%></td>
  <td><%= link_to "Source",result_line[:resource].uri %></td>
  <td><%= h(result_line[:resource].type) -%></td>
  <td><%= h(result_line[:resource].author_name) -%></td>
  <td><%= h(result_line[:resource].author_seek_id) -%></td>
  <td><%= h(result_line[:author]) -%></td>
  <td><%= h(result_line[:resource].timestamp) -%></td>
  <td><%= h(result_line[:message]) -%></td>

  <td><%= link_to("-->",url_for(result_line[:seek_model]),:popup=>true) unless result_line[:seek_model].nil? -%></td>

  <td>
    <%=
    unless result_line[:exception].nil?
      link_to_function h(result_line[:exception].message),visual_effect(:toggle_appear,"exception_#{result_line[:uuid]}")
    end
    -%>
  </td>
</tr>

<%  unless result_line[:exception].nil? -%>
  <tr style="display:none;" id="exception_<%=  result_line[:uuid] -%>">
    <td colspan="10">
      <ul>
        <% result_line[:exception].backtrace[0..25].each do |trace| -%>
          <li><%= trace %></li>
        <% end -%>
      </ul>
    </td>
  </tr>
<%  end -%>
