<script type="text/javascript">
  run_times=new Array();

  function harvester_initiated() {
    $('results').innerHTML=<%= "'" + image_tag("ajax-loader-large.gif") + "'" -%>;
  }

  function use_title(uuid,title) {
    title_element="title_"+uuid;
    $(title_element).value=title;
  }

  function selected_product_changed() {
    selected=$('project').selectedIndex;
    id=$('project').options[selected].value
    time=run_times[id]
    
    $('last_ran').innerHTML="Last ran at: "+time;

  }

<% Project.find_each do |p| %>
    run_times[<%= p.id %>]="<%= p.last_jerm_run.blank? ? "Never" : p.last_jerm_run.to_s %>";
<% end %>

</script>



<h1>JERM Administration</h1>

<%= form_tag_with_callbacks(url_for(:controller=>:jerm,:action=>:fetch),
  {:id=>"start_jerm",:before=>"harvester_initiated();", :remote => true}) do -%>
  <%= t('project') %>: <%= select_tag :project,
    options_for_select( Project.all.collect{|p| [h("#{p.title}"),p.id]} ),
    :onchange=>"javascript: selected_product_changed()"
%>
  <span id="last_ran"></span><br/>
  <%= submit_tag "GO!" %>
<% end -%>



<div id="results">

</div>

