<!-- data_type_form -->
<%

  resource_type = resource.class.name.underscore
  resource_type_text = text_for_resource(resource)
  collapsed = resource.data_types.empty?
  help_text = "You can add a URL of a data type for this #{resource_type_text}"
%>

<%= folding_panel('Data Types', collapsed, :body_options => {:id => 'data_type_urls'},
                  :help_text => help_text) do %>

    <p class="help-block">
      You can add one or more URL's to point to data types related to this <%= resource_type_text %>. The data types may be browsed at <a href='https://ifb-elixirfr.github.io/edam-browser/#data_1916&data' target="_blank">EDAM ontology browser</a>
    </p>

    <div id='new-data-type-form' style="display:none;">
      <div class='data-type-row row'>
        <div class="col-xs-6">
          <%=  url_field_tag("#{resource_type}[data_types][]",'',class: 'form-control',placeholder:'URL') %>
        </div>
        <div class="col">
          <label class="btn btn-danger">
            Remove
            <%= check_box_tag "#ignore", '1', false,
                              class: 'destroy-link', autocomplete: 'off', style:'display:none;' %>
          </label>
        </div>
      </div>
    </div>

    <div id='data-types'>
      <% resource.data_types.each do |f| %>
          <div class='data-type-row row'>
            <%=  url_field_tag("#{resource_type}[data_types][]",f,class: 'col-xs-3',placeholder:'URL', readonly: true) %>
	    <%=
	      text=EdamHelper::url_to_text(f);
	      if text.nil?
	      text_field_tag("", "Not recognized", class: 'col-xs-3', readonly: true)
	      else
	        text_field_tag("", text, class: 'col-xs-3', readonly: true)
	      end
	      %>
            <div class="col">
              <label class="btn btn-danger">
                Remove
            <%= check_box_tag "#ignore", '1', false,
                              class: 'destroy-link', autocomplete: 'off', style:'display:none;' %>
              </label>
            </div>
          </div>
      <% end %>
      <div id='new-data-type-row'></div>
    </div>

    <%= button_link_to('Add new data type', 'add', '#', :id => 'add-data-type') %>

<% end %>

<script type="application/javascript">

    $j(document).ready(function () {
        $j('#add-data-type').click(function () {
            var newRow = $j('#new-data-type-form').clone().html();
            var currentRows = $j('.data-type-row').length - 2;
            newRow = newRow.replace(/INDEX/g, currentRows+1);
            $j('#data-types #new-data-type-row').before($j(newRow));
            return false;
        });

        $j('form').submit(function () {
          $j('#new-data-type-form').remove();
          return;
        });

        $j('#data-types').on('change', '.destroy-link', function() {
            $j(this).closest('.data-type-row').remove();
        });


    });

</script>
