<!-- mime_type_form -->
<%

  resource_type = resource.class.name.underscore
  resource_type_text = text_for_resource(resource)
  collapsed = resource.mime_types.empty?
  help_text = "You can add a MIME type for this #{resource_type_text}"

  available_mime_types = MIME::Types.find_all { |t| t.registered? && !t.obsolete? }
%>

<%= folding_panel('Mime Types', collapsed, :body_options => {:id => 'mime_types'},
                  :help_text => help_text) do %>

    <div id='new-mime-type-form' style="display:none;">
      <div class='mime-type-row row'>
        <div class="col-xs-6">
	  <%= select_tag "#{resource_type}[mime_types][]", options_for_select(available_mime_types), class: 'form-control' %>
        </div>
        <div class="col">
          <label class="btn btn-danger">
            Remove
            <%= check_box_tag "#ignore", '1', false,
                              class: 'destroy-link', autocomplete: 'off', style:'display:none;' %>
          </label>
        </div>
      </div>
    </div>

    <div id='mime-types'>
      <% resource.mime_types.each do |f| %>
          <div class='mime-type-row row'>
            <%=  text_field_tag("#{resource_type}[mime_types][]",f,class: 'col-xs-3', readonly: true) %>
            <div class="col">
              <label class="btn btn-danger">
                Remove
            <%= check_box_tag "#ignore", '1', false,
                              class: 'destroy-link', autocomplete: 'off', style:'display:none;' %>
              </label>
            </div>
          </div>
      <% end %>
      <div id='new-mime-type-row'></div>
    </div>

    <%= button_link_to('Add new mime type', 'add', '#', :id => 'add-mime-type') %>

<% end %>

<script type="application/javascript">

    $j(document).ready(function () {
        $j('#add-mime-type').click(function () {
            var newRow = $j('#new-mime-type-form').clone().html();
            var currentRows = $j('.mime-type-row').length - 2;
            newRow = newRow.replace(/INDEX/g, currentRows+1);
            $j('#mime-types #new-mime-type-row').before($j(newRow));
            return false;
        });

        $j('form').submit(function () {
          $j('#new-mime-type-form').remove();
          return;
        });

        $j('#mime-types').on('change', '.destroy-link', function() {
            $j(this).closest('.mime-type-row').remove();
        });


    });

</script>
