
<h1>Editing <%= t('node') %>: <%= link_to(h(@node.title), node_path(@node)) -%></h1>

<%= form_for(@node) do |f| %>
    <div class="asset_form">
      <%= f.error_messages %>

      <div class="form-group">
        <label>Title <span class="required">*</span></label>
        <%= f.text_field :title, :class=>"form-control" -%>
      </div>

      <div class="form-group">
        <label>Description</label>
        <%= f.text_area :description, :class=>"form-control", :rows => 5 -%>
      </div>

      <%= render :partial => 'assets/license_selector', :locals => { :resource => @node } %>

      <%= render :partial=>"assets/asset_form_bottom", :locals=> {:show_publications=>false, :f => f}-%>

      <%= render :partial => "assays/associate_assays", :locals=>{:resource => @node} -%>

      <%= form_submit_buttons(@node) %>
    </div>
<% end %>
