<div class="help_upload_box">
  <div id="attachment_list">
    <%= render :partial => 'attachment_list', :locals => {:attachments => @help_document.attachments} %>
  </div>

  <%= form_for(:help_attachment, :url => {:controller => :help_attachments, :action => :create}, :html => { :multipart => true, :target => "attachment_upload"}) do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => 'form-control'  %>
      </div>

      <div class="form-group">
        <%= label_tag "Attachment" %>
        <%= f.file_field :uploaded_data %>
      </div>

      <%= hidden_field_tag "help_attachment[help_document_id]", @help_document.id %>

      <%= submit_tag "Upload", :onclick => "Element.show('attachment_spinner')", :class => 'btn btn-primary' %>

      <%= image_tag "ajax-loader.gif", :id => 'attachment_spinner', :style => 'display:none;' -%>
  <% end %>

  <iframe id="attachment_upload" name="attachment_upload" style="display: none"></iframe>
</div>
