<div class="help_upload_box">
  <div id="attachment_list">
    <%= render :partial => 'attachment_list', :locals => {:attachments => @help_document.attachments} %>
  </div>
  <% form_for(:help_attachment, :url => {:controller => :help_attachments, :action => :create}, :html => { :multipart => true, :target => "attachment_upload"}) do |f| %>
    <p>      
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
    <p>      
      <%= label_tag "Attachment" %><br/>
      <%= f.file_field :uploaded_data %>
    </p>
    <%= hidden_field_tag "help_attachment[help_document_id]", @help_document.id %>
    <%= submit_tag "Upload", :onclick => "Element.show('attachment_spinner')" %>
    <%= image_tag "ajax-loader.gif", :id => 'attachment_spinner', :style => 'display:none;' -%>
    <iframe id="attachment_upload" name="attachment_upload" style="display: none"></iframe>
  <% end %>
</div>