<div class="show_basic">
  <% if @preview %>
    <b>Preview for: <%= @help_document.title -%></b>
    <%= render :partial => 'help_document', :object => @help_document %>
  <% end %>
  <% form_for @help_document, :url => {:action => action } do |f| %>
  
    <%= f.error_messages %><br/>
    
    <p>      
      <%= f.label :identifier %><br/>
      The identifier is a unique reference to this page, which will be present in links and URLs, e.g. http://example.com/help/example-identifier<br/>
      It cannot be editted once the page has been created.<br/>
      Identifiers must start with a letter or a number, and may only contain lowercase alphanumeric characters and hyphens.
      <%= f.text_field :identifier, :disabled => (action == :update ? 'disabled' : nil) %><br/>
    </p>
      
    <p> 
      <%= f.label :title %><br/>
      <%= f.text_field :title %><br/>
    </p>  
    
    <%= f.label :body %><br/>
    <%= render :partial => 'layouts/collapsable_div', :locals => {:div_options => {:style => "width: 50%"}, :header_options => {:style => "padding: 0.2em"}, :title => "Legend", :partial => 'legend'} %>
    <%= render :partial => 'layouts/collapsable_div', :locals => {:div_options => {:style => "width: 50%"}, :header_options => {:style => "padding: 0.2em"}, :title => "List of pages", :partial => 'page_list'} %>
    <%= f.text_area :body, :size => "80x20" %><br/>     
    
    <%= submit_tag "Preview" %>
    <%= submit_tag action.to_s.titleize %>
    
  <% end %>
</div>


