<div id="image_box" class="help_upload_box">
  <div id="image_list">
    <%= render :partial => 'image_list', :locals => {:images => @help_document.images} %>
  </div>

  <%= form_for(:help_image, :url => {:controller => :help_images, :action => :create}, :html => { :multipart => true, :target => "image_upload"}) do |f| %>
      <div class="form-group">
        <%= label_tag "Image" %>
        <%= f.file_field :uploaded_data %>
      </div>

      <%= hidden_field_tag "help_image[help_document_id]", @help_document.id %>

      <%= submit_tag "Upload", :onclick => "Element.show('image_spinner')", :class => 'btn btn-primary' %>

      <%= image_tag "ajax-loader.gif", :id => 'image_spinner', :style => 'display:none;' -%>
  <% end %>

  <iframe id="image_upload" name="image_upload" style="display: none"></iframe>
</div>
