<% help_text = '
h1. Heading

h2. Sub-heading

# first item
# second item
# third item

*Bold* _Italics_

* point 1
* point 2
* point 3

Link:
"Link example":http://www.example.com

Image:
!/images/seek-logo-smaller.png!

Help-page link:
[example]
'

help_code = help_text.gsub("\n","<br/>")
help_result = escape_javascript(RedCloth.new(help_text.gsub("\n","\r\n").gsub(/\[([-a-zA-Z0-9]+)\]/) {|match| HelpDocument.friendly_redcloth_link($1)}, [ :hard_breaks ]).to_html)

%>
<script type="text/javascript">
  var help_code = '<%= help_code -%>';
  var help_result = '<%= help_result -%>';
  var toggle = 0;
  
  function switch_content() {
    var elem = $('help_legend_preview');
    var toggle_elem = $('markup_toggle');
    if (toggle == 0) {
      elem.innerHTML = help_result;
      toggle_elem.innerHTML = 'Show markup <%= escape_javascript(image('markup', :style=>'vertical-align: middle'))-%>';
      toggle = 1;
    }
    else {
      elem.innerHTML = help_code;
      toggle_elem.innerHTML = 'Show output <%= escape_javascript(image('show', :style=>'vertical-align: middle'))-%>';
      toggle = 0;
    }
  }
</script>

Below is a basic reference of some of the markup usable in the help page body.<br/>
You can preview the output generated from the markup by clicking the link directly below.<br/>
<a id="markup_toggle" href="#" onclick="switch_content(); return false">Show output <%= image 'show', :style=>'vertical-align: middle'%></a>
<div id="help_legend_preview" class="help_document">
  <%= help_code -%>
  <br/>
</div>
For a full reference, visit: <a target="_blank" href="http://redcloth.org/textile/">http://redcloth.org/textile/</a>