<% if admin_logged_in? -%>
    <% content_for(:buttons) do %>
        <%= button_link_to("Return to document", 'back', help_document_path(@help_document)) -%>
        <%= button_link_to('Remove', 'destroy', help_document_path(@help_document), { :confirm => 'Are you sure you wish to remove this page?', :method => :delete })  -%>
    <% end -%>
<% end -%>

<%= render :partial=>"general/page_title", :locals=>{ :title => "Editing Page: #{h @help_document.title}"} %>

<%= render :partial => "form", :locals => {:action=>:update } -%>

<div style="margin: 2em">
  <div style="float:left; width: 48%">
    <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Attachments (<span id='attachments_count'>#{@help_document.attachments.size}</span>)".html_safe, :partial => 'attachments'} %>
  </div>
  <div style="float:right; width: 51%">
    <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Images (<span id='images_count'>#{@help_document.images.size}</span>)".html_safe, :partial => 'images'} %>
  </div>
  <br style="clear:both"/>
</div>