<% if admin_logged_in? -%>
    <% content_for(:buttons) do %>
        <%= button_link_to("Return to document", 'back', help_document_path(@help_document)) -%>
        <%= button_link_to('Remove', 'destroy', help_document_path(@help_document), { data: { confirm: 'Are you sure you wish to remove this page?' }, :method => :delete })  -%>
    <% end -%>
<% end -%>

<%= render :partial=>"general/page_title", :locals=>{ :title => "Editing Page: #{h @help_document.title}"} %>

<%= render :partial => "form", :locals => {:action=>:update } -%>

<div class="row" style="margin-top: 1em">
  <div class="col-md-6">
    <%= folding_panel("Attachments (<span id='attachments_count'>#{@help_document.attachments.size}</span>)".html_safe, true) do %>
        <%= render :partial => 'attachments' %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= folding_panel("Images (<span id='images_count'>#{@help_document.images.size}</span>)".html_safe, true) do %>
        <%= render :partial => 'images' %>
    <% end %>
  </div>
</div>
