<ul class="sectionIcons">
  <% if admin_logged_in? -%>
    <% if @help_document.identifier == "index" -%>
      <li><%= image_tag_for_key('new', new_help_document_path, "Create New Page", nil, "Create New Page") -%></li>
    <% end %>
    <li><%= image_tag_for_key('edit', edit_help_document_path(@help_document), "Edit Page", nil, "Edit Page") -%></li>
    <li><%= image_tag_for_key('destroy', help_document_path(@help_document), nil, { :confirm => 'Are you sure you wish to remove this page?', :method => :delete }, 'Remove') -%></li>
  <% end -%>
</ul>

<h1><%= h @help_document.title %></h1>
<div style="padding: 0.5em 2em;">
  <% if @help_document.identifier == "index" -%>
    Help Index<br/>
  <% else -%>
    <%= link_to "Help Index", help_documents_path -%><span style="color:#999"> > </span> <%= @help_document.title -%><br/>  
  <% end -%>
  <%= render :partial => 'help_document', :object => @help_document %>
  <% unless @help_document.attachments.empty? %>
    <h2>Attachments</h2>
    <ul class="bulleted_list">
      <% @help_document.attachments.each do |a| %>
      <li><%= link_to "#{a.filename} - #{a.title} (#{number_to_human_size(a.size)})", download_help_document_help_attachment_path(@help_document, a) -%></li>
      <% end %>
    </ul>   
  <% end %>
</div>