<% if admin_logged_in? -%>
    <% content_for(:buttons) do %>
        <% if @help_document.identifier == "index" -%>
            <%= button_link_to("Create New Page", 'new', new_help_document_path) -%>
        <% end %>

        <%= button_link_to("Edit Page", 'edit', edit_help_document_path(@help_document)) -%>
        <%= button_link_to('Remove', 'destroy', help_document_path(@help_document), { data: { confirm: 'Are you sure you wish to remove this page?' }, :method => :delete })  -%>
    <% end -%>
<% end -%>

<%= show_title(@help_document.title) %>

<div style="padding: 0.5em 2em;">
  <% if @help_document.identifier == "index" -%>
    Help Index<br/>
  <% else -%>
    <%= link_to "Help Index", help_documents_path -%><span style="color:#999"> > </span> <%= @help_document.title -%><br/>  
  <% end -%>
  <%= render :partial => 'help_document', :object => @help_document %>
  <% unless @help_document.attachments.empty? %>
    <h2>Attachments</h2>
    <ul class="bulleted_list">
      <% @help_document.attachments.each do |a| %>
      <li><%= link_to "#{a.filename} - #{a.title} (#{number_to_human_size(a.size)})", download_help_document_help_attachment_path(@help_document,a) -%></li>
      <% end %>
    </ul>   
  <% end %>
</div>
