
<% @search_type="All" unless @search_type %>


<% if Seek::Config.solr_enabled -%>

  <%= form_tag main_app.search_path do -%>
    <div id="search_box">
      <span id='search_label'><%= t('search_label')%></span>
      <%= text_field_tag :search_query, @search_query, :class=>"curved", :style=>"display:none;", :placeholder=>"Search here..." %>
      <%= select_tag :search_type, options_for_select(search_type_options,@search_type)  %>
      <% if show_scales? && Seek::Config.is_virtualliver %>
        <%= select_tag :scale, (options_for_select({"All" => 'all'}, :selected => (params[:scale] ? nil : 'all')) + options_from_collection_for_select(Scale.all.reverse, :key, :title, params[:scale])) %>
      <% end %>
      <% if Seek::Config.external_search_enabled %>
        <span data-tooltip='<%= tooltip(external_search_tooltip_text) -%>' >
          <%= check_box_tag :include_external_search, 1, @include_external_search -%>External
        </span>
      <% end %>
      <%= submit_tag "Search" -%>
    </div>
  <% end  -%>
<% end %>

