<% @search_query="" unless @search_query %>
<% @search_type="All" unless @search_type %>

<% if logged_in? && current_user.person -%>
  <% if EMAIL_ENABLED %>
    <%= image_tag_for_key("feedback",feedback_path,"Feedback",{:id=>"feedback"},"Provide Feedback") %>
  <% else %>
    <span class="icon"><%= mail_to User.admins.first.email, (image("feedback") + "Provide Feedback"), :id => "feedback" %></span>    
  <% end %>
<% end -%>

<% if logged_in? && current_user.is_admin? && current_user.person -%>
  <%= image_tag_for_key "admin", admin_path, "Admin", {:id=>"adminmode"}, "Admin" -%>
<% end -%>

<% if SOLR_ENABLED && logged_in? && current_user.person -%>

  <% form_tag '/search/' do -%>
    <div id="search_box">
      <%= text_field_tag :search_query, @search_query,:size=>30 %>
      <%= select_tag :search_type, options_for_select(search_type_options,@search_type)  %>
      <%= submit_tag "Go"  %>
    </div>
  <% end  -%>
<% end %>

