<% @search_query="" unless @search_query %>
<% @search_type="All" unless @search_type %>

<% if logged_in? && current_user.person && !Person.admins.empty? -%>
  <% if Seek::Config.email_enabled %>
    <%= image_tag_for_key("feedback",feedback_path,"Feedback",{:id=>"feedback"},"Provide Feedback") %>
  <% else %>
    <span class="icon"><%= mail_to Person.admins.first.email, (image("feedback") + "Provide Feedback"), :cc => Person.admins[1..-1].collect{|a| a.email}.join(",") , :subject => "#{Seek::Config.application_name} feedback", :id => "feedback" %></span>
  <% end %>
<% end -%>

<% if admin_logged_in? -%>
  <%= image_tag_for_key "admin", admin_path, "Admin", {:id=>"adminmode"}, "Admin" -%>
<% end -%>

<% if Seek::Config.solr_enabled -%>

  <% form_tag '/search/' do -%>
    <div id="search_box">
      <%= text_field_tag :search_query, @search_query -%>
      <%= select_tag :search_type, options_for_select(search_type_options,@search_type)  %>
      <%= submit_tag "Go" -%>
    </div>
  <% end  -%>
<% end %>

