<div class="show_basic">
  <% unless !logged_in? || params[:saved_search] %>
      <div class="box_standout curved with_smaller_shadow">
        <% tiny_image = image "saved_search_avatar", {:class => "avatar curved with_smaller_shadow search_fav_avatar"} %>
        <%= link_to_draggable(tiny_image, search_path, :title=>tooltip_title_attrib("Drag to Favourites to save this search"), :class=>"search", :id => "drag_search") %>
        Drag this icon over to your Favourites to save this search.
      </div>

  <% end %>
  <% if !@results.blank? %>
      <% if Seek::Config.faceted_search_enabled && ie_support_faceted_browsing? %>
          <%
             filter_path = url_for(:controller => 'search', :action => 'index',
                                   :search_query => params[:search_query],
                                   :search_type => params[:search_type],
                                   :include_external_search=>params[:include_external_search],
                                   :filter => true)
             unfilter_path = url_for(:controller => 'search', :action => 'index',
                                     :search_query => params[:search_query],
                                     :search_type => params[:search_type],
                                     :include_external_search=>params[:include_external_search])
          %>
          <ul class="sectionIcons">
            <li>
              <%= image_tag_for_key('filter', filter_path, 'Filter result',
                                    {:style => params[:filter] == 'true' ? 'display: none' : ''}, 'Filter result')  %>
            </li>

            <li class="unfilter_button">
              <%= image_tag_for_key('filter', unfilter_path, 'Un-filter result',
                                    {:style => params[:filter] == 'true' ? '' : 'display: none'}, 'Un-filter result')  %>
            </li>
          </ul>
          <% if params[:filter] == 'true' %>
            <%= render :partial => "faceted_browsing/faceted_search" -%>
          <% else %>
              <% resource_hash = classify_for_tabs @results -%>
              <%= render :partial => "assets/resource_listing_tabbed_by_class",
                         :locals => {:resource_hash => resource_hash,
                                     :narrow_view => true,
                                     :authorization_already_done => true} -%>
          <% end %>
      <% else %>
          <% resource_hash = classify_for_tabs @results -%>
          <%= render :partial => "assets/resource_listing_tabbed_by_class",
                     :locals => {:resource_hash => resource_hash,
                                 :narrow_view => true,
                                 :authorization_already_done => true} -%>
      <% end %>
  <% end %>
</div>

<style>
  ul li.unfilter_button{
      margin-right: 15%;
  }
</style>