<% folder = folder_details -%>

<p>Folder title: <%= h(folder.title) -%></p>
<p>Folder description: <%= simple_format(folder.description) -%></p>
<% unsorted_folder = ProjectFolder.new_items_folder(@project).try(:title) -%>
<%= image_tag_for_key "destroy", project_folder_path(@project,folder),
                      "Delete",
                      { :confirm => "Deleting this folder will remove all subfolders, and move any files to the #{unsorted_folder}. It is not reversible. Are you sure you want to delete?",
                        :method => :delete },
                      "Delete"
-%>


<% if folder.editable? -%>
    <p>
      <% form_remote_tag :url=>{:action=>:create_folder,:id=>folder.id},:html=>{:id=>:create_child_form} do -%>
      <%= label_tag "New child folder" -%>
      <%= hidden_field_tag :project_id,folder.project.id -%>
      <%= text_field_tag :title -%>
      <%= submit_tag(:create,:onclick=>"javascript: create_child();") -%>
      <% end -%>
    </p>
<% end -%>