<%
   @folder = folder_details
   @folder.description = "" if @folder.description.blank?
-%>
<% if @folder.editable? -%>

<p>
  <span id="title_label">Title: </span>
  <%= in_place_editor_field :folder, 'title',{},{
          :external_control=>:title_label,
          :url=>url_for(:project_id=>@project.id,:action=>:set_project_folder_title,:id=>@folder.id)
  } %>
</p>


<p>
<span id="description_label">Description: </span>
<%= in_place_editor_field :folder,'description',{},{
        :rows=>1,
        :cols=>50,
        :external_control=>"description_label",
        :url=>url_for(:project_id=>@project.id,:action=>:set_project_folder_description,:id=>@folder.id)} -%>
</p>

<% unsorted_folder = ProjectFolder.new_items_folder(@project).try(:title) -%>
<%= image_tag_for_key "destroy", project_folder_path(@project,@folder),
                      "Delete",
                      { :confirm => "Deleting this folder will remove all subfolders, and move any files to the #{unsorted_folder}. It is not reversible. Are you sure you want to delete?",
                        :method => :delete },
                      "Delete"
-%>
    <p>
      <% form_remote_tag :url=>{:action=>:create_folder,:id=>@folder.id},:html=>{:id=>:create_child_form} do -%>
      <%= label_tag "New child folder" -%>
      <%= hidden_field_tag :project_id,@folder.project.id -%>
      <%= text_field_tag :title -%>
      <%= submit_tag(:create,:onclick=>"javascript: create_child();") -%>
      <% end -%>
    </p>
<% else -%>
    Title: <%= h(@folder.title) -%>
    <br/>
<% end -%>
<hr/>
