<%#= javascript_include_tag "project_folders.js" -%>

<script type="text/javascript">
    function treeInit() {
        tree = new YAHOO.widget.TreeView("tree");
        root = tree.getRoot();
        <%= folder_node_creation_javascript @folders -%>

        tree.render();

        for (var key in elementFolderIds) {
            if (elementFolderIds.hasOwnProperty(key)) {

                Droppables.add(key, {accept:'draggable_folder_item', hoverclass:'folder_hover', onDrop:function(element, droppable_element) {
                    item_dropped_to_folder(element, droppable_element, <%= @project.id -%>);
                }});

            }
        }
    }

    function assayTreeInit() {
        tree = new YAHOO.widget.TreeView("assay_tree");
        root = tree.getRoot();
        <%= folder_node_creation_javascript Seek::AssayFolder.assay_folders(@project) -%>

        tree.render();

        for (var key in elementFolderIds) {
            if (elementFolderIds.hasOwnProperty(key)) {

                Droppables.add(key, {accept:'exp_assay_accepted_item', hoverclass:'folder_hover', onDrop:function(element, droppable_element) {
                    item_dropped_to_folder(element, droppable_element, <%= @project.id -%>);
                }});

            }
        }
    }
</script>


<div id="tree">

</div>
<h3><%= t('assays.experimental_assay').pluralize %></h3>
<div id="assay_tree">

</div>

<script type="text/javascript">
    treeInit();
    assayTreeInit();
    displayed_folder_id = <%= last_opened_folder_id(@project) -%>;
    //focus_folder(displayed_folder_id);
</script>


