<div id="folders_help" class="alert alert-info" style="display:none;">
  <h3>Item folders</h3>
    <p>
      The <%= t('project') %> items browser allows anybody within your <%= t('project') %> to organise the assets that they can see. <br/>
      The contents of a folder can be viewed by clicking on the folder title on the left. The contents will appear on the right. More details about an item can be found
      by hovering the mouse over the item and waiting for the tooltip to appear.<br/>
      Items can be dragged to a new folder by selecting and dragging from the right and dropping onto a folder on the left.
    </p>
    <p>
      New items, or existing items that have not yet been categorized appear in the <em>Unsorted Items</em> folder.
    </p>
    <p>
      New folders can be created by clicking the <em>Add a sub-folder</em> at the top right. This folder will be created as a sub-folder of the currently selected folder.
    </p>
    <p>
      A folders title or description can be changed simply by clicking on it at the top of the folder contents view, changing the content and then clicking OK.
    </p>
    <p>
      Folders can be deleted by clicking on the <em>Delete this folder</em> at the top right. Any sub-folders are deleted, and items contained within this folder or the sub-folders are moved
      to the <em>Unsorted Items</em> folder. <br/>
      <b>Delete folders with care, and you should consult other members of your <%= t('project') %> before doing so</b>.
    </p>
  <h3><%= t('assays.assay') %> folders</h3>
    <p>
      Items can easily be associated with <%= t('assays.assay').pluralize %> by dragging them to the appropriate <%= t('assays.assay') %> folder at the bottom half of the folder tree. <br/>
      Currently only <%= I18n.t('assays.experimental_assay').pluralize %> are supported, and only those you have permission to edit are listed. Publications, <%= t('data_file').pluralize %> and <%= t('sop').pluralize %> can be dragged to <%= t('assays.assay') %> folders, other items will be rejected.
      The item is not removed from its current folder when associating with an <%= t('assays.assay') %>.
    </p>
    <p>
      When you select an <%= t('assays.assay') %> folder, the items that are associated with are shown in the contents view to the right, together with some information about the <%= t('assays.assay') %>.
    </p>
    <p>
      Items can be removed from an <%= t('assays.assay') %> by viewing the <%= t('assays.assay') %> folder contents, and then dragging and dropping the item onto the red bar that says <em>Drop here to remove from the <%= t('assays.assay') %></em> (the red bar does not appear until you start to drag).
    </p>
</div>