<%
   @folder = folder_details
-%>

<ul id="folder_details">
  <li class="title_and_description">
    <% if @folder.editable? -%>

        <p>
          <span id="title_label"><b>Title: </b></span>
          <%= link_to @folder.title, '#',
                      data: { inplace: true,
                              type: 'text',
                              pk: @folder.id,
                              url: set_project_folder_title_project_folder_path(@project.id, @folder.id),
                              title: 'Enter title'} %>
        </p>

        <p>
          <span id="description_label"><b>Description: </b></span>
          <%= link_to @folder.description, '#',
                      data: { inplace: true,
                              type: 'textarea',
                              pk: @folder.id,
                              url: set_project_folder_description_project_folder_path(@project.id, @folder.id),
                              value: @folder.description,
                              title: 'Enter description'} %>
        </p>
    <% else -%>
        <p>
            <b>Title: </b><%= h(@folder.title) -%>
        </p>
        <p>
            <b>Description: </b><%= h(@folder.description) -%>
        </p>
    <% end -%>
  </li>

  <li class="actions">
    <% if @folder.deletable? -%>
        <% unsorted_folder = ProjectFolder.new_items_folder(@project).try(:title) -%>
        <div>
        <%= image_tag_for_key "destroy", project_folder_path(@project, @folder),
                              "Delete this folder",
                              { data: { confirm: "Deleting this folder will remove all subfolders, and move any files to the #{unsorted_folder}. It is not reversible. Are you sure you want to delete?" },
                               :method => :delete},
                              "Delete this folder"
        -%>
        </div>
    <% end -%>

    <% if @folder.editable? %>
        <div>
        <%= image_tag_for_key "add", "javascript:Effect.Appear('new_child');new Effect.Highlight('new_child');",
                              "Add subfolder",
                              {},
                              "Add a sub-folder",
                              :function
        -%>
        </div>
    <% end -%>

  </li>

</ul>

<div style='clear:both;'>&nbsp;</div>

<% if @folder.editable? -%>
    <div id='new_child' style='display:none;'>
      <div id="error_text" class='error_div alert alert-danger' style="display:none;"></div>
      <%= form_tag_with_callbacks(create_folder_project_folder_path(@project,@folder),
                                  {
                                          :id=>:create_child_form,
                                          :update=>{:failure=>:error_text},
                                          :loading=>"$('add_folder_button').disabled=true;",
                                          :complete=>"$('add_folder_button').disabled=false;",
                                          :success=>"location.reload();",
                                          :failure=>"$('error_text').show();",
                                          :remote=>true}) do -%>
              <%= label_tag "Create a new sub-folder:" -%>
              <%= hidden_field_tag :project_id, @folder.project.id -%>
              <%= text_field_tag :title -%>
              <%= submit_tag(:create, :id=>"add_folder_button") -%>
          <% end -%>

        </div>
<% end -%>

