<% current_scale ||= 'cell' %>
<script type="text/javascript">
    var scales_arr = [];
    <% (Scale.all.collect(&:key).reverse + ['all']).each do |key| %>
        scales_arr.push('<%= key %>');
    <% end %>

    var current_scale = scales_arr.indexOf('<%= current_scale %>');
</script>
<%= javascript_include_tag "jquery-1.5.1.min.js","jquery-ui-1.8.14.custom.min.js","scales/scales.js" %>
<%= stylesheet_link_tag  "scales/scales" %>

<div id="wrapper">


  <div id="options">
    <div id="minus">-</div>
    <ul id="scale_list" class="step">
      <li id="all">All -</li>
      <% Scale.all.each do |s| -%>
        <li id="<%= s.key -%>"><%= s.title -%> -</li>
      <% end %>
    </ul>

    <div id="slider"></div>
    <div id="plus">+</div>

  </div>

  <div id="zoom" >
    <%= image_tag "scales/all.png", {:alt=>"all", :id=>"bild-5"} %>
    <% Scale.all.each do |s| -%>
        <%= image_tag s.image_path,{:alt=>s.image_name,:id=>"bild-#{s.pos-1}"} %>
    <% end %>

  </div>
</div>

<script type="text/javascript">
    function scales_onclick() {
        $$('#scale_list li').each(function(item){
            item.onclick = function(){
                <%= scale_slider_function %>
                if ($('scale')){
                    $('scale').value = this.id
                }
                return false;
            };
        });

    }


    scales_onclick();

    if ($('scale')) {
        $('scale').value = scales_arr[current_scale];
    }
</script>