<% current_scale ||= 'all' %>
<script type="text/javascript">
    var scales_arr = [];
    <% (Scale.all.collect(&:key) + ['all']).each do |key| %>
        scales_arr.push('<%= key %>');
    <% end %>

    var current_scale = scales_arr.indexOf('<%= current_scale %>');

    function scales_onclick() {
        $$('#scale_list li').each(function(item){
            item.onclick = function(){
                <%= scale_slider_function %>
                if ($('scale')){
                    $('scale').value = this.id
                }
                return false;
            };
        });

    }

    if ($('scale')) {
        $('scale').value = scales_arr[current_scale];

    }
</script>
<%= javascript_include_tag "jquery-ui-1.8.14.custom.min","scales/scales" %>
<%= stylesheet_link_tag  "scales/scales" %>

<style>
    .ui-slider-vertical{
            height: <%= (Scale.count+1) * 1.85 %>em;
        }

</style>

<div class="row" id="wrapper">

  <div class="col-md-5 col-sm-5">
  <div id="options">
     <div id="minus">-</div>
    <ul id="scale_list" class="step">
      <li id="all">All -</li>
      <% Scale.all.reverse.each do |s| -%>
        <li id="<%= s.key -%>"><%= s.title -%> -</li>
      <% end %>
    </ul>

    <div id="slider"></div>
     <div id="plus">+</div>

  </div>
  </div>
  <div class="col-md-6 col-sm-6">
  <div id="zoom" >
    <%= image_tag asset_path("scales/vl-scales/all.png"), {:alt=>"all", :id=>"scale_image_all", :class=>"scale_image"} %>
    <% Scale.all.reverse.each do |s| -%>
        <%= image_tag asset_path(s.image_path),{:alt=>s.image_name,:id=>"scale_image_#{s.key}",:class=>"scale_image"} %>
    <% end %>
  </div>
  </div>
</div>

<script type="text/javascript">
    scales_onclick();
</script>
