<%options = action == :new ? {:remote=> true} : {}%>
<%= form_for @suggested_technology_type, options do |f| %>
    <div id="error_explanation">
      <ul>
      <% @suggested_technology_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

    <%= f.hidden_field :link_from%>

    <center>
      <div style="width: 60%;">

        <p>
          <%= f.label :label-%>*<br/>
          <%= f.text_field :label,{:style=>"width: 100%"} -%>
        </p>

        <p>
             <%= f.label "Parent" -%><br/>
             <span style="color: #666666;"> Select parent</span><br/>
         <%= ontology_selection_list "technology", "suggested_technology_type[parent_uri]", @suggested_technology_type.parent_uri,{:style=>"width:100%"}  %>
        </p>
      </div>
    </center>
    <div align="center" style="margin-top: 1.5em">
      <%= f.submit(action==:edit ? "Update" : "Create", :id => "create_suggested_technology_type_btn") -%>
      or <input type=button value='Cancel' onclick="RedBox.close()">
    </div>


 <% end -%>
