<div class="compounds">
<% remote_form_for 'compound',
  :before=>"$('compound_submit').disabled=true;",
  :loaded=>"$('compound_submit').disabled=false;",
  :html=>{:method=>:post, :id => "add_compound_form"} do |f| -%>

  <h4 style="margin-left: 18em"> Add new compound </h4>
  <span style="margin-left: 12em">(Please separate multiple synonyms and IDs by semi-colon)</span>
  <table >
    <tr>
      <th>Compound Name</th>
      <th>Synonyms</th>
      <th>SabioRK ID</th>
      <th>ChEBI IDs</th>
      <th>KEGG IDs</th>
    </tr>

    <tr>
      <td><%= f.text_area :title, :size => "16x3" %></td>
      <td><%= f.text_area :synonyms,:size => "16x3" -%></td>
      <td><%= text_area :compound, :sabiork_id, :size => "4x3" %></td>
      <td><%= text_area :compound, :chebi_ids,:size => "4x3" %></td>
      <td><%= text_area :compound, :kegg_ids, :size => "4x3" %></td>

      <td><%= f.submit "Add", :style => "width:50px;font-weight:bold;"-%>
    </tr>
  </table>
<% end -%>

<%= button_to_remote "Search in SabioRK",
                     {:url => {:controller => 'compounds', :action => "search_in_sabiork"},
                      :with => "'compound_name=' + $F('compound_title')",
                     :before=>"$('search_in_sabiork').disabled=true;",
                     :loaded=>"$('search_in_sabiork').disabled=false;",},
                     {:style => "font-weight:bold; margin: 1em 20em 1em", :id => 'search_in_sabiork'} %>
</div>