<%
   compound = compound_row
   synonym_names = ''
   sabiork_id = ''
   chebi_ids = ''
   kegg_ids = ''
   synonyms = compound.synonyms
   unless synonyms.blank?
      synonyms.each do |s|
         synonym_names.concat(s.title + "; ")
      end
      synonym_names.chomp!('; ')
   end
   mappings = compound.mapping_links.collect{|ml| ml.mapping}
   unless mappings.blank?
      sabiork_id = mappings.first.sabiork_id.to_s
      mappings.each do |m|
        chebi_ids.concat(m.chebi_id + '; ') if (try_block{m.chebi_id} and !chebi_ids.match(m.chebi_id + '; '))
        kegg_ids.concat(m.kegg_id + '; ') if (try_block{m.kegg_id} and !kegg_ids.match(m.kegg_id + '; '))
      end
      chebi_ids.chomp!('; ')
      kegg_ids.chomp!('; ')
   end

%>
<tr id="compound_row_<%= compound.id -%>" >
    <td><%= h compound.title %></td>
    <td><%= h synonym_names %></td>
    <td><%= h sabiork_id %></td>
    <td><%= h chebi_ids %></td>
    <td><%= h kegg_ids %></td>

    <td id="delete_<%= compound.id -%>" class="destroy_compound">
       <%
          confirm_string = "Are you sure you want to remove this compound#{compound.synonyms.blank? ? ', ' : ', synonyms'}#{(confirm_string.blank?) ? '' : ', links'}.This cannot be undone."
       %>
       <%= link_to image("destroy",:alt=>"Delete",:title=>"Delete this compound"),
         { :action => "destroy", :id => compound.id}, data: { confirm:  "#{confirm_string}" },
                   :method=>:delete, :remote => true
       -%>
    </td>

    <td>
      <a href="#" data-toggle="modal" data-target="#edit_compound_<%= compound.id -%>">
        <%= image(("edit"),:title=>"Start editing",:alt=>"Start editing") %>
      </a>
    </td>
</tr>
