<%= render :partial => "subscriptions/subscribe", :locals => {:object => item} %>
<% if logged_in_and_member? %>
    <%= button_link_to("New #{t('investigation')} based on this one", 'new', new_object_based_on_existing_one_investigation_path(item,:controller_name=>"investigations")) %>
<% end %>

<% if item.can_edit? -%>
  <%= button_link_to("Add a #{t('study')}", 'new', new_study_path(:investigation_id=>item,:create_from_asset=>item.create_from_asset)) -%>
<% end -%>

<%= admin_dropdown do %>
    <% if item.can_manage? -%>
        <li><%= image_tag_for_key('manage', edit_investigation_path(item), nil, nil, "Manage #{t('investigation')}") -%></li>
        <% if item.permitted_for_research_object? %>
            <li><%= image_tag_for_key('snapshot', new_investigation_snapshot_path(item), "Make a Snapshot", nil, "Make a Snapshot") -%></li>
        <% else %>
            <% explanation = "You may only create snapshots of publicly accessible investigations." %>
            <li>
                <span class='disabled_icon disabled' onclick='javascript:alert("<%= explanation-%>")' title='<%= tooltip_title_attrib(explanation) -%>'>
                    <%= image('snapshot', {:alt=>"Snapshot", :class=>"disabled"}) %> Make Snapshot
                </span>
            </li>
        <% end %>
    <% elsif item.can_edit?-%>
        <li><%= image_tag_for_key('edit', edit_investigation_path(item), "Edit #{t('investigation')}", nil, "Edit #{t('investigation')}") -%></li>
    <% end -%>
    <% if (item.can_publish? || item.contains_publishable_items?) && item.can_manage? -%>
        <li><%= image_tag_for_key('publish', polymorphic_path(item, :action => :check_related_items), nil, {:method=>:post}, "Publish full #{t('investigation')}") -%></li>
    <% end -%>

    <%= delete_icon item,current_user -%>
<% end -%>
