<%= render :partial => "subscriptions/subscribe", :locals => {:object => item} %>
<% if logged_in_and_member? %>
    <%= button_link_to("New #{t('investigation')} based on this one", 'new', new_object_based_on_existing_one_investigation_path(item,:controller_name=>"investigations")) %>
<!--    <%= button_link_to("Export ISATab JSON", 'publish', export_isatab_json_investigation_path(item)) %> -->
<% end %>

<% if item.can_edit? -%>
  <%= add_new_item_to_dropdown(item) %>
<% end -%>

<%= item_actions_dropdown do %>
    <% if item.can_edit? %>
      <li><%= image_tag_for_key('edit', edit_investigation_path(item), "Edit #{t('investigation')}", nil, "Edit #{t('investigation')}") -%></li>
      <li><%= image_tag_for_key('order', order_studies_investigation_path(item), "Order studies", nil, "Order studies") -%></li>
    <% end %>

    <% if item.can_manage? -%>
        <li><%= image_tag_for_key('manage', manage_investigation_path(item), "Manage #{t('investigation')}", nil, "Manage #{t('investigation')}") -%></li>
        <%= render :partial => 'snapshots/new_snapshot_link', :locals => { :item => item } %>
    <% end -%>

    <% if (item.can_publish? || item.contains_publishable_items?) && item.can_manage? -%>
        <li><%= image_tag_for_key('publish', polymorphic_path(item, :action => :check_related_items), nil, {:method=>:post}, "Publish full #{t('investigation')}") -%></li>
    <% end -%>

    <%= delete_icon item,current_user -%>
<% end -%>
