<%= javascript_include_tag "sharing.js" %>
<%= f.error_messages -%>


<div style="width: 98%;">
  <p>
    <%= f.label :title-%><span class="required">*</span><br/>
    <%= f.text_area :title,:style => "width: 100%;", :rows=>2 -%>
  </p>

  <p>
    <%= f.label :description -%><br/>
    <%= f.text_area :description,:style => "width: 100%;", :rows => 10 -%>
  </p>

  <p>
    <%= f.label :project -%><br/>
    <%= f.collection_select :project_id,current_user.person.projects,:id,:name %>
  </p>

  <p>
    <%= render :partial=>"assets/sharing_form" if @investigation.can_manage? -%>
  </p>
  <%= render :partial=>"assets/specific_subscription",:locals => {:resource=>@investigation} %>
</div>



<p style="margin-top: 2em; text-align: center;" >
  <%= f.submit(action==:edit ? "Update" : "Create", :disable_with=>(action==:edit ? "Updating..." : "Creating...")) -%>
  or <%= link_to 'Cancel', (@investigation.id ? investigation_path(@investigation.id) : investigations_path) -%>
</p>

