<%= f.error_messages -%>

<%= f.hidden_field :create_from_asset %>

<div class="form-group">
  <label class="required">Title</label>
  <%= f.text_field :title, :class=>"form-control" -%>
</div>

<div class="form-group">
  <%= f.label :description -%>
  <%= f.text_area :description, :rows => 5, :class=>"form-control" -%>
</div>

<%= render :partial => 'projects/project_selector', :locals => {:resource => @investigation,:allow_nil=>false} if show_form_manage_specific_attributes? -%>

<%= render :partial => "scales/scales_selector",:locals=>{:object=>@investigation} if show_scales?%>

<%= render partial: 'assets/manage_specific_attributes', locals:{f:f} if show_form_manage_specific_attributes? %>

<%= f.fancy_multiselect :publications, { other_projects_checkbox: true } %>

<%= form_submit_buttons(@investigation) %>
