<%= f.error_messages -%>

<%= f.hidden_field :create_from_asset %>
<%= f.hidden_field :new_link_from_study -%>

<div class="form-group">
  <label>Title <span class="required">*</span></label>
  <%= f.text_field :title, :class=>"form-control" -%>
</div>

<div class="form-group">
  <%= f.label :description -%>
  <%= f.text_area :description, :rows => 5, :class=>"form-control" -%>
</div>

<%= render :partial => 'projects/project_selector', :locals => {:resource => @investigation,:allow_nil=>false} -%>

<%= render :partial => "scales/scales_selector",:locals=>{:object=>@investigation} if show_scales?%>

<%= render :seek_partial=>"sharing/form" if @investigation.can_manage? -%>

<%  existing_creators = @investigation.creators
    existing_creators =  [current_user.person] if existing_creators.blank?
%>
<%= render :partial => "assets/author_form", :locals => {:resource_type => t('investigation'), # this is only for presentation, not for any processing
                                                         :existing_creators => existing_creators,
                                                         :other_creators => @investigation.other_creators} -%>


<%= render :partial => "assets/associate_publication", :locals => { :resource_type => t('investigation'),
                                                                    :related_publications => @investigation.publications} -%>

<%
   button_text=action==:edit ? "Update" : "Create"
   disabled_text=action==:edit ? "Updating..." : "Creating..."
%>
<% if @investigation.can_manage? %>
    <%= preview_permission_popup_link(@investigation)-%>
    <%= f.submit button_text, :id => "investigation_submit_btn",
                 :onclick => "javascript: previewPermissions();return(false);",
                 :class => 'btn btn-primary' -%>
<% else %>
    <%= f.submit button_text, data: { disable_with: disabled_text }, :id => "investigation_submit_btn",
                 :onclick => "javascript: $('investigation_submit_btn').form.submit();return(false);",
                 :class => 'btn btn-primary' -%>
<% end %>
 or <%= cancel_button(@investigation.id ? investigation_path(@investigation.id) : investigations_path) -%>
