<%= javascript_include_tag "sharing.js" %>
<%= f.error_messages -%>

<%= f.hidden_field :create_from_asset %>
<%= f.hidden_field :new_link_from_study -%>

<div style="width: 98%;">
  <p>
    <%= f.label :title-%><span class="required">*</span><br/>
    <%= f.text_area :title,:style => "width: 100%;", :rows=>2 -%>
  </p>

  <p>
    <%= f.label :description -%><br/>
    <%= f.text_area :description,:style => "width: 100%;", :rows => 10 -%>
  </p>

    <%= render :partial => 'projects/project_selector', :locals => {:resource => @investigation} -%><br/>

  <p>
    <%= render :partial=>"assets/sharing_form" if @investigation.can_manage? -%>
  </p>
</div>



<p style="margin-top: 2em; text-align: center;" >
  <%= f.submit(action==:edit ? "Update" : "Create", :disable_with=>(action==:edit ? "Updating..." : "Creating...")) -%>
  or <%= link_to 'Cancel', (@investigation.id ? investigation_path(@investigation.id) : investigations_path) -%>
</p>

