<%= list_item_description resource.description %>
<div class="row">
  <div class="col-sm-6">
    <%= list_item_snapshot_list resource %>
    <%= list_item_doi(resource) %>
  </div>
  <div class="col-sm-6 hidden-xs">
    <%= list_item_authorized_list resource.studies, t('study').pluralize %>
    <%= list_item_authorized_list resource.assays, t('assays.assay').pluralize %>
  </div>
</div>

<div class="hidden-xs">
  <%= scales_list_for_list_item resource %>
</div>
