<%= list_item_title resource %>

<div class="list_item_left_column">
<%= list_item_attribute "ID", resource.id %>
<%= list_item_authorized_list resource.studies, "Studies" %>
</div>

<div class="list_item_right_column">
  <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => true}%>
</div>

<div class="list_item_whole_width">

<%= list_item_description resource.description %>
<%= list_item_timestamp resource %>
</div>    