<%= render :partial => "general/item_title",:locals=>{:item=>@investigation} %>

<ul class="sectionIcons">
  <%= render :partial => "subscriptions/subscribe", :locals => {:object => @investigation} %>
  <% if @investigation.can_manage? -%>
      <li><%= image_tag_for_key('manage', edit_investigation_path, nil, nil, "Manage #{t('investigation')}") -%></li>
  <% elsif @investigation.can_edit?-%>
      <li><%= image_tag_for_key('edit', edit_investigation_path, "Edit #{t('investigation')}", nil, "Edit #{t('investigation')}") -%></li>
  <% end -%>

  <% if @investigation.can_edit? -%>
      <li>
        <%= image_tag_for_key('new', new_study_path(:investigation_id=>@investigation,:create_from_asset=>@investigation.create_from_asset), "Add a #{t('study')}", nil, "Add a #{t('study')}") -%>
      </li>
  <% end -%>

  <%= delete_icon @investigation,current_user -%>
  <% if logged_in_and_member? %>
      <li><%= image_tag_for_key('new', new_object_based_on_existing_one_investigation_path(@investigation,:controller_name=>"investigations"), nil, nil, "New #{t('investigation')} based on this one") %></li>
  <% end %>
</ul>

<div class="show_basic">
  <div class="main_content_left_box">
    <%= item_description @investigation.description -%>
    <p class="id">
        <label>
            ID: 
        </label>
        <%= @investigation.id -%>
    </p>
    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @investigation}  %>

    <br/>
  </div>
  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @investigation, :creators => [@investigation.contributing_user.try(:person)] } %>

  <div style="clear:both">
    <%= render :partial=>"general/isa_graph", :locals => {:root_item => @investigation, :deep => false} %>
  </div>

  <div style="clear:both">
    <%= render :partial=>"general/items_related_to",:object => @investigation %>
  </div>

</div>
