<ul class="sectionIcons">
    <% if @investigation.can_manage? -%>
      <li><%= image_tag_for_key('manage', edit_investigation_path, nil, nil, 'Manage investigation') -%></li>
    <% elsif @investigation.can_edit?-%>
      <li><%= image_tag_for_key('edit', edit_investigation_path, "Edit investigation", nil, 'Edit investigation') -%></li>
    <% end -%>

    <% if @investigation.can_edit? -%>
      <li>
        <%= image_tag_for_key('new', new_study_path(:investigation_id=>@investigation), "Add a study", nil, "Add a study") -%>
      </li>
    <% end -%>
  
    <%= delete_ISA_icon @investigation,current_user -%>
</ul>
<%= render :partial => "layouts/item_title",:locals=>{:item=>@investigation} %>
<div class="show_basic">
    <%= render :partial => "layouts/usage_info", :locals => { :resource => @investigation } -%>
    <p class="id">
        <label>
            ID: 
        </label>
        <%= @investigation.id -%>
    </p>
    <p>
        <b>Project:</b>
        <%= link_to h(@investigation.project.name),@investigation.project %>
    </p>
    <p>
        <b>Description:</b>
        <div id="description" class="box_standout">
            <%= text_or_not_specified(@investigation.description, :description=>true,:auto_link=>true) %>
        </div>
    </p>	
    <br/>
    
	<%= embedded_isa_svg(@investigation,false) -%>
	
    <%= render :partial=>"layouts/items_related_to",:object => @investigation %>
</div>
