<%= render :partial => "general/item_title",:locals=>{:item=>@investigation, :buttons_partial => 'investigations/buttons'} %>

<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">
    <%= item_description @investigation.description -%>

    <div class="row">
      <div class="col-md-6">
        <p class="id"><strong>ID:</strong><%= @investigation.id -%></p>
        <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @investigation}  %>
      </div>
    </div>
    <%= render :partial=>"general/isa_graph", :locals => {:root_item => @investigation, :deep => false} %>
  </div>
  <div class="col-md-3 col-sm-4">
    <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @investigation, :creators => (@investigation.creators | [@investigation.contributing_user.try(:person)]).compact.uniq } %>
    <%= render :partial=>"snapshots/snapshots",:locals => { :snapshots => @investigation.snapshots, :resource => @investigation } if @investigation.snapshots.any? %>
  </div>
</div>

<%= render :partial=>"general/items_related_to",:object => @investigation %>
