<%= render :partial => "general/item_title",:locals=>{:item=>@investigation, :buttons_partial => 'investigations/buttons'} %>

<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">
    <%= item_description @investigation.description -%>

    <div class="row">
      <div class="col-md-6">
        <%= persistent_resource_id(@investigation) %>
        <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @investigation}  %>
      </div>
    </div>
    <p id="position">
      <b><%= "Investigation position" %>: </b>
      <%= @investigation.position %>
    </p>
    <%= render partial: 'general/isa_graph', locals: { root_item: @investigation, options: { depth: 4 } } %>
  </div>
  <div class="col-md-3 col-sm-4">
    <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @investigation } %>
  </div>
</div>

<%= render :partial=>"general/items_related_to",:object => @investigation %>
