<%= render :partial => "general/item_title",:locals=>{:item=>@investigation, :buttons_partial => 'investigations/buttons'} %>

<div class="show_basic">
  <div class="main_content_left_box">
    <%= item_description @investigation.description -%>
    <p class="id">
        <label>
            ID: 
        </label>
        <%= @investigation.id -%>
    </p>
    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @investigation}  %>

    <br/>
  </div>
  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @investigation, :creators => [@investigation.contributing_user.try(:person)] } %>

  <div style="clear:both">
    <%= render :partial=>"general/isa_graph", :locals => {:root_item => @investigation, :deep => false} %>
  </div>

  <div style="clear:both">
    <%= render :partial=>"general/items_related_to",:object => @investigation %>
  </div>

</div>
