<ul class="sectionIcons">
    <%= render :partial => "subscriptions/subscribe", :locals => {:object => @investigation} %>
    <% if @investigation.can_manage? -%>
      <li><%= image_tag_for_key('manage', edit_investigation_path, nil, nil, 'Manage investigation') -%></li>
    <% elsif @investigation.can_edit?-%>
      <li><%= image_tag_for_key('edit', edit_investigation_path, "Edit investigation", nil, 'Edit investigation') -%></li>
    <% end -%>

    <% if @investigation.can_edit? -%>
      <li>
        <%= image_tag_for_key('new', new_study_path(:investigation_id=>@investigation,:create_from_asset=>@investigation.create_from_asset), "Add a study", nil, "Add a study") -%>
      </li>
    <% end -%>
  
    <%= delete_ISA_icon @investigation,current_user -%>
   <% if logged_in? and current_user.person.member? %>
      <li><%= image_tag_for_key('new', new_object_based_on_existing_one_path(:controller_name=>"investigations",:id=>@investigation.id), nil, nil, 'New investigation based on this one') %></li>
    <% end %>

</ul>
<%= render :partial => "layouts/item_title",:locals=>{:item=>@investigation} %>
<div class="show_basic">
  <div class="main_content_left_box_narrower">
    <%= render :partial => "layouts/usage_info", :locals => { :resource => @investigation } -%>
    <p class="id">
        <label>
            ID: 
        </label>
        <%= @investigation.id -%>
    </p>
    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @investigation}  %>
    <p>
        <b>Description:</b>
        <div id="description" class="box_standout">
            <%= text_or_not_specified(@investigation.description, :description=>true,:auto_link=>true) %>
        </div>
    </p>	
    <br/>
  </div>

  <div class="main_content_right_box_wider">
    <%= render :partial=>"assets/resource_authors_box",:locals => {:resource => @investigation, :creators => [@investigation.contributing_user.try(:person)] } %>
  </div>

  <div style="clear:both;">
	<%= embedded_isa_svg(@investigation,false) -%>
  </div>

    <%= render :partial=>"layouts/items_related_to",:object => @investigation %>
</div>
