<ul class="sectionIcons">
    <% if @investigation.can_edit?(current_user) -%>
    <li>
        <%= image_tag_for_key('edit', edit_investigation_path, "Edit investigation", nil, 'Edit investigation') -%>
    </li>
    <% end -%>
    <%= delete_ISA_icon @investigation,current_user -%>
</ul>
<%= render :partial => "layouts/item_title",:locals=>{:item=>@investigation} %>
<div class="show_basic">
    <%= render :partial => "assets/resource_datetime_info", :locals => { :resource => @investigation } -%>
    <p class="id">
        <label>
            ID: 
        </label>
        <%= @investigation.id -%>
    </p>
    <p>
        <b>Project:</b>
        <%= link_to h(@investigation.project.name),@investigation.project %>
    </p>
    <p>
        <b>Description:</b>
        <div id="description" class="box_standout">
            <%= text_or_not_specified(@investigation.description, :description=>true,:auto_link=>true) %>
        </div>
    </p>
    <br/>
    
	
    <%= render :partial=>"layouts/items_related_to",:locals=>{:include_hidden_asset_count=>true},:object => @investigation %>
</div>
