<%= folding_panel('Associate authors') do %>
    Using the form below, you can link the authors to people registered in SEEK.<br/><br/>

    SEEK will try and suggest the correct person based on the author's name. If this suggestion is incorrect, please select the correct person from the dropdown menu, or choose "None" if this person isn't a member of SEEK.<br/><br/>

    To reset the author list to the original state of the PubMed article, click the "Disassociate All Authors" button.<br/>

    <div class="row">
      <div class="col-md-6">
        <h4>Unassociated authors</h4>
        <% unless publication.publication_authors.empty? %>
            <div class="form-horizontal">
              <% people_by_project = people_by_project_options(Project.all) -%>
              <% publication.publication_authors.each do |author| %>
                  <div class="form-group">
                    <label class="control-label col-sm-4">
                      <%= author.first_name -%> <%= author.last_name -%>
                    </label>
                    <div class="col-sm-8">
                      <%= select_tag "author[#{author.id}]", "<option value=''>None</option>#{people_by_project}".html_safe,
                                     :class => 'form-control' %>
                    </div>
                  </div>
              <% end %>
            </div>
        <% else %>
            <span class="none_text">No unassociated authors</span>
        <% end %>
      </div>

      <div class="col-md-6">
        <h4>Associated authors</h4>
        <div class="box_editing_inner">
          <% unless publication.creators.empty? %>
              <ul class="related_asset_list">
                <% publication.creators.each do |creator| %>
                    <li><%= (link_to get_object_title(creator), show_resource_path(creator)) %></li>
                <% end %>
              </ul>
              <%= button_link_to("Disassociate All Authors", 'destroy', disassociate_authors_publication_url(publication),
                                 { data: { confirm: "This will reset the publication's links to people in SEEK, are you sure you wish to do this?" }, :method => :post}) -%>
          <% else %>
              <span class="none_text">No associated authors</span>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
