<%= render :partial => 'projects/project_selector', :locals => {:resource => @publication, :allow_nil => Seek::Config.is_virtualliver } %>
<div class="form-group">
  <label>Abstract</label>
  <p class="help-block">
    When adding a publication through a DOI, it is not possible to fetch the original abstract automatically.
    <br/>Please paste the abstract below
  </p>
  <%= text_area(:publication, :abstract, :cols => 90, :rows => 8, :class => 'form-control') %>
</div>

<%= render partial: 'associate_authors_form', :locals => { :f=> publication_form, :publication => @publication} %>

<%= render partial: 'scales/scales_selector', locals: { object: @publication } if show_scales?%>

<%= render :partial=> "assets/misc_links_form", :locals=>{:resource => @publication} -%>

<%= render partial: 'assets/select_tags' -%>

<%= publication_form.fancy_multiselect :human_diseases, { possibilities: HumanDisease.order(:title).all, with_new_link: true, hidden: false } %>

<%= publication_form.fancy_multiselect :events, other_projects_checkbox: true, sort_by: :start_date %>

<%= publication_form.fancy_multiselect :investigations, other_projects_checkbox: true %>

<%= publication_form.fancy_multiselect :studies, { other_projects_checkbox: true,
                                                   group_options_by: ->(s) { s.investigation.try(:title) }  } %>

<%= publication_form.fancy_multiselect :assays, { other_projects_checkbox: true,
                                                  group_options_by: ->(a) { a.study.try(:title) }  } %>

<%= publication_form.fancy_multiselect :data_files, other_projects_checkbox: true %>

<%= publication_form.fancy_multiselect :models, other_projects_checkbox: true %>

<%= publication_form.fancy_multiselect :presentations, other_projects_checkbox: true %>

<%= publication_form.fancy_multiselect :workflows, other_projects_checkbox: true %>

<% if  params[:newly_created].nil? or params[:newly_created] == "false" %>
  <%= publication_form.submit  'Update',data: { disable_with: 'Updating...' }, :class => 'btn btn-primary' %>
  or <%= cancel_button(publication_path(@publication)) %>
<% else %>
  <%= publication_form.submit  'Save',data: { disable_with: 'Updating...' }, :class => 'btn btn-primary' %>
  or <%= cancel_button(publication_path(@publication), button_text: 'Skip') %>
  or <%= cancel_button(publication_path(@publication), button_text: 'Cancel and delete', method: :delete) -%>
<% end %>