<% if !item.pubmed_id.nil? %>
  <%= button_link_to('View Publication On PubMed', 'visit_pubmed', item.pubmed_uri, :target => "_blank") -%>
<% elsif !item.doi.nil? %>
  <%= button_link_to('View Publication', 'visit_pubmed', item.doi_uri, :target => "_blank") -%>
<% end -%>

<%= render :partial => "subscriptions/subscribe", :locals => {:object => item } -%>

<%= dropdown_button('Export', 'export', menu_options: { class: 'pull-right' }) do %>
  <% Publication::EXPORT_TYPES.each do |key,value| %>
    <li><%= image_tag_for_key(key.to_s, publication_path(item, :format => key), nil, nil, value[:name]) -%></li>
  <% end %>
<% end %>

<% if current_user %>
  <%= render partial: 'assets/add_to_collection', locals: { resource: item } %>
<% end %>

<% if item.can_edit? %>
  <%= add_new_item_to_dropdown(item) %>
<% end %>

<%= item_actions_dropdown do %>
  <% if item.can_edit? -%>
    <li><%= image_tag_for_key('edit', edit_publication_path(item), nil, nil, 'Edit Publication') -%></li>
  <% end -%>
  <% if item.can_manage? -%>
    <li><%= image_tag_for_key('manage', manage_publication_path(item), nil, nil, 'Manage Publication') -%></li>
    <% if Seek::Config.allow_publications_fulltext %>
      <li><%= image_tag_for_key('attach', upload_fulltext_publication_path(item), nil, nil, 'Upload full text PDF') -%></li>
    <% end %>
  <% end -%>
  <% if item.can_delete? -%>
    <li><%= image_tag_for_key('destroy', publication_path(item), nil,
                              { data: { confirm: 'This will unregister this publication with SEEK. Are you sure wish to do this?' }, :method => :delete }, 'Unregister') -%></li>
  <% end -%>
<% end -%>
