<%
    publication_type = PublicationType.find(resource.publication_type_id) unless resource.publication_type_id.nil?
%>

<div class="list_item_desc"><%= list_item_expandable_text "Abstract", h(resource.abstract) %></div>

<p class="list_item_attribute">
  <% if resource.publication_authors.size == 0 %>
  <%= list_item_attribute "Editor", h(resource.editor)%>
 <% else %>
    <%= list_item_author_list(resource.publication_authors) %>
  <% end %>
</p>

<div class="row">
  <div class="col-sm-6">
    <%= list_item_attribute "Date Published", date_as_string(resource.published_date,false,true) %>

    <% if publication_type.nil?%>
      <%= list_item_attribute "Publication Type", text_or_not_specified(nil) %>
    <% else %>
      <%= list_item_attribute "Publication Type", h(PublicationType.find(resource.publication_type_id).title) %>
    <% end %>

    <% if Seek::Config.human_diseases_enabled and !resource.human_diseases.empty? %>
      <%= list_item_simple_list resource.human_diseases, "Human Diseases" %>
    <% end %>
  </div>

  <div class="col-sm-6 hidden-xs">
    <%= list_item_attribute "PubMed ID", resource.pubmed_id, resource.pubmed_uri, {:onclick => "window.open(this.href);return false;"} unless resource.pubmed_id.nil? %>
    <%= list_item_doi(resource) %>
    <%= list_item_attribute "Citation", h(resource.citation)%>
  </div>
</div>

<div class="hidden-xs">
  <%= scales_list_for_list_item resource %>
</div>
