<%= list_item_title resource %>

<p class="list_item_attribute">
  <b>Author<%= resource.seek_authors.size + resource.non_seek_authors.size > 1 ? "s" : "" -%>:</b>
  <% if resource.seek_authors.empty? && resource.non_seek_authors.empty? %>
    <span class='none_text'>Not specified</span>
  <% else %>
    <% resource.seek_authors.select(&:can_view?).each do |author| %>
          <%  %>
      <%= (link_to get_object_title(author), show_resource_path(author)) + ((author == resource.creators.last) && (resource.non_seek_authors.empty?) ? "" : ", ") %>
    <% end %>
    <% (resource.non_seek_authors + resource.seek_authors.reject(&:can_view?)).each do |author| %>
      <%= author.last_name + " " + author.first_name + ((author == resource.non_seek_authors.last) ? "" : ", ") %>
    <% end %>
  <% end %>
</p>

<div class="list_item_left_column">

<%= list_item_attribute "PubMed ID", resource.pubmed_id, "http://www.ncbi.nlm.nih.gov/pubmed/#{resource.pubmed_id}", {:popup => true} unless resource.pubmed_id.nil? %>

<%= list_item_attribute "DOI", resource.doi, "http://dx.doi.org/#{resource.doi}", {:popup => true} unless resource.doi.nil? %>

<%= list_item_attribute "Date Published", resource.published_date.strftime('%d/%m/%Y') %>
</div>

<div class="list_item_right_column">

<%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => true}%>

<%= list_item_optional_attribute publication_type_text(resource.publication_type), h(resource.journal) %>

<%= list_item_tag_list resource %>

</div>

<div class="list_item_whole_width">

<%= list_item_expandable_text "Abstract", h(resource.abstract) %>

<%= list_item_timestamp resource %>  

</div>



