<% unless resource.nil? -%>
  <div>
    <p class="title">
      <%= list_item_title resource -%>
    </p>
    
    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => true} -%>
    
    <p class="list_item_attribute">
      <b>Author<%= resource.publication_authors.size > 1 ? "s" : "" -%>:</b>
      <% if resource.publication_authors.empty? %>
          <span class='none_text'>Not specified</span>
      <% else %>
          <%= resource.publication_authors.map do |author|
            if author.person && author.person.can_view?
              link_to get_object_title(author.person), show_resource_path(author.person)
            else
              author.last_name + " " + author.first_name
            end
          end.join(', ') %>
      <% end %>
    </p>
    
  <%= list_item_expandable_text "Abstract", h(resource.abstract) %>

  </div>
<% end -%>
