<% unless resource.nil? -%>
  <div>
    <p class="title">
      <%= h resource.title -%>
    </p>
    
    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => true} -%>
    
    <p class="list_item_attribute">
      <b>Author<%= resource.creators.size + resource.non_seek_authors.size > 1 ? "s" : "" -%>:</b>
      <% if resource.creators.empty? && resource.non_seek_authors.empty? %>
        <span class='none_text'>Not specified</span>
      <% else %>
        <% resource.creators.each do |author| %>
          <%= (link_to get_object_title(author), show_resource_path(author)) + ((author == resource.creators.last) && (resource.non_seek_authors.empty?) ? "" : ", ") %>
        <% end %>
        <% resource.non_seek_authors.each do |author| %>
          <%= author.last_name + " " + author.first_name + ((author == resource.non_seek_authors.last) ? "" : ", ") %>
        <% end %>
      <% end %>
    </p>
    
  <%= list_item_expandable_text "Abstract", h(resource.abstract) %>

  </div>
<% end -%>
