<h1>Edit publication: <%= link_to(h(@publication.title), publication_path(@publication)) -%></h1>
<%= error_messages_for('publication', :message => nil) %>

<%= form_tag publication_path(@publication), :method => :put do %>
    <%= render :partial => 'projects/project_selector', :locals => {:resource => @publication, :allow_nil => true}%>

    <% if @publication.pubmed_id.nil? && @publication.doi %>
        <div class="form-group">
          <label>Abstract</label>
          <p class="help-block">
            When adding a publication through a DOI, it is not possible to fetch the original abstract automatically.
            <br/>Please paste the abstract below
          </p>
          <%= text_area(:publication, :abstract, :cols => 90, :rows => 8, :class => 'form-control') %>
        </div>
    <% end %>

    <%= render :partial => 'associate_authors_form', :locals => {:publication => @publication} %>

    <%= render :partial => "scales/scales_selector",:locals=>{:object=>@publication} if show_scales?%>

    <%= render :partial => "assets/select_tags" -%>

    <% if Seek::Config.events_enabled -%>
        <%= render :partial => "assets/associate_event", :locals=>{:resource => @publication} -%>
    <% end -%>

    <%= render :partial => "assets/associate_investigation", :locals=>{:resource => @publication} -%>

    <%= render :partial => "assets/associate_study", :locals=>{:resource => @publication} -%>

    <%= render :partial => "assays/associate_assays", :locals=>{:resource => @publication} -%>

    <%= render :partial => "assets/associate_data_file", :locals=>{:resource => @publication} -%>

    <%= render :partial => "assets/associate_model", :locals=>{:resource => @publication} -%>

    <%= submit_tag 'Update',:disable_with=>"Updating...", :class => 'btn btn-primary' %>
    or <%= cancel_button(publication_path(@publication)) %>
<% end %>

<script type="text/javascript">
    var project_ids = <%= @publication.projects.collect{ |p| p.id } %>
    <% @publication.non_seek_authors.each do |author| %>
    var select_element = $('author_' + '<%= author.id %>');
    var options = select_element.options;
    for (var i=0; i<options.length; i++){
        var option = options[i];
        if ('<%= @author_associations[author.id].try(:id) %>' == options[i].value){
            var parent_node = option.parentNode;
            if (project_ids.length == 0){
                option.selected = true;
                break;
            }else{
                for (var j=0; j<project_ids.length; j++){
                    if (project_ids[j].toString() == parent_node.id){
                        option.selected = true;
                        break;
                        break;
                    }
                }
            }
        }
    }
    <% end %>
</script>
