<%= javascript_include_tag "associate_events.js", "assays.js" %>

<h1>Edit publication: <%= link_to(h(@publication.title), publication_path(@publication)) -%></h1>
<div class="show_basic">    
  <%= error_messages_for('publication', :message => nil) %>
  <% form_tag publication_path(@publication), :method => :put do %>
    <%= render :partial => 'projects/project_selector', :locals => {:resource => @publication, :allow_nil => true}%>
    
    <% if @publication.pubmed_id.nil? && @publication.doi %>
      <p>
        <label>Abstract:</label><br/>
        <%= text_area(:publication, :abstract, :cols => 90, :rows => 8) %>
      </p>
    <% end %>

    <h2>Associate authors</h2>  
 
    <% projects = @publication.projects %>
    Using the form below, you can link the authors listed in PubMed to people registered in SEEK.<br/><br/>
    
    SEEK will try and suggest the correct person based on the author's name. If this suggestion is incorrect, please select the correct person from the dropdown menu, or choose "None" if this person isn't a member of SEEK.<br/><br/>
    
    To reset the author list to the state of the original PubMed article, click the "Disassociate All Authors".<br/>
    
    <div style="margin:1em; float: left; width:45%" class="box_editing_inner">
      <h4>Author Associations</h4>
      <% unless @publication.publication_authors.empty? %>
        <table>
          <tr>
            <th>Author name</th>
            <th>SEEK person</th>
          </tr>
          <% people = Person.all.select(&:can_view?)%>
          <% @publication.publication_authors.each do |author| %>
          <tr>    
            <td><%= author.first_name + " " + author.last_name -%></td>
            <td><select name="author[<%= author.id -%>]"><option value="">None</option><%= people.map {|person| "<option #{person == @author_associations[author.id] ? 'selected="selected"' : ''} value=\"#{person.id}\" title=\"#{h person.name}\">#{h truncate(person.name)}</option>"} -%></select></td>
          </tr>
          <% end %>
        </table>
      <% else %>
        <span class="none_text">No unassociated authors</span>
      <% end %>
    </div>
    
    <div style="margin:1em; float: left; width:35%" class="box_editing_inner">
      <h4>Associated authors</h4>
      <% unless @publication.creators.empty? %>
        <ul class="related_asset_list">
          <% @publication.creators.each do |creator| %>
            <li><%= (link_to get_object_title(creator), show_resource_path(creator)) %></li>
          <% end %>
        </ul>
        <br/>
        <ul class="sectionIcons"><li><%= image_tag_for_key('no_user', disassociate_authors_publication_url(@publication), "Disassociate All Authors", {:confirm => "This will reset the publication's links to people in SEEK, are you sure you wish to do this?", :method => :post}, "Disassociate All Authors") -%></li></ul>
      <% else %>
        <span class="none_text">No associated authors</span>
      <% end %>
    </div>

    <br style="clear: both"/>
    <div>
     <p>
        <%= fancy_multiselect @publication,:scales, {:possibilities=>sort_scales(Scale.all)} if @publication.is_scalable? -%>
    </p>
    <p>
        <%= render :partial=>"assets/select_tags" -%>
    </p>
    </div>

    <% if Seek::Config.events_enabled -%>
          <p>
            <%= render :partial => "assets/associate_event", :locals=>{:resource => @publication} -%>
          </p>
    <% end -%>
      <p>
        <%= render :partial => "assays/associate_assays", :locals=>{:resource => @publication} -%>
      </p>
      <p>
        <%= render :partial => "assets/associate_data_file", :locals=>{:resource => @publication, :show_relationships => false} -%>
      </p>
      <p>
        <%= render :partial => "assets/associate_model", :locals=>{:resource => @publication} -%>
      </p>

    <p style="text-align: center;">
      <%= submit_tag 'Update',:disable_with=>"Updating..." %>
    </p>
  <% end %>
</div>