<h1>Edit publication: <%= link_to(h(@publication.title), publication_path(@publication)) -%></h1>
<div class="show_basic">    
  <%= error_messages_for('publication', :message => nil) %>
  <%= form_tag publication_path(@publication), :method => :put do %>
    <%= render :partial => 'projects/project_selector', :locals => {:resource => @publication}%>


    
    <% if @publication.pubmed_id.nil? && @publication.doi %>
      <label>Abstract:</label><br/>
      <p class="box_infotext">
        When adding a publication through a DOI, it is not possible to fetch the original abstract automatically.
        <br/>Please paste the abstract below
      </p>
      <p>
        <%= text_area(:publication, :abstract, :cols => 90, :rows => 8) %>
      </p>
    <% end %>

    <h2>Associate authors</h2>

    Using the form below, you can link the authors listed in PubMed to people registered in SEEK.<br/><br/>
    
    SEEK will try and suggest the correct person based on the author's name. If this suggestion is incorrect, please select the correct person from the dropdown menu, or choose "None" if this person isn't a member of SEEK.<br/><br/>
    
    To reset the author list to the state of the original PubMed article, click the "Disassociate All Authors".<br/>
    
    <div style="margin:1em; float: left; width:45%" class="box_editing_inner">
      <h4>Unassociated authors</h4>
      <% unless @publication.non_seek_authors.empty? %>
        <table>
          <tr>
            <th>Author name</th>
            <th>SEEK person</th>
          </tr>
          <% people_by_project = people_by_project_options(Project.all) -%>
          <% @publication.non_seek_authors.each do |author| %>
          <tr>
            <td><%= author.first_name + " " + author.last_name -%></td>
            <td>
              <%= select_tag "author[#{author.id}]", "<option value=''>None</option>#{people_by_project}".html_safe %>
            </td>
          </tr>
          <% end %>
        </table>
      <% else %>
        <span class="none_text">No unassociated authors</span>
      <% end %>
    </div>
    
    <div style="margin:1em; float: left; width:35%" class="box_editing_inner">
      <h4>Associated authors</h4>
      <% unless @publication.creators.empty? %>
        <ul class="related_asset_list">
          <% @publication.creators.each do |creator| %>
            <li><%= (link_to get_object_title(creator), show_resource_path(creator)) %></li>
          <% end %>
        </ul>
        <br/>
        <ul class="sectionIcons"><li><%= image_tag_for_key('no_user', disassociate_authors_publication_url(@publication), "Disassociate All Authors", {:confirm => "This will reset the publication's links to people in SEEK, are you sure you wish to do this?", :method => :post}, "Disassociate All Authors") -%></li></ul>
      <% else %>
        <span class="none_text">No associated authors</span>
      <% end %>
    </div>
    <br style="clear: both"/>
    <div>
      <% if show_scales? %>
          <%= render :partial => "scales/scales_selector",:locals=>{:object=>@publication} %>
      <% end %>
    <p>
        <%= render :partial=>"assets/select_tags" -%>
    </p>
    </div>

    <% if Seek::Config.events_enabled -%>
          <p>
            <%= render :partial => "assets/associate_event", :locals=>{:resource => @publication} -%>
          </p>
    <% end -%>
      <p>
        <%= render :partial => "assays/associate_assays", :locals=>{:resource => @publication} -%>
      </p>
      <p>
        <%= render :partial => "assets/associate_data_file", :locals=>{:resource => @publication, :show_relationships => false} -%>
      </p>
      <p>
        <%= render :partial => "assets/associate_model", :locals=>{:resource => @publication} -%>
      </p>

    <p style="text-align: center;">
      <%= submit_tag 'Update',:disable_with=>"Updating..." %>
    </p>
  <% end %>
</div>

<script type="text/javascript">
    var project_ids = <%= @publication.projects.collect{ |p| p.id } %>
    <% @publication.non_seek_authors.each do |author| %>
        var select_element = $('author_' + '<%= author.id %>');
        var options = select_element.options;
        for (var i=0; i<options.length; i++){
            var option = options[i];
            if ('<%= @author_associations[author.id].try(:id) %>' == options[i].value){
                var parent_node = option.parentNode;
                if (project_ids.length == 0){
                    option.selected = true;
                    break;
                }else{
                    for (var j=0; j<project_ids.length; j++){
                        if (project_ids[j].toString() == parent_node.id){
                            option.selected = true;
                            break;
                            break;
                        }
                    }
                }
            }
        }
    <% end %>
</script>