<h1>Edit publication: <%= link_to(h(@publication.title), publication_path(@publication)) -%></h1>
<%= error_messages_for('publication', :message => nil) %>

<!--  when registered manually or from bibtex file -->
<%if @publication.registered_mode == Publication::REGISTRATION_MANUALLY ||
  @publication.registered_mode == Publication::REGISTRATION_FROM_BIBTEX %>
  <%= form_for @publication do |f| %>
    <%= render :partial => 'publication_editor', :locals => {:publication_form => f }%>
  <% end %>
<% else  %>
  <% if Seek::Config.allow_edit_of_registered_publ %>
    <%= form_for @publication do |f| %>
      <%= render :partial => 'publication_editor', :locals => {:publication_form => f }%>
    <% end %>
  <% end %>
  <% if !@publication.doi.blank? || !@publication.pubmed_id.blank? %>
    <%= render :partial => 'publication_doi_refetch_metadata', :locals => { :publication => @publication } %>
  <%end %>
<%end %>
