<% @page_title ||= "Register #{t('publication')}" %>
<h1><%= @page_title %></h1>

<%= index_and_new_help_icon controller_name %>

<div>
  <%= error_messages_for('publication', :message => nil) %>

  <!-- Nav tabs -->
  <% subaction = @subaction || 'Register' # default tab is the old Register %>
  <ul class="nav nav-tabs" role="tablist" id="new_publication_tabs" data-subaction="<%= subaction %>">
    <li role="presentation"><a href="#Register" aria-controls="Register" role="tab" data-toggle="tab">From Identifier</a></li>
    <li role="presentation"><a href="#Create" aria-controls="Create" role="tab" data-toggle="tab">Enter manually</a></li>
    <li role="presentation"><a href="#Import" aria-controls="Import" role="tab" data-toggle="tab">Import from file</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="Register">
      <%= form_tag(fetch_preview_publications_path, { remote: true, id: 'fetch_publication' }) do %>
        <p>
          Choose whether to search by PubMed ID or DOI using the dropdown menu below, then enter the document identifier into the text box and click "Fetch".<br>
          If SEEK successfully retrieves your publication, click "Register" to process to the next step.
        </p>
        <div id="publication_error" class="alert alert-danger" style="display:none"></div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <span id="publication_type_info" style="display:none;"></span>
              <span id="publication_type_selection">
              <%= collection_select :publication, :publication_type_id, PublicationType.order(:title), :id, :title,
                                    {:selected => PublicationType.Journal.id},
                                    {:class => 'form-control'}  -%>
      </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-3 col-xs-5">
              <%= select_tag("protocol", options_for_select([["PubMed ID","pubmed"],["DOI","doi"]]), :class => 'form-control') %>
            </div>
            <div class="col-sm-9 col-xs-7">
              <%= text_field_tag("key", '', :class => 'form-control') %>
            </div>
          </div>
        </div>

        <p>
          Please select the <%= t('project').pluralize %> this publication is related to. You must select a <%= t('project') %>, and it must be a <%= t('project') %>
          you are a member of.
        </p>

        <%= fields_for(@publication) {|f|  f.hidden_field :parent_name } -%>
        <%= render :partial => 'projects/project_selector', :locals => {:resource => @publication } -%>

        <%= submit_tag 'Fetch',:id=>"fetch_button", :class => 'btn btn-default' %>
        <%= image_tag "ajax-loader.gif", :id => 'spinner', :style => 'display:none;' -%>
      <% end %>

      <div id="publication_preview_container" style="display:none;"></div>
    </div>

    <div role="tabpanel" class="tab-pane" id="Create">
      <%= form_for @publication, :html => { :class => 'form-horizontal', :multipart => true } , :url => url_for( :action => :create) do |publication_form| %>
        <%= publication_form.hidden_field :parent_name %>
        <%= publication_form.hidden_field :registered_mode %>
        <div class="form-group">
          <%= label_tag :project_ids, t('project').pluralize, :class => 'control-label col-sm-2 required' %>
          <div class="col-sm-10">
            <%= publication_form.collection_select :project_ids, User.current_user.person.projects, :id, :title, {}, :class => 'form-control projects-multiselect', :multiple => 'multiple' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :publication_types, 'Publication Type', :class => 'control-label col-sm-2 required' %>
          <div class="col-sm-2">
            <span id="publication_type_info" style="display:none;"></span>
            <span id="publication_type_selection">
        <%= collection_select :publication, :publication_type_id, PublicationType.order(:title), :id, :title,
                              {:selected => PublicationType.Journal.id},
                              {:class => 'form-control'} -%>
      </span>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :pubmed_id, "Pubmed ID", :class => 'control-label col-sm-2' %>
          <div class="col-sm-6">
            <%= publication_form.text_field :pubmed_id, :class => 'form-control' %>
          </div>
          <div class=" col-sm-4">
            <button id="retrieve_from_pubmed" class="btn btn-default">PUBMED</button>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :doi, "DOI", :class => 'control-label col-sm-2' %>
          <div class="col-sm-6">
            <%= publication_form.text_field :doi, :class => 'form-control' %>
          </div>
          <div class=" col-sm-4">
            <button id="retrieve_from_crossref" class="btn btn-default">DOI</button>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :title, 'Title', :class => 'control-label col-sm-2 required' %>
          <div class="col-sm-10">
            <%= publication_form.text_area :title, :class => 'form-control', :rows => 2, :cols => 100 %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :publication_authors, 'Authors', :class => 'control-label col-sm-2' %>
          <div class="col-sm-9">
            <%= publication_authors_form_field('publication[publication_authors]', @publication, allow_new: true, limit: nil) %>
          </div>
          <div class="col-sm-1">
            <button type="button"
                    class="btn btn-sm btn-info"
                    data-toggle="popover"
                    data-html="true"
                    data-placement="right"
                    data-container="body"
                    data-content="
            <div style='min-width:220px;'>
              <p><span class='glyphicon glyphicon-user'></span> <strong>Registered Author</strong></p>
              <p><span class='badge'>Num</span> <strong>of publications linked to this author</strong></p>
            </div>
          ">
              Explain
            </button>
          </div>
        </div>
        <div class="form-group">
          <% if Seek::Config.allow_publications_fulltext %>
            <%= label_tag :full_text, nil, :class => 'control-label col-sm-2' %>
            <div class="col-sm-10">
              <%= render :partial=>"assets/upload_box",:locals=>{:resource=>@publication} -%>
            </div>
          <% end %>
          <%= label_tag :abstract, nil, :class => 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= publication_form.text_area :abstract, :class => 'form-control', :rows => 5, :cols => 100 %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :journal, nil, :class => 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= publication_form.text_field :journal, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :citation, nil, :class => 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= publication_form.text_field :citation, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :url, 'URL', :class => 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= publication_form.text_field :url, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :publisher, nil, :class => 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= publication_form.text_field :publisher, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :booktitle, nil, :class => 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= publication_form.text_field :booktitle, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :editor, nil, :class => 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= publication_form.text_field :editor, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :published_date, nil, :class => 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= publication_form.text_field :published_date, data: { calendar: true }, class: 'calendar form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-2">
            <%= publication_form.submit 'Create', :name => "subaction", :value => 'Create', :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane" id="Import">
      <%= form_for @publication, :html => { :class => 'form-horizontal' } do |publication_form| %>
        <%= publication_form.hidden_field :parent_name %>
        <div class="form-group">
          <%= label_tag :project_ids, t('project').pluralize, :class => 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= publication_form.collection_select :project_ids, User.current_user.person.projects, :id, :title, {}, :class => 'form-control projects-multiselect', :multiple => 'multiple' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :bibtex_file, nil, :class => 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= publication_form.file_field :bibtex_file %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-5 col-sm-offset-2">
            <p>On successful import, the 'Enter manually' tab will be opened and the form will be populated with the data from the first article from the imported file.</p>
          </div>
          <div class="col-sm-5">
            <p>On successful import, all publications will be saved. Any changes will need to be made individually afterwards.</p>
          </div>
          <div class="col-sm-5 col-sm-offset-2">
            <%= publication_form.button 'Import first', :name => "subaction", :value => 'Import', :class => 'btn btn-primary' %>
          </div>
          <div class="col-sm-5">
            <%= publication_form.button 'Import all', :name => "subaction", :value => 'ImportMultiple', :class => 'btn btn-primary' %>
          </div>

        </div>
      <% end %>
    </div>

  </div><!--end Tab panes -->

</div>

<script type="text/javascript">
    $j(document).ready(function() {

        // activate tab of current subaction, but only if no hash is set
        if( !window.location.hash) {
            var newpublications_tabs = $j('#new_publication_tabs');
            var activate_tab_hash = newpublications_tabs.data('subaction');
            var activate_tab = newpublications_tabs.find('a[href="#' + activate_tab_hash + '"]');
            activate_tab.trigger('click');
        }

        $j('[data-toggle="popover"]').popover();

        $j('select.projects-multiselect').multiselect({
            enableCaseInsensitiveFiltering: true
        });

        $j('#retrieve_from_crossref').on('click', retrieveFromCrossref);
        $j('#retrieve_from_pubmed').on('click', retrieveFromPubmed);
    });
</script>