<h1>Register Publication</h1>

<%= error_messages_for('publication', :message => nil) %>

<div class="show_basic">
  <% form_remote_tag(:url =>fetch_preview_publications_url, 
                     :update => {:success => 'publication_preview'}, 
                     :success => "Element.show('publication_preview'); new Effect.Highlight('publication_preview', { duration: 1.0 });",
                     :failure => "alert('An error occurred whilst fetching your publication. Please ensure you entered a valid PubMed ID.');", 
                     :loading => "Element.show('spinner')",
                     :complete => "Element.hide('spinner')") do %>
    <p>
      Choose whether to search by PubMed ID or DOI using the dropdown menu below, then enter the document identifier into the text box and click "Fetch".<br/>
      If SEEK successfully retrieves your publication, click "Register" to process to the next step.
    </p>  
    <p>
      <%= select_tag("protocol", options_for_select([["PubMed ID","pubmed"],["DOI","doi"]])) %>
      <%= text_field_tag("key") %>
      <%= submit_tag 'Fetch' %>
      <%= image_tag "ajax-loader.gif", :id => 'spinner', :style => 'display:none;' -%>
    </p>    
  <% end %>
  <div id="publication_preview" class="list_item" style="display:none"></div>
</div>