<h1>Register Publication</h1>

<%= error_messages_for('publication', :message => nil) %>

<div class="show_basic">
  <% form_remote_tag(:url=>url_for(:action=>:fetch_preview, :controller=>:publications), 
                     :update => {:success => 'publication_preview_container', :failure => 'publication_error'}, 
                     :success => "Element.show('publication_preview_container'); Element.hide('publication_error'); new Effect.Highlight('publication_preview_container', { duration: 1.0 });",
                     :failure => "Element.show('publication_error'); Element.hide('publication_preview_container');new Effect.Highlight('publication_error', { duration: 1.0, startcolor: '#FF5555' });", 
                     :loading => "Element.hide('publication_preview_container');Element.show('spinner');$('fetch_button').disabled=true;",
                     :complete => "Element.hide('spinner');$('fetch_button').disabled=false;") do %>
    <p>
      Choose whether to search by PubMed ID or DOI using the dropdown menu below, then enter the document identifier into the text box and click "Fetch".<br/>
      If SEEK successfully retrieves your publication, click "Register" to process to the next step.
    </p>
    <div id="publication_error" class="error_div" style="display:none"></div>
	
    <p>
      <%= select_tag("protocol", options_for_select([["PubMed ID","pubmed"],["DOI","doi"]])) %>
      <%= text_field_tag("key") %>            
    </p>

    <p>
        Please select the projects this publication is related to. You must select a project, and it must be a project
        you are a member of.
    </p>
    <%= render :partial => 'projects/project_selector', :locals => {:resource => @publication} -%>
	<p>
		<%= submit_tag 'Fetch',:id=>"fetch_button" %>
	</p>

  <% end %>
  <br/>
  
  <%= image_tag "ajax-loader-large.gif", :id => 'spinner', :style => 'display:none;' -%>
  <div id="publication_preview_container" style="display:none;"></div>
</div>
