<h1>Register Publication</h1>

<%= error_messages_for('publication', :message => nil) %>

<div class="show_basic">
  <%= form_tag_with_callbacks(fetch_preview_publications_path,
               {:remote=>true,
                :id=>"fetch_publication",
                :success => "Element.show('publication_preview_container'); Element.hide('publication_error'); new Effect.Highlight('publication_preview_container', { duration: 1.0 });",
                :failure => "Element.show('publication_error'); Element.hide('publication_preview_container');new Effect.Highlight('publication_error', { duration: 1.0, startcolor: '#FF5555' });",
                :loading => "Element.hide('publication_preview_container');Element.show('spinner');$('fetch_button').disabled=true;",
                :complete => "Element.hide('spinner');$('fetch_button').disabled=false;"}) do %>
    <p>
      Choose whether to search by PubMed ID or DOI using the dropdown menu below, then enter the document identifier into the text box and click "Fetch".<br/>
      If SEEK successfully retrieves your publication, click "Register" to process to the next step.
    </p>
    <div id="publication_error" class="error_div" style="display:none"></div>
	
    <p>
      <%= select_tag("protocol", options_for_select([["PubMed ID","pubmed"],["DOI","doi"]])) %>
      <%= text_field_tag("key") %>            
    </p>

    <p>
        Please select the <%= t('project').pluralize %> this publication is related to. You must select a <%= t('project') %>, and it must be a <%= t('project') %>
        you are a member of.
    </p>
    <%= fields_for(@publication) {|f|  f.hidden_field :parent_name } -%>
    <%= render :partial => 'projects/project_selector', :locals => {:resource => @publication, :allow_nil => true} -%>
	<p>
		<%= submit_tag 'Fetch',:id=>"fetch_button" %>
	</p>

  <% end %>
  <br/>
  
  <%= image_tag "ajax-loader-large.gif", :id => 'spinner', :style => 'display:none;' -%>
  <div id="publication_preview_container" style="display:none;"></div>
</div>
