<%= render :partial => "layouts/item_title",:locals=>{:item=>@publication} %>

<ul class="sectionIcons">
  <% if !@publication.pubmed_id.nil? %>
    <li><%= image_tag_for_key('visit_pubmed', "http://www.ncbi.nlm.nih.gov/pubmed/#{@publication.pubmed_id}", nil, {:popup => true}, 'View Publication On PubMed') -%></li>
  <% elsif !@publication.doi.nil? %>
    <li><%= image_tag_for_key('visit_pubmed', "http://dx.doi.org/#{@publication.doi}", nil, {:popup => true}, 'View Publication') -%></li>
  <% end -%>
  <% if @publication.can_edit? -%>
      <li><%= image_tag_for_key('manage', edit_publication_path(@publication), nil, nil, 'Manage Publication') -%></li>
  <% end -%>

  <% if @publication.can_delete? -%>
      <li><%= image_tag_for_key('destroy', publication_path(@publication), nil, { :confirm => 'This will unregister this publication with SEEK. Are you sure wish to do this?', :method => :delete }, 'Unregister') -%></li>
  <% end -%>
  <li><%= image_tag_for_key 'endnote', publication_path(:id => @publication.id, :format => 'enw'), nil, nil, 'Export to EndNote' %></li>
</ul>

<div class="show_basic">
  <div class="main_content_left_box_narrower">
    <div class="box_about_actor">
      <p>
        <% unless @publication.pubmed_id.nil? %>
          <label>PubMed ID:</label>
          <%= link_to @publication.pubmed_id, "http://www.ncbi.nlm.nih.gov/pubmed/#{@publication.pubmed_id}",{:popup => true} %>
        <% end %>
        <% unless @publication.doi.nil? %>
          <label>DOI:</label>
          <%= link_to @publication.doi, "http://dx.doi.org/#{@publication.doi}",{:popup => true} %>
        <% end %>
      </p>
      
      <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @publication}%>

      <p>
        <label><%= publication_type_text @publication.publication_type -%>:</label>
        <%=h @publication.journal -%>
        <br/>
        <label><%= "Citation:" -%></label>
        <%=h @publication.citation -%>
        <br/>
        <label>Date Published:</label>
        <%= @publication.published_date.strftime("#{@publication.published_date.day.ordinalize} %B %Y") -%>
      </p>

      <p>
        <b>Author<%= @publication.publication_authors.size > 1 ? "s" : "" -%>:</b>
        <% if @publication.publication_authors.empty? %>
            <span class='none_text'>Not specified</span>
        <% else %>
            <%= @publication.publication_authors.map do |author|
              if author.person && author.person.can_view?
                link_to get_object_title(author.person), show_resource_path(author.person)
              else
                author.first_name + " " + author.last_name
              end
            end.join(', ') %>
        <% end %>
      </p>

      <p>
        <b>Abstract:</b>
        <% unless @publication.abstract.blank? -%>
          <div class="box_standout" id="description">
            <%= simple_format(auto_link(white_list(@publication.abstract),:all,:rel=>'nofollow')) -%>
          </div>
        <% else -%>
          <p class="none_text">
            No abstract.
          </p>
        <% end -%>
      </p>

    </div>
  </div>
  
  <div class="main_content_right_box_wider">
	<%= render :partial => "assets/resource_authors_box", :locals => { :resource => @publication, :truncate_to => 20, :title=>"Authors" } -%>
    <%= render :partial => "assets/resource_original_uploader_box", :locals => { :resource => @publication, :title=>"Registered by" } -%>

    <%= item_tags_and_tag_entry -%>
    <%= render :partial => "assets/resource_scales_box", :locals => { :resource => @publication}-%>
  </div>
  
  <div style="clear:both;padding-top:1em;">      
    <%= embedded_isa_svg(@publication, false, @publication) -%>
    <%= render :partial=>"layouts/items_related_to",:object => @publication %>
    <br/>
    <%= render :partial => "layouts/usage_info", :locals => { :resource => @publication } -%>
  </div>
</div>