<ul class="sectionIcons">
  <% if !@publication.pubmed_id.nil? %>
    <li><%= image_tag_for_key('visit_pubmed', "http://www.ncbi.nlm.nih.gov/pubmed/#{@publication.pubmed_id}", nil, {:popup => true}, 'View Publication On PubMed') -%></li>
  <% elsif !@publication.doi.nil? %>
    <li><%= image_tag_for_key('visit_pubmed', "http://dx.doi.org/#{@publication.doi}", nil, {:popup => true}, 'View Publication') -%></li>
  <% end -%>
  <% if @publication.can_edit? -%>
      <li><%= image_tag_for_key('manage', edit_publication_path(@publication), nil, nil, 'Manage Publication') -%></li>
  <% end -%>

  <% if @publication.can_delete? -%>
      <li><%= image_tag_for_key('destroy', publication_path(@publication), nil, { :confirm => 'This will unregister this publication with SEEK. Are you sure wish to do this?', :method => :delete }, 'Unregister') -%></li>
  <% end -%>
</ul>

<%= render :partial => "layouts/item_title",:locals=>{:item=>@publication} %>

<div class="show_basic">
  <%= render :partial => "layouts/usage_info", :locals => { :resource => @publication } -%>
  <div class="main_content_left_box_narrower">
    <div class="box_about_actor">
      <p>
        <% unless @publication.pubmed_id.nil? %>
          <label>PubMed ID:</label>
          <%= link_to @publication.pubmed_id, "http://www.ncbi.nlm.nih.gov/pubmed/#{@publication.pubmed_id}",{:popup => true} %>
        <% end %>
        <% unless @publication.doi.nil? %>
          <label>DOI:</label>
          <%= link_to @publication.doi, "http://dx.doi.org/#{@publication.doi}",{:popup => true} %>
        <% end %>
      </p>
      
      <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @publication}%>

      <p>
        <label><%= publication_type_text @publication.publication_type -%>:</label>
        <%=h @publication.journal -%>
        <br/>
        <label>Date Published:</label>
        <%= @publication.published_date.strftime("#{@publication.published_date.day.ordinalize} %B %Y") -%>
      </p>

      <p>
        <label>Author<%= @publication.seek_authors.size + @publication.non_seek_authors.size > 1 ? "s" : "" -%>:</label>
        <% if @publication.seek_authors.empty? && @publication.non_seek_authors.empty? %>
          <span class='none_text'>Not specified</span>
        <% else %>
          <% @publication.seek_authors.select(&:can_view?).each do |author| %>
            <%= (link_to get_object_title(author), show_resource_path(author)) + ((author == @publication.creators.last) && (@publication.non_seek_authors.empty?) ? "" : ", ") %>
          <% end %>
          <% (@publication.non_seek_authors + @publication.seek_authors.reject(&:can_view?)).each do |author| %>
            <%= author.last_name + " " + author.first_name + ((author == @publication.non_seek_authors.last) ? "" : ", ") %>
          <% end %>
        <% end %>
      </p>

      <p>
        <b>Abstract:</b>
        <% unless @publication.abstract.blank? -%>
          <div class="box_standout" id="description">
            <%= simple_format(auto_link(white_list(@publication.abstract),:all,:rel=>'nofollow')) -%>
          </div>
        <% else -%>
          <p class="none_text">
            No abstract.
          </p>
        <% end -%>
      </p>


    </div>
  </div>
  
  <div class="main_content_right_box_wider">
  	<%= render :partial => "assets/resource_original_uploader_box", :locals => { :resource => @publication, :title=>"Registered by" } -%>  
	<%= render :partial => "assets/resource_authors_box", :locals => { :resource => @publication, :creators => @publication.creators, :truncate_to => 20, :title=>"Authors" } -%>

    <%= item_tags_and_tag_entry -%>

  </div>
  
  <div style="clear:both;padding-top:1em;">      
    <%= embedded_isa_svg(@publication, false, @publication) -%>
    <%= render :partial=>"layouts/items_related_to",:object => @publication %>
  </div>
</div>