<%= render :partial => "general/item_title",:locals => { :item => @publication, :buttons_partial => 'publications/buttons' } %>

<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">
    <%= item_description @publication.abstract, :label => "Abstract", :none_text => "No abstract specified" %>

    <div class="row">
      <% if Seek::Config.allow_publications_fulltext %>

        <div class="col-md-6">

          <%= persistent_resource_id(@publication) %>

          <%= render :partial => 'assets/fileinfo', :object => @publication.content_blob -%>

          <% if @publication.content_blob %>
            <%= rendered_asset_view(@publication) %>
          <% end %>
        </div>
      <% end %>

      <div class="col-md-6">
        <% unless @publication.pubmed_id.nil? %>
          <p>
            <strong>PubMed ID:</strong>
            <%= link_to @publication.pubmed_id, @publication.pubmed_uri, { :target => "_blank" } %>
          </p>
        <% end %>
        <% unless @publication.doi.nil? || @publication.doi.empty? %>
          <p>
            <strong>DOI:</strong>
            <%= doi_link(@publication.doi, { :target => "_blank" }) %>
          </p>
        <% end %>

        <%= render :partial => 'projects/show_project_relationship', :locals => { :resource => @publication } %>

        <p>
          <strong><%= "Publication type" -%>:</strong>
          <% if @publication.publication_type_id %>
            <%=h PublicationType.find(@publication.publication_type_id).title -%>
          <% else -%>
            <%= text_or_not_specified(nil) %>
          <% end -%>
        </p>

        <% unless @publication.journal.nil? || @publication.journal.empty? %>
          <p>
            <strong><%= "Journal" -%>:</strong>
            <%=h @publication.journal -%>
          </p>
        <% end %>

        <% unless @publication.booktitle.nil? || @publication.booktitle.empty? %>
          <p>
          <strong><%= "Book Title" -%>:</strong>
          <%=h @publication.booktitle -%>
          </p>
        <% end %>

        <% unless @publication.editor.nil? || @publication.editor.empty? %>
          <p>
            <strong>Editor<%= @publication.editor.size > 1 ? "s" : "" -%>:</strong>
            <%=h @publication.editor -%>
          </p>
        <% end %>

        <% unless @publication.publisher.nil? || @publication.publisher.empty? %>
          <p>
            <strong>Publisher:</strong>
            <%=h @publication.publisher -%>
          </p>
        <% end %>

      </div>
      <div class="col-md-6">
      <% if Seek::Config.human_diseases_enabled %>
        <p>
          <strong>Human Diseases:</strong>
          <%= human_diseases_link_list @publication.human_diseases -%>
        </p>
      <% end %>

        <p>
          <strong>Citation:</strong>
          <%=h @publication.citation -%>
        </p>
        <p>
          <strong for="date_published">Date Published:</strong>
            <span><%= date_as_string(@publication.published_date,false,true) -%></span>
        </p>

        <p>
          <% unless @publication.url.nil?  %>
          <p>
            <strong>URL:</strong>
            <%= link_to @publication.url, @publication.url, { target: '_blank' }%>
          </p>
        <% end %>
        </p>

        <p>
          <strong><%= "Registered Mode" -%>:</strong>
          <% if @publication.registered_mode %>
            <%=h publication_registered_mode(@publication.registered_mode) -%>
          <% else -%>
            <%= text_or_not_specified(nil) %>
          <% end -%>
        </p>



      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-10">
        <% unless @publication.publication_authors.size == 0 %>
        <p id="authors">
          <strong><%= 'Author'.pluralize(@publication.publication_authors.size) %>:</strong>
          <% if @publication.publication_authors.empty? %>
              <%= text_or_not_specified(nil) %>
          <% else %>
              <%= @publication.publication_authors.map do |author|
                if author.person
                  link_to author.full_name, show_resource_path(author.person)
                else
                  author.full_name
                end
              end.join(', ').html_safe %>
          <% end %>
        </p>
        <% end %>
      </div>
    </div>
    <%= render :partial => "general/isa_graph", :locals => { :root_item => @publication, :deep => true, :include_parents => true } %>
  </div>
  <div class="col-md-3 col-sm-4">
    <%= render :partial => "assets/resource_main_content_right", :locals => { :resource => @publication, :authors_title=>"Submitter" } -%>
    <p>
      <% if @publication.misc_links.select{|link| link.url.present?}.any?  %>
        <%= render partial: 'assets/misc_links_box', locals: {resource: @publication } -%>
      <% end -%>
    </p>
  </div>
</div>

<%= render :partial=>"general/items_related_to",:object => @publication %>
