<%= render :partial => "general/item_title",:locals=>{:item=>@publication} %>

<ul class="sectionIcons">
  <% if !@publication.pubmed_id.nil? %>
      <li><%= image_tag_for_key('visit_pubmed', "http://www.ncbi.nlm.nih.gov/pubmed/#{@publication.pubmed_id}", nil, {:target => "_blank"}, 'View Publication On PubMed') -%></li>
  <% elsif !@publication.doi.nil? %>
      <li><%= image_tag_for_key('visit_pubmed', "http://dx.doi.org/#{@publication.doi}", nil, {:target => "_blank"}, 'View Publication') -%></li>
  <% end -%>
  <% if @publication.can_edit? -%>
      <li><%= image_tag_for_key('manage', edit_publication_path(@publication), nil, nil, 'Manage Publication') -%></li>
  <% end -%>

  <% if @publication.can_delete? -%>
      <li><%= image_tag_for_key('destroy', publication_path(@publication), nil, { :confirm => 'This will unregister this publication with SEEK. Are you sure wish to do this?', :method => :delete }, 'Unregister') -%></li>
  <% end -%>
  <li><%= image_tag_for_key 'endnote', publication_path(:id => @publication.id, :format => 'enw'), nil, nil, 'Export to EndNote' %></li>
  <%= render :partial => "subscriptions/subscribe", :locals => {:object => @publication } -%>
</ul>

<div class="show_basic">
  <div class="main_content_left_box">
    <div class="box_about_actor">
      <%=  item_description @publication.abstract,:label=>"Abstract",:none_text=>"No abstract specified" %>
      <p>
        <% unless @publication.pubmed_id.nil? %>
            <label>PubMed ID:</label>
            <%= link_to @publication.pubmed_id, "http://www.ncbi.nlm.nih.gov/pubmed/#{@publication.pubmed_id}",{:target => "_blank"} %>
        <% end %>
        <% unless @publication.doi.nil? %>
            <label>DOI:</label>
            <%= link_to @publication.doi, "http://dx.doi.org/#{@publication.doi}",{:target => "_blank"} %>
        <% end %>
      </p>

      <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @publication}%>

      <p>
        <label><%= publication_type_text @publication.publication_type -%>:</label>
        <%=h @publication.journal -%>
        <br/>
        <label><%= "Citation:" -%></label>
        <%=h @publication.citation -%>
        <br/>
        <label for="date_published">Date Published:</label>
        <span><%= date_as_string(@publication.published_date,false,true) -%></span>
      </p>

      <p>
        <label>Author<%= @publication.publication_authors.size > 1 ? "s" : "" -%>:</label>
        <% if @publication.publication_authors.empty? %>
            <span class='none_text'>Not specified</span>
        <% else %>
            <%= @publication.publication_authors.map do |author|
              if author.person && author.person.can_view?
                link_to get_object_title(author.person), show_resource_path(author.person)
              else
                author.first_name + " " + author.last_name
              end
            end.join(', ').html_safe %>
        <% end %>
      </p>
    </div>
  </div>

  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @publication, :authors_title=>"Authors" } -%>

  <div style="clear:both">
    <%= render :partial=>"general/isa_graph", :locals => {:root_item => @publication, :current_item => @publication, :deep => true} %>
  </div>

  <div style="clear:both;">
    <%= render :partial=>"general/items_related_to",:object => @publication %>
  </div>
</div>