

<div class="show_basic">
  <div class="main_content_left_box">
    <div class="box_about_actor">
      <p>
        <% unless @publication.pubmed_id.nil? %>
          <label>PubMed ID:</label>
          <%= link_to @publication.pubmed_id, "http://www.ncbi.nlm.nih.gov/pubmed/#{@publication.pubmed_id}",{:target => "_blank"} %>
        <% end %>
        <% unless @publication.doi.nil? %>
          <label>DOI:</label>
          <%= link_to @publication.doi, "http://dx.doi.org/#{@publication.doi}",{:target => "_blank"} %>
        <% end %>
      </p>
      


      <p>
        <label><%= publication_type_text @publication.publication_type -%>:</label>
        <%=h @publication.journal -%>
        <br/>
        <label for="date_published">Date Published:</label>
        <span><%= date_as_string(@publication.published_date,false,true) -%></span>
      </p>

      <p>
        <label>Author<%= @publication.publication_author_orders.size > 1 ? "s" : "" -%>:</label>
        <%= author_display_list @publication %>
      </p>

      <% if show_scales? -%>
          <%= render :partial=>"scales/asset_scales_list",:object=>@publication -%>
      <% end %>

      <%=  item_description @publication.abstract,:label=>"Abstract",:none_text=>"No abstract specified" %>

    </div>
  </div>
  


</div>