<h1>Editing <%= t('presentation') %>: <%= link_to(h(@presentation.title), edit_presentation_path) -%></h1>

<%= form_for(@presentation) do |f| %>
    <div class="asset_form">
      <%= f.error_messages %>

      <div class="form-group">
        <label class="required">Title</label>
        <%= f.text_field :title, :class=>"form-control" -%>
      </div>

      <div class="form-group">
        <label>Description</label>
        <%= f.text_area :description, :class=>"form-control rich-text-edit", :rows => 5 -%>
      </div>

      <%# only the owner should get to see this option (ability to reload defaults remain in 'edit' action, but project selector is disabled) -%>
      <% if @presentation.can_manage? -%>
          <%= render :partial => "projects/project_selector", :locals => { :resource => @presentation, :allow_nil => Seek::Config.is_virtualliver } -%>
      <% end -%>

      <% if show_scales? %>
          <%= render :partial => "scales/scales_selector",:locals=>{:object=>@presentation} %>
      <% end %>

      <%= render :partial => 'assets/license_selector', :locals => { :resource => @presentation } %>

      <%= render :partial=> "assets/discussion_links_form", :locals=>{:resource => @presentation} -%>


      <%= render :partial=>"assets/asset_form_bottom", :locals=> {:f => f} -%>

      <%= fancy_multiselect @presentation, :events, { other_projects_checkbox: true, sort_by: :start_date } %>

      <%= f.fancy_multiselect :workflows, :other_projects_checkbox=>true if Seek::Config.workflows_enabled %>

      <%= form_submit_buttons(@presentation) %>

    </div>
<% end %>
