<%= javascript_include_tag "sharing.js", "assays.js","attribution.js","resource.js" %>


<% current_user_authorized_to_manage = @presentation.can_manage? -%>

<h1>Editing Presentation: <%= link_to(h(@presentation.title), edit_presentation_path) -%></h1>
<div class="show_basic">
    <%= form_for(@presentation) do |f| %>
    <div class="asset_form">
        <%= f.error_messages %>
        <p>
            <b>Title:</b>
            <br/>
            <%= f.text_area :title, :style=>"width: 100%", :rows=>2 -%>
        </p>
        <p>
            <b>Description:</b>
            <br/>
            <%= f.text_area :description, :style => "width: 100%;", :rows => 10 -%>
        </p>

        <%# only the owner should get to see this option (ability to reload defaults remain in 'edit' action, but project selector is disabled) -%>
        <% if current_user_authorized_to_manage -%>
            <%= render :partial => "projects/project_selector", :locals => { :resource => @presentation} -%>
        <% end -%>
        <%# only the owner should be able to change sharing permissions -%>
        <% if current_user_authorized_to_manage -%>

		<%= render :partial=>"assets/asset_form_bottom", :locals=> {:f => f} -%>
        <p>
            <% if Seek::Config.events_enabled -%>
                <%= render :partial => "assets/associate_event", :locals=>{:resource => @presentation} -%>
            <% end -%>
        </p>

        <% end -%>
        <p>
          <%= preview_permission_popup_link(@presentation)-%>
          <%= f.submit "Update", :id => "presentation_submit_btn", :onclick => "javascript: validateResourceFields(false, 'presentation', #{current_user_authorized_to_manage});  return(false);" -%> or <%= link_to "Cancel", edit_presentation_path -%>
        </p>
		</div>
        <% end %>
</div>
