<h1> <font color="#456AAA"> <%= 'Presentations' %> </font> </h1> <br>
<% if logged_in_and_member? %>
    <ul class="sectionIcons">
        <li><%= image_tag_for_key "new", new_presentation_path, "Upload a #{t('presentation')}", nil, "Upload a #{t('presentation')}" %></li>

    </ul>
<% end %>

<% if @presentations.public_methods.include?(:page_totals) %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "general/paginate_alphabetical", :locals => { :pages => @presentations.pages, :page_totals=>@presentations.page_totals,:current_page=>@presentations.page } -%>
<% end %>

<%= render :partial => "assets/resource_list", :locals => { :collection => @presentations, :authorization_for_showing_already_done=>true } %>

<% if @presentations.page == "latest" && (n=Presentation.all_authorized_for("view").count) > Seek::Config.limit_latest%>
    <%= render :partial => "general/paginate_see_all", :locals=>{:total=>n} %>
<% end %>