<li class="institution_member change-item" data-person-id="{{person.id}}" data-institution-id="{{institution.id}}">
    Add <strong>{{person.name}}</strong> to the {{ downcase (I18n 'project') }}
    @ <strong>{{institution.title}}</strong>

    {{> projects/_undo_button}}

    <input type="hidden" value="{{membershipData}}" name="people_and_institutions_to_add[]"/>
</li>
