<%= render :partial => "subscriptions/subscribe", :locals => {:object => item} %>
<% if logged_in_and_member? %>
    <%= button_link_to("New #{I18n.t 'biosamples.sample_parent_term'} based on this one", 'new', new_object_based_on_existing_one_specimen_path(item, :controller_name => "specimens")) %>
<% end %>

<%= admin_dropdown do %>
    <% if item.can_manage? %>
        <li><%= image_tag_for_key('manage', edit_specimen_path, "Manage #{(I18n.t 'biosamples.sample_parent_term').capitalize}", nil, "Manage #{(I18n.t 'biosamples.sample_parent_term').capitalize}") %></li>
    <% elsif item.can_edit? %>
        <li><%= image_tag_for_key('edit', edit_specimen_path(item), "Edit #{(I18n.t 'biosamples.sample_parent_term').capitalize}", nil, "Edit #{(I18n.t 'biosamples.sample_parent_term').capitalize}") %></li>
    <% end %>
    <%= delete_icon(item, current_user) -%>
<% end %>
