<div id="existing_specimens">
  <h2>Cell culture</h2>
  <% if existing_specimens.empty? -%>
      <p class="none_text">No cell cultures have yet been defined for
        <span style="font-weight: bold;"> <%= h(strain.title) -%></span>.</p>
  <% else -%>
      <p class="none_text">Here are the cell cultures for
        <span style="font-weight: bold;"><%= h(strain.title) -%></span></p>
      <table border="1">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Culture start date</th>
          <th>Culture growth</th>
          <th>Contributor</th>
        </tr>
        <% i=0
           existing_specimens.sort { |a, b| a.donor_number <=> b.donor_number }.each do |specimen| -%>
            <% if specimen.born.nil? %>
                <% born = '' %>
            <% else %>
                <% if specimen.try(:born).hour == 0 and specimen.try(:born).min == 0 and specimen.try(:born).sec == 0 then %>
                    <% born = specimen.try(:born).strftime('%d/%m/%Y') %>
                <% else %>
                    <% born = specimen.try(:born).strftime('%d/%m/%Y @ %H:%M:%S') %>
                <% end %>

            <% end %>
            <tr>
              <td><%= radio_button_tag("selected_specimen", specimen.id, false, {:onchange => remote_function(:url => {'controller' => 'samples', :action => 'existing_samples'}, :with => "'specimen_id='+ #{specimen.id}") + ";show_existing_samples();return false;"}) -%></td>
              <td><%= specimen.donor_number -%></td>
              <td><%= born -%></td>
              <td><%= specimen.culture_growth_type.try(:title) -%></td>
              <td><%= try_block { specimen.contributor.person.name } -%></td>
            </tr>
        <% i+=1
           end -%>
      </table>
  <% end -%>
</div>



