<%= javascript_include_tag "biosample" %>

<%
   specimen ||=@specimen
   if self.controller_name=="samples"
     strain_selection_box_id = 'sample_specimen_attributes_strain_id'
     strain_selection_box_name = 'sample[specimen_attributes][strain_id]'
     parent_name = "sample[specimen_attributes]"
     parent_id_prefix = "sample_specimen_attributes"
   elsif self.controller_name=="specimens"
     strain_selection_box_id = 'specimen_strain_id'
     strain_selection_box_name = 'specimen[strain_id]'
     parent_name = "specimen"
     parent_id_prefix = "specimen"
   end

   all_institutions = Institution.order(:title)
   existing_creators = []
   if action == :new
     existing_creators = [current_user.person]
   elsif action == :edit
     existing_creators = specimen.creators
   end
%>

<%= f.error_messages %>

<div class="form-group">
  <%= f.label "#{(I18n.t 'biosamples.sample_parent_term').capitalize} title" -%><span class="required">*</span>
  <%= f.text_field :title, :class => "form-control" -%>
</div>

<div class="form-group">
  <%= f.label "Lab internal identifier" -%> <span class="required">*</span>
  <%= f.text_field :lab_internal_number, :class => "form-control" -%>
</div>

<div class="form-group">
  <%= f.label "Institution" -%>
  <% if Seek::Config.is_virtualliver %>
      <span class="required">*</span>
  <% end %>

  <%= f.select :institution_id,
               options_for_select([["Please Select ...", 0]]|all_institutions.collect { |o| [h(o.title), o.id] }, current_user.try(:person).try(:institutions).try(:first).try(:id)), {},
               :class => "form-control" %>
</div>

<% unless Seek::Config.is_virtualliver %>
    <div class="form-group date-select">
      <%= f.label "Culture starting date" -%>
      <%= f.calendar_date_select :born, :time => "mixed", :year_range => 100, :class => "form-control" -%>
    </div>
<% end %>

<div class="form-group">
  <%= f.label "Culture growth type" -%>
  <%= f.collection_select :culture_growth_type_id, CultureGrowthType.all, :id, :title,{:include_blank => "Not specified"},
                          {:onchange=>"check_show_which_fields();return(false);", :class => 'form-control'} -%>
</div>

<%= render :partial => "specimens/additional_fields",:locals => {:f=>f,:specimen=>specimen,:parent_id_prefix=>parent_id_prefix} %>

<div class="form-group">
  <%= f.label "Comment" -%>
  <%= f.text_field :comments, :class => "form-control" -%>
</div>

<div class="form-group">
  <%= f.label "Provider name" -%>
  <%= f.text_field :provider_name, :class => "form-control" -%>
</div>

<div class="form-group">
  <%= f.label "Provider's #{I18n.t 'biosamples.sample_parent_term'} identifier" -%> <br/>
  <%= f.text_field :provider_id, :class => "form-control" -%>
</div>

<div class="form-group">
  <%= f.label "Organism" -%><span class="required">*</span>
  <%= select_tag :organism,
                 options_for_select([["Not specified", ""]] + Organism.all(:order => :title).collect { |o| [o.title, o.id] }, specimen.organism.try(:id) || current_user.try(:person).try(:projects).try(:first).try(:organism_ids).try(:first)),
                 :onchange => "show_ajax_loader('strains_of_selected_organism');strains_of_selected_organism(this.value, '#{strain_selection_box_id}', '#{strain_selection_box_name}');",
                 :class => 'form-control' -%>
</div>

<div class="form-group">
  <%= f.label "Strain" -%>
  <% unless Seek::Config.is_virtualliver %>
      <span class="required">*</span>
  <% end %>
  <div id='strains_of_selected_organism'>
    <% strains = specimen.organism.nil? ? [] : specimen.organism.strains.without_default -%>
    <%= f.collection_select :strain_id,
                            strains, :id, :info, {:include_blank => "Not specified"}, {:class => 'form-control'}  -%>
  </div>
</div>

<%= render :partial => "scales/scales_selector",:locals=>{:object=>specimen} if specimen.respond_to?(:scales) && show_scales?%>

<% if Seek::Config.is_virtualliver %>
    <div class="row">
      <%= render :partial => "strains/genotype_form", :locals => {:item => specimen, :f => f, :parent_name => parent_name, :action => action.to_s} %>
      <%= render :partial => "strains/phenotype_form", :locals => {:item => specimen, :f => f, :parent_name => parent_name, :action => action.to_s} %>
    </div>
<% end %>

<%  if self.controller_name=="specimens" %>
    <%= render :partial => 'projects/project_selector', :locals => {:resource => specimen, :allow_nil => Seek::Config.is_virtualliver ? true : false} %>

    <% if specimen.can_manage? %>
        <%= render :seek_partial => "assets/sharing_form" ,:locals=>{:object=>specimen}-%>

        <%= render :partial => 'assets/special_auth_code_form', :locals => {:f => f} if !@specimen.try(:new_record?) %>
    <% end %>
<% end %>

<%= fancy_multiselect specimen, :sops, :name => 'specimen_sop_ids', :association_class => Sop, :selected => (params[:specimen_sop_ids] || []).map(&:to_i) | specimen.sops.map(&:id), :hidden => specimen.sops.blank? ? true : false, :other_projects_checkbox => true %>

<%= render :partial => "assets/author_form", :locals => {:resource_type => 'Specimen',
                                                         :existing_creators => existing_creators,
                                                         :other_creators => specimen.other_creators} -%>

<%= f.hidden_field :from_biosamples %>

<% if self.controller_name=="specimens" %>
    <%
       button_text=action==:edit ? "Update" : "Create"
       disabled_text=action==:edit ? "Updating..." : "Creating..."
    %>
    <% if specimen.can_manage? %>
        <%= preview_permission_popup_link(@specimen) -%>
        <%= f.submit button_text, :id => "specimen_submit_btn",
                     :onclick => "javascript: previewPermissions();return(false);",
                     :class => 'btn btn-primary' -%>
    <% else %>
        <%= f.submit button_text, :id => "specimen_submit_btn", :disable_with => disabled_text,
                     :class => 'btn btn-primary'-%>
    <% end %>
    or <%= cancel_button(specimen.id ? specimen_path(specimen.id) : specimens_path) %>
<% end %>

<script type="text/javascript">
    <%# Load the strain list of default organism ONLY when creating a new specimen
      # Dont when updating/getting the new form back because of errors/new_object_based_on_existing_one
     -%>
    if ('<%= action.to_s%>' == 'new' && <%= f.error_messages.blank?%> && <%= specimen.organism.nil? %>) {
        show_ajax_loader('strains_of_selected_organism');
        strains_of_selected_organism($F('organism'), '<%= strain_selection_box_id%>', '<%= strain_selection_box_name%>');
    }
</script>
