<%= javascript_include_tag "sharing.js", 'strain.js' -%>

<%= f.error_messages %>

 <div style="width: 95%;">
       <h2>Specimen Details</h2>
       <p>
         <%= f.label :specimen_number -%><span class="required">*</span><br/>
         <%= f.text_field :donor_number, :style => "width: 350px;" -%>
       </p>
   <% if Seek::Config.is_virtualliver %>
       <p>
         <%= f.label :treatment -%><br/>
         <%= f.text_field :treatment, :style => "width: 350px;" -%>
       </p>

       <p>
         <%= f.label :lab_internal_number -%><span class="required">*</span><br/>
         <%= f.text_field :lab_internal_number, :style => "width: 350px;" -%>
       </p>
   <% end %>

   <p>
      <%= f.label :description -%><br/>
      <%= f.text_area :comments, :style => "width: 99%;", :rows => 5 -%>
   </p>
   <br/>
   <%= render :partial => 'projects/project_selector', :locals => {:resource => @specimen}%>

  <p>
    <%= f.label "Institution" %><span class="required">*</span><br/>
    <%= collection_select(:specimen, :institution_id, Institution.all, :id, :name, {:include_blank => "Please Select"},{:style=>"width:90%"}) %>
  </p>
  <br/>
  <p>
    <%= render :partial=>"specimens/select_organisms" ,:locals=>{:f=>f, :action => action}-%>
  </p>

  <% if @specimen.can_manage? %>
    <%= render :partial=>"assets/asset_form_bottom", :locals=> {
            :resource_type => "Specimen",
            :attribution_enable => false,
            :show_publications => false,
            :existing_creators=>@specimen.creators,
            :other_creators=>@specimen.other_creators,
    } -%>

    <%= fancy_multiselect @specimen, :sops, :name => 'specimen_sop_ids',:association_class=>Sop, :selected => (params[:specimen_sop_ids] || []).map(&:to_i) | @specimen.sop_masters.map(&:sop_id)%>
  <% end %>
  </div>

<p style="margin-top: 2em; text-align: center;">
  <%= f.submit(action==:update ? "Update" : "Create", :disable_with=>(action==:update ? "Updating..." : "Creating...")) -%>
  or <%= link_to 'Cancel', (@specimen.id ? specimen_path(@specimen.id) : specimens_path) -%>
</p>
