<%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
<%= stylesheet_link_tag 'calendar_date_select/default' %>
<%= javascript_include_tag "sharing.js" -%>
<%= javascript_include_tag "resource.js"%>
<%= javascript_include_tag "biosample.js"%>

<%= f.error_messages %>

<h2><%= CELL_CULTURE_OR_SPECIMEN.capitalize -%> details</h2>

<%
   existing_creators = []
   if action == :new
     existing_creators = [current_user.person]
   elsif action == :edit
     existing_creators = @specimen.creators
   end
%>
<div style="width: 95%;">
      <p class="none_text">Cell culture is the portion of the bacterial cells growing together in a chemostat or in a
        batch</p>
          <p>
              <%= f.label "#{CELL_CULTURE_OR_SPECIMEN.capitalize} title:"-%><span class="required">*</span><br/>
              <%= f.text_field :title, :style=>"width:350px;" -%>
          </p>

          <p>
              <%= f.label "Lab internal identifier:" -%> <span class="required">*</span><br/>
              <%= f.text_field :lab_internal_number, :style=>"width:350px;" -%>
          </p>

          <p>
              <%= f.label "Culture starting date:" -%> <br/>
              <%= f.calendar_date_select :born, :time => "mixed", :style=>"width:350px;" -%>
          </p>

          <p>
              <%= f.label "Culture growth type:" -%> <br/>
              <%= f.collection_select :culture_growth_type_id, CultureGrowthType.all,:id,:title,:include_blank=>"Not specified" -%>
          </p>

          <p>
              <%= f.label "Sex:" -%> <br/>
              <%= f.select :sex, options_for_select(sex_list_for_selection.insert(0,["Not specified", '']),@specimen.try(:sex)) -%>
          </p>

          <p>
              <%= f.label "Comment:" -%> <br/>
              <%= f.text_field :comments, :style=>"width:350px;" -%>
          </p>

          <p>
              <%= f.label "Provider name:" -%> <br/>
              <%= f.text_field :provider_name, :style=>"width:350px;" -%>
          </p>

          <p>
              <%= f.label "Provider's #{CELL_CULTURE_OR_SPECIMEN} identifier:" -%> <br/>
              <%= f.text_field :provider_id, :style=>"width:350px;" -%>
          </p>

          <p>
              <%= f.label "Organism:" -%><span class="required">*</span> <br/>
              <%= select_tag :organism,
                                    options_for_select([["Not specified",""]] + Organism.all(:order=>:title).collect{|o| [o.title,o.id]},@specimen.organism.try(:id) || current_user.try(:person).try(:projects).try(:first).try(:organism_ids).try(:first)),
                                    :onchange=>"show_ajax_loader('strains_of_selected_organism');strains_of_selected_organism(this.value, 'specimen_strain_id', 'specimen[strain_id]');" -%>
          </p>

          <p>
              <%= f.label "Strain:" -%>
              <div id = 'strains_of_selected_organism'>
                  <% strains = @specimen.organism.nil? ? [] : @specimen.organism.strains.without_default -%>
                  <%= f.collection_select :strain_id,
                                        strains,:id,:info,:include_blank=>"Not specified" -%>
              </div>
          </p>

          <br/>

          <%= render :partial => 'projects/project_selector', :locals => {:resource => @specimen,:allow_nil=>true}%>

          <% if @specimen.can_manage? %>
                    <%= render :partial => "assets/asset_form_bottom", :locals => {
                            :resource_type => "Specimen",
                            :attribution_enable => false,
                            :show_publications => false,
                            :existing_creators => existing_creators,
                            :other_creators => @specimen.other_creators
                    } -%>

                   <%= fancy_multiselect @specimen, :sops, :name => 'specimen_sop_ids', :association_class => Sop, :selected => (params[:specimen_sop_ids] || []).map(&:to_i) | @specimen.sop_masters.map(&:sop_id) %>
          <% end %>
          <%= f.hidden_field :from_biosamples %>
</div>

<p style="margin-top: 2em; text-align: center;">
  <%
     button_text=action==:edit ? "Update" : "Create"
     disabled_text=action==:edit ? "Updating..." : "Creating..."
     is_new_file=action==:edit ? false : true
  %>
  <% if @specimen.can_manage? %>
      <%= preview_permission_popup_link('specimen', url_for(:controller => 'policies', :action => 'preview_permissions'), is_new_file, try_block { @specimen.contributor.id }) -%>
      <%= f.submit button_text, :id => "specimen_submit_btn", :onclick => "javascript: clickLink($('preview_permission'));return(false);" -%>
  <% else %>
      <%= f.submit button_text, :id => "specimen_submit_btn", :disable_with => disabled_text -%>
  <% end %>
  or <%= link_to 'Cancel', (@specimen.id ? specimen_path(@specimen.id) : specimens_path) -%>
</p>
