<%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
<%= stylesheet_link_tag 'calendar_date_select/default' %>
<%= javascript_include_tag "biosample" %>

<%= f.error_messages %>

<h2><%= (I18n.t 'biosamples.sample_parent_term').capitalize -%> details</h2>

<%
   specimen ||=@specimen
   if self.controller_name=="samples"
     strain_selection_box_id = 'sample_specimen_attributes_strain_id'
     strain_selection_box_name = 'sample[specimen_attributes][strain_id]'
     parent_name = "sample[specimen_attributes]"
     parent_id_prefix = "sample_specimen_attributes"
   elsif self.controller_name=="specimens"
     strain_selection_box_id = 'specimen_strain_id'
     strain_selection_box_name = 'specimen[strain_id]'
     parent_name = "specimen"
     parent_id_prefix = "specimen"
   end

   all_institutions = Institution.order(:name)
   existing_creators = []
   if action == :new
     existing_creators = [current_user.person]
   elsif action == :edit
     existing_creators = specimen.creators
   end
%>

<p>
  <%= f.label "#{(I18n.t 'biosamples.sample_parent_term').capitalize} title:" -%><span class="required">*</span><br/>
  <%= f.text_field :title, :style => "width:350px;" -%>
</p>

<p>
  <%= f.label "Lab internal identifier:" -%> <span class="required">*</span><br/>
  <%= f.text_field :lab_internal_number, :style => "width:350px;" -%>
</p>

<p>
  <%= f.label "Institution:" -%>

  <span class="required">
                    <% if Seek::Config.is_virtualliver %>
                    *
                    <% end %>
                  </span><br/>

  <%= f.select :institution_id,
               options_for_select([["Please Select ...", 0]]|all_institutions.collect { |o| [h(o.name), o.id] }, current_user.try(:person).try(:institutions).try(:first).try(:id)), {}, :style => "width:350px;" %>
</p>
<% unless Seek::Config.is_virtualliver %>
<p>
  <%= f.label "Culture starting date:" -%> <br/>
  <%= f.calendar_date_select :born, :time => "mixed", :year_range => 100, :style => "width:350px;" -%>
</p>
<% end %>
<p>
  <%= f.label "Culture growth type:" -%> <br/>
  <%= f.collection_select :culture_growth_type_id, CultureGrowthType.all, :id, :title,{:include_blank => "Not specified"}, {:onchange=>"check_show_which_fields();return(false);"} -%>
</p>
<%= render :partial => "specimens/additional_fields",:locals => {:f=>f,:specimen=>specimen,:parent_id_prefix=>parent_id_prefix} %>

<p>
  <%= f.label "Comment:" -%> <br/>
  <%= f.text_field :comments, :style => "width:350px;" -%>
</p>

<p>
  <%= f.label "Provider name:" -%> <br/>
  <%= f.text_field :provider_name, :style => "width:350px;" -%>
</p>

<p>
  <%= f.label "Provider's #{I18n.t 'biosamples.sample_parent_term'} identifier:" -%> <br/>
  <%= f.text_field :provider_id, :style => "width:350px;" -%>
</p>

<p>
  <%= f.label "Organism:" -%><span class="required">*</span> <br/>
  <%= select_tag :organism,
                 options_for_select([["Not specified", ""]] + Organism.all(:order => :title).collect { |o| [o.title, o.id] }, specimen.organism.try(:id) || current_user.try(:person).try(:projects).try(:first).try(:organism_ids).try(:first)),
                 :onchange => "show_ajax_loader('strains_of_selected_organism');strains_of_selected_organism(this.value, '#{strain_selection_box_id}', '#{strain_selection_box_name}');" -%>
</p>

<p>
  <%= f.label "Strain:" -%>
              <% unless Seek::Config.is_virtualliver %>
                <span class="required">*</span>
              <% end %>
<div id='strains_of_selected_organism'>
  <% strains = specimen.organism.nil? ? [] : specimen.organism.strains.without_default -%>
  <%= f.collection_select :strain_id,
                          strains, :id, :info, :include_blank => "Not specified" -%>
</div>
</p>

<% if Seek::Config.is_virtualliver %>
    <div class="yui-g" style="width:700px;">
      <%= f.label "Genotypes and Phenotypes:" -%>
      <%= render :partial => "strains/genotype_form", :locals => {:item => specimen, :f => f, :parent_name => parent_name, :action => action.to_s} %>
      <%= render :partial => "strains/phenotype_form", :locals => {:item => specimen, :f => f, :parent_name => parent_name, :action => action.to_s} %>
    </div>

<% end %>
<br/>
<%  if self.controller_name=="specimens" %>
    <%= render :partial => 'projects/project_selector', :locals => {:resource => specimen, :allow_nil => Seek::Config.is_virtualliver ? true : false} %>

    <% if specimen.can_manage? %>
        <p>
          <%= render :seek_partial => "assets/sharing_form" ,:locals=>{:object=>specimen}-%>
        </p>

        <%= render :partial => 'assets/special_auth_code_form', :locals => {:f => f} if !@specimen.try(:new_record?) %>
    <% end %>
<% end %>
<%= fancy_multiselect specimen, :sops, :name => 'specimen_sop_ids', :association_class => Sop, :selected => (params[:specimen_sop_ids] || []).map(&:to_i) | specimen.sop_masters.map(&:sop_id), :hidden => specimen.sop_masters.map(&:sop).blank? ? true : false, :other_projects_checkbox => true %>

<p>
  <%= render :partial => "assets/author_form", :locals => {:resource_type => 'Specimen',
                                                           :existing_creators => existing_creators,
                                                           :other_creators => specimen.other_creators} -%>
</p>
<%= f.hidden_field :from_biosamples %>

<% if self.controller_name=="specimens" %>
    <p style="margin-top: 2em; text-align: center;">
      <%
         button_text=action==:edit ? "Update" : "Create"
         disabled_text=action==:edit ? "Updating..." : "Creating..."
      %>
      <% if specimen.can_manage? %>
      <%= preview_permission_popup_link(@specimen) -%>
          <%= f.submit button_text, :id => "specimen_submit_btn", :onclick => "javascript: clickLink($('preview_permission'));return(false);" -%>
      <% else %>
          <%= f.submit button_text, :id => "specimen_submit_btn", :disable_with => disabled_text -%>
      <% end %>
      or <%= link_to 'Cancel', (specimen.id ? specimen_path(specimen.id) : specimens_path) -%>
    </p>
<% end %>
<script type="text/javascript">
    <%# Load the strain list of default organism ONLY when creating a new specimen
      # Dont when updating/getting the new form back because of errors/new_object_based_on_existing_one
     -%>
    if ('<%= action.to_s%>' == 'new' && <%= f.error_messages.blank?%> && <%= specimen.organism.nil? %>) {
        show_ajax_loader('strains_of_selected_organism');
        strains_of_selected_organism($F('organism'), '<%= strain_selection_box_id%>', '<%= strain_selection_box_name%>');
    }
</script>
