<%= list_item_description resource.description %>

<div class="row">
  <div class="col-sm-6">
    <%= list_item_authorized_attribute "Uploader", resource.contributor.try(:person) %>
    <%= list_item_authorized_list resource.creators, "Responsible scientist" -%>
    <%= list_item_attribute "Other Crontributor(s)", resource.other_creators.blank? ? content_tag(:span,"No Other Contributor(s)",:class=>"none_text") : resource.other_creators-%>
  </div>

  <div class="col-sm-6">
    <%= list_item_attribute "Organism", resource.strain.organism.title, organism_path(resource.strain.organism) -%>
    <%= list_item_authorized_list (resource.strain.is_dummy? ? [] : [resource.strain]),"Strain", true, 50, true %>
    <%= list_item_authorized_list resource.sops, t('sop').pluralize, true, 50, true %>
  </div>
</div>

<div class="hidden-xs">
  <%= scales_list_for_list_item resource %>
</div>
