<%= list_item_title resource %>

<div class="list_item_left_column">
  <%= list_item_optional_attribute "Contributor", resource.contributor.person.try(:name), resource.contributor.person %>
  <%= list_item_simple_list resource.creators, "Creator(s)" -%>
</div>

<div class="list_item_right_column">

  <%= list_item_optional_attribute "Project", resource.project.try(:name), resource.project %>
  <%= list_item_simple_list(resource.organism_specimens, "Organism") { |so| specimen_organism_list_item(so) } %>

</div>
<div class="list_item_whole_width">
  <%= list_item_description resource.description %>
</div>
