<%= list_item_title resource %>

<div class="list_item_left_column">
  <%= list_item_authorized_attribute "Uploader", resource.contributor.try(:person) %>
  <%= list_item_authorized_list resource.creators, "Responsible scientist" -%>
  <%= list_item_attribute "Other Creator(s)", resource.other_creators.blank? ? "<span class='none_text'>No Other Creator(s)</span>" : resource.other_creators-%>
</div>

<div class="list_item_right_column">

  <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => true}%>
  <%= list_item_attribute "Organism", resource.strain.organism.title, organism_path(resource.strain.organism) -%>
  <%= list_item_authorized_list (resource.strain.is_dummy? ? [] : [resource.strain]),"Strain", true, 50, true %>
  <%= list_item_authorized_list resource.sop_masters.map(&:sop), t('sop').pluralize, true, 50, true %>

</div>
<div class="list_item_whole_width">
  <%= list_item_description resource.description %>
  <%= list_item_timestamp resource %>
</div>
