<%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
<%= stylesheet_link_tag 'calendar_date_select/default' %>

<%
  select_truncate_length=120
  all_organisms = Organism.find(:all,:order=>:title)
  culture_growth_options=options_for_select(CultureGrowthType.find(:all,:order=>:title).collect{|cg| [cg.title,cg.id]}.insert(0,"Not specified"),@specimen.culture_growth_type_id)
-%>
<div class="fold">

  <div class="foldTitle">
    <%= help_icon("Here you can associate the specimen with specific organism and strain.") -%>
    Organism <span class="required">*</span>
  </div>

  <div id="organisms_fold_content" class="foldContent" style="display: block;">
    <div class="yui-u first">

      <div class="association_step">
        <b>Step 1</b> - Choose an organism<br/><br/>
        <%= select_tag "specimen[organism_id]",
        options_for_select([["Select Organism ...", 0]]|all_organisms.collect{|o| [truncate(h(o.title), :length=>select_truncate_length), o.id]},@specimen.organism_id),
         {:style=>"width:90%", :onchange=>"check_show_add_organism();return(false);"

          } -%>


      </div>
      <div id="extra_organism_details" style="display:none;">
        <div class="association_step">
          <b>Step 2</b> - Select method of culture growth (optional)<br/><br/>
          <%= select_tag "specimen[culture_growth_type_id]",culture_growth_options ,{:onchange=>"check_show_which_fields();return(false);"}-%>
          <br/>
         <div id="fields_for_cultured_cell_line_and_primary_cell_culture" style="display:none;">
           <table id="table1" border="1" cellpadding="10" >
               <tr>
                <td> <%= f.label :medium -%></td>
                <td> <%= f.text_field :medium  %></td>
               </tr>
               <tr>
                 <td><%= f.label :culture_format -%></td>
                <td> <%= f.text_field :culture_format  %></td>
               </tr>
               <tr>
                 <td><%= f.label :temperature -%></td>
                 <td><%= f.text_field :temperature  %> </td>
               </tr>
               <tr>
                 <td><%= f.label :ph,"pH" -%></td>
                 <td><%= f.text_field :ph  %></td>
               </tr>
               <tr>
                 <td><%= f.label :confluency -%></td>
                 <td><%= f.text_field :confluency  %> </td>
               </tr>
               <tr>
                 <td><%= f.label :passage -%></td>
                 <td><%= f.text_field :passage  %> </td>
               </tr>
               <tr>
                 <td><%= f.label :viability -%></td>
                 <td><%= f.text_field :viability  %> </td>
               </tr>
               <tr>
                 <td><%= f.label :purity -%></td>
                 <td><%= f.text_field :purity  %> </td>
               </tr>
         </table>
         </div>

         <div id="fields_for_vivo" style="display:none;">
           <br/>
           <table id="table2" border="1" >
           <tr>
             <td style="text-align:left;"><%= f.label :sex -%></td>
             <td style="text-align:left;"><%= f.select :sex,options_for_select({"female"=>true,"male"=>false},@specimen.sex),:include_blank=>"Not Specified"%> </td>
           </tr>

           <tr>
             <td style="text-align:left;"><%= f.label :age -%></td>
             <td style="text-align:left;"><%= f.text_field :age, :style => "width: 150px;" -%> weeks </td>
           </tr>

           <tr>
             <td style="text-align:left;"><%= f.label "Birthday" -%></td>
            <td style="text-align:left;"> <%= f.calendar_date_select :born, :time => "mixed" -%></td>
           </tr>
          </table>
         </div>

          <div id="fields_for_batch_and_chemostat" style="display:none;">
           <table id="table3" border="1" cellpadding="10" >
               <tr>
                 <td><%= f.label :ploidy -%></td>
                 <td><%= f.text_field :ploidy  %> </td>
               </tr>
               <tr>
                 <td><%= f.label :sex -%></td>
                 <td style="text-align:left;"><%= f.select :sex,options_for_select({"female"=>true,"male"=>false},@specimen.sex),:include_blank=>"Not Specified"%> </td>
               </tr>
         </table>
         </div>

          <br/>

        </div>
        <div class="association_step">
          <b>Step 3</b> - Specify a strain (optional)<br/>  <br/>
          <% strain = @specimen.strain %>
          <% if (action == :edit) && (strain and strain.parent_id)%>
              <p class='none_text'>This strain is selected: </p>
              <%= link_to_remote(h(strain.title), {:url =>{:controller => 'strains', :action => 'show_existing_strain', :id => "#{strain.id}"},
                  :with => "'status='+'edit' + '&organism_id='+ $F('specimen_organism_id')", :before => remote_function(:url=>{:action=>"show_existing_strains", :controller=>"strains"},
                                   :with=>"'strain_id='+'#{strain.id}' + '&organism_id='+ $F('specimen_organism_id')") + ";$('create_strain_2').checked = true;"}) %>
              <br/><br/>
          <% elsif (action == :edit) && (strain && !strain.parent_id && !strain.is_dummy?)%>
              <p class='none_text'>This strain is selected: </p>
              <%= link_to_remote(h(strain.title), {:url =>{:controller => 'strains', :action => 'new_strain_form', :id => "#{strain.id}"},
                                                   :with => "'status='+'edit' + '&organism_id='+ $F('specimen_organism_id')", :before => "$('create_strain_1').checked = true"}) %>
              <br/><br/>
          <% elsif (action == :edit) && ((strain && strain.is_dummy?) || !strain) %>
              <p class='none_text'>No strain is selected </p>
          <% end %>

                <div id="create_based_on_existing_strain">
                <%= radio_button_tag(:create_strain, 2 , false,
                                     :onchange=>remote_function(:url=>{:action=>"show_existing_strains", :controller=>"strains"},
                                   :with=>"'strain_id='+'#{strain.try:id}' + '&organism_id='+ $F('specimen_organism_id')",
                                                                :before=>"show_ajax_loader('strain_form')")+";return(false);") %>
              <label>Select/create from existing strain</label>

              </div>
              <br/>
              <div id='create_new_strain'>
                <%= radio_button_tag(:create_strain, 1, false,
                                     :onchange=>remote_function(:url=>{:action=>"new_strain_form", :controller=>"strains"},
                                             :with=>"'organism_id='+ $F('specimen_organism_id')",
                                                                :before=>"show_ajax_loader('strain_form')") + ";return(false);") %>
              <label>Create without basing on existing strain</label>

              </div>
              <br/>
              <div id='no_strain'>
                <%= radio_button_tag(:create_strain, 0, false,
                    :onchange=>"fadeCreateStrain();return(false);") %>
              <label>No strain</label>
                <div id='existing_strains'></div>
                         <div id='strain_form'></div>

          </div>
          </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
 var organism = new Array();
    function check_show_add_organism() {

      selected_id = $F('specimen_organism_id') ;
      if (selected_id == '0') {
        Effect.Fade('extra_organism_details');
      }
      else {
        var radio_buttons = document.getElementsByName('create_strain');
        for (var i=0; i< radio_buttons.length;i++){
           radio_buttons[i].checked=false
        }
        Effect.Fade('existing_strains', { duration: 0.25});
        Effect.Fade('strain_form', { duration: 0.25});
        Effect.Appear('extra_organism_details');
      }
    }


    function check_show_which_fields(){
        if($F('specimen_culture_growth_type_id')){
        selected_option_index=$("specimen_culture_growth_type_id").selectedIndex;
        selected_option=$("specimen_culture_growth_type_id").options[selected_option_index];
        title=selected_option.text;

        var div1 = document.getElementById('fields_for_cultured_cell_line_and_primary_cell_culture');
        var div2 = document.getElementById('fields_for_vivo');
        var div3 = document.getElementById('fields_for_batch_and_chemostat');

        if (title=="cultured cell line" || title=="primary cell culture"){
            div1.style.display = 'block';
            div2.style.display='none';
            div3.style.display='none';
        }
        else if(title=="in vivo"){
            div2.style.display = 'block';
            div1.style.display='none';
            div3.style.display='none';

        }else if (title=="batch" || title=="chemostat"){
           div1.style.display = 'none';
           div2.style.display='none';
           div3.style.display='block';
        }
        else{
           div1.style.display = 'none';
           div2.style.display='none';
           div3.style.display='none';
        }
       }
    }
     var radio_buttons = document.getElementsByName('create_strain');
     var selected_radio_button
     for (var i = 0; i < radio_buttons.length; i++) {
         if (radio_buttons[i].checked == 'checked') {
             if (radio_buttons[i].value =='2'){

             }else if(radio_buttons[i].value =='1'){

             }

             break;
         }
     }

    check_show_add_organism();
    check_show_which_fields();

</script>
