<% truncate_length_for_boxes = 22 -%>

<ul class="sectionIcons">
  <%= render :partial => "subscriptions/subscribe", :locals => {:object => @specimen} %>
  <% if @specimen.can_manage? %>
      <li><%= image_tag_for_key('manage', edit_specimen_path(@specimen), "Manage Specimen", nil, 'Manage Specimen') %></li>
  <% elsif @specimen.can_edit? %>
      <li><%= image_tag_for_key('edit', edit_specimen_path(@specimen), "Edit Specimen", nil, 'Edit Specimen') %></li>
  <% end %>
  <% if @specimen.can_delete? %>
      <li><%= image_tag_for_key "destroy", specimen_path(@specimen), "Delete Specimen", {:confirm => 'Are you sure?', :method => :delete}, "Delete Specimen" -%></li>
  <% end %>

  <% if logged_in? and current_user.person.member? %>
      <li><%= image_tag_for_key('new', new_object_based_on_existing_one_path(:controller_name=>"specimens",:id=>@specimen.id), nil, nil, 'New specimen based on this one') %></li>
  <% end %>
</ul>

<%= render :partial => "layouts/item_title", :locals=>{:item=>@specimen} %>

<div class="show_basic">

  <div style="clear:both">
    <br/>

    <div class="main_content_left_box_narrower">
      <%= render :partial => "samples/sample_specimen_details", :object => @specimen %>
    </div>
    <br/>
    <%= render :partial => "assets/resource_main_content_right", :locals => {:resource => @specimen, :title => 'Owner and creators'} %>
  </div>


  <div style="clear:both">
    <br/>
    <%= render :partial=>"layouts/items_related_to", :object => @specimen %>
  </div>

</div>
