<div class="forums">
  <div class="crumbs" xstyle="margin-top:1.1em;">
    <%= link_to 'Forums'[:forums_title], forums_path %> <span class="arrow">&rarr;</span>
    <%= link_to h(@forum.name), forum_path(@forum) %> <span class="arrow">&rarr;</span>
  </div>


  <div class="contribution_title"><h1 id="new_topic"><%= 'New Topic'[] %></h1></div>
  <p class="subtitle"><%= 'by {user}'[:by_user, current_user.display_name] %></p>

  <%= error_messages_for :post %>
  <%= error_messages_for :topic %>
  <% form_for :topic, :url  => forum_topics_path(@forum), :html => {:multipart => true} do |f| -%>
    <%= render :partial => "form", :object => f %>
    <br/>
    <%= submit_tag 'Post Topic'[], :or => link_to('Cancel'[], forum_path(@forum)) %>
  <% end -%>

</div>
<%= javascript_tag "$('topic_title').focus();" %>

