<h3>Activity statistics</h3>

<table>
	<tr>
		<th></th>					
		<th>1 year</th>
		<th>1 month</th>
		<th>1 week</th>
		<th>1 day</th>
	</tr>
	<tr>
		<td>Unique Users</td>		
		<td><%= stats.yearly_users -%></td>
		<td><%= stats.monthly_users -%></td>
		<td><%= stats.weekly_users -%></td>
		<td><%= stats.daily_users -%></td>
	</tr>
	
	<tr>
		<td>SOPs uploaded</td>		
		<td><%= stats.yearly_sops_uploaded -%></td>
		<td><%= stats.monthly_sops_uploaded -%></td>
		<td><%= stats.weekly_sops_uploaded -%></td>
		<td><%= stats.daily_sops_uploaded -%></td>
	</tr>
	
	<tr>
		<td>DataFiles uploaded</td>		
		<td><%= stats.yearly_datafiles_uploaded -%></td>
		<td><%= stats.monthly_datafiles_uploaded -%></td>
		<td><%= stats.weekly_datafiles_uploaded -%></td>
		<td><%= stats.daily_datafiles_uploaded -%></td>
	</tr>
	
	<tr>
		<td>Models uploaded</td>		
		<td><%= stats.yearly_models_uploaded -%></td>
		<td><%= stats.monthly_models_uploaded -%></td>
		<td><%= stats.weekly_models_uploaded -%></td>
		<td><%= stats.daily_models_uploaded -%></td>
	</tr>
	
	<tr>
		<td>Publications registered</td>		
		<td><%= stats.yearly_publications_registered -%></td>
		<td><%= stats.monthly_publications_registered -%></td>
		<td><%= stats.weekly_publications_registered -%></td>
		<td><%= stats.daily_publications_registered -%></td>
	</tr>
	
	<tr>
		<td>SOPs downloaded</td>		
		<td><%= stats.yearly_sops_downloaded -%></td>
		<td><%= stats.monthly_sops_downloaded -%></td>
		<td><%= stats.weekly_sops_downloaded -%></td>
		<td><%= stats.daily_sops_downloaded -%></td>
	</tr>
	
	<tr>
		<td>DataFiles downloaded</td>		
		<td><%= stats.yearly_datafiles_downloaded -%></td>
		<td><%= stats.monthly_datafiles_downloaded -%></td>
		<td><%= stats.weekly_datafiles_downloaded -%></td>
		<td><%= stats.daily_datafiles_downloaded -%></td>
	</tr>
	
	<tr>
		<td>Models downloaded</td>		
		<td><%= stats.yearly_models_downloaded -%></td>
		<td><%= stats.monthly_models_downloaded -%></td>
		<td><%= stats.weekly_models_downloaded -%></td>
		<td><%= stats.daily_models_downloaded -%></td>
	</tr>
	
	<tr>
		<td>Publications downloaded</td>		
		<td><%= stats.yearly_publications_downloaded -%></td>
		<td><%= stats.monthly_publications_downloaded -%></td>
		<td><%= stats.weekly_publications_downloaded -%></td>
		<td><%= stats.daily_publications_downloaded -%></td>
	</tr>
	
</table>