<%= admin_checkbox_setting(:doi_minting_enabled, 1, Seek::Config.doi_minting_enabled,
                           "DOI minting enabled", "Allows you to generate a DOI for an asset, using DataCite Metadata Store Web service. A contract is required with DataCite to be able to use their service, otherwise you should disable this setting.",
                           :onchange=>toggle_appear_javascript('doi_minting_block')) %>
<div id="doi_minting_block" class="additional_settings" style="<%= show_or_hide_block Seek::Config.doi_minting_enabled -%>">
  <%= admin_text_setting(:datacite_username, Seek::Config.datacite_username,
                         'Datacite username', 'The username DataCite provided you with for your organization.') %>

  <%= admin_password_setting(:datacite_password, Seek::Config.datacite_password_decrypt,
                             'Datacite password', 'The password DataCite provided you with for your organization.') %>
  

  <%= admin_text_setting(:datacite_url, Seek::Config.datacite_url,
                         'Datacite URL', "The root URL for the Datacite rest service. If it is not set, #{Seek::Config.default_datacite_url} will be used. You can also set the test url, https://test.datacite.org/mds/, for generating test DOIs.") %>

  <%= admin_text_setting(:doi_prefix, Seek::Config.doi_prefix,
                         'DOI prefix', 'The DOI prefix that will have been provided to you by DataCite for your organization.') %>

  <%= admin_text_setting(:doi_suffix, Seek::Config.doi_suffix,
                         'DOI suffix', "The whole DOI suffix should be unique under one DOI prefix. This configuration is the first part of the whole DOI suffix. It will be linked with the asset type, asset id and version, for example using 'seek' would create a DOI 'seek.1.datafile.1.1'") %>

  <%= admin_text_setting(:time_lock_doi_for, Seek::Config.time_lock_doi_for,
                         'Minimum asset age (days)', "DOI generation for the asset will not be available until is has existed beyond this period. This is to help prevent spam and excessive DOI creation. If the day is set to 0, there will be no restriction.",
                         :onkeypress => "javascript: return onlyNumbers(event);") %>
</div>
