<%= admin_checkbox_setting(:omniauth_enabled, 1, Seek::Config.omniauth_enabled,
                           "Omniauth enabled", "Enables use of external providers (such as LDAP) for authentication and user creation.",
                           onchange: toggle_appear_javascript('omniauth_settings')) %>
<div id="omniauth_settings" class="additional_settings" style="<%= show_or_hide_block(Seek::Config.omniauth_enabled) -%>;">
  <%= admin_checkbox_setting(:omniauth_user_create, 1, Seek::Config.omniauth_user_create,
                             "Omniauth user creation on login", "When a user logs in through an omniauth provider and does not exist as a #{Seek::Config.instance_name} user, they will be created using the information given by the provider."                             ) %>
  <%= admin_checkbox_setting(:omniauth_user_activate, 1, Seek::Config.omniauth_user_activate,
                             "Omniauth user activation on login", "The user created through login by omniauth is automatically activated and does not require email confirmation.") %>

  <%= admin_checkbox_setting(:omniauth_ldap_enabled, 1, Seek::Config.omniauth_ldap_enabled,
                             "LDAP authentication", "Enables use of LDAP for authentication.",
                             onchange: toggle_appear_javascript('omniauth_ldap_settings')) %>

  <div id="omniauth_ldap_settings" class="additional_settings" style="<%= show_or_hide_block(Seek::Config.omniauth_ldap_enabled) -%>;">
    <div class="row">
      <div class="col-sm-7">
        <%= admin_text_setting(:omniauth_ldap_host, Seek::Config.omniauth_ldap_settings('host'), 'Host') %>
        <%= admin_text_setting(:omniauth_ldap_port, Seek::Config.omniauth_ldap_settings('port'), 'Port') %>
        <%= admin_dropdown_setting(:omniauth_ldap_method,
                                   options_for_select(
                                       [['Plain', :plain], ['SSL', :ssl], ['TLS', :tls]],
                                       Seek::Config.omniauth_ldap_settings('method')
                                   ),
                                   'Encryption method') %>
        <%= admin_text_setting(:omniauth_ldap_base, Seek::Config.omniauth_ldap_settings('base'),
                               'Base DN', 'The DN where users will be searched for.') %>
        <%= admin_text_setting(:omniauth_ldap_uid, Seek::Config.omniauth_ldap_settings('uid'),
                               'Username attribute', "The LDAP attribute to use as the username. In Active Directory: 'sAMAccountName' or 'UserPrincipalName'. In OpenLDAP: 'uid'") %>
        <%= admin_text_setting(:omniauth_ldap_bind_dn, Seek::Config.omniauth_ldap_settings('bind_dn'),
                               'Bind DN (Optional)', 'Bind DN for performing user-lookup.') %>
        <%= admin_password_setting(:omniauth_ldap_password, Seek::Config.omniauth_ldap_settings('password'),
                                   'Password (Optional)', 'Password for performing user lookup.') %>
      </div>
    </div>
  </div>

  <%= admin_checkbox_setting(:omniauth_elixir_aai_enabled, 1, Seek::Config.omniauth_elixir_aai_enabled,
                             "ELIXIR AAI authentication", "Enables use of ELIXIR AAI for authentication.",
                             onchange: toggle_appear_javascript('omniauth_elixir_aai_settings')) %>
  <div id="omniauth_elixir_aai_settings" class="additional_settings" style="<%= show_or_hide_block(Seek::Config.omniauth_elixir_aai_enabled) -%>;">
    <%= admin_text_setting(:omniauth_elixir_aai_client_id, Seek::Config.omniauth_elixir_aai_client_id,
                           'ELIXIR AAI Client ID', 'The client ID provided by ELIXIR AAI for your installation.') %>
    <%= admin_password_setting(:omniauth_elixir_aai_secret, Seek::Config.omniauth_elixir_aai_secret,
                               'ELIXIR AAI Secret', 'The secret key provided by ELIXIR AAI for your installation.') %>
  </div>

  <%= admin_checkbox_setting(:omniauth_github_enabled, 1, Seek::Config.omniauth_github_enabled,
                             "GitHub authentication", "Enables use of GitHub for authentication.",
                             onchange: toggle_appear_javascript('omniauth_github_settings')) %>
  <div id="omniauth_github_settings" class="additional_settings" style="<%= show_or_hide_block(Seek::Config.omniauth_github_enabled) -%>;">
    <%= admin_text_setting(:omniauth_github_client_id, Seek::Config.omniauth_github_client_id,
                           'GitHub Client ID', 'The client ID provided by GitHub for your installation.') %>
    <%= admin_password_setting(:omniauth_github_secret, Seek::Config.omniauth_github_secret,
                               'GitHub Secret', 'The secret key provided by GitHub for your installation.') %>
  </div>
</div>
