<div class="fold">
  <div class="foldTitle">Simple Stats</div>
  <div class="foldContent" style="display:none;">
    <ul class="stats">
      <li class="stat">
	  	<p>
	  		<label>SOPs:</label>
			<%= Sop.count -%>
	  	</p>
		
		<p>
	  		<label>Models:</label>
			<%= Model.count -%>
	  	</p>
		<p>
	  		<label>DataFiles:</label>
			<%= DataFile.count -%>
	  	</p>
		<p>
	  		<label>Publications:</label>
			<%= Publication.count -%>
	  	</p>
		<p>
	  		<label>Investigations:</label>
			<%= Investigation.count -%>
	  	</p>
		<p>
	  		<label>Studies:</label>
			<%= Study.count -%>
	  	</p>
		<p>
	  		<label>Assays:</label>
			<%= Assay.count -%>
	  	</p>
		<p>
	  		<label>Users:</label>
			<%= User.count -%>
	  	</p>
		<p>
	  		<label>People:</label>
			<%= Person.count -%>
	  	</p>	  	  
	  </li>      
    </ul>
  </div>
</div>

