<div class="fold">
  <div class="foldTitle">Simple Stats</div>
  <div class="foldContent" style="display:none;">
    <ul>
      <li>SOPs: <%= Sop.count -%></li>
      <li>Models: <%= Model.count -%></li>
      <li>DataFiles: <%= DataFile.count -%></li>
      <li>Investigations: <%= Investigation.count -%></li>
      <li>Studies: <%= Study.count -%></li>
      <li>Assays: <%= Assay.count -%></li>
      <li>Users: <%= User.count -%></li>
      <li>People: <%= Person.count -%></li>
    </ul>
  </div>
</div>

