<li class="stat_item">
	<p>
		<label>
			Project
		</label>
		<%= h(stat.project.title)%>
	</p>
	<p>
		<label>
			SOPs
		</label>
		<%= "#{stat.sops.count} of which #{stat.visible_sops.count} are visible to you." -%>
	</p>
	<p>
		<label>
			Models
		</label>
		<%= "#{stat.models.count} of which #{stat.visible_models.count} are visible to you." -%>
	</p>
	<p>
		<label>
			Data Files
		</label>
		<%= "#{stat.data_files.count} of which #{stat.visible_data_files.count} are visible to you." -%>
	</p>
	<p>
		<label>
			Publications
		</label>
		<%= "#{stat.publications.count}." -%>
	</p>
	<p>
		<label>
			Studies
		</label>
		<%= "#{stat.studies.count}." -%>
	</p>
	<p>
		<label>
			Assays
		</label>
		<%= "#{stat.assays.count}." -%>
	</p>
	<p>
		<label>
			People
		</label>
		<%= "#{stat.people.count} of which #{stat.registered_people.count} are registered." -%>
	</p>
</li>
