<h1>Editing tag: '<strong><%= @tag.text -%></strong>'</h1>

<h2>New tags</h2>

<%= form_tag edit_tag_admin_path(:id=>@tag.id) do %>
  <%= tags_input(:tag_list, [@tag.text], class: 'form-control') %>
  <%= submit_tag "Update" -%>
<% end -%>

<h2>Tagged items (<%= @tag.annotations.size -%>)</h2>
<ul>
  <% @tag.annotations.each do |a| -%>
    <% unless a.nil? || a.annotatable.nil? %>
      <li>
        <%= link_to "#{a.annotatable.title} ( #{a.annotatable_type} )", a.annotatable -%>
        context = <%= a.annotation_attribute.name -%>
      </li>
    <% end %>
  <% end -%>
</ul>
