<h1>Enable or disable features</h1>

<%= form_tag :action=>"update_features_enabled" do -%>
  <h2>SEEK services</h2>
  <%= admin_checkbox_setting(:solr_enabled, 1, Seek::Config.solr_enabled,
                             "Search enabled", "Whether the search is enabled. If switched on you need to ensure SOLR is running and its index is up to date. You need to restart both the server, and the Background service, after changing this setting.") %>

  <%= admin_checkbox_setting(:filtering_enabled, 1, Seek::Config.filtering_enabled, "Filtering enabled", "Whether filtering system is enabled on index pages.") %>

  <%= render :partial => 'admin/email' %>

  <%= render :partial => 'admin/omniauth' %>

  <%= admin_checkbox_setting(:pdf_conversion_enabled, 1, Seek::Config.pdf_conversion_enabled,
                             "Pdf conversion enabled", "Whether pdf conversion is enabled. It allows converting some document types to pdf format. If enabled, you need to ensure open office is running") %>

  <h2>SEEK features</h2>
  <%= admin_checkbox_setting(:events_enabled, 1,Seek::Config.events_enabled,
                             "#{t('event').pluralize} enabled","Whether the #{t('event').pluralize} are displayed and can be added.") %>

  <%= admin_checkbox_setting(:programmes_enabled, 1, Seek::Config.programmes_enabled,
                             "#{t('programme').pluralize} enabled", "Whether #{t('programme').pluralize} are enabled. #{t('programme').pluralize} allow a collection of #{t('project').pluralize} to be grouped together. This is useful if you have a large number of #{t('project').pluralize} from different initiatives.",:onchange=>toggle_appear_javascript('programme_details')) %>
  <div id="programme_details" class="additional_settings" style="<%= show_or_hide_block Seek::Config.programmes_enabled -%>">
    <%= admin_checkbox_setting(:programme_user_creation_enabled, 1, Seek::Config.programme_user_creation_enabled,
                               "User creation of #{t('programme').pluralize} enabled", "Controls whether standard users can create their own #{t('programme').pluralize}. If disabled only full administrators will be able to create #{t('programme').pluralize}. If enabled a full administrator is still required to allow and activate the #{t('programme')}") %>
    <% managed_programme_options = options_for_select(Programme.all.map{|p|[p.title, p.id]}, Seek::Config.managed_programme_id) %>
    <%= admin_dropdown_setting(:managed_programme_id, managed_programme_options,
                               "Site mananaged #{t('programme')}",
                               "The #{t('programme')} the users can request to have a #{t('project')} created and associated with, without the need to create and manage their own",
                               include_blank:'None') %>
  </div>
  <%= admin_checkbox_setting(:samples_enabled, 1, Seek::Config.samples_enabled,
                             "Samples enabled", "Whether the Samples framework is enabled. The framework allows users to create their own custom Sample types to describe their biological samples and other metadata.",:onchange=>toggle_appear_javascript('sample_type_pa_only')) %>

  <div id="sample_type_pa_only" class="additional_settings" style="<%= show_or_hide_block Seek::Config.samples_enabled -%>">
    <%= admin_checkbox_setting(:project_admin_sample_type_restriction, 1, Seek::Config.project_admin_sample_type_restriction,
                               "Sample Type creation restricted to Project Administrators","If set, then only Project Administrators will have the ability to create new Sample Types for the Project. If unset, any Project member is able to.") %>
  </div>
  <%#= admin_checkbox_setting(:delete_asset_version_enabled, 1, Seek::Config.delete_asset_version_enabled,
                               "Delete asset version enabled", "Whether delete of one version of the versioned asset is enabled. It allows to delete previous (older) versions without deleting the complete asset") %>

  <%= admin_checkbox_setting(:internal_help_enabled, 1, Seek::Config.internal_help_enabled,
                             "Internal help enabled", "Whether internal help pages should be used. Disabling this allows the use of external help pages.",
                             :onchange=>toggle_appear_javascript('external_help_details', reverse: true)) %>
  <div id="external_help_details" class="additional_settings" style="<%= show_or_hide_block !Seek::Config.internal_help_enabled -%>">
    <%= admin_text_setting(:external_help_url, Seek::Config.external_help_url,
                           'Help URL', "This is the URL for the external help e.g #{Seek::Config.default_external_help_url}.") %>
  </div>

  <%= admin_checkbox_setting(:collections_enabled, 1, Seek::Config.collections_enabled,
                             "Collections enabled", "Whether the users can create collections of assets in SEEK.") %>

  <%= admin_checkbox_setting(:documents_enabled, 1, Seek::Config.documents_enabled,
                             "Documents enabled", "Whether the users can register documents in SEEK.") %>

  <%= admin_checkbox_setting(:isa_enabled, 1, Seek::Config.isa_enabled,
                             "ISA enabled", "Whether the ISA framework is enabled. The ISA framework allows users to create Investigations, Studies and Assays to organize their work.") %>

  <%= admin_checkbox_setting(:models_enabled, 1, Seek::Config.models_enabled,
                             "Models enabled", "Whether the users can register computational models in SEEK.") %>

  <%= admin_checkbox_setting(:organisms_enabled, 1, Seek::Config.organisms_enabled,
                             "Organisms enabled", "Whether the users can register organisms in SEEK.") %>

  <%= admin_checkbox_setting(:publications_enabled, 1, Seek::Config.publications_enabled,
                             "Publications enabled", "Whether the users can register publications in SEEK.") %>

  <%= admin_checkbox_setting(:workflows_enabled, 1, Seek::Config.workflows_enabled,
                             'Workflows enabled', 'Whether the Workflow framework is enabled.',
                             onchange: toggle_appear_javascript('workflow_cwl_Settings')) %>
  <div id="workflow_cwl_Settings" class="additional_settings" style="<%= show_or_hide_block Seek::Config.workflows_enabled -%>">
    <%= admin_text_setting(:cwl_viewer_url, Seek::Config.cwl_viewer_url,
                           'CWL Viewer URL',
                           "The URL of a #{link_to('CWL Viewer', 'https://github.com/common-workflow-language/cwlviewer', target: :_blank)} instance to generate diagrams for CWL workflows.") %>
  </div>

  <h2>Integrations</h2>
  <%= admin_checkbox_setting(:jws_enabled, 1, Seek::Config.jws_enabled,
                             "JWS Online enabled", "Whether integration with JWS Online is enabled. Enabling this allows simulation of SBML models with JWS Online.",
                             :onchange=>toggle_appear_javascript('jws_online_details')) %>
  <div id="jws_online_details" class="additional_settings" style="<%= show_or_hide_block Seek::Config.jws_enabled -%>">
    <%= admin_text_setting(:jws_online_root, Seek::Config.jws_online_root,
                           'JWS Online Root URL', "This is the root URL for the JWS Online server SEEK communicates with, e.g. #{Seek::Config.default_jws_online_root} .") %>
  </div>

  <%= admin_checkbox_setting(:google_analytics_enabled, 1, Seek::Config.google_analytics_enabled,
                             "Google analytics enabled", "Allows you to keep track of site traffic using Google Analytics. You need to register with Google Analytics and get a tracker ID.",
                             :onchange=>toggle_appear_javascript('google_anaylitics_block')) %>
  <div id="google_anaylitics_block" class="additional_settings" style="<%= show_or_hide_block Seek::Config.google_analytics_enabled -%>">
    <%= admin_text_setting(:google_analytics_tracker_id, Seek::Config.google_analytics_tracker_id,
                           'Google analytics tracker id', "The tracker ID provided to you by Google.") %>
  </div>

  <%= admin_checkbox_setting(:piwik_analytics_enabled, 1, Seek::Config.piwik_analytics_enabled,
                             "Piwik analytics enabled", "Allows you to keep track of site traffic using Piwik Analytics.",
                             :onchange=>toggle_appear_javascript('piwik_anaylitics_block')) %>
  <div id="piwik_anaylitics_block" class="additional_settings" style="<%= show_or_hide_block Seek::Config.piwik_analytics_enabled -%>">
    <%= admin_text_setting(:piwik_analytics_id_site, Seek::Config.piwik_analytics_id_site,
                           'Piwik analytics id site', "The ID of your website inside Piwik. It is the numeric value corresponding to the ID of the site created in Piwik.") %>
    <%= admin_text_setting(:piwik_analytics_url, Seek::Config.piwik_analytics_url,
                           'Piwik analytics url', "The URL to your Piwik installation, withouth the http:// or https://, e.g. #{Seek::Config.default_piwik_analytics_url} ") %>
  </div>

  <%= render :partial => "admin/doi_settings" %>

  <%= render :partial => "admin/zenodo_settings" %>

  <%= admin_checkbox_setting(:openbis_enabled, 1, Seek::Config.openbis_enabled,
                             "openBIS enabled", "Whether support for a #{t('project')} to connect to openBIS is enabled.") %>

  <%= admin_checkbox_setting(:nels_enabled, 1, Seek::Config.nels_enabled,
                             "NeLS enabled", "Whether support for #{t('project').pluralize} to connect to NeLS is enabled.",
                             onchange: toggle_appear_javascript('nels_block')) %>
  <div id="nels_block" class="additional_settings" style="<%= show_or_hide_block Seek::Config.nels_enabled -%>">
    <div class="row">
      <div class="col-sm-7">
        <%= admin_text_setting(:nels_api_url, Seek::Config.nels_api_url,
                               'NeLS API endpoint', 'The base endpoint for the NeLS API that SEEK should connect to.') %>
        <%= admin_text_setting(:nels_oauth_url, Seek::Config.nels_oauth_url,
                               'NeLS OAuth endpoint', 'The base endpoint for the NeLS OAuth provider that SEEK will authenticate through when connecting to the NeLS API.') %>
        <%= admin_text_setting(:nels_permalink_base, Seek::Config.nels_permalink_base,
                               'NeLS Permalink Base', 'The base URL for permalinks that will be generated for NeLS datasets that are referred to from SEEK.') %>
        <%= admin_text_setting(:nels_client_id, Seek::Config.nels_client_id,
                               'NeLS OAuth client ID', 'The ID for this application to authenticate users through the NeLS OAuth provider.') %>
        <%= admin_text_setting(:nels_client_secret, Seek::Config.nels_client_secret,
                               'NeLS OAuth client secret', 'The secret token for this application to authenticate users through the NeLS OAuth provider.') %>
      </div>
      <div class="col-sm-5">
        <%= panel('OAuth Client Info') do %>
          <p class="help-block">
            Provide this info to NeLS when registering your SEEK instance as an OAuth client.
          </p>
          <label>redirect_uri</label><br/>
          <pre><%= nels_oauth_callback_url %></pre>
          <br/>
          <label>grant_type</label><br/>
          <pre>authorization_code</pre>
        <% end %>
      </div>
    </div>
  </div>

  <%= submit_tag "Update", data: { disable_with: 'Updating...' }, :class => 'btn btn-primary' -%> or
  <%= cancel_button admin_path-%>
<% end -%>
