<style>
    ul.settings {
        padding-left:2em;
    }
    .setting_description {
        padding-bottom:0.5em;
        display:inline-block;
        min-width: 20em;
    }
    .setting_name {
        width: 20em;
        display:inline-block;
    }
    .setting_field {
        width: 20em;
    }
</style>

<h1>Enable or disable features</h1>
<div class="show_basic">
  <% form_tag :action=>"update_features_enabled" do -%>
  <ul class='settings'>
    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Events enabled",
            :field=>check_box_tag(:events_enabled, 1,Seek::Config.events_enabled)
    } -%> 

    <li>
      <span class='box_infotext setting_description'>
        Something about the feature
      </span>
      <br/>
      <span class='setting_name'>
        JERM harvesting enabled:
      </span>
      <span class='setting_field'>
        <%= check_box_tag(:jerm_enabled, 1, Seek::Config.jerm_enabled) %>
      </span>
    </li>

    <li>
      <span class='box_infotext setting_description'>
        Something about the feature
      </span>
      <br/>
      <span class='setting_name'>
        Search enabled:
      </span>
      <span class='setting_field'>
        <%= check_box_tag(:solr_enabled, 1, Seek::Config.solr_enabled, :title => 'enable search function') %>
      </span>
    </li>

    <li>
      <%= render :partial => 'admin/email'  %>
    </li>
  </ul>

  <p>
    Hide contact details:    <%= check_box_tag(:hide_details_enabled, 1, Seek::Config.hide_details_enabled) %>
  </p>
  <p>
    Activation required for new accounts: <%= check_box_tag(:activation_required_enabled, 1, Seek::Config.activation_required_enabled, :title => 'when the user register for an account, an email sent to ask for activating the account') %>
  </p>
  <p>
    JWS Online integration enabled:    <%= check_box_tag(:jws_enabled, 1, Seek::Config.jws_enabled, :onchange=>toggle_appear_javascript('jws_online_root_block'),:title => 'enable JWS Online for building and simulating SBML models') %>
    <div id="jws_online_root_block" style="<%= show_or_hide_block Seek::Config.jws_enabled -%>">
        JWS Online Root URL:    <%= text_field_tag(:jws_online_root, Seek::Config.jws_online_root) %>
    </div>
  </p>
  <p>
    Google analytics enabled: <%= check_box_tag(:google_analytics_enabled, 1, Seek::Config.google_analytics_enabled,:onchange=>toggle_appear_javascript('google_anaylitics_block'), :title => 'generating detailed statistics about the visitors to this website') %>
    <div id="google_anaylitics_block" style="<%= show_or_hide_block Seek::Config.google_analytics_enabled -%>">
        Google analytics tracker id:    <%= text_field_tag(:google_analytics_tracker_id, Seek::Config.google_analytics_tracker_id) %>
    </div>
  </p>



    <%= submit_tag "Update" %>
  </div>
<% end -%>

