<h1>Imprint Description</h1>

<%= form_tag :action=>"update_imprint_setting" do -%>

    <%= admin_checkbox_setting(:imprint_enabled, 1,Seek::Config.imprint_enabled,
                               "Imprint enabled","Whether you enabled imprint link at the bottom left of the page. This is obligatory for the SEEK instance running in Germany") %>

    <%= admin_textarea_setting(:imprint_description, Seek::Config.imprint_description,
                               nil, "Here you give the text for your SEEK imprint, to comply with German/your country's law and your institution/university's rules.
                               Or you can give the link to its content from external site. You can input basic html tags and formats.
                               Below is an example. You can see how it is under homes/imprint", :rows => 30) %>

    <%= submit_tag "Update", data: { disable_with: 'Updating...' }, :class => 'btn btn-primary' -%> or
    <%= cancel_button admin_path %>
<% end %>
