<h1>Administration
  <small><%= version_text -%></small>
</h1>

<%= folding_panel('General', false) do %>
  <%= render partial: 'admin/general' %>
<% end %>

<%= folding_panel('Status and statistics', false) do %>
  <%= render partial: 'admin/stats' %>
<% end %>

<%= folding_panel('System administrators', false) do %>
  <%= render partial: 'admin/admin_selection' %>
<% end %>

<%= render partial: 'admin/restart_buttons' %>

<small><%= git_link_tag %></small>
