<h1>Index page behaviour</h1>

<%= form_tag :action=>"update_pagination" do -%>
    <p>
      In each index page in the "Browse" section, either all items are listed, or only the top <em>n</em> items.
      On this page you can select the default for each tab.
    </p>

    <% [['People','people'], [t('project').pluralize,'projects'], [t('programme').pluralize,'programmes'], ['Institutions','institutions'],
        [t('investigation').pluralize,'investigations'], [t('study').pluralize,'studies'], [t('assays.assay').pluralize.capitalize, 'assays'],
        [t('data_file').pluralize,'data_files'], [t('model').pluralize, 'models'], [t('sop').pluralize,'sops'],
        ['Publications','publications'], [t('presentation').pluralize, 'presentations'], [t('event').pluralize,'events'],
        [t('document').pluralize,'documents']
       ].each do |type| %>
        <div class="form-group index-page-setting">
          <label><%= type[0] -%></label>
          <div class="btn-group" data-toggle="buttons">
            <% ['top', 'all'].each do |option| %>
                <% checked = Seek::Config.default_page(type[1]) == option %>
                <label class="btn btn-default <%= 'active'.html_safe if checked -%>">
                  <%= radio_button_tag(type[1], option, checked) %> <%= option.capitalize -%>
                </label>
            <% end %>
          </div>
        </div>
    <% end %>

    <%= admin_text_setting(:limit_latest, Seek::Config.limit_latest,
                           'Top list length', "This is the maximum number of items that are listed when viewing the 'top' page.",
                           :onkeypress => "javascript: return onlyNumbers(event);") %>

    <%= submit_tag "Update", data: { disable_with: 'Updating...' }, :class => 'btn btn-primary' -%> or
    <%= cancel_button admin_path %>
<% end -%>
