
<% form_tag :action=>"update_project" do -%>
  <br style="clear:both;"/>
  <br/>
  <div style="width:100%;text-align:left;padding-right:4em;position:absolute;left:100px">
    Project name:    <%= text_field_tag(:project_name, Seek::ApplicationConfiguration.get_project_name) %>
    <br style="clear:both;"/>
    <br/>
    Project type:    <%= text_field_tag(:project_type, Seek::ApplicationConfiguration.get_project_type) %>
    <br style="clear:both;"/>
    <br/>
    Project link:    <%= text_field_tag(:project_link, Seek::ApplicationConfiguration.get_project_link) %>
    <br style="clear:both;"/>
    <br/>
    Project title:    <%= text_field_tag(:project_title, Seek::ApplicationConfiguration.get_project_title) %>
    <br style="clear:both;"/>
    <br/>
    Project long name:    <%= text_field_tag(:project_long_name, Seek::ApplicationConfiguration.get_project_long_name) %>
    <br style="clear:both;"/>
    <br/>

    DM project name:    <%= text_field_tag(:dm_project_name, Seek::ApplicationConfiguration.get_dm_project_name) %>
    <br style="clear:both;"/>
    <br/>
    DM project title:    <%= text_field_tag(:dm_project_title, Seek::ApplicationConfiguration.get_dm_project_title) %>
    <br style="clear:both;"/>
    <br/>
    DM project link:    <%= text_field_tag(:dm_project_link, Seek::ApplicationConfiguration.get_dm_project_link) %>
    <br style="clear:both;"/>
    <br/>


    Application name:    <%= text_field_tag(:application_name, Seek::ApplicationConfiguration.get_application_name) %>
    <br style="clear:both;"/>
    <br/>
    Application title:    <%= text_field_tag(:application_title, Seek::ApplicationConfiguration.get_application_title) %>
    <br style="clear:both;"/>
    <br/>

    Header image enabled:    <%= check_box_tag(:header_image_enabled, 1, Seek::ApplicationConfiguration.get_header_image_enabled) %>
    <br style="clear:both;"/>
    <br/>
    Header image link:    <%= text_field_tag(:header_image_link, Seek::ApplicationConfiguration.get_header_image_link) %>
    <br style="clear:both;"/>
    <br/>
    Header image title:    <%= text_field_tag(:header_image_title, Seek::ApplicationConfiguration.get_header_image_title) %>
    <br style="clear:both;"/>
    <br/>

    <%= submit_tag "Update" %>
  </div>
<% end -%>





