<%= stylesheet_link_tag "settings" -%>

<div class="show_basic">
<% form_tag :action=>"update_rebrand" do -%>
   <ul class="settings">
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Project name",
            :field=>text_field_tag(:project_name, Seek::Config.project_name)
         } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Project title",
            :field=>text_field_tag(:project_type, Seek::Config.project_title)
         } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Project type",
            :field=>text_field_tag(:project_type, Seek::Config.project_type)
        } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Project link",
            :field=>text_field_tag(:project_link, Seek::Config.project_link)
         } -%>

        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Project long name",
            :field=>text_field_tag(:project_long_name, Seek::Config.project_long_name)
         } -%>

        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Data management project name",
            :field=>text_field_tag(:dm_project_name, Seek::Config.dm_project_name)
         } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Data management project title",
            :field=>text_field_tag(:dm_project_title, Seek::Config.dm_project_title)
         } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Data management project link",
            :field=>text_field_tag(:dm_project_link, Seek::Config.dm_project_link)
         } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Application name",
            :field=>text_field_tag(:application_name, Seek::Config.application_name)
         } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Application title",
            :field=>text_field_tag(:application_title, Seek::Config.application_title)
         } -%>

        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Header image enabled",
            :field=>check_box_tag(:header_image_enabled, 1, Seek::Config.header_image_enabled,:onchange=>toggle_appear_javascript('header_image_details'))
         } -%>

        <ul class="settings" id="header_image_details" class="additional_settings" style="<%= show_or_hide_block Seek::Config.header_image_enabled -%>">
            <%= render :partial=>'setting_li',:locals=>{
                :description=>"Something about the feature",
                :name=>"Header image filename",
                :field=>text_field_tag(:header_image, Seek::Config.header_image)
            } -%>
            <%= render :partial=>'setting_li',:locals=>{
                :description=>"Something about the feature",
                :name=>"Header image link",
                :field=>text_field_tag(:header_image_link, Seek::Config.header_image_link)
            } -%>
            <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Header image title",
            :field=>text_field_tag(:header_image_title, Seek::Config.header_image_title)
         } -%>
        </ul>

        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Something about the feature",
            :name=>"Copyright addendum enabled",
            :field=>check_box_tag(:copyright_addendum_enabled, 1, Seek::Config.copyright_addendum_enabled,:onchange=>toggle_appear_javascript('copyright_details'))
         } -%>
         <ul class="settings" id="copyright_details" style="<%= show_or_hide_block Seek::Config.copyright_addendum_enabled -%>">
            <%= render :partial=>'setting_li',:locals=>{
                :description=>"Something about the feature",
                :name=>"Copyright addendum content",
                :field=>text_field_tag(:copyright_addendum_content, Seek::Config.copyright_addendum_content)
            } -%>
         </ul>
        <li>
            <%= submit_tag "Update",:disable_with=>"Updating..." -%>
        </li>

   </ul>
<% end -%>
</div>





