<%= stylesheet_link_tag "settings" -%>

<h1>Site branding</h1>

<div class="show_basic">
<% form_tag :action=>"update_rebrand" do -%>
   <ul class="settings">
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"A name for you project, this is the text that is used in sentences. Example Sysmo_DB, Virtual Liver",
            :name=>"Project name",
            :field=>text_field_tag(:project_name, Seek::Config.project_name)
         } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"The title for you project, this is the text that is used in titles. In the majority of cases it will be the same as project name, unless you want to prefix it with 'The'.",
            :name=>"Project title",
            :field=>text_field_tag(:project_title, Seek::Config.project_title)
         } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Whether your project is a group, consortium, etc.",
            :name=>"Project type",
            :field=>text_field_tag(:project_type, Seek::Config.project_type)
        } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"A URL that is used as a link to your projects website.",
            :name=>"Project link",
            :field=>text_field_tag(:project_link, Seek::Config.project_link)
         } -%>

        <%= render :partial=>'setting_li',:locals=>{
            :description=>"The name of your application, as used in sentences, if you are extending SEEK and wish to give it a different name.",
            :name=>"Application name",
            :field=>text_field_tag(:application_name, Seek::Config.application_name)
         } -%>
     
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"The name of your application, as used in titles, if you are extending SEEK and wish to give it a different name.",
            :name=>"Application title",
            :field=>text_field_tag(:application_title, Seek::Config.application_title)
         } -%>

        <%= render :partial=>'setting_li',:locals=>{
            :description=>"The name of the data management project, if different from the project, as used in titles. For example, in SysMO the project is SysMO, but the DM project name is SysMO-DB",
            :name=>"Data management project name",
            :field=>text_field_tag(:dm_project_name, Seek::Config.dm_project_name)
         } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"The name of the data management project, as used in titles.",
            :name=>"Data management project title",
            :field=>text_field_tag(:dm_project_title, Seek::Config.dm_project_title)
         } -%>
        <%= render :partial=>'setting_li',:locals=>{
            :description=>"A URL that is used in links to the data management project",
            :name=>"Data management project link",
            :field=>text_field_tag(:dm_project_link, Seek::Config.dm_project_link)
         } -%>


        <%= render :partial=>'setting_li',:locals=>{
            :description=>"Whether a header image appears on the right in the header.",
            :name=>"Header image enabled",
            :field=>check_box_tag(:header_image_enabled, 1, Seek::Config.header_image_enabled,:onchange=>toggle_appear_javascript('header_image_details'))
         } -%>

        <ul class="settings" id="header_image_details" class="additional_settings" style="<%= show_or_hide_block Seek::Config.header_image_enabled -%>">
            <%= render :partial=>'setting_li',:locals=>{
                :description=>"The filename for the header image - this must reside in the public/images directory of the installed SEEK.",
                :name=>"Header image filename",
                :field=>text_field_tag(:header_image, Seek::Config.header_image)
            } -%>
            <%= render :partial=>'setting_li',:locals=>{
                :description=>"A URL that is used as the link in the header image.",
                :name=>"Header image link",
                :field=>text_field_tag(:header_image_link, Seek::Config.header_image_link)
            } -%>
            <%= render :partial=>'setting_li',:locals=>{
            :description=>"A title for the header image.",
            :name=>"Header image title",
            :field=>text_field_tag(:header_image_title, Seek::Config.header_image_title)
         } -%>
        </ul>

        <%= render :partial=>'setting_li',:locals=>{
            :description=>"If you have been developing SEEK for your project, you may been to provide some additional copyright information.",
            :name=>"Copyright addendum enabled",
            :field=>check_box_tag(:copyright_addendum_enabled, 1, Seek::Config.copyright_addendum_enabled,:onchange=>toggle_appear_javascript('copyright_details'))
         } -%>
         <ul class="settings" id="copyright_details" style="<%= show_or_hide_block Seek::Config.copyright_addendum_enabled -%>">
            <%= render :partial=>'setting_li',:locals=>{
                :description=>"Additional copyright information that is appended to the information in the footer",
                :name=>"Copyright addendum content",
                :field=>text_field_tag(:copyright_addendum_content, Seek::Config.copyright_addendum_content)
            } -%>
         </ul>

          <%= render :partial=>'setting_li',:locals=>{
            :description=>"An email that is used to send notification from SEEK.",
            :name=>"Noreply sender",
            :field=>text_field_tag(:noreply_sender, Seek::Config.noreply_sender)
         } -%>

        <li>
            <%= submit_tag "Update",:disable_with=>"Updating..." -%>
        </li>

   </ul>
<% end -%>
</div>





