<h1> Administration <span style="font-size:smaller;"><%= version_text -%></span></h1>


<div class="show_basic">
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Tasks", :partial => 'admin/tasks'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Site configuration",:partial => 'admin/site_configuration'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Statistics", :partial => 'admin/stats'} -%>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Manage Administrators", :partial => 'admin/admin_selection'} -%>

  <br/>
  <div class='box_infotext'>
      If you are running in an production environment deployed in conjunction with <%= link_to "Passenger Phusion (modrails)","http://www.modrails.com/",:target=>"_blank" -%>
      on a single machine, then the following button will restart the instances for you.
    </div>
  <br/>
  <%= button_to 'Restart server', {:action => 'restart_server', :controller => 'admin'}, :confirm => 'Are you sure you want to restart the server?', :disable_with=>"Restarting..." -%>
</div>