<h1> Administration <span style="font-size:smaller;"><%= "(v.#{APP_VERSION.to_s})" -%></span></h1>


<div class="show_basic">
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Tasks", :partial => 'admin/tasks', :start_open => true} %>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Statistics", :partial => 'admin/stats'} %>
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Manage Administrators", :partial => 'admin/admin_selection'} %>  
  <%= render :partial => 'layouts/collapsable_div', :locals => {:title => "Impersonate User", :partial => 'admin/impersonate'} %>
</div>