
<% options = (action == :new_popup || action == :edit_popup) ? {:remote=> true} : {}
  types ||= Array(@suggested_type.term_type)
   selected_uri = @suggested_type.parent.try(:uri) || @suggested_type.ontology_uri
%>

<%= form_for @suggested_type, options do |f| %>
<%= f.error_messages %>
<%#= f.hidden_field :term_type%>

<center>
  <div style="width: 60%;">

    <p>
      <%= f.label :label-%>*<br/>
      <%= f.text_field :label,{:style=>"width: 100%"} -%>
    </p>

    <p>
         <%= f.label "Parent" -%><br/>
         <span style="color: #666666;"> Select parent</span><br/>
      <%= ontology_selection_list types, "#{@suggested_type.class.name.underscore}[parent_uri]",
                                  selected_uri,
                                  ([@suggested_type] + @suggested_type.all_children).map(&:uri),
                                   {:style => "width:100%"}
      %>

    </p>
  </div>
</center>
<div align="center" style="margin-top: 1.5em">
  <%= f.submit(create_or_update_text) -%>
  or <%= cancel_link %>
</div>

<% end -%>
