<%
  all_organisms = Organism.find(:all,:order=>:title)
-%>
<script type="text/javascript">
    strain_form("<%=strain.try(:id)-%>", "<%=strain.try(:organism_id)-%>", 'create', '<%=url_for(:controller => 'biosamples', :action => 'strain_form')-%>');
</script>
<% remote_form_for 'biosamples', :url => url_for(:controller => 'biosamples', :action => 'create_strain'),
  :condition=>"validateStrainFields('create')",
  :html=>{:method=>:post} do  -%>
<div id="redbox_contents_div" class="redbox_contents" style="width:800px;">
	<div class="head">
		<%= link_to_close_redbox image_tag("close.gif"), :style => "float:right; margin-left:0.5em; vertical-align:middle;" -%>
		<span style="vertical-align:middle;">
			Create new strain
		</span>
	</div>

    <div class="body">
      <span style="font-weight: bold;">Organism</span><span class="required">*</span>
      <%= select_tag "strain[organism_id]",
        options_for_select([["Select Organism ...", 0]]|all_organisms.collect{|o| [truncate(h(o.title)), o.id]},try_block{strain.organism_id} || try_block{current_user.person.projects.first.organism_ids.first}),
        :disabled => strain.nil? ? false : true
      -%>
      <!--when organism selection box is disabled, the param strain[organism_id] is not sent to server, so need to create a hidden_field_tag
     -->
      <% if !strain.nil? %>
        <%= hidden_field_tag 'strain[organism_id]', strain.try(:organism_id)-%>
      <% end %>
      <div id='strain_form'></div>

      <div align="center" style="margin-top: 1.5em">
        <%= submit_tag('Create', :style => "font-weight: bold;", :id => "create_strain")%> Or
        <input type=button value='Cancel' onclick="RedBox.close()">
      </div>
    </div>
</div>
<% end %>