<%= javascript_include_tag 'strain.js' %>
<script type="text/javascript" charset="utf-8">
    $j(document).ready(function() {
        specimen_table = $j('#specimen_table').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bRetrieve": true,
            "aaSorting": [
                [ 2, "asc" ]
            ],
            "aoColumns": [
                null,
                { "sWidth": "5%", 'bSortable':false },
                { "sWidth": "20%" },
                { "sWidth": "15%" },
                { "sWidth": "10%" },
                { "sWidth": "10%" },
                { "sWidth": "10%" },
                { "sWidth": "10%" },
                { "sWidth": "5%" },
                { "sWidth": "15%" }
            ],
            "fnInitComplete": function () {
                this.fnAdjustColumnSizing(true);
            }
        }).rowGrouping({"sGrupingClass": 'row_group_color'});
    });

</script>

<div id="existing_specimens">
  <% unless strains.blank? %>
      <% if Seek::Config.is_virtualliver %>
           <h2>Specimen</h2>
      <% else %>
           <h2>Cell culture (chemostat or batch)</h2>
      <% end %>
      <% if existing_specimens.empty? -%>
          <p class="none_text">No <%= CELL_CULTURE_OR_SPECIMEN%>s have yet been defined for the selected organisms and strains.</p>
      <% else -%>
          <p class="none_text">Please select the <%= CELL_CULTURE_OR_SPECIMEN%>s to browse the associated samples.</p>

          <div class="scroll_box">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="specimen_table" style="width: 100%">
              <thead>
              <tr>
                <th>Strain</th>
                <th></th>
                <th>Title</th>
                <th>Culture starting date</th>
                <th>Culture type</th>
                <th>Genotypes</th>
                <th>Phenotypes</th>
                 <th>Creators</th>

                <th>ID</th>
                <th>Related SOPs</th>
              </tr>
              </thead>
              <tbody>
              <% existing_specimens.each do |specimen| -%>

                  <%
                     strain = specimen.strain
                     strain_info = 'Strain ' + strain.info + "(ID=#{strain.id})"
                     selected = false
                     if strain.is_default?
                       #strain_info = ''
                       selected = true
                     end
                     creators = specimen.creators.collect(&:name)
                     creators << specimen.other_creators unless specimen.other_creators.blank?


                  %>

                  <tr>
                    <td><%= strain_info -%></td>
                    <td><%= check_box_tag "selected_specimen_#{specimen.id}", specimen.id, selected, {:onchange => remote_function(:url => {:controller => 'biosamples', :action => 'existing_samples'}, :with => "'specimen_ids=' + getSelectedSpecimens()") + ";show_existing_samples();" } %></td>
                    <td><%= link_to specimen.title, specimen_path(specimen.id), {:target => '_blank'} -%></td>
                    <td><%= specimen.born_info -%></td>
                    <td><%= specimen.culture_growth_type.try(:title) -%></td>
                    <td><%= specimen.genotype_info %> </td>
                    <td><%= specimen.phenotype_info %></td>
                    <td><%= creators.join(', ')-%></td>
                    <td><%= specimen.id %></td>
                    <td><%= asset_version_links(specimen.sops).join(", ") -%></td>
                  </tr>
              <% end -%>
              </tbody>
            </table>
          </div>
      <% end -%>
      <% if logged_in? and current_user.person.member? %>
          <ul class="sectionIcons">
            <li><%= create_sample_popup_link -%></li>
            <br/>
            <br/>
            (create a new sample and <%= CELL_CULTURE_OR_SPECIMEN %>, or create a new sample for the selected <%= CELL_CULTURE_OR_SPECIMEN %>)
          </ul>
          <br/>
      <% end %>
  <% end -%>
</div>



