<script type="text/javascript" charset="utf-8">
    $j(document).ready(function() {
        sample_table = $j('#sample_table').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bRetrieve": true,
            "aaSorting": [
                [ 1, "asc" ]
            ],
            "aoColumns": [
                null,
                { "sWidth": "20%" },
                { "sWidth": "20%" },
                { "sWidth": "15%" },
                { "sWidth": "15%" },
                { "sWidth": "20%" },
                { "sWidth": "10%" }
            ],
            "fnInitComplete": function () {
                this.fnAdjustColumnSizing(true);
            }
        }).rowGrouping({"sGrupingClass": 'row_group_color'});

    });
</script>
<div id="existing_samples">
  <% unless specimens.blank? %>
      <h2>Sample</h2>
      <% if existing_samples.empty? -%>
          <p class="none_text">No samples have yet been defined for the selected <%= CELL_CULTURE_OR_SPECIMEN -%>s
          </p>
      <% else -%>
          <br/>
          <br/>

          <div class="scroll_box">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="sample_table">
              <thead>
              <tr>
                <th>Specimen</th>
                <th>Title</th>
                <th>Lab internal identifier</th>
                <th>Date at sampling</th>
                <th>Age at sampling(hours)</th>
                <th>Provider name</th>
                <th>ID</th>
              </tr>
              </thead>
              <tbody>
              <% existing_samples.each do |sample| -%>
                  <tr class="gradeX">
                    <td><%= sample.specimen_info %> </td>
                    <td><%= link_to sample.title, sample_path(sample.id), {:target => '_blank'} %> </td>
                    <td><%= sample.lab_internal_number %> </td>
                    <td><%= sample.sampling_date_info %> </td>
                    <td><%= sample.age_at_sampling %> </td>
                    <td><%= sample.provider_name_info %></td>
                    <td><%= sample.id %></td>
                  </tr>
              <% end -%>
              </tbody>
            </table>
          </div>
      <% end -%>
  <% end -%>
</div>
