<script type="text/javascript" charset="utf-8">
    $j(document).ready(function() {
        strain_table = $j('#strain_table').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bRetrieve": true,
            "aaSorting": [
                [ 2, "asc" ]
            ],
            "aoColumns": [
            null,
            { "sWidth": "5%", "bSortable": false },
            { "sWidth": "15%" },
            { "sWidth": "15%" },
            { "sWidth": "20%" },
            { "sWidth": "5%" },
            { "sWidth": "10%" },
            { "sWidth": "15%" },
            { "sWidth": "15%" },
            { "sWidth": "5%" },
            { "sWidth": "5%" }
            ]
        }).rowGrouping({"sGrupingClass": 'row_group_color'});
    });
</script>

<div id="existing_strains">
  <h2>Strain</h2>
  <%
     organisms_title = organisms.collect { |organism| organism.title }
     organisms_title = organisms_title.blank? ? '' : organisms_title.join(', ')
  %>
  <% if existing_strains.empty? -%>
      <p class="none_text">No strains have yet been defined for
        <span style="font-weight: bold;"> <%= h(organisms_title) -%></span>.</p>
  <% else -%>
      <p class="none_text">Please select the strains to browse the associated <%= CELL_CULTURE_OR_SPECIMEN -%>s.
      </p>
      <div class="scroll_box">
      <table cellpadding="0" cellspacing="0" class="display" id="strain_table">
        <thead>
        <tr>
          <th>Organism</th>
          <th></th>
          <th>Name</th>
          <th>Genotypes</th>
          <th>Phenotypes</th>
          <th>ID</th>
          <th>Synonym</th>
          <th>Comment</th>
          <th>Parent</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%
           existing_strains.each do |strain| -%>
            <tr class="gradeA">
              <td><%= link_to strain.organism.title, organism_path(strain.organism.id), {:target => '_blank'} %></td>
              <td><%= check_box_tag "selected_strain_#{strain.id}", strain.id, false, :onchange => remote_function(:url => {:controller => 'biosamples', :action => 'existing_specimens'}, :with => "'strain_ids=' + getSelectedStrains()") +
                      ";show_existing_specimens();hide_existing_samples();" %>
              </td>
              <td><%= strain.title %> </td>
              <td><%= strain.genotype_info %> </td>
              <td><%= strain.phenotype_info %></td>
              <td><%= strain.id %></td>
              <td><%= strain.synonym %> </td>
              <td><%= strain.comment %></td>
              <td><%= strain.parent_strain %></td>
              <td><%= link_to_remote image("destroy",:alt=>"Delete",:title=>"Delete this entry"),
                           :url => { :action => "destroy", :controller => 'biosamples', :id => strain.id, :class => 'strain', :id_column_position => 5},
                           :confirm=>"Are you sure?",:method=>:delete if strain.can_delete?
                  -%>
              </td>
              <td><%= edit_strain_popup_link strain %></td>
            </tr>
        <% end -%>
        </tbody>
      </table>
      </div>
  <% end -%>
<% if logged_in? and current_user.person.member? %>
  <ul class="sectionIcons">
    <li><%= create_strain_popup_link() -%></li>
    <br/>
    <br/>
    (create a new strain or one based on the selected one)
  </ul>
  <% end %>
</div>
