<script type="text/javascript" charset="utf-8">
    $j(document).ready(function () {
        strain_table = $j('#strain_table').dataTable({
            "bPaginate":false,
            "bLengthChange":false,
            "bFilter":true,
            "bSort":true,
            "bInfo":false,
            "bAutoWidth":false,
            "bRetrieve":true,
            "aaSorting":[
                [ 2, "asc" ]
            ],
            "aoColumns":[
                null,
                { "sWidth":"5%", "bSortable":false },
                { "sWidth":"15%" },
                { "sWidth":"15%" },
                { "sWidth":"15%" },
                { "sWidth":"5%" },
                { "sWidth":"10%" },
                { "sWidth":"15%" },
                { "sWidth":"15%" },
                { "sWidth":"2.5%", "bSortable":false },
                { "sWidth":"2.5%", "bSortable":false }
            ]
        }).rowGrouping({"sGrupingClass":'row_group_color'});
    });
    initialiseFold('existing_strains');
</script>

<div class="fold" id="existing_strains" style="margin-left: 1em">
  <div class="foldTitle">
    Strain
  </div>
  <div class="foldContent">
    <%
       organisms_title = organisms.collect { |organism| organism.title }
       organisms_title = organisms_title.blank? ? '' : organisms_title.join(', ')
    %>
    <% if existing_strains.empty? -%>
        <p class="none_text">No strains have yet been defined for
          <span style="font-weight: bold;"> <%= h(organisms_title) -%></span>.</p>
    <% else -%>
        <p class="none_text">Please select the strains to browse the associated <%= CELL_CULTURE_OR_SPECIMEN -%>s.
        </p>

        <div class="scroll_box">
          <table cellpadding="0" cellspacing="0" class="display" id="strain_table">
            <thead>
            <tr>
              <th>Organism</th>
              <th></th>
              <th>Name</th>
              <th>Genotypes</th>
              <th>Phenotypes</th>
              <th>Seek ID</th>
              <th>Synonym</th>
              <th>Creator</th>
              <th>Based on</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <%
               existing_strains.each do |strain| -%>
                <tr class="gradeA">
                  <% strain_row_data = strain_row_data strain %>
                  <% strain_row_data.each do |column_data| %>
                      <td><%= column_data %></td>
                  <% end %>
                </tr>
            <% end -%>
            </tbody>
          </table>
        </div>
        <br/>

        <div style="margin-bottom: <%= logged_in_and_member? ? '-2em' : '0em'%>">
          <input type="button" id='select_all_strains' name="select_all_strains" value="Select all" onclick="selectAll('strain_table')">
          <input type="button" id='deselect_all_strains' name="deselect_all_strains" value="Deselect all" onclick="deselectAll('strain_table')">
        </div>
    <% end -%>
    <% if logged_in_and_member? %>
        <ul class="sectionIcons">
          <li><%= create_strain_popup_link() -%></li>
          <br/>
          <br/>
          (create a new strain or one based on the selected one)
        </ul>
    <% end %>
  </div>
</div>

