<%= javascript_include_tag 'strain.js' %>
<script type="text/javascript" charset="utf-8">
    $j(document).ready(function() {
        specimen_table = $j('#specimen_table').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bRetrieve": true,
            "aaSorting": [
                [ 2, "asc" ]
            ],
            "aoColumns": [
                null,
                { "sWidth": "5%", 'bSortable':false },
                { "sWidth": "15%" },
                { "sWidth": "10%" },
                { "sWidth": "10%" },
                { "sWidth": "10%" },
                { "sWidth": "10%" },
                { "sWidth": "10%" },
                { "sWidth": "5%" },
                { "sWidth": "15%" },
                { "sWidth": "5%", 'bSortable':false },
                { "sWidth": "5%", 'bSortable':false }
            ],
            "fnInitComplete": function () {
                this.fnAdjustColumnSizing(true);
            }
        }).rowGrouping({"sGrupingClass": 'row_group_color'});
    });

</script>

<div id="existing_specimens">
      <% if Seek::Config.is_virtualliver %>
           <h2>Specimen</h2>
      <% else %>
           <h2>Cell culture (chemostat or batch)</h2>
      <% end %>
      <% if existing_specimens.empty? -%>
          <p class="none_text">No <%= CELL_CULTURE_OR_SPECIMEN%>s have yet been defined for the selected organisms and strains.</p>
      <% else -%>
          <p class="none_text">Please select the <%= CELL_CULTURE_OR_SPECIMEN%>s to browse the associated samples.</p>

          <div class="scroll_box">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="specimen_table" style="width: 100%">
              <thead>
              <tr>
                <th>Strain</th>
                <th></th>
                <th>Title</th>
                <th>Culture starting date</th>
                <th>Culture type</th>
                <th>Genotypes</th>
                <th>Phenotypes</th>
                 <th>Creators</th>

                <th>ID</th>
                <th>Related SOPs</th>
              </tr>
              </thead>
              <tbody>
              <% existing_specimens.each do |specimen| -%>


                  <tr>
                  <% specimen_row_data = specimen_row_data specimen %>
                  <% specimen_row_data.each do |column_data| %>
                      <td><%= column_data %></td>
                  <% end %>
                  </tr>
              <% end -%>
              </tbody>
            </table>
          </div>
      <% end -%>
  <% if logged_in? and current_user.person.member? %>
            <ul class="sectionIcons">
              <li><%= create_sample_popup_link -%></li>
              <br/>
              <br/>
              (create a new sample and <%= CELL_CULTURE_OR_SPECIMEN %>, or create a new sample for the selected <%= CELL_CULTURE_OR_SPECIMEN %>)
            </ul>
            <br/>
  <% end %>
</div>



