<script type="text/javascript" charset="utf-8">
    $j(document).ready(function() {
        strain_table = $j('#strain_table').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bRetrieve": true,
            "aaSorting": [
                [ 2, "asc" ]
            ],
            "aoColumns": [
            null,
            { "sWidth": "5%", "bSortable": false },
            { "sWidth": "20%" },
            { "sWidth": "20%" },
            { "sWidth": "20%" },
            { "sWidth": "5%" },
            { "sWidth": "20%" },
            { "sWidth": "20%" }
            ]
        }).rowGrouping({"sGrupingClass": 'row_group_color'});
    });
</script>

<div id="existing_strains">
  <h2>Strain</h2>
  <%
     organisms_title = organisms.collect { |organism| organism.title }
     organisms_title = organisms_title.blank? ? '' : organisms_title.join(', ')
  %>
  <% if existing_strains.empty? -%>
      <p class="none_text">No strains have yet been defined for
        <span style="font-weight: bold;"> <%= h(organisms_title) -%></span>.</p>
  <% else -%>
      <p class="none_text">Please select the strains to see <%= CELL_CULTURE_OR_SPECIMEN -%>s.
      </p>
      <div class="scroll_box">
      <table cellpadding="0" cellspacing="0" class="display" id="strain_table">
        <thead>
        <tr>
          <th>Organism</th>
          <th></th>
          <th>Name</th>
          <th>Genotypes</th>
          <th>Phenotypes</th>
          <th>ID</th>
          <th>Synonym</th>
          <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <%
           existing_strains.each do |strain| -%>
            <%
               genotype_detail = []
               strain.genotypes.each do |genotype|
                   genotype_detail << genotype.modification.try(:title).to_s + ' ' + genotype.gene.try(:title).to_s if genotype.gene
               end
               genotype_detail = genotype_detail.blank? ? 'wild-type' : genotype_detail.join('; ')
               phenotype_detail = strain.phenotype.try(:description)
               if phenotype_detail.blank?
                 phenotype_detail = 'wild-type'
               else
                 phenotype_detail = phenotype_detail.gsub('$$$', '; ')
               end

            %>
            <tr class="gradeA">
              <td><%= link_to strain.organism.title, organism_path(strain.organism.id), {:target => '_blank'} %></td>
              <td><%= check_box_tag "selected_strain_#{strain.id}", strain.id, false, :onchange => remote_function(:url => {:controller => 'biosamples', :action => 'existing_specimens'}, :with => "'strain_ids=' + getSelectedStrains()") +
                      ";show_existing_specimens();hide_existing_samples();" %>
              </td>
              <td><%= strain.title %> </td>
              <td><%= genotype_detail %> </td>
              <td><%= phenotype_detail %></td>
              <td><%= strain.id %></td>
              <td><%= strain.synonym %> </td>
              <td><%= strain.comment %></td>
            </tr>
        <% end -%>
        </tbody>
      </table>
      </div>
  <% end -%>
<% if logged_in? and current_user.person.member? %>
  <ul class="sectionIcons">
    <li><%= create_strain_popup_link() -%></li>
    <br/>
    <br/>
    (create new strain or based on selected one)
  </ul>
  <% end %>
</div>
