<script type="text/javascript" charset="utf-8">
    $j(document).ready(function() {
        sample_table = $j('#sample_table').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "bRetrieve": true,
            "aaSorting": [
                [ 1, "asc" ]
            ],
            "aoColumns": [
                null,
                { "sWidth": "15%" },
                { "sWidth": "15%" },
                { "sWidth": "15%" },
                { "sWidth": "15%" },
                { "sWidth": "15%" },
                { "sWidth": "5%" },
                { "sWidth": "15%" },
                { "sWidth": "2.5%", 'bSortable':false },
                { "sWidth": "2.5%", 'bSortable':false }
            ],
            "fnInitComplete": function () {
                this.fnAdjustColumnSizing(true);
            }
        }).rowGrouping({"sGrupingClass": 'row_group_color'});

    });
</script>
<br/>
<% unless specimens.blank? %>
    <%= folding_panel('Sample', false, :id => 'existing_samples') do %>
      <% if existing_samples.empty? -%>
          <p class="none_text">No Samples have yet been defined for the selected <%= I18n.t('biosamples.sample_parent_term').pluralize -%></p>
      <% else -%>
          <div class="scroll_box">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="sample_table">
              <thead>
              <tr>
                <th>Specimen</th>
                <th>Title</th>
                <th>Lab internal identifier</th>
                <th>Date at sampling</th>
                <th><%= I18n.t 'biosamples.sample_age' %></th>
                <th>Provider name</th>
                <th>Seek ID</th>
                <th>Comment</th>
              </tr>
              </thead>
              <tbody>
              <% existing_samples.each do |sample| -%>
                  <tr class="gradeX">
                    <% sample_row_data = sample_row_data sample %>
                    <% sample_row_data.each do |column_data| %>
                        <td><%= column_data %></td>
                    <% end %>
                  </tr>
              <% end -%>
              </tbody>
            </table>
          </div>
      <% end -%>
      <% if logged_in_and_member? %>
           <%= create_sample_link -%>
      <% end %>
    <% end %>
<% end -%>

