<%= javascript_include_tag 'strain' %>
<script type="text/javascript" charset="utf-8">
    $j(document).ready(function() {
            var aoColumns;
            if (<%= Seek::Config.is_virtualliver%>) {
                aoColumns = [
                    null,
                    { "sWidth":"5%", 'bSortable':false },
                    { "sWidth":"15%" },
                    { "sWidth":"10%" },
                    { "sWidth":"10%" },
                    { "sWidth":"10%" },
                    { "sWidth":"10%" },
                    { "sWidth":"10%" },
                    { "sWidth":"5%" },
                    { "sWidth":"15%" },
                    { "sWidth":"5%", 'bSortable':false },
                    { "sWidth":"5%", 'bSortable':false }
                ]
            } else {
                aoColumns = [
                    null,
                    { "sWidth":"5%", 'bSortable':false },
                    { "sWidth":"20%" },
                    { "sWidth":"15%" },
                    { "sWidth":"15%" },
                    { "sWidth":"15%" },
                    { "sWidth":"5%" },
                { "sWidth": "20%" },
                { "sWidth": "2.5%", 'bSortable':false },
                { "sWidth": "2.5%", 'bSortable':false }
                ]
            }

            specimen_table = $j('#specimen_table').dataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": false,
                "bRetrieve": true,
                "aaSorting": [
                    [ 2, "asc" ]
                ],
                "aoColumns": aoColumns,
                "fnInitComplete": function () {
                    this.fnAdjustColumnSizing(true);
                }
            }).rowGrouping({"sGrupingClass": 'row_group_color'});
        });

</script>
<%= folding_panel(t('biosamples.sample_parent_term'), false, :id => 'existing_specimens') do %>
      <% if existing_specimens.empty? -%>
          <p class="none_text">No <%= I18n.t('biosamples.sample_parent_term').pluralize %> have yet been defined for the selected Organisms and Strains.</p>
      <% else -%>
          <p class="none_text">Please select the <%= I18n.t('biosamples.sample_parent_term').pluralize %> to browse the associated Samples.</p>

          <div class="scroll_box">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="specimen_table" style="width: 100%">
              <thead>
              <tr>
                <th>Strain</th>
                <th></th>
                <th>Title</th>
                <th><%= I18n.t 'biosamples.specimen_culture_starting_date'%></th>
                <th>Culture type</th>
                <% if Seek::Config.is_virtualliver %>
                    <th>Genotypes</th>
                    <th>Phenotypes</th>
                <% end %>
                <th><%= I18n.t 'biosamples.specimen_creators'%></th>
                <th>Seek ID</th>
                <th>Related SOPs</th>
              </tr>
              </thead>
              <tbody>
              <% existing_specimens.each do |specimen| -%>


                  <tr>
                  <% specimen_row_data = specimen_row_data specimen %>
                  <% specimen_row_data.each do |column_data| %>
                      <td><%= column_data %></td>
                  <% end %>
                  </tr>
              <% end -%>
              </tbody>
            </table>
          </div>
          <br/>
          <div style="margin-bottom: 1em">
              <input type="button" id='select_all_specimens' name="select_all_specimens" value="Select all" onclick="selectAll('specimen_table')">
              <input type="button" id='deselect_all_specimens' name="deselect_all_specimens" value="Deselect all" onclick="deselectAll('specimen_table')">
          </div>
      <% end -%>
    <% if logged_in_and_member? %>
        <%= create_specimen_link -%>
    <% end %>
<% end %>
