<center>
  <div class="yui-u first  box_simple" style="width: 42%; margin-left: 2em; margin-top: 1em; margin-bottom: 1em;">
    <label style="font-weight: bold; border-bottom: 1px solid #DDD"> Genotypes:</label>
    <table id='genotype_table'>
      <tr>
        <th>Gene affected</th>
        <th>Kind of mutation</th>
      </tr>
      <% item.genotypes.each_with_index do |genotype, index| %>
          <tr id='genotype_row_<%= index %>'>
            <% f.fields_for :genotypes, genotype do |genotype_form| %>

                <td>
                  <% genotype_form.fields_for :gene, genotype.gene do |gene_form| %>
                      <%= gene_form.text_field :title, :size => 10 %>

                  <% end %>
                </td>
                <td>
                  <% genotype_form.fields_for :modification, genotype.modification do |modification_form| %>
                      <%= modification_form.text_field :title, :size => 10 %>
                  <% end %>
                </td>
                <td> <%= link_to_function image("destroy", :alt => "Delete", :title => "Delete this entry", :id => "delete_genotype_#{index}"), "fadeGenotypeRow('#{index}')" -%>
                </td>

            <% end %>
          </tr>
      <% end %>


    </table>
    <img src='/images/famfamfam_silk/add.png' alt="Add more" title="Add more gene and mutation" onclick="addGenotypeRow('genotype_table','<%=item.class.name.underscore%>')"/>
  </div>
</center>