<%= javascript_include_tag 'strain', 'biosample' %>
<%= stylesheet_link_tag  'data_tables',"biosamples" %>
<% parent_name ||= item.class.name.underscore
action ||=nil
%>
<center>
  <div class="yui-u  box_simple" style="width: 42%;margin-right: 2em; margin-top: 1em; margin-bottom: 1em;">
    <label style="font-weight: bold; border-bottom: 1px solid #DDD"> Phenotypes:</label>

    <table id='phenotype_table'>
      <% item.phenotypes.each_with_index do |phenotype,index| %>
          <%= f.fields_for :phenotypes, phenotype do |phenotype_form| %>
          <tr id='phenotype_row_<%= index %>'>
            <td>
              <%= phenotype_form.text_field :description, :size=>25 %>
            </td>
            <td> <%= link_to_function image("destroy", :alt => "Delete", :title => "Delete this entry", :id => "delete_phenotype_#{index}"), "fadePhenotypeRow('#{index}','#{action}')" -%>
            </td>
          </tr>
              <%= phenotype_form.hidden_field :_destroy,{:id => "phenotype_#{index}",:value=>0} %>
          <% end %>


      <% end %>

    </table>
    <img src='/images/famfamfam_silk/add.png' alt="Add more" title="Add more phenotype" onclick="addPhenotypeRow('phenotype_table','<%=parent_name%>','<%=action%>')"/>
  </div>
</center>