        <h2>Sample</h2>
        <p style="margin-bottom: 0.5em">
          <label style="float: left;"> Title:</label><span class="required">*</span>
          <%= text_field_tag "sample[title]", nil, :style => 'float:right;margin-right:30em' %>
        </p>

        <p style="margin-bottom: 0.5em">
          <label style="float: left;"> Lab internal identifier:</label><span class="required">*</span>
          <%= text_field_tag "sample[lab_internal_number]", nil, :style => 'float:right;margin-right:30em' %>
        </p>

        <p style="margin-bottom: 2em">
          <label style="float: left;"> Provider name:</label>
          <%= text_field_tag "sample[provider_name]", nil, :style => 'float:right;margin-right:30em' %>
        </p>

        <p style="margin-bottom: 2em">
          <label style="float: left;"> Provider's sample identifier:</label>
          <%= text_field_tag "sample[provider_id]", nil, :style => 'float:right;margin-right:30em' %>
        </p>

        <p style="margin-bottom: 0.5em">
          <label style="float: left;">Date at sampling:</label>
          <%= calendar_date_select_tag "sample[sampling_date]", nil, :time => "mixed", :style => 'float:right;margin-right:30em' %>
        </p>

        <p style="margin-bottom: 0.5em">
          <label style="float: left;">Age at sampling:</label>
          <%= text_field_tag "sample[age_at_sampling]", nil, :style => 'float:right;margin-right:30em' %> (hours)
        </p>

        <p style="margin-bottom: 3em">
          <label style="float: left;">Organism part:</label>
          <%= select_tag "sample[organism_part]", options_for_select(['whole cell', 'membrane fraction'].insert(0,'Not specified')), :style => 'float:right;margin-right:30em' %>
        </p>

        <%= render :partial => 'projects/project_selector', :locals => {:resource => Sample.new()}%>
        <br/>
        <%= render :partial => "assets/sharing_form", :locals => {:object => Sample.new(), :disable_advanced_view => true} -%>


