        <h2>Sample</h2>
        <p style="margin-bottom: 1.5em">
          <label style="float: left;"> Title:</label><span class="required">*</span>
          <%= text_field_tag "sample[title]", nil, :style => 'float:right;margin-right:30em' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <label style="float: left;"> Lab internal identifier:</label><span class="required">*</span>
          <%= text_field_tag "sample[lab_internal_identifier]", nil, :style => 'float:right;margin-right:30em' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <label style="float: left;"> Provider name:</label>
          <%= text_field_tag "sample[provider_name]", nil, :style => 'float:right;margin-right:30em' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <label style="float: left;"> Provider ID:</label>
          <%= text_field_tag "sample[provider_id]", nil, :style => 'float:right;margin-right:30em' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <label style="float: left;">Sampling date:</label>
          <%= calendar_date_select_tag "sample[sampling_date]", nil, :time => "mixed", :style => 'float:right;margin-right:30em' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <label style="float: left;">Age at sampling:</label>
          <%= text_field_tag "sample[age_at_sampling]", nil, :style => 'float:right;margin-right:30em' %>
        </p>


