<%= stylesheet_link_tag 'styles' -%>
<script type="text/javascript">
    initialiseFold('add_projects_form');
    initialiseFold('sharing_form');
    updateFancyMultiselect('strain_project_ids');
</script>
<div  id="strain_form">
       <% if action == 'create' %>
           <% parent_strain = strain.title %>
           <p class="none_text" style="margin-left: 15em;">
           <%= parent_strain.blank? ? '' : "You will create this new strain based on #{parent_strain}"%>
           </p>
           <%= hidden_field_tag 'strain[parent_id]', strain.id %>
       <% end %>

  <div class="yui-g">
    <center>
      <div class="yui-u first" style="width: 42%; margin-left: 2em; margin-top: 1em; margin-bottom: 1em;">
        <p style="margin-bottom: 0.5em">
          <label style="float: left;"> Name:</label><span class="required">*</span>
          <%= text_field_tag "strain[title]", strain.title, :style => 'float:right' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <label style="float: left;">Provider's strain ID:</label>
          <%= text_field_tag "strain[provider_id]", strain.provider_id, :style => 'float:right' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <label style="float: left;"> Provider Name:</label>
          <%= text_field_tag "strain[provider_name]", strain.provider_name, :style => 'float:right' %>
        </p>

      </div>
    </center>

    <center>
      <div class="yui-u" style="width: 42%;margin-right: 2em; margin-top: 1em; margin-bottom: 1em;">

        <p style="margin-bottom: 1.5em">
          <label style="float: left;"> Synonym:</label>
          <%= text_field_tag "strain[synonym]", strain.synonym, :style => 'float:right' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <label style="float: left;"> Comment:</label>
          <%= text_area_tag "strain[comment]", strain.comment, :style => 'float:right', :cols => 18 %>
        </p>

      </div>
    </center>
  </div>

  <div class="yui-g">
    <% form_action = action=="create"? 'create_strain' : 'update_strain' %>
    <%= form_for strain, :url => url_for(:controller => 'biosamples', :action => form_action) do |strain_form| %>

        <%= render :partial => "strains/genotype_form",:locals => {:item=>strain,  :f=>strain_form,:action=>action} %>
        <%= render :partial => "strains/phenotype_form",:locals => {:item=>strain, :f=>strain_form,:action=>action} %>
    <% end %>

  </div>
  <br/>

  <%= render :partial => 'projects/project_selector', :locals => {:resource => strain}%>
  <br/>

  <% if (action == 'create') || (action == 'edit' && strain.can_manage?) %>
      <%= render :partial => "assets/sharing_form", :locals => {:object => strain, :disable_advanced_view => true} -%>
  <% end %>

    <%= hidden_field_tag 'strain[id]', strain.id %>
</div>


