<%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
<%= javascript_include_tag 'strain.js' %>
<%= stylesheet_link_tag 'calendar_date_select/default', "styles" %>

<%
   select_truncate_length=120
   all_organisms = Organism.find(:all, :order=>:title)
   default_selected_organisms =  try_block{current_user.person.projects.first.organism_ids}.blank? ? [0] : try_block{current_user.person.projects.first.organism_ids}
-%>

<h4 style="margin-left: 10em;margin-top:1em;margin-bottom: -1.5em;font-style:italic;color:gray;">From Organism to Sample: browsing available and creation new entries</h4>
<br/>
<div class='yui-g'>
  <div class='yui-u first' style="width: 48%;margin-left: 0.5em;margin-top: 1em">
  <h2>Organism</h2>
  <%= select_tag "strain[organism_ids]",
                 options_for_select([["Select Organisms ...", 0]]|all_organisms.collect { |o| [truncate(h(o.title), :length=>select_truncate_length), o.id] }, :selected => default_selected_organisms),
                 {:onchange=>remote_function(:url=>{:action=>"existing_strains", :controller=>"biosamples"},
                                             :with=>"'organism_ids='+$F('strain_organism_ids')",
                                             :before=>"show_ajax_loader('existing_strains')")+ ";check_show_existing_strains('strain_organism_ids', 'existing_strains', '');hide_existing_specimens();
                                             hide_existing_samples();return(false);",
                 :multiple => true} -%>

  </div>
  <div class='yui-u' id="existing_strains" style="width: 48%;margin-right: 0.5em"></div>
</div>
<div class="yui-g">
  <div class="yui-u first" id="existing_specimens" style="width: 48%;margin-left: 0.5em"></div>
  <div class="yui-u" id="existing_samples" style="width: 48%;margin-right: 0.5em"></div>
</div>

<script type="text/javascript">
    var organism = new Array();
    check_show_existing_strains('strain_organism_ids', 'existing_strains', '<%=url_for(:controller => 'biosamples', :action => 'existing_strains')-%>');
</script>
