Dear <%= @person.name%>,
<br/>
<br/>
<% if @frequency == 'immediately' %>
The following resources have just been created or updated in <%= Seek::Config.instance_name %>:
<% else %>
    <%
       if @frequency == 'daily'
         frequency = 'day'
       else
         frequency = @frequency.chomp('ly')
       end
    %>
    For the <%= t('project').pluralize %> you have subscribed to receive notifications, the following resources have been created or updated in <%= Seek::Config.instance_name %> during the past <%= frequency %>:
<% end %>
<br/>
<br/>

<% @activity_logs.group_by(&:action).each do |action, logs| %>
    <label style="color:#f0342a;"><b>Resources <%= action.capitalize%>d:</b></label>
    <div id="new_resources" class="new_resources" >
       <table border="1px" cellpadding="5" style="border-collapse: collapse;
              font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
              width: 100%;">

      <tr>
        <th align="left"><%= t('project') %> Names</th>
        <th align="left">Resource Type</th>
        <th align="left">Resource Name</th>
        <th align="left">Person</th>
        <th align="left">Date <%= action.capitalize%>d</th>
        <th align="left">Unsubscribe?</th>
      </tr>
         <%
            removed_duplicated_logs = []
            logs.sort { |a, b| b.updated_at <=> a.updated_at }.each do |log|
              removed_duplicated_logs << log unless removed_duplicated_logs.collect(&:activity_loggable).include?(log.activity_loggable)
            end
         %>
         <% removed_duplicated_logs.each do |log| %>
             <% resource_projects = log.try(:activity_loggable).try(:projects)
                person_subscribed_projects = @person.project_subscriptions.collect(&:project)
                reported_projects = resource_projects.to_a & person_subscribed_projects
                project_names = reported_projects.collect(&:title).join(',')
             %>

             <tr>
               <td><%= project_names.blank? ? "<span style='font-style:italic;color:#666666'>Not Specified</span>" : project_names %></td>
               <td><%= log.activity_loggable_type.humanize %></td>
               <td><%= try_block { link_to(log.activity_loggable.title, polymorphic_url(log.activity_loggable)) } || log.activity_loggable.title %></td>
               <td><%= link_to try_block { log.culprit.person.name }, person_url(log.culprit.person.id) %></td>
               <td> <%= date_as_string(log.created_at,true) %></td>
               <td> <%= link_to "Unsubscribe", polymorphic_url(log.activity_loggable) %></td>
             </tr>

         <% end %>
       </table>
    </div>
    <br style="clear:both"/>
<% end %>
<br/>
You can change your subscription setting by editing your profile:
<%= link_to('Edit profile', send("edit_#{@person.class.name.underscore}_url", @person.id)) -%>.
<br/>

You can unsubscribe from a particular resource by clicking on the Unsubscribe link in the subscription report above
<br/>
or by visiting that resource in <%= Seek::Config.instance_name %>
<br/>
<br/>

This is an automated email.