<%# #MERGENOTE - this needs a major sort out and splitting up, at least between the VLN and non-VLN bits -%>
<%= javascript_include_tag "tablesorter/jquery-latest.js", "tablesorter/jquery.tablesorter.js"%>
<%= stylesheet_link_tag "tablesorter/blue/tablesorter_blue.css" %>
<script type="text/javascript">
    jQuery.noConflict();
    var $j = jQuery;
    jQuery(document).ready(function(){
            $j("#content_stats_table").tablesorter({
                    //headers: {
                        // assign the first column (we start counting zero)
                  //      0: {
                            // disable it by setting the property sorter to false
                    //        sorter: false
                      //  }
                   // }
                });

    });
</script>

<%
  authorised_types=Seek::Stats::ContentStats::TYPES_FOR_STATS
  non_downloadable=[Investigation,Study,Assay]
  na_tag = content_tag(:span,"--",class:'none_text')
  #So we don't have to run lengthy authorization a second time when calculating total stats

  total_visible_models = []
  total_accessible_models = []
  total_publicly_visible_models = []
  total_publicly_accessible_models = []

  total_accessible_sops = []
  total_visible_sops = []
  total_publicly_accessible_sops = []
  total_publicly_visible_sops = []

  total_accessible_data_files = []
  total_visible_data_files = []
  total_publicly_visible_data_files = []
  total_publicly_accessible_data_files = []

  total_accessible_assays = []
  total_visible_assays = []
  total_publicly_visible_assays = []
  total_publicly_accessible_assays = []

  total_accessible_studies = []
  total_visible_studies = []
  total_publicly_visible_studies = []
  total_publicly_accessible_studies = []

  total_accessible_investigations = []
  total_visible_investigations = []
  total_publicly_visible_investigations = []
  total_publicly_accessible_investigations = []

  total_accessible_presentations = []
  total_visible_presentations = []
  total_publicly_visible_presentations = []
  total_publicly_accessible_presentations = []
%>

<h3>Content statistics</h3>
<%if Seek::Config.is_virtualliver %>
   
    For authorised assets the numbers are split as <em><b>total</b></em> (<em>publicly visible</em>/<em>publicly accessible</em>)
    <div>
      <table id="content_stats_table" class="tablesorter">
        <thead>
        <tr>
          <th>Project</th>
          <th>People *</th>
          <% authorised_types.each do |type| %>
              <th><%= resource_tab_item_name(type.name) -%></th>
          <% end %>

          <th>Publications</th>
        </tr>
        </thead>
        <tbody>
        <% stats.each do |stat| %>
            <tr>

              <td><%= link_to stat.project.name, stat.project -%></td>
              <% registered_people = stat.registered_people.count %>
              <td><%= stat.people.count -%></td>
              <% authorised_types.each do |type| %>
                  <% if stat.project.children.empty? %>
                      <% type_str = type.name.underscore.pluralize
                         pub_vis = stat.send("publicly_visible_#{type_str}")
                         pub_acc = stat.send("publicly_accessible_#{type_str}")
                         total = stat.send("#{type_str}").count
                         eval("total_publicly_visible_#{type_str} |= pub_vis")
                         eval("total_publicly_accessible_#{type_str} |= pub_acc")
                         display_total_pub_accessible_count = non_downloadable.include?(type) ? na_tag : pub_acc.count

                      -%>
                      <td><b><%= "#{total}" -%></b><%= " (#{pub_vis.count}/#{display_total_pub_accessible_count})".html_safe -%></td>
                     <% else %>
                      <td></td>
                  <% end -%>

              <% end -%>

              <td><%= stat.publications.count if stat.project.children.empty? -%> </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr style="background-color: #DEF">
          <td><b>Overall</b></td>
          <td><b><%= Person.count -%></b></td>
          <% authorised_types.each do |type| %>
              <% type_str = type.name.underscore.pluralize
                 total=type.count
                 total_pub_vis = eval("total_publicly_visible_#{type_str}").count
                 total_pub_acc = eval("total_publicly_accessible_#{type_str}").count
                 display_total_pub_accessible_count = non_downloadable.include?(type) ? na_tag : total_pub_acc

              %>
              <td><b><%= "#{total}" -%></b>   <%= " (#{total_pub_vis}/ #{display_total_pub_accessible_count})".html_safe -%></td>
          <% end -%>

          <td><b><%= Publication.count -%></b></td>
        </tr>
        </tfoot>

      </table>
    </div>
    <hr/>
    <em>* Note that this is the overall number of people, and registered users. This may not necessarily by the sum of the values above due to people being in multiple projects.</em>

<% else %>
For authorised assets the numbers are split as <em>total</em> / <em>visible</em> / <em>accessible</em> / <em>publicly visible</em> / <em>publicly accessible</em>
<table id="content_stats_table" class="tablesorter"> 
  <thead>
  <tr>
    <th><%= t('project') %></th>
    <th>People (Registered)</th>
    <% authorised_types.each do |type| %>
        <th><%= internationalized_resource_name(type.name) -%></th>
    <% end %>

    <th>Publications</th>
  </tr>
  </thead>
  <tbody>
  <% stats.each do |stat| %>
  <tr>
    <td><%= link_to stat.project.title, stat.project -%></td>
    <% registered_people = stat.registered_people.count %>
    <td><%= stat.people.count -%> (<%= registered_people -%>)</td>
    <% authorised_types.each do |type| %>
        <% type_str = type.name.underscore.pluralize
            vis = stat.send("visible_#{type_str}")
            acc = stat.send("accessible_#{type_str}")
            pub_vis = stat.send("publicly_visible_#{type_str}")
            pub_acc = stat.send("publicly_accessible_#{type_str}")
            total = stat.send("#{type_str}").count
            eval("total_visible_#{type_str} |= vis")
            eval("total_accessible_#{type_str} |= acc")
            eval("total_publicly_visible_#{type_str} |= pub_vis")
            eval("total_publicly_accessible_#{type_str} |= pub_acc")
            display_accessible_count = non_downloadable.include?(type) ? na_tag : acc.count
            display_pub_accessible_count = non_downloadable.include?(type) ? na_tag : pub_acc.count
        -%>
        <td><%= "#{total}/#{vis.count}/#{display_accessible_count}/#{pub_vis.count}/#{display_pub_accessible_count}".html_safe -%></td>
    <% end -%>

    <td><%= stat.publications.count -%> </td>
  </tr>
  <% end %>
  <tr style="background-color: #DEF">
    <td><b>Overall</b></td>
    <td><%= Person.count -%> (<%= User.count(:all,:conditions=>"person_id IS NOT NULL") -%>)<em>*</em></td>
    <% authorised_types.each do |type| %>
        <%  type_str = type.name.underscore.pluralize
            total=type.count
            total_vis = eval("total_visible_#{type_str}").count
            total_acc = eval("total_accessible_#{type_str}").count
            total_pub_vis = eval("total_publicly_visible_#{type_str}").count
            total_pub_acc = eval("total_publicly_accessible_#{type_str}").count
            display_total_accessible_count = non_downloadable.include?(type) ? na_tag : total_acc
            display_total_pub_accessible_count = non_downloadable.include?(type) ? na_tag : total_pub_acc
        %>
        <td><%= "#{total}/#{total_vis}/#{display_total_accessible_count}/#{total_pub_vis}/#{display_total_pub_accessible_count}".html_safe -%></td>
    <% end -%>

    <td><%= Publication.count -%></td>
  </tr>
  </tbody>
</table>
<hr/>
<em>* Note that this is the overall number of people, and registered users. This may not necessarily by the sum of the values above due to people being in multiple <%= t('project').pluralize %>.</em>
<% end %>