<%
   queue = AuthLookupUpdateQueue.all.to_a | ReindexingQueue.all.to_a
   queue = queue.sort_by(&:created_at)
   delayed_jobs = Delayed::Job.order(:created_at)
%>

<p>
  Total delayed jobs waiting = <%= delayed_jobs.count -%>
</p>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Time created</th>
    <th>Priority</th>
    <th>Queue</th>
    <th>Attempts</th>
    <th>Run at</th>
    <th>Locked at</th>
    <th>Failed at</th>
    <th>Handler</th>
  </tr>
  </thead>
  <% delayed_jobs.each do |item| %>
      <tr>
        <td><%= date_as_string(item.created_at,true) -%></td>
        <td><%= item.priority -%></td>
        <td><%= item.queue -%></td>
        <td><%= item.attempts -%></td>
        <td><%= date_as_string(item.run_at,true) -%></td>
        <td><%= date_as_string(item.locked_at,true) -%></td>
        <td>
          <%= item.failed_at.nil? ? date_as_string(item.failed_at,true) : link_to_function(date_as_string(item.failed_at,true),"Effect.toggle('last_error_#{item.id}','appear', { delay: 0.5 });") -%>
        </td>
        <td><%= item.handler -%></td>
      </tr>
      <% unless item.last_error.nil? -%>
          <tr id='<%= "last_error_#{item.id}" -%>' style="display:none;">
            <td colspan="7"><%= item.last_error -%></td>
          </tr>
      <% end %>
  <% end -%>
</table>

<hr/>

<p>
  Total waiting in queues = <%= queue.count -%>
</p>
<table id="job_queue" class="table table-hover">
  <tr>
    <th>Time created</th>
    <th>Priority</th>
    <th>Item type</th>
    <th>Item id</th>
    <th>Type</th>
  </tr>
  <% queue.each do |item| %>
      <tr>
        <td><%= date_as_string(item.created_at,true) -%></td>
        <td><%= item.respond_to?(:priority) ? item.priority : "<span class='none_text'>N/A</span>".html_safe -%></td>
        <td><%= item.item_type -%></td>
        <td><%= item.item_id -%></td>
        <td><%= item.class.name -%></td>
      </tr>
  <% end -%>
</table>
