<div id="workflow_filters">
  <h3>Currently showing</h3>
  <% if !(params.keys & ['category_id', 'uploader_id', 'query', 'visibility']).empty?  %>
    <ul>
      <% unless params[:category_id].blank? %>
        <li>
          In category <strong><%= WorkflowCategory.find_by_id(params[:category_id]).try(:name)-%></strong>
          <%= workflow_filter('(clear)', params, :category_id, nil) -%>
        </li>
      <% end %>
      <% unless params[:visibility].blank? %>
        <li>
        <% if params[:visibility] == 'private' %>
          <strong>Private</strong> workflows
          <%= workflow_filter('(clear)', params, :visibility, nil) -%>
        <% elsif params[:visibility] == 'public' %>
          <strong>Public</strong> workflows
          <%= workflow_filter('(clear)', params, :visibility, nil) -%>
        <% elsif params[:visibility] == 'registered' %>
            Only visible to <strong>registered users</strong>
          <%= workflow_filter('(clear)', params, :visibility, nil) -%>
        <% elsif params[:visibility].starts_with?('Project') %>
          Only visible to members of <strong><%= Project.find_by_id(params[:visibility].split(':').last).title-%></strong>
          <%= workflow_filter('(clear)', params, :visibility, nil) -%>
        <% end %>
        </li>
      <% end %>
      <% unless params[:uploader_id].blank? %>
        <li>
          Uploaded by <strong><%= User.find_by_id(params[:uploader_id]).try(:person).try(:name)-%></strong>
          <%= workflow_filter('(clear)', params, :uploader_id, nil) -%>
        </li>
      <% end %>
      <% if params[:commit] == "Search" && !params[:query].blank?  %>
        <li>
          Matching query: <strong><%= params[:query]-%></strong>
          <%= workflow_filter('(clear)', params, :query, nil) -%>
        </li>
      <% end %>
    </ul>

    <%= button_to 'Clear all filters', workflows_path, :method => :get -%>

  <% else %>
      All workflows
  <% end %>
  <h3>Filter by category</h3>
  <ul>
    <% WorkflowCategory.find_each do |category| %>
      <li><%= workflow_filter category.name, params, :category_id, category.id -%></li>
    <% end %>
  </ul>

  <% if logged_in? && current_user.person %>
    <h3>Filter by visibility</h3>
    <ul>
      <li><%= workflow_filter  'Your private workflows', params, :visibility, "private" -%></li>
      <% current_user.person.projects.each do |project| %>
        <li><%= workflow_filter  "Only visible to #{project.title} members", params, :visibility, "Project:#{project.id}" -%></li>
      <% end %>
      <li><%= workflow_filter  'Only visible to registered users', params, :visibility, "registered" -%></li>
      <li><%= workflow_filter  "Public workflows", params, :visibility, "public" -%></li>
    </ul>
  <% end %>

  <h3>Filter by uploader</h3>
  <ul>
    <% if logged_in? && current_user.person %>
      <li><%= workflow_filter  current_user.person.name, params, :uploader_id, current_user.id -%> (you)</li>
    <% end %>
    <% uploaders = User.all.select { |u| !u.person.nil? && u != current_user } %>
    <% uploaders.first(5).each do |user| %>
      <li><%= workflow_filter  user.person.name, params, :uploader_id, user.id -%></li>
    <% end %>
  </ul>
  <% if uploaders.count > 5 %>
    <ul id="uploader-list-expanded" style="display: none">
      <% uploaders.drop(5).each do |user| %>
        <li><%= workflow_filter  user.person.name, params, :uploader_id, user.id -%></li>
      <% end %>
    </ul>
    <a href="#" onclick="$('uploader-list-expanded').show(); $(this).hide(); return false" style="margin-left: 1em">Show all users</a>
  <% end %>
</div>