<%= form_for(@workflow, :html => {:multipart => true}) do |f| -%>
    <!-- Delete button -->
    <%= error_messages_for :workflow -%>
    <%= hidden_field_tag 'workflow[title]', 'A workflow' -%>
    <% if @workflow.new_record? %>
        <div class="form-group">
          <label>File</label>
          <div>
            <%= file_field_tag 'content_blobs[][data]' %>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <label>Category</label>
      <%= f.select(:category_id, WorkflowCategory.all.collect { |c| [c.name, c.id] }, {}, :class => 'form-control') %>
    </div>

    <div class="form-group">
      <label>MyExperiment Link</label>
      <%= f.text_field(:myexperiment_link, :class => 'form-control') -%>
    </div>

    <div class="form-group">
      <label>Documentation Link</label>
      <%= f.text_field(:documentation_link, :class => 'form-control') -%>
    </div>

    <div class="form-group">
      <label for="workflow_sweepable" class="enable-data-sweeps">
        <%= help_icon("Ticking this box will allow users to run batches of runs with this workflow. "+
                              "It may not be appropriate for all workflows to be ran in this manner, for example certain workflows with interactions.") -%>
        Allow data sweeps?
        <%= f.check_box(:sweepable, :style => "vertical-align: middle") -%>
      </label>
    </div>

    <% unless @workflow.new_record? %>
        <%= render :partial => 'port_type_table', :locals => {:f => f} %>
    <% end %>

    <div<%= ' style="display: none"'.html_safe if current_user.guest_project_member? -%>>
      <%= render :partial => "projects/project_selector", :locals => {:resource => @workflow} -%>
    </div>

    <%= fields_for(@workflow) do |form| %>
        <%= render :partial => "assets/asset_form_bottom",
                   :locals => {:f => form, :attribution_enable => false, :creators_enable => false, :show_publications => false, :sharing_enable => !current_user.guest_project_member?, :sharing_link => false} %>
    <% end %>

    <%= preview_permission_popup_link(@workflow) -%>
    <%= submit_tag (@workflow.new_record? ? "Next" : "Save Changes"),
                   :id => "workflow_submit_btn",
                   :onclick => "javascript: validateResourceFields(true,'workflow',true); return(false);",
                   :class => 'btn btn-primary'-%>
    or
    <%= cancel_button(@workflow.new_record? ? workflows_path : workflow_path) %>
<% end %>
