<%= folding_panel('Input and Output Types', false, :help_text => 'Specify the input and output types of the workflow.') do %>
    <div class="alert alert-info">
      Please specify the purpose of each workflow input and output port, and the type that they accept or produce.<br/><br/>
      Specifying the type of a port will help BioVeL Portal display workflow results and input data in an appropriate way.
    </div>
    <table>
      <tr>
        <th class="port-name">Inputs</th>
        <% WorkflowInputPortType.find_each do |t| %>
          <th class="port-type">
            <%= t.name -%>
          </th>
        <% end %>
        <th class="port-type">Type</th>
      </tr>
      <% input_ports = @workflow.input_ports.sort { |a, b| a.name.downcase <=> b.name.downcase } -%>
      <% output_ports = @workflow.output_ports.sort { |a, b| a.name.downcase <=> b.name.downcase } -%>
      <% if input_ports.blank? %>
        <tr><td class="port-type"><p class="none_text">None</p></td><td colspan="3"> </td></tr>
      <% else %>
        <%= f.fields_for(:input_ports, input_ports) do |i| %>
          <tr>
            <td class="port-name"><%= i.object.name %></td>
            <%= i.hidden_field(:name) %>
            <%= i.hidden_field(:description) %>
            <%= i.hidden_field(:example_value) %>
            <% WorkflowInputPortType.find_each do |t| %>
              <td class="port-type">
                <label>
                  <%= i.radio_button(:port_type_id, t.id) %>
                </label>
              </td>
            <% end %>
            <td class="port-type">
              <%= i.select(:mime_type, mime_type_options_for_select(i.object.mime_type)) -%>
            </td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <th class="port-name">Outputs</th>
        <% WorkflowOutputPortType.find_each do |t| %>
          <th class="port-type">
            <%= t.name -%>
          </th>
        <% end %>
        <th class="port-type">Type</th>
      </tr>
      <% if output_ports.blank? %>
        <tr>
          <td class="port-type"><p class="none_text">None</p></td>
          <td colspan="3"></td>
        </tr>
      <% else %>
        <%= f.fields_for(:output_ports, output_ports) do |o| %>
          <tr>
            <td class="port-name"><%= o.object.name %></td>
            <%= o.hidden_field(:name) %>
            <%= o.hidden_field(:description) %>
            <%= o.hidden_field(:example_value) %>
            <% WorkflowOutputPortType.find_each do |t| %>
              <td class="port-type">
                <label>
                  <%= o.radio_button(:port_type_id, t.id) %>
                </label>
              </td>
            <% end %>
            <td class="port-type">
              <%= o.select(:mime_type, mime_type_options_for_select(o.object.mime_type)) -%>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
<% end %>
