<h2 class="standout">
  <%= title -%> (<%= ports.count -%>)
</h2>
<% if ports.blank? -%>
    <p class="none_text" style="margin-left:20px;">None</p>
<% else %>
    <div>
      <% ports.each do |p| -%>
          <div class="workflow-port">
            <h3><%= p.name %> <%= "<span class='mime_type'>(#{p.mime_type})</span>".html_safe unless p.mime_type.blank? %></h3>

            <p>
              <strong>Description:</strong>
              <%= text_or_not_specified(p.description) %>
            </p>

            <% unless p.example_value.blank? %>
                <p>
                  <strong>Example value:</strong>
                </p>
                <pre class="script_example_data_box"><%= p.example_value %></pre>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>
