<h1>New <%= t('workflow') %></h1>

<%= form_tag do %>
  <%= hidden_field_tag :git_repository_id, @git_repository.id %>
  <%= hidden_field_tag :commit, @commit %>
  <%= hidden_field_tag :ref, @ref %>

  <%= render partial: 'git/path_selector_modal', locals: { tree: @tree, id: 'git-path-select-modal' } %>

  <%= panel do %>
    <div class="form-group">
      <label class="required">Workflow</label>
      <p class="help-block">The main executable workflow.</p>
      <%= git_path_input '#git-path-select-modal', :workflow, nil, class: 'form-control git-path' %>
    </div>

    <div class="form-group">
      <%= render partial: 'workflows/workflow_class_form', locals: { selected: nil } %>
      <p class="help-block">The type of the above workflow.</p>
    </div>
  <% end %>

  <%= panel do %>
    <div class="form-group">
      <label>Abstract CWL</label>
      <p class="help-block">(Optional) The abstract CWL that describes the workflow above.</p>
      <%= git_path_input '#git-path-select-modal', :abstract_cwl, nil, class: 'form-control git-path' %>
    </div>
  <% end %>

  <%= panel do %>
    <div class="form-group">
      <label>Diagram</label>
      <p class="help-block">(Optional) A diagram that illustrates the main workflow.</p>
      <%= git_path_input '#git-path-select-modal', :diagram, nil, class: 'form-control git-path' %>
    </div>
  <% end %>
<% end %>
