<%= javascript_include_tag "sharing.js","associate_events.js","assays.js","attribution.js","resource.js" %>

<div class="show_basic">
  <%= form_for(@workflow) do |f| -%>
    <div class="asset_form">
      <%= error_messages_for :workflow -%>
      <%= render :partial => 'port_type_table', :locals => {:f => f} %>
      <p>
        <%= preview_permission_popup_link(@workflow)-%>
        <%= submit_tag @workflow.new_record? ? "Save" : "Save Changes" -%>
        or
        <%= link_to 'Cancel', @workflow -%>
      </p>
    </div>
  <% end %>
</div>