<%= form_for(@workflow) do |f| -%>
    <div class="asset_form">
      <%= error_messages_for :workflow -%>
      <%= render :partial => 'port_type_table', :locals => {:f => f} %>
      <p>
        <%= preview_permission_popup_link(@workflow)-%>
        <%= submit_tag @workflow.new_record? ? "Save" : "Save Changes", :class => 'btn btn-primary' -%>
        or
        <%= link_to 'Cancel', @workflow, :class => 'btn btn-default' -%>
      </p>
    </div>
<% end %>
