<%= javascript_include_tag "sharing.js", "associate_events.js", "assays.js", "attribution.js", "resource.js" %>

<h1>Manage workflow: <%= @workflow.title %></h1>
<p>
<ul class="sectionIcons">
  <% if @workflow.runs.empty? %>
      <li>
        <%= delete_icon(@workflow, current_user) %>
      </li>
  <% end %>
  <li>
    <%= share_icon %>
  </li>
</ul>
</p>

<div class="show_basic">
  <%= render :partial => 'form' %>
</div>