<%= index_title(@category.nil? ? "Workflows" : "#{@category.name} Workflows") -%>

<% if logged_in? and current_user.person.member? and !current_user.guest?%>
    <%= button_link_to 'Upload a workflow', "new", new_workflow_path(:category_id => params[:category_id]) %>
<% end %>

<div class="row">
  <div class="col-sm-9 col-sm-push-3">
    <div class="text-right-sm"><%= render :partial => 'search' %></div>
    <%= render :partial => "workflow_list", :locals => { :collection => @workflows,
                                                         :authorization_for_showing_already_done=>true,
                                                         :show_category => @category.nil? } %>
  </div>
  <div class="col-sm-3 col-sm-pull-9">
    <%= render :partial => 'filters' %>
  </div>
</div>
