<h1><%= @category.nil? ? "Workflows" : "#{@category.name} Workflows" -%></h1>

<% if logged_in? and current_user.person.member?%>
    <ul class="sectionIcons">
        <li><%= image_tag_for_key "new", new_workflow_path, "Upload a #{t('workflow')}", nil, "Upload a #{t('workflow')}" %></li>
    </ul>
<% end %>

<% if @workflows.public_methods.include?(:page_totals) %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "general/paginate_alphabetical", :locals => { :pages => @workflows.pages, :page_totals=>@workflows.page_totals,:current_page=>@workflows.page } -%>
<% end %>
<%= render :partial => "assets/resource_list", :locals => { :collection => @workflows, :authorization_for_showing_already_done=>true } %>

<% if @workflows.page == "latest" && Workflow.count > Seek::Config.limit_latest%>
   <%= render :partial => "general/paginate_see_all"%>
<% end %>