<%= index_title(@category.nil? ? "Workflows" : "#{@category.name} Workflows") -%>

<% if logged_in? and current_user.person.member? and !current_user.guest?%>
    <ul class="sectionIcons">
        <li><%= image_tag_for_key "new", new_workflow_path(:category_id => params[:category_id]), nil, nil, 'Upload a workflow' %></li>
    </ul>
<% end %>

<%= render :partial => 'search' %>

<%= render :partial => 'filters' %>

<%= render :partial => "workflow_list", :locals => { :collection => @workflows,
                                                     :authorization_for_showing_already_done=>true,
                                                     :show_category => @category.nil? } %>
