<h1>New <%= t('workflow') %></h1>

<%= index_and_new_help_icon controller_name %>

<% if Seek::Config.git_support_enabled %>
  <%= panel do %>
    Currently there are three ways to register a workflow:
    <ul>
      <li>
        <strong><%= t('workflows.register.files') %></strong> -
        upload a workflow file (or import from elsewhere on the web),
        along with an optional diagram and CWL description if you have one
      </li>
      <li>
        <strong><%= t('workflows.register.git') %></strong> -
        import a Git repository from GitHub, GitLab or any other publicly accessible git repository on the web.
      </li>
      <li>
        <strong><%= t('workflows.register.ro_crate') %></strong> -
        upload or import a <em>Workflow RO-Crate</em> (Note: this format is under development, click
        <a href="https://about.workflowhub.eu/Workflow-RO-Crate/" target="_blank">here</a>
        to find out more)</li>
    </ul>
    <br/>
    Currently supported workflow types are: <%= WorkflowClass.order(:title).pluck(:title).join(', ') %>.
  <% end %>

  <%= render 'upload_form' %>
<% else %>
  <%= panel do %>
    Currently there are two ways to register a workflow:
    <ul>
      <li><strong>Simple</strong> - as a file with a picture and a CWL description if you have one</li>
      <li><strong>Advanced</strong> - as a <em>Workflow RO-Crate</em> (Note: this format is under development, click <a href="https://github.com/workflowhub-eu/about/wiki/Workflow-RO-Crate" target="_blank">here</a> to find out more)</li>
    </ul>
    <br/>
    Currently supported workflow types are: <%= WorkflowClass.order(:title).pluck(:title).join(', ') %>.
  <% end %>

  <%= render 'legacy_upload_form' %>
<% end %>
