<h1>New <%= t('workflow') %></h1>

<%= form_tag({:action => :create_metadata}, :multipart => true) do -%>
  <%= hidden_field_tag 'content_blob_id', @workflow.content_blob.id %>
  <%= hidden_field_tag 'metadata', @workflow.metadata %>
  <%= hidden_field_tag 'workflow_class_id', @workflow.workflow_class_id %>

  <div class="asset_form">
      <%= error_messages_for :workflow -%>

      <div class="form-group">
        <label class="required">Title</label>
        <% workflow_title_value = @workflow.blank? ? nil : @workflow.title -%>
        <%= workflow_title_value -%>
      </div>

      <div class="form-group">
        <label>Description</label>
        <% workflow_description_value = (@workflow.blank? || @workflow.description.blank?) ? nil : @workflow.description -%>
        <%= text_area_tag 'workflow[description]', workflow_description_value, :class=>"form-control" -%>
      </div>

      <%= render :partial => "projects/project_selector", :locals => { :resource => @workflow, :allow_nil => Seek::Config.is_virtualliver } -%>

      <%= render :partial => 'assets/license_selector', :locals => { :resource => @workflow } %>

      <div>
        <%= preview_permission_popup_link(@workflow)-%>
        <%= create_button :id => "workflow_submit_btn",
                       :onclick => "return validateResourceFields('workflow')",
                       :class => 'btn btn-primary' -%>
        or <%= cancel_button(workflows_path) -%>
      </div>
    </div>
<% end -%>
