<h1>New <%= t('workflow') %></h1>

<%= form_tag(@workflow.new_record? ? create_metadata_workflows_path : create_version_metadata_workflow_path(@workflow), multipart: true) do -%>
  <%= hidden_field_tag 'content_blob_id', session[:uploaded_content_blob_id] %>

  <div class="asset_form">
    <% if @errors && @errors.any? %>
      <div class="alert alert-danger">
        <strong>Extraction errors:</strong>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @warnings && @warnings.any? %>
      <div class="alert alert-warning">
        <strong>Extraction warnings:</strong>
        <ul>
          <% @warnings.each do |warning| %>
            <li><%= warning %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= error_messages_for :workflow -%>

    <div class="form-group">
      <%= render partial: 'workflow_class_form', locals: { name: 'workflow[workflow_class_id]', selected: @workflow.workflow_class_id } %>
    </div>

    <div class="form-group">
      <label class="required">Title</label>
      <%= text_field_tag 'workflow[title]', @workflow.title, class: "form-control", readonly: session[:metadata][:title].present? -%>
    </div>

    <div class="form-group">
      <label>Description</label>
      <%= text_area_tag 'workflow[description]', @workflow.description, class: "form-control rich-text-edit", readonly: session[:metadata][:description].present? -%>
    </div>

    <div class="form-group">
      <label>Source</label>
      <%= text_field_tag 'workflow[source_link_url]', @workflow.source_link_url, placeholder: 'https://...', class: "form-control" -%>
      <p class="help-block">If this workflow came from an external repository (i.e. GitHub), you can include its original URL here.</p>
    </div>

    <%= render partial: 'assets/edam_form_properties', locals: { resource: @workflow } %>

    <div class="form-group">
      <label>Maturity</label>
      <%= select_tag 'workflow[maturity_level]',
                     options_for_select(Workflow::MATURITY_LEVELS.values.map { |k| [t("maturity_level.#{k}"), k] }, @workflow.maturity_level),
                     include_blank: 'Not specified',
                     class: "form-control" -%>
      <p class="help-block">This field is used to indicate to users what level of stability they can expect from the workflow.</p>
    </div>

    <%= render partial: "projects/project_selector", locals: { resource: @workflow, allow_nil: Seek::Config.is_virtualliver } -%>
    <%= render partial: 'assets/license_selector', locals: { resource: @workflow, license_group: :software, default_license: 'Apache-2.0' } %>
    <%= render partial: 'assets/discussion_links_form', locals: { resource: @workflow } -%>
    <%= render partial: 'sharing/form' -%>

    <%= folding_panel('Tags', @workflow.tags.none?,
                      help_text: "Here you can provide some tags to help describe, and allow other people to find, your #{text_for_resource(@workflow)}.") do %>
      <%= render partial: "tags/select_tags", locals: { all_tags: TextValue.all_tags('tag'),
                                                        owned_tags: current_user.annotations_by.map(&:value),
                                                        existing_tags: @workflow.tags,
                                                        name: "tag" } -%>
    <% end %>

    <%= fields_for(@workflow) do |f| %>
      <%= render partial: 'assets/author_form', locals: { form: f } %>
    <% end %>

    <%= hidden_field_tag 'workflow[internals]', raw(@workflow.internals.to_json) -%>

    <div>
      <%= form_submit_buttons(@workflow) %>
    </div>
  </div>
<% end -%>

<%= render partial: 'workflows/workflow_class_modal' %>
