<h1>Select Target</h1>

<%= form_tag(polymorphic_path(@workflow.persisted? ? [:create_version_from_git, @workflow] : [:create_from_git, :workflows])) do %>
  <%= hidden_field_tag "workflow[project_ids][]",@workflow.project_ids %>
  <%= hidden_field_tag "workflow[git_version_attributes][git_repository_id]", @workflow.git_version.git_repository.id %>
  <%= render partial: 'git_repositories/ref_form', locals: { name: "workflow[git_version_attributes][ref]",
                                                             git_repository:  @workflow.git_version.git_repository } %>

  <hr/>

  <span id="git-create-button" style="display: none">
    <%= create_button class: 'btn btn-primary', id: 'git-create-button' %>
    or
  </span>
  <%= cancel_button(@workflow.persisted? ? workflow_path(@workflow) : new_workflow_path) %>
<% end %>
