<%= javascript_include_tag "resource" %>

<div class="breadcrumbs">
  <a href="/">Home</a> &gt;
  <%= link_to @workflow.category.name, main_app.workflows_path(:category_id => @workflow.category) -%> &gt;
  <%= @display_workflow.title -%>
</div>

<div class="contribution_title">
  <% project = @workflow.projects.first %>
  <% unless project.avatar.nil? %>
    <%= image_tag avatar_url(project, project.avatar_id), :class => 'framed project-avatar' %>
  <% end %>
  <h1><%= @display_workflow.title  -%></h1>
</div>

<ul class="sectionIcons">
  <% human_name = text_for_resource @workflow %>
  <%= render :partial => "buttons", :locals => {:workflow => @workflow, :display_workflow => @display_workflow, :based_off => nil, :human_name => human_name} %>
</ul>
<br/>

<div class="show_basic">

<%= render :partial => "assets/simple_new_version_form", :locals => {:resource => @workflow} -%>

<div class="main_content_left_box">
  <% if @workflow.can_manage? && !current_user.guest? -%>
      <p>
        <%= describe_visibility(@workflow) -%>
      </p>
  <% end %>

  <% if @workflow.version > 1 %>
      <span style="font-weight: bold;">Version: </span>
      <%= resource_version_selection @workflow, @display_workflow -%>
  <% end %>

  <p>
    <% unless @display_workflow.documentation_link.blank? %>
      <%= link_to @display_workflow.documentation_link, :target => :blank, :class => "doc-link" do %>
        <%= image 'help', :class => "icon", :style => "margin-right: 0.5em" %>Documentation
      <% end %>
    <% end %>
    <% unless @display_workflow.myexperiment_link.blank? %>
      <%= link_to @display_workflow.myexperiment_link, :target => :blank, :class => "doc-link" do %>
        <%= image 'myexperiment', :class => "icon", :style => "margin-right: 0.5em" %>View on myExperiment
      <% end %>
    <% end %>
  </p>

  <%= item_description @display_workflow.description -%>

  <% workflow_model = @display_workflow.t2flow %>
  <% processors = workflow_model.all_processors || [] -%>

  <!-- Inputs -->
  <div class="fold">
    <div class="foldTitle">
      Inputs (<%= @display_workflow.input_ports.count %>)
    </div>
    <div class="foldContent" style="display: none;">
      <!-- Data inputs -->
      <%= render :partial => "port_list", :locals => { :ports => @display_workflow.data_input_ports, :title => "Data Inputs" } -%>
      <!-- Parameter inputs -->
      <%= render :partial => "port_list", :locals => { :ports => @display_workflow.parameter_input_ports, :title => "Parameter Inputs" } -%>
    </div>
  </div>

  <!-- Outputs -->
  <div class="fold">
    <div class="foldTitle">
      Outputs (<%= @display_workflow.output_ports.count %>)
    </div>
    <div class="foldContent" style="display: none;">
      <!-- Result outputs -->
      <%= render :partial => "port_list", :locals => { :ports => @display_workflow.result_output_ports, :title => "Result Outputs" } -%>
      <!-- Error/log outputs -->
      <%= render :partial => "port_list", :locals => { :ports => @display_workflow.error_log_output_ports, :title => "Error/Log Outputs" } -%>
    </div>
  </div>

  <!-- Interactions -->
  <% interactions = processors.select { |proc| proc.type == 'interaction' } || [] %>
  <div class="fold">
    <div class="foldTitle">
      Interactions (<%= interactions.count -%>)
    </div>
    <div class="foldContent" style="display: none;">
      <% unless interactions.blank? -%>
          <table class="simple" style="width: 100%;">
            <% interactions.each do |b| -%>
                <tr>
                  <td>
                    <h3><%= b.name %></h3>

                    <div>
                      <%= ('<p><strong>Description: </strong>' + (b.description || '') + '</p>').html_safe %>
                      <%= ('<p><strong>Inputs: </strong>' + (b.inputs.blank? ? '' : b.inputs.join(", ")) + '</p>').html_safe %>
                      <%= ('<p><strong>Outputs: </strong>' + (b.outputs.blank? ? '' : b.outputs.join(", ")) + '</p>').html_safe %>
                    </div>
                  </td>
                </tr>
            <% end %>
          </table>
      <% else %>
          <p class="none_text">None</p>
      <% end %>
    </div>
  </div>

  <!-- R Scripts -->
  <% rscripts = processors.select { |proc| proc.type=='rshell' } || [] %>
  <div class="fold">
    <div class="foldTitle">
      R Scripts (<%= rscripts.count -%>)
    </div>
    <div class="foldContent" style="display: none;">
      <% unless rscripts.blank? -%>
          <table class="simple" style="width: 100%;">
            <% rscripts.each do |b| -%>
                <tr>
                  <td>
                    <h3><%= b.name %></h3>

                    <div>
                      <%= ('<p><strong>Description: </strong>' + (b.description || '') + '</p>').html_safe %>
                      <%= ('<p><strong>Inputs: </strong>' + (b.inputs.blank? ? '' : b.inputs.join(", ")) + '</p>').html_safe %>
                      <%= ('<p><strong>Outputs: </strong>' + (b.outputs.blank? ? '' : b.outputs.join(", ")) + '</p>').html_safe %>
                      <p><strong>Script:</strong></p>
                      <% unless b.script.blank? # should not ever be blank %>
                          <p>
                          <pre class="script_example_data_box"><%= b.script.html_safe %></pre>
                          </p>
                      <% end %>
                    </div>
                  </td>
                </tr>
            <% end %>
          </table>
      <% else %>
          <p class="none_text">None</p>
      <% end %>
    </div>
  </div>

  <div class="fold">
    <div class="foldTitle">
      Details
    </div>
    <div class="foldContent" style="display: none;">
      <div class="box_about_actor">
        <%= render :partial => 'fileinfo', :object => @display_workflow.content_blob -%>
        <p>
          <b>Category:</b>
          <%= @workflow.category.name.html_safe -%>
        </p>

        <!-- Workflow creators -->
        <% unless workflow_model.annotations.authors.empty? %>
          <p>
            <b>Author<%= 's' if workflow_model.annotations.authors.size > 1 -%>:</b>
            <%= workflow_model.annotations.authors.join(', ') %>
          </p>
        <% end %>

        <!-- Uploader -->
        <p>
          <b>Uploader:</b>
          <%= @display_workflow.contributor.nil? ? jerm_harvester_name.html_safe : link_to(@display_workflow.contributor.person.name, person_path(@display_workflow.contributor.person)) %>
        </p>

        <!-- Upload time -->
        <p>
          <b>Uploaded at:</b>
          <%= @display_workflow.created_at.strftime("%e %b %Y %H:%M:%S %Z") %>
        </p>

        <%= render :partial => "assets/special_auth_code_display", :locals => {:resource => @workflow} %>

        <%= render :partial => "assets/asset_doi", :locals => {:displayed_resource=>@display_workflow} %>
      </div>
    </div>
  </div>
</div>

<div class="main_content_right_box">
  <%= render :partial => "related_items", :locals => {:workflow => @workflow, :version => @display_workflow.version} -%>
</div>

<div style="clear:both"></div>

</div>