<div class="breadcrumbs">
  <a href="/">Home</a> &gt;
  <%= link_to @workflow.category.name, main_app.workflows_path(:category_id => @workflow.category) -%> &gt;
  <%= @workflow.title -%>
</div>

<%= render :partial => "general/item_title", :locals => {:item => @workflow} -%>

<ul class="sectionIcons">
  <% human_name = text_for_resource @workflow %>
  <%= render :partial => "buttons", :locals => {:workflow => @workflow, :version => @display_workflow.version, :based_off => nil, :human_name => human_name} %>
</ul>
<br/>

<div class="show_basic">

<%# Versioning hidden for now: %>
<% render :partial => "assets/upload_new_version_form", :locals => {:resource => @workflow} -%>

<div class="main_content_left_box">
  <%# Versioning hidden for now: %>
  <% render :partial => "assets/resource_version_details", :locals => {:displayed_resource => @display_workflow, :resource => @workflow} -%>

  <%= item_description @display_workflow.description -%>

  <% workflow_model = @display_workflow.t2flow %>
  <% processors = workflow_model.all_processors || [] -%>
  <% inputs = @workflow.input_ports || [] -%>
  <% outputs = @workflow.output_ports || [] -%>

  <!-- Inputs -->
  <div class="fold">
    <div class="foldTitle">
      Inputs (<%= inputs.count %>)
    </div>
    <div class="foldContent" style="display: none;">
      <!-- Data inputs -->
      <% data_inputs = inputs.select { |input| (input.port_type.name == WorkflowInputPortType::DATA) } -%>
      <%= render :partial => "port_list", :locals => { :ports => data_inputs, :title => "Data Inputs" } -%>
      <!-- Parameter inputs -->
      <% paramater_inputs = inputs.select { |input| input.port_type.name == WorkflowInputPortType::PARAMETER } -%>
      <%= render :partial => "port_list", :locals => { :ports => paramater_inputs, :title => "Parameter Inputs" } -%>
    </div>
  </div>

  <!-- Outputs -->
  <div class="fold">
    <div class="foldTitle">
      Outputs (<%= outputs.count %>)
    </div>
    <div class="foldContent" style="display: none;">
      <!-- Result outputs -->
      <% result_outputs = outputs.select { |output| output.port_type.name == WorkflowOutputPortType::RESULT } -%>
      <%= render :partial => "port_list", :locals => { :ports => result_outputs, :title => "Result Outputs" } -%>
      <!-- Error/log outputs -->
      <% error_log_outputs = outputs.select { |output| output.port_type.name == WorkflowOutputPortType::ERROR_LOG } -%>
      <%= render :partial => "port_list", :locals => { :ports => error_log_outputs, :title => "Error/Log Outputs" } -%>
    </div>
  </div>

  <!-- Interactions -->
  <% interactions = processors.select { |proc| proc.type == 'interaction' } || [] %>
  <div class="fold">
    <div class="foldTitle">
      Interactions (<%= interactions.count -%>)
    </div>
    <div class="foldContent" style="display: none;">
      <% unless interactions.blank? -%>
          <table class="simple" style="width: 100%;">
            <% interactions.each do |b| -%>
                <tr>
                  <td>
                    <h3><%= b.name %></h3>

                    <div>
                      <%= ('<p><strong>Description: </strong>' + (b.description || '') + '</p>').html_safe %>
                      <%= ('<p><strong>Inputs: </strong>' + (b.inputs.blank? ? '' : b.inputs.join(", ")) + '</p>').html_safe %>
                      <%= ('<p><strong>Outputs: </strong>' + (b.outputs.blank? ? '' : b.outputs.join(", ")) + '</p>').html_safe %>
                    </div>
                  </td>
                </tr>
            <% end %>
          </table>
      <% else %>
          <p class="none_text">None</p>
      <% end %>
    </div>
  </div>

  <!-- R Scripts -->
  <% rscripts = processors.select { |proc| proc.type=='rshell' } || [] %>
  <div class="fold">
    <div class="foldTitle">
      R Scripts (<%= rscripts.count -%>)
    </div>
    <div class="foldContent" style="display: none;">
      <% unless rscripts.blank? -%>
          <table class="simple" style="width: 100%;">
            <% rscripts.each do |b| -%>
                <tr>
                  <td>
                    <h3><%= b.name %></h3>

                    <div>
                      <%= ('<p><strong>Description: </strong>' + (b.description || '') + '</p>').html_safe %>
                      <%= ('<p><strong>Inputs: </strong>' + (b.inputs.blank? ? '' : b.inputs.join(", ")) + '</p>').html_safe %>
                      <%= ('<p><strong>Outputs: </strong>' + (b.outputs.blank? ? '' : b.outputs.join(", ")) + '</p>').html_safe %>
                      <p><strong>Script:</strong></p>
                      <% unless b.script.blank? # should not ever be blank %>
                          <p>
                          <pre class="script_example_data_box"><%= b.script.html_safe %></pre>
                          </p>
                      <% end %>
                    </div>
                  </td>
                </tr>
            <% end %>
          </table>
      <% else %>
          <p class="none_text">None</p>
      <% end %>
    </div>
  </div>

  <div class="fold">
    <div class="foldTitle">
      Details
    </div>
    <div class="foldContent" style="display: none;">
      <div class="box_about_actor">
        <%= render :partial => 'fileinfo', :object => @display_workflow.content_blob -%>
        <p>
          <b>Category:</b>
          <%= @workflow.category.name.html_safe -%>
        </p>

        <!-- Uploader -->
        <p>
          <b>Uploader:</b>
          <%= @workflow.contributor.nil? ? jerm_harvester_name.html_safe : link_to(@workflow.contributor.person.name, person_path(@workflow.contributor.person)) %>
        </p>

        <!-- Upload time -->
        <p>
          <b>Uploaded at:</b>
          <%= @workflow.created_at.strftime("%e %b %Y %H:%M:%S %Z") %>
        </p>

        <%= render :partial => "assets/special_auth_code_display", :locals => {:resource => @workflow} %>
      </div>
    </div>
  </div>
</div>

<div class="main_content_right_box">
  <%= render :partial => "related_items", :locals => {:workflow => @workflow} -%>
</div>

<div style="clear:both"></div>

</div>