<%= render :partial => "general/item_title", :locals => {:item => @workflow} -%>

<ul class="sectionIcons">
  <% human_name = text_for_resource @workflow %>
  <%= render :partial=>"workflow_buttons",:locals=>{:workflow => @workflow, :version=>@workflow.version, :based_off=>nil, :human_name=>human_name} %>
</ul>
<br/>

<div class="show_basic">

<%# Versioning hidden for now: %>
<% render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@workflow} -%>

<div class="main_content_left_box">
  <%# Versioning hidden for now: %>
  <% render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_workflow, :resource=>@workflow} -%>
    <div class="box_about_actor">
      <%= render :partial => 'fileinfo', :object => @display_workflow.content_blob -%>
      <br/>
      <p>
        <b>Category:</b>
        <%= @workflow.category.name.html_safe -%>
      </p>
      <br/>
      <%= render :partial => "assets/special_auth_code_display", :locals => {:resource => @workflow} %>
      <%= item_description @display_workflow.description -%>
    </div>

    <% workflow_model = @display_workflow.t2flow %>
    <% processors = workflow_model.all_processors || [] -%>
    <% inputs = @workflow.input_ports || []  -%>
    <% outputs = @workflow.output_ports || []  -%>

    <!-- Data inputs -->
    <% data_inputs = inputs.select{|input| (input.type.blank? || input.type == WorkflowInputPortType::DATA)}  -%>
    <div class="fold">
      <div class="foldTitle">
        Data Inputs (<%= data_inputs.count -%>)
      </div>
      <div class="foldContent" style="display: none;">
        <% unless data_inputs.blank? -%>
            <table class="simple">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Example</th>
              </tr>

              <% data_inputs.each do |s| -%>
                  <tr>
                    <td><b><%= s.name.html_safe -%></b></td>
                    <td><%= (s.description || '').html_safe -%></td>
                    <td><%= (s.example_value || '').html_safe -%></td>
                  </tr>
              <% end %>
            </table>
        <% else %>
            <p class="none_text">None</p>
        <% end %>
      </div>
    </div>

    <!-- Parameter inputs -->
    <% paramater_inputs = inputs.select{|input| input.type == WorkflowInputPortType::PARAMETER} -%>
    <div class="fold">
      <div class="foldTitle">
        Parameter Inputs (<%= paramater_inputs.count -%>)
      </div>
      <div class="foldContent" style="display: none;">
        <% unless paramater_inputs.blank? -%>
            <table class="simple">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Example</th>
              </tr>

              <% paramater_inputs.each do |s| -%>
                  <tr>
                    <td><b><%= s.name.html_safe -%></b></td>
                    <td><%= (s.description || '').html_safe -%></td>
                    <td><%= (s.example_value || '').html_safe -%></td>
                  </tr>
              <% end %>
            </table>
        <% else %>
            <p class="none_text">None</p>
        <% end %>
      </div>
    </div>

    <!-- Result outputs -->
    <% result_outputs = outputs.select{|output| (output.type.blank? || output.type == WorkflowOutputPortType::RESULT)} -%>
    <div class="fold">
      <div class="foldTitle">
        Result Outputs (<%= result_outputs.count -%>)
      </div>
      <div class="foldContent" style="display: none;">
        <% unless result_outputs.blank? -%>
            <table class="simple">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Example</th>
              </tr>

              <% result_outputs.each do |s| -%>
                  <tr>
                    <td><b><%= s.name.html_safe -%></b></td>
                    <td><%= (s.description || '').html_safe -%></td>
                    <td><%= (s.example_value || '').html_safe -%></td>
                  </tr>
              <% end %>
            </table>
        <% else %>
            <p class="none_text">None</p>
        <% end %>
      </div>
    </div>

    <!-- Error/log outputs -->
    <% error_log_outputs = outputs.select{|output| output.type == WorkflowOutputPortType::ERROR_LOG} -%>
    <div class="fold">
      <div class="foldTitle">
        Error/Log Outputs (<%= error_log_outputs.count -%>)
      </div>
      <div class="foldContent" style="display: none;">
        <% unless error_log_outputs.blank? -%>
            <table class="simple">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Example</th>
              </tr>

              <% error_log_outputs.each do |s| -%>
                  <tr>
                    <td><b><%= s.name.html_safe -%></b></td>
                    <td><%= (s.description || '').html_safe -%></td>
                    <td><%= (s.example_value || '').html_safe -%></td>
                  </tr>
              <% end %>
            </table>
        <% else %>
            <p class="none_text">None</p>
        <% end %>
      </div>
    </div>

    <!-- Interactions -->
    <% interactions = processors.select { |proc| proc.type == 'interaction' } || [] %>
    <div class="fold">
      <div class="foldTitle">
        Interactions (<%= interactions.count -%>)
      </div>
      <div class="foldContent" style="display: none;">
        <% unless interactions.blank? -%>
            <table class="simple">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Inputs</th>
                <th>Outputs</th>
              </tr>

              <% interactions.each do |b| -%>
                  <tr>
                    <td><b><%= h b.name.html_safe unless b.name.blank? -%></b></td>
                    <td><%= h b.description.html_safe unless b.description.blank? -%></td>
                    <td>
                      <% if b.inputs %>
                          <% b.inputs.each do |x| %>
                              <%= x.html_safe -%>
                              <%= "<br/>".html_safe unless x==b.inputs.last %>
                          <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% if b.outputs %>
                          <% b.outputs.each do |x| %>
                              <%= h x.html_safe -%>
                              <%= "<br/>".html_safe unless x==b.outputs.last %>
                          <% end %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </table>
        <% else %>
            <p class="none_text">None</p>
        <% end %>
      </div>
    </div>

    <!-- R Scripts -->
    <% rscripts = processors.select { |proc| proc.type=='rshell' } || [] %>
    <div class="fold">
      <div class="foldTitle">
        R Scripts (<%= rscripts.select{|a| !a.script.nil?}.count -%>)
      </div>
      <div class="foldContent" style="display: none;">
        <% unless rscripts.blank? -%>
            <table class="simple" style="width: 100%;">
              <% rscripts.each do |b| -%>
                  <% unless b.script.nil? || b.name.nil? %>
                      <tr>
                        <td>
                          <h3><%= b.name %></h3>
                          <div>
                            <%= ('<strong>Description: </strong>' + b.description + '<br/>').html_safe unless b.description.blank? %>
                            <%= ('<strong>Inputs: </strong>' + b.inputs.join(", ") + '<br/>').html_safe unless b.inputs.blank? %>
                            <%= ('<strong>Outputs: </strong>' + b.outputs.join(", ") + '<br/>').html_safe unless b.outputs.blank? %>
                            <strong>Script:</strong><br/>
                          </div>
                          <pre class="script_example_data_box"><%= b.script.gsub("\n", "<br>").html_safe %></pre>
                        </td>
                      </tr>
                  <% end %>
              <% end %>
            </table>
        <% else %>
            <p class="none_text">None</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="main_content_right_box">
    <%= render :partial=>"general/items_related_to",:object => @workflow -%>
  </div>

  <div style="clear:both"></div>

</div>