<% content_for(:buttons) do %>
  <%= button_link_to(t('.new'), 'add', new_oauth_application_path) %>
<% end -%>

<%= render partial: 'general/page_title', locals: { title: t('.title') } %>

<div class="alert alert-info" role="alert">
  Here you can register an application and generate credentials to access the <%= Seek::Config.instance_name %> API
  as an <%= link_to('OAuth', 'https://oauth.net/2/', target: :_blank) %> client.<br/><br/>
  This is useful if you are developing an application for other <%= Seek::Config.instance_name %> users to interact with.
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.callback_url') %></th>
    <th><%= t('.confidential') %></th>
    <th><%= t('.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @applications.each do |application| %>
    <tr>
      <td>
        <%= link_to application.name, oauth_application_path(application) %>
      </td>
      <td>
        <%= simple_format(application.redirect_uri) %>
      </td>
      <td>
        <%= application.confidential? ? t('doorkeeper.applications.index.confidentiality.yes') : t('doorkeeper.applications.index.confidentiality.no') %>
      </td>
      <td>
        <%= link_to t('doorkeeper.applications.buttons.edit'), edit_oauth_application_path(application), class: 'btn btn-xs btn-default' %>
        <%= link_to t('doorkeeper.applications.buttons.destroy'), oauth_application_path(application),
                    method: :delete,
                    data: { confirm: "Are you sure you wish to delete this application?" },
                    class: 'btn btn-xs btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
