
<p>
  <%= image(:openbis, :width => '75px') %>
</p>

Zamples

<div>Project: <%= @project.title %></div>
<div>Endpoint: <%= @openbis_endpoint.id %></div>
<div>Samples: <%= @zamples.length %></div>

<div class='row' id="openbis-zamples-cards">
  <%= render partial:'openbis_zample_card', collection:@zamples %>
</div>


