
<div class="panel panel-default">
  <div class="panel-body">

    <p>
      <%= image(:openbis, :width => '75px') %>
    </p>

    <%= form_tag({controller: 'openbis_zamples', action: 'index'}, {method: 'get'} ) do %>
      <div class="form-group"><label>Project:</label> <%= @project.title %></div>
      <div class="form-group"><label>Endpoint:</label> <%= @openbis_endpoint.title %></div>
      <div class="form-group"><label>OpenBIS Type</label>
        <%= select_tag :zample_type, options_for_select(@zample_type_options, @zample_type),
                       id: 'zample_type', class: 'form-control1', :onchange => 'this.form.submit();' %></div>
      <div class="form-group"><label>Samples:</label> <%= @entities.length %></div>
      <% end %>
  </div>
</div>

<div class='row' id="openbis-zamples-cards">
  <%= render partial:'openbis_zample_card', collection:@entities %>
</div>


