<%
   top_id=prefix+"_top"
   caption_id=prefix+"_caption"
   panel_id=prefix+"_panel"
   chevron_id=prefix+"_chevron"
   help_button||=nil
   annotation_hash ||= {}
   cached_annotations ||= nil
-%>



<div id="<%= top_id -%>" class="builder_box">
  <div class="squarebox">
    <div id="<%= caption_id -%>" class="squareboxgradientcaption" onclick="togglePanel('<%= prefix -%>');" style="height:20px; cursor: pointer;">
      <div style="float: left">
        <%= title -%>
      </div>
      <div style="float: right; vertical-align: middle">
        <%= image_tag "jws/expand.gif", :border=>"0",:height=>"14",:alt=>"Show/Hide",:width=>"13", :id=>chevron_id-%>
      </div>
    </div>
    <div id="<%= panel_id -%>" class="squareboxcontent" style="display: none">
      <table border="1">
        <tbody>
        <tr>
          <td valign="top">
            <table border="1" class="annotation_keys">
              <tbody>
                <% annotation_hash.keys.sort.each do |key| -%>
                    <tr>
                      <td>
                        <%= link_to_function h(key),"annotation_selected('#{prefix}','#{key}')" -%>
                      </td>
                    </tr>
                <% end -%>
              </tbody>
            </table>
          </td>
          <td>
            <p>
              Annotations assigned to:
              <span style="font-weight:bolder" id="<%= prefix -%>_selected_annotation"></span>
              <%= hidden_field_tag "#{prefix}_selected_symbol" -%>
            </p>
            <p id="<%= prefix -%>_assigned_annotations">
              
            </p>
            <p id="show_annotations_panel">
              <hr>
              Find URN's for <%= type -%>:
              <%= text_field_tag "#{prefix}_search_box" -%>
              <input type="Button" value="Search" id='<%= prefix -%>_search_button' onclick="submit_search('<%= prefix -%>');">
            </p>
            <div id='<%= prefix -%>_cached_annotations' style="max-height:30em;overflow-y:scroll;">
              
            </div>
            <div id='<%= prefix -%>_search_results' style="display:none;">

            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <p>
        <% if help_button -%>
            <button title="<%= help_button[:title] -%>" onclick="window.open('<%= help_button[:link_url] -%>','<%= help_button[:link_text] -%>', 'width=300,height=300,toolbar=0'); return false;">
              <%= help_button[:text] -%>
            </button>
        <% end -%>
      </p>
    </div>
  </div>
  <%= simple_image_tag_for_key "jws_shadow",:height=>"10",:width=>"100%" -%>
</div>

<script type="text/javascript">
  <% if cached_annotations -%>
    var cached_annotations = new Array();
    <% cached_annotations.keys.each do |key| -%>
        triplets = new Array();
        <% cached_annotations[key].each do |triplet| -%>
            triplet = {"urn" : '<%= triplet.urn -%>',"full_name" : '<%= escape_javascript(triplet.full_name) -%>' , "qualifier" : '<%= triplet.qualifier -%>' };
            triplets.push(triplet);
        <% end -%>
        store_cached_annotations('<%= prefix -%>','<%= key -%>',triplets);
        draw_cached_annotation_table('<%= prefix -%>','<%= key -%>',triplets);
    <% end -%>
  <% end -%>

  <% annotation_hash.keys.each do |key| -%>
    triplets = new Array();
    <% annotation_hash[key].each do |triplet| -%>
        triplet = {"urn" : '<%= triplet.urn -%>',"full_name" : '<%= escape_javascript(triplet.full_name) -%>' , "qualifier" : '<%= triplet.qualifier -%>' };
        triplets.push(triplet);
    <% end -%>
    store_annotations('<%= prefix -%>','<%= key -%>',triplets);
  <% end -%>


  <% unless annotation_hash.empty? -%>
      annotation_selected('<%= prefix -%>','<%= annotation_hash.keys.first -%>');
  <% end -%>




</script>