<%
   prefix="attribution_annotations"
   top_id=prefix+"_top"
   caption_id=prefix+"_caption"
   panel_id=prefix+"_panel"
   chevron_id=prefix+"_chevron"
   help_button||=nil
-%>
<style>
  
  span.annotation_title {
      float:left;
      width:25em;
  }
</style>

<%= hidden_field_tag "authors","" -%>

<div id="<%= top_id -%>" class="builder_box">
  <div class="squarebox">
    <div id="<%= caption_id -%>" class="squareboxgradientcaption" onclick="togglePanel('<%= prefix -%>');" style="height:20px; cursor: pointer;">
      <div style="float: left">
        Attribution annotations
      </div>
      <div style="float: right; vertical-align: middle">
        <%= image_tag "jws/expand.gif", :border=>"0",:height=>"14",:alt=>"Show/Hide",:width=>"13", :id=>chevron_id-%>
      </div>
    </div>

    <div id="<%= panel_id -%>" class="squareboxcontent" style="display: none">
      <ul>
        <li>
          <span class="annotation_title">Model name:</span><%= text_field_tag "modelname",annotations.model_name -%>
        </li>
        <li>
          <span class="annotation_title">Citation URL:</span><%= text_field_tag "citationURL",annotations.citation_url -%>
        </li>
        <li>
          <span class="annotation_title">Model URN:</span><%= text_field_tag "modelURN",annotations.model_urn -%>
        </li>
        <li>
          <span class="annotation_title">Creation date:</span><%= text_field_tag "creationDate",annotations.creation_date -%>
        </li>
        <li>
          <span class="annotation_title">Modification date:</span><%= text_field_tag "modificationDate",annotations.modification_date -%>
        </li>
        <li>
          <span class="annotation_title">Terms of distribution:</span><%= text_field_tag "TOD",annotations.terms_of_distribution -%>
        </li>
      </ul>
      <%= link_to_function "Add author","new_author();" -%>
      <hr/>
      <div id="authors_panel">
        
      </div>

    </div>

  </div>
</div>

<script>

  <% annotations.authors.each do |author|
        author_details=author.split(",")
  %>
    add_author("<%= author_details[0]-%>","<%= author_details[1]-%>","<%= author_details[2]-%>","<%= author_details[3]-%>");
  <% end -%>
</script>