<%#= javascript_include_tag 'exhibit/exhibit-api.js' %>
<script src="/assets/exhibit/exhibit-api.js?bundle=false"></script>
<%#need to go after exhibit lib %>
<%= javascript_include_tag 'modified_exhibit' %>
<%= stylesheet_link_tag 'modified_exhibit' %>


<%
   objects = facets
   object_type = objects.first.class.name
   facet_config = YAML.load(File.read(File.join(Rails.root, "config/facets.yml")))
%>

<div style="width: 100%">
    <div data-ex-role="exhibit-collection" data-ex-item-types="<%= object_type%>"></div>
    <table cellpadding="0" cellspacing="10" border="0" id="exhibit" width="100%">
      <tr>
        <td style="float:left;">
          <b>Search</b>
          <div data-ex-role="facet" data-ex-facet-class="TextSearch"></div>
          <hr/>
          <% facet_config[object_type].keys.each do |facet| %>
              <% label = facet_config[object_type][facet]['label'] %>
              <% facet_class = facet_config[object_type][facet]['facet_class'] %>
              <div data-ex-role="facet"
                   data-ex-expression=".<%= facet %>"
                   data-ex-facet-label="<%= label %>"
                   data-ex-facet-class="<%= facet_class %>"
                   data-ex-height="13em"

                   <% if facet_class == "NumericRange" %>
                    <% interval = facet_config[object_type][facet]['interval']%>
                    data-ex-interval='1'
                   <% end %>
              >
              </div>
              <br/>
          <% end %>

          <div data-ex-role="facet"
               data-ex-facet-class="Exhibit.HierarchicalFacet"
               data-ex-expression=".assay_type"
               data-ex-facet-label="Assay Type"
               data-ex-uniform-grouping=".subclassOf"
               data-ex-scroll="false">
          </div>
          <br/>
          <br/>
        </td>

        <td style="width: 85%;">
          <div id="content-area">
            <div data-ex-role="exhibit-lens" style="display: none">
              <span data-ex-content=".all"></span>
            </div>

            <div data-ex-role="exhibit-viewPanel">
              <div data-ex-role="exhibit-view"
                   data-ex-label="Tiles"
                   data-ex-possible-orders=".<%= facet_config[object_type].keys.join(',.') %>"
                   data-ex-paginate="true"
                   data-ex-page-size="10"
                   data-ex-show-all="true"
              ></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
</div>

<div id="data" style="display:none">
  <%
     exhibit_items = []
     experimental_types = Seek::Ontologies::AssayTypeReader.instance.class_hierarchy
     exhibit_items.push({'type' => 'AssayType', 'label' => experimental_types.label})
     exhibit_items |= generate_tree(experimental_types)
     modelling_types = Seek::Ontologies::ModellingAnalysisTypeReader.instance.class_hierarchy
     exhibit_items.push({'type' => 'AssayType', 'label' => modelling_types.label})
     exhibit_items |= generate_tree(modelling_types)

     objects.each do |object|
        exhibit_item = {}
        exhibit_item['item_id'] = object.id
        facet_config[object_type].keys.each do |facet|
          represented_field = facet_config[object_type][facet]['value']
          related_object = object.send(facet)
          if related_object.blank?
            exhibit_item[facet] = nil
          elsif related_object.kind_of?(Array)
            exhibit_item[facet] = related_object.collect(&:"#{represented_field}")
          else
            exhibit_item[facet] = related_object.send(represented_field)
          end
        end
        exhibit_item['assay_type'] = object.assay_type_label
        exhibit_item['all'] = ''
        exhibit_item['type'] = object_type
        exhibit_items << exhibit_item
     end

     exhibit_properties = {
             "created_at" => {
                "valueType" => "number"
             }
     }

  %>

{
  "properties": <%= exhibit_properties.to_json %>,
  "items": <%= exhibit_items.to_json %>
}

</div>
