<%
  new_item_label ||= "New #{t(controller_name.singularize)}"
  new_item_path = polymorphic_path([:new, controller_name.singularize.to_sym])
  items ||= instance_variable_get("@#{controller_name}")
  show_new_button = true unless local_assigns.has_key?(:show_new_button)
  title ||= nil
  subtitle ||= nil
%>

<div class="pull-right">
  <% if show_new_button && controller_model.can_create? %>
    <%= button_link_to(new_item_label, "new", new_item_path) %>
  <% end %>

  <% if content_for?(:buttons) %>
    <%= content_for :buttons %>
  <% end %>
</div>

<%= index_title(title) %>

<% if subtitle %>
  <h2><%= subtitle %></h2>
<% end %>

<%= index_and_new_help_icon controller_name %>

<div class="index-container">
  <%= render partial: 'assets/resource_filtering' if Seek::Config.filtering_enabled %>
  <div class="index-content">
    <div class="row">
      <div class="col-sm-6">
        <%= render partial: 'assets/resource_counts' %>
      </div>
      <div class="col-sm-6">
        <%= render partial: 'assets/resource_sorting', locals: { items: items } %>
      </div>
      <div class="col-sm-12">
        <%= render partial: 'assets/resource_active_filters' if Seek::Config.filtering_enabled %>
      </div>
    </div>

    <%= render partial: 'general/index_paged', locals: { items: items } %>
  </div>
</div>
