<%
  new_item_label ||= "New #{t(controller_name.singularize)}"
  new_item_path = eval("new_#{controller_name.singularize}_path")
  items ||= instance_variable_get("@#{controller_name}")
  show_new_button = true unless local_assigns.has_key?(:show_new_button)
  title ||= nil
  subtitle ||= nil
  faceted_browsing_enabled = index_with_facets?(controller_name) unless local_assigns.has_key?(:faceted_browsing_enabled)
  faceted_browsing = faceted_browsing_enabled && params[:user_enable_facet] == 'true'
%>

<div class="pull-right">
  <% if show_new_button && controller_model.can_create? %>
    <%= button_link_to(new_item_label, "new", new_item_path) %>
  <% end %>

  <% if faceted_browsing_enabled && items.any? %>
    <%= button_link_to('Advanced filtering', 'filter', { user_enable_facet: true }, { style: params[:user_enable_facet] == 'true' ? 'display: none' : ''}) %>
    <%= button_link_to('Stop filtering', 'filter', { user_enable_facet: false }, { style: params[:user_enable_facet] == 'true' ? '' : 'display: none'}) %>
  <% end %>

  <% if content_for?(:buttons) %>
    <%= content_for :buttons %>
  <% end %>
</div>

<%= index_title(title) %>

<% if subtitle %>
  <h2><%= subtitle %></h2>
<% end %>

<div class="index-container">
  <%= render partial: 'assets/resource_filtering' if Seek::Config.filtering_enabled && !faceted_browsing %>
  <div class="index-content">
    <% unless faceted_browsing %>
      <%# filter debugging - remove me eventually %>
      <% if false %>
        <div>
          <div>
            <%= @active_filters.inspect %>
          </div>
          <div>
            <%= @filters.inspect %>
          </div>
        </div>
      <% end %>
      <%= render partial: 'assets/resource_sorting', locals: { items: items } %>
      <%= render partial: 'assets/resource_counts' %>
      <%= render partial: 'assets/resource_active_filters' if Seek::Config.filtering_enabled %>
    <% end %>

    <% if faceted_browsing %>
      <%= render partial: 'faceted_browsing/faceted_browsing', object: items %>
    <% else %>
      <%= render partial: 'general/index_facets_or_paged', locals: { items: items } %>
    <% end %>
  </div>
</div>
