<%
version ||= params[:version]
avatar = favouritable_icon(version ? item.find_version(version) : item, 34)
title_prefix||="" 
title_postfix||=""
title ||= item.title || ""
title = "#{h(title_prefix) + h(title) + h(title_postfix)}".html_safe
buttons_partial ||= nil
col_width = buttons_partial.nil? && !content_for?(:buttons) ? 12 : 6
%>

<div class="row contribution-header">
  <div class="col-md-<%= col_width -%>">
    <% unless avatar.blank? -%>
      <%= avatar -%>
    <% end %>
    <h1>
      <%= title -%>
      <% if version && item.versions.count > 1%>
          <div class="version">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              Version <%= version -%> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% item.versions.reverse.each do |v| %>
                  <li>
                    <%= link_to({:version => v.version},:method=>request.request_method) do -%>
                        Version <%= v.version %> <%= item.describe_version(v.version)-%><br/>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </h1>
    <% if @action=="show" && item.respond_to?(:private?) && item.respond_to?(:public?) && item.try(:can_manage?) %>
        <div class="sharing_summary">
          <%= sharing_text(item) %>
        </div>
    <% end %>
  </div>
  <% if buttons_partial %>
  <div class="col-md-6 text-right-md" id="buttons">
    <%= render :partial => buttons_partial, :locals => {:item => item, :version => version} -%>
  </div>
  <% elsif content_for? :buttons %>
  <div class="col-md-6 text-right-md" id="buttons">
    <%= content_for :buttons -%>
  </div>
  <% end %>
</div>
