<%
version ||= params[:version]
avatar = resource_title_draggable_avatar(item, version)
title_prefix||="" 
title_postfix||=""
title ||= item.title || ""
title = "#{h(title_prefix) + h(title) + h(title_postfix)}".html_safe
buttons_partial ||= nil
%>

<div class="row contribution-header">
  <div class="col-md-<%= buttons_partial ? '6' : '12' -%>">
    <% unless avatar.blank? -%>
      <%= avatar -%>
    <% end %>
    <h1>
      <%= title -%>
    </h1>
    <% if @action=="show" && item.respond_to?(:private?) && item.respond_to?(:public?) && item.try(:can_manage?) %>
        <div class="sharing_summary">
          <%= sharing_text(item) %>
        </div>
    <% end %>
  </div>
  <% if buttons_partial %>
  <div class="col-md-6 text-right-md" id="buttons">
    <%= render :partial => buttons_partial, :locals => {:item => item, :version => version} -%>
  </div>
  <% end %>
</div>
