
<% include_projects = false %>

<% if logged_in_and_registered? %>
    <div id="logged_in_as">
      <% current_person = current_user.person %>
      <% if current_person.avatar.nil? %>
          <%= image_tag(icon_filename_for_key("person_avatar"), :size => "32x32", :onclick => "toggleDynamicMenu('my_profile_menu');") %>
      <% else %>
          <%= image_tag avatar_url(current_person, current_person.avatar_id, 32), :onclick => "toggleDynamicMenu('my_profile_menu');" %>
      <% end %>

      <%= link_to_function(current_person.name, :onclick => "toggleDynamicMenu('my_profile_menu');") %>

      <%= image_tag(icon_filename_for_key('arrow_down_small'), :onclick => "toggleDynamicMenu('my_profile_menu');") %>

      <ul id="my_profile_menu" class='dynamic_menu with_smaller_shadow' style="display:none;">
        <li class="my_profile_menu_header">Your details:</li>
        <li class='dynamic_menu_li' onclick="location.href='<%= person_path(current_person) -%>';">Your
          profile
        </li>
        <li class='dynamic_menu_li' onclick="location.href='<%= edit_person_path(current_person) -%>';">Edit
          profile
        </li>
        <li class='dynamic_menu_li' onclick="location.href='<%= edit_user_path(current_user) -%>';">Change password
        </li>

        <% unless !include_projects || current_person.projects.empty? %>
            <li class="my_profile_menu_header">
              Your projects:
            </li>
            <% current_person.projects.each do |project| %>
                <li class='dynamic_menu_li' onclick="location.href='<%= project_path(project) %>';"><%= project.title %></li>
            <% end %>
        <% end %>
        <% if current_person.is_admin? %>
            <li class="my_profile_menu_break">&nbsp;</li>
            <li class='dynamic_menu_li' onclick="location.href='<%= admin_path -%>';">Server admin</li>
        <% end %>
        <li class="my_profile_menu_break">&nbsp;</li>
        <li class='dynamic_menu_li' onclick="location.href='<%= feedback_home_path -%>';">Provide feedback</li>
        <li class='dynamic_menu_li' onclick="if (confirm('Are you sure you wish to logout?')){location.href='<%= logout_path -%>';}">Logout</li>
      </ul>
    </div>

<% end -%>