<%
  #<%= render :partial => 'general/split_button_checkbox',
  #locals: { checkbox_id: publishing_item_param(item),
  #          checkbox_class: "#{item.class.name}_#{item.id}",
  #          checkbox_text: "Publish?",
  #          checked: checked,
  #          toggle: children.any?,
  #          extra_nesting: 1 } - % >

  checkbox_class ||= "no_name"   # <- Needed!
  checkbox_id ||= checkbox_class
  checkbox_text ||= ""
  checked ||= false
  checked = !(['false',0,'0','no'].include? checked)
  toggle ||= false
  toggle = !(['false',0,'0','no'].include? toggle)
  extra_nesting ||= 0
  nesting_level = 4 + extra_nesting
-%>
<div class="btn-group" >
  <button type="button" class="btn parent-btn-checkbox">
    <label style="font-weight:normal;">
      <%= check_box_tag checkbox_id, 1, checked,
                        {:class=>checkbox_class,
                         :onclick=>"checkRepeatedItems(this)"} -%>
      <%= checkbox_text -%>
    </label>
  </button>
  <% if toggle %>
    <button type="button" class="btn dropdown-toggle parent-btn-dropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu text-left" role="menu" style="width: auto;" >
      <li><a href="#" onclick="selectChildren(this,<%= nesting_level %>); return false;">
        <%= image('checkbox_select_all', options = {height: 30}) %>
        Select this item and all of its sub-items. </a></li>
      <li><a href="#" onclick="deselectChildren(this,<%= nesting_level %>); return false;">
        <%= image('checkbox_deselect_all', options = {height: 30}) %>
        Deselect this item and all of its sub-items. </a></li>
    </ul>
  <% end %>
</div>
