

<%= javascript_include_tag 'dropMenu.js' %>


<div>
<table cellspacing="0" cellpadding="0" id="menu" class="dm">
  <tr>
    <td>
      <a class="item1" href="javascript:void(0)">Yellow Pages</a>

      <div class="section">
        <%= tab_definition :controllers=>["people"] -%>

        <!-- Projects tab -->
        <%= tab_definition :controllers=>["projects"] -%>

        <!-- Institutions tab -->
        <%= tab_definition :controllers=>["institutions"] -%>
      </div>
    </td>
    <td>
      <div class="tab_gap_before">
        <a class="item1" href="javascript:void(0)">I S A</a>


        <div class="section">
          <!-- Investigations tab -->
          <%= tab_definition :controllers=>["investigations"], :title=>t('investigation').pluralize -%>

          <!-- Studies tab -->
          <%= tab_definition :controllers=>["studies"], :title=>t('study').pluralize -%>

          <!-- Assays tab -->
          <%= tab_definition :controllers=>["assays"], :title=>t('assays.assay').pluralize -%>
        </div>
       </div>
    </td>
    <td>
         <div class="tab_gap_before">
           <%= link_to "Biosamples", biosamples_path, {:class =>"item1"}%>
         </div>
     </td>
    <td>
      <div class="tab_gap_before">
        <a class="item1" href="javascript:void(0)">Assets</a>


        <div class="section">
          <!-- Data tab -->
          <%= tab_definition :controllers=>["data_files"], :title=>t('data_file').pluralize -%>

          <!-- Models tab -->
          <%= tab_definition :controllers=>["models"] -%>

          <!-- SOPs tab -->
          <%= tab_definition :controllers=>["sops"], :title=>t('sop').pluralize -%>

          <!-- Publications tab -->
          <%= tab_definition :controllers=>["publications"]-%>

          <!-- Presentations tab -->
          <%= tab_definition :controllers=>["presentations"], :title=>t('presentation').pluralize -%>

          <!-- slides tab -->


        </div>
       </div>
    </td>
    <td>
      <div class="tab_gap_before">
        <% if logged_in? %>
            <%= link_to "Forums", forums_path, {:class =>"item1"} %>
        <% end %>
      </div>
    </td>
    <td>
      <div class="tab_gap_before">
        <%= link_to "Events", events_path, {:class =>"item1"} if Seek::Config.events_enabled %>
      </div>
    </td>
    <td>
      <div class="tab_gap_before">
        <%= link_to "Help", {:controller => "help_documents", :action=>"index"}, {:class =>"item1"} %>
      </div>
    </td>
  </tr>
</table>
</div>

<script type="text/javascript">
    var dm = new DropMenu1('menu');
    dm.init();
</script>

