<div>
  <ul class="tabnav">

        <!-- People tab -->
        <%= tab_definition :controllers=>["people"] -%>

        <!-- Projects tab -->
        <%= tab_definition :controllers=>["projects"] -%>

        <!-- Institutions tab -->
        <%= tab_definition :controllers=>["institutions"] -%>

        <!-- Investigations tab -->
        <%= tab_definition :controllers=>["investigations"], :title=>t('investigation').pluralize, :gap_before=>true -%>

        <!-- Studies tab -->
        <%= tab_definition :controllers=>["studies"], :title=>t('study').pluralize -%>

        <!-- Assays tab -->
        <%= tab_definition :controllers=>["assays"], :title=>t('assays.assay').pluralize -%>


         <!-- Samples tab -->
        <%# tab_definition :controllers=>["samples"] -%>

        <!-- Specimens tab -->
        <%# tab_definition :controllers=>["specimens"] -%>

        <!-- Biosamples -->
        <%= tab_definition :controllers=>["biosamples"], :gap_before=>true -%>

        <!-- Data tab -->
        <%= tab_definition :controllers=>["data_files"], :title=>t('data_file').pluralize, :gap_before=>true -%>

        <!-- Models tab -->
        <%= tab_definition :controllers=>["models"], :title=>t('model').pluralize -%>

        <!-- SOPs tab -->
        <%= tab_definition :controllers=>["sops"], :title=>t('sop').pluralize -%>

        <!-- Publications tab -->
        <%= tab_definition :controllers=>["publications"] -%>

        <!-- Presentations tab -->
        <%= tab_definition :controllers=>["presentations"], :title=>t('presentation').pluralize -%>

        <!-- Forums tab -->
        <!-- Be hidden for unlogin user -->
        <% if logged_in? %>
            <%# tab_definition :controllers=>["forums", "topics"], :gap_before=>true -%>
        <% end %>

        <!-- Events tab -->
        <%= tab_definition :controllers=>["events"], :gap_before=>true if Seek::Config.events_enabled -%>

        <!-- Help tab -->
        <%= tab_definition :controllers=>["help_documents"], :title=>"Help", :gap_before=>true -%>
      </ul>
    </div>
