<div id="redbox_contents_div" class="redbox_contents" style="width:500px;">
	<div class="head">
		<%= link_to_close_redbox image_tag("close.gif"), :style => "float:right; margin-left:0.5em; vertical-align:middle;" -%>
		<span style="vertical-align:middle;">
			Create New Favourite Group
			<%= image_tag method_to_icon_filename("spinner"), :id => "fav_group_loading_spinner", :alt=>"loading...", :title=>"loading...", :style => "display: none; vertical-align: middle;" -%>
		</span>
	</div>
	
	<center>
		<div class="body">
			<div id="facebook" class="clearfix">
				<label for="group_name"><strong>Group Name:</strong></label>
				<%= text_field_tag "group_name", "", :class => "to_field_identical", :style => "width: 300px; margin-left: 0.3em; vertical-align: middle;" -%>
				<br/>
				
				
				<p style="font-weight: bold; text-align: center; margin-top: 1.3em;">
					Group Members
				</p>
				<p id="shared_with_list" class="box_editing_inner" style="line-height: 1.5;">
          <span class="none_text" id="shared_with_text">No one</span>
        </p>
				
				<fieldset style="margin-top: 2em;">
					<legend>&nbsp;Add Members&nbsp;</legend>
				  <p style="text-align: justify;">
	          Please type names of people to add to this group into the box below - suggestions will
            be displayed as you type. Clicking "Add" will add selected people as group members. 
	        </p>
					
	        <span style="font-weight: bold; float: right; padding-top: 0.8em; padding-right: 0.5em;">
					  &nbsp;<%= link_to "Add", "", :onclick => "javascript: addMembersToFavouriteGroup();return(false);" -%>
					</span>
					<div tabindex="-1" id="ids" class="clearfix tokenizer" onclick="$('autocomplete_input').focus()" style="width: 340px; margin-top: 0.5em;">
	          <span class="tokenizer_stretcher">^_^</span><span class="tab_stop"><input type="text" id="hidden_input" tabindex="-1" ></span>
	          
	          <div id="autocomplete_display" class="tokenizer_input">
	             <input type="text" size="1" tabindex="" id="autocomplete_input" />
	          </div>
	        </div>
	        <div id="autocomplete_populate" class="clearfix autocomplete typeahead_list" style="width: 343px; height: auto; overflow-y: hidden;display:none">
	           <div class="typeahead_message">Type the name of a friend, friend list, or email address</div>                       
	        </div>
				</fieldset>
				  
			</div>
			
			
			<script type="text/javascript">
				var contacts = <%= Person.get_all_as_json -%>;
				var prepopulate_with = [];
			
			  var typeahead = new Autocompleter.LocalAdvanced('autocomplete_input', 'autocomplete_populate', contacts, prepopulate_with, {                                                  
			      frequency: 0.1,
			      updateElement: addContactToList,
			      search_field: "name",
						hint_field: "email",
						id_field: "id",
						validation_type: "only_suggested"
			  });
			  var hidden_input = new HiddenInput('hidden_input',typeahead);
			</script>
	
			
			<%= submit_tag "Send", :onclick => "javascript: postFavouriteGroupData(); return(false);" -%>
		</div>
	</center>
		
		
</div>