<%

  @policy_params = params[:policy_attributes]

%>
<%= render partial: 'sharing/batch_change_results' %>

<%= show_title "Change permissions of items related to #{link_to(h(current_user.person.name),current_user.person)} in batch".html_safe -%>

<div class="alert alert-info">
  <ul>
    <li>You can view the details of current permissions for each item by clicking the item's policy icon (
      <%= image('world', title: 'Was published', class: 'visibility_icon') %>
      <%= image('partial_world', title: 'Visible to everyone, but not accessible', class: 'visibility_icon') %>
      <%= image('manage', title: 'Custom policy', class: 'visibility_icon') %>
      <%= image('lock', title: 'Private', class: 'visibility_icon') %>
      ).</li>
    <li>You can view the managers for each item by clicking the
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="position:relative; top:2px;"></span>
      icon.</li>
    <li>After your confirmation, the newly modified permissions will be highlighted with <span class="sharing_permission_changed"></span>  .</li>
  </ul>
</div>

<div id="sharing_items">
  <%= form_tag({action: :batch_change_permission_for_selected_items}, method: :post) do -%>

    <% if @assets.empty? %>
      <span class="no_manageable_asset">You have no manageable assets in <%= Seek::Config.instance_name %></span>
      <br/>
      <br/>
      <%= link_to "Back to profile", person_path(params[:id].to_i) -%>
    <% else %>
      <%= render partial: "assets/batch_asset_selection",
                    locals: { publishing: false,
                              show_hide_blocked: true,
                              show_permissions: true,
                              show_managers: false
                 }
      -%>
      <br/>
      <%= submit_tag "Next",data: { disable_with: 'Next' }, class: 'btn btn-primary' -%>
      Or
      <%= cancel_button person_path(params[:id].to_i)-%>
    <% end -%>
  <% end -%>
</div>

<script type="text/javascript">
    $j(document).ready(function () {
        $j('.sharing_permission_changed').parents('div.permission_list').show()
    })
</script>
