<p>
  <b>Group name:</b>
  <%=h @group.group_name %>
</p>

<p>
  <b>Country:</b>
  <%=h @group.country %>
</p>

<p>
  <b>City:</b>
  <%=h @group.city %>
</p>

<p>
  <b>Address:</b>
  <%=h @group.address %>
</p>

<p>
  <b>Web page:</b>
  <%=h @group.web_page %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
