<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<!DOCTYPE html>

<html>
  <head>
    <title>Taverna Player</title>
    <%= stylesheet_link_tag 'reset-fonts-grids', 'base-min', 'my_exp', 'folds', 'gadgets', 'acts_as_taggable_stylesheet',
                            'styles', 'favourites', 'fast_auto_complete', 'redbox', 'autocompleter_advanced',
                            'alphabetical_pagination', 'savage_beast/forums', 'site_announcements', 'tabnav', 'top_menu',
                            'dynamic_menu', 'data_tables', 'biovel', 'easytabs', 'biovel_colours', "taverna_player/coderay",:media => "all" %>
    <%= javascript_include_tag 'prototype.js', 'prototype_ujs.js', 'effects.js', 'dragdrop.js', 'boxover.js',
                               'scriptaculous.js', 'controls.js', 'redbox.js', 'builder.js', 'application.js',
                               'tagging.js', 'autocompleter_advanced.js', 'publication.js', 'top_menu.js',
                               'dynamic_menu.js', :cache => 'js_cached' %>
    <%= javascript_include_tag "taverna_player/application.js", 'jquery-1.5.1.min.js' %>
    <script>
      $j = jQuery.noConflict();

      function verticallyAlign() {
         var divH = $j('#content').innerHeight()/2;
         var pageH = $j(window).height()/2;
         var pad = pageH - divH;
         if(pad < 10)
           pad = 10;
         $j('#content').css({paddingTop: pad});
       }

      $j(document).ready(function() {
         verticallyAlign();
      });

      $j(window).resize(function(){
        verticallyAlign();
      });
    </script>
    <style>
      body{height:100%;}
    </style>

    <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="container">
    <div id="bd">
      <div id="yui-main">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

    <%= javascript_include_tag "folds.js" %>
    <%= javascript_include_tag "tabber-minimized.js" %>
  </body>
</html>
