<%= button_link_to('Return to profile', 'back', person_path(@user.person)) -%>

<h1>Manage Account</h1>

<%= panel('Login Details') do %>
    <div class="form-group">
      <label>Login</label>

      <p class="form-control-static"><%= @user.login %></p>
    </div>

    <h3>Change password</h3>
    <%= form_for @user do |f| -%>
        <%= f.error_messages %>

        <div class="form-group">
          <label>New password</label>
          <%= f.password_field :password, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <label>Confirm new password</label>
          <%= f.password_field :password_confirmation, :class => 'form-control' %>
        </div>

        <%= submit_tag 'Update', data: { disable_with: 'Updating...' }, :class => 'btn btn-primary' %>
    <% end -%>
<% end %>

