<%
   favourites=Favourite.for_user(current_user)

   #this shouldn't be necessry thanks to acts_as_favouritable, but acts as a safety net for an old bug that left old Favourites with nil resources [SYSMO-520]
   favourites = favourites.select{|f| !f.resource.nil?}
%>
<% show_as_list = false -%>
<% if favourites.empty? %>
  <span class="subtle" style="margin-left: 1em">None</span>
  <%= help_icon("Drag an icon here to remember for future reference.") -%>
<% else %>
  <%= "<ul class='favourites'>"  if show_as_list -%>
  <% favourites.sort_by do |a|
        ASSET_ORDER.index(a.resource_type.chomp('::Version')) || 0
    end.each do |fav|
  %>
    <% if show_as_list -%>
      <li class="fav_list_item">
        <%= fav_line_tag(fav) %>
      </li>
    <% else -%>
      <%= fav_image_tag(fav) %>
    <% end -%>
  <% end %>
  <%= "</ul>"  if show_as_list -%>
<% end %>

<script>
  // Rebind event to the favouritables that were just added to the DOM
  $j('#favourite_list .favouritable').mousedown(handleFavouritableDrag);
</script>
