<%
   favourites=Favourite.for_user(current_user)

   #this shouldn't be necessry thanks to acts_as_favouritable, but acts as a safety net for an old bug that left old Favourites with nil resources [SYSMO-520]
   favourites = favourites.select{|f| !f.resource.nil?}
%>
<% show_as_list = false -%>
<% if favourites.empty? %>
  <span class="none_text" style="vertical-align:middle;height:100%;">
    Drag an icon here to remember for future reference.<br/>
  </span>
<% else %>
  <%= "<ul class='favourites'>"  if show_as_list -%>
  <% favourites.sort_by{|a| ASSET_ORDER.index(a.resource_type)}.each do |fav| %>
    <% if show_as_list -%>
      <li class="fav_list_item">
        <%= fav_line_tag(fav) %>
      </li>
    <% else -%>
      <%= fav_image_tag(fav) %>
    <% end -%>
  <% end %>
  <%= "</ul>"  if show_as_list -%>
<% end %>

<%= drop_receiving_element("content",
  :accept=>"favourite",
  :url=>{:controller=>'favourites', :action=>'delete'},
  :method=>:delete,
  :before => "Element.show('fav_ajax-loader')",
  :complete => "Element.hide('fav_ajax-loader');") %>