<div class="matching_items">

  <% matching_model_items.each do |matching_model| %>
      <%
         model = Model.find(matching_model.primary_key)
      %>
      <div class="matching_item">

        <%= list_item_title model -%>
        <span class="score">
                - matched by <b><%= matching_model.search_terms.join(", ") -%></b>
          <%= "( #{matching_model.score} )" if Rails.env.development? %>

            </span>

        <%= list_item_contributor model -%>

        <div class="box_standout">
          <%= text_or_not_specified(model.description, :description => true, :length => 500) -%>
        </div>
      </div>
  <% end %>

</div>
