<%= list_item_title resource %>

<div class="list_item_left_column">
<%= list_item_simple_list resource.creators, "Creator" -%>

<%= list_item_contributor resource -%>

<%= @assay ? (list_item_optional_attribute "Relationship type", resource.relationship_type(@assay).try(:title)) : "" -%>  
</div>

<div class="list_item_right_column">

<%= list_item_attribute "Version", resource.version %>

<%= list_item_optional_attribute "Associated project", resource.project.try(:title), resource.project %>

</div>



<div class="list_item_whole_width">

<%= list_item_timestamp resource %>

<%= list_item_description resource.description %>

</div>