
<% return unless show_sample_extraction_status?(data_file) %>

<%
  task = data_file.sample_extraction_task
  job_status ||= task.status
  in_progress = task.in_progress?
  failed = task.failed?
  begin
    success = task.success? && Seek::Samples::Extractor.new(data_file).fetch.present?
  rescue Seek::Samples::FetchException
    success = false
  end
%>

<%
  alert_style = 'alert-info'
  alert_style = 'alert-warning' if failed
  alert_style = 'alert-success' if success
%>

<div id="sample-extraction-status">
  <% if in_progress || failed || success %>
      <div class="alert <%= alert_style %>" role="alert">
        <strong>Sample extraction:</strong>
        <% if in_progress %>
            <%= job_status.to_s.humanize %>
            <%= image 'spinner' %>
            <script>
              setTimeout(function () {
                $j.ajax('<%= extraction_status_data_file_path(data_file) %>', {
                      data: { 'previous_status': '<%= job_status -%>' },
                      success: function (html) {
                        $j('#sample-extraction-status').replaceWith(html);
                      }
                    }
                );
              }, 5000);
            </script>
        <% elsif failed %>
          Failed. An administrator will have been notified of the problem, but you could try again.
        <% elsif success  %>
            Waiting for confirmation
            <p>
              Please review the extracted samples by clicking the button below, and decide whether to continue or cancel
              the extraction process.
            </p>
            <%= link_to('Review Extracted Samples', confirm_extraction_data_file_path(data_file),
                        class: 'btn btn-primary') %>
        <% end %>
      </div>
  <% end %>
</div>
