<% link ||= false %>

<div data-role="seek-association-candidate-list">
  <div class="table-responsive">
    <table class="table table-bordered datafiles-table" style="width: 100%">
      <% [:thead, :tfoot].each do |section| %>
          <%= content_tag(section) do %>
              <tr>
                <th data-column-type="String" data-search-title="Filename">Filename</th>
              </tr>
          <% end %>
      <% end %>
      <tbody>
      <% datafiles.each do |datafiles| %>
          <%= content_tag(:tr) do %>
              <td><%= datafiles.title %></td>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <% if datafiles.map { |s| s.errors.any? }.all? %>
      <%= modal(id: 'datafiles-error-modal') do %>
          <%= modal_header 'Errors' %>
          <%= modal_body {} %>
      <% end %>
  <% end %>
</div>
