<%= javascript_include_tag "sharing.js","associate_events.js","assays.js","attribution.js","resource.js" %>

<% current_user_authorized_to_manage = @data_file.can_manage? -%>
<h1>Editing <%= t('data_file') %>: <%= link_to(h(@data_file.title), data_file_path(@data_file)) -%></h1>
<div class="show_basic">
    <%= form_for(@data_file) do |f| %>
	<div class="asset_form">
    <%= f.error_messages %>
    <p>
        <b>Title:</b>
        <br/>
        <%= f.text_area :title, :style => "width: 100%;",:rows=>2 -%>
    </p>
    <p>
        <b>Description:</b>
        <br/>
        <%= f.text_area :description, :style => "width: 100%;", :rows => 10 -%>
    </p>    

    <%# only the owner should be able to change sharing permissions -%>
    <% if current_user_authorized_to_manage -%>
          
	<%= render :partial => "projects/project_selector", :locals => { :resource => @data_file } %>

	<%= render :partial=>"assets/asset_form_bottom", :locals=> { :f => f } -%>


        <p>
            <%= render :partial => "assays/associate_assays", :locals=>{:resource => @data_file} -%>
        </p>
          <p>
            <% if Seek::Config.events_enabled -%>
                <%= render :partial => "assets/associate_event", :locals=>{:resource => @data_file, :show_relationships=>false} -%>
            <% end -%>
          </p>
        <%= fields_for(@data_file) {|f| f.fancy_multiselect :samples, {:hidden=> @data_file.samples.blank?  ? true : false, :other_projects_checkbox => true}}  -%>
        <% end -%>
        <%= preview_permission_popup_link(@data_file)-%>
        <p>
            <%= f.submit "Update", :id => "data_file_submit_btn", :onclick => "javascript: validateResourceFields(false, 'data_file', #{current_user_authorized_to_manage}); return(false);" -%> or <%= link_to "Cancel", data_file_path(@data_file) -%>
        </p>
        </div>
    <% end %>
    
</div>



