<%= javascript_include_tag "sharing.js" %>
<%= javascript_include_tag "associate_events.js" %>
<%= javascript_include_tag "assays.js" %>

<% current_user_authorized_to_manage = Authorization.is_authorized?("manage", nil, @data_file, current_user) -%>
<ul class="sectionIcons">
    <li>
        <%= image_tag_for_key('arrow_left', data_file_path(@data_file), 'Return to Data file', nil, 'Return to Data file') -%>
    </li>
</ul>
<h1>Editing Data file: <%= link_to(h(@data_file.title), data_file_path(@data_file)) -%></h1>
<div class="show_basic">
    <% form_for(@data_file) do |f| %>
	<div class="asset_form">
    <%= f.error_messages %>
    <p>
        <b>Title:</b>
        <br/>
        <%= f.text_area :title, :style => "width: 100%;",:rows=>2 -%>
    </p>
    <p>
        <b>Description:</b>
        <br/>
        <%= f.text_area :description, :style => "width: 100%;", :rows => 10 -%>
    </p>    

    <%# only the owner should be able to change sharing permissions -%>
    <% if current_user_authorized_to_manage -%>
	
	<%= render :partial=>"assets/asset_form_bottom", :locals=> {
					:resource_type => "DataFile",
					:existing_attributions=>Authorization.authorize_collection("show", @data_file.attributions_objects, current_user),
					:existing_creators=>@data_file.creators,
					:other_creators=>@data_file.other_creators,
					:related_publications=>@data_file.related_publications
				} 
    -%>

    <% if Seek::ApplicationConfiguration.events_enabled -%>
        <%= render :partial => "assets/associate_event", :locals=>{:resource => @data_file, :show_relationships=>false} -%>
    <% end -%>
    <%= render :partial => "assets/associate_assay", :locals=>{:resource => @data_file, :show_relationships=>true} -%>
          
    <%= render :partial => "assets/project_selector", :locals => { :resource_type => "Data_file",  # this is only for presentation, not for any processing
            :selected_project_id => @data_file.project_id,
            :project_hash => current_user.generate_own_project_id_name_hash
            }
    %>
    
    <% end -%>
    <p>
        <%= f.submit "Update", :id => "data_file_submit_btn", :onclick => "javascript: validateDataFileFields(false); return(false);" -%> or <%= link_to "Cancel", data_file_path(@data_file) -%>
    </p>
	</div>
    <% end %>
    
</div>
