<%= stylesheet_link_tag('finn_spreadsheet') %>
<%= javascript_include_tag 'jquery-1.4.3.js', 'finn_spreadsheet.js' %>

<ul class="sectionIcons">
  <li>
    <%= image_tag_for_key('arrow_left', data_file_path(@data_file), 'Return to Data file', nil, 'Return to Data file') -%>
  </li>
</ul>

<h1>Exploring Data File</h1>

<div class="show_basic">
  <input size="10" id="selection_data"></input>
  <input size="60" id="cell_info"></input>
  <%= link_to image('spreadsheet_annotation_add') + " Annotate", "#", :onclick =>"$j('div#annotation_form').toggle();return false;" %>
  <br/><br/>
  
  <%= render :partial => "annotations/annotation_form" %>
    
  <div id="hidden_annotations">
    <%= render :partial => "annotations/annotations", :locals=>{ :annotations => @spreadsheet.annotations } %>
  </div>
  
  <%= render :partial => "spreadsheets/spreadsheet_styles", :locals => {:styles => @spreadsheet.styles} %>
  <%= generate_spreadsheet_html(@spreadsheet) %>   
</div>