<%= stylesheet_link_tag('finn_spreadsheet') %>
<%= javascript_include_tag 'jquery-1.4.3.js', 'finn_spreadsheet.js' %>


<h1>Exploring Data File</h1>

<div class="show_basic">
  <input size="10" readonly="readonly" id="selection_data"></input>
  <input size="60" readonly="readonly" id="cell_info"></input><br/><br/>
  
  <% form_remote_tag(:url=>{:controller=>"spreadsheet_annotations", :action=>"fucker"},   
                   :update => { :success => "hidden_annotations", :failure => "hidden_annotations"},
                   :loading => "Element.show('spinner');",
                   :complete => "Element.hide('spinner');") do %>
    <%= submit_tag 'Add Annotation',:id=>"fetch_button" %>
  <% end %>
  <%= image_tag "ajax-loader-large.gif", :id => 'spinner', :style => 'display:none;' -%><br/>
    
  <div id="hidden_annotations">
    <%= render :partial => "annotations/annotation", :collection=>@spreadsheet.annotations %>
    <%= render :partial => "annotations/annotation_javascript", :locals => {:annotations => @spreadsheet.annotations} %>
  </div>
  
  
  <%= generate_spreadsheet_html(@spreadsheet) %>   
</div>

(<span id="debug"></span>)