<%= stylesheet_link_tag 'spreadsheet_explorer' -%>
<%= javascript_include_tag 'spreadsheet_explorer', 'spreadsheet_explorer_plot', 'flot/index' %>

<div style="margin-left: auto; margin-right: auto; margin-top: 2em; width: 98%;" id="spreadsheet-explorer">
  <div id="spreadsheet_errors"></div>
  
  <input size="10" id="selection_data">
  <input size="60" id="cell_info" readonly="readonly">

  <div class="spreadsheet_controls">
    <%= link_to image('spreadsheet') + " List Annotations", "#", :onclick =>"$j('div.spreadsheet_popup').hide(); $j('div#annotation_overview').show();return false;",
          :title => "Add new annotation", :class => "spreadsheet_button" %>
    <% if logged_in? %>
    <%= link_to image('spreadsheet_annotation_add') + " Add Annotation", "#", :onclick =>"$j('div.spreadsheet_popup').hide(); $j('div#annotation_form').show();return false;",
          :title => "Add new annotation", :class => "spreadsheet_button requires_selection" %>
    <% end %>
    <%= link_to image('spreadsheet_export') + " Export Data", "#", :onclick =>"copy_cells(); return false;",
          :title => "Export selected cells into an external application", :class => "spreadsheet_button requires_selection" %>
    <%= link_to image('graph') + " Plot Data", "#", :onclick =>"plot_selected_cells('plot_data','620','400'); return false;",
          :title => "Export selected cells into an external application", :class => "spreadsheet_button requires_selection" %>
    <%= link_to image('destroy') + " Clear Selection", "#", :onclick =>"deselect_cells();$j('#cell_info').val(''); return false;",
          :title => "Cancel the current selection", :class => "spreadsheet_button requires_selection" %>
  </div>
  
  <div class="spreadsheet_viewer" id="spreadsheet_outer_frame">
    <%= render :partial => "spreadsheets/annotation_form" %>
    <%= render :partial => "spreadsheets/export" %>
    <%= render :partial => "spreadsheets/plot" %>
    
    <div id="annotations">
      <%= render :partial => "spreadsheets/annotations", :locals=>{ :annotations => @display_data_file.spreadsheet_annotations } %>
    </div>

        <%= render :partial => "spreadsheets/spreadsheet_styles", :locals => {:styles => @workbook.styles} %>
        <%= render :partial => "spreadsheets/spreadsheet", :locals => {:workbook => @workbook }%>

  </div>
</div>
