<%= stylesheet_link_tag('spreadsheet_explorer', 'jquery-ui-1.8.14.custom') %>
<%= javascript_include_tag 'jquery-1.5.1.min.js','jquery-ui-1.8.14.custom.min.js', 'spreadsheet_explorer.js','spreadsheet_explorer_plot.js',
                           'flot/excanvas.js','flot/jquery.flot.js', 'flot/curvedLines.js',:cache=>"explorer_cached" %>

<ul class="sectionIcons">
  <li>
    <%= image_tag_for_key('arrow_left', data_file_path(@data_file), 'Return to Data file', nil, 'Return to Data file') -%>
  </li>
</ul>

<h1>Exploring Data File</h1>

<div style="margin-left: auto; margin-right: auto; width: 98%;">
  <div id="spreadsheet_errors"></div>
  
  <input size="10" id="selection_data"></input>
  <input size="60" id="cell_info" readonly="readonly"></input>

  <div class="spreadsheet_controls">
    <%= link_to image('spreadsheet') + " List Annotations", "#", :onclick =>"$j('div.spreadsheet_popup').hide(); $j('div#annotation_overview').show();return false;",
          :title => "Add new annotation", :class => "spreadsheet_button" %>
    <% if logged_in? %>
    <%= link_to image('spreadsheet_annotation_add') + " Add Annotation", "#", :onclick =>"$j('div.spreadsheet_popup').hide(); $j('div#annotation_form').show();return false;",
          :title => "Add new annotation", :class => "spreadsheet_button requires_selection" %>
    <% end %>
    <%= link_to image('spreadsheet_export') + " Export Data", "#", :onclick =>"copy_cells(); return false;",
          :title => "Export selected cells into an external application", :class => "spreadsheet_button requires_selection" %>
    <%= link_to image('graph') + " Plot Data", "#", :onclick =>"plot_selected_cells('plot_data','500','300'); return false;",
          :title => "Export selected cells into an external application", :class => "spreadsheet_button requires_selection" %>
    <%= link_to image('destroy') + " Clear Selection", "#", :onclick =>"deselect_cells();$j('#cell_info').val(''); return false;",
          :title => "Cancel the current selection", :class => "spreadsheet_button requires_selection" %>
  </div>
  
  <%= render :partial => "spreadsheets/spreadsheet_styles", :locals => {:styles => @spreadsheet.styles} %>
  
  <div class="spreadsheet_viewer" id="spreadsheet_outer_frame">
    <%= render :partial => "spreadsheets/annotation_form" %>
    <%= render :partial => "spreadsheets/export" %>
    <%= render :partial => "spreadsheets/plot" %>
    
    <div id="annotations">
      <%= render :partial => "spreadsheets/annotations", :locals=>{ :annotations => @spreadsheet.annotations } %>
    </div>
    
    <%= render :partial => "spreadsheets/spreadsheet", :locals => {:workbook => @spreadsheet }%>
  </div>
</div>