<% workflows = Workflow.available_galaxy_workflows %>
<% studies = Study.all.select(&:can_edit?) %>
<% samples = @data_file.extracted_samples %>

<%= image(:galaxy_logo) %>

<%= form_tag(galaxy_analyse_data_file_path(@data_file), method: :post) do %>

  <div class="form-group">
    <label>Workflow</label>
    <%= select_tag :workflow_id, options_from_collection_for_select(workflows, "id", "title"), class:'form-control', disabled:workflows.empty?  %>
  </div>


  <div class="form-group">
    <label>Study</label>
    <%= select_tag :study_id, options_from_collection_for_select(studies, "id", "title"), class:'form-control', disabled:studies.empty?  %>
  </div>

  <div class="form-group">
    <label>Analysis title</label>
    <%= text_field_tag :assay_title,'', class:'form-control'  %>
  </div>

  <div class="form-group">
    <label>Analysis description</label>
    <%= text_area_tag :assay_description,'', class:'form-control', rows: 3  %>
  </div>

  <div class="form-group">
    <label>Output data</label>
    <%= text_area_tag :output_data,'', class:'form-control', rows: 3  %>
  </div>

  <div class="form-group">
    <label>Samples</label>
    <ul id="samples">
      <%= hidden_field_tag "sample_ids[]" %>
    <%
      samples.each do |sample|
    %>
      <li>
        <%= label_tag(sample.title) %>
        <%= check_box_tag "sample_ids[]",sample.id,true, id:"sample_ids_#{sample.id}"  %>
      </li>
    <%
      end
    %>
    </ul>
  </div>



  <%= submit_tag "Confirm", :class => 'btn btn-primary',disabled: workflows.empty? -%>
  or <%= cancel_button(data_file_path(@data_file), button_text: 'Cancel Analysis') -%>

<% end %>