<% @page_title ||= "New #{t('data_file')}" %>
<h1><%= @page_title %></h1>

<%= form_tag({:action => :create_content_blob}, :multipart => true) do -%>
    <%= hidden_field_tag 'data_file[parent_name]', @data_file.parent_name%>
    <%= hidden_field_tag 'assay_ids[]',params[:assay_ids] %>

    <div class="asset_form">
      <%= error_messages_for :data_file -%>

      <%= render :partial=>"assets/upload_box",:locals=>{:resource=>@data_file} -%>

      <div>
        <%= create_button id:"data_file_submit_btn",
                          onclick:"javascript: validateResourceFields(true,'data_file',true); return(false);",
                          class:'btn btn-primary',
                          button_text:'Upload',
                          'data-upload-file-text' => 'Upload' %>
        or <%= cancel_button(data_files_path) -%>
      </div>
    </div>
<% end -%>