<%= javascript_include_tag "sharing.js","associate_events.js","assays.js","attribution.js","resource.js" -%>

<h1>New Data file</h1>
<div class="show_basic">
    <% form_tag({:action => :create}, :multipart => true) do -%>
    <div class="asset_form">
        <%= error_messages_for :data_file -%>
        <%= render :partial=>"assets/upload_box" -%>
        <p style="margin-top: 1.5em;">
            <b>Title</b>
            <span class="required">*</span>
            <br/>
            <% data_file_title_value = (params[:data_file].blank? || params[:data_file][:title].blank?) ? nil : params[:data_file][:title] -%>
            <%= text_area_tag 'data_file[title]', data_file_title_value, :style => "width: 100%;", :rows=>2 -%>
        </p>
        <p style="margin-top: 0.5em;">
            <b>Description</b>
            <br/>
            <% data_file_description_value = (params[:data_file].blank? || params[:data_file][:description].blank?) ? nil : params[:data_file][:description] -%>
            <%= text_area_tag 'data_file[description]', data_file_description_value, :style => "width: 100%;", :rows => 10 -%>
        </p>
        <%= render :partial => "assets/project_selector", :locals => { :resource_type => "DataFile",   # this is only for presentation, not for any processing
        :project_hash => current_user.generate_own_project_id_name_hash } -%>
        
      
        <%= render :partial=>"assets/asset_form_bottom", :locals=> {:resource_type => "DataFile"} -%>
        <p>
            <% if Seek::Config.events_enabled -%>
                <%= render :partial => "assets/associate_event", :locals=>{:resource => @data_file} -%>
            <% end -%>
        </p>
        <p>
            <%= render :partial => "assays/associate_assays", :locals=>{:resource => @data_file, :show_relationships=>true} -%>
        </p>
        <p>
            <%= submit_tag "Upload and Save", :id => "data_file_submit_btn", :onclick => "javascript: validateDataFileFields(true); return(false);" -%> or <%= link_to 'Cancel', data_files_path -%>
        </p>
    </div>
    <% end -%>
</div>
