<%= javascript_include_tag :multi_step_wizard %>
Content blob id: <%= @data_file.content_blob.id %>
<%= form_for(@data_file, url: {action: :create_metadata}) do |f| -%>
  <%= hidden_field_tag 'content_blob_id', @data_file.content_blob.id %>
  <div id='datafile-multi-set' class='multi-step'>
    <div class="asset_form">
      <%= error_messages_for :data_file -%>

      <div id='step-1' class='multi-step-block'>
        <%= render partial: 'data_files/multi-steps/basic_metadata',locals:{f: f} %>
      </div>

      <div id='step-2' class='multi-step-block multi-step-datafile-block'>
        <%= render partial: 'data_files/multi-steps/license_and_permissions',locals:{f: f} %>
      </div>

      <div id='step-3' class='multi-step-block multi-step-datafile-block'>
        <%= render partial: 'data_files/multi-steps/assays',locals:{f: f} %>
      </div>

      <div id='step-4' class='multi-step-block multi-step-datafile-block'>
        <%= render partial: 'data_files/multi-steps/other_links',locals:{f: f} %>
      </div>

    </div>
  </div>
<% end -%>

