<%= javascript_include_tag "resource" -%>
<% truncate_length_for_boxes = 22 -%>
<% if @data_file.is_with_sample?
   bio_samples = @data_file.bio_samples_population nil, false
   sample_names = bio_samples.instance_values["sample_names"]
  end
-%>

<%= render :partial => "general/item_title",:locals=>{:item=>@data_file } -%>

<ul class="sectionIcons">
<%= asset_buttons @data_file,@display_data_file.version -%>
  <% if Seek::Config.solr_enabled && @display_data_file.latest_version? && @data_file.contains_extractable_spreadsheet? -%>
      <li>
        <%= image_tag_for_key("search",matching_models_data_file_path(@data_file),nil,nil,"Find related models") -%>
      </li>
  <% end -%>
</ul>
<br/>

<div class="show_basic">

  <%= render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@data_file} -%>

  <div class="main_content_left_box">
    <%= render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_data_file, :resource=>@data_file} -%>
    <div class="box_about_actor">

      <%= render :partial => 'assets/fileinfo',:object=>@display_data_file.content_blob -%>

      <br/>
      <%= render :partial => "assets/special_auth_code_display", :locals => {:resource => @data_file} %>
      <%= item_description @display_data_file.description -%>
    </div>
  </div>

  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @data_file, :versioned_resource=>@display_data_file } -%>
  
  <div style="clear:both;">
    <p>
        <%= embedded_isa_svg(@data_file, true, @data_file) -%>
      </p>
    <p>
      <h2>Factors studied:</h2>
      <%= render :partial=>"data_files/studied_factors" -%>
    </p>

    <div class="fold">

      <div class="foldTitle">
        Treatments
      </div>

      <div class="foldContent" style="display:none;" >
        <% if can_download_asset?(@data_file, params[:code]) -%>
                <% if Seek::Config.is_virtualliver &&  @data_file.is_with_sample?

                     treatments = bio_samples.instance_values["treatments_text"]
                     is_empty = treatments.empty?
                     #treatments = Hash[treatments.sort] unless treatments.length == 0
                     #sample_names = Hash[sample_names.sort] unless sample_names.length == 0
                     #Rails.logger.warn "samples to render in extractions table: #{sample_names}"

                     treatment_table = render :partial => "extractions_table", :locals => {:extractions => treatments, :sample_names => sample_names} unless is_empty
                   else
                     treatments = @display_data_file.treatments
                     is_empty = treatments.values.keys.empty?
                     treatment_table = render :partial => "treatment_table", :locals => {:treatments => treatments} unless is_empty
                   end
                 -%>
                <% if is_empty -%>
                    <span class="none_text">No treatments were found in the <%= t('data_file') %>, or it does not match a known template.</span>
                <% else -%>
                    <%= treatment_table -%>
                <% end -%>
        <% else -%>
            <span id="treatments" class="none_text">You do not have permission to view the treatments for this <%= t('data_file') %>.</span>
        <% end -%>
      </div>
    </div>
  <% if @data_file.is_with_sample? -%>
    <% rna_extractions = bio_samples.instance_values["rna_extractions"] -%>
    <% unless rna_extractions.nil? -%>
        <% unless rna_extractions.empty? -%>
            <div class="fold">
              <div class="foldTitle">
                RNA Extractions
              </div>
              <div class="foldContent" style="display:none;">
                <% if can_download_asset?(@data_file, params[:code]) -%>
                    <%= render :partial => "extractions_table", :locals => {:extractions => rna_extractions, :sample_names => sample_names} -%>
                <% else -%>
                    <span id="rna_extractions" class="none_text">You do not have permission to view the RNA extractions for this file.</span>
                <% end -%>
              </div>
            </div>
        <% end -%>
    <% end -%>
    <% sequencing = bio_samples.instance_values["sequencing"] -%>
    <% unless sequencing.nil? -%>
        <% unless sequencing.empty? -%>
            <div class="fold">
              <div class="foldTitle">
                Sequencing
              </div>
              <div class="foldContent" style="display:none;">
                <% if can_download_asset?(@data_file, params[:code]) -%>

                    <%= render :partial => "extractions_table", :locals => {:extractions => sequencing, :sample_names => sample_names} -%>

                <% else -%>
                    <span id="sequencing" class="none_text">You do not have permission to view the sequencing for this file.</span>
                <% end -%>
              </div>
            </div>
        <% end -%>
    <% end -%>
  <% end -%>
  </div>

  <%= render :partial=>"general/items_related_to",:object => @data_file -%>

</div>
