
<% truncate_length_for_boxes = 22 -%>


<%= render :partial => "general/item_title",:locals=>{:item=>@data_file } -%>

<ul class="sectionIcons">
    <%= asset_buttons @data_file,@display_data_file.version -%>
</ul>
<br/>

<div class="show_basic">

  <%= render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@data_file} -%>

  <div class="main_content_left_box">
    <%= render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_data_file, :resource=>@data_file} -%>
    <div class="box_about_actor">

      <%= item_description @display_data_file.description -%>

      <%= render :partial => 'assets/fileinfo',:object=>@display_data_file.content_blob -%>


      <%= render :partial => "assets/special_auth_code_display", :locals => {:resource => @data_file} %>

      <%= render :partial => "assets/asset_doi", :locals => {:displayed_resource=>@display_data_file} %>

    </div>
  </div>

  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @data_file, :versioned_resource=>@display_data_file } -%>

  <div style="clear:both">
    <%= render :partial=>"general/isa_graph", :locals => {:root_item => @data_file, :current_item => @data_file, :deep => true} %>
  </div>

  <div style="clear:both;">
    <% if Seek::Config.factors_studied_enabled %>
        <p>
          <h2>Factors studied:</h2>
          <%= render :partial=>"data_files/studied_factors" -%>
        </p>
    <% end %>
    <%= render(:partial=>"data_files/vl_samples_info") if Seek::Config.is_virtualliver -%>
  </div>

  <%= render :partial=>"general/items_related_to",:object => @data_file -%>

</div>
