<%= javascript_include_tag "resource" -%>
<% truncate_length_for_boxes = 22 -%>

<ul class="sectionIcons">
  <% if Authorization.is_authorized?("manage", nil, @data_file, current_user) -%>
    <li><%= link_to_function image("new")+" Upload new version", visual_effect(:toggle_appear, "upload_new_version_form") -%></li>
    <li><%= image_tag_for_key('manage', edit_data_file_path(@data_file), nil, nil, 'Manage Data file') -%></li>
  <% elsif Authorization.is_authorized?("edit", nil, @data_file, current_user) -%>
    <%# this is not owner, but current user can edit -%>
    <li><%= image_tag_for_key('edit', edit_data_file_path(@data_file), nil, nil, 'Edit Data file') -%></li>
  <% end -%>

  <% if Authorization.is_authorized?("destroy", nil, @data_file, current_user) -%>
    <li><%= image_tag_for_key('destroy', data_file_path(@data_file), nil, { :confirm => 'This deletes the Data file and all metadata. Are you sure?', :method => :delete }, 'Delete Data file') -%></li>
  <% end -%>

  <% if Authorization.is_authorized?("download", nil, @data_file, current_user) -%>
    <li>
      <%= image_tag_for_key('download', download_data_file_url(:version=>@display_data_file.version), "Download Data file", nil, "Download Data file") -%>
    </li>
  <% else -%>
    <li>
      <%= render :partial=>"assets/request_resource",:locals=>{:resource=>@data_file} %>
    </li>
  <% end -%>

</ul>

<%= render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@data_file} -%>

<h1 class="contribution_title">Data file: <%= link_to(h(@display_data_file.title), data_file_path(@data_file,:version=>@display_data_file.version)) -%></h1>

<%= render :partial => "assets/resource_datetime_info", :locals => { :resource => @data_file } -%>


<div class="show_basic">
  <div class="main_content_left_box">
    <%= render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_data_file, :resource=>@data_file} -%>
    <div class="box_about_actor">
      <p>
        <label>Project:</label>
        <% if @data_file.project.nil? -%>
          <%= text_or_not_specified nil %>
        <% else -%>
          <%= link_to h(@data_file.project.name),@data_file.project %>
        <% end -%>
      </p>
      <p>
        <label>File name:</label>
        <%=h @display_data_file.original_filename -%>
      </p>

      <p>
        <label>Format:</label>
        <%=h @display_data_file.content_type -%>
      </p>
      <br/>

      <p>
        <b>Description:</b>
        <% unless @display_data_file.description.blank? -%>
          <div class="box_standout" id="description">
            <%= simple_format(auto_link(white_list(@display_data_file.description),:all,:rel=>'nofollow')) -%>
          </div>
        <% else -%>
          <p class="none_text">
            No description.
          </p>
        <% end -%>
      </p>


    </div>
  </div>
  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @data_file } %>
  
  <div style="clear:both;">

    <p>
      <h2>Factors studied:</h2>
      <%= render :partial=>"data_files/studied_factors" %>
    </p>

  </div>

  <%= render :partial=>"layouts/items_related_to",:object => @data_file %>

</div>