
<% truncate_length_for_boxes = 22 -%>

<ul class="sectionIcons">
  <% if Authorization.is_authorized?("manage", nil, @data_file, current_user) -%>
    <li><%= icon('manage', edit_data_file_path(@data_file), nil, nil, 'Manage Data file') -%></li>
  <% elsif Authorization.is_authorized?("edit", nil, @data_file, current_user) -%>
    <%# this is not owner, but current user can edit -%>
    <li><%= icon('edit', edit_data_file_path(@data_file), nil, nil, 'Edit Data file') -%></li>
  <% end -%>

  <% if Authorization.is_authorized?("destroy", nil, @data_file, current_user) -%>
    <li><%= icon('destroy', data_file_path(@data_file), nil, { :confirm => 'This deletes the Data file and all metadata. Are you sure?', :method => :delete }, 'Delete Data file') -%></li>
  <% end -%>

  <% if Authorization.is_authorized?("download", nil, @data_file, current_user) -%>
    <li>
      <%= icon('download', download_data_file_url, "Download Data file", nil, "Download Data file") -%>
    </li>
  <% else -%>
    <li>
      <%= render :partial=>"assets/request_resource",:locals=>{:resource=>@data_file} %>
    </li>
  <% end -%>

</ul>

<h1 class="contribution_title">Data file: <%= link_to(h(@data_file.title), data_file_path(@data_file)) -%></h1>

<%= render :partial => "assets/resource_datetime_info", :locals => { :resource => @data_file } -%>


<div class="show_basic">
  <div class="main_content_left_box">
    <div class="box_about_actor">
      <p>
        <label>Project:</label>
        <% if @data_file.project.nil? -%>
          <%= text_or_not_specified nil %>
        <% else -%>
          <%= link_to h(@data_file.project.name),@data_file.project %>
        <% end -%>
      </p>
      <p>
        <label>File name:</label>
        <%=h @data_file.original_filename -%>
      </p>

      <p>
        <label>Format:</label>
        <%=h @data_file.content_type -%>
      </p>
      <br/>

      <p>
        <b>Description:</b>

        <% unless @data_file.description.blank? -%>
          <div class="box_standout">
            <%= simple_format(white_list(@data_file.description)) -%>
          </div>
        <% else -%>
          <p class="none_text">
            No description.
          </p>
        <% end -%>
      </p>


    </div>
  </div>
  <div class="main_content_right_box">
    <%= render :partial => "assets/resource_original_uploader_box", :locals => { :resource => @data_file } -%>
    <%= render :partial => "assets/resource_attributions_box", :locals => { :resource => @data_file, :attributed_to => Authorization.authorize_collection("show", @data_file.attributions_objects, current_user, true), :truncate_to => truncate_length_for_boxes } -%>
  </div>
  <div style="clear:both;">

    <p>
      <h2>Factors studied:</h2>
      <%= render :partial=>"data_files/studied_factors" %>
    </p>

  </div>


  <% data_file_resource_hash = classify_for_tabs(@data_file.assays) %>
  <% data_file_resource_hash.merge! classify_for_tabs([@data_file.project]) if @data_file.project %>
  <%= render :partial=>"layouts/items_related_to",:locals=>{:item_name=>@data_file.title,:item_hash=>data_file_resource_hash} %>

</div>