<%= render :partial => "general/item_title",:locals => {:item=>@data_file, :version => @display_data_file.version,
                                                        :buttons_partial => 'assets/asset_buttons'} -%>

<%= render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@data_file} -%>

<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">
    <%= render :partial => "data_files/sample_extraction_status", :locals => {:data_file => @data_file} %>

    <%= item_description @display_data_file.description -%>

    <div class="row">
      <div class="col-md-6">
        <%= persistent_resource_id(@display_data_file) %>

        <%= render :partial => 'assets/fileinfo',:object=>@display_data_file.content_blob -%>

        <%= render :partial => "assets/special_auth_code_display", :locals => {:resource => @data_file} %>

        <%= render :partial => "assets/asset_doi", :locals => {:displayed_resource=>@display_data_file} %>
      </div>
    </div>
    <%= render :partial=>"general/isa_graph", :locals => {:root_item => @data_file, :deep => true, :include_parents => true} %>
  </div>

  <div class="col-md-3 col-sm-4">
    <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @data_file, :versioned_resource=>@display_data_file } -%>
  </div>
</div>

<%= render(:partial=>"data_files/vl_samples_info") if Seek::Config.is_virtualliver -%>

<%= render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_data_file, :resource=>@data_file} -%>

<%= render :partial=>"general/items_related_to",:object => @data_file -%>

