<%= javascript_include_tag "resource" -%>
<% truncate_length_for_boxes = 22 -%>


<%= asset_buttons @data_file,@display_data_file.version -%>

	<%# TODO: FIX THIS %>
	<h1>FINN YOU NEED TO FIX THIS</h1>

  <% if Authorization.is_authorized?("download", nil, @data_file, current_user) -%>
    <li>
      <%= image_tag_for_key('spreadsheet', explore_data_file_url, "Explore Data file", nil, "Explore Data file") -%>
    </li>
  <% end -%>
<%= render :partial=>"assets/upload_new_version_form", :locals=>{:resource=>@data_file} -%>

<%= render :partial => "layouts/item_title",:locals=>{:item=>@data_file} %>

<%= render :partial => "layouts/usage_info", :locals => { :resource => @data_file } -%>


<div class="show_basic">
  <div class="main_content_left_box_narrower">
    <%= render :partial=>"assets/resource_version_details", :locals=>{:displayed_resource=>@display_data_file, :resource=>@data_file} -%>
    <div class="box_about_actor">
      <p>
        <label>Project:</label>
        <% if @data_file.project.nil? -%>
          <%= text_or_not_specified nil %>
        <% else -%>
          <%= link_to h(@data_file.project.name),@data_file.project %>
        <% end -%>
      </p>
      <p>
        <label>File name:</label>
        <%=h @display_data_file.original_filename -%>
      </p>

      <p>
        <label>Format:</label>
        <%=h mime_nice_name(@display_data_file.content_type) -%>
      </p>
      <br/>

      <p>
        <b>Description:</b>
        <% unless @display_data_file.description.blank? -%>
          <div class="box_standout" id="description">
            <%= simple_format(auto_link(white_list(@display_data_file.description),:all,:rel=>'nofollow')) -%>
          </div>
        <% else -%>
          <p class="none_text">
            No description.
          </p>
        <% end -%>
      </p>

    </div>
  </div>
  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @data_file } %>
  
  <div style="clear:both;">
    <p>
        <%= embedded_isa_svg(@data_file, true, @data_file) -%>
      </p>
    <p>
      <h2>Factors studied:</h2>
      <%= render :partial=>"data_files/studied_factors" %>
    </p>

  </div>

  <%= render :partial=>"layouts/items_related_to",:object => @data_file %>

</div>