<%
  dataset = data_file.content_blobs.first.openbis_dataset
  openbis_endpoint = dataset.openbis_endpoint
  file_count=dataset.dataset_file_count
  files_text = "#{file_count} File".pluralize(file_count) + " : #{number_to_human_size(dataset.size)}"
%>

<%= modal_openbis_file_view('openbis-file-view') %>

<div class="panel panel-default" id="openbis-details">
  <div class="panel-body">
    <p>
      <%= image(:openbis) %>
    </p>

    <div class="row">
      <div class="col-md-5">
        <div>
          <label>Dataset Perm ID: </label> <%= dataset.perm_id %>
        </div>
        <div>
          <label>Dataset Type: </label> <%= dataset.dataset_type_description %>
        </div>
      </div>
      <div class="col-md-5">
        <div>
          <label>Dataset Type Code: </label> <%= dataset.dataset_type_code %>
        </div>
        <div>
          <label>Registration date: </label> <%= date_as_string(dataset.registration_date, true) %>
        </div>
        <div>
          <label>Last modification date: </label> <%= date_as_string(dataset.modification_date, true) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label>Files: </label> <%=  %>
        <%= link_to(files_text, '#', class: 'view-files-link',
                    'data-toggle' => 'modal',
                    'data-target' => "#openbis-file-view",
                    'data-perm-id' => "#{dataset.perm_id}",
                    'data-endpoint-id' => "#{openbis_endpoint.id}",
                    'data-datafile-id' => "#{@data_file.id}",
                    'data-project-id' => "#{@data_file.projects.first.id}")
        %>
      </div>
    </div>

  </div>
</div>

<script>

  //FIXME: copy and paste job from _show_items_for_space.html.erb
  var OpenBis = {
    showFiles: function () {
      var permId = $j(this).data('perm-id');
      var endpointId = $j(this).data('endpoint-id');
      var dataFileId=$j(this).data('datafile-id');
      var projectId=$j(this).data('project-id');
      var path='/projects/'+projectId+'/openbis_endpoints/show_dataset_files'

      $j.ajax(path, {
            data: {id: endpointId, data_file_id:dataFileId, perm_id:permId},
            success: function (html) {
              $j('#openbis-file-view #contents').html(html);
            },
            beforeSend: function () {
              $j('#openbis-file-view #contents').html('<%= image('spinner') %>');
            }
          }
      );
    },

  };

  $j(document).ready(function () {
    $j('#openbis-details').on('click', '.view-files-link', OpenBis.showFiles);
  });

</script>