 <%
    graph_title ||= ""
    x_axis_title ||= "time(min)"
    y_axis_title ||= ""
    width ||= "800"
    height ||= "600"
    div_id="chart_#{UUIDTools::UUID.random_create.to_s}"
    csv_data ||= open(csv_url).read

 -%>
<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      var chart;
      function drawChart() {
        var data = new google.visualization.DataTable();
        <%= csv_to_google_data csv_data -%>

        chart = new google.visualization.LineChart(document.getElementById('<%= div_id -%>'));
        chart.draw(data, {curveType:'function',
            width: <%= width -%>,
            height: <%= height -%>,
            title: '<%= graph_title -%>',
            vAxis: {title:'<%= y_axis_title -%>',minValue:0,baseline:0},
            hAxis: {title:'<%= x_axis_title -%>'}
        });
        google.visualization.events.addListener(chart, 'select', itemSelected);
      }

      function itemSelected(e) {
          alert("something was selected");
      }
    </script>

<div id='<%= div_id -%>'></div>


