<%

   selection = @matching_data_files.collect do |m|
       text = truncate(h(DataFile.find(m.primary_key).title),:length=>100)
       text << "    (#{m.search_terms.join(", ")})"
       [
               text,
               m.primary_key
       ]
   end

%>
<h2><%= t('data_file') %> (Spreadsheet)</h2>
  <%= select_tag :data_file_id,
          options_for_select([["Select #{t('data_file')} ...",0]]|selection),
          {:style=>"width:55em;",:onchange=>remote_function(
            :url=>{:action=>"preview_data_file",:element=>"data_file_preview"},
            :with=>"'id='+this.value",
            :before=>"show_ajax_loader('data_file_preview')"
          )+";"+remote_function(
            :url=>{:action=>"data_file_csv",:controller=>"data_fuse",:element=>"csv_view"},
            :with=>"'id='+this.value",
            :before=>"show_ajax_loader('csv_view')"
          )
   } -%>

  <div id="data_file_preview" class="list_item">
    <span class="none_text">No <%= t('data_file') %> selected</span>
  </div>


  <div id="csv_view" class="list_item">
    <h3>Contents summary (last sheet)</h3>
    <span class="none_text">No <%= t('data_file') %> selected</span>
  </div>
      <br/> <br/>
  <%= submit_tag "Next",:disable_with=>"Submitting..." -%>