<div class="show_basic">

  <h2>Selected model</h2>
  <%= render :partial => "assets/resource_list_item",:object=>@model -%>
  
  <h2>Selected data file</h2>
  <%= render :partial => "assets/resource_list_item",:object=>@data_file -%>

  <h2>Matching parameter symbols and values</h2>
  <%= render :partial=>"csv_view",:locals=>{:csv=>@matching_csv,:highlight_first_row=>true} -%>

  <h2>Parameter symbols you selected that were not found in the data file</h2>
  <%= (@parameter_keys - @matching_keys).sort.join(",  ") -%>

  <hr/>
  <% form_tag({:action=>:submit},:method=>:post) do -%>
    <%= hidden_field_tag :data_file_id,@data_file.id -%>
    <%= hidden_field_tag :model_id,@model.id -%>
    <%= hidden_field_tag :parameter_keys,@parameter_keys -%>
    <%= hidden_field_tag :matching_keys,@matching_keys -%>
    <%= hidden_field_tag :parameter_csv,@matching_csv -%>

    <%= submit_tag "Submit to JWS Online",:disable_with=>"Sending..." -%>
  <% end -%>

</div>