<% select_truncate_length = 100 -%>

<style>
    ul.param_keys {
        width: 100%;
    }

    ul.param_keys li.param_key {
        float: left;
        width: 12em;
    }
</style>

<h1>Data Fuse Prototype</h1>

<div class="show_basic">
  <%= form_tag({:action=>:assets_selected},:method=>:post) do -%>
  <h2><%= t('model') %> (SBML)</h2>

  <%= select_tag :model_id,
      options_for_select([["Select #{t('model')} file ...",0]]|@models.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}),
          {:style=>"width:55em;",:class=>"data_fuse_select",:onchange=>remote_function(
            :url=>{:action=>"preview_model",:element=>"model_preview"},
            :with=>"'id='+this.value",
            :before=>"show_ajax_loader('model_preview')"
          )+";"+remote_function(
            :url=>{:action=>"parameter_keys",:element=>"parameter_keys"},
            :with=>"'id='+this.value",
            :before=>"show_ajax_loader('parameter_keys')"
          )+";"+remote_function(
            :url=>{:action=>"matching_data_files",:element=>"matching_data_files"},
            :with=>"'id='+this.value",
            :before=>"show_ajax_loader('matching_data_files')"
          )
   }

  -%>

  <div id="model_preview" class="list_item">
    <h3>Selected <%= t('model') %></h3>
     <span class="none_text">No <%= t('model') %> selected</span>
  </div>

  <div id="parameter_keys" class="list_item">
        <h3>Available Parameter keys</h3>
        <span class="none_text">No <%= t('model') %> selected</span>
  </div>

  <div style="clear:both;"></div>

  <div id="matching_data_files">

  </div>

  <% end -%>
</div>