<style>
  div.home_panel {
      background-color: #EEE;
      border: 1px solid #999;
      height: 20em;
      overflow-y:auto;
      float: left;
  }

  div.home_panel_pair {
      width: 95%;
      margin-left:auto;
      margin-right: auto;
  }

  div.top_home_panel {
      background-color: #EEE;
      border: 1px solid #999;
      width: 95%;
      margin-left:auto;
      margin-right: auto;
      margin-bottom: 1em;
      min-height: 6em;
      text-align:center;
      font-size:larger;
      padding-top: 1em;
  }

  div.home_panel .heading {
      background-color: #55F;
      color: white;
      font-weight:bolder;
      text-align: center;
      min-height:.2em;
      text-align:center;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
  }
  .atom {
      float:left;
      margin-left:0.25em;
      padding-bottom: 0.5em;
  }
</style>
<h1><%= Seek::Config.application_name -%></h1>
<div class="top_home_panel">
  <%= simple_format(auto_link(Seek::Config.home_description)) -%>
</div>

<div class="yui-g home_panel_pair">
  <div class="yui-u first home_panel" style="display:<%= Seek::Config.project_news_enabled ? 'block' : 'none' -%>">
     <div class="heading"><%= Seek::Config.project_name%> News<span class="atom"><%= image("atom_feed") -%></span></div>
     <ul>
     <% feeds = get_feeds(Seek::Config.project_news_feed_urls.split(','))
        number_of_feed_entry_array = Seek::Config.project_news_number_of_feed_entry.split(',')
        number_of_feed_entry_array = number_of_feed_entry_array.collect!{|number_of_feed_entry| number_of_feed_entry.strip.to_i}
        count = 0
     %>
     <% unless !try_block{feeds.values} %>
         <% feeds.values.each do |value|   %>
            <%= display_single_feed(value, (number_of_feed_entry_array[count].nil? ? 0 : number_of_feed_entry_array[count])) -%>
            <%count +=1 %>
         <% end %>
     <% end %>
     </ul>
  </div>

  <div class="yui-u home_panel" style="display:<%= Seek::Config.community_news_enabled ? 'block' : 'none' -%>">
     <div class="heading">Community News<span class="atom"><%= image("atom_feed") -%></span></div>
     <ul>
     <% feeds = get_feeds(Seek::Config.community_news_feed_urls.split(','))
        number_of_feed_entry_array = Seek::Config.community_news_number_of_feed_entry.split(',')
        number_of_feed_entry_array = number_of_feed_entry_array.collect!{|number_of_feed_entry| number_of_feed_entry.strip.to_i}
        count = 0
     %>
     <% unless !try_block{feeds.values} %>
         <% feeds.values.each do |value|   %>
            <%= display_single_feed(value, (number_of_feed_entry_array[count].nil? ? 0 : number_of_feed_entry_array[count])) -%>
            <%count +=1 %>
         <% end %>
     <% end %>
     </ul>
  </div>
</div>
<br/>
<div class="yui-g home_panel_pair">
  <div class="yui-u first home_panel">
     <div class="heading">Recently viewed</div>
    <div>
        <% viewed_items = recently_viewed_items(1.year.ago, 10) %>
        <ul>
        <% viewed_items.each do |viewed_item|%>
            <%path = eval("#{viewed_item.class.name.underscore}_path(#{viewed_item.id})" )%>
            <li>
            <%=link_to "#{viewed_item.title} (#{viewed_item.class.name.underscore.humanize})", path -%>
            </li>
        <%end%>
        </ul>
     </div>
  </div>
  <div class="yui-u home_panel">
    <div class="heading">Recently downloaded</div>
    <div>
        <% downloaded_items = recently_downloaded_items(1.year.ago, 10) %>
        <ul>
        <% downloaded_items.each do |downloaded_item|%>
            <%path = eval("#{downloaded_item.class.name.underscore}_path(#{downloaded_item.id})" )%>
            <li>
            <%=link_to "#{downloaded_item.title} (#{downloaded_item.class.name.underscore.humanize})", path -%>
            </li>
        <% end %>
        </ul>
     </div>
  </div>

</div>