<%= stylesheet_link_tag "homepage" -%>

<h1><%= Seek::Config.application_name -%></h1>
<div class="top_home_panel">
  <%= simple_format(auto_link(Seek::Config.home_description)) -%>
</div>

<div class="yui-g home_panel_pair">
  <div class="yui-u first home_panel" style="display:<%= Seek::Config.project_news_enabled ? 'block' : 'none' -%>">
     <div class="heading"><%= Seek::Config.project_name%> News<span class="atom"><%= image("atom_feed") -%></span></div>
     <div id="project_news" class="homepanel_list">
        <ul>
         <% feeds = get_feeds(Seek::Config.project_news_feed_urls.split(','))
            entries = filter_feeds_entries_with_chronological_order(feeds, Seek::Config.project_news_number_of_entries)
         %>
         <% unless !entries %>
             <% entries.each do |entry|   %>
                <%= display_single_entry(entry) -%>
             <% end %>
         <% end %>
         </ul>
     </div>
  </div>

  <div class="yui-u home_panel" style="display:<%= Seek::Config.community_news_enabled ? 'block' : 'none' -%>">
     <div class="heading">Community News<span class="atom"><%= image("atom_feed") -%></span></div>
     <div id="community_news" class="homepanel_list">
         <ul>
         <% feeds = get_feeds(Seek::Config.community_news_feed_urls.split(','))
           entries = filter_feeds_entries_with_chronological_order(feeds, Seek::Config.community_news_number_of_entries)
         %>
         <% unless !entries %>
             <% entries.each do |entry|   %>
                <%= display_single_entry(entry) -%>
             <% end %>
         <% end %>
         </ul>
     </div>
  </div>
</div>
<br/>
<div class="yui-g home_panel_pair">
  <div class="yui-u first home_panel">
     <div class="heading">Recently viewed</div>
    <div id="recently_viewed" class="homepanel_list">
        <% viewed_items = recently_viewed_items(1.year.ago, 10) %>
        <ul>
        <% viewed_items.each do |viewed_item|%>
            <%path = eval("#{viewed_item.class.name.underscore}_path(#{viewed_item.id})" )%>
            <li>
            <%
                description = try_block{viewed_item.description} || try_block{viewed_item.abstract}
                tooltip=tooltip_title_attrib(description)
            %>
            <%=link_to "#{viewed_item.title} (#{viewed_item.class.name.underscore.humanize})", path, {:title => tooltip} -%>
            </li>
        <%end%>
        </ul>
     </div>
  </div>
  <div class="yui-u home_panel">
    <div class="heading">Recently downloaded</div>
    <div id="recently_downloaded" class="homepanel_list">
        <% downloaded_items = recently_downloaded_items(1.year.ago, 10) %>
        <ul>
        <% downloaded_items.each do |downloaded_item|%>
            <%path = eval("#{downloaded_item.class.name.underscore}_path(#{downloaded_item.id})" )%>
            <li>
              <%
                 description = try_block{downloaded_item.description} || try_block{downloaded_item.abstract}
                 tooltip=tooltip_title_attrib(description)
              %>
              <%=link_to "#{downloaded_item.title} (#{downloaded_item.class.name.underscore.humanize})", path, {:title => tooltip } -%>
            </li>
        <% end %>
        </ul>
     </div>
  </div>

</div>