<%= stylesheet_link_tag "homepage" -%>

<h1><%= Seek::Config.application_name -%></h1>
<div class="top_home_panel">
  <%= simple_format(auto_link(Seek::Config.home_description)) -%>
</div>

<div class="yui-g home_panel_pair">
  <div class="yui-u first home_panel" style="display:<%= Seek::Config.project_news_enabled ? 'block' : 'none' -%>">
     <div class="heading"><%= Seek::Config.project_name%> News<span class="atom"><%= image("atom_feed") -%></span></div>
     <div id="project_news" class="homepanel_list">
        <ul>
         <% feeds = []
            Seek::Config.project_news_feed_urls.split(',').each do |url|
                feeds.push get_feed(url) if !get_feed(url).blank?
            end
           entries = filter_feeds_entries_with_chronological_order(feeds, Seek::Config.project_news_number_of_entries)
         %>
         <% unless entries.blank? %>
             <% entries.each do |entry|   %>
                <%= display_single_entry(entry) -%>
             <% end %>
         <% end %>
         </ul>
     </div>
  </div>

  <div class="yui-u home_panel" style="display:<%= Seek::Config.community_news_enabled ? 'block' : 'none' -%>">
     <div class="heading">Community News<span class="atom"><%= image("atom_feed") -%></span></div>
     <div id="community_news" class="homepanel_list">
         <ul>
         <% feeds = []
            Seek::Config.community_news_feed_urls.split(',').each do |url|
                feeds.push get_feed(url) if !get_feed(url).blank?
            end
           entries = filter_feeds_entries_with_chronological_order(feeds, Seek::Config.community_news_number_of_entries)
         %>
         <% unless entries.blank? %>
             <% entries.each do |entry|   %>
                <%= display_single_entry(entry) -%>
             <% end %>
         <% end %>
         </ul>
     </div>
  </div>
</div>
<br/>
<div class="yui-g home_panel_pair">
  <div class="yui-u first home_panel">
     <div class="heading">Recently uploaded</div>
    <div id="recently_uploaded" class="homepanel_list">
        <% uploaded_items = recently_uploaded_items(1.year.ago, 10) %>
        <ul>
        <% uploaded_items.each do |uploaded_item|%>
            <%= display_single_item(uploaded_item, 'uploaded', uploaded_item.created_at) -%>
        <%end%>

        </ul>
     </div>
  </div>
  <div class="yui-u home_panel">
    <div class="heading">Recently downloaded</div>
    <div id="recently_downloaded" class="homepanel_list">
        <% downloaded_items = recently_downloaded_items(1.year.ago, 10) %>
        <ul>
        <% downloaded_items.each do |downloaded_item|
           activity_logs = downloaded_item.activity_logs.select{|a| a.action == 'download'}
           lasted_download_time = activity_logs.sort{|a,b| b.created_at <=> a.created_at}.first.created_at
        %>
           <%= display_single_item(downloaded_item, 'downloaded', lasted_download_time) -%>
        <% end %>
        </ul>
     </div>
  </div>

</div>