
<%= javascript_include_tag 'tabber-minimized'%>
<%= javascript_include_tag 'slider/jquery-1.5.1.min.js','slider/jquery-ui-1.8.14.custom.min.js','slider/liver.js' %>
<%= stylesheet_link_tag  "slider/liver" %>

<div id="wrapper">

			<!--####### THE COMPLETE LIVER-->
			 <div id="zoom" >
                 <%= image_tag "slider/vitruvian_man.png",{:alt=>"vitruvian_man.png",:id=>"bild-0"}%>
                 <%= image_tag "slider/liver2.bmp" ,{:alt=>"liver2.bmp",:id=>"bild-1"}%>
                 <%= image_tag "slider/lebertem.jpg" ,{:alt=>"liver1.bmp",:id=>"bild-2"}%>
                 <%= image_tag "slider/Lobule.jpg" ,:alt=>"liver1.bmp",:id=>"bild-3"%>
                 <%= image_tag "slider/70109-004-41D7A01E.jpg" ,:alt=>"liver1.bmp",:id=>"bild-4"%>
                 <%= image_tag "slider/Hepatocyte.gif" ,:alt=>"liver-illustration.png",:id=>"bild-5"%>
			</div>



			<div id="options">
				<div id="plus">+</div>
				<ul class="step">

					<li id="cell">cell-</li>
					<li id="intercellular">intercellular -</li>
					<li id="liverLobule">liver lobule -</li>
					<li id="liverLobe">liver lobe -</li>
					<li id="liver">liver -</li>
					<li id="organism" onclick="alert(this.id); <%= remote_function(
              :url=>{:action=>'scale_search'},
              :with=>"'scale_type='+this.id",
              :before=>"show_ajax_loader('scaled_items_id')"
              ) %>;return false;" >organism -</li>

				</ul>
				<div id="slider"></div>

				<div id="minus">-</div>
			</div>

 </div>


 <div id="scaled_items_id" class="scaled_items">



 <% resource_hash ||={} -%>
 <%= render :partial => "assets/resource_listing_tabbed_by_class",
               :locals => {:resource_hash => resource_hash,
                           :narrow_view => true,
                           :authorization_already_done => true} -%>

 </div>



