<%= stylesheet_link_tag "homepage" -%>

<h1><%= Seek::Config.application_name -%></h1>
<div class="top_home_panel">
  <%= simple_format(auto_link(Seek::Config.home_description)) -%>
</div>

<% if !logged_in? || current_user.try(:show_guide_box?) %>
    <div id='guide_box' class='top_home_panel' style="min-height: 4em;">
      <p style="text-align:center">For <span style="font-weight:bolder">Help and FAQ</span>, please visit <%= link_to 'Help and FAQ', help_documents_path %></p>
      <p style="text-align:center">For information about <span style="font-weight:bolder">Templates</span>, please visit <%= link_to 'Templates', help_documents_path + '/templates' %></p>
      <span style="float: right;margin-right: 0.5em;margin-top: -3em"><%= link_to_remote(image('destroy',:method => :post, :title => "#{logged_in? ? 'After deleting this box, it will not be showed next time you login to the page' : 'Delete this box'}"), {:url => hide_guide_box_users_path()})%></span>
    </div>
<% end %>

<% if SiteAnnouncement.headline_announcement -%>
    <p class="box_standout headline_announcement">
      <%= site_annoucements_headline %>
    </p>
<% end -%>

<%= render :partial=>"home_news_feeds" -%>

<br/>

<%= render :partial=>"home_activity_notifications" -%>


