<% current_user_authorized_to_manage = @event.new_record?|| @event.can_manage? -%>
<% default_time_zone = 'Etc/UTC' -%>

<h1><%= @event.new_record? ? "New #{t('event')}" : ("Editing #{t('event')}: ".html_safe + link_to(@event.title, event_path(@event))) -%></h1>

<%= index_and_new_help_icon controller_name %>

<%= form_for @event do |f| %>
    <div class="asset_form">
      <%= f.error_messages %>

      <div class="form-group">
        <label class="required">Title</label>
        <%= f.text_field :title, :class=>"form-control" -%>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :rows => 5, :class=>"form-control rich-text-edit" %>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <%= f.label :start_date, class: 'required' %>
            <%= f.text_field :start_date, data: { calendar: 'mixed' }, class: 'calendar form-control' %>
          </div>
          <div class="col-md-4 col-xs-12">
            <%= f.label :time_zone %>
            <%= f.select :time_zone, options_for_select(ActiveSupport::TimeZone.all.map { |z| [z.to_s, z.tzinfo.name] }, selected: f.object.time_zone || default_time_zone), {}, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <%= f.label :end_date %>
            <%= f.text_field :end_date, data: { calendar: 'mixed' }, class: 'calendar form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "#{t('event')} Website" -%><br/>
        <%= f.text_field :url, :class=>"form-control"-%>
      </div>

      <div class="form-group">
        <%= f.label :address -%><br/>
        <%= f.text_area :address, :class=>"form-control", :rows => 4 -%>
      </div>

      <div class="form-group">
        <%= f.label :city -%><br/>
        <%= f.text_field :city, :class=>"form-control"-%>
      </div>

      <div class="form-group">
        <%= f.label :country -%><br/>
        <%= f.country_select :country, { include_blank: 'Please select...' }, class: 'form-control' -%>
      </div>

      <% if show_form_manage_specific_attributes? && @event.can_manage? %>
          <%= render :partial => "projects/project_selector", locals: {resource: @event } -%>
      <% end %>

      <%= render partial: 'assets/manage_specific_attributes', locals:{f:f} if show_form_manage_specific_attributes? %>

      <%= f.fancy_multiselect :publications, other_projects_checkbox: true -%>

      <%= f.fancy_multiselect :data_files, other_projects_checkbox: true -%>

      <%= f.fancy_multiselect :presentations, other_projects_checkbox: true %>

      <%= f.fancy_multiselect :documents, other_projects_checkbox: true %>

      <%= form_submit_buttons(@event) %>

    </div>
<% end %>

<script>
  $j(document).ready(function() {
    const timeZone = $j("#event_time_zone").val()
    const startDate = $j("#event_start_date").val()
    const endDate = $j("#event_end_date").val()
    
    if (startDate) $j("#event_start_date").val(convertTZ(startDate + " UTC", timeZone))
    if (endDate) $j("#event_end_date").val(convertTZ(endDate+ " UTC", timeZone))
  });

	function convertTZ(date, timeZone) {
		const d = new Date(date).toLocaleString("en-US", {
			timeZone,
			year: "numeric",
			month: "2-digit",
			day: "2-digit",
			hour: "2-digit",
			minute: "2-digit",
			hourCycle: "h23"
		});
		const [convertedDate, convertedTime] = d.split(",");
		const [month, day, year] = convertedDate.split("/");
		return `${year}-${month}-${day}${convertedTime}`;
	}
</script>
