<div style="position:relative;left:50px">
    <%= list_item_title resource %>

    <div class="list_item_left_column">

    <%= list_item_attribute "Start Date", resource.start_date.strftime('%d/%m/%Y') %>
    <%= list_item_attribute "End Date", resource.end_date.strftime('%d/%m/%Y') %>
    </div>

    <div class="list_item_right_column">
    <%= list_item_attribute "Country", (text_or_not_specified resource.country, :link_as_country => true) %>
    <%= list_item_optional_attribute "City", h(resource.city) %>
    <%= list_item_optional_attribute "Event Website", h(resource.url), h(resource.url) %>
    </div>

    <div class="list_item_whole_width">
    <%= list_item_description resource.description %>
    <%= list_item_timestamp resource %>
    </div>
</div>