<%= list_item_description resource.description %>

<div class="row">
  <div class="col-sm-6">
    <%= list_item_attribute "Start Date", date_as_string(resource.start_date) %>
    <%= list_item_attribute "End Date", resource.end_date.nil? ? text_or_not_specified(nil) : date_as_string(resource.end_date) %>
    <%= list_item_optional_attribute "#{t('event')} Website", h(resource.url), h(resource.url) %>
  </div>

  <div class="col-sm-6">
    <%= list_item_attribute "Country", (country_text_or_not_specified resource.country) %>
    <%= list_item_optional_attribute "City", h(resource.city) %>
  </div>
</div>
