<% current_user_authorized_to_manage = @event.new_record?|| @event.can_manage? -%>
<%= javascript_include_tag 'assays.js' %>
<%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
<%= stylesheet_link_tag 'calendar_date_select/default' %>
<%= javascript_include_tag "sharing.js", 'resource.js' %>

<h1><%= @new ? 'New Event' : ('Editing Event: ' + link_to(h(@event.title), event_path(@event))) -%></h1>
<div class="show_basic">
  <%= form_for @event do |f| %>
      <div class="asset_form">
        <%= f.error_messages %>
        <h2>Event Information</h2>
        <p>
          <%= f.label :title -%>
          <span class="required">*</span>
          <%= f.text_field :title, :style => "width: 100%;", :rows=>2 -%>
        </p>

        <p>
          <%= f.label :description %><br/>
          <%= f.text_area :description, :style => "width:100%", :rows => 10 %>
        </p>

        <ul style="padding-bottom:1em;padding-top:0.5em;">
          <li style="float:left;padding-right:3em;">
            <%= f.label :start_date %>
            <span class="required">*</span><br/>
            <%= f.calendar_date_select :start_date, :time => :mixed %>
          </li>
          <li>
            <%= f.label :end_date %>
            <br/>
            <%= f.calendar_date_select :end_date, :time => :mixed%>
          </li>
        </ul>

        <p>
          <%= f.label "Event Website" -%><br/>
          <%= f.text_field :url, :style => "width:100%" -%>
        </p>

        <p style="margin-top: 1.5em;">
          <%= f.label :address -%><br/>
          <%= f.text_area :address, :style => "width: 100%;", :rows => 4 -%>
        </p>

        <p>
          <%= f.label :city -%><br/>
          <%= f.text_field :city, :style => "width: 100%;" -%>
        </p>

        <p>
          <%= f.label :country -%><br/>
          <%= f.country_select :country, nil, {}, :style => "width: 100%;" -%>
        </p>
        <br/>
        <% if current_user_authorized_to_manage -%>
            <%= render :partial => "projects/project_selector", :locals => {:resource => @event, :allow_nil=> true} -%>
        <% end -%>

        <% if current_user_authorized_to_manage -%>
            <p>
              <%= render :partial => "assets/sharing_form" -%>
            </p>
            <p>
              <%= render :partial => "assets/special_auth_code_form", :locals => {:f => f} if !@event.try(:new_record?)-%>
            </p>
        <% end %>

        <%= render :partial => "assets/associate_publication", :locals=>{:f=>f, :resource => @event} -%>
        <br/>
        <%= render :partial => "assets/associate_data_file", :locals=>{:f=>f, :resource => @event, :show_relationships=>false} -%>
        <br/>
        <%= render :partial => "assets/associate_presentation", :locals=>{:resource => @event} -%>

      </div>
      <p>
        <%
             button_text=@new ? "Create" : "Update"
             disabled_text=@new ? "Creating..." : "Updating..."
        %>
        <% if @event.can_manage? %>
            <%= preview_permission_popup_link(@event)-%>
            <%= f.submit button_text, :id => "event_submit_btn", :onclick => "javascript: clickLink($('preview_permission'));;return(false);" -%>
        <% else %>
            <%= f.submit button_text, :disable_with=>disabled_text, :id => "event_submit_btn", :onclick => "javascript: $('event_submit_btn').form.submit();return(false);" -%>
        <% end %>
      </p>
  <% end %>
</div>
