<% current_user_authorized_to_manage = @event.new_record?|| @event.can_manage? -%>

<h1><%= @new ? "New #{t('event')}" : ("Editing #{t('event')}: ".html_safe + link_to(@event.title, event_path(@event))) -%></h1>
<%= form_for @event do |f| %>
    <div class="asset_form">
      <%= f.error_messages %>

      <div class="form-group">
        <label>Title <span class="required">*</span></label>
        <%= f.text_field :title, :class=>"form-control" -%>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :rows => 5, :class=>"form-control" %>
      </div>

      <div class="form-group date-select">
        <%= f.label :start_date %><span class="required">*</span>
        <%= f.calendar_date_select :start_date, :time => :mixed, :class=>"form-control" %>
      </div>

      <div class="form-group date-select">
        <%= f.label :end_date %>
        <%= f.calendar_date_select :end_date, :time => :mixed, :class=>"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "#{t('event')} Website" -%><br/>
        <%= f.text_field :url, :class=>"form-control"-%>
      </div>

      <div class="form-group">
        <%= f.label :address -%><br/>
        <%= f.text_area :address, :class=>"form-control", :rows => 4 -%>
      </div>

      <div class="form-group">
        <%= f.label :city -%><br/>
        <%= f.text_field :city, :class=>"form-control"-%>
      </div>

      <div class="form-group">
        <%= f.label :country -%><br/>
        <%= f.country_select :country, nil, {}, :class=>"form-control" -%>
      </div>

      <% if current_user_authorized_to_manage -%>
          <%= render :partial => "projects/project_selector", :locals => {:resource => @event, :allow_nil=> true} -%>

          <%= render :seek_partial => "assets/sharing_form" -%>

          <%= render :partial => "assets/special_auth_code_form", :locals => {:f => f} if !@event.try(:new_record?)-%>
      <% end %>

      <%=  f.fancy_multiselect :publications,:with_new_link=>true,:other_projects_checkbox=>true -%>

      <%= render :partial => "assets/associate_data_file", :locals=>{:f=>f, :resource => @event } -%>

      <%= f.fancy_multiselect :presentations,:with_new_link=>true,:other_projects_checkbox=>true %>

      <%
         button_text=@new ? "Create" : "Update"
         disabled_text=@new ? "Creating..." : "Updating..."
      %>
      <% if @event.can_manage? %>
          <%= preview_permission_popup_link(@event)-%>
          <%= f.submit button_text, :id => "event_submit_btn",
                       :onclick => "javascript: previewPermissions();return(false);", :class => 'btn btn-primary' -%>
      <% else %>
          <%= f.submit button_text, :disable_with=>disabled_text, :id => "event_submit_btn",
                       :onclick => "javascript: $('event_submit_btn').form.submit();return(false);", :class => 'btn btn-primary' -%>
      <% end %>
      or <%= cancel_button(@event.id ? event_path(@event.id) : events_path) -%>
    </div>
<% end %>
