<% current_user_authorized_to_manage = @event.new_record?|| @event.can_manage? -%>

<h1><%= @new ? "New #{t('event')}" : ("Editing #{t('event')}: ".html_safe + link_to(@event.title, event_path(@event))) -%></h1>
<%= form_for @event do |f| %>
    <div class="asset_form">
      <%= f.error_messages %>

      <div class="form-group">
        <label class="required">Title</label>
        <%= f.text_field :title, :class=>"form-control" -%>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :rows => 5, :class=>"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :start_date, class: 'required' %>
        <%= f.text_field :start_date, data: { calendar: 'mixed' }, class: 'calendar form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :end_date %>
        <%= f.text_field :end_date, data: { calendar: 'mixed' }, class: 'calendar form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "#{t('event')} Website" -%><br/>
        <%= f.text_field :url, :class=>"form-control"-%>
      </div>

      <div class="form-group">
        <%= f.label :address -%><br/>
        <%= f.text_area :address, :class=>"form-control", :rows => 4 -%>
      </div>

      <div class="form-group">
        <%= f.label :city -%><br/>
        <%= f.text_field :city, :class=>"form-control"-%>
      </div>

      <div class="form-group">
        <%= f.label :country -%><br/>
        <%= f.country_select :country, nil, { :include_blank => 'Please select...' }, :class=>"form-control" -%>
      </div>

      <% if show_form_manage_specific_attributes? && @event.can_manage? %>
          <%= render :partial => "projects/project_selector", :locals => {:resource => @event, :allow_nil => Seek::Config.is_virtualliver} -%>
      <% end %>

      <%= render partial: 'assets/manage_specific_attributes', locals:{f:f} if show_form_manage_specific_attributes? %>

      <%= f.fancy_multiselect :publications ,:other_projects_checkbox=>true -%>

      <%= f.fancy_multiselect :data_files, :other_projects_checkbox=>true -%>

      <%= f.fancy_multiselect :presentations, :other_projects_checkbox=>true %>

      <%= f.fancy_multiselect :documents, other_projects_checkbox: true %>

      <%= form_submit_buttons(@event) %>

    </div>
<% end %>
