<% current_user_authorized_to_manage = Authorization.is_authorized?("manage", nil, @data_file, current_user) -%>
<%= javascript_include_tag 'assays.js' %>
<%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
<%= stylesheet_link_tag 'calendar_date_select/default' %>
<%= javascript_include_tag "sharing.js" %>

<h1><%= @new ? 'New Event' : ('Editing Event: ' + link_to(h(@event.title), event_path(@event))) -%></h1>
<div class="show_basic">
  <% form_for @event do |f| %>
      <div class="asset_form">
        <%= f.error_messages %>
        <h2>Event Information</h2>
        <p>
          <%= f.label :title -%>
          <span class="required">*</span>
          <%= f.text_field :title, :style => "width: 100%;", :rows=>2 -%>
        </p>

        <p>
          <%= f.label :description %><br/>
          <%= f.text_area :description, :style => "width:100%", :rows => 10 %>
        </p>

        <p>
          <%= f.label :start_date %>
          <span class="required">*</span>
          <%= f.calendar_date_select :start_date, :time => :mixed %>
        </p>

        <p>
          <%= f.label :end_date %>
          <span class="required">*</span>
          <%= f.calendar_date_select :end_date, :time => :mixed%>
        </p>

        <p>
          <%= f.label "Event Website" -%><br/>
          <%= f.text_field :url, :style => "width:100%" -%>
        </p>

        <p style="margin-top: 1.5em;">
          <%= f.label :address -%><br/>
          <%= f.text_area :address, :style => "width: 100%;", :rows => 4 -%>
        </p>

        <p>
          <%= f.label :city -%><br/>
          <%= f.text_field :city, :style => "width: 100%;" -%>
        </p>

        <p>
          <%= f.label :country -%><br/>
          <%= f.country_select :country, nil, {}, :style => "width: 100%;" -%>
        </p>

        <% if current_user_authorized_to_manage -%>
            <%= render :partial => "assets/project_selector", :locals => {:resource_type       => "Event", # this is only for presentation, not for any processing
                                                                          :selected_project_id => @event.project_id,
                                                                          :project_hash        => current_user.generate_own_project_id_name_hash,
                                                                          :allow_nil           => true} -%>
        <% end -%>

        <%= render :partial => "assets/associate_publication", :locals=>{:f=>f, :resource => @event} -%>
        <br/>
        <%= render :partial => "assets/associate_data_file", :locals=>{:f=>f, :resource => @event, :show_relationships=>false} -%>
        <% if current_user_authorized_to_manage -%>
            <p>
              <%= render :partial => "assets/sharing_form" -%>
            </p>
        <% end %>
      </div>
      <p>
        <%= f.submit(@new ? "Create" : "Update", :disable_with=>(@new ? "Creating..." :"Updating...")) %>
      </p>
  <% end %>
</div>
