<ul class="sectionIcons">
<%= asset_buttons @event,nil,"This deletes the Event listing. Are you sure?'" -%>
</ul>

<%= render :partial => "layouts/item_title",:locals=>{:item=>@event} %>

<%= render :partial => "layouts/usage_info", :locals => { :resource => @event } -%>

<div class="show_basic">
  <div class="main_content_left_box">
    <div class="box_about_actor">
      <p>
        <label>Title:</label>
        <%=h @event.title -%>
      </p>
      <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @event}%>
      <% unless @event.contributor.nil? then %>
          <p>
            <label>Uploader:</label>
            <%= link_to h(@event.contributor.person.name), @event.contributor.person -%>
          </p>
      <% end %>
      <p>
        <label>Start Time:</label>
        <% if @event.start_date.nil? %>
          <%= text_or_not_specified nil %>
        <% else %>
          <% if @event.start_date.hour == 0 and @event.start_date.min == 0 and @event.start_date.sec == 0 then %>
              <%=h @event.start_date.strftime('%d/%m/%Y') %>
          <% else %>
              <%=h @event.start_date.strftime('%d/%m/%Y @ %H:%M:%S') %>
          <% end %>
        <% end %>
      </p>
      <p>
        <label>End Time:</label>
        <% if @event.end_date.nil? %>
          <%= text_or_not_specified nil %>
        <% else %>
            <% if @event.end_date.hour == 0 and @event.end_date.min == 0 and @event.end_date.sec == 0 then %>
              <%=h @event.end_date.strftime('%d/%m/%Y') %>
          <% else %>
              <%=h @event.end_date.strftime('%d/%m/%Y @ %H:%M:%S') %>
          <% end %>
        <% end %>
      </p>

      <% unless @event.url.nil? || @event.url.chomp == "" then %>
          <p class="web_page">
            <label>Event Website: </label><%= text_or_not_specified(@event.url, :external_link=>true) -%>
          </p>
      <% end %>


      <% unless @event.country.nil? then %>
          <p class="country">
            <label>Country: </label><%= text_or_not_specified @event.country, :link_as_country => true -%>
          </p>
      <% end %>

      <% unless @event.city.nil? || @event.city.chomp == "" then %>
          <p class="city">
            <label>City: </label><%= text_or_not_specified @event.city %>
          </p>
      <% end %>

      <% unless @event.address.nil? || @event.address.chomp == "" then %>
          <p class="address">
            <label>Address: </label><%= text_or_not_specified @event.address, :address=>true %>
          </p>
      <% end %>
      <br/>

      <% unless @event.description.blank? -%>
        <p>
         <b>Description:</b>
            <div class="box_standout" id="description">
                <%= simple_format(auto_link(white_list(@event.description),:all,:rel=>'nofollow')) -%>
            </div>
        </p>
      <% end -%>
    </div>
  </div>
  <div style="clear:both;">

    <%= render :partial=>"layouts/items_related_to",:object => @event %>
  </div>

</div>
