<%= render :partial => "general/item_title",:locals=>{:item=>@event, :buttons_partial => 'assets/asset_buttons'} -%>

<%= item_description @event.description -%>

<div class="row">
  <div class="col-sm-6">
    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @event}%>
    <% unless @event.contributor.nil? then %>
        <p>
          <label>Created by:</label>
          <%= link_to @event.contributor.person.name, @event.contributor.person -%>
        </p>
    <% end %>
    <p>
      <label>Start Time:</label>
      <% if @event.start_date.nil? %>
          <%= text_or_not_specified nil %>
      <% else %>
          <%= date_as_string(@event.start_date, !(@event.start_date.hour == 0 and @event.start_date.min == 0 and @event.start_date.sec == 0)) %>
      <% end %>
    </p>
    <p>
      <label>End Time:</label>
      <% if @event.end_date.nil? %>
          <%= text_or_not_specified nil %>
      <% else %>
          <%= date_as_string(@event.end_date,!(@event.end_date.hour == 0 and @event.end_date.min == 0 and @event.end_date.sec == 0)) -%>
      <% end %>
    </p>
  </div>
  <div class="col-sm-6">
    <p class="web_page">
      <label><%= t('event') %> Website:</label>
      <%= text_or_not_specified(@event.url, :external_link=>true) -%>
    </p>

    <p class="address">
      <label>Address:</label>
      <%= text_or_not_specified @event.address, :address=>true %>
    </p>

    <p class="city">
      <label>City:</label>
      <%= text_or_not_specified @event.city %>
    </p>

    <p class="country">
      <label>Country:</label>
      <%= text_or_not_specified @event.country, :link_as_country => true -%>
    </p>
  </div>
</div>

<%= render :partial => "assets/special_auth_code_display", :locals => {:resource => @event}%>

<%= render :partial=>"general/items_related_to",:object => @event %>
