<%= javascript_include_tag "sharing.js" -%>
<% remote_form_for :experimental_condition,@experimental_condition,
  :url=>sop_experimental_conditions_path(:sop_id=>@sop,:id=>@experimental_condition),
  :before=>"$('experimental_condition_submit').disabled=true;",
  :loaded=>"$('experimental_condition_submit').disabled=false;",
  :html=>{:method=>:post} do |f| -%>

  <div class="conditions_or_factors" >
      <table>
        <tr>
        <th>Measured item</th>
        <th>Unit</th>
        <th>Start value</th>
        <th>End value</th>
      </tr>
        <tr>
          <td><%=  f.collection_select :measured_item_id, sorted_measured_items,:id,:title, {}, {:onchange => "showOrHideSubstanceTextField('experimental_condition_measured_item_id')"} %></td>

          <td><%=  f.collection_select :unit_id, Unit.find(:all).sort{|a,b| a.order <=> b.order},:id,:symbol %></td>

          <td><%= f.text_field :start_value,:size=>4 %></td>

          <td><%= f.text_field :end_value,:size=>4 %></td>

          <td><%= f.submit "Add" %></td>

          <%= hidden_field_tag "version", @display_sop.version -%>
        </tr>

      </table>
    <div class="substance_experimental_condition">
         <%= render :partial=>"layouts/substances_autocomplete"%>
    </div>
  </div>

<% end -%>