<% show_delete||=false %>
<% exp_condition=condition_row -%>
<li id="experimental_condition_row_<%= exp_condition.id -%>" >
  <ul class="condition_or_factor_row">
    <li id="measured_item">
      <%if  exp_condition.measured_item.title == 'concentration' and exp_condition.substance.try(:name)%>
        <%= h exp_condition.substance.name + ' ' + exp_condition.measured_item.title %>
      <%else%>
        <%= h exp_condition.measured_item.title %>
      <%end%>
    </li>
    
    <li id="values">
      <!--don't show dimensionless unit-->
      <% if exp_condition.unit.symbol == 'dimensionless' %>
          <%= "#{h exp_condition.range_text}" %>
      <% else %>
        <%= "#{h exp_condition.range_text} #{exp_condition.unit.symbol}" %>
      <% end %>
    </li>
        

    <% if Authorization.is_authorized?("edit",exp_condition.sop,current_user) -%>
    <% style="display:block;" unless show_delete %>
    <li class="destroy_experimental_condition" style="<%= style %>">
       <%=  link_to_remote image("destroy",:alt=>"Delete",:title=>"Delete experimental condition"),
         :url => { :action => "destroy", :id => exp_condition.id,:sop_id=>exp_condition.sop.id },
         :confirm=>"Are you sure?",:method=>:delete
       -%>
    </li>
    <% end -%>
  </ul>
</li>
