<% show_delete||=false %>
<% exp_condition=condition_row -%>
<li id="experimental_condition_row_<%= exp_condition.id -%>" >
  <ul class="condition_or_factor_row">
    <li id="measured_item">
      <%= h exp_condition.measured_item.title %>
    </li>
    
    <li id="range">
      <%= h exp_condition.range_text %>
    </li>
    
    <li id="unit">
      <%= h exp_condition.unit.symbol %>
    </li>

    <% if Authorization.is_authorized?("edit",exp_condition.sop,current_user) -%>
    <% style="display:none;" unless show_delete %>
    <li class="destroy_experimental_condition" style="<%= style %>">
       <%=  link_to_remote "Delete",
         :url => { :action => "destroy", :id => exp_condition.id,:sop_id=>exp_condition.sop.id },
         :confirm=>"Are you sure?",:method=>:delete
       -%>
    </li>
    <% end -%>
  </ul>
</li>
