<% show_delete||=false %>
<% exp_condition=condition_row -%>
<li id="experimental_condition_row_<%= exp_condition.id -%>" >
  <ul class="condition_or_factor_row">
    <li id="measured_item">
      <%= h exp_condition.measured_item.title %>
    </li>
    
    <li id="values">
      <%= "#{h exp_condition.range_text} #{exp_condition.unit.symbol}" %>
    </li>
        

    <% if exp_condition.sop.can_edit? -%>
    <% style="display:none;" unless show_delete %>
    <li class="destroy_experimental_condition" style="<%= style %>">
       <%=  link_to_remote image("destroy",:alt=>"Delete",:title=>"Delete experimental condition"),
         :url => { :action => "destroy", :id => exp_condition.id,:sop_id=>exp_condition.sop.id },
         :confirm=>"Are you sure?",:method=>:delete
       -%>
    </li>
    <% end -%>
  </ul>
</li>
