<h1>
  <%= "Experimental conditions for '#{link_to h(@sop.title),@sop}' version #{@display_sop.version}" %>
</h1>
<% if @sop.can_edit? current_user -%>
  <div id="edit_on">
    <%= link_to_function image(("edit"),:style=>"margin-left:4em;",:title=>"Start editing",:alt=>"Start editing") do |page|
      page.visual_effect :appear,"add_condition"
      page["edit_on"].toggle
      page["edit_off"].toggle
      page.select('li.destroy_experimental_condition').each do |el|
        el.toggle
      end
    end
    -%>
  </div>

  <div id="edit_off" style="display:none;">
    <%= link_to_function image(("edit-off"),:style=>"margin-left:4em;",:title=>"Stop editing",:alt=>"Stop editing") do |page|
      page.visual_effect :fade,"add_condition"
      page["edit_on"].toggle
      page["edit_off"].toggle
      page.select('li.destroy_experimental_condition').each do |el|
        el.toggle
      end
    end
    -%>
  </div>
<% end -%>

<center>

  <div id="add_condition" style="display:none;">
    <%= render :partial=>"add_condition" %>
  </div>

  <ul id="experimental_conditions" class="conditions_or_factors">

    <%= render :partial=>"condition_row_headings" %>

    <div id="experimental_conditions_rows">
      <%= render :partial=>"condition_row",:collection=>@display_sop.experimental_conditions %>
    </div>
  </ul>


</center>
