<h1>
  <%= "Experimental conditions for '#{link_to h(@sop.title),@sop}'" %>
</h1>

<div id="edit_on">
  <%= link_to_function "Start editing" do |page|
    page.visual_effect :appear,"add_condition"    
    page["edit_on"].toggle
    page["edit_off"].toggle
    page.select('li.destroy_experimental_condition').each do |el|
      el.toggle
    end
  end
  -%>
</div>

<div id="edit_off" style="display:none;">
  <%= link_to_function "Stop editing" do |page|
    page.visual_effect :fade,"add_condition"    
    page["edit_on"].toggle
    page["edit_off"].toggle    
    page.select('li.destroy_experimental_condition').each do |el|
      el.toggle
    end
  end
  -%>
</div>

<center>

  <div id="add_condition" style="display:none;">
    <%= render :partial=>"add_condition" %>
  </div>

  <ul id="experimental_conditions" class="conditions_or_factors">

    <li>
      <ul class="condition_or_factor_row heading">
        <li id="measured_item">
          Item measured
        </li>
        <li id="range">
          Range or value
        </li>
        <li id="unit">
          Unit
        </li>
      </ul>
    </li>

    <div id="experimental_conditions_rows">
      <%= render :partial=>"condition_row",:collection=>@sop.experimental_conditions %>
    </div>
  </ul>


</center>
