
<h1>Editing <%= t('document') %>: <%= link_to(h(@document.title), document_path(@document)) -%></h1>

<%= form_for(@document) do |f| %>
    <div class="asset_form">
      <%= f.error_messages %>

      <div class="form-group">
        <label class="required">Title</label>
        <%= f.text_field :title, :class=>"form-control" -%>
      </div>

      <div class="form-group">
        <label>Description</label>
        <%= f.text_area :description, :class=>"form-control rich-text-edit", :rows => 5 -%>
      </div>

      <%= render :partial => 'assets/license_selector', :locals => { :resource => @document } %>

      <%= render :partial=> "assets/discussion_links_form", :locals=>{:resource => @document} -%>

      <%= render :partial=>"assets/asset_form_bottom", :locals=> {:show_publications=>false, :f => f}-%>

      <%= render :partial => "assays/associate_assays", :locals=>{:resource => @document} -%>

      <%= fancy_multiselect @document, :events, { other_projects_checkbox: true, sort_by: :start_date } %>

      <%= f.fancy_multiselect :workflows, :other_projects_checkbox=>true if Seek::Config.workflows_enabled %>

      <%= form_submit_buttons(@document) %>

    </div>
<% end %>
