<h1>New <%= t('document') %></h1>

<%= form_tag({:action => :create}, :multipart => true) do -%>
    <div class="asset_form">
      <%= error_messages_for :document -%>

      <%= render :partial=>"assets/upload_box",:locals=>{:resource=>@document} -%>

      <div class="form-group">
        <label class="required">Title</label>
        <% document_title_value = (params[:document].blank? || params[:document][:title].blank?) ? nil : params[:document][:title] -%>
        <%= text_field_tag 'document[title]', document_title_value, :class=>"form-control" -%>
      </div>

      <div class="form-group">
        <label>Description</label>
        <% document_description_value = (params[:document].blank? || params[:document][:description].blank?) ? nil : params[:document][:description] -%>
        <%= text_area_tag 'document[description]', document_description_value, :class=>"form-control rich-text-edit" -%>
      </div>

      <%= render :partial => "projects/project_selector", :locals => { :resource => @document, :allow_nil => Seek::Config.is_virtualliver } %>

      <%= render :partial => 'assets/license_selector', :locals => { :resource => @document } %>

      <%= render :partial=> "assets/discussion_links_form", :locals=>{:resource => @document} -%>

      <%= fields_for(@document) { |f| render :partial=>"assets/asset_form_bottom", :locals=> {:show_publications=>false, :f => f} }-%>

      <%= render :partial => "assays/associate_assays", :locals=>{:resource => @document} -%>

      <% if Seek::Config.events_enabled %>
        <%= fancy_multiselect @document, :events, { other_projects_checkbox: true, sort_by: :start_date } %>
      <% end %>

      <%= fancy_multiselect @document, :workflows, :other_projects_checkbox=>true if Seek::Config.workflows_enabled %>

      <%= form_submit_buttons(@document) %>

    </div>
<% end -%>
