<%= render :partial => "subscriptions/subscribe", :locals => {:object => item} %>

<% if logged_in_and_member? %>
    <%= button_link_to("New #{t('study')} based on this one", 'new', new_object_based_on_existing_one_study_path(item,:controller_name=>"studies")) %>
<% end %>

<% if item.can_edit? -%>
  <%= add_new_item_to_dropdown(item) %>
<% end -%>

<%= item_actions_dropdown do %>
  <% if item.can_edit? %>
    <li><%= image_tag_for_key('edit', edit_study_path(item), "Edit #{t('study')}", nil, "Edit #{t('study')}") -%></li>
    <li><%= image_tag_for_key('order', order_assays_study_path(item), "Order assays", nil, "Order assays") -%></li>
  <% end %>

  <% if item.can_manage? -%>
    <li><%= image_tag_for_key('manage', manage_study_path(item), "Manage #{t('study')}", nil, "Manage #{t('study')}") -%></li>
    <%= render :partial => 'snapshots/new_snapshot_link', :locals => { :item => item } %>
  <% end -%>


  <%= delete_icon item,current_user -%>
<% end -%>
