<%= error_messages_for :study %>

<%= f.hidden_field :create_from_asset %>

<div class="form-group">
  <label class="required">Title</label>
  <%= f.text_field :title,:class=>"form-control" %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, :rows=>5, :class=>"form-control" %>
</div>

<div class="form-group">
  <%= f.label "Experimentalist(s)" %>
  <%= f.text_field :experimentalists, :class=>"form-control" %>
</div>

<%= folding_panel("#{t('investigation')} details") do %>
    <label class="required"><%= t('investigation') %></label>
    <div id="investigation_collection">
      <%= render :partial=>"studies/investigation_list",:locals=>{:investigations=>Investigation.all.select {|i|current_user.person.member_of? i.projects}} -%>
    </div>

    <%= f.label t('person_responsible').capitalize %>
    <div id="person_responsible_collection">
      <% people = @study.investigation ? @study.investigation.projects.collect(&:people).flatten : [] -%>
      <%= render :partial=>"studies/person_responsible_list",:locals=>{:people=>people} -%>
    </div>
<% end %>



<% if show_scales? %>
    <%= render :partial => "scales/scales_selector",:locals=>{:object=>@study} %>
<% end %>

<%= render partial: 'assets/manage_specific_attributes', locals:{f:f} if show_form_manage_specific_attributes? %>

<%= f.fancy_multiselect :publications, { other_projects_checkbox: true } %>

<%= form_submit_buttons(@study) %>

<%= render partial: 'projects/implicit_project_selector', locals: { action: action,
                                                                    select_id: '#study_investigation_id',
                                                                    parents: Investigation.authorized_for('edit') } %>
