 <%= javascript_include_tag "sharing.js" %>

<%= error_messages_for :study %>


<div style="margin-right: 0.4em;">
    <p style="margin-top: 1.5em;">
      <%= f.label :title %><span class="required">*</span><br/>
      <%= f.text_area :title,:style => "width: 100%;", :rows=>2 %>
    </p>

    <p style="margin-top: 0.5em;">
      <%= f.label :description %><br/>
      <%= f.text_area :description,:style => "width: 100%;", :rows => 10 %>
    </p>

    <p>
      <%= f.label "Experimentalist(s)" %>
      <%= f.text_area :experimentalists,:style=>"width: 100%;",:rows=>1 %>
    </p>
</div>

<br/>

<div class="fold">
  <div class="foldTitle">
    Project details
  </div>
  <div class="foldContent">
  	
    <p>
      <%= f.label :project %><span class="required">*</span><br/>
      <%
      selected_project=@study.investigation ? @study.investigation.projects.first.id : 0
      projects = current_user.person.projects
      projects = projects | [@study.investigation.projects.first] if @study.investigation
    %>
      <%=
      select_tag :project_id,
        options_for_select([["Select project ..",0]]|projects.collect{|p| [h(p.name),p.id]},selected_project),
        {:onchange=>remote_function(
          :url=>{:action=>"project_selected_ajax"},
          :with=>"'project_id='+this.value",
          :before=>"show_ajax_loader('investigation_collection');show_ajax_loader('person_responsible_collection')"
        ),:style=>"width:82%"

      }
    %>
    </p>

    <p>
      <%= f.label :investigation %><span class="required">*</span><br/>
      <div id="investigation_collection">
        <% investigations = @study.investigation ? @study.investigation.projects.collect(&:investigations).flatten : [] -%>
        <%= render :partial=>"studies/investigation_list",:locals=>{:investigations=>investigations} -%>
      </div>
      <br/>
    </p>

    <p>
      <%= f.label "Person responsible" %><br/>
      <div id="person_responsible_collection">
        <% people = @study.investigation ? @study.investigation.projects.collect(&:people).flatten : [] -%>
        <%= render :partial=>"studies/person_responsible_list",:locals=>{:people=>people} -%>
      </div>
    </p>

  </div>
  <p>
    <%= render :partial=>"assets/sharing_form" if @study.can_manage? -%>
  </p>

</div>



<script type="text/javascript">
  var CREATE_INVESTIGATION_LINK = "<%= create_investigation_url %>";
</script>


<p style="margin-top: 2em; text-align: center;">
  <%= f.submit(action==:edit ? "Update" : "Create", :disable_with=>(action==:edit ? "Updating..." : "Creating...")) -%>
  or <%= link_to 'Cancel', (@study.id ? study_path(@study.id) : studies_path) -%>
</p>
