<%= list_item_description h(resource.description) %>

<div class="row">
  <div class="col-sm-6">
    <%= list_item_authorized_attribute "Contributor", resource.person_responsible %>
    <%= list_item_attribute "ID", resource.id %>
  </div>

  <div class="col-sm-6 hidden-xs">
    <%= list_item_authorized_list [resource.investigation], t('investigation'), true, 50, true  %>
  </div>
</div>

<%= list_item_authorized_list resource.assays, t('assays.assay').pluralize %>
<div class="hidden-xs">
  <%= scales_list_for_list_item resource %>
</div>