<%= list_item_description resource.description %>

<div class="row">
  <div class="col-sm-6">    
    <%= list_item_authorized_list [resource.investigation], t('investigation'), true, 50, true  %>
    <%= list_item_authorized_list resource.assays, t('assays.assay').pluralize %>    
  </div>

  <div class="col-sm-6 hidden-xs">
    <%= list_item_snapshot_list resource %>
    <%= list_item_doi(resource) %>
  </div>
</div>



<div class="hidden-xs">
  <%= scales_list_for_list_item resource %>
</div>