<%= list_item_title resource %>

<div class="list_item_left_column">
  <%= list_item_attribute "ID", resource.id %>
  <%= list_item_attribute t('investigation'), h(resource.investigation.title), resource.investigation %>
</div>


<div class="list_item_right_column">
  <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => true}%>
  <%= list_item_authorized_attribute "Contributor", resource.person_responsible %>
</div>

<div class="list_item_whole_width">
  <%= list_item_authorized_list resource.assays, t('assays.assay').pluralize %>
  <%= list_item_scale_list resource %>
  <%= list_item_description h(resource.description) %>

  <%= list_item_timestamp resource %>
</div>