<h1>Studies Batch Upload</h1>

<%= form_for @studies, url: batch_create_studies_path do |f| %>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col" style="min-width:150px;">Study ID <span style="color: red">*</span></th>
        <th scope="col" style="min-width:150px;" class="required">Study Title <span style="color: red">*</span></th>
        <th scope="col" style="min-width:150px;">Study Description</th>
        <th scope="col" style="min-width:150px;">Start date <span style="color: red">*</span></th>
        <th scope="col" style="min-width:150px;">End date</th>
        <th scope="col" style="min-width:150px;">Contact institution <span style="color: red">*</span></th>
        <th scope="col" style="min-width:150px;">Geographic location country <span style="color: red">*</span></th>
        <th scope="col" style="min-width:150px;">Experimental site name <span style="color: red">*</span></th>
        <th scope="col" style="min-width:150px;">Latitude</th>
        <th scope="col" style="min-width:150px;">Longitude</th>
        <th scope="col" style="min-width:150px;">Altitude</th>
        <th scope="col" style="min-width:150px;">Description of the experimental design <span style="color: red">*</span></th>
        <th scope="col" style="min-width:150px;">Type of experimental design</th>
        <th scope="col" style="min-width:150px;">Type of experimental design</th>
        <th scope="col" style="min-width:150px;">Observation unit description <span style="color: red">*</span></th>
        <th scope="col" style="min-width:150px;">Description of growth facility <span style="color: red">*</span></th>
        <th scope="col" style="min-width:150px;">Type of growth facility</th>
        <th scope="col" style="min-width:150px;">Cultural practices</th>
        <th scope="col" style="min-width:150px;">Data files</th>

      </tr>
      </thead>
      <tbody>
      <% @studies.each do |study| %>
        <tr>
          <th scope="row">
            <%= f.text_field :id, required: true, name: "studies[id][]", :class => "form-control", value: study.custom_metadata.data[:id] %>
          </th>
          <td>
            <%= f.text_area :title, required: true, name: "studies[title][]", :class => "form-control", value: study.title %>
          </td>
          <td>
            <%= f.text_area :description, required: false, name: "studies[description][]", :class => "form-control", value: study.description %>
          </td>
          <td>
            <%= f.text_field :startDate, required: true, name: "studies[startDate][]", :class => "form-control", value: study.custom_metadata.data[:study_start_date] %>
          </td>
          <td>
            <%= f.text_field :endDate, required: false, name: "studies[endDate][]", :class => "form-control", value: study.custom_metadata.data[:study_end_date] %>
          </td>
          <td>
            <%= f.text_area :contactInstitution, required: true, name: "studies[contactInstitution][]", :class => "form-control", value: study.custom_metadata.data[:contact_institution] %>
          </td>
          <td>
            <%= f.text_field :geographicLocationCountry, required: true, name: "studies[geographicLocationCountry][]", :class => "form-control", value: study.custom_metadata.data[:geographic_location_country] %>
          </td>
          <td>
            <%= f.text_field :experimentalSiteName, required: true, name: "studies[experimentalSiteName][]", :class => "form-control", value: study.custom_metadata.data[:experimental_site_name] %>
          </td>
          <td>
            <%= f.text_field :latitude, required: false, name: "studies[latitude][]", :class => "form-control", value: study.custom_metadata.data[:latitude] %>
          </td>
          <td>
            <%= f.text_field :longitude, required: false, name: "studies[longitude][]", :class => "form-control", value: study.custom_metadata.data[:longitude] %>
          </td>
          <td>
            <%= f.text_field :altitude, required: false, name: "studies[altitude][]", :class => "form-control", value: study.custom_metadata.data[:altitude] %>
          </td>
          <td>
            <%= f.text_area :descriptionOfTheExperimentalDesign, required: true, name: "studies[descriptionOfTheExperimentalDesign][]", :class => "form-control", value: study.custom_metadata.data[:description_of_the_experimental_design] %>
          </td>
          <td>
            <%= f.text_area :typeOfExperimentalDesign, required: false, name: "studies[typeOfExperimentalDesign][]", :class => "form-control", value: study.custom_metadata.data[:type_of_experimental_design] %>
          </td>
          <td>
            <%= f.text_area :observationUnitLevelHierarchy, required: false, name: "studies[observationUnitLevelHierarchy][]", :class => "form-control", value: study.custom_metadata.data[:observation_unit_level_hierarchy] %>
          </td>
          <td>
            <%= f.text_area :observationUnitDescription, required: true, name: "studies[observationUnitDescription][]", :class => "form-control", value: study.custom_metadata.data[:observation_unit_description] %>
          </td>
          <td>
            <%= f.text_area :descriptionOfGrowthFacility, required: true, name: "studies[descriptionOfGrowthFacility][]", :class => "form-control", value: study.custom_metadata.data[:description_of_growth_facility] %>
          </td>
          <td>
            <%= f.text_area :typeOfGrowthFacility, required: false, name: "studies[typeOfGrowthFacility][]", :class => "form-control", value: study.custom_metadata.data[:type_of_growth_facility] %>
          </td>
          <td>
            <%= f.text_area :culturalPractices, required: false, name: "studies[culturalPractices][]", :class => "form-control", value: study.custom_metadata.data[:cultural_practices] %>
          </td>
          <td>
            <%= f.text_area :culturalPractices, required: false, name: "studies[data_files][]", :class => "form-control", value: @studies_datafiles[study.custom_metadata.data[:id]][:data_file].join(", ") %>
          </td>
        </tr>
        <%= hidden_field_tag "studies[data_file_description][]", @studies_datafiles[study.custom_metadata.data[:id]][:data_file_description].join(", ") %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <%= f.label "Experimentalist(s)" %>
    <%= f.text_field :experimentalists, :class=>"form-control" %>
  </div>

  <%= folding_panel("#{t('investigation')} details") do %>
    <label class="required"><%= t('investigation') %></label>
    <div id="investigation_collection">
      <%= render :partial=>"studies/investigation_list",:locals=>{:investigations=>Investigation.all.select {|i|current_user.person.member_of? i.projects}} -%>
    </div>

    <%= f.label t('person_responsible').capitalize %>
    <div id="person_responsible_collection">
      <% people = @study.investigation ? @study.investigation.projects.collect(&:people).flatten : [] -%>
      <%= render :partial=>"studies/person_responsible_list",:locals=>{:people=>people} -%>
    </div>
  <% end %>

  <%= f.submit "Create", :class => 'btn btn-primary' -%>
  or <%= cancel_button(studies_path) -%>

<% end %>

<!-- button_link_to("View samples", 'view_samples', sample_type_samples_path(sample_type)) -->