<script type="text/javascript">
  var CREATE_INVESTIGATION_PATH='<%= create_investigation_path %>';
</script>
<% investigations = Investigation.all.select &:can_view? -%>
<% if investigations.blank? %>
    <%= button_link_to("New #{t('investigation')}", 'arrow_right', new_investigation_path) -%>
<% else %>
<h1>New <%= t('study') %></h1>

  <%= link_to "Batch Study Upload", batch_uploader_studies_path, class: "btn btn-primary" %>

<div class="show_basic">

	<%= form_for @study do |f| %>
	  <%= render :partial => "form", :locals => { :f => f, :action=>:new } -%>
	<% end -%>
</div>
<% end -%>