<div id="redbox_contents_div" class="redbox_contents" style="width:400px;">
  <div class="head">
    <%= link_to_close_redbox image_tag("close.gif"), :style => "float:right; margin-left:0.5em; vertical-align:middle;" -%>
    <span style="vertical-align:middle;">
      New <%= t('investigation') %>
    </span>
  </div>
  <div class="center-block body">
    <div id="errorExplanation" class="errorExplanation" style="display:none;"></div>

    Creating a new <%= t('investigation') %> for the <%= t('project') %> <b>'<%= h(@investigation.projects.first.name) %>'</b>

    <%= hidden_field_tag :project_id,@investigation.projects.first.id %>

    <p>
      <%= label_tag :title %><br/>
      <%= text_field_tag :title,'',:size=>42 %>
    </p>
    <p>
      <%= label_tag :description %><br/>
      <%= text_area_tag :description,'',:cols=>40,:rows=>5 %>
    </p>

    <input type="button" value="Cancel" onclick="javascript: RedBox.close(); return(false);" />
    <%= submit_tag "Create",:onclick=>"postInvestigationData();return(false);" %>
  </div>
</div>
