<ul class="sectionIcons">
  <% if @study.can_edit?(current_user) -%>
    <li>
      <%= image_tag_for_key('edit', edit_study_path(@study), "Edit study", nil, 'Edit study') -%>
    </li>
  <% end -%>

  <%= delete_ISA_icon @study,current_user -%>
  
  <% if @study.can_edit? -%>
    <li>
      <%= image_tag_for_key('new', new_assay_path(:study_id=>@study), "Create an Assay for this study", nil, 'Create an Assay for this study') -%>
    </li>
  <% end -%>
</ul>

<%= render :partial => "layouts/item_title",:locals=>{:item=>@study} %>

<div class="show_basic">
  <%= render :partial => "layouts/usage_info", :locals => { :resource => @study } -%>
  
  <p class="id">
    <label>ID: </label>
    <%= @study.id -%>
  </p>

  <div class="box_about_actor">

    <div class="investigation">
      <p>
        <label>Investigation:</label>
        <%= link_to h(@study.investigation.title),@study.investigation %>
      </p>
    </div>

    <div class="project">
      <p>
        <label>Project:</label>
        <%= link_to h(@study.project.name),project_path(@study.project)  %>
      </p>
    </div>

    <div>
      <p>
        <label>Person responsible:</label>
        <% if @study.person_responsible -%>
          <%= link_to h(@study.person_responsible.name),@study.person_responsible %>
        <% else -%>
          <span class="none_text">Not specified</span>
        <% end -%>
      </p>
    </div>
    <p>
      <b>Experimentalists:</b>
      <%= text_or_not_specified(@study.experimentalists) %>
    </p>

    <p>
      <b>Description:</b>
      <div id="description" class="box_standout">
        <%= text_or_not_specified(@study.description, :description=>true,:auto_link=>true) %>
      </div>
    </p>

  </div>    
    
  <%= embedded_isa_svg(@study.investigation,false,@study) -%>

  <%= render :partial=>"layouts/items_related_to", :object => @study %>
</div>