


<ul class="sectionIcons">
  <% if @study.can_edit?(current_user) -%>
    <li>
      <%= image_tag_for_key('edit', edit_study_path(@study), "Edit study", nil, 'Edit study') -%>
    </li>
  <% end -%>

  <%= delete_ISA_icon @study,current_user -%>
  
  <% if current_user.person.projects.include?(@study.project) -%>
    <li>
      <%= image_tag_for_key('new', new_assay_path(:study_id=>@study), "Create an Assay for this study", nil, 'Create an Assay for this study') -%>
    </li>
  <% end -%>
</ul>

<h1><%= h @study.title -%></h1>

<div class="show_basic">
  <div class="contribution_aftertitle" style="line-height: 1.5; margin-bottom: 0.8em;">
    <b>Created at:</b> <%= @study.created_at.strftime('%d/%m/%Y @ %H:%M:%S') -%>
    <% unless @study.created_at == @study.updated_at -%>
      <br/>
      <b>Last updated: </b><%= @study.updated_at.strftime('%d/%m/%Y @ %H:%M:%S') -%> 
    <% end -%>
  </div>
  
  <p class="id">
    <label>ID: </label>
    <%= @study.id -%>
  </p>

  <div class="box_about_actor">

    <div class="investigation">
      <p>
        <label>Investigation:</label>
        <%= link_to h(@study.investigation.title),@study.investigation %>
      </p>
    </div>

    <div class="project">
      <p>
        <label>Project:</label>
        <%= link_to h(@study.project.name),project_path(@study.project)  %>
      </p>
    </div>

    <div>
      <p>
        <label>Person responsible:</label>
        <% if @study.person_responsible -%>
          <%= link_to h(@study.person_responsible.name),@study.person_responsible %>
        <% else -%>
          <span class="none_text">Not specified</span>
        <% end -%>
      </p>
    </div>

    <div class="assays">
      <%= render :partial=>"studies/simple_assay_list",:locals=>{:assays=>@study.assays} %>
    </div>

    <p style="margin-top: 1em;">
      <b>About the study:</b>
      <div id="description" class="box_standout">
        <%= text_or_not_specified(@study.description, :description=>true,:auto_link=>true) %>
      </div>
    </p>

  </div>

  <%= render :partial=>"studies/study_tabs" %>

</div>