<%= render :partial => "general/item_title",:locals=>{:item=>@study} %>

<ul class="sectionIcons">
    <%= render :partial => "subscriptions/subscribe", :locals => {:object => @study} %>
    <% if @study.can_manage? -%>
      <li><%= image_tag_for_key('manage', edit_study_path, nil, nil, "Manage #{t('study')}") -%></li>
    <% elsif @study.can_edit?-%>
      <li><%= image_tag_for_key('edit', edit_study_path, "Edit #{t('study')}", nil, "Edit #{t('study')}") -%></li>
    <% end -%>

    <% if @study.can_edit? -%>
        <li>
          <%= image_tag_for_key('new', new_assay_path(:study_id=>@study,:create_from_asset=>@study.create_from_asset), "Add an #{t('assays.assay')}", nil, "Add an #{t('assays.assay')}") -%>
        </li>
    <% end -%>

  <%= delete_icon @study,current_user -%>
    <% if logged_in? and current_user.person.member? %>
      <li><%= image_tag_for_key('new', new_object_based_on_existing_one_path(:controller_name=>"studies",:id=>@study.id), nil, nil, "New #{t('study')} based on this one") %></li>
    <% end %>
</ul>

<div class="show_basic">
  <div class="main_content_left_box">
  <p class="id">
    <label>ID: </label>
    <%= @study.id -%>
  </p>

  <div class="box_about_actor">

    <div class="investigation">
      <p>
        <label><%= t('investigation') %>:</label>
        <%= link_to h(@study.investigation.title),@study.investigation %>
      </p>
    </div>

    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @study}%>

    <div>
      <p>
        <label>Person responsible:</label>
        <% if @study.person_responsible.try :can_view? -%>
          <%= link_to h(@study.person_responsible.name),@study.person_responsible %>
        <% else -%>
          <span class="none_text">Not available</span>
        <% end -%>
      </p>
    </div>
    <p>
      <b>Experimentalists:</b>
      <%= text_or_not_specified(@study.experimentalists) %>
    </p>

    <%= item_description @study.description -%>

  </div>
  </div>

  <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @study, :creators => [@study.contributing_user.try(:person)] } %>

  <div style="clear:both;">
    <%= embedded_isa_svg(@study.investigation,false,@study) -%>
  </div>

  <%= render :partial=>"general/items_related_to", :object => @study %>

</div>
