<ul class="nav nav-tabs">
    <li class="active ">
        <a data-toggle="tab" href="#details"><i class="glyphicon glyphicon-list-alt"></i> Details</a>
    </li>
    <li>
        <a data-toggle="tab" href="#related-items">
            <i class="glyphicon glyphicon-th-list"></i> Related items
        </a>
    </li>
    <% if Seek::Config.project_single_page_advanced_enabled %>
      <li>
          <a data-toggle="tab" href="#study_design"><i class="glyphicon glyphicon-list-alt"></i> Study design</a>
      </li>
      <li>
          <a data-toggle="tab" href="#flowchart"><i class="glyphicon glyphicon-list-alt"></i> Flowchart</a>
      </li>
    <% end %>
</ul>
<div class="tab-content">
    <div id="details" class="tab-pane fade in active">
      <%= render :partial => "general/item_title",:locals => {:item=>@study, :buttons_partial => 'studies/buttons'} %>
      <div class="row">
        <div class="col-md-9 col-sm-8 box_about_actor">
          <%= item_description @study.description -%>

          <div class="row">
            <div class="col-md-6">

              <%= persistent_resource_id(@study) %>

              <p class="investigation">
                <label><%= t('investigation') %>:</label>
                <%= investigation_link(@study.investigation) %>
              </p>

              <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @study}%>        
              <p id="position">
                  <b><%= "Study position" %>: </b>
                  <%= @study.position %>
              </p>
        	    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @study}%>        
              <% unless @study.experimentalists.blank? %>
                <p>
                  <b>Experimentalists:</b>
                  <%= text_or_not_specified(@study.experimentalists) %>
                </p>
              <% end %>

            </div>
          </div>
          <% if @study.external_asset %>
              <div class="row">
                <div class="col-md-12">
                  <%= external_asset_details(@study) %>
                </div>
              </div>
          <% end %>

          <%= render partial: 'custom_metadata/custom_metadata_attribute_values', locals: {resource: @study} %>

          <%= render partial: 'general/isa_graph', locals: { root_item: @study, options: { depth: 4 } } -%>

        </div>

        <div class="col-md-3 col-sm-4">
          <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @study } %>
        </div>
      </div>
    </div>

    <div id="related-items" class="tab-pane fade">
      <%= render :partial=>"general/items_related_to", :object => @study -%>
    </div>

    <% if Seek::Config.project_single_page_advanced_enabled %>
      <div id="study_design" class="tab-pane fade">
          <%= render :partial=>"isa_studies/study_design", locals: { study: @study} -%>
      </div>
      <div id="flowchart" class="tab-pane fade"></div>
    <% end %>
    
</div>
