


<ul class="sectionIcons">
  <% if @study.can_edit?(current_user) -%>
    <li>
      <%= icon('edit', edit_study_path(@study), "Edit study", nil, 'Edit study') -%>
    </li>
  <% end -%>

  <% if @study.can_delete?(current_user) -%>
    <li>
      <%= icon "destroy", study_path(@study), "Delete study", { :confirm => 'Are you sure?', :method => :delete }, "Delete Study" -%>
    </li>
  <% end -%>
  <% if current_user.person.projects.include?(@study.project) -%>
    <li>
      <%= icon('new', new_assay_path(:study_id=>@study), "Create a new assay for this study", nil, 'Create a new assay for this study') -%>
    </li>
  <% end -%>
</ul>

<h1><%= h @study.title -%></h1>

<div class="show_basic">


  <div class="box_about_actor">

    <div class="investigation">
      <p>
        <label>Investigation:</label>
        <%= link_to h(@study.investigation.title),@study.investigation %>
      </p>
    </div>

    <div class="project">
      <p>
        <label>Project:</label>
        <%= link_to h(@study.project.name),project_path(@study.project)  %>
      </p>
    </div>

    <div>
      <p>
        <label>Person responsible:</label>
        <% if @study.person_responsible -%>
          <%= link_to h(@study.person_responsible.name),@study.person_responsible %>
        <% else -%>
          <span class="none_text">Not specified</span>
        <% end -%>
      </p>
    </div>

    <div class="assays">
      <%= render :partial=>"studies/simple_assay_list",:locals=>{:assays=>@study.assays} %>
    </div>

    <p style="margin-top: 1em;">
      <b>About the study:</b>
      <div id="description" class="box_standout">
        <%= text_or_not_specified(@study.description, :description=>true) %>
      </div>
    </p>

  </div>

  <%= render :partial=>"studies/study_tabs" %>

</div>