<%= render :partial => "general/item_title",:locals => {:item=>@study, :buttons_partial => 'studies/buttons'} %>

<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">
    <%= item_description @study.description -%>

    <div class="row">
      <div class="col-md-6">

        <%= persistent_resource_id(@study) %>

        <p class="investigation">
          <label><%= t('investigation') %>:</label>
          <%= investigation_link(@study.investigation) %>
        </p>

        <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @study}%>

        <p>
          <label><%= t('person_responsible').capitalize %>:</label>
          <% if @study.person_responsible.try :can_view? -%>
              <%= link_to @study.person_responsible.name,@study.person_responsible %>
          <% else -%>
              <span class="none_text">Not available</span>
          <% end -%>
        </p>

        <% unless @study.experimentalists.blank? %>
          <p>
            <b>Experimentalists:</b>
            <%= text_or_not_specified(@study.experimentalists) %>
          </p>
        <% end %>

      </div>
    </div>
    <% if @study.external_asset %>
        <div class="row">
          <div class="col-md-12">
            <%= external_asset_details(@study) %>
          </div>
        </div>
    <% end %>
    <%= render partial: 'general/isa_graph', locals: { root_item: @study, options: { depth: 4 } } %>
  </div>

  <div class="col-md-3 col-sm-4">
    <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @study } %>
  </div>
</div>


<%= render :partial=>"general/items_related_to", :object => @study %>
