<%= render partial: 'general/item_title', locals: { item: @study, buttons_partial: 'studies/buttons' } -%>

<%= render partial: 'general/show_page_tab_definitions', locals: { resource: @study } %>

<div class="tab-content">
  <%= tab_pane('overview') do %>
    <div class="row">
      <div class="col-md-9 col-sm-8 box_about_actor">
        <%= item_description @study.description -%>

        <div class="row">
          <div class="col-md-6">

            <%= persistent_resource_id(@study) %>

            <p class="investigation">
              <label><%= t('investigation') %>:</label>
              <%= investigation_link(@study.investigation) %>
            </p>

            <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @study}%>
            <p id="position">
              <b><%= "Study position" %>: </b>
              <%= @study.position %>
            </p>
            <% unless @study.experimentalists.blank? %>
              <p>
                <b>Experimentalists:</b>
                <%= text_or_not_specified(@study.experimentalists) %>
              </p>
            <% end %>

          </div>
        </div>
        <% if @study.external_asset %>
          <div class="row">
            <div class="col-md-12">
              <%= external_asset_details(@study) %>
            </div>
          </div>
        <% end %>

        <%= render partial: 'custom_metadata/custom_metadata_attribute_values', locals: {resource: @study} %>

        <%= render partial: 'general/isa_graph', locals: { root_item: @study, options: { depth: 4 } } -%>

				<% if Seek::Config.project_single_page_advanced_enabled %>
						<%= render partial: 'isa_studies/applied_templates', locals: { resource: @study } -%>
				<% end %>

      </div>

      <div class="col-md-3 col-sm-4">
        <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @study } %>
      </div>
    </div>
  <% end %>

  <%= tab_pane('related-items') do %>
    <%= render partial: 'general/items_related_to', object: @study %>
  <% end %>

	<% if Seek::Config.project_single_page_advanced_enabled && displaying_single_page?%>
		<%= tab_pane('study_design') do %>
			<%= render :partial=>"isa_studies/study_design", locals: { study: @study} -%>
		<% end %>
	<% end %>

</div>
