<% if Seek::Config.project_browser_enabled && logged_in_and_registered? && current_user.person.member_of?(item) %>
    <%= button_link_to("Organize", 'organise', project_folders_path(item.id)) -%>
<% end -%>
<% if can_browse_openbis?(item) %>
    <%= button_link_to("Browse openBIS", :openbis_square, openbis_endpoint_path(item.openbis_endpoints.last),{icon_options:{height:'18px'}}) %>
<% end %>
<% if item.try(:has_member?,current_user) %>
    <%= button_link_to("Dashboard", 'project_dashboard', dashboard_project_stats_path(item)) %>
<% end -%>
<%= button_link_to('Overview', 'graph_nodes', overview_project_path(item)) -%>
<% if item.try(:has_member?,current_user) || admin_logged_in? -%>
    <% tooltip_text="This will present you with a short report about the items that have been shared outside of your #{t('project')}" %>
    <%= button_link_to("Asset report", 'report', asset_report_project_path(item), 'data-tooltip' => tooltip(tooltip_text)) -%>
<% end -%>

<% if request_project_membership_button_enabled?(item) %>
    <span id="request_membership_button">
        <%= button_link_to("Request membership", "message", '#', 'data-toggle' => 'modal', 'data-target' => "#request-membership-dialog") %>
    </span>
<% elsif log = request_project_memberhip_pending?(item) %>
    <%
      reason = "A recent request was made, and cannot be made again for another #{log.hours_until_next_allowed_str}"
    %>
    <span data-tooltip='<%= reason %>'>
      <%= button_link_to("Request membership", "message", '#', disabled: true) %>
    </span>
<% end -%>

<%= item_actions_dropdown do %>
  <% if item.can_edit? -%>
    <% if item.can_manage? -%>
      <li><%= image_tag_for_key('manage', edit_project_path(item), "Manage #{t('project')}", nil, "Manage #{t('project')}") -%></li>
      <li><%= image_tag_for_key "group_edit", admin_members_project_path(item), "Administer", nil, "Administer #{t('project')} members" -%></li>
      <li><%= image_tag_for_key "group_edit", admin_member_roles_project_path(item), "Administer", nil, "Administer #{t('project')} members roles" -%></li>
      <% if OpenbisEndpoint.can_create? %>
        <li><%= image_tag_for_key :openbis_square, project_openbis_endpoints_path(item), "Administer", {}, "Administer openBIS",false,16 -%></li>
      <% end %>
    <% else %>
      <li><%= image_tag_for_key('edit', edit_project_path(item), "Edit #{t('project')} Details", nil, "Edit #{t('project')} Details") -%></li>
    <% end -%>
      <li><%= image_tag_for_key('order', order_investigations_project_path(item), "Order investigations", nil, "Order investigations") -%></li>
    <% if admin_logged_in? -%>
      <%= delete_icon(item,current_user) %>
    <% end -%>
  <% end -%>
<% end -%>
