<% if Seek::Config.project_browser_enabled && logged_in_and_registered? && current_user.person.member_of?(item) -%>
    <%= button_link_to("Organize", 'organise', project_folders_path(item.id)) -%>
<% end -%>
<% if can_browse_openbis?(item) %>
    <%= button_link_to("Browse openBIS", :openbis_square, browse_project_openbis_endpoints_path(item),{icon_options:{height:'18px'}}) %>
<% end %>
<% if item.try(:has_member?,current_user) || admin_logged_in? -%>
    <% tooltip_text="This will present you with a short report about the items that have been shared outside of your #{t('project')}" %>
    <%= button_link_to("Asset report", 'report', asset_report_project_path(item), 'data-tooltip' => tooltip(tooltip_text)) -%>
<% end -%>

<% if request_project_membership_button_enabled?(item) %>
    <span id="request_membership_button">
        <%= button_link_to("Request membership", "message", '#', :onclick => "Effect.Appear('request_membership_form');Effect.Fade('request_membership_button');") -%>
    </span>
<% end -%>


<%= admin_dropdown do %>
    <% if mine?(item) || item.can_be_edited_by?(current_user) -%>

        <li><%= image_tag_for_key('edit', edit_project_path(item), "Edit #{t('project')} Details", nil, "Edit #{t('project')} Details") -%></li>

        <% if item.try(:can_be_administered_by?, current_user) -%>
            <li><%= image_tag_for_key "group_edit", admin_members_project_path(item), "Administer", nil, "Administer #{t('project')} members" -%></li>
            <li><%= image_tag_for_key "group_edit", admin_member_roles_project_path(item), "Administer", nil, "Administer #{t('project')} members roles" -%></li>
            <% if OpenbisEndpoint.can_create? %>
                <li><%= image_tag_for_key :openbis_square, project_openbis_endpoints_path(item), "Administer", {}, "Administer openBIS",false,16 -%></li>
            <% end %>
        <% end -%>
        <% if admin_logged_in? -%>
            <%= delete_icon(item,current_user) %>
        <% end -%>

    <% end -%>
<% end -%>
<% if request_project_membership_button_enabled?(item) %>
    <div id="request_membership_form" style="display:none;width:100%">
      <%= form_tag_with_callbacks(polymorphic_url(item, :action => :request_membership),
                                  {:id=>"request_membership",:before=>"Effect.Appear('requesting_membership');$('request_membership_form').hide();",
                                   :remote => true}) do -%>

          <p>
            An email will be sent to <%= join_with_and(item.project_administrators.collect{|m| h(m.name)}) -%> to let them know of your interest.<br/>
            Please provide some extra information you feel may be useful to your request.
          </p>
          <p>

            <%=  text_area_tag :details,'',:cols=>80,:rows=>10 -%>
            <%= submit_tag 'Send', data: { confirm: 'An email will be delivered with your request. Are you sure?'} -%>

          </p>
      <% end -%>

    </div>
<% end %>



<div id="requesting_membership" style="display:none;">Requesting membership of project <%= h(item.title) %> from <%= h(item.project_administrators.collect{|p| h(p.name)}.join(", ")) %> ...</div>

