


<%
  return unless upload.show_status?
  task = upload.import_task
  job_status ||= task.status
  in_progress = task.in_progress?
  failed = task.failed?
  success = task.success?
  element_id = "fair-data-station-import-#{upload.id}"
  external_id = upload.investigation_external_identifier
%>

<%
  alert_style = 'alert-info'
  alert_style = 'alert-warning' if failed
  alert_style = 'alert-success' if success
%>

<div id='<%= element_id %>' class='fair-data-station-import-status'>
  <% if in_progress || failed || success %>
      <div class="alert <%= alert_style %>" role="alert">
        <strong>FAIR Data Station import status ( ID: <%= external_id %> ) :</strong>

        <% if in_progress %>
            <%= job_status.to_s.humanize %>
            <%= image 'spinner' %>
            <script>
              setTimeout(function () {
                $j.ajax('<%= fair_data_station_import_status_project_path(upload.project, upload_id: upload.id) %>', {
                      data: { 'previous_status': '<%= job_status -%>' },
                      success: function (html) {
                        $j('#<%= element_id %>').replaceWith(html);
                        FairDataStation.registerStatusCloseButtons('#<%= element_id %>');
                      }
                    }
                );
              }, 5000);
            </script>
        <% elsif failed %>
          Failed. An administrator will have been notified of the problem, but you could try again.
          <%= link_to "Close", '#', class: 'btn btn-primary close-status-button', "data-project_id":upload.project.id, "data-upload_id":upload.id %>
        <% elsif success  %>
            Completed

            <%= link_to("View imported #{t('investigation')}", investigation_path(upload.investigation),
                        class: 'btn btn-primary') if upload.investigation %>

             <%= link_to "Close", '#', class: 'btn btn-primary close-status-button', "data-project_id":upload.project.id, "data-upload_id":upload.id %>
        <% end %>
      </div>
  <% end %>
</div>
