<%= javascript_include_tag "projects" %>

<%= f.error_messages %>
  
<h2><%= t('project') %> Details</h2>

<div style="text-align: center;">
	<div style="width: 95%;">
		<p>
		  <%= f.label :name -%><br />
		  <%= f.text_field :name, :style => "width: 350px;" -%>
		</p>
		<p>
		  <%= f.label "Public Web page"-%><br />
		  <%= f.text_field :web_page, :style => "width: 350px;" -%>
		</p>
		<p>
		  <%= f.label "Internal Web page" -%><br />
		  <%= f.text_field :wiki_page, :style => "width: 350px;" -%>
		</p>

		<p>
		  <%= f.label :description -%><br/>
		  <%= f.text_area :description, :style => "width: 85%;", :rows => 10 -%>
		</p>
      <% if Seek::Config.project_hierarchy_enabled -%>
      <p>
        <%= f.label "Parent" -%><br/>
        <%= tree_single_select_tag Project, "id", @project ? @project.parent : nil, [@project] + @project.descendants, "parent_id" %>
      </p>
      <% end -%>
	</div>
</div>

<% if Seek::Config.organisms_enabled %>
    <h2>Organisms Relevant To This <%= t('project') %></h2>
    <%= render :partial=>"projects/organisms_selection", :locals=>{:f=>f} -%>
<% end %>
  
<%# show avatar selection only when the project exists AND when current user is allowed to edit it -%>
<% if project && (mine?(project) || project.can_be_edited_by?(current_user)) -%>
  <h2 style="margin-top: 1.5em;"><%= t('project') %> Picture</h2>
	<%= render :partial => "avatars/selector_hlist", :locals => { :avatar_for_instance => project, :form_instance => f } -%>
<% end -%>



<p style="margin-top: 2em; text-align: center;">
  <%= f.submit(project ? "Update" : "Create",:disable_with=>(project ? "Updating..." : "Creating...")) -%>
	or <%= link_to 'Cancel', (project ? project_path(project.id) : projects_path) -%>
</p>