<%= javascript_include_tag "projects" %>

<%= f.error_messages %>
  
<h2><%= t('project') %> Details</h2>

<div>
	<div style="width: 95%;">
		<p>
		  <%= f.label :name -%><br />
		  <%= f.text_area :title, :class=>"title_text_entry"-%>
		</p>
		<p>
		  <%= f.label "Public Web page"-%><br />
		  <%= f.text_field :web_page, :class=>"text_entry" -%>
		</p>
		<p>
		  <%= f.label "Internal Web page" -%><br />
		  <%= f.text_field :wiki_page, :class=>"text_entry" -%>
		</p>

		<p>
		  <%= f.label :description -%><br/>
		  <%= f.text_area :description, :class=>"large_text_entry" -%>
		</p>
      <% if Seek::Config.project_hierarchy_enabled -%>
      <p>
        <%= f.label "Parent" -%><br/>
        <%= tree_single_select_tag Project, "id", @project ? @project.parent : nil, [@project] + @project.descendants, "parent_id" %>
      </p>
      <% end -%>
	</div>
</div>

<% if Seek::Config.organisms_enabled %>
    <h2>Organisms Relevant To This <%= t('project') %></h2>
    <%= render :partial=>"projects/organisms_selection", :locals=>{:f=>f} -%>
<% end %>

<p>
  <%= f.submit(project ? "Update" : "Create",:disable_with=>(project ? "Updating..." : "Creating...")) -%>
	or <%= link_to 'Cancel', (project ? project_path(project.id) : projects_path) -%>
</p>