<%= javascript_include_tag "projects" %>

<%= f.error_messages %>

<div class="form-group">
  <%= f.label :title -%><span class="required">*</span>
  <%= f.text_field :title, :class=>"form-control"-%>
</div>

<div class="form-group">
  <%= f.label "Public Web page"-%>
  <%= f.text_field :web_page, :class=>"form-control" -%>
</div>

<div class="form-group">
  <%= f.label "Internal Web page" -%>
  <%= f.text_field :wiki_page, :class=>"form-control" -%>
</div>

<div class="form-group">
  <%= f.label :description -%>
  <%= f.text_area :description, :rows => 5, :class=>"form-control" -%>
</div>

<% if Seek::Config.project_hierarchy_enabled -%>
    <div class="form-group">
      <%= f.label "Parent" -%>
      <%= tree_single_select_tag Project, "id", @project ? @project.parent : nil, [@project] + @project.descendants, "parent_id" %>
    </div>
<% end -%>

<% if Seek::Config.programmes_enabled && admin_or_programme_administrator_logged_in? %>
    <%= render :partial=>"projects/programme_selection", :locals=>{:f=>f} -%>
<% end %>

<% unless project %>
    <%= render :partial=> "projects/select_add_current_user_to_project" %>
<% end %>

<% if Seek::Config.organisms_enabled %>
        <%= render :partial=>"projects/organisms_selection", :locals=>{:f=>f} -%>

<% end %>

<% if @project.can_manage? %>
    <%= render :partial => 'assets/license_selector', :locals => { :resource => @project, :label=>"Default License",:accessor=>:default_license } %>
<% end %>

<%= f.submit(project ? "Update" : "Create",:disable_with=>(project ? "Updating..." : "Creating..."), :class => 'btn btn-primary') -%>
 or <%= cancel_button(project ? project_path(project.id) : projects_path) -%>
