<h2>JERM details</h2>
<%
@project.decrypt_credentials
%>

<p>
  <%= f.label :location -%><br/>
  <%= f.text_field :site_root_uri -%>
</p>

<p>
  <%= f.label :username -%><br/>
  <%= f.text_field :site_username -%>
</p>

<p>
  <%= f.label :password -%><br/>
  <%= f.password_field :site_password -%>
</p>