<% project = resource_list_item %>
<% drag_id = model_to_drag_id(project) %>

<% truncate_projects_institutions_length = 25 -%>

<div class="list_items_container">
  <table class="list_item">
    <tr>
      <td class="item_avatar" style="width: 100px">
        <% image_tag = avatar(project, 60, true) -%>
        <%= link_to_draggable(image_tag, url_for(project), :id => drag_id, :class => "asset", :title => tooltip_title_attrib(h(project.name))) -%>
      </td>

      <td class="item_details">
        <p class="name">
          <% project_name = h(project.name) -%>
          <%= project_name.blank? ? "<span class='none_text'>Unknown</span>" : link_to(project_name, project_path(project)) -%>
        </p>

        <div class="box_standout">
          <%= truncate(text_or_not_specified(project.description, :description => true), :length=>300) %>
        </div>

        <% web_page_link = ((is_nil_or_empty? project.web_page) ? "<span class='none_text'>Not specified</span>" : (link_to h(project.web_page), h(project.web_page),:popup=>true)) -%>
        <p class="web_page">
          <label>Public Web page:</label>
          <%= "&nbsp;" + web_page_link -%>
        </p>

        <% wiki_page_link = ((is_nil_or_empty? project.wiki_page) ? "<span class='none_text'>Not specified</span>" : (link_to h(project.wiki_page), h(project.wiki_page),:popup=>true)) -%>
        <p class="wiki_page">
          <label>Internal Web page:</label>
          <%= "&nbsp;" + wiki_page_link -%>
        </p>        
        <p class="organisms">
          <label>Organisms:</label>
          <%= organisms_link_list project.organisms -%>
        </p>
      </td>
      
    </tr>
  </table>
</div>