<%= javascript_include_tag 'projects' %>

<%= render :partial => "general/page_title",:locals=>{:title=>"Administering the #{t('project').downcase} members of #{link_to(h(@project.title),@project)}".html_safe} %>

<div class="row">
  <div class="col-md-6 col-md-push-6">
    <%= panel('Add members', :id => "add_member") do %>
        <p>
          Select the institution, and type the names of the people from that institution that need adding for this <%= t('project').downcase %></strong>
        </p>
        <p>
          <%= select_tag :institution_ids, options_from_collection_for_select(Institution.order(:title), "id", "title") %>
        </p>
        <p>
          <%= objects_input('people_ids', [], :typeahead => {:values => Person.all.map {|p| {:id => p.id, :name => p.name, :hint => p.email}}}) -%>
          <%= button_link_to('Add', 'new', 'javascript:add_selected_people()') -%>
        </p>
    <% end %>
  </div>
  <div class="col-md-6 col-md-pull-6">
    <%= panel("#{t('project')} members", :id => "admin_members") do %>
      <div id="project_institutions">
        <% @project.work_groups.sort { |a, b| a.institution.title <=> b.institution.title }.each do |work_group| %>
            <%
               institution_label_id = "institution_label_#{work_group.institution.id}"
               ul_id = "institution_block_#{work_group.institution.id}"
            %>
            <ul class="institution_members" id="<%= ul_id %>">
              <span class="institution_label" id="<%= institution_label_id %>"><%= work_group.institution.title %></span>

              <% work_group.group_memberships.select { |gm| !gm.person.nil? }.each do |gm| %>
                  <li class="institution_member" id="membership_<%= gm.person_id %>_<%= gm.work_group.institution_id %>">
                    <%= gm.person.name %>&nbsp;
                    <% unless gm.person.me? %>
                        <%= link_to_function content_tag(:span, "", :class => "remove_member_icon").html_safe, "mark_group_membership_for_removal(#{gm.person.id},#{gm.work_group.institution_id},#{gm.id})" %>
                    <% end %>
                  </li>

              <% end %>
            </ul>
        <% end %>
      </div>
    <% end %>

      <%= form_tag(update_members_project_path(@project)) do %>
          <div style="display:none">
            <div>Techy stuff should be hidden</div>
            Groups to remove:<%= select_tag :group_memberships_to_remove, [], :multiple => true -%>
            <br/>
            People and institution to add:<%= select_tag :people_and_institutions_to_add, [], :multiple => true %>
          </div>
          <%= submit_tag "Confirm changes", :class => 'btn btn-primary' %>
      <% end -%>
    <% end %>
  </div>

</div>




