<%= render :partial => "general/page_title",:locals=>{:title=>"Administering the #{t('project').downcase} roles for #{link_to(h(@project.title),@project)}".html_safe} %>

<% if @project.people.empty? %>
  <p class='alert alert-info'>
    This <%= t('project') %> currently has no members to assign to role.<br/>
    To add people to the <%= t('project') %> please first <%= link_to "Administer #{t('project')} members",admin_members_project_path(@project) %>.
  </p>
<% else %>
    <div class="row">
      <div class="col-md-8">
        <p class='alert alert-info'>
          These are specialist roles for members of the <%= t('project') %> that gives them special abilities and permissions. For more information about these roles, please read
          the <%= help_link :roles,link_text:'Roles help document' %>
          <br/>
          Start to type the name of the person you wish to assign to a role. They need to already be a member of the <%= t('project') %>.
        </p>
        <%= form_tag(update_members_project_path(@project)) do %>
            <%= panel('Administrative Roles') do %>
                <%= label_tag("#{t('project_administrator').pluralize}") %>
                <%= project_administrators_input_box(@project) %>

                <%= label_tag("#{t('asset_gatekeeper').pluralize}") %>
                <%= project_asset_gatekeepers_input_box(@project) %>

                <%= label_tag("#{t('asset_housekeeper').pluralize}") %>
                <%= project_asset_housekeepers_input_box(@project) %>

                <% if admin_logged_in? %>
                    <label><%= "#{t('pal').pluralize}" %></label>
                    <%= project_pals_input_box(@project) %>
                <% end %>
            <% end %>
            <%= submit_tag "Confirm changes", :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
<% end %>

