<%= javascript_include_tag 'sharing'%>
<h1>Administer <%= t('project') %>: <%= link_to h(@project.name), project_path(@project) -%></h1>

<div class="show_basic">
  <%= form_for(@project) do |f| -%>

    <%= javascript_include_tag "projects" %>
  
    <%= f.hidden_field :avatar_id -%>
  
    <%= f.error_messages %>

    <h2>Participating Institutions</h2>

      <%= f.label :institution_ids, "Please select the institutions that participate in this #{t('project')}:", :style => "line-height: 2; margin-left: 1em;" -%><br/>
      <% institution_list = Institution.all %>

      <% chosen_institutions = @project.institutions %>
      <div style="margin-top: 1em; margin-bottom: 2em; margin-left: 2em; width: 90%; height: 500px; overflow: auto;">
          <% institution_list.each do |institution| %>
              <%= check_box_tag "institution_#{institution.id}", institution.id, chosen_institutions.include?(institution), :class => 'institution_checkbox' %>
              <%= institution.title %>
              <br/>
          <% end %>
      </div>
      <%= f.select :institution_ids, institution_list.collect(&:id), {}, :style => 'display:none;', :multiple => true -%>

    <% if admin_logged_in? && Seek::Config.jerm_enabled %>
        <br/>
        <div id="details_for_jerm" class="fold" >
          <div class="foldTitle">
            <%= help_icon("These are details you will need if you have created and wish to use a <b>JERM harvester</b> for this project, to register assets from a remote site.") -%>
            JERM details
          </div>
          <div class="foldContent" style="display:none;">
              <%= render :partial=>"jerm_details",:locals=>{:f=>f} %>
              <br/>
              <%= render :partial=>"assets/sharing_form"%>
          </div>
        </div>
    <%end%>

    <p>
      <%= f.submit("Update", :disable_with=>"Updating...", :onclick => "updateInstitutionIds();") -%>
      or <%= link_to 'Cancel', project_path(@project.id) -%>
    </p>

  <% end -%>
</div>