<%= javascript_include_tag 'sharing.js'%>
<h1>Administer <%= t('project') %>: <%= link_to h(@project.name), project_path(@project) -%></h1>

<div class="show_basic">
  <%= form_for(@project) do |f| -%>

    <%= javascript_include_tag "projects.js" %>
  
    <%= f.hidden_field :avatar_id -%>
  
    <%= f.error_messages %>

    <h2 style="margin-top: 2em;">Participating Institutions</h2>

      <%= f.label :institution_ids, "Please select the institutions that participate in this #{t('project')}:", :style => "line-height: 2; margin-left: 1em;" -%><br/>
      <%
         institution_list = []
         if admin_logged_in?
           institution_list |= Institution.all
         elsif project_manager_logged_in?
           institution_list |= (Institution.all.select{|i| i.projects.empty?} + @project.institutions).uniq
         end
      %>

      <% chosen_institutions = @project.institutions %>
      <div style="margin-top: 1em; margin-bottom: 2em; margin-left: 2em; width: 90%; height: 500px; overflow: auto;">
          <% institution_list.each do |institution| %>
              <%= check_box_tag "institution_#{institution.id}", institution.id, chosen_institutions.include?(institution), :class => 'institution_checkbox' %>
              <%= institution.title %>
              <br/>
          <% end %>
      </div>
      <%= f.select :institution_ids, institution_list.collect(&:id), {}, :style => 'display:none;', :multiple => true -%>

    <% if admin_logged_in?%>
        <%= render :partial=>"jerm_details",:locals=>{:f=>f} %>
        <br/>
        <%= render :partial=>"assets/sharing_form"%>
    <%end%>

    <p style="margin-top: 2em; text-align: center;">
      <%= f.submit("Update", :disable_with=>"Updating...", :onclick => "updateInstitutionIds();") -%>
      or <%= link_to 'Cancel', project_path(@project.id) -%>
    </p>

  <% end -%>
</div>