
<%= render :partial => "general/page_title",:locals=>{:title=>"Administer #{t('project').downcase} #{link_to(h(@project.title), @project)}".html_safe} %>

<div class="show_basic">
  <%= form_for(@project) do |f| -%>

    <%= javascript_include_tag "projects" %>
  
    <%= f.hidden_field :avatar_id -%>
  
    <%= f.error_messages %>

    <h2>Administer indivudial members</h2>

    To add and remove members to this <%= t('project').downcase %> please go to the <%= link_to "Administer #{t('project')} Members",admin_members_project_path(@project) %> page.

    <h2>Participating Institutions</h2>

      <%= f.label :institution_ids, "Please select the institutions that participate in this #{t('project')}:", :style => "line-height: 2; margin-left: 1em;" -%><br/>
      <% institution_list = Institution.order(:title) %>

      <% chosen_institutions = @project.institutions %>
      <div id="project_institutions">
          <% institution_list.each do |institution| %>
              <%= check_box_tag "institution_#{institution.id}", institution.id, chosen_institutions.include?(institution), :class => 'institution_checkbox' %>
              <%= institution.title %>
              <br/>
          <% end %>
      </div>
      <%= f.select :institution_ids, institution_list.collect(&:id), {}, :style => 'display:none;', :multiple => true -%>

    <% if admin_logged_in? && Seek::Config.jerm_enabled %>
        <br/>
          <%= folding_panel("JERM details", true, :id => 'details_for_jerm',
                            :help_text => "These are details you will need if you have created and wish to use a <b>JERM harvester</b> for this project, to register assets from a remote site.") do %>
              <%= render :partial=>"jerm_details",:locals=>{:f=>f} %>
              <br/>
              <%= render partial: 'sharing/form', locals: { policy: (@project.default_policy || Policy.default) } %>
          <% end %>
    <% end %>

    <p>
      <%= f.submit("Update", data: { disable_with: 'Updating...' }, :onclick => "updateInstitutionIds();") -%>
      or <%= cancel_button(project_path(@project.id)) %>
    </p>

  <% end -%>
</div>
