<%= javascript_include_tag 'sharing.js'%>
<h1>Administer <%= t('project') %>: <%= link_to h(@project.name), project_path(@project) -%></h1>

<div class="show_basic">
  <%= form_for(@project) do |f| -%>

    <%= javascript_include_tag "projects.js" %>
  
    <%= f.hidden_field :avatar_id -%>
  
    <%= f.error_messages %>

    <h2 style="margin-top: 2em;">Participating Institutions</h2>

    <div style="width: 95%; text-align: left;">
      <%= help_icon("To select multiple institutions press & hold CTRL<br/>while making youpotr selection from the list below.") -%>
      <%= f.label :institution_ids, "Please select the institutions that participate in this #{t('project')}", :style => "line-height: 2;" -%><br/>
      <%
         institution_list = []
         if admin_logged_in?
           institution_list |= Institution.all
         elsif project_manager_logged_in?
           institution_list |= (Institution.all.select{|i| i.projects.empty?} + @project.institutions).uniq
         end
      %>
      <%= f.collection_select :institution_ids, institution_list, :id, :name, {}, {:style => "width: 85%; height: 200px;", :multiple=>true} -%>
    </div>

    <% if admin_logged_in?%>
        <%= render :partial=>"jerm_details",:locals=>{:f=>f} %>
        <br/>
        <%= render :partial=>"assets/sharing_form"%>
    <%end%>

    <p style="margin-top: 2em; text-align: center;">
      <%= f.submit("Update", :disable_with=>"Updating...") -%>
      or <%= link_to 'Cancel', project_path(@project.id) -%>
    </p>

  <% end -%>
</div>