<%= javascript_include_tag 'projects' %>

<%= render :partial => "general/page_title",:locals=>{:title=>"Administering the #{t('project').downcase} members of #{link_to(h(@project.title),@project)}".html_safe} %>

<div class="row">
  <div class="col-md-5 col-md-push-7">
    <%= panel('Add members', :id => "add_member") do %>
        <div class="form-group">
          <label>1. Type the names of the people you wish to add to the <%= t('project').downcase %></label>
          <%= objects_input('people_ids', [], :typeahead => {:values => Person.all.map {|p| {:id => p.id, :name => p.name, :hint => p.email}}}) -%>
        </div>
        <div class="form-group">
          <label>2. Select the institution through which these people are involved with the <%= t('project').downcase %></label>
          <%= select_tag :institution_ids, options_from_collection_for_select(Institution.order(:title), "id", "title"), :class => 'form-control' %>
        </div>
        <%= button_link_to('Add', 'new', 'javascript:projectActions.add()') -%>
    <% end %>
  </div>

  <div class="col-md-7 col-md-pull-5" id="project-admin-page">
    <%= panel("#{t('project')} members", :id => "admin_members") do %>
      <div id="project_institutions"></div>
    <% end %>

    <%= form_tag(update_members_project_path(@project)) do %>
        <%= panel("Pending changes") do %>
            <ul id="change-list"></ul>
            <div id="empty-change-list" class="subtle">No changes</div>
        <% end %>
        <%= submit_tag "Confirm changes", :class => 'btn btn-primary' %>
    <% end -%>
  </div>
</div>

<script>
  <%# TODO: Do this in a better way: %>
    memberships = <%=
    @project.work_groups.map do |wg|
        wg.group_memberships.map do |gm|
            {
                id: gm.id,
                person: { id: gm.person_id, name: gm.person.name },
                institution: { id: gm.work_group.institution.id, title: gm.work_group.institution.title }
            }
        end
    end.flatten.to_json.html_safe %>;
  $j(document).ready(function () {
      renderMemberships();
  });
</script>
