<div id ="show_basic" class="yui-b">

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :web_page %><br />
    <%= f.text_field :web_page %>
  </p>
  <p>
    <%= f.label :wiki_page %><br />
    <%= f.text_field :wiki_page %>
  </p>
<p>
        <%= f.label :institutions %><br/>
        <%= f.collection_select :institution_ids, Institution.find(:all), :id, :name, {}, {:multiple=>true} %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>
<!--
<%= link_to 'Show', @project %> 
-->
</div>
