<%= render :partial => "general/page_title",:locals=>{:title=>"Import ISA from FAIRData Station for #{ t('Project') } #{link_to(@project.title, @project)}".html_safe} %>

<%= form_tag submit_fairdata_station_project_path(@project), multipart: true do %>
<div class="form-group">
  <label>FAIR Data Station TTL metadata file</label>
  <%= file_field_tag "datastation_data" -%>
</div>

  <%= render partial: 'sharing/permissions_table', locals: { object: @project, policy: (@project.default_policy || Policy.default), projects: [@project], downloadable:true } %>

<div>
  <%= submit_tag("Submit", class:'btn btn-primary') %>
</div>
<% end %>