<%= render partial: "general/page_title",locals: {title: "Import ISA from FAIR Data Station for #{ t('Project') } #{link_to(@project.title, @project)}".html_safe} %>

<% if @existing_investigation %>
  <%= panel("#{image("warning")} Existing #{t('investigation')}", id: 'existing-investigation') do %>

    <p>
      A matching <%= t('investigation') %> already
      exists: <%= link_to(@existing_investigation.title, @existing_investigation) %>
    </p>
    <p>
      You can update this <%= t('investigation') %> by going
      to <%= link_to('Update from FAIR Data Station', update_from_fairdata_station_investigation_path(@existing_investigation)) %>
    </p>

  <% end %>

  <p>
    Otherwise you can try importing a different file ...
  </p>

<% end %>

<%= render partial: 'fair_data_station_import_statuses', locals: {project: @project, contributor: current_person} %>

<%= panel('New import') do %>

  <%= form_tag submit_fairdata_station_project_path(@project), multipart: true do %>

    <%= panel(t('fair_data_station.upload_file_label')) do %>

      <%= file_field_tag "datastation_data", accept: '.ttl' -%>

    <% end %>

    <%= panel('Sharing permissions') do %>
      <div class="alert alert-info">
        <p>
          The following sharing permissions will be applied to all the items created. It is possible to change them individually after they have been created.
        </p>
        <p>
          Note that <strong>Download</strong> is shown but only applicable to some types. Where not applicable, then <strong>View</strong> will be applied.
        </p>
      </div>

      <%= render partial: 'sharing/permissions_table', locals: { object: @project, policy: (@project.default_policy || Policy.default), projects: [@project], downloadable: true } %>

    <% end %>
    <div>
      <%= submit_tag("Submit", class: 'btn btn-primary') %>
      or <%= cancel_button(project_path(@project)) %>
    </div>
  <% end %>

<% end %>
