<%= index_title -%>
<% if @organisms -%>
  <h2><%= "#{t('project').pluralize} involved with the organism '"+h(@organisms)+"' ... " -%></h2>
<% end %>

<% if index_with_facets?(controller_name)  %>
    <%= render :partial => "assets/filter_button", :locals => {:index_path => projects_path} %>

    <% if params[:user_enable_facet] == 'true' %>
        <%= render :partial => "faceted_browsing/faceted_browsing", :object => @projects %>
    <% else %>
        <%= render :partial => "assets/resources_alphabetical_paginated", :object => @projects %>
    <% end %>
<% else %>
    <%= render :partial => "assets/resources_alphabetical_paginated", :object => @projects %>
<% end %>