<h1>New project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :web_page %><br />
    <%= f.text_field :web_page %>
  </p>
  <p>
    <%= f.label :wiki_page %><br />
    <%= f.text_field :wiki_page %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
