<h1><%= @requests.count %> pending <%= t('project') %> join <%= "request".pluralize(@requests.count) %></h1>

<table id='project-join-requests' class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th>Requester</th>
      <th><%= t('project') %></th>
      <th>Date requested</th>
      <th>Comments</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @requests.each do |request| %>
    <tr>
      <td><%= link_to(request.sender.title, request.sender) %></td>
      <td><%= link_to(request.subject.title,request.subject) %></td>
      <td><%= date_as_string(request.created_at, true)  %></td>
      <td><%= JSON.parse(request.details)['comments'] %></td>
      <td class="text-center">
        <%= link_to('Respond', administer_join_request_project_path(request.subject,message_log_id: request.id),class:'btn btn-primary') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>