<% drag_id = model_to_drag_id(@project) %>

<% truncate_length_for_boxes = 22 -%>

<% if mine?(@project) || @project.can_be_edited_by?(current_user) -%>
  <ul class="sectionIcons">
    <li><%= icon('edit', edit_project_path(@project), "Edit Project Details", nil, 'Edit Project Details')%></li>
		<% if current_user.is_admin? -%>
		  <li><%= icon "destroy", project_path(@project), "Delete Project", { :confirm => 'Are you sure?', :method => :delete }, "Delete Project" -%>
		<% end -%>
  </ul>
<% end -%>

<h1><%= h @project.name -%></h1>

<div class="show_basic">
	
  <div class="main_content_left_box">
  	<div class="box_about_actor">
  		<div class="web_page">
        <p>
          <label>Web page:</label>
          <%= text_or_not_specified(@project.web_page,:external_link=>true) %>
        </p>
      </div>
      
      <div class="wiki_page">
        <p>
          <label>Wiki page:</label>
          <%= text_or_not_specified(@project.wiki_page,:external_link=>true) %>
        </p>
      </div>
      
      <p style="margin-top: 1em;">
      	<b>About the project:</b>
	      <div id="description" class="box_standout">
	        <%= text_or_not_specified(@project.description, :description=>true) %>
	      </div>
      </p>
			<p>
        <%= render :partial=>"organisms_tags", :object=>@project.organisms %>
		  </p>
  	</div>
		
		
		<h2 style="margin-top: 3em;">Project Assets</h2>
		<% project_asset_hash = @project.classified_assets -%>
		<% unless project_asset_hash.empty? -%>
  		<div class="tabber">
				<% project_asset_hash.each_key do |resource_type| -%>
					<% visible_resource_type = resource_type.titleize.pluralize -%>
					<% unless (resources = project_asset_hash[resource_type]).nil? || resources.empty? -%>
						<div id="<%= resource_type.downcase.pluralize -%>" class="tabbertab">
					    <h3><%= "#{visible_resource_type} (#{resources.length})" -%></h3>
							<%= render :partial => "assets/resource_list", :locals => { :collection => resources, :narrow_view => true } -%>
					  </div>
					<% end -%>
				<% end -%>
		  </div>
		<% else -%>
		  <span class="none_text">There are no assets that are associated with this Project.</span>
		<% end -%>
	</div>
	
	<div class="main_content_right_box">
    <%= render :partial => "layouts/contribution_section_box_avatar", :locals => { :object => @project, :drag_id => drag_id } -%>
		
		<div class="contribution_section_box">
			<p class="heading">
				<%= help_icon("Institutions which are involved in this project.") -%>
				Institutions (<%= @project.institutions.length -%>)
			</p>
			<%= render :partial => "layouts/contribution_section_box_item_list", 
                 :locals => { :collection => @project.institutions,
                              :collection_name => "institutions_involved",
                              :icon_type => "flag",
                              :truncate_to => truncate_length_for_boxes } -%>
		</div>
		
		<div class="contribution_section_box">
			<p class="heading">
				<%= help_icon("People working within this project.") -%>
				People (<%= @project.people.length -%>)
			</p>
			<%= render :partial => "layouts/contribution_section_box_item_list", 
                 :locals => { :collection => @project.people,
                              :collection_name => "people_working_within",
                              :icon_type => "Person",
                              :truncate_to => truncate_length_for_boxes } -%>
		</div>
		
	</div>
</div>
