<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Web page:</b>
  <%=h @project.web_page %>
</p>

<p>
  <b>Wiki page:</b>
  <%=h @project.wiki_page %>
</p>
<p>
<b>Groups:</b>
<% @project.groups.each do |grp| %>
  <%=link_to h(grp.group_name), grp %>
    <% end %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
