<ul class="nav nav-tabs">
  <li class="active ">
    <a data-toggle="tab" href="#details"><i class="glyphicon glyphicon-list-alt"></i> Details</a>
  </li>
  <li>
      <a data-toggle="tab" href="#related-items">
          <i class="glyphicon glyphicon-th-list"></i> Related items
      </a>
  </li>
</ul>
<div class="tab-content">

    <div id="details" class="tab-pane fade in active">
        <%= render :partial => "general/item_title",:locals => {:item=>@project, :buttons_partial => 'projects/buttons'} %>

        <div class="row">
          <div class="col-md-9 col-sm-8 box_about_actor">
            <%= item_description @project.description -%>

            <div class="row">
              <div class="col-md-6">
                <% if Seek::Config.programmes_enabled %>
                    <p>
                      <strong><%= t('programme') -%>:</strong>
                      <%= programme_link(@project) -%>
                    </p>
                <% end %>

                <%= persistent_resource_id(@project) %>

                <%= show_funding_codes(@project) %>

                <p>
                  <strong>Public web page:</strong>
                  <%= text_or_not_specified(@project.web_page,:external_link=>true) %>
                </p>

                <% unless hide_contact_details?(@project) %>
                    <p>
                      <strong>Internal web page:</strong>
                      <%= text_or_not_specified(@project.wiki_page,:external_link=>true) %>
                    </p>
                <% end %>

                <% if Seek::Config.organisms_enabled %>
                    <p>
                      <strong>Organisms:</strong>
                      <%= organisms_link_list @project.organisms -%>
                    </p>
                <% end %>
                <% if Seek::Config.human_diseases_enabled %>
                    <p>
                      <strong>Human Diseases:</strong>
                      <%= human_diseases_link_list @project.human_diseases -%>
                    </p>
                <% end %>

              </div>

              <div class="col-md-6">
                <p class="pals">
                  <strong><%= Seek::Config.instance_admins_name %> <%= t('pal').pluralize %>:</strong>
                  <%= pals_link_list @project -%>
                </p>

                <% if @project.respond_to?(:project_coordinators) %>
                    <p class="project_coordinators">
                      <strong>Project Coordinators:</strong>
                      <%= project_coordinators_link_list @project %>
                    </p>
                <% end%>

                <% if logged_in_and_registered? %>
                    <p class="project_administrators">
                      <strong><%= t('project_administrator').pluralize %>:</strong>
                      <%= project_administrator_link_list @project %>
                    </p>
                <% end %>


                <% if admin_logged_in? || @project.has_member?(current_user) %>
                    <p class="asset_housekeepers">
                      <strong><%= t('asset_housekeeper').pluralize %>:</strong>
                      <%= asset_housekeepers_link_list @project %>
                    </p>

                    <p class="asset_gatekeepers">
                      <strong><%= t('asset_gatekeeper').pluralize %>:</strong>
                      <%= gatekeepers_link_list @project %>
                    </p>
                <% end %>
                <p>
                  <% if @project.start_date %>
                    <strong><%= t('project') -%> start date:</strong>
                    <%= date_as_string(@project.start_date, false) -%>
                  <% else %>
                    <strong><%= t('project') -%> created:</strong>
                    <%= date_as_string(@project.created_at, false) %>
                  <% end %>
                </p>
                <% if @project.end_date %>
                  <p>
                    <strong><%= t('project') -%> end date:</strong>
                    <%= date_as_string(@project.end_date, false) -%>
                  </p>
                <% end %>
              </div>
            </div>

          </div>

          <div class="col-md-3 col-sm-4">
            <%= render :partial => "layouts/contribution_section_box_avatar", :locals => { :object => @project } -%>

            <% if @project.is_discussable? -%>
              <% if @project.discussion_links.select{|link| link.url.present?}.any?  %>
                <%= render partial: 'assets/discussion_links_box', locals: {resource: @project } -%>
              <% end -%>
            <% end -%>

            

            <% if @project.can_manage? %>
              <%= render :partial => 'general/storage_usage_box', locals: { programme: @project,
                                                                            url: storage_report_project_path(@project)} %>
            <% end %>

          </div>
        </div>

        <% if Seek::Config.project_hierarchy_enabled && logged_in_and_member? -%>
            <div style="clear:both;">
              <b>
                <%= t('project') -%> Hierarchies
                (<%= link_to "hide", '#', id: 'project-hierarchy-toggle' -%>):
              </b><br/><br/>

              <div id="project_hierarchy">
                <ul><%= Rails.cache.fetch([:project_tree_editor, @project.cache_key]) { tree_editor_display Project, false, false, @project.id, "Person", true, true } %></ul>
              </div>
            </div>
            <br/>
            <div style="clear:both;">
              <b>
                <%= t('project') %> Members
                (<%= link_to "show", '#', id: 'project-hierarchy-members-toggle' %>):
              </b><br/><br/>
              <div id="project_mailing_list" style="display: none;">
                <%= project_mailing_list @project %>
              </div>
            </div>
        <% end %>
    </div>

    <div id="related-items" class="tab-pane fade">
      <%# get, classify and authorize all assets for this project -%>
      <%= render :partial=>"general/items_related_to",:object => @project %>  
    </div>

</div>

<script>
  $j('#project-hierarchy-toggle').click(function () {
      var el = $j('#project_hierarchy');

      if (el[0].style.display === 'none') {
          el.fadeIn();
          $j(this).text('hide');
      } else {
          el.fadeOut();
          $j(this).text('show');
      }

      return false;
  });

  $j('#project-hierarchy-members-toggle').click(function () {
      var el = $j('#project_mailing_list');

      if (el[0].style.display === 'none') {
          el.fadeIn();
          $j(this).text('hide');
      } else {
          el.fadeOut();
          $j(this).text('show');
      }

      return false;
  });
</script>
