<% drag_id = model_to_drag_id(@project) %>

<% truncate_length_for_boxes = 22 -%>

<%= render :partial => "general/item_title",:locals=>{:item=>@project} %>

<ul class="sectionIcons">
  <% if Seek::Config.project_browser_enabled && logged_in_and_registered? && current_user.person.member_of?(@project) -%>
    <li><%= image_tag_for_key('organise', project_folders_path(@project.id), "Organise", nil, "Organise") -%></li>
  <% end -%>
<% if mine?(@project) || @project.can_be_edited_by?(current_user) -%>

    <li><%= image_tag_for_key('edit', edit_project_path(@project), "Edit #{t('project')} Details", nil, "Edit #{t('project')} Details") -%></li>

    <% if @project.try(:can_be_administered_by?, current_user) -%>
      <li><%= image_tag_for_key "group_edit", admin_members_project_path(@project), "Administer", nil, "Administer #{t('project')} members" -%></li>
     <% end -%>
    <% if admin_logged_in? -%>
          <%= delete_icon(@project,current_user) %>
    <% end -%>

<% end -%>
  <% if @project.try(:has_member?,current_user) || admin_logged_in? -%>
      <% tooltip_text="This will present you with a short report about the items that have been shared outside of your #{t('project')}" %>
      <li><%= image_tag_for_key "report", asset_report_project_path(@project), "Asset report", {:title=>tooltip_title_attrib(tooltip_text)}, "Asset report" -%></li>
  <% end -%>
</ul>

<div class="show_basic">

  <div class="main_content_left_box">

    <div class="box_about_actor">
      <%=  item_description @project.description -%>
      <p>
        <label><%= t('programme') -%>:</label>
        <%= programme_link(@project) -%>
      </p>
        <p>
          <label>Public web page:</label>
          <%= text_or_not_specified(@project.web_page,:external_link=>true) %>
        </p>

        <% unless hide_contact_details? %>
          <p>
            <label>Internal web page:</label>
            <%= text_or_not_specified(@project.wiki_page,:external_link=>true) %>
          </p>
        <% end %>
        <% if Seek::Config.organisms_enabled %>
            <p>
                <label>Organisms:</label>
                <%= organisms_link_list @project.organisms -%>
            </p>
        <% end %>

        <p class="pals">
          <label><%= Seek::Config.dm_project_name %> PALs:</label>
          <%= pals_link_list @project -%>
        </p>
        <% if @project.respond_to?(:project_coordinators)%>
        <p class="project_coordinators">
          <label>Project Coordinators:</label>
          <%= project_coordinators_link_list @project -%>
        </p>
        <% end%>
 <% if @project.has_member?(current_user)%>
        <p class="asset_managers">
          <label>Asset Managers:</label>
          <%= asset_managers_link_list @project -%>
        </p>

        <p class="project_managers">
          <label><%= t('project') %> Managers:</label>
          <%= project_managers_link_list @project -%>
        </p>

        <p class="gatekeepers">
          <label>Gatekeepers:</label>
          <%= gatekeepers_link_list @project -%>
        </p>
        <% end %>


    </div>
  </div>
  <div class="main_content_right_box">
    <%= render :partial => "layouts/contribution_section_box_avatar", :locals => { :object => @project, :drag_id => drag_id } -%>
  </div>

  <% if Seek::Config.project_hierarchy_enabled && logged_in_and_member? -%>
  <br/>
  <div style="clear:both;">
    <b>Project Hierarchies
      (<%= link_to_function "hide", visual_effect(:toggle_appear, "project_hierarchy")+"$('project_hierarchy').style.display=='none'? this.innerHTML='hide' : this.innerHTML='show';" %>
      ):</b><br/><br/>

    <div id="project_hierarchy" style="display: block;">
      <ul><%= Rails.cache.fetch([:project_tree_editor, @project.cache_key]) { tree_editor_display Project, false, false, @project.id, "Person", true, true } %></ul>
    </div>
  </div>
  <br/>
   <div style="clear:both;">
          <b><%= t('project') %> Members(<%= link_to_function "show", visual_effect(:toggle_appear, "project_mailing_list")+"$('project_mailing_list').style.display=='none'? this.innerHTML='hide' : this.innerHTML='show';" %>):</b><br/><br/>
          <div id="project_mailing_list" style="display: none;">
            <%= project_mailing_list @project %>
          </div>
       </div>
  <% end %>

  <div style="clear:both;">
    <%# get, classify and authorize all assets for this project -%>
    <%= render :partial=>"general/items_related_to",:object => @project %>
    
  </div>
  
</div>
