<% drag_id = model_to_drag_id(@project) %>
<div class="show_basic">
  <div class="yui-gf">
    <div class="yui-u first">
      <div id="avatar_pane">
        <div id="<%= drag_id %>" class="asset"> 
          <%= image_tag "project_64x64.png",:size=>"50x60", :alt=>@project.name %>         
        </div>
      </div>
      <%= favourite_drag_element(drag_id) %>
    </div>
    <div class="yui-u">
      <div id="name">
        <p><%= h @project.name %></p>
      </div>
      
      
      <div id="web_page">
        <p>
          <label>Web page:</label>
          <%= text_or_not_specified(@project.web_page,:external_link=>true) %>
        </p>
      </div>
      
      
      
      <div id="wiki_page">
        <p>
          <label>Wiki page:</label>
          <%= text_or_not_specified(@project.wiki_page,:external_link=>true) %>
        </p>
      </div>
      
      
      
      <div id="project_institutions">
        <p>
          <ul>
            <label>Institutions within this project: </label>
            <% for institution in @project.institutions %>
              <li>
                <%= link_to h(institution.name),url_for(institution) %>&nbsp;<%= flag_icon(institution.country) %>
              </li>
            <% end  %>
            <%= empty_list_li_text(@project.institutions) %>
          </ul>
        </p>
      </div>
      
      
      
      
      
      <div id="project_people">
        <p>
          <ul>
            <label>People working within this project: </label>
            <%= render :partial=>"project_people_item", :collection=>@project.people %>
            <%= empty_list_li_text(@project.people) %>
          </ul>
        </p>
      </div>
      
      
    </div>
  </div>
</div>
