<%= f.error_messages %>
<%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
<%= stylesheet_link_tag 'calendar_date_select/default' %>
<%= javascript_include_tag "sharing.js" %>
<%= javascript_include_tag 'assays.js' %>

<h2>Experiment Details</h2>

<div style="text-align: center;">
  <div style="width: 95%;">
    <p>
      <%= f.label "Title:" -%><span class="required">*</span><br/>
      <%= f.text_field :title, :style => "width: 350px;" -%>
    </p>

    <p>
      <%= f.label "Sample specimen" %> <span class="required">*</span><br/>
      <%= collection_select(:experiment, :sample_id, Sample.all, :id, :title) %>
    </p>

    <p>
      <%= f.label :date -%><span class="required">*</span><br/>
      <%= f.calendar_date_select :date, :time => "mixed" -%>
    </p>

    <p>
      <%= f.label :description -%><br/>
      <%= f.text_area :comments, :style => "width: 85%;", :rows => 5 -%>
    </p>


    <p>
      <%= f.label :project %><span class="required">*</span><br/>
      <%
         selected_project=@experiment.project.try(:id)
      %>
      <%=
          select_tag :project_id,
                     options_for_select([["Select project ..", 0]]|current_user.person.projects.collect { |p| [h(p.name), p.id] }, selected_project),
                     {:onchange=>remote_function(
                             :url=>{:action=>"project_selected_ajax"},
                             :with=>"'project_id='+this.value",
                             :before=>"show_ajax_loader('institution_collection')"
                     ), :style=>"width:82%"

                     }
      %>
    </p>

    <p>
      <%= f.label :institution %><br/>

    <div id="institution_collection">
      <% ins = @experiment.project ? @experiment.project.institutions : [] -%>
      <%= render :partial=>"experiments/institutions_list", :locals=>{:ins => ins} -%>
    </div>
    </p>


    <%= render :partial=>"assets/asset_form_bottom", :locals=> {
            :resource_type => "Experiment",
            :attribution_enable => false,
            :existing_creators=>@experiment.creators,
            :other_creators=>@experiment.other_creators,
            :related_publications => @experiment.related_publications
    } %>

    <%= render :partial => "assets/associate_data_file", :locals=>{:f=>f, :resource => @experiment, :show_relationships=>false} -%>


  </div>
</div>



<p style="margin-top: 2em; text-align: center;">
  <%= f.submit(action==:edit ? "Update" : "Create", :disable_with=>(action==:edit ? "Updating..." : "Creating...")) -%>
  or <%= link_to 'Cancel', (@experiment.id ? experiment_path(@experiment.id) : experiments_path) -%>
</p>