<%= javascript_include_tag "experiments.js" %>

<script type="text/javascript">
  function show_ajax_loader(element) {
    $(element).innerHTML=<%= "'"+image_tag("ajax-loader.gif")+"'" -%> ;
  }

</script>
<%= error_messages_for :experiment %>


<center>
  <div style="width: 60%;">

    <p style="margin-top: 1.5em;">
      <%= f.label "Title *" %><br/>
      <%= f.text_field :title,:style=>"width: 100%;" %>
    </p>

    <p style="margin-top: 0.5em;">
      <%= f.label :description %><br/>
      <%= f.text_area :description,:style => "width: 100%;", :rows => 5 %>
    </p>

    <p>
      <%= f.label "Experimentalist(s)" %>
      <%= f.text_field :experimentalist,:style=>"width: 100%;" %>
    </p>


  </div>
</center>

<br/>

<div class="fold">
  <div class="foldTitle">
    Project topic
  </div>
  <div class="foldContent">

    <p>
      <%= f.label :project %><br/>
      <%
      selected_project=@experiment.topic ? @experiment.topic.project.id : 0
    %>
      <%=
      select_tag :project_id,
        options_for_select([["Select project ..",0]]|current_user.person.projects.collect{|p| [h(p.name),p.id]},selected_project),
        {:onchange=>remote_function(
          :url=>{:action=>"project_selected_ajax"},
          :with=>"'project_id='+this.value",
          :before=>"show_ajax_loader('topic_collection')"
        ),:style=>"width:82%"

      }
    %>
    </p>

    <p>
      <%= f.label :topic %><br/>
      <span id="topic_collection">
        <% topics = @experiment.topic ? @experiment.topic.project.topics : [] %>

        <%= render :partial=>"experiments/topic_list",:locals=>{:topics=>topics} %>
      </span>
      <br/>
    </p>


  </div>
</div>
<%= render :partial=>"assays/assay_selection",:locals=>{:f=>f} %>
<%= render :partial=>"sop_selection",:locals=>{:f=>f} %>


<script type="text/javascript">

  var CREATE_TOPIC_LINK = "<%= create_topic_url %>";


</script>


<p style="margin-top: 2em; text-align: center;">
  <%= f.submit(action==:edit ? "Update" : "Create") -%>
  or <%= link_to 'Cancel', (@experiment.id ? experiment_path(@experiment.id) : experiments_path) -%>
</p>
