

<div id="redbox_contents_div" class="redbox_contents" style="width:400px;">
  <div class="head">
    <%= link_to_close_redbox image_tag("close.gif"), :style => "float:right; margin-left:0.5em; vertical-align:middle;" -%>
    <span style="vertical-align:middle;">
			New Topic
		</span>
  </div>
  <center>
    <div class="body">      

      Project: <%= @topic.project.name %><br/>
      <% remote_form_for @topic,:url=>create_topic_url do |f| %>
        

        <%= f.label :title %><br/>
        <%= f.text_field :title %><br/>
        
        <%= f.submit "Create" %>
        <input type="button" value="Cancel" style="width: 150px;" onclick="javascript: RedBox.close(); return(false);" />
      <% end -%>
    </div>
  </center>



</div>

