


<ul class="sectionIcons">
  <li><%= icon('edit', edit_experiment_path(@experiment), "Edit Experiment Details", nil, 'Edit Experiment Details')%></li>
  <% if current_user.is_admin? -%>
    <li><%= icon "destroy", experiment_path(@experiment), "Delete Experiment", { :confirm => 'Are you sure?', :method => :delete }, "Delete Experiment" -%>
  <% end -%>
</ul>

<h1><%= h @experiment.title -%></h1>

<div class="show_basic">

  <div class="main_content_left_box">
    <div class="box_about_actor">
      <div class="project">
        <p>
          <label>Belongs to the project:</label>
          <%= link_to h(@experiment.project.name),project_path(@experiment.project)  %>
        </p>
      </div>

      <div class="Topic">
        <p>
          <label>Topic:</label>
          <%= text_or_not_specified(@experiment.topic.title) %>
        </p>
      </div>

      <p style="margin-top: 1em;">
        <b>About the experiment:</b>
        <div id="description" class="box_standout">
          <%= text_or_not_specified(@experiment.description, :description=>true) %>
        </div>
      </p>

      <p>
        <%= render :partial=>"simple_assay_list",:locals=>{:assays=>@experiment.assays} %>
      </p>

    </div>

    <%= render :partial=>"experiment_tabs" %>
  </div>
</div>