<h3> <%= h(@experiment.title) %> </h3>

<br/>

<%= "Experiment Type=#{@experiment.experiment_type.title}" %>
<% for sop in @experiment.sops %>

<br/>
<%= "Sop title=#{sop.title}" %>

<% end %>

<% if @experiment.assay %>

<br/>
<%= "Assay title=#{@experiment.assay.title}" %>

<% end %>

<br/>
<%= link_to "Edit",edit_experiment_path(@experiment) %>