<%
  resource_name = resource.class.name.underscore
  permissions, privileged_people = uniq_people_permissions_and_privileged_people(policy.permissions.to_a, privileged_people)
  downloadable = resource_name.camelize.constantize.new.try(:is_downloadable?)
  effective_permissions = permissions.reject { |p| p.access_type <= policy.access_type }
  sorted_permissions = effective_permissions.sort_by { |p| Permission::PRECEDENCE.index(p.contributor_type) }
  grouped_contributors = group_by_access_type(sorted_permissions, privileged_people, downloadable)
%>

<div class="modal fade" id="preview_permissions" tabindex="-1" role="dialog" aria-labelledby="preview_permissions_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="preview_permissions_title">Preview of your sharing settings</h4>
      </div>
      <div class="modal-body">
        <h3>Public Visibility</h3>
        <% if policy.access_type == Policy::NO_ACCESS %>
            <p class='private'>This <%= t(resource_name) -%> is <strong>hidden</strong> from public view.</p>
        <% else %>
            <p class='public'>All visitors can <strong><%= Policy.get_access_type_wording(policy.access_type, downloadable).downcase -%></strong>.</p>
            <% unless updated_can_publish_immediately %>
                <div class='gatekeeper_notice alert alert-warning'>
                  <% if send_request_publish_approval %>
                      An email will be sent to the <%= t('asset_gatekeeper').downcase.pluralize %> of the <%= t('project').pluralize -%> associated with this <%= t(resource_name) -%> to ask for publishing approval. This <%= t(resource_name) -%> will not be published until one of the <%= t('asset_gatekeeper').downcase.pluralize %> has granted approval.
                  <% else %>
                      You requested the publishing approval from one of the <%= t('asset_gatekeeper').downcase.pluralize %> of the <%= t('project').pluralize -%> associated with this <%= t(resource_name) -%>, and it is waiting for the decision. This <%= t(resource_name) -%> will not be published until one of the <%= t('asset_gatekeeper').downcase.pluralize %> has granted approval.
                  <% end %>
                </div>
            <% end %>
        <% end %>

        <% unless grouped_contributors.empty? %>
            <h3>Additionally...</h3>
            <% [Policy::MANAGING, Policy::EDITING, downloadable ? Policy::ACCESSIBLE : nil, Policy::VISIBLE].compact.each do |access_type| %>
                <% if grouped_contributors[access_type].try(:any?) %>
                    <div class="access-type-<%= PolicyHelper::access_type_key(access_type)-%>">
                      <p>The following can <strong><%= Policy.get_access_type_wording(access_type, resource_name.camelize.constantize.new.try(:is_downloadable?)).downcase -%></strong></p>
                      <ul>
                        <% grouped_contributors[access_type].each do |contributor| %>
                            <li><%= permission_title(contributor, member_prefix: true, icon: true) %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
            <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" type=button value='OK' style="width: 5em" onclick="createOrUpdateResource('<%= resource_name -%>')">
        <input class="btn btn-default" type=button value='Cancel' data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
