<%
  resource_key = preview.resource.class.name.underscore
  resource_name = t(resource_key)
  policy = preview.policy
  grouped_permissions = preview.grouped_permissions
%>

<div class="modal fade" id="preview_permissions" tabindex="-1" role="dialog" aria-labelledby="preview_permissions_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="preview_permissions_title">Preview of your sharing settings</h4>
      </div>
      <div class="modal-body">
        <h3>Public Visibility</h3>
        <% if policy.access_type == Policy::NO_ACCESS %>
          <p class='private'>This <%= resource_name -%> is <strong>hidden</strong> from public view.</p>
        <% else %>
          <p class='public'>All visitors can <strong><%= Policy.get_access_type_wording(policy.access_type, preview.is_downloadable?).downcase -%></strong>.</p>
          <% if preview.show_gatekeeper_notice? %>
            <% if preview.is_rejected? %>
              <div class='gatekeeper_notice alert alert-warning'>
                You requested the publishing approval from one of the <%= t('asset_gatekeeper').downcase.pluralize %> of the <%= t('project').pluralize -%> associated with this <%= resource_name -%>, and <span style="font-weight: bold;">it was rejected</span>.<br>Make sure you have resolved the gatekeeper's comments before requesting publishing again.
              </div>
            <% end %>
            <div class='gatekeeper_notice alert alert-warning'>
              <% if !preview.is_waiting_approval?(User.current_user) %>
                An email will be sent to the <%= t('asset_gatekeeper').downcase.pluralize %> of the <%= t('project').pluralize -%> associated with this <%= resource_name -%> to ask for publishing approval. This <%= resource_name -%> will not be published until one of the <%= t('asset_gatekeeper').downcase.pluralize %> has granted approval.
              <% else %>
                You requested the publishing approval from one of the <%= t('asset_gatekeeper').downcase.pluralize %> of the <%= t('project').pluralize -%> associated with this <%= resource_name -%>, and it is waiting for the decision. This <%= resource_name -%> will not be published until one of the <%= t('asset_gatekeeper').downcase.pluralize %> has granted approval.
              <% end %>
            </div>
          <% end %>
        <% end %>

        <% unless grouped_permissions.empty? %>
            <h3>Additionally...</h3>
            <% [Policy::MANAGING, Policy::EDITING, preview.is_downloadable? ? Policy::ACCESSIBLE : nil, Policy::VISIBLE].compact.each do |access_type| %>
                <% if grouped_permissions[access_type].try(:any?) %>
                    <div class="access-type-<%= PolicyHelper::access_type_key(access_type)-%>">
                      <p>The following can <strong><%= Policy.get_access_type_wording(access_type, preview.is_downloadable?).downcase -%></strong></p>
                      <ul>
                        <% grouped_permissions[access_type].each do |contributor| %>
                            <li><%= permission_title(contributor, member_prefix: true, icon: true) %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
            <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" type=button value='OK' style="width: 5em" onclick="createOrUpdateResource('<%= resource_key -%>')">
        <input class="btn btn-default" type=button value='Cancel' data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
