<style>
  #preview_permissions p.private {
      color: red;
      font-weight: bold;
      margin-left: 1em;
  }
  #preview_permissions p.shared {
      font-weight: bold;
      margin-left: 1em;
  }
  #preview_permissions p.public{
      color: green;
      font-weight: bold;
      margin-left: 1em;
  }
  #preview_permissions p.gatekeeper_notice{
      color:red;
      margin-left: 1em;
  }
  #preview_permissions p.permission{
      margin-left: 1em;
  }
  #preview_permissions p.privileged_person{
      margin-left: 1em;
  }
</style>

<%
   is_new_file = params[:is_new_file]
   resource_name = params[:resource_name]
   permissions, privileged_people = uniq_people_permissions_and_privileged_people(policy.permissions.to_a, privileged_people)
%>

<div class="modal fade" id="preview_permissions" tabindex="-1" role="dialog" aria-labelledby="preview_permissions_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="preview_permissions_title">Preview of your sharing settings</h4>
      </div>
      <div class="modal-body">
        <% if policy.access_type == Policy::NO_ACCESS %>
            <%= policy_and_permissions_for_private_scope(permissions, privileged_people, resource_name) %>
        <% else %>
            <%= policy_and_permissions_for_public_scope(policy, permissions, privileged_people, resource_name, updated_can_publish_immediately, send_request_publish_approval) %>
        <% end %>

        <%= process_privileged_people(privileged_people, resource_name) %>

      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" type=button value='OK' style="width: 5em" onclick="createOrUpdateResource('<%= is_new_file -%>', '<%= resource_name -%>')">
        <input class="btn btn-default" type=button value='Cancel' data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
