<tr class="permission-row" data-contributor-type="{{ permission.contributor_type }}" data-contributor-id="{{ permission.contributor_id }}">
    <td>
        ({{ permission.contributor_type }}) {{ permission.title }}
        <input type="hidden" name="policy[permissions][{{ permission.index }}][contributor_type]" value="{{ permission.contributor_type }}"/>
        <input type="hidden" name="policy[permissions][{{ permission.index }}][contributor_id]" value="{{ permission.contributor_id }}"/>
    </td>
    <td class="privilege-cell no-access">
        <input autocomplete="off" type="radio" name="policy[permissions][{{ permission.index }}][access_type]" value="{{ accessTypes.noAccess }}" {{checkPrivilege permission accessTypes.noAccess}} />
    </td>
    <td class="privilege-cell">
        <input autocomplete="off" type="radio" name="policy[permissions][{{ permission.index }}][access_type]" value="{{ accessTypes.visible }}" {{checkPrivilege permission accessTypes.visible}} />
    </td>
    <td class="privilege-cell">
        <input autocomplete="off" type="radio" name="policy[permissions][{{ permission.index }}][access_type]" value="{{ accessTypes.accessible }}" {{checkPrivilege permission accessTypes.accessible}} />
    </td>
    <td class="privilege-cell">
        <input autocomplete="off" type="radio" name="policy[permissions][{{ permission.index }}][access_type]" value="{{ accessTypes.editing }}" {{checkPrivilege permission accessTypes.editing}} />
    </td>
    <td class="privilege-cell">
        <input autocomplete="off" type="radio" name="policy[permissions][{{ permission.index }}][access_type]" value="{{ accessTypes.managing }}" {{checkPrivilege permission accessTypes.managing}} />
    </td>
</tr>
