<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title><%= page_title controller.controller_name, controller.action_name %></title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <%= stylesheet_link_tag 'reset-fonts-grids' %>
        <%= stylesheet_link_tag 'base-min' %>
        <%= stylesheet_link_tag 'my_exp' %>
        <%= stylesheet_link_tag 'gadgets' %>
        <%= stylesheet_link_tag 'styles' %>
        <%= javascript_include_tag :defaults %>
        <%= javascript_include_tag 'scriptaculous' %>
        <script type="text/javascript">
                  function show_ajax_loader(element) {
                    $(element).innerHTML=<%= "'"+image_tag("ajax-loader.gif")+"'" -%> ;
                  }
                
        </script>
    </head>
    <body>
        <div id="custom-doc" class="yui-t2">
            <div id="hd">
                <div id="header">
                    <%= render :partial=>"layouts/header" %>
                </div>
                <%= render :partial=>"general/tabnav_dropdown" %>
                <div id="topbar">
                    <%= render :partial=>"search/search_bar" %>
                </div>
            </div>
            <div id="bd">
                <div id="yui-main">
                    <%# applying styling to error / notice messages -%>
                    <% if flash[:error] %>
                    <div id="error_flash" class="box_standout" style="color: red; font-weight: bold; margin: 0.8em 0.8em; line-height: 1.4;">
                        <%= link_to_function image_tag("close.gif", :style => "float: right;"),
                        visual_effect(:toggle_slide, "error_flash", :duration => 0.3) %>
                        <%= white_list flash[:error] %>
                    </div>
                    <% end %>
                    <% if flash[:notice] %>
                    <div id="notice_flash" class="box_standout" style="color: green; font-weight: bold; margin: 0.8em 0.8em; line-height: 1.4;">
                        <%= link_to_function image_tag("close.gif", :style => "float: right;"),
                        visual_effect(:toggle_slide, "notice_flash", :duration => 0.3) %>
                        <%= white_list flash[:notice] %>
                    </div>
                    <% end %>
                    <%# main content part of every page -%>
                    <%= yield :layout %>
                </div>
            </div>
            <div id="ft">
                <%= render :partial=>"layouts/footer" %>
            </div>
            <br/>
            <div style="text-align:center;">
            </div>
        </div>
    </body>
</html>
