<%= form_for(@sample_controlled_vocab) do |f| %>

<%= f.error_messages %>

<div class="form-group">
  <label>Title</label><%= required_span %>
  <%= f.text_field :title, :class => 'form-control', :placeholder => 'Controlled vocabulary name' %>
</div>


<h3>Terms</h3>
<table id="new-terms">
  <tbody>
<%= f.fields_for :sample_controlled_vocab_terms do |terms_f| %>
      <tr class="sample-cv-term">
        <td><%= terms_f.text_field :label, :class => 'form-control'  %></td>
      </tr>
<% end %>
  <tr id='add-term-button-row'>
    <td>
        <%= button_link_to('Add new term', 'add', '#', :id => 'add-term') %>
    </td>
  </tr>
  </tbody>
</table>


<p class="actions">
  <%= f.submit (@sample_controlled_vocab.new_record? ? 'Create' : 'Update'), :class => 'btn btn-primary' %>
  or
  <%= cancel_button(@sample_controlled_vocab.new_record? ? sample_controlled_vocabs_path : sample_controlled_vocab_path(@sample_controlled_vocab)) %>
</p>


<% end %>

<table id="new-term-row" style="display: none">
  <tbody>
  <tr class="sample-cv-term">
    <td>
      <input class="form-control" id="sample_controlled_vocab_sample_controlled_vocab_terms_attributes_--index--_label" name="sample_controlled_vocab[sample_controlled_vocab_terms_attributes][--index--][label]" type="text">
    </td>
  </tr>
  </tbody>
</table>

<script>
    $j('#add-term').click(function () {
        var newTerm = $j('#new-term-row tbody').clone().html();
        var index = $j('#new-terms tr.sample-cv-term').length;
        newTerm = newTerm.replace(/--index--/g, index);
        $j('#add-term-button-row').before($j(newTerm));
        return false;
    });
</script>