

<%= render :partial => "general/item_title", :locals => {:item => @sample_controlled_vocab,:buttons_partial => 'buttons'} %>

<%= item_description @sample_controlled_vocab.description -%>

<h3>Terms</h3>
<table class="table">
  <thead>
  <tr>
    <th>Label</th>
    <th>Ontology IRI</th>
    <th>Parent IRI</th>
  </tr>
  </thead>
  <tbody>
  <% @sample_controlled_vocab.sample_controlled_vocab_terms.each do |term| %>
    <tr>
      <td><%= term.label %></td>
      <td><%= term.iri %></td>
      <td><%= term.parent_iri %></td>
    </tr>
  <% end %>
  </tbody>

</table>

