<%= f.error_messages -%>
<%= f.hidden_field :parent_name%>
<center>
  <div style="width: 60%;">

    <p>
      <%= f.label :title-%>*<br/>
      <%= f.text_field :title,:size=>33 -%>
    </p>
    
    <p>
      <%= f.label "Parents" -%>*<br/>
      <span style="color: #666666;"> Hold CTRL to select multiple parents</span><br/>
      <%= ontology_multiple_select_tag AssayType,"id", @assay_type ? @assay_type.parents : nil, [@assay_type] + @assay_type.get_all_descendants,"parent_id", 10 %>
    </p>
  </div>
</center>
<p style="margin-top: 2em; text-align: center;" >
  <%= f.submit(action==:edit ? "Update" : "Create") -%>
  or <%= link_to 'Cancel', (manage_assay_types_path) -%>
</p>