<%= f.error_messages -%>
<%= f.hidden_field :default_parent_id %>
<%= f.hidden_field :term_uri%>
<%= f.hidden_field :link_from%>

<center>
  <div style="width: 60%;">

    <p>
      <%= f.label :title-%>*<br/>
      <%= f.text_field :title,:size=>33 -%>
    </p>

    <p>
         <%= f.label "Parent" -%><br/>
         <span style="color: #666666;"> Select parent</span><br/>
         <%= ontology_select_tag_old f , AssayType, (@assay_type.default_parent_id.blank?? nil : @assay_type.default_parent_id) , "parent_ids",(@assay_type ? @assay_type.parents.first.try(:id) : AssayType.ontology_root.try(:id)),{:size=>10,
                                                                                                                                                                                                                          :style => "width:300px;",
                                                                                                                                                                                                                         :onchange=> remote_function(:url=>{:action=>"update_term_uri", :controller=>"assay_types"},
                                                                                                                                                                                                                          :with=>"'parent_id=' + this.value")}%>
    </p>
  </div>
</center>
<div align="center" style="margin-top: 1.5em">
  <%= f.submit(action==:edit ? "Update" : "Create", :id => "create_assay_type_btn") -%>
  or <input type=button value='Cancel' onclick="RedBox.close()">
</div>


