
<%= form_for @assay_type,:condition => "validateAssayTypeRequiredFields('create_assay_type_btn')",
             :method => :post, :remote => true do |f| %>
    <div id="redbox_contents_div" class="redbox_contents " style="width:800px;">
  <div class="head">
    <%= link_to_close_redbox image_tag("close.gif"), :style => "float:right; margin-left:0.5em; vertical-align:middle;" -%>
    <span style="vertical-align:middle;">
          Create new <%= t('assays.assay').downcase %> type
    </span>
  </div>
  <div class="body">
    <div style="float:left;width: 50%">
      <ul><%= ontology_editor_display AssayType, (@assay_type.default_parent_id.blank?? nil : @assay_type.default_parent_id) , @assay_type.id %></ul>
    </div>
    <div style="float:left;width: 50%">

          <%= render :partial => "form", :locals => {:f => f, :action => :new} -%>

    </div>
  </div>
</div>
<% end -%>
