<%
assay_type_text = @is_modelling ? "Biological problem addressed" : "#{t('assays.assay')} type"
%>

<%= render :partial => "general/item_title",:locals=>{:title=>"#{assay_type_text} '#{h(@label)}'"} %>


<% unless @assay_type.nil? -%>

    <div class="ontology_nav">

      <%= image("arrow_up",{:title=>"Parents",:alt=>"Parents",:style=>"vertical-align:middle"}) -%>
      <%= parent_assay_types_list_links @parents  -%>

      <br/>

      <%= image("current",{:title=>"Current #{assay_type_text}",:alt=>"Current #{assay_type_text}",:style=>"vertical-align:middle"}) -%>
      <%= displayed_hierarchy_current_label(@label,@assay_type) -%>

      <br/>

      <%= image("arrow_down",{:title=>"Children",:alt=>"Children",:style=>"vertical-align:middle"}) -%>
      <%= child_assay_types_list_links @assay_type.children  -%>

    </div>

    <h2>Related <%= t('assays.assay').downcase.pluralize %></h2>
    <div class="list_items_container">
      <%= render :partial => "assets/resource_list_item", :collection=>@assays %>
    </div>

<% end -%>