<%#
    all_tags - are all the tags that are available that have been used for this item before. These are used for the suggested tags, and the autocomplete
    item_tags - these are the tags already associated with the item, and will pre-populate the text box
    name - is the name that is prefixed to element id's and javascript functions. should be unique if multiple tag boxes on a single page.
    type - the annotation type. 'tag' by default
    suggested_limit - optional - is the number of tags to show in the suggested tags box. defaults to 7. If zero the suggested tag box won't be show.
 %>
<%
   type ||= 'tag'
   input_name = "#{name}_list"
   existing_tags ||= item_tags.map {|t| t.text}
   suggested_limit ||= 30
   suggested_tags = all_tags.sort { |a, b| b.tag_count <=> a.tag_count }[0...suggested_limit]
   suggested_tags.sort! { |a, b| a.text <=> b.text }
%>

<%# need to preload the suggested tags by passing to values, to allow them to be programmaticly added. If just fetched from ajax query it doesn't work %>
<%= tags_input(input_name, existing_tags, :typeahead => {:type => type, values: suggested_tags.map{|t| {id:t.text, text:t.text} } }, class: 'form-control') %>

<% cache "suggestions_for_#{name}", skip_digest: true do %>
    <% if suggested_limit > 0 && suggested_tags.count > 0 -%>
        <p style="font-size: 93%; margin-bottom: 0.2em; padding: 0 inherit; text-align: right; vertical-align: middle;">
          <%= link_to(("View suggestions" + expand_image("0.3em")).html_safe, '#',
                      onclick: "$j('##{name}_tag_suggestions').slideToggle(); return false;") %>
        </p>
        <div id="<%= name -%>_tag_suggestions" style="font-size: 93%; color: #333333; display: none; text-align: center; margin-top: 0.5em; padding: 0.3em;">
          <div class="tags_smaller">
            <div id="<%= name -%>_select_tags" class="hTagcloud">
              <div class="popularity">
                <% unless suggested_tags.blank? -%>
                    <% ann_cloud suggested_tags, %w(popular v-popular vv-popular vvv-popular vvvv-popular) do |tag, css_class| -%>
                        <%= link_to tag.text, "#", 'data-role':'seek-suggested-tags', 'data-tag-input': input_name, :class => css_class -%>
                    <% end -%>
                <% end -%>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end -%>
