<% unless @new_samples.nil? or @new_samples.compact.none? %>
  <%= folding_panel("New Samples <span id='new-samples-counter' class='label label-primary'>#{@new_samples.size}</span>", true, :id => "new-samples-panel", :body_options => { :id => "new-samples-panel-content" },
                    :help_text => "These samples have been detected as new samples and will be created.") do %>
    <div class="table-responsive">
      <table id="create-samples-table" class="table">
        <thead>
        <tr>
          <th></th>
          <% for key in (@new_samples.compact.first&.keys || []) %>
            <% unless key == 'uuid' %>
              <th><%= key %></th>
            <% end %>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% for new_sample in @new_samples %>
          <% new_sample_id = SecureRandom.uuid %>
          <tr id='<%= "new-sample-#{new_sample_id}" %>'>
            <td>
              <button id=<%= "remove-#{new_sample_id}" %> class="btn glyphicon glyphicon-trash danger"
              style="background-color:#d9534f;color:white;"
              onclick=<%= "removeSample('new-sample-#{new_sample_id}')" %>></button>
            </td>
            <% new_sample.each do |new_sample_key, new_sample_val| %>
              <% new_sample_val = '<new>' if new_sample_key == 'id' %>
              <% unless new_sample_key == 'uuid' %>
                <% if @registered_sample_multi_fields.include?(new_sample_key) %>
                  <td id='<%= "new-sample-#{new_sample_id}[#{new_sample_key}]" %>'>
                    <% Array(new_sample_val).each do |sub_sample| %>
                      <span class="badge" title="ID: <%= sub_sample&.fetch('id', nil) %>" data-attr_type="seek-sample-multi"><%= sub_sample&.fetch('title', nil) %></span>
                    <% end %>
                  </td>
                <% elsif @cv_list_fields.include?(new_sample_key) %>
                  <td id='<%= "new-sample-#{new_sample_id}[#{new_sample_key}]" %>'>
                    <% Array(new_sample_val).each do |cv_term| %>
                      <span class="label label-default" title="<%= cv_term %>" data-attr_type="cv-list"><%= cv_term %></span>
                    <% end %>
                  </td>
                <% elsif @registered_sample_fields.include?(new_sample_key) %>
                  <td id='<%= "new-sample-#{new_sample_id}[#{new_sample_key}]" %>'>
                    <span class="badge" title="<%= new_sample_val&.fetch('id', nil) %>" data-attr_type="seek-sample"><%= new_sample_val&.fetch('title', nil) %></span>
                  </td>
                <% elsif @registered_data_file_fields.include?(new_sample_key) %>
                  <td id='<%= "new-sample-#{new_sample_id}[#{new_sample_key}]" %>'>
                    <span class="badge" title="<%= new_sample_val&.fetch('id', nil) %>" data-attr_type="seek-data-file"><%= new_sample_val&.fetch('title', nil) %></span>
                  </td>
                <% elsif @registered_strain_fields.include?(new_sample_key) %>
                  <td id='<%= "new-sample-#{new_sample_id}[#{new_sample_key}]" %>'>
                    <span class="badge" title="<%= new_sample_val&.fetch('id', nil) %>" data-attr_type="seek-strain"><%= new_sample_val&.fetch('title', nil) %></span>
                  </td>
                <% elsif @registered_sops_fields.include?(new_sample_key) %>
                  <td id='<%= "new-sample-#{new_sample_id}[#{new_sample_key}]" %>'>
                    <span class="badge" title="<%= new_sample_val&.fetch('id', nil) %>" data-attr_type="seek-sop"><%= new_sample_val&.fetch('title', nil) %></span>
                  </td>
                <% else %>
                  <td id='<%= "new-sample-#{new_sample_id}[#{new_sample_key}]" %>'><%= new_sample_val %></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
