<% unless @update_samples.nil? or @update_samples.compact.none? %>
  <%= folding_panel("Samples to Update <span id='update-samples-counter' class='label label-warning'>#{@update_samples.size}</span>", true, :id => "existing-samples-panel", :body_options => { :id => "existing-samples-panel-content" },
                    :help_text => "These samples were detected existing samples and will be updated.") do %>
    <div class="table-responsive">
      <table id="update-samples-table" class="table">
        <thead>
        <tr>
          <th></th>
          <% (@update_samples.compact.first&.keys || []).each do |key| %>
            <% unless key == 'uuid' %>
              <th><%= key %></th>
            <% end %>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @update_samples.each do |update_sample| %>
          <tr id='<%= "update-sample-#{update_sample['id']}-updated" %>'>
            <% db_sample = @authorized_db_samples.detect { |s| s['id'] == update_sample['id'] } %>
            <td rowspan=2>
              <button id="<%= "remove-#{update_sample['id']}" %>"
                      class="btn glyphicon glyphicon-trash danger"
                      style="background-color:#d9534f;color:white;"
                      onclick=<%= "removeSample('update-sample-#{update_sample['id']}')" %>>
              </button>
            </td>
            <% update_sample.each do |update_sample_key, update_sample_val| %>
              <% unless update_sample_key == 'uuid' %>
                <% if @registered_sample_multi_fields.include?(update_sample_key) %>
                  <td class='<%= (update_sample_val != db_sample&.[](update_sample_key)) ? "warning" : "default" %>' id='<%= "update-sample-#{update_sample['id']}[#{update_sample_key}]" %>'>
                    <% Array(update_sample_val).each do |sub_sample| %>
                      <span class="badge" title='ID: <%= sub_sample['id'] %>' data-attr_type="seek-sample-multi"><%= sub_sample['title'] %></span>
                    <% end %>
                  </td>
                <% elsif @cv_list_fields.include?(update_sample_key) %>
                  <td class='<%= (update_sample_val != db_sample&.[](update_sample_key)) ? "warning" : "default" %>' id='<%= "update-sample-#{update_sample['id']}[#{update_sample_key}]" %>'>
                    <% Array(update_sample_val).each do |cv_term| %>
                      <span class="label label-default" title='<%= cv_term %>' data-attr_type="cv-list"><%= cv_term %></span>
                    <% end %>
                  </td>
                <% elsif @registered_sample_fields.include?(update_sample_key) %>
                  <td class='<%= (update_sample_val != db_sample&.[](update_sample_key)) ? "warning" : "default" %>' id='<%= "update-sample-#{update_sample['id']}[#{update_sample_key}]" %>'>
                    <span class="badge" title='<%= update_sample_val&.fetch('id', nil) %>' data-attr_type="seek-sample"><%= update_sample_val&.fetch('title', nil) %></span>
                  </td>
                <% elsif @registered_data_file_fields.include?(update_sample_key) %>
                  <td class='<%= (update_sample_val != db_sample&.[](update_sample_key)) ? "warning" : "default" %>' id='<%= "update-sample-#{update_sample['id']}[#{update_sample_key}]" %>'>
                    <span class="badge" title='<%= update_sample_val&.fetch('id', nil) %>' data-attr_type="seek-data-file"><%= update_sample_val&.fetch('title', nil) %></span>
                  </td>
                <% elsif @registered_strain_fields.include?(update_sample_key) %>
                  <td class='<%= (update_sample_val != db_sample&.[](update_sample_key)) ? "warning" : "default" %>' id='<%= "update-sample-#{update_sample['id']}[#{update_sample_key}]" %>'>
                    <span class="badge" title='<%= update_sample_val&.fetch('id', nil) %>' data-attr_type="seek-strain"><%= update_sample_val&.fetch('title', nil) %></span>
                  </td>
                <% elsif @registered_sops_fields.include?(update_sample_key) %>
                  <td class='<%= (update_sample_val != db_sample&.[](update_sample_key)) ? "warning" : "default" %>' id='<%= "update-sample-#{update_sample['id']}[#{update_sample_key}]" %>'>
                    <span class="badge" title='<%= update_sample_val&.fetch('id', nil) %>' data-attr_type="seek-sop"><%= update_sample_val&.fetch('title', nil) %></span>
                  </td>
                <% else %>
                  <td class='<%= (update_sample_val != db_sample&.[](update_sample_key)) ? "warning" : "default" %>' id='<%= "update-sample-#{update_sample['id']}[#{update_sample_key}]" %>'>
                    <%= update_sample_val %>
                  </td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
          <tr id='<%= "update-sample-#{update_sample['id']}-original" %>'>
            <% (db_sample || {}).each do |key, val| %>
              <% unless key == 'uuid' %>
                <% if @registered_sample_multi_fields.include?(key) %>
                  <td>
                    <% unless val.blank? %>
                      <% val.each do |sub_sample| %>
                        <span class="badge" title='ID: <%= sub_sample['id'] %>'><%= sub_sample['title'] %></span>
                      <% end %>
                    <% end %>
                  </td>
                <% elsif @cv_list_fields.include?(key) %>
                  <td>
                    <% unless val.blank? %>
                      <% val.each do |cv_term| %>
                        <span class="label label-default" title='<%= cv_term %>'><%= cv_term %></span>
                      <% end %>
                    <% end %>
                  </td>
                <% elsif @registered_sample_fields.include?(key) %>
                  <td>
                    <span class="badge" title='<%= val&.fetch('id', nil) %>'><%= val&.fetch('title', nil) %></span>
                  </td>
                <% elsif @registered_data_file_fields.include?(key) %>
                  <td>
                    <span class="badge" title='<%= val&.fetch('id', nil) %>'><%= val&.fetch('title', nil) %></span>
                  </td>
                <% elsif @registered_strain_fields.include?(key) %>
                  <td>
                    <span class="badge" title='<%= val&.fetch('id', nil) %>'><%= val&.fetch('title', nil) %></span>
                  </td>
                <% elsif @registered_sops_fields.include?(key) %>
                  <td>
                    <span class="badge" title='<%= val&.fetch('id', nil) %>'><%= val&.fetch('title', nil) %></span>
                  </td>
                <% else %>
                  <td><%= val %></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
