
$j("#study_sharing").html("")
$j("#investigation_sharing").html("")
$j("#assay_sharing").html("")


<% if @study != nil %>
   $j("#std-title span").html("<%= @study.title %>")
   $j("#std-description span").html("<%= @study.description %>")
   $j("#experimentalists span").html("<%= @study.experimentalists %>")
   $j("#study_sharing").html("<%= escape_javascript(render partial: 'sharing/form', locals: { object: @study } ) %>");
   let creator_ids = <%=(@study.try(:creators)).map { |n| n.id }%>
   $j("#std-creators").empty()
   for (const id in creator_ids){
      $j("#std-creators").append(`<input type="hidden" value="${creator_ids[id]}" name="study[creator_ids][]">`)
   }
   

<%elsif @investigation != nil%>
   $j("#inv-title span").html("<%= @investigation.title %>")
   $j("#inv-description span").html("<%= @investigation.description %>")
   $j("#investigation_sharing").html("<%= escape_javascript(render partial: 'sharing/form', locals: { object: @investigation } ) %>");
   let creator_ids = <%=(@investigation.try(:creators)).map { |n| n.id }%>
   $j("#inv-creators").empty()
   for (const id in creator_ids){
      $j("#inv-creators").append(`<input type="hidden" value="${creator_ids[id]}" name="investigation[creator_ids][]">`)
   }

<%elsif @assay != nil%>
   $j("#assay-title span").html("<%= @assay.title %>")
   $j("#assay-description span").html("<%= @assay.description %>")
   $j("#assay_sharing").html("<%= escape_javascript(render partial: 'sharing/form', locals: { object: @assay } ) %>");
   let creator_ids = <%=(@assay.try(:creators)).map { |n| n.id }%>
   $j("#assay-creators").empty()
   for (const id in creator_ids){
      $j("#assay-creators").append(`<input type="hidden" value="${creator_ids[id]}" name="assay[creator_ids][]">`)
   }
   $j("#method-title input").val("<%= @sop.title %>")
   $j("#method-description input").val("<%= @sop.description %>")

   let image = "<%= '/assets/' + resource_avatar_path(@sop) %>"
   $j("#method-icon").html(`<li class='asset_card_item' data-toggle='tooltip'><p class='asset_card_title'> <img class='asset_card_avatar' width='100' src='${image}'/></p></li>`)
   $j("#method-id").val("<%= @sop.id %>")
    
<% end %>

loadObjectInputs()
