<%= javascript_include_tag "single_page/index" %>
<%= javascript_include_tag "single_page/dynamic_table" %>
<%= javascript_include_tag "project_folders" %>
<%
    default_folder = initial_folder(@project)
%>
<div class="single-page-folder">
    <div class="row">
        <div class="col-md-4" style="padding:0 5px 0 0">
            <div id="folder_column">
                <div id="folders">
                    <ul class="bcrumb">
                    <li><a class="active" href="#"><span>Project</span></a></li>
                    <li ><a href="#"><span>Investigation</span></a></li>
                    <li ><a href="#"><span>Study</span></a></li>
                    <li ><a href="#"><span>Assay</span></a></li>
                    </ul>
                    <div class="treeview-toggle">
                        Toggle: 
                        <button class="active" onClick="toggleItem(this, 'investigation')">Investigations</button>
                        <button class="active" onClick="toggleItem(this, 'study')">Studies</button>
                        <button class="active" onClick="toggleItem(this, 'assay')">Assays</button>
                    </div>
                    <div id="single_page_tree" class="new-design"></div>
                </div>
            </div>
        </div>

        <div class="col-md-8" style="padding:0">
            <div id="container" style="position:relative" class="tv">
                <div id="loader"></div>
                <div id="folder_contents" class="row" style="display:none">
                     <%= render :partial => "folders/contents", :locals => {:folder => default_folder } -%>
                </div>
                <div id="sample_contents" class="row" style="display:none">
                    <div class="simpleForm">
                        <div id="samples-details"></div>
                    </div>
                </div>
                <div id="item_contents" class="row" style="display:none">
                    <div class="simpleForm" id="item-layout"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="provide-metadata-content"></div>
</div>

<script type="text/javascript">
    var selectedItem = {type:"",id:""}, pid, uid, projectDefaultPolicy
		var dynamicTableDataPath = '<%= Seek::Util.routes.dynamic_table_data_single_page_path("ID_HOLDER") %>'
		
		$j(document).ready(function() {
        setupFoldersTree( <%= ((TreeviewBuilder.new(@project, @folders)).build_tree_data).html_safe -%> , 'single_page_tree', 'draggable_folder_item');
        $j("#item-layout").html("<%= escape_javascript(render template: 'projects/show' ) %>");
        $j("#item_contents").show();
        pid = <%= @project.id %>
        projectDefaultPolicy = <%= project_policy_json(@project) %>
        uid = <%= current_user ? current_user.id : "null" %>
    });

    function toggleItem(e, type){
        let action
        if($j(e).hasClass("active")) action = "close_node"
        else action = "open_node"
        $j("a[_type='" + type + "']").each((i, e) => $j("#single_page_tree").jstree(action, $j(e)))
        $j(e).toggleClass("active")
    }
    
</script>