<%= javascript_include_tag "single_page/index" %>
<%= javascript_include_tag "single_page/dynamic_table" %>
<%= javascript_include_tag "project_folders" %>
<%
    default_folder = initial_folder(@project)
%>
<div class="single-page-folder">
    <div id="widget" class="row">
        <div id="left-pane" class="col-md-3" style="padding:0 5px 0 0">
            <div id="folder_column">
                <div id="folders">
                    <ul class="bcrumb">
                    <li><a class="active" href="#"><span>Project</span></a></li>
                    <li ><a href="#"><span>Investigation</span></a></li>
                    <li ><a href="#"><span>Study</span></a></li>
                    <li ><a href="#"><span>Assay</span></a></li>
                    </ul>
                    <div class="treeview-toggle">
                        Toggle:
                        <button class="active" onClick="toggleItem(this, 'investigation')">Investigations</button>
                        <button class="active" onClick="toggleItem(this, 'study')">Studies</button>
                        <button class="active" onClick="toggleItem(this, 'assay')">Assays</button>
                    </div>
                    <div id="single_page_tree" class="new-design"></div>
                </div>
            </div>
        </div>

        <div id="right-pane" class="col-md-9" style="padding:0">
            <div id="container" style="position:relative" class="tv">
                <div id="dt-overlay"><%= image('large_spinner') %></div>
                <div id="loader"></div>
                <div id="folder_contents" class="row" style="display:none">
                     <%= render :partial => "folders/contents", :locals => {:folder => default_folder } if default_folder -%>
                </div>
                <div id="sample_contents" class="row" style="display:none">
                    <div class="simpleForm">
                        <div id="samples-details"></div>
                    </div>
                </div>
                <div id="item_contents" class="row" style="display:none">
                    <div class="simpleForm" id="item-layout"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="provide-metadata-content"></div>

    <%= modal(id: 'change-batch-permission-modal', size: 'xl') do %>
      <%= modal_header("Change permission") %>
      <%= modal_body do %>
        <div id="change-batch-permission">
          hello
        </div>
      <% end %>
    <% end %>

</div>

<script type="text/javascript">
    var selectedItem = {type:"",id:""}, pid, uid, projectDefaultPolicy, dynamicTableDataPath

		$j(document).ready(function() {
			  $j("#content .container-fluid").removeClass("container-fluid").addClass("container-fluid-single-page")

        setupFoldersTree( <%= ((TreeviewBuilder.new(@project, @folders)).build_tree_data).html_safe -%> , 'single_page_tree', 'draggable_folder_item');
        $j("#item-layout").html("<%= escape_javascript(render template: 'projects/show' ) %>");
        $j("#item_contents").show();
        pid = <%= @project.id %>
        projectDefaultPolicy = <%= project_policy_json(@project) %>
        uid = <%= current_user ? current_user.id : "null" %>
				dynamicTableDataPath = '<%= Seek::Util.routes.dynamic_table_data_single_page_path(@project.id) %>'

				setSplitters();
				updateContainerHeight();
        // Permissions modal:
        $j('#change-batch-permission').on('click', '[data-dismiss="modal"]', function (e) { e.stopPropagation(); });
        $j('html').click(function(e) {
          if($j(e.target).hasClass("modal-backdrop")) {
            $j('.modal-backdrop').remove();
          }
        });
    });

    function toggleItem(e, type){
        let action
        if($j(e).hasClass("active")) action = "close_node"
        else action = "open_node"
        $j("a[_type='" + type + "']").each((i, e) => $j("#single_page_tree").jstree(action, $j(e)))
        $j(e).toggleClass("active")
    }

		// This is used after jstree loaded
		function activateSelectedItem(){
			const params = Object.fromEntries(new URLSearchParams(window.location.search).entries());
			const parent = $j(`a[_type="${params.item_type}"][_id="${params.item_id}"]`)
			$j(parent).addClass("jstree-clicked").click()
		}

		function setSplitters() {
			if(!isMobile()) {
				$j('#widget').width('').height(768).split({
					orientation: 'vertical',
					limit: { leftUpper: 350, rightBottom: 1000 },
					position: '25%'
				});
			}
		}

		function updateContainerHeight() {
			const height = $j("#right-pane #container").height()
			$j("#widget").height(height)
			$j("#right-pane").height(height)
		}

    function highlightTreeviewItem(item) {
      $j(".jstree-clicked").removeClass("jstree-clicked")
      const type = ["study", "assay"].includes(selectedItem.type) ? selectedItem.type : selectedItem.parent.type
      const id = ["study", "assay"].includes(selectedItem.type) ? selectedItem.id : selectedItem.parent.id
      const parent = $j(`a[_type="${type}"][_id="${id}"]`)
      $j(parent).next().find(`a[_type="${item}"]`).addClass("jstree-clicked")
      updateLocationHash(item, id)
      setTimeout(() => updateContainerHeight(), 1000)
    }

</script>
