<%= javascript_include_tag 'jquery.bxslider' -%>

<script type="application/javascript">
    $j(document).ready(function() {
        $j('.bxslider').bxSlider({
            randomStart: true,
            slideWidth: 900,
            pager: false
        });
    });
</script>

<div class="carousel-wrapper">
  <ul class="bxslider">
    <li><%= image_tag 'carousel_images/maria_1.jpg' -%> <div class="image-credit">Photo by Maria Paula Balcázar Vargas</div></li>
    <li><%= image_tag 'carousel_images/sarah_1.jpg' -%> <div class="image-credit">Photo by Sarah Bourlat</div></li>
    <li><%= image_tag 'carousel_images/matthias_1.jpg' -%> <div class="image-credit">Photo by Matthias Obst</div></li>
    <li><%= image_tag 'carousel_images/maria_2.jpg' -%> <div class="image-credit">Photo by Maria Paula Balcázar Vargas</div></li>
    <li><%= image_tag 'carousel_images/sarah_3.jpg' -%> <div class="image-credit">Photo by Sarah Bourlat</div></li>
    <li><%= image_tag 'carousel_images/matthias_2.jpg' -%> <div class="image-credit">Photo by Matthias Obst</div></li>
    <li><%= image_tag 'carousel_images/maria_3.jpg' -%> <div class="image-credit">Photo by Maria Paula Balcázar Vargas</div></li>
    <li><%= image_tag 'carousel_images/matthias_3.jpg' -%> <div class="image-credit">Photo by Matthias Obst</div></li>
    <li><%= image_tag 'carousel_images/maria_4.jpg' -%> <div class="image-credit">Photo by Maria Paula Balcázar Vargas</div></li>
    <li><%= image_tag 'carousel_images/sarah_2.jpg' -%> <div class="image-credit">Photo by Sarah Bourlat</div></li>
    <li><%= image_tag 'carousel_images/maria_5.jpg' -%> <div class="image-credit">Photo by Maria Paula Balcázar Vargas</div></li>
    <!--<li>-->
    <!--<div style="text-align: center; width: 900px; height: 300px; background: #ffffcc; line-height: 300px; font-size: 32px;">-->
    <!--Your photo here-->
    <!--</div>-->
    <!--</li>-->
  </ul>
  <div class="carousel-info-box">
    <h5>Welcome to the BioVeL Portal</h5>
    
  </div>
</div>
