<%= javascript_include_tag 'jquery.jcarousel' -%>

<script type="application/javascript">
  $j(function() {
    $j('.jcarousel').jcarousel({
      wrap: 'circular'
    });

    $j('.jcarousel-prev').jcarouselControl({
        target: '-=1'
    });

    $j('.jcarousel-next').jcarouselControl({
        target: '+=1'
    });
  });
</script>

<div class="jcarousel-wrapper">
  <div class="jcarousel">
    <ul>
      <li><%= image_tag 'carousel_images/maria_1.jpg' -%> <div class="image-credit">Photo by Maria Paula Balcázar Vargas</div></li>
      <li><%= image_tag 'carousel_images/sarah_1.jpg' -%> <div class="image-credit">Photo by Sarah Bourlat</div></li>
      <li><%= image_tag 'carousel_images/maria_2.jpg' -%> <div class="image-credit">Photo by Maria Paula Balcázar Vargas</div></li>
      <li><%= image_tag 'carousel_images/sarah_3.jpg' -%> <div class="image-credit">Photo by Sarah Bourlat</div></li>
      <li><%= image_tag 'carousel_images/maria_3.jpg' -%> <div class="image-credit">Photo by Maria Paula Balcázar Vargas</div></li>
      <li><%= image_tag 'carousel_images/maria_4.jpg' -%> <div class="image-credit">Photo by Maria Paula Balcázar Vargas</div></li>
      <li><%= image_tag 'carousel_images/sarah_2.jpg' -%> <div class="image-credit">Photo by Sarah Bourlat</div></li>
      <li><%= image_tag 'carousel_images/maria_5.jpg' -%> <div class="image-credit">Photo by Maria Paula Balcázar Vargas</div></li>
      <!--<li>-->
        <!--<div style="text-align: center; width: 900px; height: 300px; background: #ffffcc; line-height: 300px; font-size: 32px;">-->
          <!--Your photo here-->
        <!--</div>-->
      <!--</li>-->
    </ul>
  </div>
  <div class="carousel-info-box">
    <h5>Welcome to the BioVeL Portal</h5>
    <p>
      For technical support or questions about the <%= link_to 'BioVeL Project', 'http://biovel.eu/' -%>, please visit the <%= link_to 'contact page', contact_path -%>.
    </p>
    <% unless logged_in? %>
      <h5>Visitors</h5>
      <p>
        A guest account is available for visitors to use to evaluate the BioVeL Portal's functionality, but please be aware that any workflow runs created under this
        account will be periodically deleted. <br/>
        <strong><%= guest_login_link('Click here to log into the guest account') -%></strong>
      </p>
    <% end %>
  </div>
  <!-- Controls -->
  <a class="jcarousel-prev" href="#">&lt;</a>
  <a class="jcarousel-next" href="#">&gt;</a>
</div>
