
<% if (!logged_in? && cookies[:hide_guide_box].nil?) || (logged_in? && current_user.try(:show_guide_box?)) %>
    <% tool_tip_text = tooltip_title_attrib("You may delete this box so it is no longer shown in the future.") %>
    <div id='guide_box' class='top_home_panel' >
      <span id="guide_box_close">
          <%= link_to(image('destroy', :title => tool_tip_text), hide_guide_box_users_path(),:remote=>true, :method => :post) -%>
        </span>
      <p>
        To find out more information about using <%= Seek::Config.application_name -%>, some of our Guidelines and our Frequently Asked Questions please visit our <%= link_to 'Help', help_documents_path %> section.
      </p>
      <p>
        We also distribute our JERM Templates for use with <%= Seek::Config.application_name -%>, which can be found in our <%= link_to 'Templates', help_documents_path + '/templates' %> section.
      </p>
    </div>
<% end %>