<% if SiteAnnouncement.headline_announcement -%>
    <%= alert_box('warning') do %>
        <%= site_annoucements_headline %>
    <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render :partial=>"ibisba_home_description_box" -%>
  </div>
    <% if Seek::Config.front_page_buttons_enabled %>
        <div class="col-md-12">
          <%= render :partial=>"home_buttons" -%>
        </div>
      <div>
    <% end %>

    <% if logged_in_and_registered? %>
        <%= render :partial=>"user_activity" -%>
    <% end %>
  </div>
</div>
