<style>

.breadcrumb li:first-child a {}

</style>


<% if SiteAnnouncement.headline_announcement -%>
    <%= alert_box('warning') do %>
        <%= site_annoucements_headline %>
    <% end %>
<% end %>

<div class="row">
    <%= render :partial=>"home_description_box" -%>

    <% if Seek::Config.front_page_buttons_enabled %>
        <%= render :partial=>"home_buttons" -%>
    <% end %>
</div>
<% if logged_in_and_registered? %>
  <div class="row">
    <div class="col-md-9">
      <%= render :partial=>"home_my_items" -%>
    </div>
    <div class="col-md-3">
      <%= render :partial=>"home_quick_start" -%>
    </div>
  </div>
  <br>
<% end %>


<% if !logged_in_and_registered? %>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial=>"home_features" -%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial=>"home_who_uses" -%>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render :partial=>"home_integrations" -%>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default" id="home_explore_projects">
      <h1 class="text-center">Explore existing projects</h1>
      <div class="row">
        <div class="col-md-6" style="border-right: 2px solid #ccc;">
          <%= render :partial=>"home_activity_notifications_projects" -%>
        </div>
        <div class="col-md-6">
          <% if Seek::Config.tagging_enabled %>
              <div id="sidebar_tag_cloud">
                <% cache 'sidebar_tag_cloud', skip_digest: true do -%>
                    <%= render :partial=>"gadgets/tag_cloud_gadget_home" %>
                <% end -%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <%= render :partial=>"gadgets/announcements_gadget" if show_announcements? %>
    <%= home_news_feeds %>
    <a class="logo_link" href="/">
      <%= image_tag('/assets/logos/Twitter_Social_Icon_Circle_Color.svg') %>
      Check us on twitter
    </a>
  </div>
</div>

<% if Seek::Config.human_diseases_enabled  %>
  <%= render :partial => 'human_diseases/overview_plot' %>
<% end %>
