<%= stylesheet_link_tag "homepage" -%>

<h1><%= Seek::Config.application_name -%></h1>

<% if SiteAnnouncement.headline_announcement -%>
    <div class="box_standout headline_announcement">
      <%= site_annoucements_headline %>
    </div>
<% end -%>

<%= render :partial=>"guide_box" -%>

<div class="top_home_panel">
  <%= home_description_text -%>
</div>


<%= render :partial=>"home_news_feeds" -%>

<br/>

<%= render :partial=>"home_activity_notifications" -%>


