<% if SiteAnnouncement.headline_announcement -%>
    <%= alert_box('warning') do %>
        <%= site_annoucements_headline %>
    <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render :partial=>"ibisba_home_description_box" -%>

    <% if Seek::Config.front_page_buttons_enabled %>
        <%= render :partial=>"home_buttons" -%>
    <% end %>

    <% if logged_in_and_registered? %>
        <%= render :partial=>"user_activity" -%>
    <% end %>
  </div>
</div>

<% if Seek::Config.human_diseases_enabled  %>
  <%= render :partial => 'human_diseases/overview_plot' %>
<% end %>
