<style>

.breadcrumb li:first-child a {}

</style>


<% if SiteAnnouncement.headline_announcement -%>
    <%= alert_box('warning') do %>
        <%= site_annoucements_headline %>
    <% end %>
<% end %>

<div class="row">

    <% if Seek::Config.front_page_buttons_enabled %>
        <%= render :partial=>"home_buttons" -%>
    <% end %>
</div>

<%# If not logged in, home_description takes entire row, otherwise, col-9 (2/3rds) %>
<% if !logged_in_and_registered? %>
  <%= render :partial=>"home_description_box" -%>
  <%= render :partial=>"home_features" -%>
<% end %>

<div class="row">
  <div class="col-md-9">
    <% if logged_in_and_registered?%>
      <%= render :partial=>"home_description_box" -%>
    <% end %>
    <% if logged_in_and_registered? && Seek::Config.home_show_my_items%>
      <%= render :partial=>"home_my_items" -%>
    <% end %>
    <% if !logged_in_and_registered? && Seek::Config.home_show_who_uses %>
      <%= render :partial=>"home_who_uses" -%>
    <% end %>
    <%= render :partial=>"home_explore_projects" -%>
    <% if Seek::Config.home_show_integrations %>
      <%= render :partial=>"home_integrations" -%>
    <% end %>
  </div>

  <div class="col-md-3">
    <% if logged_in_and_registered?  && Seek::Config.home_show_quickstart %>
      <%= render :partial=>"home_quick_start" -%>
    <% end %>
    <%= render :partial=>"gadgets/announcements_gadget" if show_announcements? %>
    <%= home_news_feeds %>
    <a class="logo_link" href="/">
      <%= image_tag('/assets/logos/Twitter_Social_Icon_Circle_Color.svg') %>
      Check us on twitter
    </a>
  </div>
</div>
<br>

<% if Seek::Config.human_diseases_enabled  %>
  <%= render :partial => 'human_diseases/overview_plot' %>
<% end %>
