<script>
  $j(document).ready(function () {
    const distance = 200;

    $j('#carousel-right').click(function () {
      document.getElementById('carousel-control').scrollBy({ 
        left: distance, 
        behavior: 'smooth' 
      });
    });

    $j('#carousel-left').click(function () {
      document.getElementById('carousel-control').scrollBy({ 
        left: -distance, 
        behavior: 'smooth' 
      });
    });
  });
</script>

<%= panel("Who is using it?", id: 'home_who_uses', body_options: { class: '' }) do %>
  <div id="home_who_uses_carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators: removed indicators as to not to obstruct the text -->
    <!--<ol class="carousel-indicators">-->
    <!--  <% Seek::Config.home_carousel_image.each_with_index  do |item, index| %>-->
    <!--    <li data-target="#home_who_uses_carousel" data-slide-to="<%=index%>" <%= 'class="active"' if index==0 %>></li>-->
    <!--  <% end %>-->
    <!--</ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <% Seek::Config.home_carousel_image.each_with_index do |image_index, index| -%>
        <div class="item <%= 'active' if index==0 %>" style="text-align: center;">
          <div>
            <a href="<%= Seek::Config.home_carousel_url[index] %>">
              <img src="<%= Avatar.find(image_index).public_asset_url %>"
                alt="<%= Seek::Config.home_carousel_title[index] %> logo"
                class="<%=index%>"
                style="width:auto;height:100px;">
            </a>
          </div>
          <h3> <%= Seek::Config.home_carousel_title[index] %> </h3>
          <p style="font-size: larger;"> <%= Seek::Config.home_carousel_description[index] %> </p>
          <i> <%= Seek::Config.home_carousel_author[index] %> </i>
        </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#home_who_uses_carousel" role="button" data-slide="prev" style="background-image: none; color:black;"
}>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home_who_uses_carousel" role="button" data-slide="next" style="background-image: none; color:black;">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>
