<style>
.bcrumb {
    list-style: none;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
}


.bcrumb li a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #000634;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #000634;
    position: relative;
    display: block;
    float: left;
    width: 25%;
    text-align: center
}

.bcrumb li a::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #000634;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.bcrumb li a::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:first-child a {}

.bcrumb li:nth-child(2) a {
    background: #346090
}

.bcrumb li:nth-child(2) a:after {
    border-left-color: #346090
}

.bcrumb li:nth-child(3) a {
    background: #9cbede
}

.bcrumb li:nth-child(3) a:after {
    border-left-color: #9cbede
}

.bcrumb li:nth-child(4) a {
    background: #cbe2f7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.bcrumb li:nth-child(4) a:after {
    border: none
}

.bcrumb li a:hover {
    cursor: default
}

.bcrumb li a:hover:after {
    cursor: default
}

</style>


<% if SiteAnnouncement.headline_announcement -%>
    <%= alert_box('warning') do %>
        <%= site_annoucements_headline %>
    <% end %>
<% end %>

<div class="row">
    <%= render :partial=>"home_description_box" -%>

    <% if Seek::Config.front_page_buttons_enabled %>
        <%= render :partial=>"home_buttons" -%>
    <% end %>
</div>
<% if logged_in_and_registered? %>
  <div class="row">
    <ul class="bcrumb">
      <li><a href="#">Project</a></li>
      <li><a href="#">Investigation</a></li>
      <li><a href="#">Study</a></li>
      <li><a href="#">Assay</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-9">
      <%= render :partial=>"home_my_items" -%>
    </div>
    <div class="col-md-3">
      <%= render :partial=>"home_quick_start" -%>
    </div>
  </div>
  <br>
<% end %>


<% if !logged_in_and_registered? %>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial=>"home_features" -%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial=>"home_who_uses" -%>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render :partial=>"home_integrations" -%>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default" id="home_explore_projects">
      <h1 class="text-center">Explore existing projects</h1>
      <div class="row">
        <div class="col-md-6" style="border-right: 2px solid #ccc;">
          <%= render :partial=>"home_activity_notifications_projects" -%>
        </div>
        <div class="col-md-6">
          <% if Seek::Config.tagging_enabled %>
              <div id="sidebar_tag_cloud">
                <% cache 'sidebar_tag_cloud', skip_digest: true do -%>
                    <%= render :partial=>"gadgets/tag_cloud_gadget_home" %>
                <% end -%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <%= render :partial=>"gadgets/announcements_gadget" if show_announcements? %>
    <%= home_news_feeds %>
    <a class="logo_link" href="/">
      <%= image_tag('/assets/logos/Twitter_Social_Icon_Circle_Color.svg') %>
      Check us on twitter
    </a>
  </div>
</div>

<% if Seek::Config.human_diseases_enabled  %>
  <%= render :partial => 'human_diseases/overview_plot' %>
<% end %>
