<% if SiteAnnouncement.headline_announcement -%>
    <%= alert_box('warning') do %>
        <%= site_annoucements_headline %>
    <% end %>
<% end %>

<div class="row">
  <div class="col-md-9">
    <%= render :partial=>"ibisba_home_description_box" -%>
    <%= render :partial=>"home_buttons" -%>
  </div>

  <div class="col-md-3">
<!--    <%= render :partial=>"gadgets/announcements_gadget" %> -->
    <%= render :partial=>"gadgets/tag_cloud_gadget" %>
  </div>
</div>
