<% if SiteAnnouncement.headline_announcement -%>
    <div class="alert alert-warning" role="alert">
        <%= site_annoucements_headline %>
    </div>
<% end -%>

<div class="row">
  <div class="col-md-9">
    <%= render :partial=>"guide_box" -%>

    <%= render :partial=>"home_description_box" -%>

    <%= render :partial=>"home_news_feeds" -%>

    <%= render :partial=>"home_activity_notifications" -%>
  </div>
  <div class="col-md-3">
    <% if Seek::Config.tagging_enabled %>
        <div id="sidebar_tag_cloud">
          <% cache "sidebar_tag_cloud" do -%>
              <%= render :partial=>"gadgets/tag_cloud_gadget" %>
          <% end -%>
        </div>
    <% end %>

    <%= render :partial=>"gadgets/organism_gadget" %>
  </div>
</div>
