<% if SiteAnnouncement.headline_announcement -%>
    <%= alert_box('warning') do %>
        <%= site_annoucements_headline %>
    <% end %>
<% end %>

<% if !logged_in_and_registered? %>
  <% if Seek::Config.home_show_features%>
    <%= render partial: 'workflowhub_features' -%>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-9 home-main-panel">
    <% if Seek::Config.home_description_position == 'middle' && home_description_text.present? %>
      <%= render partial: 'gadgets/home_description_gadget' %>
    <% end %>
    <%= render partial: 'home_workflowhub_buttons' if logged_in_and_registered? %>
    <% if logged_in_and_registered? && Seek::Config.home_show_my_items%>
      <%= render :partial=>"home_my_items" -%>
    <% end %>
    <% if Seek::Config.home_explore_projects %>
      <%= render :partial=>"workflowhub_explore_content" -%>
    <% end %>
    <% if !logged_in_and_registered? && Seek::Config.home_show_who_uses %>
      <%= render :partial=>"home_who_uses" -%>
    <% end %>
    <% if !logged_in_and_registered? && Seek::Config.home_show_integrations %>
      <%= render :partial=>"home_integrations" -%>
    <% end %>
  </div>

  <!-- right sidebar -->
  <div class="col-md-3">
    <%= render partial: 'workflowhub_shortcuts' -%>

    <% if logged_in_and_registered?  && Seek::Config.home_show_quickstart %>
      <%= render :partial=>"home_quick_start" -%>
    <% end %>

    <% if Seek::Config.home_description_position == 'side' && home_description_text.present? %>
      <%= render partial: 'gadgets/home_description_gadget' %>
    <% end %>

    <%= render :partial=>"gadgets/announcements_gadget" if show_announcements? %>
    <%= home_news_feeds %>

    <% if Seek::Config.workflows_enabled && Seek::Config.workflow_class_list_enabled %>
      <div id="workflow-class-list">
        <% cache do -%>
          <%= render partial: 'gadgets/workflow_class_gadget' %>
        <% end -%>
      </div>
    <% end %>

    <% if Seek::Config.tagging_enabled && Seek::Config.tag_cloud_enabled %>
      <div id="sidebar_tag_cloud">
          <%= render :partial => "gadgets/tag_cloud_gadget" %>
      </div>
    <% end %>
  </div>
</div>
<br>

<% if Seek::Config.human_diseases_enabled  %>
  <%= render :partial => 'human_diseases/overview_plot' %>
<% end %>
