<%= show_title('Feedback') %>

<script type="text/javascript">
    //customize theme of recaptcha widget, see https://developers.google.com/recaptcha/docs/customization
    var RecaptchaOptions = {
        theme: 'white'
    };
</script>

<div id="feedback_form">
  <p>
    Your feedback, error reports and suggestions are valuable to us.
  </p>

  <p>
    Please provide the details below, and your message will be forwarded to the <%= Seek::Config.instance_admins_name %>
    Team.
  </p>

  <%= form_tag send_feedback_home_url do -%>

      <div class="form-group">
        <%= label_tag :subject -%>
        <%= text_field_tag :subject, @subject, :class => 'form-control' -%>
      </div>

      <div style="display:none;" class="alert alert-warning" id="anon_notes">
        <p>
          <%= image("warning") %>
          If you send anonymously, we are unable to identify the person that sent the message.
          This means that we will not be able to contact you to discuss your feedback further.
        </p>
      </div>

      <div class="checkbox">
        <label>
          <% if current_user.try(:person) %>
              <%= check_box_tag :anon, true, @anon, :onchange => "$j('#anon_notes').fadeToggle();" -%>
          <% else %>
              <%= check_box_tag :anon, true, true, :disabled => true -%>
          <% end %>
          Send anonymously
        </label>
      </div>

      <div class="form-group">
        <%= label_tag :details -%><br/>
        <%= text_area_tag :details, @details, :rows => 8, :class => 'form-control' -%>
      </div>

      <% if Seek::Config.recaptcha_setup? %>
          <div class="form-group">
            <%= label_tag :verification -%>
            <p><%= recaptcha_tags -%></p>
          </div>
      <% end %>

      <%= submit_tag "Send feedback",  :class => 'btn btn-primary' -%>
  <% end -%>
</div>
