<style>
    .funder-row {
        padding: 1em;
    }
    .funder-logo {width: 160px}
</style>

<h1>FAIRDOM-SEEK Projects and Funding details</h1>


<div class="container">
<div class='row funder-row'>
  <div class='col-md-2'>
    <%= image 'eosc-life-logo',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to "EOSC-Life", "https://www.eosc-life.eu/", target:'_blank' %>
     brings together the 13 Life Science ‘ESFRI’ research infrastructures (LS RIs) to create an open, digital and collaborative space for biological and medical research.
    The project will publish ‘FAIR’ data and a catalogue of services provided by participating RIs for the management, storage and reuse of data in the European Open Science Cloud (EOSC).
  </div>
</div>

<div class='row funder-row'>
  <div class='col-md-2'>
    <%= image 'ibisba-logo',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to 'IBISBA', 'https://www.ibisba.eu/',target:'_blank' %>
     is a European distributed Research Infrastructure that promotes Industrial Biotechnology as a cornerstone of the bioeconomy. Driven by a coordinated network of leading research organisations, it enables academia and industry to access integrated experimental and in silico services to accelerate bio-based manufacturing processes.
  </div>
</div>

<div class='row funder-row'>
  <div class='col-md-2'>
    <%= image 'fairdom-logo',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to 'FAIRDOM', 'https://www.fair-dom.org/',target:'_blank' %>
     is a joint action of ERA-Net ERASysAPP and European Research Infrastructure ISBE to establish a data and model management service facility for Systems Biology.  Our prime mission is to support researchers, students, trainers, funders and publishers by enabling Systems Biology projects to make their Data, Operating procedures and Models, Findable, Accessible, Interoperable and Reusable (FAIR).
  </div>
</div>

<h2>Funding agencies</h2>

<div class='row funder-row'>
  <div class='col-md-2'>
    <%= image 'funder-eu-h2020',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to 'European Union Horizon 2020 Programme', 'https://ec.europa.eu/programmes/horizon2020/', target:'_blank' %>
    is the biggest EU Research and Innovation programme ever with nearly €80 billion of funding available over 7 years (2014 to 2020)
    – in addition to the private investment that this money will attract.
  </div>
</div>

<div class='row funder-row'>
  <div class='col-md-2'>
  <%= image 'funder-bbsrc',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to 'Biotechnology and Biological Sciences Research Council (BBSRC)', 'http://www.bbsrc.ac.uk/', target:'_blank' %>
    is a UK Research Council and non-departmental public
    body. Being the largest UK public funder of non-medical bioscience, the organization funds scientific research
    institutes and university research departments in the UK.
  </div>
</div>

<div class='row funder-row'>
  <div class='col-md-2'>
    <%= image 'funder-bmbf',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to 'The Federal Ministry of Education and Research (Bundesministerium für Bildung und Forschung – BMBF)', 'https://www.bmbf.de/en/', target:'_blank' %>
    , is a
    cabinet-level ministry of the Federal Republic of Germany. The Ministry provides funding for research projects and
    institutions and sets general educational policy
  </div>
</div>

<div class='row funder-row'>
  <div class='col-md-2'>
    <%= image 'funder-nwo',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to 'The Netherlands Organization for Scientific Research (Nederlandse Organisatie voor Wetenschappelijk Onderzoek)', 'http://www.nwo.nl/en', target:'_blank' %>
    is
    the national research council of the Netherlands. Promoting quality and innovation in science, the organization
    funds
    thousands of top researchers at universities/institutes inside the country.
  </div>
</div>

<div class='row funder-row'>
  <div class='col-md-2'>
    <%= image 'funder-systemsx',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to 'SystemsX (SystemsX.ch)', 'http://www.systemsx.ch/', target:'_blank' %> is the largest public
    research
    initiative in Switzerland. It focuses on a broad topical area
    of basic research with major specialization in systems biology.
  </div>
</div>

<p>
  SEEK development is funded until 2023. The <%= link_to 'FAIRDOMHub','https://fairdomhub.org', target:'_blank' %> is guaranteed to run until 2027.
</p>

<h2>Programmes</h2>

<br/>
<div class='row funder-row'>
  <div class='col-md-2'>
    <%= image 'programme-erasysapp',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to 'ERANET proposal Systems Biology Applications (ERASysAPP)', 'https://www.erasysapp.eu', target:'_blank' %>
    - The main objective of ERASysAPP is to promote multidimensional and complementary European systems biology projects, programmes and research initiatives on a number of selected research topics.
  </div>
</div>

<div class='row funder-row'>
  <div class='col-md-2'>
    <%= image 'programme-isbe',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to 'European Research Infrastructure (ISBE)', 'http://project.isbe.eu/', target:'_blank' %>
    - Creating a European research infrastructure that empowers scientists to understand how living organisms function to a level that allows rational and effective intervention in how biological systems operate.
    This allows life science researchers to deliver solutions that address societal grand challenges in health and quality of life, bio-economy and sustainability.
  </div>
</div>

<div class='row funder-row'>
  <div class='col-md-2'>
    <%= image 'programme-denbi',:class=>'funder-logo' %>
  </div>
  <div class="col-md-10">
    <%= link_to 'German Network for Bioinformatics Infrastructure – de.NBI', 'https://www.denbi.de/', target:'_blank' %>
    - A national, academic and non-profit infrastructure supported by the Federal Ministry of Education and Research providing bioinformatics services to users in life sciences research and biomedicine
    in Germany and Europe. The partners organize training events, courses and summer schools on tools, standards and compute services provided by de.NBI to assist researchers to more effectively exploit their data.


  </div>
</div>
</div>