<h1>My BioVeL</h1>

<% if logged_in? %>
    <%= folding_panel('Runs') do %>
        <%= render :partial=>"recent_runs" -%>
        <br/>
        <%= link_to 'See all', taverna_player.runs_path %>
    <% end %>
    <%= folding_panel('Workflows') do %>
        <%= render :partial=>"recent_workflows" -%>
        <%= render :partial=>"favourite_workflows" -%>
    <% end %>
<% end %>
