<% unless @error %>
    <p id="url_info">
    <ul>
      <li>
        The size of the file is
        <% if @size %>
            expected to be <strong><%= number_to_human_size(@size) -%></strong>
        <% else %>
            <span class="none_text">unknown</span>
        <% end %>
      </li>

      <% if @filename %>
          <li>The filename is <strong><%= @filename %></strong></li>
      <% end %>
    </ul>
    </p>
<% end %>

<div>
  <% if @unauthorized %>
      <div class="alert alert-warning" role="alert">
        <span class="warning_icon"></span>
        Access to this link is unauthorized.
        You can still register it as a link, but somebody wishing to access it may need a username and password to login to the site and download the file.
      </div>
  <% elsif @error %>
      <div class="alert alert-danger" role="alert">
        <span class="error_icon"></span>
        <%= @error_msg %>
      </div>
  <% elsif @size && @size > Seek::Config.hard_max_cachable_size %>
      <div class="alert alert-info" role="alert">
        This file exceeds <%= Seek::Config.application_name %>'s remote file size limit of
        <strong><%= number_to_human_size(Seek::Config.hard_max_cachable_size) -%></strong>
        and so only a link to the file will be stored.
      </div>
  <% else %>
      <div>
        <p>
          You can either upload this file to <%= Seek::Config.application_name %> using this URL, or you can register a link to the file.
        </p>

        <p>
          By selecting the option below, a copy of the file will be made. This is recommended, and is equivalent to uploading
          a file from your disk. It also means that should the data behind the URL become unavailable, the data is still
          available from <%= Seek::Config.application_name %>.
          However, you should be sure that the copyright on the file allows you to do this.
        </p>

        <p>
          If you do not select the option below <%= Seek::Config.application_name %> will store only the URL and a copy will not be stored on <%= Seek::Config.application_name %>. You should do this if the file
          is large or you always want <%= Seek::Config.application_name %> to deliver the latest version.
        </p>
      </div>
  <% end %>
</div>
