<%= error_messages_for :snapshot %>

<div class="form-group">
  <%= f.label :title -%><br/>
  <%= f.text_field :title, class: 'form-control', placeholder: snapshot_display_name(f.object) %>
</div>

<div class="form-group">
  <%= f.label :description -%><br/>
  <%= f.text_area :description, rows: 3, class: 'form-control' %>
</div>

<%= f.submit class: 'btn btn-primary' %>
