<% title = capture do %>
    <%= @snapshot.title -%>
    <small>(snapshot <%= @snapshot.snapshot_number -%>)</small>
<% end %>
<%= render :partial => "general/page_title", :locals => { :title => title, :buttons_partial => 'snapshots/buttons' } %>


<div class="row">
  <div class="col-md-9 col-sm-8">
    <%= item_description @snapshot.description -%>
    <% if @snapshot.doi %>
        <p><strong>DOI:</strong> <%= @snapshot.doi -%></p>
    <% end %>
    <p><strong>Created at:</strong> <%= @snapshot.created_at %></p>
    <pre><%= @snapshot.metadata.pretty_inspect %></pre>
    <pre><%= @snapshot.research_object.read('.ro/manifest.json') %></pre>
    <pre><%= @snapshot.research_object.entries.map(&:name).join("\n") %></pre>
  </div>
  <div class="col-md-3 col-sm-4">
    <%= render :partial=>"snapshots/snapshots",:locals => { :snapshots => @snapshot.resource.snapshots, :selected => @snapshot } %>
  </div>
</div>
