<script type="text/javascript">
    function updateInstitutionList(data, project_name){
        data = data.evalJSON(true);
        element = $('adv_creator_select_institutions');
        spinner = $('adv_creator_select_project_spinner');
        element.options.length = "";
        element.options[0] = new Option('All members of ' + project_name, 0);
        var next_index_to_use = 1;
        for (var i = 0; i < data.institution_list.length; i++) {
            element.options[next_index_to_use] = new Option('Members of ' + project_name + ' @ ' + data.institution_list[i][0], data.institution_list[i][1]);
            next_index_to_use++;
        }
        spinner.hide();
        element.show();
        $('adv_creator_select_add').style.display = 'inline-block';
    }
    
    function addPeopleToList(data){
        data = data.evalJSON(true);
        for (var i = 0; i < data.people_list.length; i++) {
            addCreator(data.people_list[i][0], data.people_list[i][1], data.people_list[i][2])
        }
        $('adv_creator_select_spinner').hide();
    }
</script>
<div style="margin-left:0.5em;">
    <%= link_to_function (image("multi_add") + " Add multiple project members"), "Effect.Appear('adv_creator_select');return false;", :class=>"block_link" %>
    <div id="adv_creator_select" style="display:none">
        <p>
            Add multiple people at once from a given project, at a given institution, using the menu below.
        </p>
        <%= select_tag("adv_project_id","<option selected=\"selected\" value=\"0\">Select project...</option>"+options_from_collection_for_select(Project.all, :id, :name),
        :id => "adv_creator_select_projects",
        :onchange => remote_function(:url => request_institutions_projects_url,
        :with => "'id='+$(this).options[$(this).selectedIndex].value",
        :loading => "Element.show('adv_creator_select_project_spinner')",
        :complete => "projectName = $('adv_creator_select_projects').options[$('adv_creator_select_projects').selectedIndex].innerHTML; updateInstitutionList(request.responseText,projectName)")) -%>
        <%= image 'spinner', :id => "adv_creator_select_project_spinner", :style => "display: none;" %>
        <%= select_tag("adv_institution_id", "<option value=\"0\">N/A</option>", :id => "adv_creator_select_institutions",:style=>"display:none;") %>
        <br/>
        <% add_html = image('new', :style => "vertical-align: middle")+" Add" %>
        <%= link_to_remote add_html, :html =>{:class=>"block_link",:id => "adv_creator_select_add", :style => "display:none;"},
        :url => get_work_group_people_url,
        :with => "'project_id='+$('adv_creator_select_projects').options[$('adv_creator_select_projects').selectedIndex].value+"+
        "'&institution_id='+$('adv_creator_select_institutions').options[$('adv_creator_select_institutions').selectedIndex].value",
        :loading => "Element.show('adv_creator_select_spinner')",
        :complete => "addPeopleToList(request.responseText)" -%><%= image 'spinner', :id => "adv_creator_select_spinner", :style => "display: none;" %>
    </div>
</div>
