<%= folding_panel("Add multiple #{t('project')} members", true, :body_options => {:id => 'adv_creator_select'}) do %>
    <p>
      Add multiple people at once from a given <%= t('project') %>, at a given institution, using the menu below.
    </p>
    <div class="form-group">
      <%= select_tag("adv_project_id",options_from_collection_for_select(Project.all, :id, :title),
                     :prompt => 'Select project...',
                     :id => "adv_creator_select_projects",
                     :onchange => remote_function(:url => request_institutions_projects_url,
                                                  :method => :get,
                                                  :with => "'id='+$j(this).val()",
                                                  :loading => "$j('#adv_creator_select_project_spinner').hide()",
                                                  :complete => "updateInstitutionList(request.responseText, $j('#adv_creator_select_projects option:selected').text())"),
                     :class => 'form-control') -%>
    </div>

    <%= image 'spinner', :id => "adv_creator_select_project_spinner", :style => "display: none;" %>

    <div class="form-group">
      <%= select_tag("adv_institution_id", "<option value=\"0\">N/A</option>".html_safe, :id => "adv_creator_select_institutions", :class => 'form-control', :style=>"display:none;") %>
    </div>

    <% add_html = image('new', :style => "vertical-align: middle")+" Add" %>
    <%= link_to_with_callbacks add_html, {
                                               :url => get_work_group_people_url,
                                               :method => :get,
                                               :with => "'project_id='+$j('#adv_creator_select_projects').val()+"+
                                                       "'&institution_id='+$j('#adv_creator_select_institutions').val()",
                                               :loading => "$j('#adv_creator_select_spinner').show()",
                                               :complete => "addPeopleToList(request.responseText)"},
                               {:class=>"btn btn-default",:id => "adv_creator_select_add", :style => "display:none;"} -%>
    <%= image 'spinner', :id => "adv_creator_select_spinner", :style => "display: none;" %>
<% end %>
