<% resource_text ||= text_for_resource(resource) %>
<script type="text/javascript">
</script>

<div class="fold">

  <div class="foldTitle">
    <%= help_icon("Here you associate Publications in SEEK to this #{resource_text}.") -%>
    Publications
  </div>

  <div id="associate_publication_fold_content" class="foldContent" style="display:<%= resource.publications.blank? ? 'none' : 'block' -%>">
    <div class="yui-u first" style="width:66%; float:left">
      
      <%
        all_publications = Publication.find(:all)
        project_publications=all_publications.select{|df| current_user.person.member_of?(df.projects)}
        select_truncate_length=120
      -%>
      
      <p style="color: #666666;">
        The following Publications are involved in this <%= resource_text -%>:
      </p>
      <div id="publication_to_list" class="box_editing_inner" style="line-height: 1.5">
        <span class="none_text" id="publication_files">Loading...</span>
      </div>
      <div class="association_step">  
        <%= select_tag :possible_publications,
          options_for_select([["Select Publication ...",0]]|project_publications.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}),
          {:style=>"width:90%",:onchange=>remote_function(
            :url=>{:action=>"preview",:controller=>"publications",:element=>"publication_preview"},
            :with=>"'id='+this.value",
            :before=>"show_ajax_loader('publication_preview')"
          )+";check_show_add_publication();return(false);"
        } -%>
        
        <%= select_tag :related_publication_ids,'',{:multiple=>true,:style=>"display:none;"} -%>
        
        <br/>

        <%= check_box_tag :include_other_project_publications, nil, false, {:onchange=>"toggle_publication_list();",:style=>"margin-top:0.5em;"} -%> Associate Publications from other projects?
      </div>
	  <br/>
      <%= link_to_function (image("new") + " Associate with this #{resource_text}"), "addSelectedPublication(); return(false);", :id=>"add_publication_link", :class=>"block_link" %>
    </div>
  
    <%= render :partial => 'assets/preview_box', :locals => {:preview_name => 'publication'} %>
  
  </div>
</div>
  

<script type="text/javascript">
    function toggle_publication_list() {
        var checked = $('include_other_project_publications').checked;
        var selection_box = $('possible_publications');
        var option;

        selection_box.options.length = 0;

        if (checked) {
        <% ([["Select Publication ...",0]]|all_publications.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |df_details| -%>
            option = document.createElement("OPTION");
            option.text = '<%= escape_javascript(df_details[0]) -%>';
            option.value = '<%= df_details[1] -%>';
            try {
                selection_box.add(option); //for older IE version
            }
            catch (ex) {
                selection_box.add(option, null);
            }
        <% end -%>
        }
        else {
        <% ([["Select Publication ...",0]]|project_publications.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |df_details| -%>
            option = document.createElement("OPTION");
            option.text = '<%= escape_javascript(df_details[0]) -%>';
            option.value = '<%= df_details[1] -%>';
            try {
                selection_box.add(option); //for older IE version
            }
            catch (ex) {
                selection_box.add(option, null);
            }
        <% end -%>
        }
        selection_box.selectedIndex = 0;
        selection_box.onchange();
    }
<% resource.publications.each do |publication| -%>
  <% if publication.can_view? -%>
      publication_id = '<%= publication.id -%>';
      publication_title = '<%= escape_javascript(publication.title) -%>';
      publication_array.push([publication_title,publication_id]);
  <% end -%>
<% end -%>

<% if params[:publication_ids] %>
  <% params[:publication_ids].each do |id| -%>
    <% publication = Publication.find(id) %>
    <% if publication.can_view? -%>
        publication_id = '<%= publication.id -%>';
        publication_title = '<%= escape_javascript(publication.title) -%>';
        publication_array.push([publication_title, publication_id]);
    <% end -%>
  <% end -%>
<% end -%>

  updatePublications();
  function check_show_add_publication() {
      i = $('possible_publications').selectedIndex;
      selected_id = $('possible_publications').options[i].value;
      if (selected_id == '0') {
          $('add_publication_link').hide();
      }
      else {
          $('add_publication_link').show();
      }
  }
  check_show_add_publication();
</script>
