<%
   resource_text ||= text_for_resource(resource)
   all_models=authorised_models
   project_models=authorised_models(current_user.person.projects)
    select_truncate_length=120
    associated_models = resource.is_a?(Publication) ? resource.related_models : resource.models
-%>

<div class="fold">
  <div class="foldTitle">
    <%= help_icon("Here you associate Models in SEEK to this #{resource_text}.") -%>
    Models
  </div>

  <div id="associate_model_fold_content" class="foldContent" style="display:<%= associated_models.blank? ? 'none' : 'block' -%>">
    <div class="yui-u first" style="width:66%; float:left">
      <p style="color: #666666;">
        The following Models are involved in this <%= resource_text -%>:
      </p>
      <div id="model_to_list" class="box_editing_inner" style="line-height: 1.5;">
        <span class="none_text" id="models">Loading...</span>
      </div>
      <br/>
      <div id="add_model_elements">
        <div class="association_step">
          <%= select_tag :possible_models,
            options_for_select([["Select Model ...", 0]]|project_models.collect{|s| [truncate(h(s.title), :length=>select_truncate_length), s.id]}),
            {:style=>"width:90%",:onchange=>remote_function(
                    :method=>:get,
              :url=>preview_models_path(:element=>"model_preview"),
              :with=>"'id='+this.value",
              :before=>"show_ajax_loader('model_preview')"
            )+";check_show_add_model();return(false);"
          } -%>

          <%= select_tag :model_ids, options_from_collection_for_select([], :id, :title), {:multiple=>true, :style=>"display:none;"} -%>

          <br/>
          <%= check_box_tag :include_other_project_models, nil, false, {:onchange=>"toggle_model_list();",:style=>"margin-top:0.5em;"} -%> Associate Models from other projects?
        </div>
		<br/>
        <%= link_to_function (image("new") + " Associate with this #{resource_text}"), "addSelectedModel(); return(false);", :id=>"add_model_link", :class=>"block_link" %>
      </div>
    </div>
    <%= render :partial => 'assets/preview_box', :locals => {:preview_name => 'model'} %>
  </div>
</div>

<script type="text/javascript">
    function toggle_model_list() {
        var checked = $('include_other_project_models').checked;
        var selection_box = $('possible_models');
        var option;

        selection_box.options.length=0;

        if (checked) {
        <% ([["Select Model ...",0]]|all_models.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |model_details| -%>
            option = document.createElement("OPTION");
            option.text = '<%= escape_javascript(model_details[0]) -%>';
            option.value = '<%= model_details[1] -%>';
            try {
                selection_box.add(option); //for older IE version
            }
            catch (ex) {
                selection_box.add(option, null);
            }
        <% end -%>
        }
        else {
        <% ([["Select Model ...",0]]|project_models.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |model_details| -%>
            option = document.createElement("OPTION");
            option.text = '<%= escape_javascript(model_details[0]) -%>';
            option.value = '<%= model_details[1] -%>';
            try {
                selection_box.add(option); //for older IE version
            }
            catch (ex) {
                selection_box.add(option, null);
            }
        <% end -%>
        }
        selection_box.selectedIndex=0;
        selection_box.onchange();
    }

<% models = resource.is_a?(Publication) ? resource.related_models : resource.model_masters %>
<% models.each do |model| -%>
  <% if model.can_view? -%>
      model_id = '<%= model.id -%>';
      model_title = '<%= escape_javascript(model.title) -%>';
      addModel(model_title, model_id);
  <% end -%>
<% end -%>

<% if params[:model_ids] %>
  <% params[:model_ids].each do |id| -%>
    <% model = Model.find(id) %>
    <% if model.can_view?-%>
        model_id = '<%= model.id -%>';
        model_title = '<%= escape_javascript(model.title) -%>';
        addModel(model_title, model_id);
    <% end -%>
  <% end -%>
<% end -%>

  updateModels();


  function check_show_add_model() {
    i = $('possible_models').selectedIndex;
    selected_id = $('possible_models').options[i].value;
    if (selected_id == '0') {
      $('add_model_link').hide();
    }
    else {
      $('add_model_link').show();
    }
  }

  check_show_add_model();
</script>