<%
  item = asset_checkbox_row
  checked ||= false
  block_published ||= false

  can_manage=item.can_manage?
  can_view=item.can_view?
  published=false
  tree_class = 'not-manageable'
  tree_class = 'manageable' if can_manage
  tree_class = 'not-visible' unless can_view
  if block_published
    if item.is_published?
      published=true
      tree_class = 'already-published'
    end
  end

  itemid="#{item.class.name}_#{item.id}"

  toggle ||=false
  show_managers ||= false
  show_permissions ||= false
-%>
<div class="isa-tree <%= html_classes -%> <%= tree_class %> <%= itemid %>">
  <% if toggle %>
    <%= render partial: 'assets/isa-tree-toggle' -%>
  <% end %>
  <% if can_view %>
    <div  style="display: inline; margin: 0 1em">
      <%= render partial: 'general/split_button_checkbox',
                 locals: { checkbox_id: publishing_item_param(item),
                           checkbox_class: itemid,
                           checked: checked,
                           checkbox_text: "",
                           published: published,
                           cant_manage: !(can_manage),
                           toggle: toggle } -%>
    </div>
    <h5 class="type_and_title" style="display: inline">
      <strong><%= text_for_resource item -%>:</strong> <%= link_to item.title, item, target: "_blank" -%>
      <% if show_permissions %>
        <a class="btn btn-default permissions_toggle" style="display: inline; margin-left:2em; padding:6px">
          <%= list_item_visibility(item)-%>
        </a>
      <% end %>
    </h5>
  <% else %>
    <div  style="display: inline; margin-right:1em">
      <%= render partial: 'general/split_button_checkbox',
                 locals: { checkbox_id: publishing_item_param(item),
                           checkbox_class: itemid,
                           not_visible: true,
                           toggle: toggle,
                           cb_parent_selector: cb_parent_selector} -%>
    </div>
    <h5 class="type_and_title" style="display: inline"><strong><%= text_for_resource item -%>:</strong> This item is hidden to you</h5>
    <%=list_item_visibility(item)-%>
    <% show_permissions=false%>
    <% unless current_user.try(:person) && item.can_see_hidden_item?(current_user.person) %>
      <% show_managers=false%>
    <% end %>
  <% end %>
  <% if show_managers %>
    <a class="btn btn-default managed_by_toggle" style="display: inline; margin-left:1em; padding:6px">
      <span class="glyphicon glyphicon-user" aria-hidden="true" style="position:relative; top:2px;" ></span>
    </a>
    <div class="managed_by_list" id="<%= itemid -%>" style="display:none;margin-left:5em">
      <strong>Manageable by:</strong> <%= item.managers.empty? ? "<span class='none_text'>None</span>".html_safe : item.managers.collect { |m| link_to(h(m.title), m) }.join(", ").html_safe -%>
    </div>
  <% end %>
  <% if show_permissions %>
    <%= render partial: 'assets/permission_list', locals: { item: item} -%>
  <% end %>
</div>
