<% resource_type=resource_type.underscore.humanize
   all_publications=authorised_publications.sort_by(&:title)
   project_publications=authorised_publications(current_user.person.projects).sort_by &:title
   select_truncate_length=120
   show_relationships=false
%>
<%= folding_panel('Publications', related_publications.blank?, :body_options => {:id => 'publications_fold_content'},
                  :help_text => "Here you attribute this #{resource_type} to any Publications registered in SEEK, or vice versa.") do %>
    <div class="row">
      <div class="col-md-8">
        <p class="pale_text">
          The following Publications are related to this <%= resource_type -%>:
        </p>

        <div id="publication_to_list" class="box_editing_inner" style="line-height: 1.5">
          <span class="none_text" id="publications">Loading...</span>
        </div>

        <div class="association_step">
          <div class="form-group">
            <%= select_tag :possible_publications,
                           '<option>Loading...</option>',
                           {:class => 'form-control',:onchange=>"addSelectedPublication();"+remote_function(
                                   :method=>:get,
                                   :url=>preview_publications_path(:element=>"publication_preview"),
                                   :with=>"'id='+this.value",
                                   :before=>"show_ajax_loader('publication_preview')"
                           )+";return(false);"
                           } -%>
          </div>

          <%= select_tag :related_publication_ids,'',{:multiple=>true,:style=>"display:none;"} -%>

          <% if show_relationships -%>
              <%= select_tag :publication_relationship_type, options_for_select([["None",0]]),:class => 'form-control' %>
          <% end -%>

          <%= check_box_tag :include_other_project_publications, nil, false, {:onchange=>"toggle_publication_list();",:style=>"margin-top:0.5em;"} -%> Associate Publications from other projects?
        </div>
      </div>
      <div class="col-md-4">
        <%= render :partial => 'assets/preview_box', :locals => {:preview_name => 'publication'} %>
      </div>
    </div>
<% end %>
<script type="text/javascript">
    var publicationOptions = {
        project: <%= ([["Select Publication...",0]]|project_publications.collect{|s| [truncate(s.title,:length=>select_truncate_length),s.id]}).to_json.html_safe %>,
        all: <%= ([["Select Publication...",0]]|all_publications.collect{|s| [truncate(s.title,:length=>select_truncate_length),s.id]}).to_json.html_safe %>,
    };

    function toggle_publication_list() {
        if ($('include_other_project_publications').checked)
            $j('#possible_publications').html(optionsFromArray(publicationOptions.all));
        else
            $j('#possible_publications').html(optionsFromArray(publicationOptions.project));
    }

    <% related_publications.each do |publication| -%>
    <% if publication.can_view?-%>
    publication_id = '<%= publication.id -%>';
    publication_title = '<%= escape_javascript(publication.title) -%>';
    relationship_type = '<%= escape_javascript("None") -%>';
    addPublication(publication_title,publication_id,relationship_type);
    <% end -%>
    <% end -%>

    <% if params[:related_publication_ids] %>
    <% params[:related_publication_ids].each do |id_and_rel_id| -%>
    <% a_id, r_type = id_and_rel_id.split(",") %>
    <% publication = Publication.find(a_id) %>
    <% if publication.can_view? -%>
    publication_id = '<%= publication.id -%>';
    publication_title = '<%= escape_javascript(publication.title) -%>';
    relationship_type = '<%= r_type -%>';
    addPublication(publication_title, publication_id, relationship_type);
    <% end -%>
    <% end -%>
    <% end -%>


    function check_show_add_publication() {
        i=$('possible_publications').selectedIndex;
        selected_id=$('possible_publications').options[i].value;
        if (selected_id=='0') {
            $('add_publication_link').hide();
        }
        else {
            $('add_publication_link').show();
        }
      }

    updatePublications();
    toggle_publication_list();
</script>
