<% asset ||= item %>
<% human_name = text_for_resource(asset) %>
<% display_asset = version ? asset.find_version(version) : nil %>

<% show_explore_btn = display_asset && (asset.is_a?(DataFile) && display_asset.supported_spreadsheet_format?) %>
<% show_view_content_btn = display_asset && (!asset.is_a?(Workflow) && (display_asset.single_content_blob && !display_asset.single_content_blob.show_as_external_link?)) %>
<% show_doi_button = display_asset && (asset.supports_doi? && asset.is_published? && asset.can_manage? && display_asset.can_mint_doi?) %>
<% show_publish_button = asset.is_in_isa_publishable? && asset.can_publish? %>

<%= source_link_button(asset.source_link) if asset.respond_to?(:source_link) && asset.source_link %>

<%= render partial: 'assets/request_contact', locals: { object: asset } if asset.respond_to?(:creators) -%>
<%= render partial: 'subscriptions/subscribe', locals: { object: asset } -%>

<% if asset.is_a?(DataFile) %>
  <% if asset.nels? %>
    <%= button_link_to('Fetch sample metadata', 'download', retrieve_nels_sample_metadata_data_file_path(asset), method: :post) %>
  <% end %>

  <% if asset.extracted_samples.any? %>
    <%= button_link_to("View samples", 'view_samples', data_file_samples_path(asset)) %>
  <% end %>

  <% if asset.can_manage? && (display_asset.version == asset.version) && asset.sample_template? && asset.extracted_samples.empty? %>
    <%# the job isn't in progress or waiting for confirmation of results %>
    <% unless asset.sample_extraction_task&.in_progress? || Seek::Samples::Extractor.new(asset).fetch %>
      <%= button_link_to('Extract samples', 'extract_samples', extract_samples_data_file_path(@data_file), method: :post) %>
    <% end %>
  <% end %>
<% end %>

<% if asset.is_downloadable? -%>
  <% if can_download_asset?(asset, params[:code]) -%>
    <% if asset.is_a?(Workflow) %>
      <% if asset.content_blob.file_exists? %>
        <%= button_link_to('Download RO-Crate', 'ro_crate_file', ro_crate_workflow_path(asset, version: version, code: params[:code]),
              'data-tooltip' => tooltip("The Workflow RO-Crate is a package containing the workflow definition, its metadata and supporting resources like test data")) %>
        <% if asset.can_run? %>
          <%= button_link_to("Run on #{Seek::Config.galaxy_instance_name || 'Galaxy'}", 'run_galaxy', run_workflow_url(display_asset)) %>
        <% end %>
      <% else %>
        <%= button_link_to('Download RO-Crate', 'ro_crate_file', nil,
                           disabled_reason: 'This workflow is still being processed, check back later.') %>
      <% end %>
    <% else %>
      <%= download_or_link_button display_asset,
                                  polymorphic_path(asset, version: version, action: :download, code: params[:code]),
                                  display_asset.single_content_blob.try(:url),
                                  human_name,
                                  class: 'btn btn-default', disabled: asset.download_disabled? %>
    <% end %>
    <% if show_explore_btn %>
      <% if display_asset.contains_extractable_spreadsheet? %>
        <%= button_link_to('Explore', 'spreadsheet', polymorphic_path(asset, version: version, action: :explore, code: params[:code])) %>
      <% else %>
        <% explanation = "This spreadsheet is too big to be explored (larger than #{Seek::Config.max_extractable_spreadsheet_size} MB), or the file does not exist." %>
        <%= button_link_to('Explore', 'spreadsheet', nil, disabled_reason: explanation) %>
      <% end %>
    <% elsif show_view_content_btn %>
      <%= render partial: 'assets/view_content',
                 locals: { content_blob: (asset.is_a?(Workflow) ? asset : display_asset).single_content_blob,
                           button_style: true } %>
    <% end %>
  <% end -%>

<% end -%>

<% if current_user && asset.respond_to?(:collections) %>
  <%= render partial: 'assets/add_to_collection', locals: { resource: asset } %>
<% end %>

<% if asset.can_edit? %>
  <%= add_to_dropdown(asset) %>
<% end %>

<%= item_actions_dropdown do %>
  <% if asset.can_edit? -%>
    <% if asset.versioned? -%>
      <li>
        <% if asset.new_version_supported? %>
          <% if asset.is_a?(Workflow) %>
            <%= link_to (image("new") + ' Register new version'), new_version_workflow_path(asset) %>
          <% else %>
            <%= link_to (image("new") + ' Register new version'), '#', onclick: "$j('#upload_new_version_form').fadeToggle(); return false" %>
          <% end %>
        <% else %>
          <%= link_to (image("new") + ' Register new version'), '#', disabled: true, class: 'disabled' %>
        <% end %>
      </li>
    <% end -%>

    <li><%= image_tag_for_key('edit', polymorphic_path(asset, action: :edit), nil, nil, "Edit #{human_name}") -%></li>
  <% end -%>

  <% if asset.can_manage? && (!asset.is_a?(Sample) || asset.can_edit?) #FIXME: strange case for Sample where you can manage but not edit (OPSK-2041). %>
    <li><%= image_tag_for_key('manage', polymorphic_path(asset, action: :manage), nil, nil, "Manage #{human_name}") -%></li>
  <% end %>

  <% if show_publish_button %>
    <li><%= image_tag_for_key('publish', polymorphic_path(asset, action: :check_related_items), nil, { method: :post }, "Publish #{human_name}") -%></li>
  <% end -%>

  <%= delete_icon(asset, current_user)%>

  <% if show_doi_button %>
    <li><%= image_tag_for_key('doi', polymorphic_path(asset, action: 'mint_doi_confirm', version: display_asset.version), nil, {}, "Generate a DOI") -%></li>
  <% end %>
<% end %>
