<ul class="sectionIcons">
  <% if asset.can_manage? -%>
    <li><%= link_to_function image("new")+" Upload new version", visual_effect(:toggle_appear, "upload_new_version_form") -%></li>
    <li><%= image_tag_for_key('manage', polymorphic_path(asset,:action=>:edit), nil, nil, "Manage #{human_name}") -%></li>
  <% elsif asset.can_edit? -%>
    <%# this is not owner, but current user can edit -%>
    <li><%= image_tag_for_key('edit', polymorphic_path(asset,:action=>:edit), nil, nil, "Edit #{human_name}") -%></li>
  <% end -%>

  <% if asset.can_delete? -%>
    <li><%= image_tag_for_key('destroy', polymorphic_path(asset), nil, { :confirm => "This deletes the #{human_name} and all metadata. Are you sure?", :method => :delete }, "Delete #{human_name}") -%></li>
  <% end -%>

  <% if asset.can_download? -%>
    <li>
      <%= image_tag_for_key('download', polymorphic_path(asset,:version=>version,:action=>:download), "Download #{human_name}", nil, "Download #{human_name}") -%>
    </li>
  <% else -%>
    <li>
      <%= render :partial=>"assets/request_resource",:locals=>{:resource=>asset} %>
    </li>
  <% end -%>

</ul>