<% resource_text ||= text_for_resource(resource)
   associated_data_files = resource.data_files
   all_data_files=authorised_data_files
   project_data_files=authorised_data_files(current_user.person.projects)
   select_truncate_length=120
%>
<%= folding_panel(t('data_file').pluralize, associated_data_files.blank?, :body_options => {:id => 'associate_data_fold_content'},
                  :help_text => "Here you associate #{t('data_file')} in SEEK to this #{resource_text}.") do %>
    <div class="row">
      <div class="col-md-8">
        <p style="color: #666666;">
          The following <%= t('data_file').pluralize %> are involved in this <%= resource_text -%>:
        </p>
        <div id="data_file_to_list" class="box_editing_inner" style="line-height: 1.5">
          <span class="none_text" id="data_files">Loading ...</span>
        </div>
        <div class="association_step">
          <p style="color: #666666;">
            You may select an existing <%= t('data_file') %> or <%= link_to "upload a new #{t('data_file')} here", new_data_file_path(:parent_name=>controller_name.underscore.singularize), :onclick => "window.open(this.href);return false;" %>  for the <%= resource_text -%>.
          </p>

          <% if show_relationships -%>
              <div class="form-group">
                <%= label_tag "How was the data used in this #{resource_text}" %>
                <%= select_tag :data_file_relationship_type, options_for_select([["None",0]] + RelationshipType.all.collect{|r| [r.title,r.id]}),:class => 'form-control' %>
              </div>
          <% end -%>
          <div class="form-group">
            <%= select_tag :possible_data_files,
                           '<option>Loading...</option>',
                           {:class => 'form-control',:onchange=>"addSelectedDataFile();"+remote_function(
                                   :method=>:get,
                                   :url=>preview_data_files_path(:element=>"data_file_preview"),
                                   :with=>"'id='+this.value",
                                   :before=>"show_ajax_loader('data_file_preview')"
                           )+";return(false)"
                           } -%>
          </div>

          <%= select_tag :data_file_ids,'',{:multiple=>true,:style=>"display:none;"} -%>
          <%= check_box_tag :include_other_project_data_files, nil, false, {:onchange=>"toggle_data_file_list();",:style=>"margin-top:0.5em;"} -%> Associate Data files from other projects?
        </div>
      </div>
      <div class="col-md-4">
        <%= render :partial => 'assets/preview_box', :locals => {:preview_name => 'data_file'} %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    var datafileOptions = {
        project: <%= ([["Select #{t('data_file')} ...",0]]|project_data_files.collect{|s| [truncate(s.title,:length=>select_truncate_length),s.id]}).to_json.html_safe %>,
        all: <%= ([["Select #{t('data_file')} ...",0]]|all_data_files.collect{|s| [truncate(s.title,:length=>select_truncate_length),s.id]}).to_json.html_safe %>
    };

    function toggle_data_file_list() {
        if ($('include_other_project_data_files').checked)
            $j('#possible_data_files').html(optionsFromArray(datafileOptions.all));
        else
            $j('#possible_data_files').html(optionsFromArray(datafileOptions.project));
    }


    function check_show_add_data_file() {
        i=$('possible_data_files').selectedIndex;
        selected_id=$('possible_data_files').options[i].value;
        if (selected_id=='0') {
            $('add_data_file_link').hide();
        }
        else {
            $('add_data_file_link').show();
        }
    }


    <% resource.data_files.each do |data_file| -%>
    <% if data_file.can_view? -%>
    data_file_id = '<%= data_file.id -%>';
    data_title = '<%= escape_javascript(data_file.title) -%>';
    <% if resource.instance_of? Assay %>
    relationship_type = '<%= escape_javascript(data_file.relationship_type(resource).try(:title) || "None") -%>';
    <%  else %>
    relationship_type = "None";
    <%  end %>
    addDataFile(data_title,data_file_id,relationship_type);
    <% end -%>
    <% end -%>

    <% if params[:data_file_ids] %>
    <% params[:data_file_ids].each do |id_and_rel_id| -%>
    <% a_id, r_type = id_and_rel_id.split(",") %>
    <% data_file = DataFile.find(a_id) %>
    <% if data_file.can_view? -%>
    data_file_id = '<%= data_file.id -%>';
    data_title = '<%= escape_javascript(data_file.title) -%>';
    relationship_type = '<%= r_type -%>';
    addDataFile(data_title, data_file_id, relationship_type);
    <% end -%>
    <% end -%>
    <% end -%>


    updateDataFiles();
    toggle_data_file_list();
</script>