<%
   creators = []
   creators = creators + resource.creators if resource.respond_to? :creators
   contributor = resource.contributor
   contributor = contributor.person if contributor.respond_to? :person
   creators << contributor if resource.contributor_credited? and contributor
   creators = creators.uniq
   creators = creators.select &:can_view?
   cache_key = creators.collect{|c| c.cache_key}.join("")
   cache_key = Digest::SHA2.hexdigest(cache_key)
%>
<% cache cache_key do -%>
    <% unless creators.empty? -%>
        <div class="text-center">
          <% if creators.size <= 2 %>
              <% creators.each do |a|  -%>
                  <%=  favouritable_icon(a, 60) -%>
              <% end -%>
          <% else %>
              <% creators[0...2].each do |a|  -%>
                  <%=  favouritable_icon(a, 60) -%>
              <% end -%>
              <div>
                <a href="#" id="authorAvatarListLink<%= resource.object_id -%>" onclick="toggleAuthorAvatarList(<%= resource.object_id-%>); return false;">(Show All)</a>
              </div>
              <div id="authorAvatarList<%= resource.object_id -%>" class="avatar_list_popup" style="display:none;">
                <% creators.each do |a|  -%>
                    <%=  favouritable_icon(a, 60) -%>
                <% end -%>
                <br/>
                <a href="#" onclick="toggleAuthorAvatarList(<%= resource.object_id-%>); return false;">(Close)</a>
              </div>
          <% end %>
        </div>
    <% else %>
        <% if !resource.contributor -%>
            <div class="text-center">
              <%= the_jerm :size=>30 -%>
            </div>
        <% end -%>
    <% end %>
<% end -%>
