<% resource_text ||= text_for_resource(resource)
   associated_data_files = resource.is_a?(Publication) ? resource.related_data_files : resource.data_files
%>
<div class="fold">

  <div class="foldTitle">
    <%= help_icon("Here you associate Data file in SEEK to this #{resource_text}.") -%>
    Data files
  </div>

  <div id="associate_data_fold_content" class="foldContent" style="display:<%= associated_data_files.blank? ? 'none' : 'block' -%>">
    <div class="yui-u first" style="width:66%; float:left">
      
      <%
         all_data_files=authorised_data_files.sort{|a, b| a.title<=>b.title}
         project_data_files=authorised_data_files(current_user.person.projects).sort_by &:title
        select_truncate_length=120
      -%>
      
      <p style="color: #666666;">
        The following Data files are involved in this <%= resource_text -%>:
      </p>
      <div id="data_file_to_list" class="box_editing_inner" style="line-height: 1.5">
        <span class="none_text" id="data_files">Loading...</span>
      </div>
      <div class="association_step">
        <p style="color: #666666;">
            You may select an existing Data File or <%= link_to h("upload a new Data File here"), new_data_file_path(:parent_name=>controller_name.underscore.singularize),:popup => true%>  for the <%= resource_text -%>.
        </p>
        <%= select_tag :possible_data_files,
          options_for_select([["Select Data file ...",0]]|project_data_files.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}),
          {:style=>"width:90%",:onchange=>remote_function(
            :url=>preview_data_files_path(:element=>"data_file_preview"),
            :with=>"'id='+this.value",
            :before=>"show_ajax_loader('data_file_preview')"
          )+";check_show_add_data_file();return(false)"
        } -%>
        
        <%= select_tag :data_file_ids,'',{:multiple=>true,:style=>"display:none;"} -%>
        
        <% if show_relationships -%>
          <br/>
          <%= label_tag "How was the data used in this #{resource_text}" %><br/>
          <%= select_tag :data_file_relationship_type, options_for_select([["None",0]] + RelationshipType.all.collect{|r| [r.title,r.id]}) %>
        <% end -%>
        
        <br/>
        <%= check_box_tag :include_other_project_data_files, nil, false, {:onchange=>"toggle_data_file_list();",:style=>"margin-top:0.5em;"} -%> Associate Data files from other projects?
      </div>
	  <br/>
      <%= link_to_function (image("new") + " Associate with this #{resource_text}"), "addSelectedDataFile(); return(false);", :id=>"add_data_file_link", :class=>"block_link" %>
    </div>
  
    <%= render :partial => 'assets/preview_box', :locals => {:preview_name => 'data_file'} %>
  
  </div>
</div>
  
<script type="text/javascript">
    function toggle_data_file_list() {
        var checked = $('include_other_project_data_files').checked;
        var selection_box = $('possible_data_files');
        var option;

        selection_box.options.length=0;

        if (checked) {
    <% ([["Select Data file ...",0]]|all_data_files.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |df_details| -%>
            option = document.createElement("OPTION");
            option.text = '<%= escape_javascript(df_details[0]) -%>';
            option.value = '<%= df_details[1] -%>';
            try {
              selection_box.add(option); //for older IE version
            }
            catch (ex) {
              selection_box.add(option, null);
            }
    <% end -%>
        }
        else {
    <% ([["Select Data file ...",0]]|project_data_files.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |df_details| -%>
            option = document.createElement("OPTION");
            option.text = '<%= escape_javascript(df_details[0]) -%>';
            option.value = '<%= df_details[1] -%>';
            try {
              selection_box.add(option); //for older IE version
            }
            catch (ex) {
              selection_box.add(option, null);
            }
    <% end -%>
        }
        selection_box.selectedIndex=0;
        selection_box.onchange();
      }

<% data_files = resource.is_a?(Publication) ? resource.related_data_files : resource.data_file_masters %>
<% data_files.each do |data_file| -%>
  <% if data_file.can_view? -%>
      data_file_id = '<%= data_file.id -%>';
      data_title = '<%= escape_javascript(data_file.title) -%>';
      <% if resource.instance_of? Assay %>
        relationship_type = '<%= escape_javascript(data_file.relationship_type(resource).try(:title) || "None") -%>';
      <%  else %>
        relationship_type = "None";
      <%  end %>
      addDataFile(data_title,data_file_id,relationship_type);
  <% end -%>
<% end -%>

<% if params[:data_file_ids] %>
  <% params[:data_file_ids].each do |id_and_rel_id| -%>
    <% a_id, r_type = id_and_rel_id.split(",") %>
    <% data_file = DataFile.find(a_id) %>
    <% if data_file.can_view? -%>
        data_file_id = '<%= data_file.id -%>';
        data_title = '<%= escape_javascript(data_file.title) -%>';
        relationship_type = '<%= r_type -%>';
        addDataFile(data_title, data_file_id, relationship_type);
    <% end -%>
  <% end -%>
<% end -%>

 updateDataFiles();

  function check_show_add_data_file() {
    i=$('possible_data_files').selectedIndex;
    selected_id=$('possible_data_files').options[i].value;
    if (selected_id=='0') {
      $('add_data_file_link').hide();
    }
    else {
      $('add_data_file_link').show();
    }
  }

  check_show_add_data_file();
</script>