<% resource_type = text_for_resource(resource)
   all_studies=authorised_studies.sort_by(&:title)
   project_studies=authorised_studies(current_user.person.projects).sort_by &:title
   select_truncate_length=120
%>
<%= folding_panel('Studies', resource.studies.blank?, :body_options => {:id => 'studies_fold_content'},
                  :help_text => "Here you attribute this #{resource_type} to any Studies registered in SEEK, or vice versa.") do %>
    <div class="row">
      <div class="col-md-8">
        <p class="pale_text">
          The following Studies are related to this <%= resource_type -%>:
        </p>

        <div id="study_to_list" class="box_editing_inner" style="line-height: 1.5">
          <span class="none_text" id="studies">Loading...</span>
        </div>

        <div class="association_step">
          <div class="form-group">
            <%= select_tag :possible_studies,
                           options_for_select([["Select Study ...",0]]|project_studies.collect{|s| [truncate(s.title,:length=>select_truncate_length).html_safe,s.id]}),
                           {:class => 'form-control',:onchange=>"addSelectedStudy();"+remote_function(
                                   :method=>:get,
                                   :url=>preview_studies_path(:element=>"study_preview"),
                                   :with=>"'id='+this.value",
                                   :before=>"show_ajax_loader('study_preview')"
                           )+";return(false);"
                           } -%>
          </div>

          <%= select_tag :study_ids,'',{:multiple=>true,:style=>"display:none;"} -%>


          <%= check_box_tag :include_other_project_studies, nil, false, {:onchange=>"toggle_study_list();",:style=>"margin-top:0.5em;"} -%> Associate Studiess from other projects?
        </div>
      </div>
      <div class="col-md-4">
        <%= render :partial => 'assets/preview_box', :locals => {:preview_name => 'study'} %>
      </div>
    </div>
<% end %>
<script type="text/javascript">
    updateStudies();
    toggle_study_list();

    function toggle_study_list() {
        var checked = $('include_other_project_studies').checked;
        var selection_box = $('possible_studies');
        var option;

        selection_box.options.length=0;

        if (checked) {
            <% ([["Select Study...",0]]|all_studies.collect{|s| [truncate(s.title,:length=>select_truncate_length).html_safe,s.id]}).each do |details| -%>
            option = document.createElement("OPTION");
            option.text = '<%= escape_javascript(details[0]) -%>';
            option.value = '<%= details[1] -%>';
            try {
                selection_box.add(option); //for older IE version
            }
            catch (ex) {
                selection_box.add(option, null);
            }
            <% end -%>
        }
        else {
            <% ([["Select Study ...",0]]|project_studies.collect{|s| [truncate(s.title,:length=>select_truncate_length).html_safe,s.id]}).each do |details| -%>
            option = document.createElement("OPTION");
            option.text = '<%= escape_javascript(details[0]) -%>';
            option.value = '<%= details[1] -%>';
            try {
                selection_box.add(option); //for older IE version
            }
            catch (ex) {
                selection_box.add(option, null);
            }
            <% end -%>
        }
        //selection_box.onchange();
    }

    <% resource.studies.each do |study| -%>
    <% if study.can_view?-%>
    study_id = '<%= study.id -%>';
    study_title = '<%= escape_javascript(study.title) -%>';
    addStudy(study_title,study_id);
    <% end -%>
    <% end -%>

    <% if params[:study_ids] %>
    <% params[:study_ids].each do |id| -%>
    <% study = Study.find(id) %>
    <% if study.can_view? -%>
    study_id = '<%= study.id -%>';
    study_title = '<%= escape_javascript(study.title) -%>';
    addStudy(study_title, study_id);
    <% end -%>
    <% end -%>
    <% end -%>


    function check_show_add_study() {
        i=$('possible_studys').selectedIndex;
        selected_id=$('possible_studies').options[i].value;
        if (selected_id=='0') {
            $('add_study_link').hide();
        }
        else {
            $('add_study_link').show();
        }
    }

    updateStudies();
</script>
