<%
  item = asset_checkbox_row
  checked ||= false
  block_published ||= false

  can_manage=item.can_manage?
  can_view=item.can_view?
  published=false
  tree_class = 'not-manageable'
  tree_class = 'manageable' if can_manage
  tree_class = 'not-visible' unless can_view
  if block_published
    if item.is_published?
      published=true
      tree_class = 'already-published'
    end
  end

  itemid="#{item.class.name}_#{item.id}"

  toggle ||= false
  show_managers ||= false
  show_permissions ||= false
  show_managers = show_managers && (can_view || item.can_see_hidden_item?(current_user.person))
-%>
<div class="isa-tree <%= html_classes -%> <%= tree_class %> <%= itemid %>">
  <div class="batch-asset-selection-row">
    <% if toggle %>
      <%= render partial: 'assets/isa-tree-toggle' -%>
    <% end %>

    <%= render partial: 'general/split_button_checkbox',
               locals: { checkbox_id: publishing_item_param(item),
                         checkbox_class: itemid,
                         checked: can_view && checked,
                         not_visible: !can_view,
                         published: can_view && published,
                         cant_manage: !(can_manage),
                         toggle: toggle } -%>

    <h5 class="type_and_title" style="display: inline">
      <strong><%= text_for_resource item -%>:</strong>
      <% if can_view %>
        <%= link_to item.title, item, target: "_blank" -%>
      <% else %>
        This item is hidden to you
      <% end %>
    </h5>

    <% if show_permissions %>
      <% if can_view %>
        <a class="btn btn-default btn-sm permissions_toggle">
          <%= list_item_visibility(item)-%>
        </a>
      <% else %>
        <%= list_item_visibility(item)-%>
      <% end %>
    <% end %>

    <% if show_managers %>
      <a class="btn btn-default btn-sm managed_by_toggle">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </a>
    <% end %>
  </div>

  <% if show_managers %>
    <div class="managed_by_list" id="<%= itemid -%>" style="display:none;">
      <strong>Manageable by:</strong>
      <% if item.managers.empty? %>
        <span class="none_text">None</span>
      <% else %>
        <%= item.managers.collect { |m| link_to(h(m.title), m) }.join(", ").html_safe -%>
      <% end %>
    </div>
  <% end %>
  <% if show_permissions && can_view %>
    <%= render partial: 'assets/permission_list', locals: { item: item } -%>
  <% end %>
</div>
