<%
   creators = []
   creators = creators + resource.creators if resource.respond_to? :creators
   contributors = resource.contributors.map { |c| c.try(:person) }.compact.uniq
   creators += contributors if resource.contributor_credited?
   creators = creators.uniq
   creators = creators.select &:can_view?
   cache_key = creators.collect{|c| c.cache_key}.join("")
   cache_key = Digest::SHA2.hexdigest(cache_key)
%>
<% cache cache_key, skip_digest: true do -%>
    <% unless creators.empty? -%>
        <div class="text-center">
          <% if creators.size <= 2 %>
              <% creators.each do |a|  -%>
                  <%=  favouritable_icon(a, 60) -%>
              <% end -%>
          <% else %>
              <% creators[0...2].each do |a|  -%>
                  <%=  favouritable_icon(a, 60) -%>
              <% end -%>
              <%= link_to('(Show All)', '#', 'data-toggle' => 'modal', 'data-target' => "#author-avatar-list#{resource.object_id}") %>
          <% end %>
        </div>
        <%= modal(id: "author-avatar-list#{resource.object_id}", class: 'text-left', size: 'lg') do %>
            <% contributors_text = resource.class.name.underscore=='publication' ? 'All authors' : 'All creators' %>
            <%= modal_header(contributors_text) %>
            <%= modal_body do %>
                <% creators.each do |a|  -%>
                    <div class="popup-contributor">
                      <%= favouritable_icon(a, 40) -%>
                      <div class="popup-contributor-name">
                        <%= a.name %>
                      </div>
                    </div>
                <% end -%>
            <% end %>
            <%= modal_footer do %>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <% end %>
        <% end %>
    <% else %>
        <% if resource.has_deleted_contributor? -%>
          <div class="text-center">
            <%= deleted_contributor_contributor_icon :size=>30 -%>
          </div>
        <% elsif resource.has_jerm_contributor? -%>
            <div class="text-center">
              <%= the_jerm_contributor_contributor_icon :size=>30 -%>
            </div>
        <% end -%>
    <% end %>
<% end -%>
