<%
  has_direction ||= false
  has_relationships ||= false
  resource_text ||= text_for_resource(resource)

  if params[:data_files] && params[:data_files].any?
    collapse_panel = false
    associated_data_files_json = associations_json_from_params(DataFile, params[:data_files])
  elsif resource.respond_to?(:asset_assets)
    assay_assets = resource.assay_assets.where(asset_type: 'DataFile').includes(:asset, :relationship_type)
    collapse_panel = assay_assets.empty?
    associated_data_files_json = associations_json_from_assay_assets(assay_assets)
  else
    collapse_panel = resource.data_files.empty?
    associated_data_files_json = associations_json_from_relationship(resource.data_files)
  end
-%>

<%= folding_panel("Data Files", collapse_panel, :body_options => {:id => 'associate_data_file_fold_content'},
                  :help_text => "Here you associate Data Files in SEEK to this #{resource_text}.") do %>

    <p>The following Data Files are involved in this <%= resource_text -%>:</p>

    <% if has_direction -%>
        <%= associations_list_group('data_file_to_list', 'direction.value', associated_data_files_json) do %>
            <div class="row">
              <div class="col-md-4">
                <h3>Incoming</h3>
                <%= associations_list('incoming-data-file-list', 'associations/data_file', '',
                                      empty_text: 'No incoming data',
                                      'data-multilist-group-value' => AssayAsset::Direction::INCOMING) %>
              </div>
              <div class="col-md-4">
                <h3>Outgoing</h3>
                <%= associations_list('outgoing-data-file-list', 'associations/data_file', '',
                                      empty_text: 'No outgoing data',
                                      'data-multilist-group-value' => AssayAsset::Direction::OUTGOING) %>
              </div>
              <div class="col-md-4">
                <h3>No direction</h3>
                <%= associations_list('other-data-file-list', 'associations/data_file', '',
                                      empty_text: 'No other data',
                                      'data-multilist-group-value' => AssayAsset::Direction::NODIRECTION) %>
              </div>
            </div>
        <% end %>
    <% else %>
        <%= associations_list('data_file_to_list', 'associations/data_file', associated_data_files_json,
                              empty_text: 'No data files') %>
    <% end %>

    <hr/>

    <%= association_selector('data_file_to_list', 'Associate data', 'Associate data', size: 'md') do %>
        <label>Select data file</label>
        <%= filterable_association_select(filter_data_files_path(:assay_id => resource.id)) do %>
            <%= render :partial => 'data_files/association_preview', :collection => DataFile.limit(0),
                       :locals => { :existing => resource.data_files }
            %>
        <% end %>

        <hr/>
        <% if has_relationships -%>
            <div class="form-group">
              <%= label_tag "How was the data used in this #{resource_text}" %>
              <%= select_tag :relationship_type, options_for_select([["None",0]] + RelationshipType.all.collect{|r| [r.title,r.id]}),:class => 'form-control',
                             'data-role' => 'seek-association-common-field' %>
            </div>
        <% end %>
        <% if has_direction -%>
            <div class="form-group">
              <label>Select direction</label>
              <%= select_tag(:direction, direction_options, :class => 'form-control', 'data-role' => 'seek-association-common-field') %>
            </div>
        <% end %>
    <% end %>
<% end %>
