<%# This partial is expecting 3 parameters to be defined: -%>
<%# - resource_class - class of resource for which the attributions form is displayed (required because various types of resources have different requirements for attributions) -%>
<%# - existing_attributions - collection of existing attributions for the current resource (this should be collection of resources - NOT collection of records of Attribution class) -%>

<!-- Attributions -->
<%
  resource_type_text = text_for_resource(resource_class.name)
  collapsed = existing_attributions.blank? if collapsed.nil?
-%>

<%= folding_panel('Attributions', collapsed, :body_options => {:id => 'attributions_fold_content'},
                  :help_text => "Here you attribute this #{resource_type_text} to other #{resource_type_text.pluralize}.") do %>
    <p>
      If this <%= resource_type_text %> is based on any existing <%= resource_type_text.pluralize -%>, please list them below
    </p>

    <div class="box_editing">
      <p class="pale_text">
        So far you have specified the following attributions:
      </p>
      <ul id="attributed_to_list" class="box_editing_inner associations-list">
        <li class="ass"><span class="none_text" id="attributed_to_text">Loading...</span></li>
      </ul>
      <p>
        Please type titles of <%= resource_type_text.pluralize -%> into the box below - suggestions will be displayed as you type.
        Select resources that you want to attribute to.
      </p>
      <p>
        <%= objects_input('attribution-typeahead', [], typeahead: {query_url: polymorphic_path(resource_class, action: :typeahead)}, limit:1, style:"width:100%") -%>
        <%= hidden_field_tag "attributions", "" -%> <%# this hidden input will submit all permission data with the form -%>
      </p>
    </div>

<% end %>

<script type="text/javascript">
  // recreate internal store of attributions..
  var attributions = <%= existing_attributions.map do |a|
  {   type: a.class.name,
      id: a.id,
      text: a.title,
      contributor: a.contributor.name }
  end.to_json.html_safe -%>;
  updateAttributionSettings(); // ..and update the page to make existing attributions visible
</script>
