<%# This partial is expecting 3 parameters to be defined: -%>
<%# - form - the form object -%>
<%# - existing_creators - list of creators for the current resource (this should be collection of Person objects) -%>
<%# - other_creators - list of non-SEEK creators for the current resource (this should be a string) -%>

<%
  resource_type = form.object.class.name.underscore
  resource_type_text = text_for_resource(form.object)
  collapsed = existing_creators.blank? if collapsed.nil?
%>

<%= folding_panel(t('creator').capitalize.pluralize, collapsed, :id=>'author_form',:body_options => {:id => 'creator_fold_content'},
                  :help_text => "Here you attribute this #{resource_type_text} to other people.") do %>
  <p>
    If this <%= resource_type_text %> was created, by or together with, other members, please list their names below.
    <br/>
    <strong>
      The <%= t('creator').pluralize -%> you specify will have permissions to 'view and edit summary and contents'.
    </strong>
  </p>

  <p style="color: #666666;">
    So far you have specified the following <%= t('creator').pluralize -%>:
  </p>
  <%= hidden_field_tag "#{resource_type}[creator_ids][]" %>
  <ul id="creators_list" class="box_editing_inner">
    <li><span class="none_text" id="creators_text">Loading...</span></li>
  </ul>
  <p>
    Please type <%= t('creator').pluralize -%> into the box below - suggestions will be displayed as you type.
  </p>
  <p>
    <%= objects_input('creator-typeahead', [], :typeahead => {:query_url => typeahead_people_path + '?query=%QUERY'}) -%>
  </p>

  <p>
    If anyone not registered with <%= Seek::Config.application_name %> assisted creating this <%= resource_type_text %>, you can specify them below.
  </p>
  <p>
    <%= text_field_tag "#{resource_type}[other_creators]", other_creators, :class => 'form-control' %>
  </p>

<% end %>

<script type="text/javascript">
    var resourceType = "<%= resource_type -%>";
    // recreate internal store of attributions..
    var creators = <%= existing_creators.map do |c|
    {   id: c.id,
        name: c.name,
        email: c.email,
        projects: c.projects.map(&:title).join(", ") }
    end.to_json.html_safe -%>;
    updateCreatorSettings(); // ..and update the page to make existing attributions visible
</script>
