<%# This partial is expecting 3 parameters to be defined: -%>
<%# - resource_type - type of resource for which the creators form is displayed (required because various types of resources have different requirements for attributions) -%>
<%# - existing_creators - list of creators for the current resource (this should be collection of Person objects) -%>
<%# - other_creators - list of non-SEEK creators for the current resource (this should be a string) -%>

<% original_resource_type = resource_type -%>
<% resource_type = text_for_resource(resource_type) -%>

<%= folding_panel('Contributors', existing_creators.blank?, :body_options => {:id => 'creator_fold_content'},
                  :help_text => "Here you attribute this #{resource_type} to other people.") do %>
    <p>
      If this <%= resource_type %> was contributed by, or together with, other <%= Seek::Config.project_name %> members, please list their names below. <br/>
      The contributors you specify will have the right to 'view and edit summary and contents' of this <%= resource_type %>.
    </p>

    <p style="color: #666666;">
      So far you have specified the following contributors:
    </p>
    <p id="creators_list" class="box_editing_inner">
      <span class="none_text" id="creators_text">Loading...</span>
    </p>
    <p>
      Please type contributors into the box below - suggestions will be displayed as you type.
      Select contributors that you want to include and click "Add" to add them to the list.
    </p>
    <%= objects_input('creator-typeahead', [], :typeahead => {:query_url => typeahead_people_path + '?query=%QUERY'}) -%>
    <%# this hidden input will submit all permission data with the form -%>
    <%= hidden_field_tag "creators", "" -%>

    <%= render :partial => 'assets/advanced_creator_select' %>
    <%= folding_panel('Add non-SEEK creators') do %>
        <p>
          If anyone not registered with SEEK assisted with the contribution of this <%= resource_type %>, you can specify them below.
        </p>
        <%= text_field_tag original_resource_type.underscore+"[other_creators]", other_creators, :class => 'form-control' %>
    <% end %>
<% end %>

<script type="text/javascript">
    // recreate internal store of attributions..
    var creators = <%= existing_creators.map do |c|
    {   id: c.id,
        name: c.name,
        email: c.email,
        projects: c.projects.map(&:title).join(", ") }
    end.to_json.html_safe -%>;
    updateCreatorSettings(); // ..and update the page to make existing attributions visible
</script>
