<%
  publishing ||= false
  show_hide_blocked ||= false
  show_hide_permissions ||= false
  blocked_selector ||= ''
-%>


<div class="btn-group btn-group-toggle" id="sort_by" data-toggle="buttons">
  <label class="btn btn-secondary active" style="border: 1px solid"
         onclick="$j('div#sorted_by_type').show();$j('div#sorted_by_isa').hide()">
    <input type="radio" name="options" id="sort_by_type" autocomplete="off" checked>
    Sort by type
  </label>
  <label class="btn btn-secondary" style="border: 1px solid"
         onclick="$j('div#sorted_by_type').hide();$j('div#sorted_by_isa').show()">
    <input type="radio" name="options" id="sort_by_isa" autocomplete="off">
    Sort by ISA
  </label>
</div>
<br/><br/>
<div>
  <%= render partial: 'assets/batch_asset_selection_buttons', locals: {
    id: "items",
    text: "your items",
    cb_parent_selector: "body",
    show_hide_selector: "div#sorted_by_type,#sorted_by_isa",
    select_deselect_all: true,
    collapse_expand: true,
    show_hide_permissions: show_hide_permissions
  } %>
</div>

<div id="sorted_by_type" >
  <% @assets.sort_by { |k, v| v.first.class.name }.each do |type, items| %>
    <div id="<%= items.first.class.table_name %>">
      <%= render partial: 'assets/isa-tree-toggle', locals: { cb_parent_selector: "div##{items.first.class.table_name}" } -%>
      <h2 style="display: inline;"><%= text_for_resource items.first %>(s)</h2>
      <div class="isa-tree" style="border-left:none">
        <%= render partial: 'assets/batch_asset_selection_buttons', locals: {
          id: items.first.class.table_name,
          text: (text_for_resource items.first).downcase.pluralize,
          cb_parent_selector: 'div#'+items.first.class.table_name,
          select_deselect_all: true
        } %>
        <% items.each do |item| %>
          <%= render partial: 'assets/asset_checkbox_row',
                     object: item,
                     locals: { html_classes: 'publishing_options',
                                block_published: publishing } -%>
        <% end %>
      </div>
    </div>
  <% end %>
  <br/>
</div>

<div id="sorted_by_isa" >
  <% unless @assets_not_in_isa.empty? %>
    <div id="items_not_in_isa" style="display: inline;">
      <%= render partial: 'assets/isa-tree-toggle', locals: { cb_parent_selector: "div#items_not_in_isa" } -%>
      <h2 style="display: inline;">Items not in ISA</h2>
      <div class="isa-tree" style="border-left:none">
        <%= render partial: 'assets/batch_asset_selection_buttons', locals: {
          id: "items_not_in_isa",
          text: "items not in ISA",
          cb_parent_selector: 'div#items_not_in_isa',
          select_deselect_all: true
        } %>
      </div>
      <% @assets_not_in_isa.each do |item| %>
        <%= render partial: 'assets/asset_checkbox_row',
                   object: item,
                   locals: { html_classes: "publishing_options",
                              block_published: publishing } -%>
      <% end %>
      <br/>
    </div>
  <% end %>

  <br/>

  <% unless @investigations.empty? %>
    <div id="items_in_isa" style="display: inline;">
      <%= render partial: 'assets/isa-tree-toggle', locals: { cb_parent_selector: "div#items_in_isa" } -%>
      <h2 style="display: inline;">Items in ISA</h2>
      <div class="isa-tree" style="border-left:none">
        <%= render partial: 'assets/batch_asset_selection_buttons', locals: {
          id: "items_in_isa",
          text: "items in ISA",
          cb_parent_selector: "div#items_in_isa",
          collapse_selector: "div#investigation_list",
          blocked_selector: blocked_selector,
          select_deselect_all: true,
          collapse_expand: true,
          show_hide_blocked: show_hide_blocked
        } %>
      </div>
      <div id="investigation_list">
        <% @investigations.each do |inv| %>
          <%= render partial: 'assets/isa_tree_preview',
                     locals: { publishing: publishing },
                     collection: inv.assays.map(&:study).map(&:investigation).flatten.uniq %>
        <% end %>
      </div>
      <br/>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    $j(document).ready(function () {
        $j('div#sorted_by_isa').hide()
    })
    $j(document).ready(function () {
        hideBlocked(document,"<%="#{blocked_selector}"%>")
    })
</script>