<%
  publishing ||= false
  show_hide_blocked ||= false
  blocked_selector ||= ''
-%>


<div class="btn-group btn-group-toggle" id="sort_by" data-toggle="buttons">
  <label class="btn btn-secondary active" style="border: 1px solid"
         onclick="$j('div#sorted_by_type').show();$j('div#sorted_by_isa').hide()">
    <input type="radio" name="options" id="sort_by_type" autocomplete="off" checked>
    Sort by type
  </label>
  <label class="btn btn-secondary" style="border: 1px solid"
         onclick="$j('div#sorted_by_type').hide();$j('div#sorted_by_isa').show()">
    <input type="radio" name="options" id="sort_by_isa" autocomplete="off">
    Sort by ISA
  </label>
</div>
<br/><br/>
<div>
  <label><a class="selectChildren" id="select_all" data-cb_parent_selector='body' >
    Select all your items </a></label> |
  <label><a class="deselectChildren" id="deselect_all" data-cb_parent_selector='body' >
    Deselect all your items </a></label> |
  <label><a class="collapseChildren" id="collapse_all" data-cb_parent_selector='body' >
    Collapse all </a></label> |
  <label><a class="expandChildren" id="expand_all" data-cb_parent_selector='body' >
    Expand all </a></label>
</div>

<div id="sorted_by_type" >
  <% @assets.sort_by { |k, v| v.first.class.name }.each do |type, items| %>
    <div id="<%= items.first.class.table_name %>">
      <%= render :partial => 'assets/isa-tree-toggle', locals: { cb_parent_selector: "div##{items.first.class.table_name}" } -%>
      <h2 style="display: inline;"><%= text_for_resource items.first %>(s)</h2>
      <div class="isa-tree" style="border-left:none">
        <label><a class="selectChildren" id="<%="select_all_#{items.first.class.table_name}"%>"
                  data-cb_parent_selector='div#<%= items.first.class.table_name %>' >
          Select all <%= "#{(text_for_resource items.first).downcase.pluralize}" %> </a></label> |
        <label><a class="deselectChildren" id="<%="deselect_all_#{items.first.class.table_name}"%>"
                  data-cb_parent_selector='div#<%= items.first.class.table_name %>' >
          Deselect all <%= "#{(text_for_resource items.first).downcase.pluralize}" %> </a></label>
        <% items.each do |item| %>
          <%= render :partial => "assets/asset_checkbox_row",
                     :object => item,
                     :block_published => publishing,
                     :locals => { :html_classes => "publishing_options" } -%>
        <% end %>
      </div>
    </div>
  <% end %>
  <br/>
</div>

<div id="sorted_by_isa" >
  <% unless @assets_not_in_isa.empty? %>
    <div id="items_not_in_isa" style="display: inline;">
      <%= render :partial => 'assets/isa-tree-toggle', locals: { cb_parent_selector: "div#items_not_in_isa" } -%>
      <h2 style="display: inline;">Items not in ISA</h2>
      <div class="isa-tree" style="border-left:none">
        <label><a class="selectChildren" id="select_all_items_not_in_isa"
                  data-cb_parent_selector='div#items_not_in_isa' >
          Select all items not in ISA </a></label> |
        <label><a class="deselectChildren" id="deselect_all_items_not_in_isa"
                  data-cb_parent_selector='div#items_not_in_isa' >
          Deselect all items not in ISA </a></label>
      </div>
      <% @assets_not_in_isa.each do |item| %>
        <%= render :partial => "assets/asset_checkbox_row",
                   :object => item,
                   :block_published => publishing,
                   :locals => { :html_classes => "publishing_options" } -%>
      <% end %>
      <br/>
    </div>
  <% end %>

  <br/>

  <% unless @investigations.empty? %>
    <div id="items_in_isa" style="display: inline;">
      <%= render :partial => 'assets/isa-tree-toggle', locals: { cb_parent_selector: "div#items_in_isa" } -%>
      <h2 style="display: inline;">Items in ISA</h2>
      <div class="isa-tree" style="border-left:none">
        <label><a class="selectChildren" id="select_all_items_in_isa"
                  data-cb_parent_selector='div#items_in_isa' >
          Select all items in ISA </a></label>
        | <label><a class="deselectChildren" id="deselect_all_items_in_isa"
                  data-cb_parent_selector='div#items_in_isa' >
          Deselect all items in ISA </a></label>
        | <label><a class="collapseChildren" id="collapse_isa" data-cb_parent_selector='div#investigation_list' >
          Collapse all </a></label>
        | <label><a class="expandChildren" id="expand_isa" data-cb_parent_selector='div#items_in_isa' >
          Expand all </a></label>
        <% if show_hide_blocked %>
          | <label><a class="showBlocked" data-cb_parent_selector='div#items_in_isa' data-blocked_selector="<%="#{blocked_selector}"%>">
            Show blocked items </a></label>
          | <label><a class="hideBlocked" data-cb_parent_selector='div#items_in_isa' data-blocked_selector="<%="#{blocked_selector}"%>">
            Hide blocked items </a></label>
        <% end %>
      </div>
      <div id="investigation_list">
        <% @investigations.each do |inv| %>
          <%= render :partial => "assets/isa_tree_preview",
                     :locals => { :publishing => publishing },
                     :collection => inv.assays.map(&:study).map(&:investigation).flatten.uniq %>
        <% end %>
      </div>
      <br/>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    $j(document).ready(function () {
        $j('div#sorted_by_isa').hide()
    })
</script>