<% snapshot ||= nil %>
<% blob ||= nil %>
<% url = blob ? blob.content_path(display: 'citation', disposition: 'inline') : citation_path(doi) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <button class="btn-default btn btn-xs clipboard-btn pull-right" data-clipboard-target="#citation">
      <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
      Copy
    </button>
    Citation
  </div>
  <div class="panel-body">
    <div id="citation" class="well well-sm citation-box">
      <% if blob %>
        <%= render partial: 'assets/citation_from_cff', locals: { blob: blob, style: selected_citation_style } %>
      <% else %>
        <%= render partial: 'assets/citation_from_doi', locals: { doi: doi, style: selected_citation_style } %>
      <% end %>
    </div>

    <%= select_tag(nil, citation_style_options, id: 'citation-style-select', class: 'form-control',
                   data: { url: url }) %>

    <% if snapshot %>
      <span class="subtle">
        Note: This is a citation for
        <%= link_to "Snapshot #{snapshot.snapshot_number}", polymorphic_path([snapshot.resource, snapshot]) %>
        of this <%= snapshot.resource_type.humanize %>, the contents of which may vary from what is shown on this page.
      </span>
    <% end %>
  </div>
</div>
