<%= panel('Citation', id: 'citation-instructions') do %>
    <p>Make your <%= text_for_resource(resource) -%> easily citable by generating a DOI for it.</p>

    <% if versioned_resource.doi_time_locked? %>
        <div class="alert alert-info">
          <p>Resources must be older than <%= Seek::Config.time_lock_doi_for %> days before being eligible for a DOI.</p>

          <p>
            <strong>Eligible in:</strong> <%= time_ago_in_words(versioned_resource.doi_time_lock_end) %>
          </p>
        </div>
    <% else %>
        <% if resource.is_published? %>
            <div class="text-center">
              <%= button_link_to('Generate a DOI', 'doi', polymorphic_path(resource, action: 'mint_doi_confirm', version: versioned_resource.version)) %>
            </div>
        <% else %>
            <div class="alert alert-info">
              <p>To be citable, resources must be made public before being assigned a DOI.</p>

              <div class="text-center">
                <%= button_link_to('Publish', 'publish', polymorphic_path(resource, action: :check_related_items), method: :post) %>
              </div>
            </div>
        <% end %>
    <% end %>
<% end %>
