<!-- discussion_channel_form -->
<%

  resource_type = resource.class.name.underscore
  resource_type_text = text_for_resource(resource)
  link_type_text = AssetLink::DISCUSSION
  collapsed = false
  discussion_link_url = resource.discussion_links.empty? ? nil : resource.discussion_links.first.url
  help_text = "You can add a remote URL of your favorite discussion channels for this #{resource_type_text}, e.g. slack, google doc, twitter ..."
-%>

<%= folding_panel('Discussion Channel', collapsed, :body_options => {:id => 'discussion_channel_url'},
                  :help_text => help_text) do %>
    <p class="help-block">
      You can add a remote URL of your favorite discussion channels for this <%= resource_type_text %>:
    </p>

    <div class="box_editing">
      <%= text_field_tag "#{resource_type}[asset_links_attributes][url]", discussion_link_url, :class => 'form-control' %>
      <%= hidden_field_tag("#{resource_type}[asset_links_attributes][asset_id]", resource.id, :id => "#{resource_type}[asset_links_attributes][asset_id]" ) %>
      <%= hidden_field_tag("#{resource_type}[asset_links_attributes][asset_type]", resource_type_text, :id => "#{resource_type}[asset_links_attributes][asset_type]" ) %>
      <%= hidden_field_tag("#{resource_type}[asset_links_attributes][link_type]", link_type_text, :id => "#{resource_type}[asset_links_attributes][link_type]" ) %>
      </div>
<% end %>

