<%= panel('Edit version', id: 'edit_version_form_'+"#{version.version}", style: 'display: none') do %>
  <%= form_tag({ action: :edit_version, version: version.version }) do -%>
    <div class="form-group">
      <label>Revision comments</label>
      <%= text_area_tag :revision_comments, version.revision_comments, size: '55x4', class: 'form-control' -%>
    </div>

    <% if version.can_change_visibility? %>
      <div class="form-group">
        <label>Visibility</label>
        <%= select_tag :visibility, version_visibility_options(version.visibility), class: 'form-control' -%>
      </div>
    <% end %>

    <%= submit_tag 'Update', class: 'btn btn-primary'-%>
  <% end %>
<% end %>
