<%
   selected ||= nil
   default_choice = [default_choice_text, 0]
   collection_id = name.to_s.gsub(']','').gsub(/[^-a-zA-Z0-9:.]/, "_")
   possibilities_collection_id = "possible_#{collection_id}"
   possibilities_options ||= {}
   possibilities_options.merge!(:class => 'form-control')
   title ||= association.to_s.singularize.humanize.pluralize
   title += '<span class="required">*</span>'.html_safe if required

   if with_new_link
     new_association_path = eval "new_#{association.to_s.singularize}_path(:parent_name=>'#{controller_name.underscore.singularize}')"
   end
%>

<%= folding_panel(title, hidden, :id => "add_#{association}_form",
                  :help_text => "Here you can associate the #{object_type_text} with specific #{association.to_s.singularize.humanize.pluralize}.") do %>
    <div class="row">
      <div class="col-md-<%= preview_disabled ? '12' : '8'-%>">
        <p class="help-block">
          <%= intro %>
        </p>
        <div id="<%= collection_id %>_display_area" class="box_editing_inner" style="line-height: 1.5;">
          <span class="none_text">Loading...</span>
        </div>
        <div class="association_step">
          <% if with_new_link  %>
              <p style="color: #666666;">
                You may select an existing  <%= association.to_s.singularize %> or create <%= link_to "new #{association.to_s.singularize.capitalize} here", new_association_path, :onclick => "window.open(this.href);return false;"%>  for the <%= object_type_text -%>.
              </p>
          <% end  %>
          <div class="form-group">
            <%= select_tag possibilities_collection_id,
                           options_for_select([default_choice]|possibilities.collect{|o| [truncate(o.send(text_method), :length=>120), o.send(value_method)]}),
                           possibilities_options -%>
          </div>
          <%# This ensures that the parameter is always sent, even when nothing is selected.
        It adds a "" as the first item in the array. So if items 1,2, and 3 are selected the
        value of the parameter will be ["","1","2","3"]. This is compatible with the rails
        association association_ids= methods, which reject 'blank' values automatically.%>
          <%= hidden_field_tag "#{name}[]", "" %>

          <%= select_tag name,
                         options_from_collection_for_select(unscoped_possibilities.empty? ? possibilities : unscoped_possibilities, value_method, text_method, selected),
                         {:multiple=>true, :style=>"display:none;"} -%>

          <% if other_projects_checkbox && !unscoped_possibilities.empty? %>
              <%= check_box_tag "include_other_project_#{association}", nil, Seek::Config.is_virtualliver,
                                :onchange => "swapSelectListContents('possible_#{object_type.underscore}_#{association.to_s.singularize}_ids','alternative_#{association.to_s.singularize}_ids');",
                                :style => "margin-top:0.5em;" -%>
              Associate <%= association.to_s.singularize.humanize.pluralize -%> from other <%= t('project').pluralize -%>?
              <%= select_tag "alternative_#{association.to_s.singularize}_ids",
                             options_for_select([["Select #{association.to_s.singularize.humanize} ...", 0]]|unscoped_possibilities.collect { |o| [truncate(o.send(text_method), :length => 120), o.id] }),
                             :style => 'display:none;' -%>
          <% end %>
        </div>

        <script type="text/javascript">
            Event.observe(window, 'load', function () {
                updateFancyMultiselect('<%= collection_id %>');
                <% if other_projects_checkbox && !unscoped_possibilities.empty? %>
                var include_other_projects_checkbox = document.getElementById('include_other_project_<%=association-%>');
                if (include_other_projects_checkbox.checked == true){
                    swapSelectListContents('possible_<%=object_type.underscore-%>_<%=association.to_s.singularize-%>_ids',
                            'alternative_<%=association.to_s.singularize-%>_ids');
                }
                <% end %>
            });
        </script>
      </div>
      <% unless preview_disabled %>
          <div class="col-md-4">
            <%= render(:partial => 'assets/preview_box', :locals => {:preview_name => association.to_s.underscore}) -%>
          </div>
      <% end %>
    </div>
<% end %>
