<div class='fileinfo'>
<% if fileinfo.show_as_external_link?  -%>
    <% if fileinfo.asset.can_download? %>
        <p>
          <b>Link:</b>
          <%
            link_text = fileinfo.url
            link_text = truncate(link_text,:length=>550) if fileinfo.asset.respond_to?(:content_blobs)
          %>
          <%= link_to link_text, fileinfo.url, :target=>"_blank" -%>
        </p>
    <% end -%>
<% else %>
    <p>
      <b>Filename:</b>
      <span class='filename'><%=h fileinfo.original_filename -%></span>
    </p>

    <p>
      <b>Format:</b>
      <span class="format"><%=h fileinfo.human_content_type -%></span>
    </p>

    <p>
      <b>Size:</b>
      <span class="filesize"><%= filesize_as_text(fileinfo) %></span>
    </p>

    <%# This is for multiple files asset %>
    <% asset = fileinfo.asset
       if Seek::Util.multi_files_asset_types.include?(asset.class) && (can_download_asset?(asset, params[:code])) -%>
        <p>
          <%= render :partial => "assets/view_content", :locals => {:content_blob => fileinfo} -%>
          <%= image_tag_for_key('download', polymorphic_path([asset, fileinfo], :action=>:download,:code=>params[:code]), "Download", {:title => 'Download this file'}, "") -%>
        </p>
    <% end %>
<% end -%>
</div>