<p>
  <b>Filename:</b>
  <%=h fileinfo.original_filename -%>
</p>

<p>
  <b>Format:</b>
  <%=h mime_nice_name(fileinfo.content_type) -%>
</p>

<p>
  <b>Size:</b>
  <%= filesize_as_text(fileinfo) %>
</p>

<%# This is for multiple files asset %>
<% asset = fileinfo.asset
   if Seek::Util.multi_files_asset_types.include?(asset.class) && (asset.can_download? || (params[:code] && asset.special_auth_codes.unexpired.collect(&:code).include?(params[:code]))) -%>
    <p>
      <%= render :partial => "assets/view_content", :locals => {:content_blob => fileinfo} -%>
      <%= link_to image('download'), polymorphic_path(asset,:version=>fileinfo.asset_version,:action=>:download,:code=>params[:code],:content_blob_id => fileinfo.id), :title => 'Download this file' -%>
    </p>
<% end %>