<% hidden ||= false
   contents ||= nil %>
<div id="<%= fold_id %>" class="fold">

  <div class="foldTitle">
    <%= fold_title %>
  </div>

  <div id="<%= fold_id %>_fold_content" class="foldContent" <%=hidden ? 'style="display: none;"': 'style="display: block;"'%>>
      <%= contents || yield %>
  </div>
 </div>
