<% type_text = text_for_resource(resource) -%>

<%= panel('Citation', class: 'text-small', id: 'citation-instructions') do %>
    <p>Make your <%= type_text -%> easily citable by creating a snapshot, then generating a DOI for it.</p>

    <% if resource.snapshots.any? %>
        <div class="alert alert-success">
          <p>You have created <%= pluralize(resource.snapshots.count, 'snapshot') -%> of this <%= type_text %>.</p>

          <p>Click on a snapshot in the <strong><a href="#snapshots">Snapshots</a></strong> section below,
            then click the <strong>Generate a DOI</strong> button on the following page.</p>
        </div>
    <% else %>
        <% if resource.permitted_for_research_object? %>
          <div class="alert alert-info">
            <p>Make a snapshot of your <%= type_text -%> to capture its state at the current time and protect it from future changes.</p>

            <div class="text-center">
              <%= button_link_to('Make a Snapshot', 'snapshot', polymorphic_path([resource, :snapshot], action: 'new')) %>
            </div>
          </div>
        <% else %>
          <div class="alert alert-info">
            <p>To be citable, <%= type_text.pluralize -%> must be made publicly accessible.</p>

            <div class="text-center">
              <%= button_link_to('Publish', 'publish', polymorphic_path(resource, action: :check_related_items), method: :post) %>
            </div>
          </div>
        <% end %>
    <% end %>
<% end %>
