<h1>Manage <%= text_for_resource(resource) %> : <%= link_to(h(resource.title), resource) -%></h1>

<%
  show_projects = true if show_projects.nil?
  sharing_link = true if sharing_link.nil?
%>

<%= form_for resource, url: {action: :manage_update} do |f| %>
  <%= f.error_messages -%>

  <% if show_projects %>
    <%= render partial: 'projects/project_selector', locals: { resource: resource } %>
  <% elsif resource.is_a?(Study) %>
    <% if @isa_json_compliant %>
      <%= hidden_field(:study, :investigation_id) %>
    <% else %>
      <%= folding_panel("#{t('investigation')} details") do %>
        <label class="required"><%= t('investigation') %></label>
        <div id="investigation_collection">
          <%= render partial: 'studies/investigation_list', locals: {
            investigations: Investigation.all.select { |i| current_user.person.member_of?(i.projects)} } -%>
        </div>
      <% end %>
    <% end %>

    <%= render partial: 'projects/implicit_project_selector', locals: { action: 'manage',
                                                                        select_id: '#study_investigation_id',
                                                                        parents: Investigation.authorized_for('edit') } %>
  <% elsif resource.is_a?(Assay) %>
    <div class="form-group">
      <% if @isa_json_compliant %>
        <%= hidden_field(:assay, :study_id) %>
      <% else %>
        <label class="required"><%= t('study') -%></label>
        <%= resource_study_selection('assay[study_id]', @assay.study) %>
      <% end %>
    </div>

    <%= render partial: 'projects/implicit_project_selector', locals: { action: 'manage',
                                                                        select_id: '#assay_study_id',
                                                                        parents: Study.authorized_for('edit') } %>
  <% end %>
  <%= render partial: 'assets/manage_specific_attributes', locals: {f: f, sharing_link: sharing_link} %>

  <%
    if @isa_json_compliant && !resource.projects.blank?
      item_type = resource.is_a?(Assay) ? 'assay' : 'study'
      options = { validate:false, cancel_path: single_page_path(id: resource.projects.first.id, item_type: item_type, item_id: resource.id) }
    else
      options = { validate:false }
    end
  %>
  <%= form_submit_buttons(resource, **options) %>

<% end -%>