<%
asset_name = text_for_resource(asset_field_prefix)
new_version ||= false
batch ||= false
with_image_file ||= false

url_from_params = nil
original_filename_from_params = nil

if params[:content_blobs] && params[:content_blobs].any?
  blob = params[:content_blobs].first
  url_from_params = blob[:data_url] if blob[:data_url].present?
  original_filename_from_params = blob[:original_filename] if blob[:original_filename].present?
end

%>

<%# MERGENOTE - need to pluralize text for batch upload %>
<div>
    <p>
      You can register a <%= asset_name -%> by registering a URL to a remote file. Please test the URL before submitting.
    </p>
    <% if new_version -%>
        <p>
          You are about to upload a new version of this <%= asset_name -%>.
          You should only upload a new version if you have made minor modifications,
          such as tidying up or fixing errors, that do not change the original purpose of the file.
          If you think this new version changes the original purpose or meaning of the <%= asset_name -%>,
          then you should <%= link_to "upload it as a new item",polymorphic_path(resource,:action=>:new) -%>
          rather than create a new version.
        </p>
    <% end -%>
</div>

   <div role="tabpanel" class="tab-pane <%= 'active'.html_safe if url_from_params -%>" id="remote-url">
      <div class="form-group">
        <label class="required">URL</label>

        <div class="row">
          <div class="col-sm-8">
            <% if Seek::Config.nels_enabled && url_from_params && url_from_params.start_with?(Seek::Config.nels_permalink_base) %>
                <div class="form-group">
                  <%= text_field_tag 'content_blobs[][data_url]', url_from_params, id: 'data_url_field', class: 'form-control', readonly: :readonly -%>
                </div>
            <% else %>
                <div class="input-group">
                  <%= text_field_tag 'content_blobs[][data_url]', url_from_params, id: 'data_url_field', class: 'form-control' -%>
                  <span class="input-group-btn">
                    <%= button_link_to 'Test', 'test', '#', id: 'examine_url' %>
                  </span>
                </div>
            <% end %>
          </div>
        </div>
      </div>

      <div id="test_url_result"></div>

      <%= hidden_field_tag "content_blobs[][original_filename]", original_filename_from_params, :id => :original_filename %>
      <%= hidden_field_tag "url_checked", false %>

      <% if batch %>
          <%= button_link_to 'Add', 'new', "javascript: addRemoteFile()" %>
      <% end %>
    </div>

<ul id='pending-files'></ul>

<% if with_image_file -%>
    <hr/>
    <div id="image_file_box">
      <% resource_name = resource.class.name.underscore %>
      <%= hidden_field_tag("#{resource_name}_id", resource.id) -%>
      <div class="form-group">
        <label>Image file</label>
        <%= file_field "#{resource_name}_image", :image_file, :onchange => "detectFileFormat('#{resource_name}_image_image_file')" %>
      </div>
      <% if new_version && previous_version_image_file = resource.latest_version.model_image.try(:original_filename) -%>
          <p>
            The image file of previous version <span style="font-weight: bold;"><%= previous_version_image_file %></span>
            will be used if you dont specify the image file
            <%= hidden_field_tag 'previous_version_image', previous_version_image_file %>
          </p>
      <% end -%>
    </div>
<% end -%>

<script type="text/javascript">
  setup_url_field("<%= examine_url_content_blobs_path %>","examine_url");

  <% if batch %>
      <% resource.content_blobs.each do |blob| %>
          addExistingFile('<%= blob.url.blank? ? blob.original_filename : blob.url %> (original)', <%= blob.id %>);
      <% end %>
  <% end %>
</script>

