<%
resource_type = text_for_resource(resource)
%>

<% if Seek::Config.email_enabled && !resource.managers.empty? -%>

    <span id="request_resource_button">
      <%= button_link_to("Request #{text_for_resource(resource)}", "message", '#', :onclick => "Effect.Appear('request_resource_form');Effect.Fade('request_resource_button');") -%>
    </span>


          <div id="request_resource_form" style="display:none;width:100%">
            <%= form_tag_with_callbacks(polymorphic_url(resource, :action => :request_resource),
                         {:id=>"request_resource",:before=>"Effect.Appear('requesting_resource_status');$('request_resource_form').hide();",
                         :remote => true}) do -%>

            <p>
              An email will be sent to <%= join_with_and(resource.managers.collect{|m| h(m.name)}) -%> to let them know of your interest.<br/>
              Please provide some extra information you feel may be useful to your request.
            </p>
            <p>

              <%=  text_area_tag :details,'',:cols=>80,:rows=>10 -%>
              <%= submit_tag 'Send', data: { confirm: "An email will be delivered with your request to #{join_with_and(resource.managers.collect{|m| h(m.name)})}. Are you sure?" } -%>

            </p>
            <% end -%>

          </div>


    <div id="requesting_resource_status" style="display:none;">About to request access to the <%= resource_type -%> <%= h(resource.title) %> from <%= h(resource.managers.collect{|p| h(p.name)}.join(", ")) %> ...</div>


<% else -%>
    <span id="request_resource_button">
      <%= button_link_to("Request #{text_for_resource(resource)}", "message", '#', :class => 'disabled-button', :onclick => "alert('Unable to send emails - email is disabled');") -%>
    </span>
<% end -%>
