<%
resource_type=resource.class.name.humanize
%>


<% if EMAIL_ENABLED && !resource.managers.empty? -%>

  <div id="request_resource_button">
    <%=  help_icon("You do not have permission to download this #{resource_type}, but if you are interested you can request permission from the owner.") %>
    <%= link_to_function request_request_label(resource),"Effect.Appear('request_resource_form');Effect.Fade('request_resource_button');" -%>
  </div>  

  <div id="request_resource_form" style="display:none;">

    <p>
        Please provide some extra information
    </p>
    <% form_remote_tag :url=>polymorphic_url(resource, :action => :request_resource),
                       :before=>"Effect.Appear('requesting_resource_status');$('request_resource_form').hide();" do -%>
        <%=  text_area_tag :details,'',:cols=>50,:rows=>5 -%>        
        <%= submit_tag 'Send',:confirm=>"An email will be delivered with your request to #{resource.managers.collect{|p| p.name}.join(", ")}. Are you sure?" -%>
    <% end -%>

  </div>

  <div id="requesting_resource_status" style="display:none;">About to request access to the <%= resource_type -%> <%= resource.title %> from <%= h(resource.managers.collect{|p| p.name}.join(", ")) %> ...</div>
  

<% else -%>
  <%=  help_icon("You do not have permission to download this #{resource_type}, but if you are interested you can request permission from the owner.") %>
  <%= image_tag_for_key('sop',"javascript:alert('Unable to send emails')","Request file",nil,"Request file") -%>

<% end -%>