<% unless resource.nil? -%>
    
  <div data-tooltip='<%= tooltip(h(resource.description)) %>'>
    <p class="title">
      <%= list_item_title resource -%>
    </p>

    <%= list_item_attribute "Version", resource.version -%>
    
    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => false} -%>
    
    <%= list_item_contributor resource -%>
    
    <%= list_item_simple_list resource.creators, "Contributor" -%>
    
    <%= list_item_description resource.description -%>
  </div>

<% end -%>