<%
title||="Uploader"
%>

<div class="contribution_section_box" style="padding: 0.5em 0 1em 0;">

  <p class="heading">
    <%= help_icon("The original uploader is the person who uploaded or registered the item, or JERM if registred automatically") -%>
    <%= h(title) -%>
  </p>
  <% if resource.contributor-%>
      <% resource_contributor = resource.contributor.person -%>
      <% if resource_contributor.can_view?%>
          <%= favouritable_icon(resource_contributor, 60) -%><br/>
          <%= link_to(h(resource_contributor.name), resource_contributor) -%>
      <% else resource_contributor.title_is_public?%>
          <%= resource_contributor.name %>
      <% end %>
  <% else -%>
    <p>
      <%= the_jerm %>
    </p>
  <% end %>

</div>
