<%# This partial expects 3 parameters to be defined: -%>
<%# - resource - instance of resource for which the authors are displayed -%>
<%# - creators - collection of creators to which the resource is attributed -%>
<%# - truncate_to - length of the texts after which truncation is activated -%>
<%# - title - the title of the box (defaults to Creators if missing) -%>
<%
title||="Creators"
%>
<div class="contribution_section_box" style="padding: 0.5em 0 1em 0;">
  <p class="heading">
    <%= help_icon("The authors are the people who originally created this file.") -%>
    <%= h(title) -%>
    <a name="authors"></a>
    <% if Authorization.is_authorized?("edit", nil, resource, current_user) %>
      <p style="text-align:center; margin: 0; padding: 0;"><small>[ <%= link_to "edit", edit_polymorphic_path(resource) %> ]</small></p>
    <% end %>
  </p>
  <p>
  <% creators.each do |creator| %>
    <% if creators.count < 4 #display full avatar if not too many authors %>
      <%= favouritable_icon(creator, 60) -%><br/>
    <% end %>
    <%= link_to(h(creator.name), url_for(creator)) -%><br/>
  <% end %>
  </p>
</div>