<%# this partial will display a dynamically generated view of all assets from a collection; -%>
<%# different types of assets will be placed in different tabs based on their class; -%>
<%# the partial requires 3 parameters to be defined: -%>
<%# - resource_hash: a hash of all resource instances, where keys are resource class names and values are arrays of resource instances of that class -%>
<%# - narrow_view: type of the partial to use for asset listings: 'false' to use the same partial with much info as on SOPs listing page -%>
<%#                                                               'true' to use a partial with fewer information; suitable for 'show' pages for people/projects -%>
<%# - authorization_already_done: boolean value indicating whether all items in the collection have already been authorized for the current user to view or not -%>
<% tabs_id ||= "resource_list_by_class" -%>
<% narrow_view ||= false -%>
<% authorization_already_done ||= false -%>
<% actions_partial_disable ||= false %>
<% unless authorization_already_done
       resource_hash.each_value do |res|
           unless res[:items].empty?
             total_count = res[:items].size
             total = res[:items]
             res[:items] = res[:items].select &:can_view?
             res[:hidden_items] = total - res[:items]
             res[:hidden_count] = total_count - res[:items].size
           end
       end
   end
%>
<% limit ||= nil
   if limit
     resource_hash.each_key do |key|
      if limit && resource_hash[key][:items].size > limit
        resource_hash[key][:extra_count] = resource_hash[key][:items].size - limit
        resource_hash[key][:extra_items] = resource_hash[key][:items][limit...(resource_hash[key][:items].size)]
        resource_hash[key][:items] = resource_hash[key][:items][0...limit]
      end
    end
   end
%>

<script type="text/javascript">
  tabber_ids.push("<%= tabs_id -%>");
</script>

<% total_count = 0 %>
<% resource_hash.each_key do |k| %>
  <% count = resource_hash[k][:items].size + resource_hash[k][:hidden_count] %>
  <% resource_hash.delete(k) if count == 0 %>
  <% total_count += count %>
<% end %>
<% unless total_count == 0-%>
  <div id='<%= "#{tabs_id}_spinner".html_safe -%>'>
    <center>
      <%= image_tag "ajax-loader-large.gif" -%>
    </center>
  </div>
  <div <%= "id='#{tabs_id}'".html_safe if tabs_id -%> class="tabber" style="display:none;">
    <% assets = resource_hash.keys.sort_by do |asset|
        ASSET_ORDER.index(asset) || (resource_hash[asset][:is_external] ? 10000 : 1000)
       end
    %>
    <% assets.each do |resource_type| -%>

      <% hidden_count = 0 %>
      <% extra_count = 0 %>
      <% is_external = false -%>
      <% unless resource_hash[resource_type].nil? %>
        <% if resource_hash.class == Hash %>
          <% hidden_count = resource_hash[resource_type][:hidden_count] %>
          <% resources = resource_hash[resource_type][:items] %>
          <% extra_count = resource_hash[resource_type][:extra_count] || 0 %>
          <% is_external = resource_hash[resource_type][:is_external] -%>
        <% else %>
          <% resources = resource_hash %>
        <% end %>
      <% else %>
        <% resources = {} %>
      <% end%>
      <% visible_resource_type = resource_tab_item_name(resource_type,!is_external) -%>
      <% tab_title = "#{visible_resource_type} (#{resources.length+extra_count}#{"+"+hidden_count.to_s if hidden_count > 0})" -%>
      <% title_class = is_external ? "external_result" : "" %>
      <% unless (resources.empty? && hidden_count < 1) %>
        <div id="<%= resource_type.downcase.pluralize.html_safe -%>" class="tabbertab">
          <% unless resources.empty? && extra_count < 1 %>
            <h3 class='<%= title_class -%>'><%= tab_title -%></h3>
                <%= render :partial => "assets/resource_list", :locals => { :collection => resources,
                                                                            :narrow_view => narrow_view,
                                                                            :authorization_for_showing_already_done => true,
                                                                            :actions_partial_disable => actions_partial_disable} -%>
          <% else %>
            <h3><%= "#{visible_resource_type} (0+#{hidden_count})".html_safe -%></h3>
          <% end %>
          <% unless extra_count < 1 %>
            <div class="list_items_container">
              <div class="hidden_list_item" id ="view_list_items" style="color:#000">
                <% item ||= nil
                    if item %>
                      <%= link_to_with_callbacks "View all "+(extra_count + resources.size).to_s+" items",
                                        {:url => url_for(:action => 'view_items_in_tab'),
                                         :with => "'resource_type=' + '#{resource_type}' + '&resource_ids=' + '#{(resource_hash[resource_type][:items] + resource_hash[resource_type][:extra_items]).collect(&:id).join(',')}'",
                                         :before => "show_large_ajax_loader('#{resource_type}_list_items_container')"},
                                        {:id => "view_#{resource_type}s_and_extra", :style => "display:block", :remote=>true}
                      -%>
                      <%= link_to_with_callbacks "View " + resources.size.to_s + " items",
                                        {:url => url_for(:action => 'view_items_in_tab'),
                                         :with => "'resource_type=' + '#{resource_type}' + '&resource_ids=' + '#{resource_hash[resource_type][:items].collect(&:id).join(',')}'",
                                         :before => "show_large_ajax_loader('#{resource_type}_list_items_container')"},
                                        {:id => "view_#{resource_type}s", :style => "display:none", :remote=>true}
                      -%>
                    <% else
                        link_to "View all items", eval("#{resource_type.pluralize.underscore}_path")
                    end
                -%>
              </div>
              <br style="clear:both"/>
            </div>
          <% end %>
          <% unless hidden_count < 1 %>
            <div class="list_items_container">
              <div class="hidden_list_item">
                <%= render :partial => "assets/hidden_items", :object => resource_hash[resource_type][:hidden_items] -%>
              </div>
              <br style="clear:both"/>
            </div>
          <% end %>
        </div>
      <% end -%>
    <% end -%>
  </div>
<% else -%>
    <% if User.current_user.nil? %>
        <span class="none_text">You are not authorized to view the related items. Please log in first.</span>
    <% else %>
        <span class="none_text">No items.</span>
    <% end %>

<% end -%>

