<%# This partial expects 3 parameters to be defined: -%>
<%# - resource - instance of resource for which the authors are displayed -%>
<%# - creators - collection of creators to which the resource is attributed -%>
<%# - truncate_to - length of the texts after which truncation is activated -%>
<%# - title - the title of the box (defaults to Creators if missing) -%>
<%
creators ||= nil
if resource.respond_to?(:contributor) and resource.contributor_credited? and !creators
    creators = (resource.try(:creators) || []) | [resource.contributor.nil? ? nil : resource.contributor.person]
    title ||= "Uploader and contributors"
else
    creators ||= resource.creators.dup
    title ||= "Contributors"
end
%>
<div class="contribution_section_box">  
  <p class="heading">
    <%= help_icon("These are the people that uploaded the item, along with other people involved in creating it. Sometimes the uploader may have uploaded the item on behalf of its contributors.") -%>
    <%= h(title) -%>
  </p>
  <p class="author_list">

    <% creators.shift(5).each do |creator| %>
        <% if creator.nil? || creator.can_view? %>
            <span class="author_avatar"><%= creator.nil? ? the_jerm : favouritable_icon(creator,50) -%></span>
        <% elsif creator.title_is_public? %>
            [<%= h(creator.name) %>]
        <% end %>
    <% end %>
    <span id='unexpanded'><br/><%= link_to_function "Expand", "$('unexpanded').hide();$('expanded').show();" unless creators.empty? %></span>

    <span id='expanded' style="display: none;">
      <% creators.each do |creator| %>
          <% if creator.nil? or creator.can_view? %>
              <span class="author_avatar"><%= creator.nil? ? the_jerm : favouritable_icon(creator, 50) -%></span>
          <% elsif creator.title_is_public? %>
              [<%= h(creator.name) %>]
          <% end %>
      <% end %>
      <br/><%= link_to_function "Unexpand", "$('expanded').hide();$('unexpanded').show();"%>
    </span>
  </p>

  <% if resource.respond_to?(:other_creators) && !resource.other_creators.blank? -%>

  <p class="heading">
    <%= help_icon("Non-SEEK members who helped with the creation of this file.") -%>
    Other Contributors
  </p>
  <div style="border: 1px dashed #BBB; margin: 0.5em;padding: 3px;text-align:left">
    <%= h(resource.other_creators) %>
  </div>
  <% end -%>

</div>