<% tabs_id ||= "resource_list_by_class" -%>
<% scale_title ||= "all" -%>
<% external_resource_hash ||= {} %>


<% if !resource_hash.blank? || !external_resource_hash.blank? -%>
    <ul class="tabbernav">
      <%
         sorted_result_keys = resource_hash.keys.sort_by do |key|
           ASSET_ORDER.index(key)
         end
      %>

      <% sorted_result_keys.each do |key| -%>
          <% visible_resource_type = key -%>

          <li id="tab_<%= key%>">
            <% tab_title = "#{visible_resource_type} (#{resource_hash[key].count})" -%>
              <a>
                <%= tab_title -%>
              </a>
          </li>
      <% end %>

      <% if !external_resource_hash.blank? %>
          <%= render :partial => "assets/external_search_result_tab", :locals => {:external_resource_hash => external_resource_hash,
                                                                                  :scale_title => scale_title} %>
      <% end %>

    </ul>

    <div id="faceted_search_result"></div>
    <script type="text/javascript">
        //load_tabs();
        jQuery.noConflict();
        var $j = jQuery;

        <% sorted_result_keys.each do |key| %>
            var with_facets = <%= Seek::Config.facet_enable_for_pages[key] && resource_hash[key].count > 10 %>
            tab_on_click('<%= key %>', '<%= resource_hash[key].collect(&:id).join(',') %>', with_facets);
        <% end %>

        //Load content for first tab
        window.onload = function(){
            var first_tab = document.getElementById('tab_' + '<%= sorted_result_keys.first %>');
            if (first_tab != null) {
                first_tab.click();
            }
        };
    </script>
<% else %>
    <span class="none_text">No items.</span>
<% end %>
