
<% resource = resource_list_item %>
<% content_partial = get_list_item_content_partial(resource) %>
<%
   actions_partial_disable ||= false
   actions_partial = actions_partial_disable ? nil : get_list_item_actions_partial(resource)
%>

<% avatar_partial = get_list_item_avatar_partial(resource) if avatar_partial.nil? %>
<% #dont show JERM avatar for strain without contributor, as there are strains without contributor and are not harvested
   avatar_partial = nil if resource.kind_of?(Strain) && resource.contributor.try(:person).nil? %>
<% other_classes="" %>
<% other_classes << " noactions" if actions_partial.blank? %>
<% other_classes << " noavatar" if avatar_partial.blank? %>
<%
   access_based_css_class = "list_item"
   if Seek::Config.is_virtualliver
     access_based_css_class += if resource.respond_to?(:private?) && resource.private?
                                               " private_list_item"
                                             elsif resource.respond_to?(:public?) && resource.public?
                                               " public_list_item"
                                             else
                                               ""
                                             end
   end
%>

<div class="<%= access_based_css_class%> with_smaller_shadow curved">
  <% unless avatar_partial.blank? %>
    <div class="list_item_avatar">
      <%= render :partial=> avatar_partial,:locals=>{:resource => resource} %>
    </div>
  <% end %>
  <div class="list_item_content <%= other_classes -%>">
    <%= render :seek_partial=> content_partial,:locals=>{:resource => resource} %>
  </div>
  <% unless actions_partial.blank? %>
    <div class="list_item_actions">
      <%= render :partial=> actions_partial, :locals=>{:resource => resource} %>
    </div>
  <% end %>
</div>
<br style="clear:both"/>
