<div class="list-group-item <%= 'list-group-item-info' if version.version == displayed_resource.version -%>">
  <div class="row">
    <div class="col-sm-8">
      <h4 class="list-group-item-heading">
        <%= link_to "#{version.name} #{resource.describe_version(version.version)}", {:version => version.version} %>
        <small>
          Created <%= date_as_string(version.created_at,true) %>
          by <%= contributor version.contributor %>
        </small>
      </h4>

      <p class="list-group-item-text">
        <% if version.revision_comments.blank? %>
          <span class="subtle">No revision comments</span>
        <% else %>
          <%= sanitized_text(version.revision_comments) -%>
        <% end %>
      </p>
      <% unless version.visibility == :public %>
        <div class="subtle">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          <%= VersionHelper::VISIBILITY_LABELS[version.visibility] %>
        </div>
      <% end %>

      <% if resource.can_manage? %>
        <%= render partial: 'assets/edit_version_form', locals: { version: version } %>
      <% end %>
    </div>
    <div class="col-sm-4 text-right">
      <% if visible_versions.length > 1 && resource.is_a?(Model) %>
        <% if allow_model_comparison(displayed_resource, version) %>
          <%= button_link_to("Compare", 'show', compare_versions_model_path(resource, version: displayed_resource.version, other_version: version.version).html_safe) -%>
        <% end %>
      <% end %>
      <% if resource.can_manage? %>
        <%= button_link_to('Edit', 'edit', '#', onclick:"$j('#edit_version_form_#{version.version}').fadeToggle(); return false;") -%>
      <%end %>
      <% if Seek::Config.delete_asset_version_enabled && resource.can_edit? && visible_versions.length > 1 %>
        <% path = polymorphic_path(resource, version: version.version, action: :destroy_version) %>
        <%= button_link_to("Delete", 'destroy', path,
                           { data: { confirm: "This deletes version #{version.version.to_s} of the #{text_for_resource resource}. Are you sure?" }, method: :delete}) -%>
      <% end -%>
    </div>
  </div>
</div>
