<%# this partial will display a dynamically generated view of all assets from a collection; -%>
<%# different types of assets will be placed in different tabs based on their class; -%>
<%# the partial requires 3 parameters to be defined: -%>
<%# - resource_hash: a hash of all resource instances, where keys are resource class names and values are arrays of resource instances of that class -%>
<%# - narrow_view: type of the partial to use for asset listings: 'false' to use the same partial with much info as on SOPs listing page -%>
<%#                                                               'true' to use a partial with fewer information; suitable for 'show' pages for people/projects -%>
<%
   actions_partial_disable ||= false
   item ||= nil
   hide_view_all ||= false
   display_immediately ||= false

   ordered_resource_types = prepare_resource_hash(resource_hash)

   any = resource_hash.any? { |key, res| res[:items_count] > 0 || res[:hidden_count] > 0 }
%>

<% if any %>
    <div class="tabpanel related-items">
      <%= render :partial => 'assets/resource_listing_tab_nav', :locals => { :types => ordered_resource_types } %>
      <div class="tab-content">
        <% ordered_resource_types.each_with_index do |type, i| -%>
            <% unless type[:items].empty? && (type[:hidden_count] == 0) %>
                <div id="<%= type[:tab_id] -%>" role="tabpanel" class="tab-pane <%= 'active' if i == 0-%>">
                  <% unless type[:items].empty? %>
                      <%= render :partial => "assets/resource_list", :locals => { :collection => type[:items],
                                                                                  :authorization_for_showing_already_done => true,
                                                                                  :actions_partial_disable => actions_partial_disable} -%>
                      <div id="<%= type[:type] %>_view_all"></div>
                  <% end %>
                  <% if type[:extra_count] > 0 %>
                      <div class="list_items_container">
                        <div class="hidden_list_item" id="view_list_items">
                          <% if item %>
                              <%= link_to "View all #{pluralize(type[:total_visible], 'item')}", [item, type[:type].tableize] -%>
                          <% elsif !hide_view_all %>
                              <%= link_to "View all items", eval("#{type[:type].pluralize.underscore}_path") %>
                          <% end-%>
                        </div>
                      </div>
                  <% end %>
                  <% if type[:hidden_count] > 0 %>
                      <div class="list_items_container">
                        <div class="hidden_list_item">
                          <%= hidden_items_html(type[:hidden_items], pluralize(type[:hidden_count], 'hidden item'))  %>
                        </div>
                      </div>
                  <% end %>
                </div>
            <% end -%>
        <% end -%>
      </div>
    </div>
<% else -%>
    <div class="list_items_container">
      <div class="hidden_list_item">
        <span class="none_text">No items found.</span>
      </div>
    </div>
<% end -%>

<% if display_immediately %>
    <script>
      displayTabs();
    </script>
<% end %>