<% objects = resources_numerical_paginated %>

<% content_for :pagination do %>
  <%= render partial: 'general/paginate_numerical', locals: { objects: objects } if objects.respond_to?(:current_page) %>
<% end %>

<%= content_for :pagination %>

<div class="list_items_container">
  <ul id="view_tabs" class="nav nav-tabs">
    <li role="presentation" <% if params[:view]=="default" || !params.has_key?(:view) %> class="active" <%end%>>
      <a href="#" view="default">Default</a>
    </li>
    <li role="presentation" <% if params[:view]=="condensed" %> class="active" <%end%>>
      <a href="#" view="condensed">Condensed</a>
    </li>
    <li role="presentation"  <% if params[:view]=="table" %> class="active" <%end%>>
      <a href="#" view="table">Table</a>
    </li>
  </ul>
  <% if params[:view]=="condensed" %>
    <%= render partial: 'assets/resource_list_item_condensed', collection: objects %>
  <% elsif params[:view]=="table" %>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Creators</th>
          <th>Project</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'assets/resource_list_item_table', collection: objects %>%
      </tbody>
    </table>
  <% else %>
    <%= render partial: 'assets/resource_list_item', collection: objects %>
  <% end %>
</div>

<%= content_for :pagination %>

<script>
  $j('#view_tabs a').click(function () {
      const url = new URL(window.location.href);
      const search_params = url.searchParams;
      search_params.set('view', $j(this).attr('view'));
      url.search = search_params.toString();
      window.location = url
  });
</script>
