<%# This partial expects 3 parameters to be defined: -%>
<%# - resource - instance of resource for which the authors are displayed -%>
<%# - creators - collection of creators to which the resource is attributed -%>
<%# - truncate_to - length of the texts after which truncation is activated -%>
<%# - title - the title of the box (defaults to Creators if missing) -%>
<%
  creators ||= nil
  title ||= "#{t('creator').capitalize.pluralize} and #{t('contributor').capitalize}"
  contributor = resource.contributor
  creators ||= resource.creators
  other_creators ||= resource.respond_to?(:other_creators) ? (resource.other_creators || '').split(',').map(&:strip).map { |s| h(s) } : []
  avatar_size ||= 20
  total_creator_count = creators.length + other_creators.length
%>

<%= panel(title, :help_text => "These are the people that uploaded the item, along with other people involved in creating it. Sometimes the uploader may have uploaded the item on behalf of its contributors.") do %>
  <h5 class="author-list-title"><%= t('creator').capitalize.pluralize(total_creator_count) -%></h5>
  <% if total_creator_count == 0 %>
    <span class="none_text">Not specified</span>
  <% end %>
  <ul class="author-list">
    <% creators.each_with_index do |creator| %>
      <% if creator.can_view? %>
        <li class="author-list-item"><%= favouritable_icon(creator, avatar_size) -%> <%= link_to(creator.name, creator) -%></li>
      <% end %>
    <% end %>
    <% other_creators.each do |other_creator| %>
      <li class="author-list-item"><%= other_creator -%></li>
    <% end %>
  </ul>

  <h5 class="author-list-title"><%= t('contributor').capitalize -%></h5>
  <ul class="author-list">
    <li class="author-list-item">
      <% if contributor %>
        <%= favouritable_icon(contributor, avatar_size, tooltip_suffix: " (#{t('contributor').capitalize})") -%>
        <%= link_to(contributor.name, contributor) %>
      <% else %>
        <% if resource.has_deleted_contributor? %>
          <%= deleted_contributor_contributor_icon(size: avatar_size) -%> <span class="none_text">deleted</span>
        <% elsif resource.has_jerm_contributor? %>
          <%= the_jerm_contributor_contributor_icon(size: avatar_size) -%> JERM
        <% end %>
      <% end %>
    </li>
  </ul>
<% end %>
