<div class="list-group-item <%= 'list-group-item-info' if version.version == displayed_resource.version -%>">
  <div class="row">
    <div class="col-sm-8">
      <h4 class="list-group-item-heading">
        <%= link_to "#{version.name} #{resource.describe_version(version.version)}", { version: version.version } %>
        <small>
          Created <%= date_as_string(version.created_at,true) %>
          by <%= contributor version.contributor %>
        </small>
      </h4>

      <div class="list-group-item-text auto-collapse">
        <% commit_comment = version.comment || version.commit_object&.message %>
        <%= text_or_not_specified(commit_comment, description: true, auto_link: false, none_text: 'No revision comments', markdown: true) %>
      </div>
      <br/>
      <%= mutability_badge(version) %>
      <% unless version.ref.blank? %>
        <code><%= git_target_icon(version.ref) %><%= version.ref.split('/').last %></code>
      <% end %>
      <code><%= version.commit&.first(7) %></code>
      <% unless version.visibility == :public %>
        <span class="subtle">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          <%= VersionHelper::VISIBILITY_LABELS[version.visibility] %>
        </span>
      <% end %>

      <% if resource.can_manage? %>
        <%= render partial: 'git/edit_git_version_form', locals: { resource: resource, version: version } %>
      <% end %>
    </div>
    <div class="col-sm-4 text-right">
      <% if resource.can_manage? %>
        <%= button_link_to('Edit', 'edit', '#', onclick:"$j('#edit_git_version_form_#{version.version}').fadeToggle(); return false;") -%>
      <%end %>
    </div>
  </div>
</div>