<%# this partial will display a dynamically generated view of all assets from a collection; -%>
<%# different types of assets will be placed in different tabs based on their class; -%>
<%# the partial requires 3 parameters to be defined: -%>
<%# - asset_hash: a hash of all asset instances, where keys are asset class names and values are arrays of asset instances of that class -%>
<%# - narrow_view: type of the partial to use for asset listings: 'false' to use the same partial with much info as on SOPs listing page -%>
<%#                                                               'true' to use a partial with fewer information; suitable for 'show' pages for people/projects -%>
<%# - authorization_already_done: boolean value indicating whether all items in the collection have already been authorized for the current user to view or not -%>
<% tabs_id ||= "resource_list_by_class" -%>
<% narrow_view ||= false -%>
<% authorization_already_done ||= false -%>
<% hidden_asset_count_hash ||= {} %>

<script type="text/javascript">
  tabber_ids.push("<%= tabs_id -%>");  
</script>

<% total_count = 0 %>
<% asset_hash.each_key do |k| %>
  <% count = asset_hash[k][:items].size + asset_hash[k][:hidden_count] %>
  <% asset_hash.delete(k) if count == 0 %>
  <% total_count += count %>
<% end %>
<% unless total_count == 0-%>
  <div id='<%= "#{tabs_id}_spinner" -%>'>
    <center>
      <%= image_tag "ajax-loader-large.gif" -%>
    </center>
  </div>
  <div <%= "id='#{tabs_id}'" if tabs_id -%> class="tabber" style="display:none;">
    <% Asset::ASSET_ORDER.each do |resource_type| -%>  
      <% visible_resource_type = resource_type.titleize.pluralize -%>
      <% visible_resource_type = "SOPs" if visible_resource_type=="Sops" %>
      <% hidden_count = 0 %>
      <% extra_count = 0 %>
      <% unless asset_hash[resource_type].nil? %>
        <% if asset_hash.class == Hash %>
          <% hidden_count = asset_hash[resource_type][:hidden_count] %>
          <% resources = asset_hash[resource_type][:items] %>
          <% extra_count = asset_hash[resource_type][:extra_count] || 0 %>
        <% else %>
          <% resources = asset_hash %>
        <% end %>
      <% else %>
        <% resources = {} %>
      <% end%>
      <% unless (resources.empty? && hidden_count < 1) %>
        <div id="<%= resource_type.downcase.pluralize -%>" class="tabbertab"> 
          <% unless resources.empty? && extra_count < 1 %>
            <h3><%= "#{visible_resource_type} (#{resources.length+extra_count}#{"+"+hidden_count.to_s if hidden_count > 0})" -%></h3>
            <%= render :partial => "assets/resource_list", :locals => { :collection => resources, :narrow_view => narrow_view, :authorization_for_showing_already_done => authorization_already_done } -%>
          <% else %>
            <h3><%= "#{visible_resource_type} (0+#{hidden_count})" -%></h3>
          <% end %>
          <% unless extra_count < 1 %>
            <div class="list_items_container">
              <div class="hidden_list_item" style="color:#000">
                <%= link_to "View all "+(extra_count + resources.size).to_s+" items", filter_url(resource_type, item) %>
              </div>
              <br style="clear:both"/>
            </div>
          <% end %>
          <% unless hidden_count < 1 %>
            <div class="list_items_container">
              <div class="hidden_list_item"><%= hidden_count -%> hidden <%= hidden_count > 1 ? "items" : "item" %></div>
              <br style="clear:both"/>
            </div>
          <% end %>
        </div>
      <% end -%>
    <% end -%>
  </div>
<% else -%>
  <span class="none_text">No items.</span>
<% end -%>