<%# This partial expects 3 parameters to be defined: -%>
<%# - resource - instance of resource for which the authors are displayed -%>
<%# - creators - collection of creators to which the resource is attributed -%>
<%# - truncate_to - length of the texts after which truncation is activated -%>
<%# - title - the title of the box (defaults to Creators if missing) -%>
<%
creators ||= nil
title ||= "#{t('contributor').capitalize} and #{t('creator').capitalize.pluralize}"
contributor = resource.contributor.try(:person)
creators ||= resource.creators.reject { |c| c == contributor }
%>

<%= panel(title, :help_text => "These are the people that uploaded the item, along with other people involved in creating it. Sometimes the uploader may have uploaded the item on behalf of its contributors.") do %>
  <div class="author_list text-center">
    <span class="author_avatar author_avatar-contributor">
      <% if contributor %>
        <%= favouritable_icon(contributor, 50, tooltip_suffix: " (#{t('contributor').capitalize})", corner_icon: 'new') -%>
      <% else %>
        <%= the_jerm -%>
      <% end %>
    </span>
    <% creators.shift(4).each do |creator| %>
        <% if creator.nil? || creator.can_view? %>
            <span class="author_avatar"><%= favouritable_icon(creator,50) -%></span>
        <% elsif creator.title_is_public? %>
            [<%= h(creator.name) %>]
        <% end %>
    <% end %>
    <span id='unexpanded'><br/><%= link_to_function "Expand", "$('unexpanded').hide();$('expanded').show();" unless creators.empty? %></span>

    <span id='expanded' style="display: none;">
      <% creators.each do |creator| %>
          <% if creator.nil? or creator.can_view? %>
              <span class="author_avatar"><%= creator.nil? ? the_jerm : favouritable_icon(creator, 50) -%></span>
          <% elsif creator.title_is_public? %>
              [<%= h(creator.name) %>]
          <% end %>
      <% end %>
      <br/><%= link_to_function "Unexpand", "$('expanded').hide();$('unexpanded').show();"%>
    </span>
  </div>

    <% if resource.respond_to?(:other_creators) && !resource.other_creators.blank? -%>
        <p class="heading">
          <%= help_icon("Non-SEEK registered members who helped with the creation of this file.") -%>
          Other <%= t('creator').pluralize -%>
        </p>
        <div style="border: 1px dashed #BBB; margin: 0.5em;padding: 3px;text-align:left">
          <%= h(resource.other_creators) %>
        </div>
    <% end -%>

<% end %>
