<% truncate_length_for_boxes = 22 -%>
<% versioned_resource ||= resource -%>
<% creators ||= nil %>

<div class="main_content_right_box">
  <% if !creators.nil? || resource.respond_to?("creators") %>
    <%= render :partial => "assets/resource_authors_box", :locals => { :resource => resource, :truncate_to => truncate_length_for_boxes,:creators=>creators } -%>
  <% end -%>

  <% if resource.class.is_taggable? -%>
    <%= item_tags_and_tag_entry -%>
  <% end -%>

  <% if resource.respond_to? :attributions_objects -%>
    <%= render :partial => "assets/resource_attributions_box",
               :locals => { :resource => resource, :attributed_to => resource.attributions_objects,
               :truncate_to => truncate_length_for_boxes } -%>
  <% end -%>

  <% if resource.is_a?(Model) -%>
    <%= render :partial=>"assets/version_info_right",:locals=>{:resource=>resource, :versioned_resource=>versioned_resource} -%>
  <% end -%>

  <%= render :partial => "assets/usage_info",:locals => { :resource => resource, :versioned_resource=>versioned_resource } -%>
</div>
