<% unless resource.nil? -%>
    
  <div title='<%= tooltip_title_attrib(h(resource.description), 1000) %>'>
    <p class="title">
      <%= h resource.title -%>
    </p>

    <%= list_item_attribute "Version", resource.version -%>
    
    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => false} -%>
    
    <%= list_item_contributor resource -%>
    
    <%= list_item_simple_list resource.creators, "Creator" -%>
    
    <%= list_item_description resource.description -%>  
  </div>

<% end -%>