<%# this partial will display a dynamically generated view of all assets from a collection; -%>
<%# different types of assets will be placed in different tabs based on their class; -%>
<%# the partial requires 3 parameters to be defined: -%>
<%# - resource_hash: a hash of all resource instances, where keys are resource class names and values are arrays of resource instances of that class -%>

<%
   actions_partial_disable ||= false

   # parent_item will be from a nested route, e.g. for project/5/data_files parent_item would be an instance of the project
   parent_item ||= nil

   display_immediately ||= false
   index_params ||= {}

   ordered_resource_types = prepare_resource_hash(resource_hash)

   search_query = index_params.dig(:filter, :query)

   any_list_items = resource_hash.any? { |key, res| res[:items_count] > 0 || res[:hidden_count] > 0 }

%>

<% if any_list_items %>
    <div class="tabpanel related-items">
      <%= render :partial => 'assets/resource_listing_tab_nav', :locals => { :types => ordered_resource_types } %>
      <div class="tab-content">
        <% active = true %>
        <% ordered_resource_types.each_with_index do |list_items_details, i| -%>
          <%
            # links to the index view with the appropriate text, and will be nil if not applicable
            advanced_filtering_link = resource_list_advanced_search_link(list_items_details, search_query, parent_item)
            resources_shown_count_text = resource_list_items_shown_text(list_items_details, search_query, parent_item)
            view_all_results_link = resource_list_all_results_link(list_items_details, search_query, parent_item)
          %>


            <% unless list_items_details[:items].empty? && (list_items_details[:hidden_count] == 0) %>
                <div id="<%= list_items_details[:tab_id] -%>" role="tabpanel" class="tab-pane <%= 'active' if active -%>">

                  <%= resources_shown_count_text if resources_shown_count_text.present? %>

                  <%= advanced_filtering_link if advanced_filtering_link.present? %>

                  <% unless list_items_details[:items].empty? %>
                      <%= render :partial => "assets/resource_list", :locals => { :collection => list_items_details[:items],
                                                                                  :authorization_for_showing_already_done => true,
                                                                                  :actions_partial_disable => actions_partial_disable} -%>
                  <% end %>

                  <% if list_items_details[:hidden_count] > 0 %>
                      <div class="list_items_container">
                        <div class="hidden_list_item">
                          <%= hidden_items_html(list_items_details[:hidden_items], pluralize(list_items_details[:hidden_count], 'hidden item'))  %>
                        </div>
                      </div>
                  <% end %>
                    <%= view_all_results_link if view_all_results_link.present? %>
                </div>
              <% active = false %>
            <% end -%>
        <% end -%>
      </div>
    </div>
<% else -%>
    <div class="list_items_container">
      <div class="hidden_list_item">
        <span class="none_text">No items found.</span>
      </div>
    </div>
<% end -%>

<% if display_immediately %>
    <script>
      displayTabs();
    </script>
<% end %>
