<% objects = resources_numerical_paginated %>

<% content_for :pagination do %>
  <%= render partial: 'general/paginate_numerical', locals: { objects: objects } if objects.respond_to?(:current_page) %>
<% end %>

<%= content_for :pagination %>

<%# If there is no param for view, try to retrieve from session information %>
<% if (!params.has_key?(:view) && session.has_key?(:view)) %>
  <% params[:view] = session[:view]%>
<% elsif (params.has_key?(:view))%>
  <% session[:view] = params[:view]%>
<% else %>
  <% params[:view]=="default"%>
  <% session[:view] = params[:view]%>
<% end%>

<div class="list_items_container">
  <ul id="view_tabs" class="nav nav-tabs">
    <li role="presentation" <% if params[:view]=="default" || !params.has_key?(:view) %> class="active" <%end%>>
      <a href="#" view="default">Default</a>
    </li>
    <li role="presentation" <% if params[:view]=="condensed" %> class="active" <%end%>>
      <a href="#" view="condensed">Condensed</a>
    </li>
    <li role="presentation"  <% if params[:view]=="table" %> class="active" <%end%>>
      <a href="#" view="table">Table</a>
    </li>
  </ul>
  <% if params[:view]=="condensed" %>
    <%= render partial: 'assets/resource_list_item_condensed', collection: objects %>
  <% elsif params[:view]=="table" %>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th style="width:30%">Title</th>
          <th style="width:30%">Creators</th>
          <th style="width:30%">Project</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'assets/resource_list_item_table', collection: objects %>
      </tbody>
    </table>
  <% elsif params[:view]=="default" || !params.has_key?(:view) %>
    <%= render partial: 'assets/resource_list_item', collection: objects %>
  <% end %>
</div>

<%= content_for :pagination %>

<script>
  $j('#view_tabs a').click(function () {
      const url = new URL(window.location.href);
      const search_params = url.searchParams;
      search_params.set('view', $j(this).attr('view'));
      url.search = search_params.toString();
      window.location = url
  });
</script>
