<%
   limit ||= 5
   hidden_items = resources - authorized_resources
   hidden_count = hidden_items.count
   extra_count = resources.count - hidden_items.count - limit
   resource_type = resources.first.class.name
%>

<%= render :partial => "assets/resource_list",
            :locals => {:collection => authorized_resources.take(limit),
            :narrow_view => true,
            :authorization_for_showing_already_done => true,
            :actions_partial_disable=>true} %>

<% if extra_count > 0 %>
    <div class="list_items_container">
      <div class="hidden_list_item" id ="view_list_items" style="color:#000">
           <%
              tab_content_view_all = scale_title + '_' + resource_type + '_view_all'
              tab_content_view_some = scale_title + '_' + resource_type + '_view_some'
           %>
           <%= link_to_remote "View all "+(authorized_resources.size).to_s+" items", :html => {:style => (view_type=='view_all' ? "display:none" : "display:block")},
                               :url => url_for(:action => 'view_items_in_scale'),
                               :with => "'resource_type=' + '#{resource_type}' + '&scale_title=' + '#{scale_title}' + '&view_type=' + 'view_all'",
                               :before => "$('#{tab_content_view_some}').hide();
                                           $('#{tab_content_view_all}').show();
                                           show_large_ajax_loader('#{tab_content_view_all}');"
            -%>
            <%= link_to_remote "View " + limit.to_s + " items", :html => {:style => (view_type=='view_some' ? "display:none" : "display:block")},
                               :url => url_for(:action => 'view_items_in_scale'),
                               :with => "'resource_type=' + '#{resource_type}' + '&scale_title=' + '#{scale_title}' + '&view_type=' + 'view_some'",
                               :before => "$('#{tab_content_view_all}').hide();
                                           $('#{tab_content_view_some}').show();
                                           show_large_ajax_loader('#{tab_content_view_some}');"
            -%>
       </div>
      <br style="clear:both"/>
    </div>
<% end %>
<% if hidden_count > 0 %>
    <div class="list_items_container">
      <div class="hidden_list_item">
        <%# only when view_all, loop through the hidden_items, to improve the speed of the default load%>
        <% if view_type == 'view_all' %>
            <%= render :partial => "assets/hidden_items", :object => hidden_items -%>
        <% else %>
            <%= hidden_count -%> hidden <%= hidden_count > 1 ? "items" : "item" %>
        <% end %>
      </div>
      <br style="clear:both"/>
    </div>
<% end %>
