<!-- data_type_form -->
<link rel="stylesheet" type="text/css" href="https://bioportal.bioontology.org/widgets/jquery.ncbo.tree.css">
<script src="https://bioportal.bioontology.org/widgets/jquery.ncbo.tree-2.0.2.js"></script>

<%

  resource_type = resource.class.name.underscore
  resource_type_text = text_for_resource(resource)
  help_text = "You can add a data type for this #{resource_type_text}"

%>

<%= folding_panel('Data Type', true, :body_options => {:id => 'data_type_urls'},
                  :help_text => help_text) do %>

    <p class="help-block">
      Specify a data type for this <%= resource_type_text %>.
    </p>

    <%= text_field_tag("#{resource_type}[data_type]", "#{resource.data_type}", hidden: true) %>

    <div id="data_type_tree"></div>

<% end %>

<script type="application/javascript">

  $j(document).ready(function(){
      console.log('<%= resource.data_type %>');
      var data_type_tree = $j("#data_type_tree").NCBOTree({
	  apikey: "58de558b-45df-4e96-8bfe-4d63af070bd0",
	  ontology: "EDAM",
	  startingClass: "<%= resource.data_type %>",
          startingRoot: "http://edamontology.org/data_0006"
      });
      data_type_tree.on("afterSelect", function(event, classId, prefLabel, selectedNode) {
	  document.getElementById('<%= "#{resource_type}_data_type" %>').value = classId;
      })
	     });
</script>
