<% if logged_in_and_member? -%>
    <%= panel('New version', :id => 'upload_new_version_form', :style => 'display: none') do %>
        <%= form_tag({:action=>"new_version", :id=>resource}, :multipart => true) do -%>
            <div class="form-group">
              <label>File to upload<span class="required">*</span></label>
              <%= file_field :workflow, :data -%>
            </div>
            <div class="form-group">
              <label>Revision comments (optional)</label>
              <%= text_area_tag :revision_comment, nil, :size=>"55x4", :class => 'form-control' -%>
            </div>
            <%= submit_tag "Upload", :id => "new_version_submit_btn", :class => 'btn btn-primary'-%>
        <% end %>
    <% end %>
<% end %>
