<% resource_type = resource.class.to_s.downcase
check_box_name = "#{resource_type}[current_user_subscribed]"
radio_button_name = "#{resource_type}[subscription_type]"%>

<div class="fold">
  <div class="foldTitle">
    <%= help_icon("Here you can customize your subscription for this #{resource_type}.") -%>
    Subscriptions
  </div>
  <div class="foldContent">

    <%= check_box resource_type,:current_user_subscribed,{},true,false%> Subscribe this <%= resource_type %>
    <br/><br/>

    <p> Would you like to receive emails:
      <%= radio_button_tag radio_button_name, ProjectSubscription::IMMEDIATELY,(resource.subscription_type==ProjectSubscription::IMMEDIATELY) %> Immediately
      <%= radio_button_tag radio_button_name, ProjectSubscription::DAILY,(resource.subscription_type==ProjectSubscription::DAILY) %> Daily
      <%= radio_button_tag radio_button_name, ProjectSubscription::WEEKLY,(resource.subscription_type==ProjectSubscription::WEEKLY) %> Weekly
      <%= radio_button_tag radio_button_name, ProjectSubscription::MONTHLY ,(resource.subscription_type==ProjectSubscription::MONTHLY)%> Monthly <br/>

    </p>


  </div>
</div>
