<%= hidden_field_tag :sharing_form, "true" %>
<% if f.object.can_manage? %>

  <% title_and_help = capture do %>
        <%= help_icon("Here you can create a temporary access link for reviewing this asset. The reviewers with this link can view/download this asset with no login") %>
        Sharing Link
  <% end %>

  <% content = capture do %>
        <%= f.fields_for :special_auth_codes, f.object.special_auth_codes + [SpecialAuthCode.new.tap(&:mark_for_destruction)] do |sub_form|%>
            <fieldset <%= sub_form.object.new_record? ? "id='new_temporary_link_form' style='display: none'".html_safe : ''%> >
              <div class="form-group">
                <% temporary_link = polymorphic_url(f.object, code: sub_form.object.code) %>
                Visitors (with no login) can access this <%= f.object.class.name.underscore.humanize %> with:
                <%= text_field_tag 'temp_link', temporary_link, class: 'form-control' -%>
                <p class='help-block'>This link will not be active until you click 'Update'.</p>
                <%= sub_form.hidden_field :code %>
              </div>

              <div class="form-group">
                <%= sub_form.label :expiration_date %>
                <div style="position: relative">
                  <%= sub_form.text_field :expiration_date, data: { calendar: true }, class: 'calendar form-control' %>
                </div>
                <p class='help-block'>After this date the link will not be accessible.</p>
              </div>
              <div>
                <%= sub_form.hidden_field(:_destroy, class: 'hidden_destroy_field') %>
                <%= button_link_to 'Revoke', 'destroy', '#', class: 'revoke_temporary_link' %>
              </div>
            </fieldset>
        <% end %>
        <%= button_link_to "Add a Sharing Link", 'add', '#',
                    id: "add_a_temporary_link", style: "#{f.object.special_auth_codes.any? ? 'display: none;' : ''}" %>
   <% end %>
  <%= render :partial => 'assets/folding_box', :locals => {:hidden =>  false, :fold_id => 'temporary_links', :fold_title => title_and_help, :contents => content} %>
<% end %>

<script>
    $j('#add_a_temporary_link').click(function () {
      $j('#new_temporary_link_form').show();
      $j('#new_temporary_link_form .hidden_destroy_field')[0].value = '0';
      $j("#add_a_temporary_link").hide();
      $j('#temp_link').select();

      return false;
  });
  $j('.revoke_temporary_link').click(function () {
      $j(this).siblings('.hidden_destroy_field')[0].value = '1';
      $j(this).parents('fieldset').hide();
      $j('#add_a_temporary_link').show();

      return false;
  });
</script>
