<% resource_type = resource.class.to_s.downcase
check_box_name = "#{resource.class.to_s}[current_user_subscribed]"
radio_button_name = "#{resource.class.to_s}[subscription_type]"%>

<div class="fold">
  <div class="foldTitle">
    <%= help_icon("Here you can customize your subscription for this #{resource_type}.") -%>
    Subscriptions
  </div>
  <div class="foldContent">


    <%= check_box_tag check_box_name,resource.current_user_subscribed,resource.current_user_subscribed==true, {:style=>"align:middle"}%> Subscribe this <%= resource_type %>
    <br/><br/>

    <p> Would you like to receive emails:
      <%= radio_button_tag radio_button_name, Subscription::IMMEDIATELY,(resource.subscription_type==Subscription::IMMEDIATELY) %> Immediately
      <%= radio_button_tag radio_button_name, Subscription::DAILY,(resource.subscription_type==Subscription::DAILY) %> Daily
      <%= radio_button_tag radio_button_name, Subscription::WEEKLY,(resource.subscription_type==Subscription::WEEKLY) %> Weekly
      <%= radio_button_tag radio_button_name, Subscription::MONTHLY ,(resource.subscription_type==Subscription::MONTHLY)%> Monthly <br/>

    </p>


  </div>
</div>
