<%
   entity=controller_name.singularize
   object=eval("@"+entity)
   model_class=entity.camelize.constantize
   tags=object.tag_counts
   all_tags=model_class.tag_counts
   no_tags_message||=""
   name||="tag"
   item_tags = object.owner_tags_on(current_user, :tags)
   title||="Tags"

   create_tag_link_text = item_tags.empty? ? "Add your tags" : "Update your tags"
%>

<p class="heading">
    <%= h(title) -%>
</p>

<div id="tag_cloud">

  <div class="tags_smaller">
    <div class="hTagcloud">
      <% unless tags.blank? -%>
          <div class="popularity">
            <% tag_cloud tags, %w(popular v-popular vv-popular vvv-popular vvvv-popular) do |tag, css_class| -%>
                <%
                   type = tag.taggings.first.context.to_sym
                   tag_class="#{css_class}"
                %>
                <%= link_for_tag tag, :type=>type, :truncate_length=>40, :class => tag_class -%>
            <% end -%>
          </div>
      <% else -%>
          <p class="none_text">This item has not yet been tagged</p>
      <% end -%>
    </div>
  </div>

</div>

<small>
  [
<%= link_to_function create_tag_link_text,  visual_effect(:toggle_blind,"create_a_tag",:duration=>0.3) %>
  ]
</small>
<div id="create_a_tag" style="display:none;">

<% form_remote_tag :url     =>{:action=>:update_tags_ajax},
                   :method  =>:post,
                   :loading =>"$('tags_submit_button').value='Updating...';$('tags_submit_button').disabled=true;show_ajax_loader('tag_cloud');" do
%>
    <p>
    <%= hidden_field_tag "prefix", name -%>
    <div id="facebook" class="clearfix">
      <div tabindex="-1" id="<%= name -%>_ids" class="clearfix tokenizer" onclick="$('<%= name -%>_autocomplete_input').focus();">
        <span class="tokenizer_stretcher">^_^</span>
        <span class="tab_stop"><input type="text" id="<%= name -%>_hidden_input" tabindex="-1"></span>

        <div id="<%= name -%>_autocomplete_display" class="tokenizer_input">
          <input type="text" size="1" tabindex="" id="<%= name -%>_autocomplete_input" onBlur="addLastTag('<%= name -%>_autocompleter');"/>
        </div>
      </div>
      <div id="<%= name -%>_autocomplete_populate" class="clearfix autocomplete typeahead_list">
        <div class="typeahead_message"><%= no_tags_message -%></div>
      </div>
    </div>
    </p>
    <p>
      <%= submit_tag "Update", :id=>"tags_submit_button" -%>
    </p>
<% end -%>
</div>

<%= render :partial=>"tagging/autocompleter_javascript", :locals=>{:name=>name,:all_tags=>all_tags,:item_tags=>item_tags} %>