<%
  new_version ||= false
  resource ||= nil
  action ||= 'Upload'
  asset_name = text_for_resource(asset_field_prefix)
  extra_content ||= nil
%>
<%= panel(action, id: 'upload-panel') do %>
  <div>
    <p>
      You can register a <%= asset_name -%> by either directly uploading a file,
      or registering a URL to either another page or remote file. Please test the URL before submitting.
    </p>
  </div>

  <% if !resource.nil? && Seek::Util.is_multi_file_asset_type?(resource.class) %>
    <%= render partial: 'assets/upload', locals: { resource: resource, new_version: new_version, batch: true } -%>
  <% else %>
    <%= render partial: 'assets/upload', locals: { resource: resource, new_version: new_version } -%>
  <% end %>

  <%= extra_content if extra_content %>
<% end %>
