<% if logged_in_and_member? -%>
    <%= panel('New version', :id => 'upload_new_version_form', :style => 'display: none') do %>
        <%= form_tag({:action=>"new_version", :id=>resource}, :multipart => true) do -%>
            <%= render :partial=>"assets/upload_box" , locals: { resource: resource, new_version: true } -%>

            <div class="form-group">
              <label>Revision comments (optional)</label>
              <%= text_area_tag :revision_comment, nil, :size=>"55x4", :class => 'form-control' -%>
            </div>
            <%= submit_tag "Upload", :id => "new_version_submit_btn",
                           :onclick => "javascript: validateUploadNewVersion(#{resource.respond_to?(:content_blobs)}, '#{controller_name.singularize}'); return(false);",
                           :class => 'btn btn-primary'-%>
        <% end %>
    <% end %>
<% end %>
