<%
  resource ||= nil
  title ||= 'Content'
  id ||= 'upload-panel'
  asset_name ||= text_for_resource(asset_field_prefix)
  action_text ||= "register #{asset_name.indefinite_article} #{asset_name}"
  extra_content ||= nil
  hide_remote ||= false
  hide_local = Seek::Config.block_file_uploads unless local_assigns.key?(:hide_local)
%>
<%= panel(title, id: id) do %>
  <div>
    <p>
      <%= upload_box_text(asset_name, action_text, hide_remote, hide_local) %>


    </p>
  </div>

  <% if !resource.nil? && Seek::Util.is_multi_file_asset_type?(resource.class) %>
    <%= render partial: 'assets/upload', locals: { existing_objects: resource.content_blobs, batch: true,
                                                   hide_remote: hide_remote, hide_local: hide_local } -%>
  <% else %>
    <%= render partial: 'assets/upload', locals: { hide_remote: hide_remote, hide_local: hide_local } -%>
  <% end %>

  <%= extra_content if extra_content %>
<% end %>
