
<%
upload_field = asset_field_prefix
obj=eval("@"+upload_field)



asset_name = text_for_resource upload_field
new_version ||= false
original_filename=nil
batch ||= false
with_image_file ||= false

-%>



<%
   if params[upload_field.to_sym]
     url_from_params=params[upload_field.to_sym][:data_url] if params[upload_field.to_sym][:data_url]
     original_filename_from_params = params[upload_field.to_sym][:original_filename] if params[upload_field.to_sym][:original_filename]
   end
-%>

<%# MERGENOTE - need to pluralize text for batch upload %>
<div class="box_infotext">
    <p>
        You can register a <%= asset_name -%> by either directly uploading a file, or registering a URL to either another page or remote file. Please test the URL before submitting.
    </p>
    <% if new_version -%>
    <p>
      You are about to upload a new version of this <%= asset_name -%>. You should only upload a new version if you have made minor modifications, such as tidying up or fixing errors, that do not change the original purpose
      of the file. If you think this new version changes the original purpose or meaning of the <%= asset_name -%>, then you should <span style="text-decoration: underline"><%= link_to "upload it as a new item",polymorphic_path(obj,:action=>:new) -%></span>
      rather than create a new version.
    </p>
    <% end -%>
</div>

<div>
  <% if with_image_file -%>
      <div id="image_file_box" style="float:right;">
        <% resource_name = obj.class.name.underscore %>
        <%= hidden_field_tag("#{resource_name}_id", obj.id) -%>
        <p>
          <br/>
          <b>Image file: </b>
          <br/>
          <%= file_field "#{resource_name}_image", :image_file, :onchange => "detectFileFormat('#{resource_name}_image_image_file')" %>
        </p>
        <% if new_version && previous_version_image_file = obj.latest_version.model_image.try(:original_filename) -%>
            <p>
              The image file of previous version <span style="font-weight: bold;"><%= previous_version_image_file %> </span> will be used if you dont specify the image file
              <%= hidden_field_tag 'previous_version_image', previous_version_image_file %>
            </p>
        <% end -%>
      </div>
  <% end -%>
  <div id="upload_type_selection">

    <ul id="switch_upload_buttons">
      <li style="float:left;height:100%;">
        <%= link_to_function image("file_large"), "from_file_selected(); return (false);", :class => "block_link block_link_active", :id => "upload_from_file_button", :title => tooltip_title_attrib('Add from a local file') -%>

        <%= link_to_function image("internet_large"), "from_url_selected(); return (false);", :class => "block_link", :id => "upload_from_url_button", :title => tooltip_title_attrib('Add from a remote URL') -%>
      </li>
      <li>
        <div id="upload_from_file">
          <b>File to upload:</b>
          <span class="required">*</span>
          <br/>
          <%= file_field_tag "content_blob[data]" -%>
        </div>
        <div id="upload_from_url" style="display:none;">
          <br/>
          <b>URL:</b>
          <span class="required">*</span>
          <%= text_field_tag "content_blob[data_url]", "", :size => 55, :id => "data_url_field" -%>
          <% if batch %>
              <%= link_to_function (image("new") + "Add"), "addToList()" %>
          <% end %>
          <%= link_to image("test", :title => "Test", :alt => "Test")+" Test", "#", :id => "examine_url" %>
          <br/>

          <div id="test_url_result"></div>
          <div id="copy_option" style="display:none;">
            <b>Upload a copy?</b>
            <%= check_box_tag "content_blob[make_local_copy]", "1", false, :id => "make_local_copy" %>
          </div>

          <%= hidden_field_tag "content_blob[original_filename]", original_filename, :id => :original_filename %>
          <%= hidden_field_tag "url_checked", false %>
        </div>
      </li>
    </ul>
  </div>


</div>

<br/>
<ul id='pending_files'></ul>
<div id='batch_items_list' style='display:none;'></div>
<div id='existing_content_blobs' style="display:none;"></div>

<% if batch %>
    <%= javascript_include_tag "batch_upload.js" %>
<% end %>

<script type="text/javascript">

  setup_url_field("<%= examine_url_content_blobs_path %>","examine_url");

  <% if url_from_params && original_filename_from_params %>
    createElementsForNewItem('<%= url_from_params %>','<%= original_filename_from_params %>',"1");
  <% end %>


<% if batch %>
  <% obj.content_blobs.each do |blob| %>
    <%
    text = blob.url ? blob.url : blob.original_filename
    text = text + " (original)"
    %>
    showExistingInList('<%= text %>',item_index++,<%= blob.id %>);

  <% end %>
<% end %>

</script>
