<%
  batch ||= false
  param_name ||= :content_blobs

  url_from_params = nil
  original_filename_from_params = nil

  if params[param_name] && params[param_name].any?
    blob = params[param_name].first
    url_from_params = blob[:data_url] if blob[:data_url].present?
    original_filename_from_params = blob[:original_filename] if blob[:original_filename].present?
  end

  locked_url_field ||= (Seek::Config.nels_enabled && url_from_params && url_from_params.start_with?(Seek::Config.nels_permalink_base))
%>

<div role="tabpanel" data-seek-upload-field>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" <%= 'class="active"'.html_safe unless url_from_params -%>>
        <a data-seek-upload-field-tab="local-file" role="tab" data-toggle="tab">Local file</a>
      </li>
      <li role="presentation" <%= 'class="active"'.html_safe if url_from_params -%>>
        <a data-seek-upload-field-tab="remote-url" role="tab" data-toggle="tab">Remote URL</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane <%= 'active'.html_safe unless url_from_params -%>" data-seek-upload-field-tab-pane="local-file">
        <div class="form-group">
          <label class="required">File to upload</label>
          <%= file_field_tag "#{param_name}[][data]", { "data-batch-upload" => batch, autocomplete: batch ? 'off' : 'on' } -%>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane <%= 'active'.html_safe if url_from_params -%>" data-seek-upload-field-tab-pane="remote-url">
        <div class="form-group">
          <label class="required">URL</label>

          <div class="row">
            <div class="col-sm-8">
              <% if locked_url_field %>
                <div class="form-group">
                  <%= text_field_tag "#{param_name}[][data_url]", url_from_params, id: 'data_url_field', class: 'form-control', readonly: :readonly -%>
                </div>
              <% else %>
                <div class="input-group" data-seek-url-checker="<%= examine_url_content_blobs_path -%>">
                  <%= text_field_tag "#{param_name}[][data_url]", url_from_params, id: 'data_url_field', class: 'form-control' -%>
                  <span class="input-group-btn">
                    <%= button_link_to 'Test', 'test', '#', id: 'examine_url' %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div id="test_url_result" data-seek-url-checker-result></div>

        <%= hidden_field_tag "#{param_name}[][original_filename]", original_filename_from_params, 'data-seek-upload-field-filename' => '', :id => :original_filename %>

        <div class="alert alert-info" role="alert" style="display: none;" data-seek-url-checker-too-big>
          This file exceeds <%= Seek::Config.application_name %>'s remote file size limit of
          <strong><%= number_to_human_size(Seek::Config.hard_max_cachable_size) -%></strong>
          and so only a link to the file will be stored.
        </div>

        <div style="display: none;" data-seek-url-checker-copy-dialog>
          <p>
            You can either upload this file to <%= Seek::Config.application_name %> using this URL, or you can register a link to the file.
          </p>

          <p>
            By selecting the option below, a copy of the file will be made. This is recommended, and is equivalent to uploading
            a file from your disk. It also means that should the data behind the URL become unavailable, the data is still
            available from <%= Seek::Config.application_name %>.
            However, you should be sure that the copyright on the file allows you to do this.
          </p>

          <p>
            If you do not select the option below <%= Seek::Config.application_name %> will store only the URL and a copy will not be stored on <%= Seek::Config.application_name %>. You should do this if the file
            is large or you always want <%= Seek::Config.application_name %> to deliver the latest version.
          </p>

          <div class="checkbox">
            <label>
              <%= check_box_tag "#{param_name}[][make_local_copy]", "1", false, 'data-seek-upload-field-make-copy' => '', :id => "make_local_copy" %>
              <strong>Upload a copy</strong>
            </label>
          </div>
        </div>

        <% if batch %>
          <% objects ||= resource.send(param_name)  %>
          <%= button_link_to 'Add', 'new', '#', 'data-seek-upload-field-add-remote' => '' %>
          <%= content_tag :script,
                          objects.map { |o| { text: "#{o.url.blank? ? o.original_filename : o.url} (original)", id: o.id } }.to_json.html_safe,
                          type: 'application/json',
                          'data-seek-upload-field-existing' => '' %>
        <% end %>
      </div>
    </div>

    <ul id='pending-files' data-seek-upload-field-pending></ul>
</div>
