<div class="usage_info">
  <p><strong>Created</strong>: <%= date_as_string(resource.created_at,true) -%></p>

  <% unless resource.created_at == resource.updated_at -%>
      <p><strong>Last updated</strong>: <%= date_as_string(resource.updated_at,true) -%></p>
  <% end -%>

  <% unless @last_used_before_now.blank? -%>
      <p><strong>Last used</strong>: <%= date_as_string(@last_used_before_now,true) -%></p>
  <% end -%>
  <p><strong>Views:</strong> <%= resource.view_count -%></p>
  <% if ["DataFile","Model","Sop", "Presentation"].include?(resource.class.name) && versioned_resource.contains_downloadable_items? -%>
      <p><strong>Downloads:</strong> <%= resource.download_count -%></p>
  <% end -%>
</div>
