<%
  logging_start_date ||= nil
  show_downloads = resource.respond_to?(:contains_downloadable_items?) && resource.contains_downloadable_items?
%>

<%= panel("Activity") do %>

  <p id="usage_count">
    <strong>Views:</strong> <%= resource.view_count -%>
    <% if show_downloads -%>
      <span style="width: 2em">&nbsp;</span>
      <strong>Downloads:</strong> <%= resource.download_count -%>
    <% end -%>
  </p>

  <div id="usage_timestamps">

    <p>
      <strong>Created</strong>: <%= date_as_string(resource.created_at, true) -%>
    </p>
    <% unless resource.created_at == resource.updated_at -%>
      <p>
        <strong>Last updated</strong>: <%= date_as_string(resource.updated_at, true) -%>
      </p>
      <% if resource.updated_last_by && current_user&.person&.member_of?(resource.projects)-%>
        <p>
          <strong>Last updated by</strong>: <span class="updated_last_by"><%= link_to resource.updated_last_by.name, resource.updated_last_by -%></span>
        </p>
      <% end -%>
    <% end -%>

  </div>

  <%# for items created before we started collecting logs %>
  <% if logging_start_date && @resource.created_at <= logging_start_date %>
    <p id="logging_started">
      (Since <%= logging_start_date.strftime('%B %Y') %>)
    </p>
  <% end %>

<% end %>
