<% asset = content_blob.asset
   button_style ||= false
   if Seek::Util.inline_viewable_content_types.include?(asset.class) %>
    <%# those libs have been loaded for Model %>
    <% unless asset.is_a?(Model) %>
        <%= javascript_include_tag "zoom/lightbox" %>
        <%= stylesheet_link_tag "lightbox" %>
    <% end %>

    <% is_inline_viewable = content_blob.is_content_viewable? %>

    <%
       li_start = ""
       li_end = ""
       label = ""
       if button_style
         li_start = "<li>"
         li_end = "</li>"
         label = "View content"
       end
    %>
        <%= li_start.html_safe %>
    <% if is_inline_viewable %>
        <% if content_blob.is_image? %>
            <%
               image_width = content_blob.width.to_i
               #zoom to larger image
               zoom_width=image_width < Seek::ActsAsFleximageExtension::STANDARD_SIZE ? Seek::ActsAsFleximageExtension::STANDARD_SIZE : image_width
               zoom_width=zoom_width > Seek::ActsAsFleximageExtension::MAX_SIZE ? Seek::ActsAsFleximageExtension::MAX_SIZE : zoom_width
               zoom_width = (zoom_width == image_width) ? nil : zoom_width
            %>
            <%#param code is used for temporary link %>
            <% download_url = polymorphic_path([asset, content_blob], :action => 'download', :disposition => 'inline', :code => params[:code], :image_size => zoom_width) %>
            <%= image_tag_for_key "show", download_url, 'View content', {:rel => "lightbox"}, label %>
        <% else %>
            <%#param code is used for temporary link %>
            <% view_pdf_content_url = polymorphic_path([asset, content_blob], :action => 'view_pdf_content', :code => params[:code]) %>
            <%= image_tag_for_key "show", view_pdf_content_url, 'View content', {:onclick => "checkSupportedBrowser();", :title => 'View inline content this file'}, label %>
        <% end %>

     <% elsif !asset.is_a?(Model) && !(asset.is_a?(DataFile) && asset.contains_extractable_spreadsheet?) && asset.is_downloadable_asset? %>
           <% explanation = "Your #{text_for_resource(asset)} is unable to be viewed in browser. " +
                "Supported file formats are: " +  (Seek::ContentTypeDetection::PDF_VIEWABLE_FORMAT + ["pdf"]).join(" , ") +
               "; Supported image formats are: " + Seek::ContentTypeDetection::IMAGE_VIEWABLE_FORMAT.join(" , ") %>
        <span class='disabled_icon disabled' onclick='javascript:alert("<%=explanation%>")' title='<%= tooltip_title_attrib(explanation) %>' > <%=  image('show', {:alt=>"View Content",:class=>"disabled"}) %>  View Content </span>
    <% end %>
    <%= li_end.html_safe %>
<% end %>

<script type="text/javascript">
    function checkSupportedBrowser(){
        if (!isCanvasSupportBrowser() || !isIEVersionSupported(5)){
            alert('View inline content of this item is not supported in this browser version. Please upgrade your browser.');
        }
    }
</script>
