<%= javascript_include_tag 'detect_browser' %>
<% asset = content_blob.asset
   button_style ||= false
   if Seek::Util.inline_viewable_content_types.include?(asset.class) %>
    <%# those libs have been loaded for Model %>
    <% unless asset.is_a?(Model) %>
        <%= javascript_include_tag "zoom/lightbox" %>
        <%= stylesheet_link_tag "lightbox" %>
    <% end %>

    <% is_inline_viewable = content_blob.is_content_viewable? %>
    <% if is_inline_viewable %>
        <%
           li_start = ""
           li_end = ""
           label = ""
           if button_style
             li_start = "<li>"
             li_end = "</li>"
             label = "View content"
           end
        %>
        <%= li_start.html_safe %>
        <% if content_blob.is_image? %>
            <%#param code is used for temporary link %>
            <% download_url = polymorphic_path([asset, content_blob], :action => 'download', :disposition => 'inline', :code => params[:code]) %>
            <%= image_tag_for_key "show", download_url, 'View content', {:rel => "lightbox"}, label %>
        <% else %>
            <%#param code is used for temporary link %>
            <% view_pdf_content_url = polymorphic_path([asset, content_blob], :action => 'view_pdf_content', :code => params[:code]) %>
            <%= image_tag_for_key "show", view_pdf_content_url, 'View content', {:onclick => "isCanvasSupportBrowser();isIEVersionSupported", :title => 'View inline content this file', :target => '_blank'}, label %>
        <% end %>
        <%= li_end.html_safe %>
    <% end %>
<% end %>

<script type="text/javascript">
    function isCanvasSupportBrowser(){
        var test_canvas = document.createElement("canvas") //try and create sample canvas element
        var canvas_check=(test_canvas.getContext)? true : false //check if object supports getContext() method, a method of the canvas element
        if (!canvas_check){
            alert('View content is not supported in this browser version. Please upgrade your browser.');
        }
        return canvas_check;
    }
    function isIEVersionSupported(){
        var browser = detect_browser();
        if (browser.name == 'Microsoft Internet Explorer' && browser.majorVersion < 5){
            alert('View content is not supported in this Internet Explorer version. Please upgrade your browser.');
            return false;
        }else
            return true;
    }
</script>
