<!-- data_type_form -->
<link rel="stylesheet" type="text/css" href="http://bioportal.bioontology.org/widgets/jquery.ncbo.tree.css">
<script src="http://bioportal.bioontology.org/widgets/jquery.ncbo.tree-2.0.2.js"></script>

<%

  resource_type = resource.class.name.underscore
  resource_type_text = text_for_resource(resource)
  help_text = "You can add a data type for this #{resource_type_text}"

%>

<%= folding_panel('Data Type', true, :body_options => {:id => 'data_type_urls'},
                  :help_text => help_text) do %>

    <%= text_field_tag("#{resource_type}[data_type]", "#{resource.data_type}", hidden: true) %>

    <b>Search for a data type</b>
    <input id="data_type_search" type="text"/>
    
    <div id="data_type_tree"></div>

<% end %>

<script type="application/javascript">

  $j(document).ready(function(){
      console.log('<%= resource.data_type %>');
      var data_type_tree =
	  $j("#data_type_tree").jstree({
	      'plugins' : ['sort', 'search'],
	      "search": {
                    "case_sensitive": false,
                    "show_only_matches": true
              },
	      'core' : {
		  "themes":{
		      "icons":false
		  },
		  'multiple': false,
		  'data' : <%= raw EdamHelper::data_json %>
	      } }).on('search.jstree', function (nodes, str, res) {
		  if (str.nodes.length===0) {
		      $j('#data_type_tree').jstree(true).hide_all();
		  }
	      }).on('loaded.jstree', function() {
		  $j('#data_type_tree').jstree('select_node', '<%= resource.data_type %>');
	      }).on(
		  "select_node.jstree", function(evt, data){
		      document.getElementById('<%= "#{resource_type}_data_type" %>').value = data.node.id;
		  }
	      );

      $j('#data_type_search').keyup(function(){
	  $j('#data_type_tree').jstree(true).show_all();
	  $j('#data_type_tree').jstree('search', $j(this).val());
      });
  });
</script>
