<p>
  <ul class="sectionIcons">
	  <li><%= image_tag_for_key("avatars", all_model_images_link(image_for_instance), nil, nil, "Manage Images") -%></li>
		<li><%= image_tag_for_key('avatar', new_model_image_link(image_for_instance), nil, {:onclick => "store_and_submit_unsaved_data(this, 'edit_model_#{image_for_instance.id}'); return(false);"}, 'Upload New Image') -%></li>
	</ul>
		
	<p class="box_standout text-center" style="padding: 0.3em 0.5em; margin: 1.5em 0 1em 0;">
		Choose your default display image using a radio button below a image and clicking 'Update' at the bottom of the page.
	</p>
	
	<div id="hlist">
    <ul>
	    
	    <% image_for_instance.model_images.each do |image| -%>
	      <li class="text-center">
	      	<%= image_tag model_image_url(image_for_instance, image.id, 60), :alt => h(image_for_instance.title), :onclick => "$('model_model_image_id_#{image.id}').checked = true;" -%>
					<br/>
					<%= form_instance.radio_button :model_image_id, image.id -%>
	      </li>
	    <% end -%>
    </ul>
  </div>
  <div class="clearer">&nbsp;</div>
</p>


<script type="text/javascript">
	function store_and_submit_unsaved_data(caller, main_form_id) {
		// make sure that correct method will be used
		all_method_elements = document.getElementsByName("_method")
		for(var i = 0; i < all_method_elements.length; i++)
		  all_method_elements[i].value = "POST";
		
		// submit the full "edit person" form, but change the url - all data will be posted
		// to 'upload new avatar' page, then taken back to "edit" page afterwards
		var f = $(main_form_id);
		f.action = caller.href;
		
		// add a parameter to define where the system should return after avatar is uploaded
		var m = document.createElement('input');
		m.setAttribute('type', 'hidden');
		m.setAttribute('name', 'return_to');
		m.setAttribute('value', '<%= eval("edit_model_path(#{image_for_instance.id})") -%>');
		f.appendChild(m);
		
		f.submit();
	}
</script>
