<% image_can_be_edited_by_current_user = mine?(@model_instance) || @model_instance.can_edit?(current_user) -%>

<ul class="sectionIcons">
	<li><%= image_tag_for_key('model', url_for(@model_instance), nil, nil, 'Return to Model')%></li>
  <% if image_can_be_edited_by_current_user -%>
    <li><%= image_tag_for_key('image', new_model_image_link(@model_instance), nil, nil, 'Upload New Image')%></li>
  <% end %>
</ul>


<h1><%= t('model') %> Images: <%= link_to @model_instance.title, url_for(@model_instance) -%></h1>

<% unless @model_images.empty? %>

<br/>
<table class="alt_table">
  
<% odd_row = false -%>
<% for model_image in @model_images -%>
  <tr class="<%= (odd_row = !odd_row) ? "odd_row" : "even_row" -%>">
    <td width="150" style="padding-top: 3em;">
      <% if model_image.selected? -%>
				<%= image_tag_for_key "tick", nil, nil, nil, "" -%><br/>
        Current
      <% end -%>
    </td>
    <td>
      <%= image_tag model_image_url(@model_instance, model_image.id, 100), :alt => @model_instance.title, :class => 'framed' -%>
    </td>
    <td class="actions">
			<% if image_can_be_edited_by_current_user -%>
				<% image_link = model_image_url(@model_instance, model_image.id) -%>
				<% unless model_image.selected? -%>
					<%= image_tag_for_key "image", image_link + "/select", nil, { :method => :post }, "Set as Main Image" -%>
				<% end -%>
			<% end -%>
			<%= image_tag_for_key "show", model_image_url(@model_instance, model_image.id, "large"), nil, nil, "Enlarge" -%>
			<% if image_can_be_edited_by_current_user -%>
				<%= image_tag_for_key "destroy", image_link, nil, { data: { confirm: 'Are you sure?' }, :method => :delete }, "Delete" -%>
			<% end -%>
    </td>
  </tr>
<% end -%>
</table>

<% else -%>

<div class="show_basic">
  <p class="none_text text-center" style="font-size: 123.1%;">
    No images yet!
  </p>
</div>

<% end -%>

<br />
