<div class="main">
  <div class="container">
    <h1>Search RDF</h1></h1>
    <%= form_tag '/searchRdf' do -%>
        <div id="search_box">

          <div class="input-group">

            <p>Sugar:
              <%= text_field_tag :sugar_query, @sugar_query, :class => "form-control", :placeholder => "Search sugar here..." %>
            </p>
            </br>
            </br>
            <p>Factor:
              <%= text_field_tag :factor_query, @factor_query, :class => "form-control", :placeholder => "Search factor here..." %>
            </p>
          </div>

          <div class="input-group-btn">
            <%= submit_tag "Search", :class => 'btn btn-default' -%>
          </div>
        </div>
    <% end -%>

    <% if !@list_of_queries.empty? && @results.blank? %>
        <p>No results found for this query.</p>
    <% end -%>

    <!--TODO faceted browsing here? (see search/index.html.erb)-->
    <% if !@results.blank? %>

        <% resource_hash = classify_for_tabs @results -%>
        <%= render :partial => "assets/resource_listing_tabbed_by_class",
                   :locals => {:resource_hash => resource_hash,
                               :narrow_view => true,
                               :authorization_already_done => true} -%>
    <% end %>
  </div>
</div>