
<% assay = params[:isa_assay] ? params[:isa_assay][:assay] : nil %>
<% study = Study.find(params[:study_id] || assay[:study_id]) %>

<%= error_messages_for :isa_assay %>

<%=  f.fields_for @isa_assay.assay do |assay_fields| %>

  <div class="form-group">
    <label class="required">Title</label>
    <%= assay_fields.text_field :title, :class=>"form-control" -%>
  </div>

  <div class="form-group">
    <%= assay_fields.label :description -%><br/>
    <%= assay_fields.text_area :description, :rows => 5, :class=>"form-control rich-text-edit"  -%>
  </div>

  <%= render partial: 'custom_metadata/custom_metadata_type_selection', locals:{f:assay_fields, resource:@isa_assay.assay} %>
  <%= render partial: 'custom_metadata/custom_metadata_attribute_input', locals:{f:assay_fields,resource:@isa_assay.assay} %>

  <% if Seek::Config.is_virtualliver -%>
    <div class="form-group">
      <%= assay_fields.label t('institution') %>
      <%= collection_select(:assay, :institution_id, Institution.all, :id, :title, {:include_blank =>"Please Select ..."},{:class=>"form-control"}) %>
    </div>
  <% end -%>

  <div class="form-group hidden"  >
    <label class="required"><%= t('study') -%></label>
    <%= assay_study_selection('isa_assay[assay][study_id]',@isa_assay.assay.study) %>
  </div>

  <div class="hidden">
    <%= assay_fields.number_field :position, value: study.assays.length -%>
  </div>

  <%= assay_fields.hidden_field :assay_class_id -%>

  <% if User.current_user -%>
    <%= render partial: 'assets/manage_specific_attributes', locals:{f:f} if show_form_manage_specific_attributes? %>
    <%= assay_fields.fancy_multiselect(:sops, other_projects_checkbox: true, name: "isa_assay[assay][sop_ids]") %>
    <%= assay_fields.fancy_multiselect :publications, { other_projects_checkbox: true, name: "isa_assay[assay][publication_ids]" } %>
    <%= assay_fields.fancy_multiselect :documents, { other_projects_checkbox: true, name: "isa_assay[assay][document_ids]" } %>
  <% end -%>

  <%= render :partial=> "assets/discussion_links_form", :locals=>{:resource => @isa_assay.assay} -%>

<% end -%> 

<%= folding_panel("Assay design") do %>

  <div class="row">
    <div class="col-md-6">
      <%= folding_panel("Input Assay") do %>
        <% if study.assays.length == 0 %>
          <%= f.select :input_sample_type_id, [["<Study> #{study.title}", study.sample_types.last.id]], {}, { id:"isa_assay_input_sample_type_id",
            name: "isa_assay[input_sample_type_id]", class:"form-control" } %> 
        <% else %>
          <%= f.select :input_sample_type_id, study.assays.map{|a| {id: a.sample_type.id, a_title: "<Assay> #{a.title}"}}.pluck(:a_title, :id),
            {}, { id:"isa_assay_input_sample_type_id", name: "isa_assay[input_sample_type_id]", class:"form-control" } %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= folding_panel("Outgoing sample template") do %>
    <%= render partial: 'isa_studies/sample_types_form', locals: {f: f, sample_type: @isa_assay.sample_type, id_suffix: "_sample_type", isa_element: "assay" } %>
  <% end %>
<% end %>
 
<%= f.submit "Create", :class => 'btn btn-primary'  %>


<%= render partial: 'projects/implicit_project_selector', locals: { action: :new,
                                                                    select_id: '#isa_assay_assay_study_id',
                                                                    parents: Study.authorized_for('edit') } %>


<script>
    const templates = <%= load_templates().to_json.html_safe %>
    const initTemplateModal = function(field_name) {
      Templates.context.description_elem = `#isa_assay_${field_name}_description`
      Templates.context.suffix = "_" + field_name
      showTemplateModal()
    }

    $j(document).ready(function () {   
      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());
      const study_id = params["study_id"]
      // Prevent setting the hidden field on redirect (query string parameters are missing)
      if(study_id) 
        $j("#isa_assay_assay_study_id").val(study_id).change(); 

      Templates.init($j('#template-attributes'));   
    }); 
</script>