<%
  is_assay_stream = @isa_assay.assay.is_assay_stream?
%>
<%= error_messages_for :isa_assay %>

<%=  f.fields_for @isa_assay.assay do |assay_fields| %>

  <div class="form-group">
    <label class="required">Title</label>
    <%= assay_fields.text_field :title, :class=>"form-control" -%>
  </div>

  <div class="form-group">
    <%= assay_fields.label :description -%><br/>
    <%= assay_fields.text_area :description, rows: 5, class: "form-control rich-text-edit" -%>
  </div>

  <%# Show extended metadata is assay is of class assay_stream %>
  <% if is_assay_stream %>
    <%= render partial: 'extended_metadata/extended_metadata_type_selection', locals:{f:assay_fields, resource:@isa_assay.assay} %>
    <%= render partial: 'extended_metadata/extended_metadata_attribute_input', locals:{f:assay_fields,resource:@isa_assay.assay, parent_resource: "isa_assay"} %>
  <% end %>

  <%= assay_fields.hidden_field :study_id %>

  <% if is_assay_stream %>
    <div class="form-group">
      <%= assay_fields.label "Assay position" -%><br/>
      <%= assay_fields.number_field :position, rows: 5, class: "form-control" %>
    </div>
  <% else %>
    <div class="hidden">
      <%= assay_fields.hidden_field :position -%>
    </div>
  <% end %>


  <%= assay_fields.hidden_field :assay_stream_id -%>
  <%= assay_fields.hidden_field :assay_class_id -%>

  <% if is_assay_stream %>
    <% if User.current_user  -%>
      <%= render partial: 'assets/manage_specific_attributes', locals:{f:assay_fields} if show_form_manage_specific_attributes? %>
    <% end %>
  <% else %>
    <% if User.current_user  -%>
      <%= render partial: 'assets/manage_specific_attributes', locals:{f:assay_fields} if show_form_manage_specific_attributes? %>
      <%= assay_fields.fancy_multiselect(:sops, other_projects_checkbox: true, name: "isa_assay[assay][sop_ids]")%>
      <%= assay_fields.fancy_multiselect :publications, { other_projects_checkbox: true, name: "isa_assay[assay][publication_ids]" } %>
      <%= assay_fields.fancy_multiselect :documents, { other_projects_checkbox: true, name: "isa_assay[assay][document_ids]" } %>
    <% end -%>

    <%= render partial: "assets/discussion_links_form", locals: { resource: @isa_assay.assay } -%>

  <% end -%>
<% end -%>

<%= f.hidden_field :input_sample_type_id  -%>

<% unless is_assay_stream %>
  <%= folding_panel("Define #{t(:sample_type)} for #{t(:assay)}") do %>
    <%= render partial: 'isa_studies/sample_types_form', locals: {f: f, sample_type: @isa_assay.sample_type, id_suffix: "_sample_type", isa_element: "assay", action: action} %>
  <% end %>
<% end %>

<%= form_submit_buttons(@isa_assay.assay) %>


<%= render partial: 'projects/implicit_project_selector', locals: { action: action,
                                                                    select_id: '#isa_assay_assay_study_id',
                                                                    parents: Study.authorized_for('edit'),
                                                                    skip_on_page_load: true} %>


<script>
    const templates = <%= load_templates().to_json.html_safe %>
    const initTemplateModal = function(field_name) {
      Templates.context.description_elem = `#isa_assay_${field_name}_description`
      Templates.context.suffix = "_" + field_name
      Templates.context.field_name = field_name
      showTemplateModal()
    }

    $j(document).ready(function () {
      Templates.init($j('#template-attributes'));
    });
</script>
