<div class="myexperiment_gadget">
  <b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>

  <div class="header">
    Metrics
  </div>
  
  <div class="contents">
    Users: <%= User.count %><br/>
    People: <%= Person.count %><br/>
    Profiles: <%= Profile.count != Person.count ? "<b style=color:red;>" +Profile.count.to_s + "</b>" : Profile.count  %><br/>
    Projects: <%= Project.count %><br/>
    Institutions: <%= Institution.count %><br/>
    WorkGroups: <%= WorkGroup.count %><br/>
    Expertise: <%= Expertise.count %><br/>
  </div>
  
  <b class="xbottom"><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b><b class="xb1"></b></b>
</div>
