<% current_person = current_user.try(:person) %>
<% if current_person.try(:member?) -%>
    <div class="sysmo_gadget">
      <div class="contents curved">
        <div id='my_avatar'>
          <% if current_person.avatar.nil? %>
              <%= default_avatar('Person', 64, '', "toggleDynamicMenu('my_profile_menu');") %>
          <% else %>
              <%= image_tag avatar_url(current_person, current_person.avatar_id, 64),
                            :class => 'framed', :onclick => "toggleDynamicMenu('my_profile_menu');" %>
          <% end %>
          <span id="arrow_down" style='position:relative;left:-8px;'>
            <%= image_tag(icon_filename_for_key('arrow_down_small'), :onclick => "toggleDynamicMenu('my_profile_menu');") %>
          </span>
        </div>
        <span style='font-size:smaller;position:relative;left:-14px;'>
          <%= link_to(current_person.name, person_path(current_person)) %>
        </span>

        <ul id="my_profile_menu" class='dynamic_menu with_smaller_shadow' style="display:none;margin-top:-1.5em;">
          <% if current_person.is_admin? %>
              <li class='dynamic_menu_li' onclick="javascript:location.href='<%= admin_path -%>';">Server admin</li>
          <% end %>
          <li class='dynamic_menu_li' onclick="javascript:location.href='<%= feedback_home_path -%>';">Provide
            feedback
          </li>
          <li class='dynamic_menu_li' onclick="javascript:location.href='<%= logout_path -%>';">Logout</li>
        </ul>
      </div>
    </div>
<% end -%>

<script type="text/javascript">
    //Dynamically position the arrow_down icon based on the height of the avatar
    window.onload = function () {
        var avatar_height = $("my_avatar").clientHeight;
        $('arrow_down').style['top'] = (avatar_height / 2 - 6) + 'px';
    }
</script>



