
<%
   if Seek::Config.is_virtualliver && current_user.person.projects.size>1
     button_class="gadget_button_menu"
   else
     button_class="gadget_button"
   end
%>

<% if current_user.try(:person).try(:member?) -%>
    <div class="sysmo_gadget">

      <div class="header curved_top">
        Go to my <%= t('project') %>
      </div>
      <div class="contents curved_bottom">
        <div style="text-align: center">

            <input type=button id="my_project_button" class="<%= button_class %>" value="My <%= t('project') %>" onclick="javascript:myProjectClicked();"/>

            <ul id="my_project_menu" class='dynamic_menu with_smaller_shadow' style="display:none;">

                <% current_user.person.projects.each do |p| %>

                    <li class='dynamic_menu_li' onclick="javascript:location.href='<%= project_path(p) -%>';"><%= h(p.title) %></li>
                <% end %>
            </ul>

        </div>
      </div>
    </div>

    <script type="text/javascript">
        function myProjectClicked() {
        <% if current_user.person.projects.size==1 -%>
            location.href='<%= project_path(current_user.person.projects.first) -%>';
        <% else -%>
            toggleDynamicMenu('my_project_menu');
        <% end -%>
        }
    </script>

<% end -%>

