<script type="text/javascript">

  function newAsset() {
    selected_model=$('new_asset_type').value;

    if (selected_model == "model") {
      location.href = "<%= new_model_path -%>";
    }
    else if (selected_model == "sop") {
      location.href = "<%= new_sop_path -%>";
    }
    else if (selected_model == "assay") {
      location.href = "<%= new_assay_path -%>";
    }
    else if (selected_model == "investigation") {
      location.href = "<%= new_investigation_path -%>";
    }
    else if (selected_model == "study") {
      location.href = "<%= new_study_path -%>";
    }
    else if (selected_model == "data_file") {
      location.href = "<%= new_data_file_path -%>";
    }
    else if (selected_model == "investigation") {
      location.href = "<%= new_investigation_path -%>";
    }

  }

</script>

<% unless current_user.person.work_groups.empty? -%>
  <% cache "new_object_gadget" do -%>
    <div id="new_asset" class="sysmo_gadget">
      

      <div class="header">
        New or upload
      </div>

      <div class="contents">
        <div style="text-align: center; padding-left: 0.5em;">
          <ul class="gadget_list">
            <form id="new_asset_form" onsubmit="newAsset();return(false)">
              <%= new_creatable_selection %>
              <%= submit_tag "Go" %>
            </form>
          </ul>
        </div>
      </div>

      
    </div>
  <% end -%>
<% end -%>

