<% unless logged_in_and_registered? -%>
    <div class="panel panel-default" id="login-panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          Log in
        </h4>
      </div>

      <div class="panel-body">


        <%= form_tag main_app.session_path do %>

            <% original_url ||= request.original_url %>
            <%= hidden_field_tag "called_from[url]", original_url -%>
            <%= hidden_field_tag "called_from[controller]", controller.controller_name -%>
            <%= hidden_field_tag "called_from[action]", controller.action_name -%>
            <%= hidden_field_tag "called_from[id]", params[:id] -%>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="password_login">
                <div class="form-group">
                  <label>Login</label>
                  <%= text_field_tag 'login', nil, :class => 'form-control' -%>
                </div>

                <div class="form-group">
                  <label>Password</label>
                  <%= password_field_tag 'password', nil, :class => 'form-control' -%>
                </div>

                <div class="checkbox">
                  <label>
                    <%= check_box_tag 'remember_me',nil,false %> Remember me
                  </label>
                </div>
              </div>


            </div>

            <%= submit_tag "Log in", :class => 'btn btn-default', :id=>"login_button",:onclick=>"$('login_button').disabled=true;this.form.submit();return(false);" %>
        <% end %>
      </div>

      <div class="panel-footer">
        <%= link_to "Need an account?", main_app.signup_url %> or
        <%= link_to "Forgotten your password?", main_app.forgot_password_url %>
      </div>
    </div>
<% end -%>
