<% original_path ||= request.original_fullpath %>

<% unless logged_in_and_registered? -%>
    <div class="panel panel-default" id="login-panel">
      <div class="panel-heading">
        <h4 class="panel-title">
          Log in
        </h4>
      </div>

      <div class="panel-body">
        <%# tabs if omniauth authentication with providers is enabled %>
        <% if show_omniauth_login? %>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#password_login" aria-controls="password_login" role="tab" data-toggle="tab">SEEK login</a>
            </li>
            <% if show_elixir_login? %>
              <li role="presentation">
                <a href="#elixir_aai_login" aria-controls="elixir_aai_login" role="tab" data-toggle="tab"><%= t('login.elixir_aai') %> login</a>
              </li>
            <% end %>
            <% if show_ldap_login? %>
              <li role="presentation">
                <a href="#ldap_login" aria-controls="ldap_login" role="tab" data-toggle="tab"><%= t('login.ldap') %> login</a>
              </li>
            <% end %>
            <% if show_github_login? %>
              <li role="presentation">
                <a href="#github_login" aria-controls="github_login" role="tab" data-toggle="tab"><%= t('login.github') %> login</a>
              </li>
            <% end %>
          </ul>
        <% end #omniauth enabled and providers available %>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="password_login">
            <%= form_tag main_app.session_path do %>
              <%= hidden_field_tag "called_from[path]", original_path -%>
              <%= hidden_field_tag "called_from[controller]", controller.controller_name -%>
              <%= hidden_field_tag "called_from[action]", controller.action_name -%>
              <%= hidden_field_tag "called_from[id]", params[:id] -%>

              <div class="form-group">
                <label>Username or Email Address</label>
                <%= text_field_tag 'login', nil, placeholder: 'Username or Email Address', class: 'form-control', autofocus: true -%>
              </div>

              <div class="form-group">
                <label>Password</label>
                <%= password_field_tag 'password', nil, placeholder: 'Password', class: 'form-control' -%>
              </div>

              <div class="form-group">
                <%= check_box_tag 'remember_me',nil,false %>
                <%= label :remember, :me, "Remember me" %>
              </div>

              <div class="form-group">
                <%= submit_tag 'Log in', class: 'btn btn-default', id: 'login_button' %>
              </div>
            <% end #form %>
          </div>

          <% if show_omniauth_login? %>
            <% if show_elixir_login? %>
              <div role="tabpanel" class="tab-pane" id="elixir_aai_login">
                <div class='text-center'>
                  <%= link_to image('elixir_aai_login'), omniauth_authorize_path(:elixir_aai, state: "return_to:#{original_path}"), method: :post %>
                </div>
              </div>
            <% end %>
            <% if show_ldap_login? %>
              <div role="tabpanel" class="tab-pane" id="ldap_login">
                <%= render partial: 'identities/ldap_form', locals: { original_path: original_path } %>
              </div>
            <% end %>
            <% if show_github_login? %>
              <div role="tabpanel" class="tab-pane" id="github_login">
                <div class='text-center'>
                  <%= button_link_to 'Sign in with GitHub', 'github_large', omniauth_authorize_path(:github, state: "return_to:#{original_path}"), method: :post %>
                </div>
              </div>
            <% end %>
          <% end #omniauth enabled and providers available %>
        </div>
      </div>

      <div class="panel-footer">
        <%= link_to "Need an account?", main_app.signup_url %> or
        <%= link_to "Forgotten your password?", main_app.forgot_password_url %>
      </div>
    </div>
<% end -%>
