<div id="who_am_i" class="myexperiment_gadget">
  <b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>

  <div class="header" style="padding-bottom: 0.8em;">
    <div id="avatar" style="padding-bottom: 0.3em;">
      <%= avatar(current_user.person, 40) -%>
    </div>
		<%= h @current_user.person.name %>
  </div>
  
  <div class="contents">
    <div style="text-align: left; padding-left: 1em;">
			<ul class="gadget_list">
			  <li>
			  	<%= icon "profile", person_path(current_user.person), nil, nil, "&nbsp;My Profile" %>
					<span style="color: #666666; margin-left: 0.1em;">
						<small>[ <%= link_to "edit", edit_person_path(current_user.person) -%> ]</small>
					</span>
				</li>
	      <li><%= icon "logout", logout_url, nil, nil, "&nbsp;Logout" %></li>
			</ul>
		</div>
		
  </div>
  
  <b class="xbottom"><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b><b class="xb1"></b></b>
</div>