<%= form_for(@data_share_pack) do |f| %>
  <% if @data_share_pack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_share_pack.errors.count, "error") %> prohibited this data_share_pack from being saved:</h2>

      <ul>
      <% @data_share_pack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
