<h1>Listing data_share_packs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_share_packs.each do |data_share_pack| %>
  <tr>
    <td><%= data_share_pack.title %></td>
    <td><%= data_share_pack.description %></td>
    <td><%= link_to 'Show', data_share_pack %></td>
    <td><%= link_to 'Edit', edit_data_share_pack_path(data_share_pack) %></td>
    <td><%= link_to 'Destroy', data_share_pack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data share pack', new_data_share_pack_path %>
