<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @data_share_pack.title %>
</p>

<p>
  <b>Description:</b>
  <%= @data_share_pack.description %>
</p>


<%= link_to 'Edit', edit_data_share_pack_path(@data_share_pack) %> |
<%= link_to 'Back', data_share_packs_path %>
