<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<%= render partial: 'general/page_title', locals: { title: "#{t('project').capitalize} Dashboard" } %>

<div class="row">
  <div class="col-sm-4">
    <%= dashboard_panel('Most viewed assets', 'most_viewed') %>
    <%= dashboard_panel('Most downloaded assets', 'most_downloaded') %>
    <%= dashboard_panel('Most active contributors', 'active_contributors') %>
  </div>
  <div class="col-sm-8">
    <div>
      <%= dashboard_panel('Contributions', 'contributions') %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= dashboard_panel('Asset accessibility', 'published_assets') %>
      </div>
      <div class="col-sm-6">
        <%= dashboard_panel('?????', 'thing2') %>
      </div>
    </div>
  </div>
</div>

<script>
    $j(document).ready(function () {
        var getPage = function (page, element, refresh) {
            element.spinner('add');
            var data = { query: page };
            if (refresh) {
                data.refresh = true;
            }
            $j.ajax({ url: '<%= stats_project_dashboard_path(@project) -%>',
                data: { query: page },
                success: function (resp) {
                    element.html(resp);
                },
                error: function () {
                    element.html('<div class="alert alert-danger">An error occurred whilst fetching your query.</div>');
                },
                complete: function () {
                    element.spinner('remove');
                }
            })
        };

        $j('.dashboard-panel').each(function () {
            var panel = this;
            var panelBody = $j(this).find('.panel-body');

            getPage(panel.id, panelBody);

            $j(panel).find('.dashboard-refresh-btn').click(function () {
                getPage(panel.id, panelBody, true);
            })
        });

    });
</script>