<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>-->

<%= render partial: 'general/page_title', locals: { title: "#{t('project').capitalize} Dashboard" } %>

<div class="row">
  <div class="col-sm-4">
    <%= dashboard_panel('Active contributors', 'active_contributors') do %><% end %>

    <%= dashboard_panel('Latest DOIs', 'latest_doi') do %><% end %>

    <%= dashboard_panel('Most viewed assets', 'most_viewed') do %><% end %>
  </div>
  <div class="col-sm-8">
    <div>
      <%= dashboard_panel('Published data', 'published_data') do %><% end %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= dashboard_panel('???', 'thing1') do %><% end %>
      </div>
      <div class="col-sm-6">
        <%= dashboard_panel('?????', 'thing2') do %><% end %>
      </div>
    </div>
  </div>
</div>

<script>
    $j(document).ready(function () {
        var getPage = function (page, element, refresh) {
            element.spinner('add');
            var data = { query: page };
            if (refresh) {
                data.refresh = true;
            }
            $j.ajax({ url: '<%= stats_project_dashboard_path(@project) -%>',
                data: { query: page },
                success: function (resp) {
                    element.html(resp);
                },
                error: function () {
                    element.html('<div class="alert alert-danger">An error occurred whilst fetching your query.</div>');
                },
                complete: function () {
                    element.spinner('remove');
                }
            })
        };

        $j('.dashboard-panel').each(function () {
            var panel = this;
            var panelBody = $j(this).find('.panel-body');

            getPage(panel.id, panelBody);

            $j(panel).find('.dashboard-refresh-btn').click(function () {
                getPage(panel.id, panelBody, true);
            })
        });

    });
</script>