<% return_path = params[:return_to] || polymorphic_path([@parent_resource, :avatars]) %>
<h1>Upload <%= @parent_resource.class.name.humanize -%> Picture: <%= link_to @parent_resource.title, url_for(@parent_resource) -%></h1>

<%= error_messages_for :avatar -%>


<%= form_for [@parent_resource, @avatar] do |f| %>
    <%= f.hidden_field :image, value: @avatar.cached_image_data, id: nil  %>
    <%= f.file_field :image %>
    <%= f.submit %>
<% end %>