<% return_path = params[:return_to] || polymorphic_path([@parent_resource, :avatars]) %>
<h1>Upload <%= @parent_resource.class.name.humanize -%> Picture: <%= link_to @parent_resource.title, url_for(@parent_resource) -%></h1>

<%= error_messages_for :avatar -%>

<%= form_tag({ action: :create }, multipart: true) do %>
    <%= hidden_field_tag(:return_to, return_path) -%>

    <div class="form-group">
      <label class="required">Picture file: </label>
      <%= file_field 'avatar', 'image_file' %>
    </div>

    <div>
      <%= submit_tag "Upload", data: { disable_with: 'Uploading...' }, :class => "btn btn-primary" %>
      or <%= cancel_button(return_path) -%>
    </div>
<% end %>
