<div class='panel panel-default'>
  <div class='panel-heading'>
    Other associated items
  </div>
  <div class='panel-body'>

    <%= render :partial=> "assets/discussion_links_form", locals: {resource: @data_file} -%>

    <%= render :partial => 'assets/attribution_form', :locals => {:resource_class => DataFile,
                                                                  :existing_attributions => [], collapsed: @data_file.attributions.empty?} -%>
    <%= f.fancy_multiselect :publications, { hidden:  @data_file.publications.empty?, other_projects_checkbox: true } %>

    <%= fancy_multiselect @data_file, :events, { hidden: @data_file.events.empty?, other_projects_checkbox: true, sort_by: :start_date } if Seek::Config.events_enabled %>

    <div class='multi-step-buttons'>
      <%= multi_step_start_button %>
      <%= multi_step_back_button %>
      <%= submit_tag 'Create',
                     :id => 'data_file_submit_btn',
                     :onclick => "javascript: previewPermissions(); return(false);",
                     :class => 'btn btn-primary' -%>
    </div>

    <%= cancel_button(data_files_path) -%>
  </div>
</div>
<%= wizard_footer_tips %>

<%= preview_permission_popup_link(@data_file) %>