<div class='panel panel-default'>
  <div class='panel-heading'>
    Other associated items
  </div>
  <div class='panel-body'>
    <%= render :partial => 'assets/attribution_form', :locals => {:resource_class => DataFile,
                                                                  :existing_attributions => [], collapsed: false} -%>
    <%= render :partial => 'assets/associate_publication', :locals => {:resource_type => 'DataFile',
                                                                       :related_publications => [], collapsed: false} -%>
    <% if Seek::Config.events_enabled %>
        <%= render :partial => 'assets/associate_event', :locals => {:resource => @data_file, collapsed: false} -%>
    <% end -%>
    <div class='multi-step-buttons'>
      <%= multi_step_start_button %>
      <%= multi_step_back_button %>
      <%= submit_tag 'Create',
                     :id => 'data_file_submit_btn',
                     :onclick => "javascript: previewPermissions(); return(false);",
                     :class => 'btn btn-primary' -%>
    </div>

    <%= cancel_button(data_files_path) -%>
  </div>
</div>

<%= preview_permission_popup_link(@data_file) %>