<div class='panel panel-default'>
  <div class='panel-heading'>
    File template, data type and format
  </div>

  <div class='panel-body'>
      <%= render :partial => "assets/select_template", :locals => {:resource => (@data_file ? @data_file : DataFile.new),
      :templates => FileTemplate.all } %>
      
      <%= render partial: 'assets/edam_form_properties', :locals => { :resource => @data_file } -%>

    <%= cancel_button(data_files_path) -%>
    <div class='multi-step-buttons'>
      <%= multi_step_forward_button %>

      <%= multi_step_end_button %>
    </div>
  </div>
</div>
<%= wizard_footer_tips %>

