<% truncate_length_for_boxes = 30 -%>

<h1><%= flag_icon(@country.titleize) + h(@country).titleize -%></h1>

<div class="show_basic">
	
  <div class="main_content_left_box" style="width: 65%;">
  	<% unless @institutions.empty? -%>
		  <% @institutions.each do |i| -%>
			  <p style="margin-top: 1em; padding-left: 2em;">
				  <%= image_tag_for_key(i.class.name.downcase, nil, i.class.name.downcase.camelize, nil, "") -%>
					<%= link_to h(i.name), institution_path(i) -%>
					
					<% inst_members = i.people -%>
					<% unless inst_members.empty? -%>
					  <ul style="margin-left: 3em;">
						  <% inst_members.each do |p| -%>
							  <li>
							  	<%= image_tag_for_key(p.class.name.downcase, nil, p.class.name.downcase.camelize, nil, "") -%>
									<%= link_to h(p.first_name + " " + p.last_name), person_path(p) -%>
								</li>
							<% end -%>
					  </ul>
					<% else -%>
					  <p class="none_text" style="margin-left: 4em;">There are no known members in this institution</p>
					<% end -%>
				</p>
			<% end -%>
		<% else -%>
		  <p class="none_text">
		  	Couldn't find any institutions for this country
		  </p>
		<% end -%>
  </div>
	
	
	<div class="main_content_right_box" style="width: 32.5%;">
		<div class="contribution_section_box">
			<p class="heading">
				<%= help_icon("Institutions that are situated in this country.") -%>
				Institutions (<%= @institutions.length -%>)
			</p>
			<%= render :partial => "layouts/contribution_section_box_item_list", 
                 :locals => { :collection => @institutions,
                              :collection_name => "institutions_in_country",
                              :icon_type => "institution",
                              :truncate_to => truncate_length_for_boxes } -%>
		</div>
	</div>
	
</div>