
<%
add_row||="SampleAddNewRow()"
paste_cb||="SamplePasteFromClipboard()"
delete||="SampleSetAsDeleted()"
save||="SampleSave()"
permissions||="loadBatchPermission('sampleDynamicTable',this)"
%>

<div class="btn-group">
  <input class="btn btn-default" type="button" value="Add row" onClick=<%=add_row%> />
  <input class="btn btn-default" type="button" value="Paste From Clipboard" onClick=<%=paste_cb%> />
  <input class="btn btn-default" type="button" value="Delete selected" onClick=<%=delete%> />
  <input class="btn btn-default btn_set_permission" type="button" value="Batch sharing permissions" onClick=<%=permissions%> />
  <button class="btn btn-primary dt-action" id="btn_save_assay_sample" onClick=<%=save%>>Save</button>
</div>

<div class="container-sm">
  <form id="upload_excel_form" action="<%= upload_samples_single_page_url() %>" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="file" class="form-label">Upload excel file:</label>
    </div>
    <div class="mb-3">
      <input id="fileUpload" name="fileUpload" type="file" class="form-control form-control-lg"/>
    </div>
    <div class="mb-3">
      <button class="btn btn-default">Upload</button>
    </div>
  </form>
</div>

<script>
  function loadBatchPermission(dtName, e){
    const sample_ids = window[dtName].selectedSampleIds()

    $j.ajax({
      method: "GET",
      url: "<%= batch_sharing_permission_preview_single_pages_path %>",
      data: { sample_ids, single_page: true },
      success: (res) => {
        if (res?.status == "unprocessable_entity"){
          alert(res?.error)
        } else {
          $j('#change-batch-permission-modal').modal('show').focus();
          $j('#change-batch-permission').html(res);
          ObjectsInput.init();
        }
      },
      error: (e) => {
        console.log(e);
        alert("An error occurred while fetching data from the server.")
      }
    });

  }

async function handleUploadSubmit(e){
  const form = e.target;
  const url = new URL(form.action);
  let formData = new FormData();
  formData.append('file', fileUpload.files[0]);


  $j.ajax({
    type: 'POST',
    url: url,
    data: formData,
    dataType: 'html',
    processData: false,
    contentType: false,
    enctype: 'multipart/form-data',
    success: function(response){
      $j('#upload-excel-modal').modal('show').focus();
      $j('#upload-excel').html(response);
    },
    error: function(err){
      alert(`The following error occurred!\n${err}`);
    }
  });
  e.preventDefault();
}
  const uploadExcelForm = document.getElementById("upload_excel_form");
  uploadExcelForm.addEventListener('submit', handleUploadSubmit);
</script>
