<%= error_messages_for :isa_study %>

<%=  f.fields_for @isa_study.study do |study_fields| %>

    <div class="form-group">
      <label class="required">Title</label>
      <%= study_fields.text_field :title,:class=>"form-control" %>
    </div>
    <%= study_fields.hidden_field :investigation_id %>

    <div class="form-group">
      <%= study_fields.label :description %>
      <%= study_fields.text_area :description, :rows=>5, :class=>"form-control rich-text-edit" %>
    </div>

    <%= render partial: 'extended_metadata/extended_metadata_type_selection', locals:{f:study_fields, resource:@isa_study.study} %>
    <%= render partial: 'extended_metadata/extended_metadata_attribute_input', locals:{f:study_fields,resource:@isa_study.study, parent_resource: "isa_study"} %>

    <% unless @isa_study.study.experimentalists.blank? %>
      <div class="form-group">
        <%= study_fields.label "Experimentalist(s)" %>
        <%= study_fields.text_field :experimentalists, :class=>"form-control" %>
      </div>
    <% end %>

    <div class="form-group">
      <%= study_fields.label "Study position" -%><br/>
      <%= study_fields.number_field :position, :rows => 5, :class=>"form-control"  -%>
    </div>

    <%= render partial: 'assets/manage_specific_attributes', locals: { f: study_fields } if show_form_manage_specific_attributes? %>

    <%= study_fields.fancy_multiselect :publications, { other_projects_checkbox: true, name: "isa_study[study][publication_ids]" } %>

    <%= render :partial=> "assets/discussion_links_form", :locals=>{:resource => @isa_study.study} -%>


    <%= folding_panel("Define #{t(:sample_type)} for Source") do %>
      <%= render partial: 'sample_types_form', locals: {f: f, sample_type: @isa_study.source, id_suffix: "_source_sample_type", action: action } if @isa_study.source %>
    <% end %>

		<%= folding_panel(t(:sop).pluralize) do %>
			<p class="help-block">The following <%= t(:sop).pluralize %> are associated with this <%= t(:study) %>:</p>

      <%= study_fields.fancy_multiselect :sops, { other_projects_checkbox: true, name: "isa_study[study][sop_ids]" } %>

		<% end %>

    <%= folding_panel("Define #{t(:sample_type)} for Sample") do %>
      <%= render partial: 'sample_types_form', locals: {f: f, sample_type: @isa_study.sample_collection, id_suffix: "_sample_collection_sample_type", action: action  } if @isa_study.sample_collection %>
    <% end %>

<% end -%>

<%= form_submit_buttons(@isa_study.study) %>

<%= render partial: 'projects/implicit_project_selector', locals: { action: action,
                                                                    select_id: '#isa_study_study_investigation_id',
                                                                    parents: Investigation.authorized_for('edit'),
                                                                    skip_on_page_load: true} %>


<script>
    const templates = <%= load_templates().to_json.html_safe %>
    const initTemplateModal = function(field_name) {
      if (templates.length > 0) {
        Templates.context.description_elem = `#isa_study_${field_name}_description`
        Templates.context.suffix = "_" + field_name
        Templates.context.field_name = field_name
        showTemplateModal()
      }else{
        if (confirm("No templates available for this project. Click 'OK' to create a project specific template or 'cancel' to close this window.")){
          window.open('/templates/new')
        }
      }
    }

    $j(document).ready(function () {
      if (templates.length > 0) {
        Templates.init($j('#template-attributes'));
      }
    });
</script>
