<% study ||= nil %>
<% sample_type = study&.sample_types&.first %>

<div style="padding:0 20px 20px 20px;">
    <div class="row">
        <div class="col-12">
            <table data-dtname="sourceDynamicTable" class="table table-striped table-bordered display nowrap" id="source-material-table" style="width:100%;"></table>
        </div>
    </div>
</div>

<%= render partial: 'isa_studies/buttons', locals:{ add_row: "SourceAddNewRow()", paste_cb:
"SourcePasteFromClipboard()", delete: "SourceSetAsDeleted()", save: "SourceSave()",
permissions: "loadBatchPermission('sourceDynamicTable',this)", exportToExcel: "sourceExportExcel()" } %>

<% if sample_type %>
    <script>
    // TODO: Load data in a separeta script tag and remove it after DT is loaded
        var sourceDynamicTable
        let initialLoad = true;
        $j(document).ready(function () {
            $j('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $j.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            });
            let dt = <%= sanitize(dt_data(sample_type).to_json) %>
            sourceDynamicTable = new $j.dynamicTable('#source-material-table')
            const elem = $j("#btn_save_source")
            const options = {
               ajax:{
                    url: dynamicTableDataPath,
                    data: function(d) {
                        if (initialLoad) {
                            initialLoad = false;
                            return;
                        }
                        d.sample_type_id = '<%=sample_type.id%>';
                        d.rows_pad = "true"
                    }
                },
                callback: () => studyDynamicTable.table.ajax.reload(),
                enableLoading: () => {
                  $j("#dt-overlay").css("display", "flex")
                  elem.append("<span class='loader' style='margin:2px 0 2px 5px'></span>")
                  $j(".dt-action").addClass("disabled")
                },
                disableLoading: () => {
                  $j("#dt-overlay").css("display", "none")
                  elem.find(".loader").remove();
                  $j(".dt-action").removeClass("disabled")
                }
            }
            sourceDynamicTable.init(dt.rows, dt.columns, options)
            dt = []

            $j(".dataTables_scrollBody").css("min-height", "300px")
        });

        function SourcePasteFromClipboard(){
            sourceDynamicTable.pasteFromClipboard()
        }

        function SourceSave(){
            sourceDynamicTable.save()
        }

        function SourceSetAsDeleted(){
            sourceDynamicTable.setAsDeleted()
        }

        function SourceAddNewRow(){
            sourceDynamicTable.newRow()
        }

        function sourceExportExcel() {
            exportToExcel("source-material-table", '<%=study.id%>', null, '<%=sample_type.id%>');
        }

    </script>
<% end %>
