<% study ||= nil %>
<% valid_study = study&.sample_types.present? %>

<% if valid_study %>

	<ul class="nav nav-tabs">
			<li class="active">
					<a data-toggle="tab" data-target="#source_table" onClick="highlightTreeviewItem('source_table')"><em class="glyphicon glyphicon-list-alt"></em> Sources table</a>
			</li>
			<li>
					<a data-toggle="tab" data-target="#study_protocol" onClick="highlightTreeviewItem('study_protocol')"><em class="glyphicon glyphicon-list-alt"></em> Protocol</a>
			</li>
			<li>
					<a data-toggle="tab" data-target="#study_samples_table" onClick="highlightTreeviewItem('study_samples_table')"><em class="glyphicon glyphicon-list-alt"></em> Samples table</a>
			</li>
			<li>
					<a data-toggle="tab" data-target="#study_experiment_overview" onClick="highlightTreeviewItem('study_experiment_overview')"><em class="glyphicon glyphicon-list-alt"></em> Experiment overview</a>
			</li>
	</ul>

	<div class="tab-content">
			<div id="source_table" class="tab-pane fade active in">
					<%= render :partial=>"isa_studies/source_material", locals: { study: study} -%>
			</div>
			<div id="study_protocol" class="tab-pane fade">
					<%= render :partial=>"isa_studies/sop", locals: { sops: study&.sops} -%>
			</div>
			<div id="study_samples_table" class="tab-pane fade">
					<%= render :partial=>"isa_studies/study_samples", locals: { study: study} -%>
			</div>
			<div id="study_experiment_overview" class="tab-pane fade">
					<%= render :partial=>"isa_studies/study_table", locals: { study: study} -%>   
			</div>
	</div>

<% else %>
	<p>
		<em>
			This <%="#{t(:study)}"%>	has not been created in Single Page. 
			Please, create the <%="#{t(:study)}"%> by using the <strong>Design <%="#{t(:study)}"%></strong> button at the <%="#{t(:investigation)}"%> level.
		</em>
	</p>
<% end %>