<% @job_status ||= git_repository.remote_git_fetch_task&.status %>
<% in_progress = git_repository.remote_git_fetch_task&.in_progress? %>

<div id="fetching-status">
  <div class="alert alert-info" role="alert">
    <strong>Checkout:</strong>
    <% if in_progress %>
      <%= @job_status.to_s.humanize %>
      <%= image 'spinner' %>
      <script>
          setTimeout(function () {
              $j.ajax('<%= fetch_status_git_repository_path(git_repository) %>', {
                      data: { 'previous_status': '<%= @job_status -%>' },
                      success: function (html) {
                          $j('#fetching-status').replaceWith(html);
                      }
                  }
              );
          }, 5000);
      </script>
    <% else %>
      <%= render partial: 'select_ref', locals: { git_repository: git_repository } %>
    <% end %>
  </div>
</div>