<h5><%= 'Formatting Help'[] %></h5>

<ul class="help">
  <li><%= '*bold*'[:formatting_bold] %></li>
  <li><%= '_italics_'[:formatting_italics] %></li>
  <li><%= 'bq. <span>(quotes)</span>'[:formatting_blockquote] %></li>  
  <li><%= '* or # <span>(lists)</span>'[:formatting_list] %></li>
</ul>