<h5><%= 'Formatting Help'[] %></h5>

<ul class="help">
  <li><%= '*bold*'[:formatting_bold].html_safe %></li>
  <li><%= '_italics_'[:formatting_italics].html_safe %></li>
  <li><%= 'bq. <span>(quotes)</span>'[:formatting_blockquote].html_safe %></li>
  <li><%= '* or # <span>(lists)</span>'[:formatting_list].html_safe %></li>
</ul>