<%
item = options_for
checkbox_title = item.can_manage? ? "Publish" : "Notify owner"
-%>
<li>
    <ul class="<%= html_classes -%>">

        <li><%= text_for_resource item -%></li>
        <li><%= checkbox_title -%>&nbsp;<%= check_box_tag "#{item.class.name}[#{item.id}]",1,true -%></li>
        <li>Title <%= link_to item.title,item -%></li>
        <li>Managers <%= item.managers.empty? ? "<span class='none_text'>None</span>" : item.managers.collect{|m| link_to(m.title,m)}.join(", ")  -%></li>
        <li>Can manage? <%= item.can_manage? -%></li>
    </ul>
</li>