<div class="show_basic">

  <h1>Publishing results for the <%= text_for_resource @asset -%> '<%= link_to @asset.title,@asset -%>'</h1>

  <h2>Items that were successfully published</h2>
  <ul id="published">
    <% if @published_items.empty? -%><li class="none_text">No items</li><% end -%>
    <% @published_items.each do |item| -%>
        <li style="font-weight:bolder;"><%= text_for_resource item -%>: <%= link_to item.title, item -%></li>
    <% end -%>
  </ul>

  <h2>Items for which notifications to publish were sent the owners</h2>
  <ul id="notified">
    <% if @notified_items.empty? -%><li class="none_text">No items</li><% end -%>
    <% @notified_items.each do |item| -%>
        <li style="font-weight:bolder;"><%= text_for_resource item -%>: <%= link_to item.title, item -%></li>
        <% if Seek::Config.email_enabled %>
            <li style="padding-left:2em;">Notification has been sent to: <%= item.managers.collect{|m| link_to(m.title,m)}.join(", ") -%></li>
        <% else %>
            <li style="padding-left:2em;">Notification can't be sent to: <%= item.managers.collect{|m| link_to(m.title,m)}.join(", ") -%>, because email is disabled</li>
        <% end %>
    <% end -%>
  </ul>
  <h2>Items that were not published due to an unforseen problem</h2>
  <ul id="problematic">
    <% if @problematic_items.empty? -%><li class="none_text">No items</li><% end -%>
    <% @problematic_items.each do |item| -%>
        <li style="font-weight:bolder;"><%= text_for_resource item -%>: <%= link_to item.title, item -%></li>
    <% end -%>
  </ul>


  <br/><br/>
  <%= link_to "Back to '#{@asset.title}'", @asset -%>

</div>