<b>{{type}}</b>: {{name}}
&nbsp;&nbsp;<span style='color: #5F5F5F;'>({{contributor}})</span>
&nbsp;&nbsp;
<small style="vertical-align: middle;">
    [<a class="delete-attribution" href="javascript:deleteAttribution(); return(false);" data-attributable-id="{{id}}" data-attributable-type="{{type}}">remove</a>]
</small>
<br/>
