<div>
    <b>{{type}}</b>: {{name}}
    <span class="subtle">({{contributor}})</span>
    <a title="Remove" class="delete-attribution clickable" data-attributable-id="{{id}}" data-attributable-type="{{type}}">(remove)</a>
</div>
