<li class="association-list-item">
    <b>{{type}}</b>: {{text}}
    <span class="subtle">({{contributor}})</span>
    <a title="Remove attribution" class="remove-association delete clickable" data-object-id="{{id}}" data-object-type="{{type}}">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
</li>
