<div>
    <b>{{type}}</b>: {{name}}
    <span class="subtle">({{contributor}})</span>
    <a title="Remove attribution" class="remove-association delete clickable" data-object-id="{{id}}" data-object-type="{{type}}">&times;</a>
</div>
