<div>
    <b>{{type}}</b>: {{name}}
    <span class="subtle">({{contributor}})</span>
    <a title="Remove" class="delete clickable" data-object-id="{{id}}" data-object-type="{{type}}">(remove)</a>
</div>
