<div>
    {{creator.name}} ({{creator.projects}})
    <a title="Remove" class="delete clickable" data-object-id="{{creator.id}}">(remove)</a>
    <input type="hidden" value="{{creator.id}}" name="{{prefix}}[creator_ids][]"/>
</div>
