<%
   item = options_for_publishing
   checked ||= false
   block_published ||= false

   tree_class = 'not-publishable'
   tree_class = 'publishable' if item.can_publish?
   tree_class = 'already-published' if item.is_published?
   tree_class = 'not-visible' unless item.can_view?

   toggle ||=false
   cb_parent_selector ||="div\##{item.class.name}_#{item.id}.split_button_parent"
   show_managers=true
   managed_by_selector ||="div\##{item.class.name}_#{item.id}.managed_by_toggle"

-%>
<div class="isa-tree <%= html_classes -%> <%= tree_class %> _<%= item.id %>">
  <% if toggle %>
    <%= render :partial => 'assets/isa-tree-toggle', locals: { cb_parent_selector: cb_parent_selector } -%>
  <% end %>
  <% if item.can_view? %>
    <div  style="display: inline; margin-right:1em">
      <%= render :partial => 'general/split_button_checkbox',
                 locals: { checkbox_id: publishing_item_param(item),
                           checkbox_class: "#{item.class.name}_#{item.id}",
                           checked: checked,
                           checkbox_text: "",
                           published: (item.is_published? && block_published),
                           cant_manage: !(item.can_manage?),
                           toggle: toggle,
                           cb_parent_selector: cb_parent_selector} -%>
    </div>
    <h5 class="type_and_title" style="display: inline">
      <strong><%= text_for_resource item -%>:</strong> <%= link_to item.title, item, :target => "_blank" -%>
      <%=list_item_visibility(item)-%>
    </h5>
  <% else %>
    <div  style="display: inline; margin-right:1em">
      <%= render :partial => 'general/split_button_checkbox',
                 locals: { checkbox_id: publishing_item_param(item),
                           checkbox_class: "#{item.class.name}_#{item.id}",
                           not_visible: true,
                           toggle: toggle,
                           cb_parent_selector: cb_parent_selector} -%>
    </div>
    <h5 class="type_and_title" style="display: inline"><strong><%= text_for_resource item -%>:</strong> This item is hidden to you</h5>
    <% unless current_user.try(:person) && item.can_see_hidden_item?(current_user.person) %>
      <% show_managers=false%>
    <% end %>
  <% end %>
  <% if show_managers %>
    <div class="secondary" style="display: inline; margin-left:2em" data-tooltip="<%= tooltip('Click to toggle asset\'s manager(s).') %>">
      <a class="managed_by_toggle" data-managed_by_selector='<%= managed_by_selector %>'><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
      <div class="managed_by_toggle" id=<%="#{item.class.name}_#{item.id}"-%> style="display:none;margin-left:5em">
        Manageable by <%= item.managers.empty? ? "<span class='none_text'>None</span>".html_safe : item.managers.collect { |m| link_to(h(m.title), m) }.join(", ").html_safe -%>
      </div>
    </div>
  <% end %>
</div>
