<%
   item = options_for_publishing
   checkbox_title = "Publish"
   if item.can_publish?
     checkbox_class = "published"
   else
     checkbox_class = "disabled"
   end
-%>
<ul class="<%= html_classes -%>">
  <% if item.can_view? %>
      <li class="type_and_title"><%= text_for_resource item -%>:&nbsp;<%= link_to item.title, item, :target => "_blank" -%>
        <%=list_item_visibility(item.policy,"icon_visibility")-%>
      </li>
      <li class="secondary">Manageable by <%= item.managers.empty? ? "<span class='none_text'>None</span>" : item.managers.collect { |m| link_to(m.title, m) }.join(", ") -%></li>
  <% else %>
      <li class="type_and_title"><%= text_for_resource item -%>:&nbsp;This item is hidden to you</li>
      <% if current_user.try(:person) && item.can_see_hidden_item?(current_user.person) %>
          <li class="secondary">Manageable by <%= item.managers.empty? ? "<span class='none_text'>None</span>" : item.managers.collect { |m| link_to(m.title, m) }.join(", ") -%></li>
      <% end %>
  <% end %>

  <li class="secondary <%= checkbox_class -%>">
    <%= checkbox_title -%>&nbsp;<%= check_box_tag publishing_item_param(item), 1, false, {:class=>"checkbox_element",:disabled=>(checkbox_class=='disabled') ? true :false} -%>
  </li>
</ul>

