<%
   item = options_for_publishing
   checked ||= false
   checkbox_title = "Publish"
   if item.can_publish?
     checkbox_class = "published"
   else
     checkbox_class = "disabled"
   end
-%>
<ul class="<%= html_classes -%>">
  <% if item.can_view? %>
      <li class="type_and_title"><%= text_for_resource item -%>:&nbsp;<%= link_to item.title, item, :target => "_blank" -%>
        <%=list_item_visibility(item,"icon_visibility")-%>
      </li>
      <li class="secondary">Manageable by <%= item.managers.empty? ? "<span class='none_text'>None</span>".html_safe : item.managers.collect { |m| link_to(h(m.title), m) }.join(", ").html_safe -%></li>
  <% else %>
      <li class="type_and_title"><%= text_for_resource item -%>:&nbsp;This item is hidden to you</li>
      <% if current_user.try(:person) && item.can_see_hidden_item?(current_user.person) %>
          <li class="secondary">Manageable by <%= item.managers.empty? ? "<span class='none_text'>None</span>".html_safe : item.managers.collect { |m| link_to(h(m.title), m) }.join(", ").html_safe -%></li>
      <% end %>
  <% end %>

  <% tooltip_text = (checkbox_class=='disabled') ? 'You are not allowed to process publishing this item, or it was already published' : nil %>
  <li class="secondary <%= checkbox_class -%>" title="<%= tooltip_title_attrib(tooltip_text) %>">
    <% if item.is_published? %>
    Already published
    <% else %>
    <%= checkbox_title -%>&nbsp;<%= check_box_tag publishing_item_param(item), 1, checked,
                                                  {:disabled=>(checkbox_class=='disabled') ? true :false,
                                                   :class=>"#{item.class.name}_#{item.id}",
                                                   :onclick=>"checkRepeatedItems(this)"} -%>
    <% end %>
  </li>
</ul>

