<%
   item = options_for_publishing
   checked ||= false

   tree_class = 'not-publishable'
   tree_class = 'publishable' if item.can_publish?
   tree_class = 'already-published' if item.is_published?

-%>
<div class="isa-tree <%= html_classes -%> <%= tree_class %>">
  <% if item.can_view? %>
      <h5 class="type_and_title">
        <strong><%= text_for_resource item -%>:</strong> <%= link_to item.title, item, :target => "_blank" -%>
        <%=list_item_visibility(item)-%>
      </h5>
      <div class="secondary">Manageable by <%= item.managers.empty? ? "<span class='none_text'>None</span>".html_safe : item.managers.collect { |m| link_to(h(m.title), m) }.join(", ").html_safe -%></div>
  <% else %>
      <h5 class="type_and_title"><strong><%= text_for_resource item -%>:</strong> This item is hidden to you</h5>
      <% if current_user.try(:person) && item.can_see_hidden_item?(current_user.person) %>
          <div class="secondary">Manageable by <%= item.managers.empty? ? "<div class='none_text'>None</div>".html_safe : item.managers.collect { |m| link_to(h(m.title), m) }.join(", ").html_safe -%></div>
      <% end %>
  <% end %>

  <div>
    <% if item.is_published? %>
        <span class="label label-default" data-tooltip="<%= tooltip('This item has already been published.') %>">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Published
        </span>
    <% elsif item.can_publish? %>
        <div class="publish-checkbox">
          <div class="checkbox">
            <label>Publish?
              <%= check_box_tag publishing_item_param(item), 1, checked,
                                {:class=>"#{item.class.name}_#{item.id}",
                                 :onclick=>"checkRepeatedItems(this)"} -%>

            </label>
          </div>
        </div>
    <% else %>
        <span class="label label-warning" data-tooltip="<%= tooltip('You do not have permission to pubish this item.') %>">
          <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
          Can't publish
        </span>
    <% end %>
  </div>
</div>

