<%
   all_items =  []
   assays = @items_for_publishing.collect(&:assays).flatten
   all_items |= assays
   all_items |= assays.collect(&:asset_masters).flatten
   studies = assays.collect(&:study)
   all_items |= studies
   investigations = studies.collect(&:investigation).uniq
   all_items |= investigations
   all_items.compact.uniq!
%>

<div class="box_infotext" style="margin-top:2em;margin-left:2em">
  <ul style="padding-left:1em;">
    <li>
      <%= image_tag("misc_icons/darkgreen_box.png")%> - this item will be published.
    </li>
    <li>
      <%= image_tag("misc_icons/white_box.png")%> - this item stays the same as before.
    </li>
    <li>
      <%= image_tag("misc_icons/dimgray_box.png")%> - you dont have the right to publish this item or the item is already published.
    </li>
    <br/>
    <li>
      If you wish to publish the assets, please change the color of the small boxes accordingly by clicking on them.
    </li>
    <br/>
    <li>
      The big boxes with the <span style="font-weight:bolder; color:darkgreen;">thick dark green frame</span> represent the items choosen in the previous step.
    </li>
  </ul>
</div>
<h1>Please click on the small boxes to change the color.</h1>
<%= form_tag({:action => :publish}, :id => "publishing_form") do %>
    <div style="clear:both;">
      <% investigations.each do |investigation| %>
          <%= embedded_isa_svg_for_publishing(investigation, true, selected_items) -%>
          <br/>
          <br/>
      <% end %>

      <% all_items.each do |item| %>
          <%= check_box_tag publishing_item_param(item),1,false,{:style=>'display:none;',:class=>"checkbox_element"} %>
      <% end %>

      <% selected_items.each do |item| %>
          <% if item.assays.empty? %>
              <%= embedded_isa_svg_for_publishing(item, true, selected_items) -%>
              <br/>
              <br/>
          <% end %>
      <% end %>
    </div>
    <center>
      <%= submit_tag "Submit", :onclick => "checkCheckboxes();return false;"-%>
      Or
      <%= link_to 'Cancel', :back %>
    </center>
<% end %>

<script type="text/javascript">
    function switchColor(rect_element_class) {
        var rect_elements = document.getElementsByClassName(rect_element_class)

        if (rect_elements[0].style['fill'] == '#808080') {
            alert("You are not allowed to process publishing this item, or it was already published");
        }else{
            for(var i=0;i<rect_elements.length;i++){
                var rect_element = rect_elements[i];
                if (rect_element.style['fill'] == '#ffffff') {
                    rect_element.style['fill'] = '#006400';
                } else if (rect_element.style['fill'] == '#006400') {
                    rect_element.style['fill'] = '#ffffff';
                }
            }
        }
    }

    function checkCheckboxes(){
        var rect_elements = document.getElementsByTagName('rect');
        for(var i=0;i<rect_elements.length;i++){
            if (rect_elements[i].style['fill'] == '#006400'){
                var checbox_element = $("publish_" + rect_elements[i].id);
                checbox_element.checked = true;
            }
        }
        var all_items = [];
    <% all_items.each do |item|%>
        all_items.push(['<%= item.class.name%>','<%= item.id%>','','<%= item.gatekeeper_required? && !current_user.person.is_gatekeeper_of?(item)%>'])
    <% end %>
        checkGatekeeperRequired(all_items);
    }
</script>


