<div class="show_basic">

  <h1>Batch publishing results</h1>

  <h2>Items that were successfully published</h2>
  <ul id="published">
    <% if @published_items.empty? -%><li class="none_text">No items</li><% end -%>
    <% @published_items.each do |item| -%>
        <li style="font-weight:bolder;"><%= text_for_resource item -%>: <%= link_to item.title, item -%></li>
    <% end -%>
  </ul>

  <h2>Items for which request to publish were sent to the gatekeepers</h2>
  <ul id="publish_requested">
    <% if @waiting_for_publish_items.empty? -%><li class="none_text">No items</li><% end -%>
    <% @waiting_for_publish_items.each do |item| -%>
        <li style="font-weight:bolder;"><%= text_for_resource item -%>: <%= link_to item.title, item -%></li>
    <% end -%>
  </ul>

  <h2>Items that were not published due to an unforseen problem</h2>
  <ul id="problematic">
    <% if @problematic_items.empty? -%><li class="none_text">No items</li><% end -%>
    <% @problematic_items.each do |item| -%>
        <li style="font-weight:bolder;"><%= text_for_resource item -%>: <%= link_to item.title, item -%></li>
    <% end -%>
  </ul>

</div>