<%= stylesheet_link_tag "publishing" %>

<div class="show_basic">
  <h1>Batch publishing preview.</h1>

  <%= render :partial => "assets/publishing/publishing_guide" -%>
  <br/>

  <% form_tag :action => :publish do -%>
      <% if @assets.empty? %>
          <span class="no_unpublished_asset">All your assets are published or you have no assets in <%= Seek::Config.project_name %></span>
      <% else %>
          <% @assets.sort_by { |k, v| v.first.class.name }.each do |type, items| %>
                <h2><%= text_for_resource items.first %>(s)</h2>
                <% items.each do |item| %>
                   <%= render :partial => "assets/publishing/asset_and_related", :object => item -%>
                <% end %>
          <% end %>
          <br/>
          <%= submit_tag "Submit", :disable_with => "Submitting ..." -%>
          Or
          <%= link_to "Cancel", person_path(params[:id].to_i)-%>
      <% end -%>
  <% end -%>

</div>