<%= stylesheet_link_tag "publishing" %>
<%= javascript_include_tag "publishing" %>

<div class="show_basic">
  <h1>Batch publishing preview.</h1>

  <%= render :partial => "assets/publishing/publishing_guide" -%>
  <br/>

  <% form_tag :action => :publish do -%>
      <% if @assets.empty? %>
          <span class="no_unpublished_asset">All your assets are published or you have no assets in <%= Seek::Config.project_name %></span>
      <% else %>
          <% @assets.sort_by { |k, v| v.first.class.name }.each do |type, items| %>
                <h2><%= text_for_resource items.first %>(s)</h2>
                <% items.each do |item| %>
                   <%= render :partial => "assets/publishing/asset_and_related", :object => item -%>
                <% end %>
          <% end %>
          <br/>          
          <%= submit_tag "Submit", :id=>'submit_publishing', :onclick => "checkGatekeeperRequired();return(false);" -%>
          Or
          <%= link_to "Cancel", person_path(params[:id].to_i)-%>
          <%= link_to_remote_redbox("waiting approval list",
                                    {:url => url_for(:action => "waiting_approval_list"), :failure => "alert('Sorry, an error has occurred.'); RedBox.close();",
                                     :with => "'publish=' + getJsonPublishParams()"},
                                    {:id => "waiting_approval_list", :style => "display:none"})-%>
      <% end -%>
  <% end -%>

</div>

<script type="text/javascript">
    function checkGatekeeperRequired() {
        var gatekeeper_required = 'false';
        var publishing_items = getPublishingItems();
        <%
            total_items = []
            @assets.each do |type, items|
                items.each do |item|
                    assays = item.assays
                    if assays.empty?
                        total_items << item
                    else
                        studies =  assays.collect(&:study)
                        total_items |= ([item] + assays + studies + studies.collect(&:investigation) + assays.collect(&:asset_masters).flatten)
                    end
                end
            end
        %>

        for (var i = 0; i < publishing_items.length; i++) {
            var asset_type = publishing_items[i][0];
            var asset_id = publishing_items[i][1];
            <% total_items.each do |item| %>
                if (asset_type == '<%=item.class.name%>' && asset_id == '<%=item.id%>') {
                    gatekeeper_required = '<%=item.gatekeeper_required? && !current_user.person.is_gatekeeper_of?(item)%>';
                    break;
                }
            <% end %>
        }

        if (gatekeeper_required == 'true'){
            clickLink($('waiting_approval_list'));
        }
        else{
            $('submit_publishing').disable_with = 'Submitting ...';
            $('submit_publishing').form.submit();
        }
    }
</script>

