<%= javascript_include_tag 'publishing' %>
<%= stylesheet_link_tag "publishing" %>

<div class="show_basic">
  <h1>Batch publishing preview.</h1>

  <div class="box_infotext">
    <ul style="padding-left:1em;">
      <li>
        Having the permission to publish an asset, you can publish it by <b>checking</b> the <span class="published"><b>Publish</b></span> checkbox beside that asset.
      </li>
    </ul>
  </div>
  <br/>

  <%= form_tag({:action => :check_related_items},:method=>:get)  do -%>
      <% if @assets.empty? %>
          <span class="no_unpublished_asset">All your assets are published or you have no assets in <%= Seek::Config.project_name %></span>
      <% else %>
          <% @assets.sort_by { |k, v| v.first.class.name }.each do |type, items| %>
                <h2><%= text_for_resource items.first %>(s)</h2>
                <% items.each do |item| %>
                  <%= render :partial => "assets/publishing/options_for_publishing", :object => item, :locals => {:html_classes => "publishing_options"} -%>
                  <br/>
                <% end %>
          <% end %>
          <br/>
          <%= submit_tag "Submit"-%>
          Or
          <%= link_to "Cancel", person_path(params[:id].to_i)-%>
      <% end -%>
  <% end -%>

</div>