<h1>Your decision results:</h1>

<h2>Successfully published:</h2>
<ul class="decided_item" id="published">
  <% published_items = @approve_items - @problematic_items %>
  <% if published_items.empty? -%>
    <li class="none_text">No items</li>
  <% else %>
    <% published_items.each do |item| -%>
      <li class="type_and_title"><%= text_for_resource item -%>: <%= link_to item.title, item -%></li>
    <% end -%>
  <% end -%>
</ul>

<h2>Rejected:</h2>
<ul class="decided_item" id="rejected">
  <% if @reject_items.empty? -%>
    <li class="none_text">No items</li>
  <% else %>
    <% @reject_items.each do |item| -%>
      <li class="type_and_title"><%= text_for_resource item -%>: <%= link_to item.title, item -%></li>
    <% end -%>
  <% end -%>
</ul>

<h2>Will decide later:</h2>
<ul class="decided_item" id="decide_later">
  <% if @decide_later_items.empty? -%>
    <li class="none_text">No items</li>
  <% else %>
    <% @decide_later_items.each do |item| -%>
      <li class="type_and_title"><%= text_for_resource item -%>: <%= link_to item.title, item -%></li>
    <% end -%>
  <% end -%>
</ul>

<% unless @problematic_items.empty? -%>
  <div class="alert alert-danger">
  <h2>Unforeseen problem:</h2>
    <span>
      The following items were selected to get published but could not be published.
      <br>
      It is likely that the request to publish was withdrawn during your decision making.
      <br>
      If the item still shows in your list of pending approval assets, contact the system administrator.
    </span>
  <ul class="decided_item" id="problematic">
    <% @problematic_items.each do |item| -%>
      <li class="type_and_title"><%= text_for_resource item -%>: <%= link_to item.title, item -%></li>
    <% end -%>
  </ul>
  </div>
<% end -%>

<p>
  <%= button_link_to "Back to your profile", 'back', person_path(params[:id].to_i) -%>
</p>
