<div class="show_basic">
  <%= show_title "Publish the associated #{t('assays.assay').pluralize}, #{t('study').pluralize} and #{t('investigation').pluralize}?" %>

  <div class="box_infotext">
    <p>
      Some of the items you selected to publish are associated with an <b><%= t("assays.assay") -%></b>, and are listed below.
    </p>
    <p>
      You are encouraged to also publish the <b><%= "#{t('assays.assay')}, #{t('study')} and #{t('investigation')}" -%></b> details,
      as this provides a more complete picture about the items you are publishing to somebody visiting the <%= Seek::Config.application_name -%>.
    </p>
    <p>If you select <b>Next</b>, on the following page you can review and select the <%= "#{t('assays.assay').pluralize}, #{t('study').pluralize} and #{t('investigation').pluralize}" -%>
    you might wish to publish. Alternatively you can <b>Skip</b> that stage entirely.
    </p>


  </div>

  <br/>

  <h2>The following items are linked to <%= t("assays.assay").pluralize -%>:</h2>
  <ul style="padding-left:1em;">

    <% @items_for_publishing.each do |item| %>
        <% if !item.assays.empty? %>
            <li>
              <b><%= text_for_resource item -%>:</b>&nbsp;<%= link_to h(item.title), item, :target => "_blank" -%>
            </li>
        <% end %>
    <% end %>
  </ul>
  <br/>

  <div style="font-weight:bolder;">
    Would you like to review and publish the related <%= "#{t('assays.assay').pluralize}, #{t('study').pluralize} and #{t('investigation').pluralize}" -%>?
  </div>

  <%= form_tag({:action => :publish_related_items},:method=>:post) do %>
      <div style="display:none">
        <% @items_for_publishing.each do |item| %>
            <%= check_box_tag publishing_item_param(item), 1, true %>
            <br/>
        <% end %>
      </div>

      <br/>
      <% resource = (controller_name == 'people') ? current_user.person : @asset %>
      <%= submit_tag "Next" -%>
      <%= submit_tag "Skip", :onclick => "this.form.action='check_gatekeeper_required'" -%>
      <%= link_to "Cancel", polymorphic_path(resource) -%>
  <% end %>
</div>

