<div  style="margin:auto;width:70%;">

<div class="alert alert-info">
  <p>
    <% project_names = current_user.person.projects_for_role(Seek::Roles::ASSET_GATEKEEPER).collect(&:title) %>
    You are the <%= t('asset_gatekeeper').downcase -%> for the <%= t('project').downcase.pluralize(project_names.count) %>
    : <strong><%= project_names.join(', ') %></strong>.
  </p>
  <p>
    As the <%= t('asset_gatekeeper').downcase -%>, you control the final process of publishing items in
    your <%= t('project').downcase.pluralize(project_names.count) %>, that is:
    the owners of the items requested to make these items public, but it requires your approval.
  </p>
  <p>
    The owners will be informed if you approve or reject these requests.
  </p>
</div>

<% if @requested_approval_assets.empty? %>
    <span class="none_text">There are no items waiting for your approval</span>

    <%= button_link_to "Back to your profile", 'back', person_path(params[:id].to_i) -%>
<% else %>
    <%= form_tag :action => :gatekeeper_decide do %>
    <h1><%= (@requested_approval_assets.count > 1)? 'The following items have been requested to be published' : 'The following item has been requested to be published' %></h1>
        <% @requested_approval_assets.each do |asset| %>
            <div class="item_for_decision row">
              <div class="col-sm-10">
                <div class="type_and_title form-group">
                  <b><%= text_for_resource asset -%> : </b>
                    <%= link_to(asset.title, asset,option={target: :_blank}) -%>
                    <%= list_item_visibility(asset) -%>
                </div>

                <div class="request_info form-group">
                  <label>Requested by </label>
                    <% asset.publish_requesters.each do |requester| %>
                        <%= link_to(requester.name, requester, option={target: :_blank}) %>
                        on
                        <%= date_as_string(asset.resource_publish_logs.last.created_at,true) %>
                    <% end %>
                </div>

                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="radio-inline"><input type="radio" name="gatekeeper_decide[<%= asset.class.name %>][<%= asset.id %>][decision]" value="1">Approve</label>
                      <label class="radio-inline"><input type="radio" name="gatekeeper_decide[<%= asset.class.name %>][<%= asset.id %>][decision]" value="0">Reject</label>
                      <label class="radio-inline"><input type="radio" name="gatekeeper_decide[<%= asset.class.name %>][<%= asset.id %>][decision]" value="-1" checked>Decide later</label></div>
                    <div class="col-md-6">
                        <label>Reason or other comments (optional)</label>
                        <%= text_area_tag "gatekeeper_decide[#{asset.class.name}][#{asset.id}][comment]", nil,
                                          :rows => 3, :class => 'form-control' -%>

                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>

        <p>
          <%= submit_tag "Submit", data: { disable_with: 'Submitting ...' }, :class => 'btn btn-primary' -%>
          or
          <%= cancel_button(person_path(params[:id].to_i)) -%>
        </p>
    <% end %>
<% end %>
</div>