<style type="text/css">

</style>

<div class="show_basic">
  <br/>
  <div class="alert alert-info">
    <ul style="padding-left:1em;">
      <li>
        <% project_names = current_user.person.projects_for_role(Seek::Roles::ASSET_GATEKEEPER).collect(&:title) %>
        You are the Gatekeeper for the <%= t('project').downcase.pluralize(project_names.count) %>
        : <strong><%= project_names.join(', ') %></strong>.
      </li>
      <li>
        As the Gatekeeper, you control the final process of publishing items in
        your <%= t('project').downcase.pluralize(project_names.count) %>, that is:
        the owners of the items requested to make these items public, but it requires your approval.
      </li>
      <li>
        The owners will be informed if you <span class="approve">approve</span> or <span class="reject">reject</span> these requests.
      </li>
    </ul>
  </div>

  <br/>
  <% if @requested_approval_assets.empty? %>
      <span class="published">There are no items waiting for your approval</span>
      <br/>
      <br/>
      <%= link_to "Back to profile", person_path(params[:id].to_i) -%>
  <% else %>
      <%= form_tag :action => :gatekeeper_decide do %>
          <h2>You have been requested to allow the following items to be published. Please select your decision:</h2>
          <% isa_order = ['Investigation', 'Study', 'Assay']%>
          <% @requested_approval_assets.sort_by { |a| [a.is_isa? ? -1 : 1, isa_order.index(a.class.name), a.class.name] }.each do |asset| %>
              <ul class="item_for_decision">
                <li class="type_and_title">
                  <strong><%= text_for_resource asset -%></strong>:&nbsp;<%= link_to (asset.title), asset -%>
                  <%= list_item_visibility(asset, "icon_visibility") -%>
                </li>
                <li class="request_info">
                  Requested by:&nbsp;
                  <% asset.publish_requesters.each do |requester| %>
                      <%= link_to(requester.name, requester) %>
                      on
                      <%
                         log = ResourcePublishLog.where(["resource_type=? AND resource_id=? AND publish_state=? AND user_id=?",
                                                         asset.class.name, asset.id, ResourcePublishLog::WAITING_FOR_APPROVAL, requester.user.id]).last
                      %>
                      <%= date_as_string(log.created_at,true) %>
                      <br/>
                  <% end %>
                </li>

                <li class="radio_buttons">
                  <input type="radio" name="gatekeeper_decide[<%= asset.class.name %>][<%= asset.id %>][decision]" value="1"/>
                  <span class="approve" style="padding-right: 2em;">Approve</span>

                  <input type="radio" name="gatekeeper_decide[<%= asset.class.name %>][<%= asset.id %>][decision]" value="0"/>
                  <span class="reject" style="padding-right: 2em;">Reject</span>

                  <input type="radio" name="gatekeeper_decide[<%= asset.class.name %>][<%= asset.id %>][decision]" value="-1" checked="true"/>
                  <span class="decide_later">Decide later</span>
                </li>
                <li class="comment">
                  Reason or other comments(optional):
                  <br/>
                  <%= text_area_tag "gatekeeper_decide[#{asset.class.name}][#{asset.id}][comment]", nil, :style => "width: 50%;", :rows => 3 -%>
                </li>
              </ul>
          <% end %>

          <br/>
          <%= submit_tag "Submit", :disable_with => "Submitting ..." -%>
          Or
          <%= cancel_button(person_path(params[:id].to_i)) -%>
      <% end %>
  <% end %>
</div>

