<div  style="margin:auto;width:70%;">

<div class="alert alert-info">
  <p>
    <% project_names = current_user.person.projects_for_role(:asset_gatekeeper).collect(&:title) %>
    You are the <%= t('asset_gatekeeper').downcase -%> for the <%= t('project').downcase.pluralize(project_names.count) %>
    : <strong><%= project_names.join(', ') %></strong>.
  </p>
  <p>
    As the <%= t('asset_gatekeeper').downcase -%>, you control the final process of publishing items in
    your <%= t('project').downcase.pluralize(project_names.count) %>, that is:
    the owners of the items requested to make these items public, but it requires your approval.
  </p>
  <p>
    The owners will be informed if you approve or reject these requests.
  </p>
</div>

<% if @waiting_approval_assets.empty? %>
    <span class="none_text">There are no items waiting for your approval</span>
    <div>
    <%= button_link_to "Back to your profile", 'back', person_path(params[:id].to_i) -%>
    </div>
<% else %>
    <%= form_tag :action => :gatekeeper_decide do %>
      <div class="waiting_approval_items">
    <h1 style="margin:8px 0px;">Waiting your approval to be published:</h1>
        <% @waiting_approval_assets.each do |asset| %>
            <ul class="item_for_decision row">
              <div class="col-sm-12">
                <li class="type_and_title">
                  <b><%= text_for_resource asset -%> : </b>
                    <%= link_to(asset.title, asset,option={target: :_blank}) -%>
                    <%= list_item_visibility(asset) -%>
                </li>

                <div class="request_info">
                  <label>Requested by </label>
                    <% asset.publish_requesters.each do |requester| %>
                        <%= link_to(requester.name, requester, option={target: :_blank}) %>
                        on
                        <%= date_as_string(asset.resource_publish_logs.last.created_at,true) %>
                    <% end %>
                </div>

                <div class="container" style="width:100%">
                  <div class="row">
                    <div>
                      <label class="radio-inline"><input type="radio" name="gatekeeper_decide[<%= asset.class.name %>][<%= asset.id %>][decision]" value="1">Approve</label>
                      <label class="radio-inline"><input type="radio" name="gatekeeper_decide[<%= asset.class.name %>][<%= asset.id %>][decision]" value="0">Reject</label>
                      <label class="radio-inline"><input type="radio" name="gatekeeper_decide[<%= asset.class.name %>][<%= asset.id %>][decision]" value="-1" checked>Decide later</label>
                    </div>
                    <div>
                        <label>Reason or other comments (optional)</label>
                        <%= text_area_tag "gatekeeper_decide[#{asset.class.name}][#{asset.id}][comment]", nil,
                                          :rows => 3, :class => 'form-control' -%>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
        <% end %>
      </div>

        <p>
          <%= submit_tag "Submit", data: { disable_with: 'Submitting ...' }, :class => 'btn btn-primary' -%>
          or
          <%= cancel_button(person_path(params[:id].to_i)) -%>
        </p>
    <% end %>
<% end %>
  <% unless @rejected_assets.empty? %>
    <a class="rejected_items" href="#" style="display:block;" onclick="$j('.rejected_items').toggle();return false;">Show rejected</a>
    <a class="rejected_items" href="#" style="display:none;" onclick="$j('.rejected_items').toggle();return false;">Hide rejected</a>
    <div class="rejected_items" style="display:none;">
      <h3 style="margin:8px 0px;">Items with rejected status:</h3>
      <% @rejected_assets.each do |asset| %>
        <ul class="item_waiting_for_approval">
          <li class="type_and_title">
            <b><%= text_for_resource asset -%> : </b>
            <%= link_to(asset.title, asset,option={target: :_blank}) -%>
            <%= list_item_visibility(asset) -%>
          </li>
          <div class="request_info">
            Requested by
            <% asset.publish_requesters.each do |requester| %>
              <%= link_to(requester.name, requester, option={target: :_blank}) %>
              on
              <%= date_as_string(asset.resource_publish_logs.last(2).first.created_at,true) %>
            <% end %>
            <br/>
            Rejected on:&nbsp;
            <%= date_as_string(asset.last_publishing_log.created_at,true) %>

            Comments: <%= asset.last_publishing_log.comment %>
          </div>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
