<%= stylesheet_link_tag "publishing" %>
<%= javascript_include_tag "publishing" %>

<div class="show_basic">
  <h1>Publishing preview.</h1>

  <%= render :partial => "assets/publishing/publishing_guide" -%>
  <br/>

  <% form_tag :action => :publish do -%>
      <%= render :partial => "assets/publishing/asset_and_related", :object => @asset%>
      <br/>
      <br/>
      <%= submit_tag "Submit", :id=>'submit_publishing', :onclick => "clickLink($('waiting_approval_list'));return(false);" -%>
      Or
      <%= link_to "Cancel", @asset-%>
      <%= link_to_remote_redbox("waiting approval list",
                                {:url => url_for(:action => "waiting_approval_list"), :failure => "alert('Sorry, an error has occurred.'); RedBox.close();",
                                 :with => "'publish=' + getPublishParams()"},
                                {:id => "waiting_approval_list", :style => "display:none"})-%>
  <% end %>
</div>
