<%= stylesheet_link_tag "publishing" %>

<div class="show_basic">
  <h1>Publishing preview.</h1>

  <%= render :partial => "assets/publishing/publishing_guide" -%>
  <br/>

  <% form_tag :action => :publish do -%>
      <%= render :partial => "assets/publishing/asset_and_related", :object => @asset%>
      <br/>
      <br/>
      <%= submit_tag "Submit", :id=>'submit_publishing', :disable_with=>"Submitting ..." -%>
      Or
      <%= link_to "Cancel", @asset-%>
  <% end %>
</div>
