<style>
    .publishing_options {
        padding-left: 1em;
    }

    ul.publishing_options li.type_and_title {

    }

    ul.publishing_options li.title {

    }

    ul.publishing_options li.secondary {
        padding-left: 1em;
    }

    .status  {
        font-weight:bolder;
    }

    .published {
        color: green;
        font-weight:bolder;
    }

    .owned {
        color: orange;
        font-weight:bolder;
    }

    .protected {
        color: red;
        font-weight:bolder;
    }

    span.related_items {
        font-weight: bold;
    }
    span.no_related_items {
        font-weight: bold;
        color: gray;
    }
</style>

<div class="show_basic">
  <h1>Preview publishing.</h1>

  <div class="box_infotext">
    <p>
      Publishing guide line
      <%= link_to_function "More "+ expand_image,  :id => 'info_expand_image' do |page|
        page.visual_effect(:toggle_appear, "more_publishing_info", :duration => 0.5)
        page["info_expand_image"].toggle
        page["info_collapse_image"].toggle
      end
      -%>
      <%= link_to_function "Less "+collapse_image, :id => 'info_collapse_image', :style => "display:none" do |page|
        page.visual_effect(:toggle_appear, "more_publishing_info", :duration => 0.5)
        page["info_expand_image"].toggle
        page["info_collapse_image"].toggle
      end
      -%>
    </p>

    <div id="more_publishing_info" style="display: none;">
      <ul style="padding-left:1em;">
        <li><b>Gatekeeper:</b> to secure publishing process, each project has an option to define the gatekeepers, who give the approval or
          reject of publishing request. However it is optional, so if a project doesn't define any gatekeepers, the project assets can be made
          published immediately.
        </li>
        <li>
          Having the permission to manage an asset, you can immediately <span class="published">Publish</span> the asset or <span class="owned">Submit publishing request</span> to the gatekeepers if defined, otherwise <span class="protected">Notify owner</span> which a notification email will be sent to the owners of the asset.
        </li>
        <li>
          If there is an asset you do not wish to make public, then you can <span class="status">uncheck</span> the checkbox beside that asset and it will remain unaffected.
        </li>
      </ul>
    </div>
  </div>
  <br/>
  <% form_tag :action => :single_publish do -%>
      <div>
        <%= render :partial => "assets/publishing/options_for_isa_publishing", :object => @asset, :locals => {:html_classes => "publishing_options"} -%>
      </div>

      <% unless @asset.assays.empty? %>
          <span class="related_items">Publish also related items?</span>
          <%= check_box_tag "related_items", nil, false, {:onclick => remote_function(:url => {:action => "isa_publishing_preview"},
                                                                                      :with => "'related_items_checked=' + $('related_items').checked + '&id='+#{@asset.id}",
                                                                                      :before => "show_ajax_loader('isa_preview');")} -%>
          <div id="isa_preview"></div>
      <% else %>
          <span class="no_related_items">No related items</span>
      <% end %>

      <br/>
      <br/>
      <%= submit_tag "Submit",:disable_with=>"Submitting ..." -%>
      Or
      <%= link_to "Cancel", @asset-%>
  <% end %>
</div>
