<div class='show_basic'>
  <%= show_title "One #{t('asset_gatekeeper').downcase } will need to approve the items to be published" -%>

  <div class="alert alert-info">
    <p>
      One or more of the items to be published are associated with a <%= t('project') -%> that has chosen to use the protection of the <%= t('asset_gatekeeper').downcase %>.
    </p>
    <p>
      The <%= t('asset_gatekeeper').downcase %> is a person that needs to approve items before they are finally published.
    </p>
    <p>
      The affected items, and the related <%= t('asset_gatekeeper').downcase %>, are listed below. When you Submit an email will be sent to that person, and they will either approve
      or reject the publication. Once this has happened, you will be notified back via an email.
    </p>
  </div>
  <h2>The following items require approval from one of the <%= t('asset_gatekeeper').downcase.pluralize %>:</h2>
  <ul class="publishing_options" id="waiting_approval">
    <% @waiting_for_publish_items.each do |item| %>
        <li class="type_and_title"><%= text_for_resource item -%>
          :&nbsp;<%= link_to item.title, item, :target => "_blank" -%></li>
        <li class="secondary">Approval required from: <%= item.asset_gatekeepers.collect { |m| link_to(m.title, m) }.join(" or ").html_safe -%></li>
        <br/>
    <% end %>
  </ul>
  <% unless @items_for_immediate_publishing.empty? -%>
  <h2>The following items will be published immediately and do not require approval from the <%= t('asset_gatekeeper').downcase %>:</h2>
      <ul class="publishing_options" id="publish_immediately">
          <% @items_for_immediate_publishing.each do |item| %>
              <li class="type_and_title">
                <%= text_for_resource item -%>: <%= link_to item.title, item -%>
              </li>
          <% end %>
      </ul>
  <% end -%>

  <%= form_tag :action => :publish do %>
      <div style="display:none;">
          <% @items_for_publishing.each do |item| %>
              <%= hidden_field_tag publishing_item_param(item), 1 %>
              <br/>
          <% end %>
      </div>
      <br/>

      <% resource = (controller_name == 'people') ? current_user.person : @asset %>
      <%= submit_tag "Confirm", data: { disable_with: 'Confirm' }, :class => 'btn btn-primary' -%>
      or
      <%= cancel_button(resource) %>
  <% end %>
</div>
