<div class="show_basic">
  <br/>

  <div class="alert alert-info">
    <ul style="padding-left:1em;">
      <li>
        The <b><%= t('asset_gatekeeper').downcase %></b> is a person in your <%=t('project').downcase -%> that needs to approve items before they are finally published.
      </li>
      <li>
        If you requested to publish an item, an email will have be sent to that person, asking them to either approve
        or reject the publication.
      </li>
      <li>
        The following is a list of the items that you have requested to make published, but are still waiting for the approval from a <%= t('asset_gatekeeper').downcase %> in your <%=t('project').downcase -%>.
      </li>
    </ul>
  </div>

  <br/>
  <% if @waiting_approval_assets.empty? %>
      <span class="published">You have no items waiting for the approval from your <%=t('project').downcase -%> <%= t('asset_gatekeeper').downcase %></span>
      <br/>
  <% else %>
      <h2>You have requested to publish the following items, and they are awaiting approval from one of the <%= t('asset_gatekeeper').downcase.pluralize %>:</h2>
      <% isa_order = ['Investigation', 'Study', 'Assay'] %>
      <% @waiting_approval_assets.sort_by { |a| [a.is_isa? ? -1 : 1, isa_order.index(a.class.name), a.class.name] }.each do |asset| %>
          <ul class="item_waiting_for_approval">
            <li class="type_and_title">
              <%= text_for_resource asset -%>:&nbsp;<%= link_to (asset.title), asset -%>
              <%= list_item_visibility(asset, "icon_visibility") -%>
            </li>
            <li class="request_info">
              Requested on:&nbsp;
              <%
                 log = ResourcePublishLog.where(["resource_type=? AND resource_id=? AND publish_state=? AND user_id=?",
                                                 asset.class.name, asset.id, ResourcePublishLog::WAITING_FOR_APPROVAL, current_user.id]).last
              %>
              <%= date_as_string(log.created_at,true) %>
              <br/>
              Waiting to be approved by:&nbsp;
              <% gatekeeper_links = asset.asset_gatekeepers.collect { |gatekeeper| link_to(gatekeeper.name, gatekeeper) }.join(' or ').html_safe %>
              <%= gatekeeper_links %>
            </li>
          </ul>
      <% end %>
  <% end %>

  <br/>
  <b>
    <%= link_to "Back to profile", person_path(params[:id].to_i) -%>
  </b>

  <br/>
  <br/>

</div>

