<% redirect_to ||= taverna_player.runs_path %>

<% if run.finished? %>
    <%= render :partial => 'download_link', :locals => { :download_link_name => "Download all results", :download_url => run.results.url} %>
    <!--# If this run is part of a sweep - do not give option to create a new sweep off it.-->
    <!--# Also, if workflow does not have data input ports - there is nothing to sweep over.-->
    <% if run.sweepable? %>
        <%= button_link_to('Data sweep based on this run', 'sweep', main_app.new_sweep_path(:run_id => run.id)) -%>
    <% end %>
<% end %>

<%= admin_dropdown do %>
    <% if run.complete? && run.can_manage? %>
        <% if !run.reported? && run.reportable? && Seek::Config.email_enabled%>
            <li><%= image_tag_for_key('report', main_app.report_problem_run_path(run), nil, {:method=>:post}, "Report a problem with this run") -%></li>
        <% end %>
    <% end %>
    <% if run.can_manage? and !current_user.guest? -%>
        <li><%= image_tag_for_key('manage', main_app.edit_run_path(run), nil, nil, "Manage run") -%></li>
    <% end -%>
    <%= delete_or_cancel_button(run, redirect_to) %>
<% end %>
