<div id="run-info">
  <%= form_for run, :url => main_app.run_path(run.id), :method => "put" do |f| -%>
      <p>
        <b>Name:</b>
        <%= text_field_tag 'run_name', run.name, :size => 80 -%>
        <%= submit_tag('Save changes') -%>
      </p>
  <% end %>

  <p>
    <b>Workflow:</b>
    <% workflow = Workflow.find(run.workflow_id) %>
    <%= link_to workflow.title, main_app.workflow_path(workflow)#, :version => run.workflow_version)),
    %>
  </p>

  <p>
    <b>State:</b>
    <%= run.state %>
  </p>

  <p>
    <b>Status message:</b>
    <%= run.status_message %>
  </p>

  <%
     create_time = run.create_time.blank? ? '' : run.create_time.strftime("%e %b %Y %H:%m:%S %Z")
     start_time = run.start_time.blank? ? '' : run.start_time.strftime("%e %b %Y %H:%m:%S %Z")
     finish_time = run.finish_time.blank? ? '' : run.finish_time.strftime("%e %b %Y %H:%m:%S %Z")
  %>

  <p>
    <b>Create time:</b>
    <%= create_time %>
  </p>

  <p>
    <b>Start time:</b>
    <%= start_time %>
  </p>

  <p>
    <b>Finish time:</b>
    <%= finish_time %>
  </p>

  <!--<p>-->
  <!--<b>Embedded:</b>-->
  <!--<% run.embedded %>-->
  <!--</p>-->
</div>
