<div id="run-info">
  <p>
    <b>Run:</b>
    <%= run.run_id %>
  </p>

  <p>
    <b>Name:</b>
    <%= run.name %>
  </p>

  <p>
    <b>State:</b>
    <%= run.state %>
  </p>

  <p>
    <b>Status message:</b>
    <%= run.status_message %>
  </p>

  <p>
    <b>Create time:</b>
    <%= run.create_time %>
  </p>

  <p>
    <b>Start time:</b>
    <%= run.start_time %>
  </p>

  <p>
    <b>Finish time:</b>
    <%= run.finish_time %>
  </p>

  <p>
    <b>Embedded:</b>
    <%= run.embedded %>
  </p>
</div>
