<% sweep_length ||= 1
   locked ||= false
   sweepable = sweep_length > 1
   hidden ||= false
%>

<div class="fold">
  <div class="foldTitle">
    <%= title %>
    <% if locked %>
      (fixed)
    <% end %>
  </div>
  <div class="foldContent workflow_input" <%= 'style="display: none;"'.html_safe if hidden -%>>
    <% sweep_length.times do |i| %>
      <% if sweep_length > 1 %>
        <h2>Iteration <%= i+1 -%></h2>
        <%= form.fields_for :runs, TavernaPlayer::Run.new do |run_fields| %>
          <% inputs.each do |input| %>
            <%= render :partial => 'taverna_player/runs/input_form', :locals => {:input => input, :form => run_fields,
                                                                                 :locked => locked } %>
          <% end %>
        <% end %>
      <% else %>
        <% inputs.each do |input| %>
          <%= render :partial => 'taverna_player/runs/input_form', :locals => {:input => input, :form => form,
                                                                               :locked => locked } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
