<% locked ||= false %>

<% input_data = form.object.new_record? ? nil : form.object.inputs.select { |i| i.name == input[:name] }.last %>
<h3><%= input[:name] %></h3>
<p>
  <% unless input[:description].blank? %>
    <%= input[:description] %>
  <% else %>
    <span class="none_text">No description</span>
  <% end %>
</p>

<% if locked %>
  <% unless input_data.value.blank? %>
    <p>
      <b>Value:</b>
      <%= input_data.value %>
    </p>
  <% end %>

  <% unless input_data.file_file_name.blank? %>
    <p>
      <b>File:</b>
      <%= link_to input_data.file_file_name, input_data.file.url %>
    </p>
  <% end %>
<% else %>
  <%= form.fields_for :inputs, TavernaPlayer::RunPort::Input.new do |input_fields| %>
    <% unless input[:example].blank? %>
      <p>Example value: <%= input[:example] %></p>
      <% unless input_data.try(:value) %>
        <p>
          The example value is automatically entered in the box below.
          Click to edit or enter a new value directly or choose a file.
        </p>
      <% end %>
    <% end %>

    <%= input_fields.hidden_field :name, :value => input[:name] %>
    <%= input_fields.text_area :value, :value => input_data.try(:value) || input[:example], :rows => 3, :cols => 40 %>
    <br/>
    <p>
      <%= input_fields.file_field :file %>
    </p>
  <% end %>
<% end %>