<%
   sweep_length ||= 1
   hidden ||= false
%>

<div class="fold">
  <div class="foldTitle">
    <%= title %>
  </div>
  <div class="foldContent workflow_input" <%= 'style="display: none;"'.html_safe if hidden -%>>
    <% if form.object.is_a?(Sweep) %>
      <% sweep_length.times do |i| %>
        <h2>Iteration <%= i+1 -%></h2>
        <%= form.fields_for :runs, TavernaPlayer::Run.new do |run_fields| %>
          <% inputs.each do |input| %>
            <%= render :partial => 'taverna_player/runs/input_form', :locals => {:input => input, :form => run_fields } %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% inputs.each do |input| %>
        <%= render :partial => 'taverna_player/runs/input_form', :locals => {:input => input, :form => form } %>
      <% end %>
    <% end %>
  </div>
</div>
