<h2 class="standout">
  <%= title -%> (<%= ports.count -%>)
</h2>
<% unless ports.blank? -%>
  <% ports.each do |p| -%>
    <div class="input">
      <h3><%= p.name %></h3>

      <p>
        <strong>Value:</strong>
      </p>
      <% if p.file_file_name.blank? %>
        <pre class="script_example_data_box"><%= p.value.force_encoding('UTF-8') %></pre>
      <% else %>
        <p><%= link_to p.file_file_name, p.file.url %></p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p class="none_text" style="margin-left:20px;">None</p>
<% end %>
