<div id="run-interaction">
  <% if !interaction.nil? %>
      <%= stylesheet_link_tag('jquery-ui-1.8.14.custom') %>
      <%= javascript_include_tag 'jquery-ui-1.8.14.custom.min.js' %>

      <script type="text/javascript">
          var inputData = <%= raw(interaction.data) %>;

          function registerCalls() {
            pmrpc.register({
              publicProcedureName : "reply",
              procedure : function(status, results) {
                interaction_reply('<%= "#{run_url(run)}/interaction/#{interaction.serial}" %>', status, results);
                return "OK";
              }
            });

            pmrpc.register({
              publicProcedureName : "getParameterValue",
              procedure : function(parameterName) {
                return getParameterValue(parameterName);
              }
            });

            pmrpc.register({
              publicProcedureName : "getInputData",
              procedure : function() {
                return inputData;
              }
            });

            pmrpc.register( {
              publicProcedureName : "getWorkflowRunId",
              procedure : function () {
                return "<%= run.run_id %>";
              }
            });

            pmrpc.register( {
              publicProcedureName : "setTitle",
              procedure : function(title) {
                document.title = title;
                return "OK";
              }
            });
          }
          jQuery(document).ready(
                  function () {
                      registerCalls();
                      show_interaction_overlay();
                  }
          );

          $( "#target" ).click(function() {
              show_interaction_overlay();
          });

          function show_interaction_overlay() {
              var $j = jQuery;

              $modal = $j('#modal-interaction-dialog'),
                      $modalBody = $j('#modal-interaction-dialog .modal-interaction-body'),
                      $modalHeading = $j('#modal-interaction-dialog .modal-interaction-heading');

              $modal.dialog(
                      {
                          modal: true,
                          autoOpen: true,
                          width: 600,
                          draggable: true,
                          resizable: true,
                          dialogClass: 'no-close noTitleStuff'/*,
                       buttons: [
                       { text: "OK", click: function () {
                       $j(this).dialog("close");
                       } }
                       ]*/
                      });

              $modalHeading.html("Run Interaction");
          }

      </script>

      <br/>
      <div id="target">
        Click here if the interaction is not showing
      </div>
      <!-- Hidden div for the contents of the interaction that will appear as
  a modal dialog and will be populated via an AJAX call. -->
      <div style="display:none;">
        <div>
          <div id="modal-interaction-dialog">
            <div class="modal-interaction-header">
              <h3 class="modal-interaction-heading">Run Interaction</h3>
            </div>
            <div class="modal-interaction-body" style="width:auto; height:100%">
              <%= content_tag(:iframe, "", {:width => "100%", :height => "90%",
                                            :src => interaction_redirect(interaction)}) %>
            </div>
          </div>
        </div>
      </div>

  <% else %>
      <script>
          jQuery(document).ready(
                  function () {
                      // Dialogs have no way of knowing when they're supposed to be
                      // closed without callbacks so make sure they're hidden away
                      // if the interaction is nil
                      var $j = jQuery;
                      $j('#modal-interaction-dialog').hide();
                      $j('#modal-interaction-dialog .modal-interaction-body').hide();
                      $j('#modal-interaction-dialog .modal-interaction-heading').hide();
                      $j('#modal-interaction-dialog .modal-interaction-header').hide();
                  }
          );
      </script>
  <% end %>
</div>