<% if run.finished? && run.outputs.any? %>
  <!-- Result output port names from the workflow -->
  <% result_output_port_names = run.workflow.output_ports.select { |output| (output.port_type.name == WorkflowOutputPortType::RESULT) }.collect { |i| i.name } -%>
  <!-- Figure out result outputs from the run -->
  <% run_result_outputs = run.outputs.select { |output| result_output_port_names.include?(output.name) } %>

  <h2 style='background-color: #CDDEEF; background-image: url("../images/header-bg2.png");'>Results
    (<%= run_result_outputs.count -%>)</h2>
  <% unless run_result_outputs.blank? -%>
    <div style="clear: both;"></div>

    <table class="simple" style="width: 96%; margin-left:2%; margin-right:2%;">
      <% run_result_outputs.each do |b| -%>
        <tr>
          <td>
            <h3><%= b.name %></h3>

            <p>
              <strong>Value:</strong>
              <%= "(#{b.metadata[:type]})" if b.depth == 0 %>
              <%= show_output(run, b) %>
            </p>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class="none_text" style="margin-left:20px;">None</p>
  <% end %>


  <!-- Error/log output port names from the workflow -->
  <% error_log_output_port_names = run.workflow.output_ports.select { |output| (output.port_type.name == WorkflowOutputPortType::ERROR_LOG) }.collect { |i| i.name } -%>
  <!-- Figure out error/log outputs from the run -->
  <% run_error_log_outputs = run.outputs.select { |output| error_log_output_port_names.include?(output.name) } %>
  <h2 style='background-color: #CDDEEF; background-image: url("../images/header-bg2.png");'>Errors/Logs
    (<%= run_error_log_outputs.count -%>)</h2>
  <% unless run_error_log_outputs.blank? -%>
    <div style="clear: both;"></div>

    <table class="simple" style="width: 96%; margin-left:2%; margin-right:2%;">
      <% run_error_log_outputs.each do |b| -%>
        <tr>
          <td>
            <h3><%= b.name %></h3>

            <p>
              <strong>Value:</strong>
              <%= "(#{b.metadata[:type]})" if b.depth == 0 %>
              <%= show_output(run, b) %>
            </p>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class="none_text" style="margin-left:20px;">None</p>
  <% end %>
<% end %>

