
<div id="run-outputs">
  <% if run.outputs.size > 0 %>
    <h2>Outputs</h2>

    <%= link_to "Download All", run.results.url %>

    <% run.outputs.each do |output| %>
      <p>
        <b>Name:</b>
        <%= output.name %>
      </p>

      <p>
        <b>Value:</b>
        <%= "(#{output.metadata[:type]})" if output.depth == 0 %>
        <%= show_output(run, output) %>
      </p>

    <% end%>
  <% end %>

  <% unless run.log.blank? %>
    <p>
      <b>Log:</b>
      <%= link_to "Taverna Server log", run.log.url %>
    </p>
  <% end %>
</div>
