<!-- Setup navbar -->


<ul class='results-navbar menutabs'>
  <%= "<h3><a href='#'>Run Results</a></h3>".html_safe  unless run_result_outputs.empty? %>
  <% run_result_outputs.each do |p| %>
      <li class='navbar-item'><a href="#<%=p.name%>" ><%=p.name%></a></li><br>
  <% end  %>
  <%= "<h3>Run Errors</h3>".html_safe unless run_error_log_outputs.empty? %>
  <% run_error_log_outputs.each do |p| %>
      <li class='navbar-item'><a href="#<%=p.name%>" ><%=p.name%></a></li><br>
  <% end %>
</ul>