<!-- Setup navbar -->

<div class='run_result_links'>
  <h3>Shortcuts:</h3>
  <% run_result_outputs.each do |p| %>
      <div class='run_result_link'><a href="#<%=p.name%>" ><%=p.name%></a></div>
  <% end  %>
  <%= "<h3>Run Errors</h3>".html_safe unless run_error_log_outputs.empty? %>
  <% run_error_log_outputs.each do |p| %>
      <div class='run_result_link'><a href="#<%=p.name%>" ><%=p.name%></a></div>
  <% end %>
</div>