<!-- Setup navbar -->
<div class='run_result_links'>
  <h3>Jump to:</h3>
  <strong>Results:</strong><% run.result_outputs.each do |p| %>
      <div class='run_result_link'><a href="#<%=p.name%>" ><%=p.name%></a></div>
  <% end  %>
  <%= "<br/><strong>Run Information:</strong>".html_safe unless run.error_log_outputs.empty? %>
  <% run.error_log_outputs.each do |p| %>
      <div class='run_result_link'><a href="#<%=p.name%>" ><%=p.name%></a></div>
  <% end %>
</div>