<%= javascript_include_tag 'DataTables-1.8.2/jquery.js', 'DataTables-1.8.2/jquery.dataTables.js', 'DataTables-1.8.2/jquery.dataTables.rowGrouping.js', 'DataTables-1.8.2/Scroller.js' %>
<% id ||= 'workflow_runs_table' %>
<% default_sort ||= [6, 'desc'] %>
<% poll_interval ||= 20000 %>
<% show_user ||= false %>
<%
   unless defined?(poll)
     poll = true
   end
%>
<script type="text/javascript">
    jQuery.noConflict();
    var $j = jQuery;
    $j('#<%= id -%>').data('poller', null);
    $j(document).ready(function () {
        workflow_runs_table = $j('#<%= id -%>').dataTable({
            "sPaginationType": "full_numbers",
            "iDisplayLength" : 15,
//            "bPaginate":false,
            "bLengthChange":false,
            "bFilter":true,
            "bSort":true,
            "bInfo":false,
            "bAutoWidth":false,
            "bRetrieve":true,
            "oLanguage": {
                "sEmptyTable": "No workflow runs found"
            },
            "aaSorting":[
                [ <%= default_sort[0] -%>, "<%= default_sort[1] -%>" ]
            ],
            "aoColumns":[
                <% if show_user %>
                { "sWidth":"24%" },
                { "sWidth":"8%" },
                <% else %>
                { "sWidth":"32%" },
                { "sWidth":"0%","bSearchable": false, "bVisible": false },
                <% end %>
                { "sWidth":"15%" },
                { "sWidth":"10%" },
                { "sWidth":"7%" },
                { "iDataSort": 6, "sWidth":"10%", "bSearchable": false },
                { "bSearchable": false, "bVisible": false }, //Unix timestamp of "created" date for sorting purposes
                { "iDataSort": 8, "sWidth":"10%", "bSearchable": false },
                { "bSearchable": false, "bVisible": false }, //Unix timestamp of "finished" date for sorting purposes
                { "sWidth":"6%", "bSortable":false, "bSearchable": false }
            ]
        });
        <% if poll %>
        $j('#<%= id -%>').data('poller', window.setInterval(function () { $j.get("<%= polling_url.html_safe %>", null, null, "script") }, <%= poll_interval -%>));
        <% end %>
    });
</script>

<% redirect_to ||= taverna_player.runs_path %>
<div id="workflow_runs">
  <table cellpadding="0" cellspacing="0" class="display" id="<%= id -%>" style="">
    <thead>
    <tr>
      <th>Run</th>
      <th>User</th>
      <th>Workflow</th>
      <th>Category</th>
      <th>State</th>
      <th>Created</th>
      <th>Created Timestamp</th>
      <th>Finished</th>
      <th>Finished Timestamp</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render :partial => 'taverna_player/runs/table_body', :locals => { :runs => runs, :redirect_to => redirect_to } %>
    </tbody>
  </table>
</div>
