<div class="breadcrumbs">
  <a href="/">Home</a> &gt;
  <%= link_to @run.workflow.category.name, main_app.workflows_path(:category_id => @run.workflow.category) -%> &gt;
  <%= link_to @run.workflow.title, main_app.workflow_path(@run.workflow) -%> &gt;
  <% if @run.sweep %>
      <%= link_to @run.sweep.name, main_app.sweep_path(@run.sweep) -%> &gt;
  <% end %>
  <%= link_to @run.name, taverna_player.run_path(@run) -%> &gt;
  Manage
</div>

<h1>Manage run: <%= @run.name %></h1>

<%= form_for @run, :url => main_app.run_path(@run.id), :method => "put" do |f| -%>
    <%= error_messages_for :run -%>
    <div class="form-group">
      <label>Name</label>
      <%= f.text_field :name, :class => 'form-control' -%>
    </div>

    <% unless @run.using_sweep_policy? || current_user.guest_project_member?%>
        <%= render :seek_partial => "sharing/form" -%>
    <% end %>

    <%= submit_tag 'Save', :class => 'btn btn-primary' -%>
    or
    <%= cancel_button(main_app.run_path(@run)) -%>
<% end %>
