<h1><%= 'Workflow Runs' -%></h1>

<%= panel do %>
<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <% if logged_in? %>
        <li role="presentation" class="active"><a href="#your-runs" aria-controls="your-runs" role="tab" data-toggle="tab">Your runs</a></li>
    <% end %>
    <li role="presentation" <%= 'class="active"'.html_safe unless logged_in?-%>>
      <a href="#other-runs" aria-controls="other-runs" role="tab" data-toggle="tab">Other runs</a>
    </li>
  </ul>
  <div class="tab-content">
    <% if logged_in? %>
        <div role="tabpanel" class="tab-pane active" id="your-runs">
          <%= render :partial => 'table', :locals => {:runs => @user_runs,
                                                      :id => 'workflow_user_runs_table', :poll => false } %>
          <%# Only one of the tables need to poll, because both will be updated with the response %>
        </div>
    <% end %>

    <div role="tabpanel" class="tab-pane <%= 'active'.html_safe unless logged_in?-%>" id="other-runs">
      <%= render :partial => 'table', :locals => {:runs => @extra_runs, :polling_url => request.url,
                                                  :id => 'workflow_runs_table', :poll => @runs.any? {|r| !r.complete?},
                                                  :redirect_to => taverna_player.runs_path, :show_user => true
                                    } %>
      <% if params[:no_limit] %>
          Showing all runs.
          <%= link_to('Show less', taverna_player.runs_path(:tab => 'other')) -%>
      <% else %>
          Showing a maximum of 75 runs.
          <%= link_to('Show all', taverna_player.runs_path(:tab => 'other', :no_limit => true)) -%>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
    $j(function (){
        $j('.easytabs-container').easyTabs();

        <% if params[:tab] == 'other' %>
        $j('ul.easytabs-nav > li').removeClass('active');
        $j('.easytabs-pane').removeClass('active');
        $j('ul.easytabs-nav > li:eq(1)').addClass('active');
        $j('.easytabs-pane:eq(1)').addClass('active');
        <% end %>
    });

</script>
