<div class="breadcrumbs">
  <a href="/">Home</a> &gt;
  <%= link_to @workflow.category.name, main_app.workflows_path(:category_id => @workflow.category) -%> &gt;
  <%= link_to @workflow.title, main_app.workflow_path(@workflow) -%> &gt;
  New Run
</div>

<% workflow_title = TavernaPlayer.workflow_proxy.title(@workflow) || "" %>
<% workflow_inputs = TavernaPlayer.workflow_proxy.inputs(@workflow) %>

<div class="contribution_title">
  <h1><%= 'New Workflow Run: ' + workflow_title -%></h1>
</div>

<div class="show_basic">
  <%= form_for @run, :html => {:multipart => true} do |f| %>
      <%= f.hidden_field :workflow_id, :value => @workflow.id %>
      <%# f.hidden_field :workflow_version, :value => @workflow_version.version %>
      <%= f.hidden_field :embedded %>

      <div style="display: none">
        <%= render :partial => "assets/sharing_form" -%>
      </div>

      <div class="box_about_actor" style="text-align: left; padding: 20px 20px 20px 0px;">
        <%= f.label :name, "Run name:"  %>
        <%= f.text_field :name, :value => "#{workflow_title} run", :size => 80 %>
      </div>

      <!-- Data inputs -->
      <% data_inputs = workflow_inputs.select{|input| (input.port_type.name == WorkflowInputPortType::DATA)}  -%>
      <% unless data_inputs.blank? %>
          <%= render :partial => 'inputs_form', :locals => {:title => "Data", :inputs => data_inputs, :form => f} %>
      <% end %>

      <!-- Parameter inputs -->
      <% paramater_inputs = workflow_inputs.select{|input| input.port_type.name == WorkflowInputPortType::PARAMETER} -%>
      <% unless paramater_inputs.blank? %>
          <%= render :partial => 'inputs_form', :locals => {:title => "Parameters", :inputs => paramater_inputs, :form => f} %>
      <% end %>
      <br/>

      <div style="float: left;">
        <%= f.submit 'Start Run' %>
        <% unless @run.embedded? %>
              <span style="padding-left: 10px;">
                 <%= link_to 'Cancel', :back %>
              </span>
        <% end %>
      </div>
  <% end %>
</div>
