<%= javascript_include_tag :runs %>

<div class="breadcrumbs">
  <a href="/">Home</a> &gt;
  <%= link_to @workflow.category.name, main_app.workflows_path(:category_id => @workflow.category) -%> &gt;
  <%= link_to @workflow_version.title, main_app.workflow_path(@workflow, :version => @workflow_version.version) -%> &gt;
  New Run
</div>

<div class="contribution_title">
  <h1><%= 'New Workflow Run: ' + @workflow_version.title -%></h1>
</div>

<% if current_user.guest? %>
    <div class="box_infotext curved" style="margin: 1em auto">
      <h5>Guest Users</h5>
      <p>
        You are starting this workflow run as a <strong>Guest user</strong>.
        The results of this run will be publicly visible by other guests, and will only be accessible for seven days after it finishes, at which point they will be deleted.
      </p>
      <p>
        If you wish to keep the results for longer than that please <%= link_to 'log in', main_app.new_session_path -%> before starting a run.
        If you do not have an account yet you can <%= link_to 'sign up', main_app.signup_path -%>.
      </p>
    </div>
<% end %>

<div class="show_basic">
  <%= error_messages_for :run -%>

  <%= form_for @run, :html => {:multipart => true} do |f| %>
      <%= f.hidden_field :workflow_id, :value => @workflow.id %>
      <%= f.hidden_field :workflow_version, :value => @workflow_version.version %>
      <%= f.hidden_field :embedded %>

      <div class="box_about_actor" style="text-align: left; padding: 20px 20px 20px 0px;">
        <%= f.label :name, "Run name:"  %><br/>
        <%= f.text_field :name, :value => "#{@workflow_version.title} (v#{@workflow_version.version}) run " + Time.now.utc.strftime('%e %b %Y %H:%M:%S %Z'), :style => 'width: 100%' %>
      </div>

      <!-- Data inputs -->
      <% unless @workflow_version.data_input_ports.blank? %>
          <%= render :partial => 'inputs_form', :locals => {:title => "Data", :inputs => @workflow_version.data_input_ports, :form => f} %>
      <% end %>

      <!-- Parameter inputs -->
      <% unless @workflow_version.parameter_input_ports.blank? %>
          <%= render :partial => 'inputs_form', :locals => {:title => "Parameters", :inputs => @workflow_version.parameter_input_ports, :form => f} %>
      <% end %>
      <br/>

      <div style="float: left;">
        <%= f.submit 'Start Run' %>
        <% unless @run.embedded? %>
              <span style="padding-left: 10px;">
                 <%= link_to 'Cancel', :back %>
              </span>
        <% end %>
      </div>
  <% end %>
</div>
