<script>
    // scroll to top thing
    //plugin
    jQuery.fn.topLink = function(settings) {
        settings = jQuery.extend({
            min: 1,
            fadeSpeed: 100
        }, settings);
        return this.each(function() {
            //listen for scroll
            var el = jQuery(this);
            //el.hide(); //in case the user forgot
            jQuery(window).scroll(function() {
                if(jQuery(window).scrollTop() > settings.min)
                {
                    el.stop(true, true).fadeTo(settings.fadeSpeed, 0.8);
                }
                else
                {
                    el.stop(false, false).fadeTo(settings.fadeSpeed, 0);
                }
            });
        });
    };

    //usage w/ smoothscroll
    jQuery(document).ready(function() {
        //set the link
        jQuery('#top-link-box').topLink({
            min: 500,
            fadeSpeed: 100
        });
        //smoothscroll
        jQuery('#top-link').click(function(r) {
            jQuery("html, body").animate({ scrollTop: 0 }, 300);
        });

        jQuery('#top-link-close').click(function() {
            $('top-link-box').hide();
        });
    });
</script>

<div class="run_results">

  <% workflow = @run.workflow %>
  <% workflow_version = workflow.find_version(@run.workflow_version) %>

  <div class="breadcrumbs">
    <a href="/">Home</a> &gt;
    <%= link_to workflow.category.name, main_app.workflows_path(:category_id => workflow.category) -%> &gt;
    <%= link_to workflow_version.title, main_app.workflow_path(workflow, :version => workflow_version.version) -%> &gt;
    <% if @run.sweep %>
        <%= link_to @run.sweep.name, main_app.sweep_path(@run.sweep) -%> &gt;
    <% end %>
    <%= @run.name -%>
  </div>

  <div id="top-link-box">
    <a href="#" id='top-link'>Back To Top </a>&nbsp;
    <div id='top-link-close'><%=image("destroy")%></div>
  </div>

  <%= render :partial => "title",:locals => { :run=>@run } -%>

  <%= render :partial => "info", :locals => {:run => @run} %>

  <%= render :partial => "interaction", :locals =>
                                              {:run => @run, :interaction => @interaction} %>

  <div id="run-outputs" style="<%= 'display: none' unless @run.complete? && @run.outputs.size > 0-%>">
    <%= folding_panel('Outputs') do %>
        <% if @run.finished? && @run.outputs.any? %>
            <%= render :partial => "outputs", :locals => {:run => @run} %>
        <% end %>
    <% end %>
  </div>

  <% if @run.inputs.any? %>
      <div id="run-inputs">
        <%= folding_panel('Inputs') do %>
            <%= render :partial => "inputs", :locals => {:run => @run} %>
        <% end %>
      </div>
  <% end %>

  <div id="advanced" style="<%= 'display: none' unless @run.complete? -%>">
    <%= folding_panel('Advanced', true) do %>
        <%= render :partial => "advanced_info", :locals => {:run => @run} %>
    <% end %>
  </div>

  <% unless @run.complete? %>
      <%= render :partial => "poll", :locals => {:reload => run_path(@run)} %>
  <% end %>
</div>
