<%= javascript_include_tag 'jquery-1.5.1.min.js' %>
<script>
    $j = jQuery.noConflict();
    // scroll to top thing
    //plugin
    jQuery.fn.topLink = function(settings) {
        settings = jQuery.extend({
            min: 1,
            fadeSpeed: 100
        }, settings);
        return this.each(function() {
            //listen for scroll
            var el = jQuery(this);
            //el.hide(); //in case the user forgot
            jQuery(window).scroll(function() {
                if(jQuery(window).scrollTop() > settings.min)
                {
                    el.stop(true, true).fadeTo(settings.fadeSpeed, 0.8);
                }
                else
                {
                    el.stop(false, false).fadeTo(settings.fadeSpeed, 0);
                }
            });
        });
    };

    //usage w/ smoothscroll
    jQuery(document).ready(function() {
        //set the link
        jQuery('#top-link-box').topLink({
            min: 500,
            fadeSpeed: 100
        });
        //smoothscroll
        jQuery('#top-link').click(function(r) {
            jQuery("html, body").animate({ scrollTop: 0 }, 300);
        });

        jQuery('#top-link-close').click(function() {
            $('top-link-box').hide();
        });
    });

</script>

<%= javascript_include_tag 'taverna_player/application.js' %>
<%= stylesheet_link_tag 'taverna_player/coderay.css' %>

<div class="run_results">

  <% workflow = Workflow.find(@run.workflow_id) %>

  <div class="breadcrumbs">
    <a href="/">Home</a> &gt;
    <%= link_to workflow.category.name, main_app.workflows_path(:category_id => workflow.category) -%> &gt;
    <%= link_to workflow.title, main_app.workflow_path(workflow) -%> &gt;
    <% if @run.sweep %>
        <%= link_to @run.sweep.name, main_app.sweep_path(@run.sweep) -%> &gt;
    <% end %>
    <%= @run.name -%>
  </div>

  <div id="top-link-box">
    <a href="#" id='top-link'>Back To Top </a>&nbsp;
    <div id='top-link-close'><%=image("destroy")%></div>
  </div>

  <div class="contribution_title">
    <h1><%= 'Run: ' + @run.name -%></h1>
  </div>

  <%= render :partial => 'buttons', :locals => {:run => @run, :redirect_to => taverna_player.runs_path} %>
  <br/>

  <div class="show_basic">
    <%= render :partial => "info", :locals => {:run => @run} %>

    <div style="clear: both;"></div>

    <%= render :partial => "interaction", :locals =>
            {:run => @run, :interaction => @interaction} %>


    <a href=''></a>
    <div id="run-outputs" style="<%= 'display: none' unless @run.complete? && @run.outputs.size > 0-%>">
      <div class="fold">
        <div class="foldTitle">
          Outputs
        </div>
        <div class="foldContent">
          <% if @run.finished? && @run.outputs.any? %>
              <%= render :partial => "outputs", :locals => {:run => @run} %>
          <% end %>
        </div>
      </div>
    </div>

    <% if @run.inputs.any? %>
        <div id="run-inputs">
          <div class="fold">
            <div class="foldTitle">
              Inputs
            </div>
            <div class="foldContent">
              <%= render :partial => "inputs", :locals => {:run => @run} %>
            </div>
          </div>
        </div>
    <% end %>

    <div id="advanced" style="<%= 'display: none' unless @run.finished? -%>">
      <div class="fold">
        <div class="foldTitle">
          Advanced
        </div>
        <div class="foldContent" style="display: none;">
          <b>Log:</b>
          <pre id="log_url" class="script_example_data_box"><%= File.read(@run.log.path) unless @run.log.blank? || @run.log.url.blank? %></pre>
        </div>
      </div>
    </div>

    <% unless @run.complete? %>
        <%= render :partial => "poll", :locals => {:reload => run_path(@run)} %>
    <% end %>
  </div>
</div>

