<% workflow = Workflow.find(@run.workflow_id) %>

<div class="contribution_title">
  <h1><%= 'Run: ' + @run.name -%></h1>
</div>

<%= render :partial => 'buttons', :locals => {:run => @run} %>

<div class="show_basic">
  <%= render :partial => "info", :locals => {:run => @run} %>

  <div style="clear: both;"></div>

  <%= render :partial => "interaction", :locals =>
          {:run => @run, :interaction => @interaction} %><br/>

  <%= render :partial => "outputs", :locals => {:run => @run} %>

  <%= render :partial => "inputs", :locals => {:run => @run} %>

  <div class="fold">
    <div class="foldTitle">
      Advanced
    </div>
    <div class="foldContent" style="display: none;">
      <p>
        <b>Log:</b>
        <%= link_to "Taverna Server log", @run.log.url %>
      </p>
    </div>
  </div>

  <% unless @run.finished? || @run.cancelled? %>
      <%= render :partial => "poll", :locals => {:reload => run_path(@run)} %>
  <% end %>
</div>