<% workflow = Workflow.find(@run.workflow_id) %>

<div class="breadcrumbs">
  <a href="/">Home</a> &gt;
  <%= link_to workflow.category.name, main_app.workflows_path(:category_id => workflow.category) -%> &gt;
  <%= link_to workflow.title, main_app.workflow_path(workflow) -%> &gt;
  <% if @run.sweep %>
    <%= link_to @run.sweep.name, main_app.sweep_path(@run.sweep) -%> &gt;
  <% end %>
  <%= @run.name -%>
</div>

<div class="contribution_title">
  <h1><%= 'Run: ' + @run.name -%></h1>
</div>

<%= render :partial => 'buttons', :locals => {:run => @run} %>

<div class="show_basic">
  <%= render :partial => "info", :locals => {:run => @run} %>

  <div style="clear: both;"></div>

  <%= render :partial => "interaction", :locals =>
          {:run => @run, :interaction => @interaction} %><br/>

  <%= render :partial => "outputs", :locals => {:run => @run} %>

  <%= render :partial => "inputs", :locals => {:run => @run} %>

  <div id="advanced" style="<%= 'display: none' unless @run.complete? -%>">
    <div class="fold">
      <div class="foldTitle">
        Advanced
      </div>
      <div class="foldContent" style="display: none;">
        <p>
          <b>Log:</b>
          <span id="log_url"></span>
        </p>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'jquery-1.5.1.min.js' %>
  <% unless @run.complete? %>
      <%= render :partial => "poll", :locals => {:reload => run_path(@run)} %>
  <% end %>
</div>