<%
   publications = @project.publications.select { |p| p.has_assets? }

   publications_all_public = publications.select do |pub|
     assets = pub.related_models | pub.related_data_files
     assets.detect { |asset| !asset.can_download?(nil) }.nil?
   end
   publications_not_all_public = publications - publications_all_public
%>
<div class="report_selection">
Report displayed: <%= select_tag "displayed_publication_report",options_for_select([["Publications with public items","publications_with_public"],["Publications with some restricted items","publications_with_private"]],"publications_with_private"),:onchange=>"displayed_publication_report_changed();" -%>
</div>

<div id="publications_with_public" class="asset_report_container curved">
  <h1>Publications associated with publicly available items</h1>

  <p class='alert alert-info' style="width:98%;text-align:center;margin-bottom:1em;">
    These are the publications, with associated <%= t('data_file').pluralize %> and/or <%= t('model').pluralize %> that
    are available to download by any visitor to the <%= Seek::Config.instance_name %> site.
  </p>
  <%= render :partial => "projects/asset_report/linked_publication_table", :object => publications_all_public -%>
</div>

<div id="publications_with_private" class="asset_report_container curved">

  <h1>Publications associated with items, where some are not available publicly</h1>

  <p class='alert alert-info' style="width:98%;text-align:center;margin-bottom:1em;">
    These are the publications that have associated <%= t('data_file').pluralize %> and/or <%= t('model').pluralize %>,
    however not all the associated assets are available to download by everybody visiting
    the <%= Seek::Config.instance_name %> site. <br/>
    The assets that have restricted access and need sharing publicly are highlighted in Red.
  </p>
  <%= render :partial => "projects/asset_report/linked_publication_table", :object => publications_not_all_public -%>

</div>

<script type="text/javascript">
    displayed_publication_report_changed();
</script>
