<% pub = linked_publication_row
   models = pub.related_models
   data = pub.related_data_files
-%>
<tr>
  <td>
    <span class='cell_content'><%= pub.title -%></span>
  </td>
  <td><span class='cell_content'><%= link_to polymorphic_url(pub), polymorphic_url(pub) -%></span></td>
  <td>
    <span class='cell_content'><%= !pub.pubmed_id.nil? ? pub.pubmed_id : pub.doi %></span>
  </td>
  <td>
    <% organisms=pub.related_organisms -%>
    <% if organisms.empty? -%>
        <span class='none_text'>None defined</span>
    <% else %>
        <table class="inner_linked_assets">
          <% organisms.each do |organism| -%>
              <%
                 cls = ""
                 cls << " bordered" unless organism==organisms.last
              -%>
              <tr class='<%= cls -%>'>
                <td><span class='cell_content'><%= organism.title -%></span></td>
              </tr>
          <% end -%>
        </table>
    <% end -%>
  </td>
  <td>
    <% if organisms.empty? -%>
        <span class='none_text'>None defined</span>
    <% else %>
        <table class="inner_linked_assets">
          <% organisms.each do |organism| -%>
              <%
                 cls = ""
                 cls << " bordered" unless organism==organisms.last
              -%>
              <tr class='<%= cls -%>'>
                <td><%= organism.ncbi_id.nil? ? "<span class='none_text'>Unknown</span>".html_safe : organism.ncbi_id -%></span></td>
              </tr>
          <% end -%>
        </table>
    <% end -%>
  </td>
  <td>
    <% human_diseases=pub.related_human_diseases -%>
    <% if human_diseases.empty? -%>
        <span class='none_text'>None defined</span>
    <% else %>
        <table class="inner_linked_assets">
          <% human_diseases.each do |human_disease| -%>
              <%
                 cls = ""
                 cls << " bordered" unless human_disease==human_diseases.last
              -%>
              <tr class='<%= cls -%>'>
                <td><span class='cell_content'><%= human_disease.title -%></span></td>
              </tr>
          <% end -%>
        </table>
    <% end -%>
  </td>
  <td>
    <% if human_diseases.empty? -%>
        <span class='none_text'>None defined</span>
    <% else %>
        <table class="inner_linked_assets">
          <% human_diseases.each do |human_disease| -%>
              <%
                 cls = ""
                 cls << " bordered" unless human_disease==human_diseases.last
              -%>
              <tr class='<%= cls -%>'>
                <td><%= human_disease.doid_id.nil? ? "<span class='none_text'>Unknown</span>".html_safe : human_disease.doid_id -%></span></td>
              </tr>
          <% end -%>
        </table>
    <% end -%>
  </td>
  <td>
    <table class='inner_linked_assets'>
      <% if data.empty? %>
          <span class='none_text'>None defined</span>
      <% end -%>
      <% data.each do |df| -%>
          <%
             cls = df.can_download?(nil) ? '' : 'notpublic'
             cls << " bordered" unless df==data.last
          -%>
          <tr class='<%= cls -%>'>
            <td>
              <span class='cell_content'><%= df.can_view? ? df.title : "<span class='none_text'>Hidden</span>".html_safe -%></span>
            </td>
          </tr>
      <% end -%>
    </table>
  </td>
  <td>
    <table class='inner_linked_assets'>
      <% if data.empty? %>
          <span class='none_text'>None defined</span>
      <% end -%>
      <% data.each do |df| -%>
          <%
             cls = df.can_download?(nil) ? '' : 'notpublic'
             cls << " bordered" unless df==data.last
          -%>
          <tr class='<%= cls -%>'>
            <td><span class='cell_content'><%= link_to polymorphic_url(df), polymorphic_url(df) -%></span></td>
          </tr>
      <% end -%>
    </table>
  </td>
  <td>
    <table class='inner_linked_assets'>
      <% if data.empty? %>
          <span class='none_text'>None defined</span>
      <% end -%>
      <% data.each do |df| -%>
          <%
             cls = df.can_download?(nil) ? '' : 'notpublic'
             cls << " bordered" unless df==data.last
          -%>
          <tr class='<%= cls -%>'>
            <td><span class='cell_content'><%= df.managers.collect{|m| link_to(h(m.name),m)}.join(", ").html_safe %></span></td>
          </tr>
      <% end -%>
    </table>
  </td>
  <td>
    <table class='inner_linked_assets'>
      <% if models.empty? %>
          <span class='none_text'>None defined</span>
      <% end -%>

      <% models.each do |model| -%>
          <%
             cls = model.can_download?(nil) ? '' : 'notpublic'
             cls << " bordered" unless model==models.last
          -%>
          <tr class='<%= cls -%>'>
            <td>
              <span class='cell_content'><%= model.can_view? ? model.title : "<span class='none_text'>Hidden</span>".html_safe -%></span>
            </td>
          </tr>
      <% end -%>
    </table>
  </td>
  <td>
    <table class='inner_linked_assets'>
      <% if models.empty? %>
          <span class='none_text'>None defined</span>
      <% end -%>
      <% models.each do |model| -%>
          <%
             cls = model.can_download?(nil) ? '' : 'notpublic'
             cls << " bordered" unless model==models.last
          -%>
          <tr class='<%= cls -%>'>
            <td><span class='cell_content'><%= link_to polymorphic_url(model), polymorphic_url(model) -%></span></td>
          </tr>
      <% end -%>
    </table>
  </td>
  <td>
    <table class='inner_linked_assets'>
      <% if models.empty? %>
          <span class='none_text'>None defined</span>
      <% end -%>
      <% models.each do |model| -%>
          <%
             cls = model.can_download?(nil) ? '' : 'notpublic'
             cls << " bordered" unless model==models.last
          -%>
          <tr class='<%= cls -%>'>
            <td><span class='cell_content'><%= model.managers.collect{|m| link_to(h(m.name),m)}.join(", ").html_safe %></span></td>
          </tr>
      <% end -%>
    </table>
  </td>
</tr>
