<div style="overflow-x: auto;">
<table class='asset_report_table'>
  <thead>
    <tr>
      <th style="min-width:12em;max-width:12em;">Publication</th>
      <th >Publication SEEK URL</th>
      <th style="min-width:10em;max-width:10em;">PubMed ID / DOI</th>
      <th style="min-width:5em;max-width:5em;">Organism</th>
      <th style="min-width:5em;max-width:5em;">Human Disease</th>
      <th style="min-width:3em;min-width:3em;">Taxonomy ID</th>
      <th style="min-width:10em;max-width:10em;"><%= t('data_file') %> titles</th>
      <th ><%= t('data_file') %> SEEK URLs</th>
      <th><%= t('data_file') %> Managers</th>
      <th style="min-width:10em;max-width:10em;"><%= t('model') %> titles</th>
      <th ><%= t('model') %> SEEK URLs</th>
      <th><%= t('model') %> Managers</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial=>"projects/asset_report/linked_publication_row",:collection=>linked_publication_table %>
  </tbody>
</table>
</div>