<div class="report_selection">
    Report displayed: <%= select_tag "displayed_sharing_report",options_for_select([["Fully publicly available","public_assets"],["Shared across projects","semi_public_assets"],["Restricted sharing","restricted_assets"]],"public_assets"),:onchange=>"displayed_sharing_report_changed();" -%>
</div>
<div id="public_assets" class="asset_report_container curved">
  <h1>Items that are fully available publicly, including to
    non <%= Seek::Config.instance_name %> members</h1>

  <p class='alert alert-info' style="width:98%;text-align:center;margin-bottom:1em;">
    These are the <%= t('data_file').pluralize %>, <%= t('model').pluralize %>, <%= t('sop').pluralize %>, <%= t('presentation').pluralize %>, <%= t('investigation').pluralize %>,
    <%= t('study').pluralize %> or <%= t('assays.assay').pluralize %> that are available to download by any visitor to the <%= Seek::Config.instance_name -%>, including those without a
    registered account.
  </p>

  <% @types.each do |type| -%>
      <%= render :partial=>"projects/asset_report/shared_assets_table",
                 :locals=>{:type=>type,:items=>@public_assets[type],:no_items_suffix=>"that are shared publicly"} -%>
  <% end -%>
</div>

<div id="semi_public_assets"  class="asset_report_container curved">
  <h1>Items that are available to
    all <%= t('project').downcase.pluralize -%>, but are not available publicly</h1>

  <p class='alert alert-info' style="width:98%;text-align:center;margin-bottom:1em;">
    These are the <%= t('data_file').pluralize %>, <%= t('model').pluralize %>, <%= t('sop').pluralize %>, <%= t('presentation').pluralize %>, <%= t('investigation').pluralize %>,
    <%= t('study').pluralize %> or <%= t('assays.assay').pluralize %> that are not available to download by any visitor to the <%= Seek::Config.instance_name -%>, but are available to download
    by all members with a registered account.
  </p>
  <% @types.each do |type| -%>
      <%= render :partial=>"projects/asset_report/shared_assets_table",
                 :locals=>{:type=>type,:items=>@semi_public_assets[type],:no_items_suffix=>"that are shared between #{t('project').downcase.pluralize}, but not publicly"} -%>
  <% end -%>
</div>

<div id="restricted_assets"  class="asset_report_container curved">
  <h1>Items that have restrictive sharing permissions</h1>

  <p class='alert alert-info' style="width:98%;text-align:center;margin-bottom:1em;">
    These are the <%= t('data_file').pluralize %>, <%= t('model').pluralize %>, <%= t('sop').pluralize %>, <%= t('presentation').pluralize %>, <%= t('investigation').pluralize %>,
    <%= t('study').pluralize %> or <%= t('assays.assay').pluralize %> that have a restrictive sharing permissions, and are not available to
    download publicly, or possibly even by other <%= t('project').downcase.pluralize -%> or members of this <%= t('project').downcase -%>.
  </p>
  <% @types.each do |type| -%>
      <%= render :partial=>"projects/asset_report/shared_assets_table",
                 :locals=>{:type=>type,:items=>@restricted_assets[type],:no_items_suffix=>"that have restrictive sharing permissions"} -%>
  <% end -%>
</div>

<script type="text/javascript">
  displayed_sharing_report_changed();
</script>
