<h1>Asset reports</h1>
<%= alert_box do %>
  <p>
    There are 3 sets of reports about the availability of your <%= t('project').pluralize %> items:
  </p>
  <ul>
    <li>The first report gives an overview of the publications your <%= t('project') %> has registered, that have <%= t('model').pluralize %> or <%= t('data_file').pluralize %> associated with them (either directly or through an <%= t('assays.assay') %>). Publications without associated <%= t('data_file').pluralize %> or <%= t('model').pluralize %> are not listed. You can view this report by clicking the <b>Summary of publications linked to assets</b> tab.</li>
    <li>The second report gives are general report of items your <%= t('project') %> has made available, either publicly or with ALL other registered <%= t('project') %> members. It also displays items that have more restrictive sharing permissions.  You can view this report by clicking the <b>Summary of shared assets</b> tab.</li>
    <li>The third report displays items within your <%= t('project') %> that are not associated with publications, <%= t('assays.assay').pluralize %> or neither.You can view this report by clicking the <b>Summary of unlinked assets</b> tab.</li>
  </ul>
<% end %>

<div id="report_tabs" role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#linked_publications" aria-controls="linked_publications" role="tab" data-toggle="tab">Summary of publications linked to assets</a>
    </li>
    <li role="presentation">
      <a href="#shared_assets" aria-controls="shared_assets" role="tab" data-toggle="tab">Summary of assets sharing</a>
    </li>
    <li role="presentation">
      <a href="#unlinked_assets" aria-controls="unlinked_assets" role="tab" data-toggle="tab">Summary of unlinked assets</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="linked_publications">
      <%= render :partial => "projects/asset_report/linked_publications" -%>
    </div>
    <div role="tabpanel" class="tab-pane" id="shared_assets">
      <%= render :partial => "projects/asset_report/shared_assets" -%>
    </div>
    <div role="tabpanel" class="tab-pane" id="unlinked_assets">
      <%= render :partial => "projects/asset_report/unlinked_assets" -%>
    </div>
  </div>
</div>
