<%= stylesheet_link_tag "asset_report.css" %>

<script type="text/javascript">
    tabber_ids.push("report_tabs");
</script>
<h1>Asset reports</h1>
<div class='box_infotext'>
<p>
  There are 2 sets of reports about the availability of your projects assets:
</p>
  <ul>
    <li>The first report gives an overview of the publications your project has registered, that have <%= t('model').pluralize %> or <%= t('data_file').pluralize %> associated with them (either directly or through an <%= t('assays.assay') %>). Publications without associated <%= t('data_file').pluralize %> or <%= t('model').pluralize %> are not listed. You can view this report by clicking the <b>Summary of publications linked to assets</b> tab.</li>
    <li>The second report gives are general report of <%= t('data_file').pluralize %>, <%= t('model').pluralize %> and <%= t('sop').pluralize %> your project has made available, either publicly or with ALL other registered project members. You can view this report by clicking the <b>Summary of assets shared</b> tab.</li>
  </ul>
</div>

<div id='<%= "report_tabs_spinner" -%>'>
  <br/>
  <h1>Generating report, please wait ....</h1>

  <div style="text-align:center;top:30%;">
    <%= image_tag "ajax-loader-large.gif" -%>
  </div>
</div>
<div class="show_basic">
  <div id="report_tabs" class="tabber" style="display:none;">

    <div class="tabbertab" title="Summary of publications linked to assets">
      <div class="report_tab_content">
        <%= render :partial => "projects/asset_report/linked_publications" -%>
      </div>
    </div>

    <div class='tabbertab' title="Summary of assets shared">
      <div class="report_tab_content">
        <%= render :partial => "projects/asset_report/shared_assets" -%>
      </div>
    </div>

  </div>
</div>
