<%= render partial: 'error_message' -%>

<div class="row">
  <div class="col-md-3">
    <%= link_to new_extended_metadata_type_path, class: "btn btn-primary", role: "button", aria: { label: "Left Align" } do %>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      Create Extended Metadata Type
    <% end %>
  </div>
</div>

<%= render partial: 'help_info' -%>

<%= render partial: 'emt_tabs' -%>

<script>
    var jobIdPresent = <%= session[:job_id].present? %>;

    $j(document).ready(function() {
        if (sessionStorage.getItem('jobCompleted') === 'true') {
            sessionStorage.removeItem('jobCompleted');

            if (<%= @error_message.nil? %>) {
                ExtendedMetadataType.updateJobStatusDisplay();
                ExtendedMetadataType.addNewMarker(sessionStorage.getItem('id'),sessionStorage.getItem('type'));
            } else {
                ExtendedMetadataType.showErrorAndHideNotice();
            }
        }

        function checkJobStatus() {
            $j.ajax({
                url: "<%= populate_job_status_extended_metadata_types_path %>",
                dataType: "json",
                success: function(data) {
                    if (data.status === 'completed') {
                        console.log("Completed...");
                        sessionStorage.setItem('jobCompleted', 'true');
                        sessionStorage.setItem('id', data.id);
                        sessionStorage.setItem('type', data.supported_type);
                        location.reload();
                        clearInterval(statusCheckInterval);
                    } else {
                        console.log("Processing...");
                    }
                }
            });
        }

        if (jobIdPresent) {
            ExtendedMetadataType.initializeNoticeFlash();
            var statusCheckInterval = setInterval(checkJobStatus, 5000);
            checkJobStatus();
        }
    });
</script>