<%= render partial: 'error_message' -%>

<div class="row">
  <div class="col-md-3">
    <%= link_to new_extended_metadata_type_path, class: "btn btn-primary", role: "button", aria: { label: "Left Align" } do %>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      Create Extended Metadata Type
    <% end %>
  </div>
</div>
<div>
  For more information, please visit our
  <%= link_to 'Extended Metadata Help Page', 'https://docs.seek4science.org/tech/extended-metadata.html', target: '_blank' %>.
</div>
<br>

<%= render partial: 'emt-tabs' -%>

<script>
    var jobIdPresent = <%= session[:job_id].present? %>;

    $j(document).ready(function() {
        if (sessionStorage.getItem('jobCompleted') === 'true') {
            sessionStorage.removeItem('jobCompleted');

            if (<%= @error_message.nil? %>) {
                ExtendedMetadataType.updateJobStatusDisplay();
                ExtendedMetadataType.addNewMarker();
            } else {
                ExtendedMetadataType.showErrorAndHideNotice();
            }
        }

        function checkJobStatus() {
            $j.ajax({
                url: "<%= populate_job_status_extended_metadata_types_path %>",
                dataType: "json",
                success: function(data) {
                    if (data.status === 'completed') {
                        console.log("Completed...");
                        sessionStorage.setItem('jobCompleted', 'true');
                        location.reload();
                        clearInterval(statusCheckInterval);
                    } else {
                        console.log("Processing...");
                    }
                }
            });
        }

        if (jobIdPresent) {
            ExtendedMetadataType.initializeNoticeFlash();
            var statusCheckInterval = setInterval(checkJobStatus, 5000);
            checkJobStatus();
        }
    });
</script>