<style>
  td {
      vertical-align: middle !important;
  }
</style>


<div class="row">
  <div class="col-md-3">
    <%= link_to new_extended_metadata_type_path, class: "btn btn-primary", role: "button", "aria-label" => "Left Align" do %>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      Create Extended Metadata Type
    <% end %>
  </div>
</div>
<br>

<% nested, top_level = @extended_metadata_types.partition(&:extended_type?) %>
<% top_level.sort_by! { |emt| -emt.id } %>

<div class="alert alert-info">
  <p>
    You can disable Extended metadata types to prevent them from appearing as an option in the UI.
    Disabling them won't delete them, or where they've been used, and they can be re-enabled again here.
  </p>

  <p>
    If a type is disabled but has been used, for those cases it will no longer be shown when viewing those items.
    However, it will still be possible to edit the metadata for existing items and the metadata won't be deleted.
  </p>
</div>

<% if ExtendedMetadataType.disabled_but_in_use.any? %>
  <div class="alert alert-warning">
    <p>
      Extended metadata types that are in use have been disabled, and are high lighted below.
    </p>
    <p>
      The existing metadata won't be lost but will be hidden and the metadata type unavailable for new items.
    </p>
  </div>
<% end %>

<table class='table table-hover' id='extended-metadata-table'>
  <thead>
    <th>Internal Id</th>
    <th>Title</th>
    <th>Supported Type</th>
    <th>Number of<br/> times used</th>
    <th>Status</th>
    <th/>
  </thead>

  <tbody>
    <% top_level.each do |extended_metadata_type| %>
      <%= render partial: 'extended_metadata_type_table_row', locals: { extended_metadata_type: extended_metadata_type } %>
    <% end %>
  </tbody>

</table>


<script>

    var jobIdPresent = <%= session[:job_id].present? ? 'true' : 'false' %>;

    $j(document).ready(function() {

        var noticeFlashDiv = $j("#notice_flash");
        noticeFlashDiv.removeClass('alert-success').addClass('alert-warning').append('<div>Extraction Processing ... <%= image 'spinner' %></div>').show();

        var containerFluidDiv = $j("#content .container-fluid");

        if ($j("#notice_flash").length === 0) {
            containerFluidDiv.prepend('<div id="notice_flash" class="alert-success" role="alert"></div>');
        }

        if (sessionStorage.getItem('jobCompleted') === 'true') {
            sessionStorage.removeItem('jobCompleted');
            updateJobStatusDisplay();
            addNewMarker();
        }


        function updateJobStatusDisplay() {
            var noticeFlashDiv = $j("#notice_flash");
            noticeFlashDiv.addClass('alert alert-success');
            noticeFlashDiv.html('Job completed');
            noticeFlashDiv.show();
        }

        function checkJobStatus() {
            $j.ajax({
                url: "<%= populate_job_status_extended_metadata_types_path %>",
                dataType: "json",
                success: function(data) {
                    if (data.status === 'completed') {
                        console.log("Completed...");
                        sessionStorage.setItem('jobCompleted', 'true');
                        location.reload();
                        clearInterval(statusCheckInterval);
                    } else {
                        console.log("Processing...");
                    }
                }
            });
        }

        function addNewMarker() {
            var table = $j("#extended-metadata-table");
            var row = table.find("tbody tr:first");
            row.find("td:first").append(' <sup style="color:red; font-weight:bold;  font-size: 12px">new</sup>');
        }



        if (jobIdPresent) {
            var statusCheckInterval = setInterval(checkJobStatus, 5000); // Check every 5 seconds
            checkJobStatus(); // Check immediately on page load
        }
    });
</script>