<li>
    <a href="{{ resource.href }}" title="{{ resource.type }} - {{ resource.title }}" target="_blank" class="mini-resource-list-item">
        <span class="mini-resource-list-text">
            <img src="{{ resource.avatar }}" class="mini-resource-list-avatar"/>
            <span class="mini-resource-list-title">{{ resource.title }}</span>
        </span>
        <span class="mini-resource-list-count">{{ count }}</span>
    </a>
</li>