<% resource_text ||= resource.class.name.downcase %>
<script type="text/javascript">
</script>

<div class="fold">

  <div class="foldTitle">
    <%= help_icon("Here you can associate assays in SEEK to this #{resource_text}.") -%>
    Associate Assay
  </div>

  <div id="associate_assay_fold_content" class="foldContent" style="display: none;">
    <div class="yui-u first" style="width:66%; float:left">
      
      <%
        all_assays=authorised_assays.sort_by &:title

        all_assays = all_assays.select do |assay|
            assay.is_modelling?
        end if resource.is_a? Model

        project_assays=all_assays.select{|df| current_user.person.projects.include?(df.project )}
        select_truncate_length=120
      -%>
      
      <p style="color: #666666;">
        The following Assays are involved in this <%= resource_text -%>:
      </p>
      <div id="assay_to_list" class="box_editing_inner" style="line-height: 1.5">
        <span class="none_text" id="assay_files">Loading...</span>
      </div>
      <div class="association_step">
        <%= select_tag :possible_assays,
          options_for_select([["Select Assay ...",0]]|project_assays.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}),
          {:style=>"width:90%",:onchange=>remote_function(
            :url=>{:action=>"preview",:controller=>"assays",:element=>"assay_preview"},
            :with=>"'id='+this.value",
            :before=>"show_ajax_loader('assay_preview')"
          )+";check_show_add_assay();return(false);"
        } -%>
          <%= select_tag :assay_ids,'',{:multiple=>true,:style=>"display:none;"} -%>
          <br/>
        <br/>
        <%= check_box_tag :include_other_project_assays, nil, false, {:onchange=>"toggle_assay_list();",:style=>"margin-top:0.5em;"} -%> Include Assays from other projects?
      </div>

	  <br/>
      <%= link_to_function (image("new") + " Include in the #{resource_text}"), "addSelectedAssay(); return(false);", :id=>"add_assay_link", :class=>"block_link", :style => "width: 11em" %>
    </div>
  
    <div id="assay_preview" class="yui-u preview_box"  style="float:right">
      <div style="text-align: center;">Assay preview</div>
    </div>
 
    <br style="clear:both"/>
  
  </div>
</div>
  

<script type="text/javascript">
    function toggle_assay_list() {
        var checked = $('include_other_project_assays').checked;
        var selection_box = $('possible_assays');
        var option;

        selection_box.options.length = 0;

        if (checked) {
        <% ([["Select Assay ...",0]]|all_assays.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |df_details| -%>
            option = document.createElement("OPTION");
            option.text = '<%= escape_javascript(df_details[0]) -%>';
            option.value = '<%= df_details[1] -%>';
            try {
                selection_box.add(option); //for older IE version
            }
            catch (ex) {
                selection_box.add(option, null);
            }
        <% end -%>
        }
        else {
        <% ([["Select Assay ...",0]]|project_assays.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |df_details| -%>
            option = document.createElement("OPTION");
            option.text = '<%= escape_javascript(df_details[0]) -%>';
            option.value = '<%= df_details[1] -%>';
            try {
                selection_box.add(option); //for older IE version
            }
            catch (ex) {
                selection_box.add(option, null);
            }
        <% end -%>
        }
        selection_box.selectedIndex = 0;
        selection_box.onchange();
    }

<% associated_assay_ids = resource.assays.collect &:id %>
  <% associated_assay_ids.each do |associated_assay_id|%>
    <% assay = Assay.find(associated_assay_id) %>
    <% if assay.try :can_view? -%>
      assay_id = '<%= assay.id -%>';
      assay_title = '<%= assay.title -%>';
      addAssay(assay_title,assay_id);
    <% end %>
<% end -%>


<% if params[:assay_ids] %>
  <% params[:assay_ids].each do |id| -%>
    <% assay = Assay.find(id) %>
    <% if assay.can_view? -%>
        assay_id = '<%= assay.id -%>';
        assay_title = '<%= escape_javascript(assay.title) -%>';
        addAssay(assay_title,assay_id);
    <% end -%>
  <% end -%>
<% end -%>



  updateAssays();

  check_show_add_assay();
</script>
