<div class="yui-g">
  <div class="yui-u first">
    <p style="color: #666666;">
      The following Sops are involved in this assay:
    </p>
    <p id="sop_to_list" class="box_editing_inner" style="line-height: 1.5;">
      <span class="none_text" id="sops">Loading...</span>
    </p>
    <br/>
    <%= label_tag :sops %><br/>


    <%= select_tag :possible_sops,
      options_for_select([["Select Sop ...",0]]|authorised_sops.collect{|s| [truncate(h(s.title),:length=>32),s.id]}),
      {:onchange=>remote_function(
        :url=>{:action=>"sop_preview_ajax",:controller=>"sops"},
        :with=>"'id='+this.value",
        :before=>"show_ajax_loader('sop_preview')"
      )+";check_show_add_sop();return(false);"
    } -%>
    <%= f.collection_select :sop_ids,[],:id,:title,{},:multiple=>true,:style=>"display:none;" -%>
    <b><%= link_to_function "Add","addSelectedSop(); return(false);",:id=>"add_sop_link" %></b>
  </div>

  <div id="sop_preview" class="yui-u">
    <center>SOP preview</center>
  </div>

</div>

<script type="text/javascript">
<% @assay.sops.each do |s| -%>
    sop_id = <%= s.id -%>;
    sop_title = '<%= s.title -%>';
  <% if Authorization.is_authorized?("show",nil,s.asset,current_user) -%>
      addSop(sop_title,sop_id);
  <% end -%>

<% end -%>

  updateSops();


  function check_show_add_sop() {
    i=$('possible_sops').selectedIndex;
    selected_id=$('possible_sops').options[i].value;
    if (selected_id=='0') {
      $('add_sop_link').hide();
    }
    else {
      $('add_sop_link').show();
    }
  }

  check_show_add_sop();
</script>









