<%
    resource_text ||= text_for_resource(resource)
    all_assays=authorised_assays.sort_by &:title
    all_assays = authorised_assays.select do |assay|
            assay.is_modelling?
         end if resource.is_a? Model

    project_assays=authorised_assays(current_user.person.projects).sort_by &:title
    project_assays=project_assays.select{|a| a.is_modelling?} if resource.is_a?(Model)
    select_truncate_length=120
    associated_assays = resource.is_a?(Publication) ? resource.related_assays : resource.assays
%>

<div class="fold">

  <div class="foldTitle">
    <%= help_icon("Here you can associate Assays in SEEK to this #{resource_text}. You can only associate Assays you are authorized to edit.") -%>
    Assays
  </div>

  <div id="associate_assay_fold_content" class="foldContent" style="display:<%= associated_assays.blank? ? 'none' : 'block' -%>">
    <div class="yui-u first" style="width:66%; float:left">

      <p style="color: #666666;">
        The following Assays are involved in this <%= resource_text -%>:
      </p>
      <div id="assay_to_list" class="box_editing_inner" style="line-height: 1.5">
        <span class="none_text" id="assay_files">Loading...</span>
      </div>
      <div class="association_step">
        <p style="color: #666666;">
             You may select an existing Assay or <%= link_to h("create a new Assay here"), new_assay_path(:create_from_asset=>:true),:popup => true%>  for the <%= resource_text -%>.
        </p>
        <% if show_relationships -%>
            <%= select_tag :possible_assays,
              options_for_select([["Select Assay ...",0]]|project_assays.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}),
              {:style=>"width:90%",:onchange=>remote_function(
                :url=>{:action=>"preview",:controller=>"assays",:element=>"assay_preview"},
                :with=>"'id='+this.value",
                :before=>"show_ajax_loader('assay_preview')"
              )+";check_show_add_assay();selected_assay();return(false);"
            } -%>
              <%= select_tag :assay_ids,'',{:multiple=>true,:style=>"display:none;"} -%>
              <br/>
              <div id="relationship" style="display:none;">
                <%= label_tag "Relationship between the data and the model" %><br/>
                <%= select_tag :assay_relationship_type, options_for_select([["None",0]] + RelationshipType.all.collect{|r| [r.title,r.id]}) %>
              </div>
              <br/>
        <% else %>
            <%= select_tag :possible_assays,
                  options_for_select([["Select Assay ...",0]]|project_assays.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}),
                  {:style=>"width:90%",:onchange=>remote_function(
                    :url=>{:action=>"preview",:controller=>"assays",:element=>"assay_preview"},
                    :with=>"'id='+this.value",
                    :before=>"show_ajax_loader('assay_preview')"
                  )+";check_show_add_assay();return(false);"
            } -%>
            <%= select_tag :assay_ids,'',{:multiple=>true,:style=>"display:none;"} -%>
            <br/>
            <br/>
        <% end %>
      </div>

	  <br/>
      <%= link_to_function (image("new") + " Associate with this #{resource_text}"), "addSelectedAssay(); return(false);", :id=>"add_assay_link", :class=>"block_link" %>

      <%= check_box_tag :include_other_project_assays, nil, false, {:onchange=>"toggle_assay_list();",:style=>"margin-top:0.5em;"} -%> Associate Assays from other projects?
    </div>
  
    <%= render :partial => 'assets/preview_box', :locals => {:preview_name => 'assay'}%>
  
  </div>
</div>
  

<script type="text/javascript">
  function selected_assay(){
       i = $('possible_assays').selectedIndex;
       id = $('possible_assays').options[i].value;
       for (var j = 0; j < id_rel_array.length; j++) {
           if ((id == id_rel_array[j][0]) && (id_rel_array[j][1] == 'true'))  {
              Effect.Appear('relationship',{duration:0.2});
           }
           else if ((id == id_rel_array[j][0]) && (id_rel_array[j][1] == 'false'))  {
              $('assay_relationship_type').selectedIndex = 0;
              Effect.Fade('relationship',{duration:0.2});
           }
       }
    }

  function toggle_assay_list() {
          var checked = $('include_other_project_assays').checked;
          var selection_box = $('possible_assays');
          var option;

          selection_box.options.length = 0;

          if (checked) {
          <% ([["Select Assay ...",0]]|all_assays.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |df_details| -%>
              option = document.createElement("OPTION");
              option.text = '<%= escape_javascript(df_details[0]) -%>';
              option.value = '<%= df_details[1] -%>';
              try {
                  selection_box.add(option); //for older IE version
              }
              catch (ex) {
                  selection_box.add(option, null);
              }
          <% end -%>
          }
          else {
          <% ([["Select Assay ...",0]]|project_assays.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |df_details| -%>
              option = document.createElement("OPTION");
              option.text = '<%= escape_javascript(df_details[0]) -%>';
              option.value = '<%= df_details[1] -%>';
              try {
                  selection_box.add(option); //for older IE version
              }
              catch (ex) {
                  selection_box.add(option, null);
              }
          <% end -%>
          }
          selection_box.selectedIndex = 0;
          selection_box.onchange();
      }

<% associated_assay_ids = resource.is_a?(Publication) ? resource.related_assays.collect(&:id) : resource.assays.collect(&:id) %>
  <% associated_assay_ids.each do |associated_assay_id|%>
    <% assay = Assay.find(associated_assay_id) %>
    <% if assay.try :can_view? -%>
      assay_id = '<%= assay.id -%>';
      assay_title = '<%= assay.title -%>';
      relationship_type = '<%= resource.is_a?(DataFile) ? escape_javascript(resource.relationship_type(assay).try(:title) || "None") : 'None'-%>';
      addAssay(assay_title,assay_id,relationship_type);
    <% end %>
<% end -%>

<% all_assays.each do |assay|%>
    assay_id = '<%= assay.id -%>';
    assay_relationship = '<%=(assay.is_modelling?) -%>';
    id_rel_array.push([assay_id, assay_relationship])
<% end -%>

<% if params[:assay_ids] %>
  <% params[:assay_ids].each do |id| -%>
    <% assay = Assay.find(id) %>
    <% if assay.can_view?-%>
        assay_id = '<%= assay.id -%>';
        assay_title = '<%= escape_javascript(assay.title) -%>';
        relationship_type = '<%= resource.is_a?(DataFile) ? escape_javascript(resource.relationship_type(assay).try(:title) || "None") : 'None' -%>';
        addAssay(assay_title,assay_id,relationship_type);
    <% end -%>
  <% end -%>
<% end -%>



  updateAssays();

  check_show_add_assay();
</script>
