<%
    resource_text ||= text_for_resource(resource)
    all_sops=authorised_sops.sort{|a, b| a.title<=>b.title}
    project_sops=authorised_sops(current_user.person.projects).sort_by &:title
    select_truncate_length=120
    associated_sops = resource.is_a?(Publication) ? resource.related_sops : resource.sops
-%>
<div class="fold">

  <div class="foldTitle">
    <%= help_icon("Here you associate SOPs in SEEK to this #{resource_text}.") -%>
    SOPs
  </div>

  <div id="associate_model_fold_content" class="foldContent" style="display:<%= associated_sops.blank? ? 'none' : 'block' -%>">
    <div class="yui-u first" style="width:66%; float:left">
      <p style="color: #666666;">
        The following SOPs are involved in this <%= resource_text -%>:
      </p>
  
      <div id="sop_to_list" class="box_editing_inner" style="line-height: 1.5;">
        <span class="none_text" id="sops">Loading...</span>
      </div>
      
      <div class="association_step">  
        <%= select_tag :possible_sops,
                       options_for_select([["Select SOP ...", 0]]|project_sops.collect{|s| [truncate(h(s.title), :length=>select_truncate_length), s.id]}),
                       {:style=>"width:90%",:onchange=>remote_function(
                               :method=>:get,
                               :url=>preview_sops_path(:element=>"sop_preview"),
                               :with=>"'id='+this.value",
                               :before=>"show_ajax_loader('sop_preview')"
                       )+";check_show_add_sop();return(false);"
                       } -%>
        
        <%= select_tag :assay_sop_ids, options_from_collection_for_select([], :id, :title), {:multiple=>true, :style=>"display:none;"} -%>
        
        <br/>

        <%= check_box_tag :include_other_project_sops, nil, false, {:onchange=>"toggle_sop_list();",:style=>"margin-top:0.5em;"} -%> Associate SOPs from other projects?
      </div>
	  <br/>
      <%= link_to_function (image("new") + " Associate with this #{resource_text}"), "addSelectedSop(); return(false);", :id=>"add_sop_link", :class=>"block_link" %>
    </div>
    <%= render :partial => 'assets/preview_box', :locals => {:preview_name => 'sop'} %>
  
  </div>
</div>

<script type="text/javascript">
    function toggle_sop_list() {
            var checked = $('include_other_project_sops').checked;
            var option;
            var selection_box = $('possible_sops');

            selection_box.options.length=0;

            if (checked) {
            <% ([["Select SOP ...",0]]|all_sops.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |sop_details| -%>
                option = document.createElement("OPTION");
                option.text = '<%= escape_javascript(sop_details[0]) -%>';
                option.value = '<%= sop_details[1] -%>';
                try {
                    selection_box.add(option); //for older IE version
                }
                catch (ex) {
                    selection_box.add(option, null);
                }
            <% end -%>
            }
            else {
               <% ([["Select SOP ...",0]]|project_sops.collect{|s| [truncate(h(s.title),:length=>select_truncate_length),s.id]}).each do |sop_details| -%>
                option = document.createElement("OPTION");
                option.text = '<%= escape_javascript(sop_details[0]) -%>';
                option.value = '<%= sop_details[1] -%>';
                try {
                    selection_box.add(option); //for older IE version
                }
                catch (ex) {
                    selection_box.add(option, null);
                }
            <% end -%>
            }

            selection_box.onchange();
        }

    <% @assay.sop_masters.each do |s| -%>    
      <% if s.can_view? -%>
        sop_id = '<%= s.id -%>';
        sop_title = '<%= escape_javascript(s.title) -%>';
        addSop(sop_title, sop_id);
      <% end -%>
    <% end -%>

    <% if params[:assay_sop_ids] %>
      <% params[:assay_sop_ids].each do |id| -%>
        <% sop = Sop.find(id) %>
          <% if sop.can_view?-%>
        sop_id = '<%= sop.id -%>';
        sop_title = '<%= escape_javascript(sop.title) -%>';
        addSop(sop_title, sop_id);
          <% end -%>
      <% end -%>
    <% end -%>

    updateSops();


    function check_show_add_sop() {
        i = $('possible_sops').selectedIndex;
        selected_id = $('possible_sops').options[i].value;
        if (selected_id == '0') {
            $('add_sop_link').hide();
        }
        else {
            $('add_sop_link').show();
        }
    }

    check_show_add_sop();
</script>
