<div class="fold">

  <div class="foldTitle">Assays</div>
  <div class="foldContent">

    <br/>
    <p style="color: #666666;">
      The following Assays are related to this study:
    </p>
    <p id="assay_to_list" class="box_editing_inner" style="line-height: 1.5;">
      <span class="none_text" id="sops">Loading...</span>
    </p>
    <%= f.collection_select :assay_ids,[],:id,:title,{},:multiple=>true,:style=>"display:none;" %>
    <br/>
    <div id="assay_list_collection">
      <%= f.label :available_assays %><br/>
      <%= select_tag :possible_assays,options_for_select( Assay.find(:all).collect{|a| [h("#{a.title} (#{a.assay_type.title})"),a.id]} ),:style => "width: 82%;" %>
      <b><%= link_to_function "Add","addSelectedAssay(); return(false);" %></b>
    </div>

  </div>
</div>


<script type="text/javascript">
<% @study.assays.each do |s| -%>
    assay_id = <%= s.id -%>;
    assay_title = '<%= s.title -%>';
    addAssay(assay_title,assay_id);
<% end -%>

  updateAssays();
</script>



