<%
   resource_text ||= text_for_resource(resource)
   all_sops=authorised_sops
   project_sops=authorised_sops(current_user.person.projects)
   select_truncate_length=120
   associated_sops = resource.is_a?(Publication) ? resource.related_sops : resource.sops
-%>
<%= folding_panel(t('sop').pluralize, associated_sops.blank?, :body_options => {:id => 'associate_sop_fold_content'},
                  :help_text => "Here you associate #{t('sop')} in SEEK to this #{resource_text}.") do %>
    <div class="row">
      <div class="col-md-8">
        <p style="color: #666666;">
          The following <%= t('sop').pluralize %> are involved in this <%= resource_text -%>:
        </p>

        <div id="sop_to_list" class="box_editing_inner" style="line-height: 1.5;">
          <span class="none_text" id="sops">Loading ...</span>
        </div>

        <div class="association_step">
          <div class="form-group">
            <%= select_tag :possible_sops,
                           '<option>Loading...</option>',
                           {:class => 'form-control',:onchange=>"addSelectedSop();"+remote_function(
                                   :method=>:get,
                                   :url=>preview_sops_path(:element=>"sop_preview"),
                                   :with=>"'id='+this.value",
                                   :before=>"show_ajax_loader('sop_preview')"
                           )+";return(false);"
                           } -%>
          </div>

          <%= select_tag :assay_sop_ids, options_from_collection_for_select([], :id, :title), {:multiple=>true, :style=>"display:none;"} -%>

          <%= check_box_tag :include_other_project_sops, nil, false, {:onchange=>"toggle_sop_list();",:style=>"margin-top:0.5em;"} -%> Associate SOPs from other projects?
        </div>
      </div>
      <div class="col-md-4">
        <%= render :partial => 'assets/preview_box', :locals => {:preview_name => 'sop'} %>
      </div>
    </div>

<% end %>

<script type="text/javascript">
    var sopOptions = {
        project: <%= ([["Select #{t('sop')} ...", 0]]|project_sops.collect{|s| [truncate(s.title.html_safe, :length=>select_truncate_length), s.id]}).to_json.html_safe %>,
        all: <%= ([["Select #{t('sop')} ...", 0]]|all_sops.collect{|s| [truncate(s.title.html_safe, :length=>select_truncate_length), s.id]}).to_json.html_safe %>
    };

    function toggle_sop_list() {
        if ($('include_other_project_sops').checked)
            $j('#possible_sops').html(optionsFromArray(sopOptions.all));
        else
            $j('#possible_sops').html(optionsFromArray(sopOptions.project));
    }

    function check_show_add_sop() {
        i = $('possible_sops').selectedIndex;
        selected_id = $('possible_sops').options[i].value;
        if (selected_id == '0') {
            $('add_sop_link').hide();
        }
        else {
            $('add_sop_link').show();
        }
    }

    <% @assay.sops.each do |s| -%>
    <% if s.can_view? -%>
    sop_id = '<%= s.id -%>';
    sop_title = '<%= escape_javascript(s.title) -%>';
    addSop(sop_title, sop_id);
    <% end -%>
    <% end -%>

    <% if params[:assay_sop_ids] %>
    <% params[:assay_sop_ids].each do |id| -%>
    <% sop = Sop.find(id) %>
    <% if sop.can_view?-%>
    sop_id = '<%= sop.id -%>';
    sop_title = '<%= escape_javascript(sop.title) -%>';
    addSop(sop_title, sop_id);
    <% end -%>
    <% end -%>
    <% end -%>




    updateSops();
    toggle_sop_list()

</script>
