<div class="yui-g">
  <div class="yui-u first">
    <p style="color: #666666;">
      The following data files are involved in this assay:
    </p>
    <p id="data_file_to_list" class="box_editing_inner" style="line-height: 1.5;">
      <span class="none_text" id="data_files">Loading...</span>
    </p>
    <br/>

    <%= label_tag :data_files %><br/>

    <%= select_tag :possible_data_files,
      options_for_select([["Select Data file ...",0]]|authorised_data_files.collect{|s| [truncate(h(s.title),:length=>32),s.id]}),
      {:onchange=>remote_function(
        :url=>{:action=>"data_file_preview_ajax",:controller=>"data_files"},
        :with=>"'id='+this.value",
        :before=>"show_ajax_loader('data_file_preview')"
      )+";check_show_add_data_file();return(false);"
    } -%>
    <%= select_tag :data_file_ids,'',{:multiple=>true,:style=>"display:none;"} -%>
    <b><%= link_to_function "Add","addSelectedDataFile(); return(false);",:id=>"add_data_file_link" %></b>
  </div>

  <div id="data_file_preview" class="yui-u">
    <center>Data file preview</center>
  </div>

</div>

<script type="text/javascript">
  
  <% @assay.created_datas.each do |d| -%>
      data_id = <%= d.data_file.id -%>;
      data_title = '<%= d.data_file.title -%>';
      addDataFile(data_title,data_id);
  <% end -%>

  updateDataFiles();


  function check_show_add_data_file() {
    i=$('possible_data_files').selectedIndex;
    selected_id=$('possible_data_files').options[i].value;
    if (selected_id=='0') {
      $('add_data_file_link').hide();
    }
    else {
      $('add_data_file_link').show();
    }
  }

  check_show_add_data_file();
</script>
