<% assay_word=item.is_modelling? ? t('assays.modelling_analysis') : t('assays.assay') %>
<%= render :partial => "subscriptions/subscribe", :locals => {:object => item }%>
<% if logged_in_and_member? %>
    <%= button_link_to("New #{assay_word} based on this one", 'new',  new_object_based_on_existing_one_assay_path(item,:controller_name=>"assays")) %>
<% end %>

<%= admin_dropdown do %>
    <% if item.can_manage? -%>
        <li><%= icon_link_to("Manage #{assay_word}", 'manage', edit_assay_path) %></li>
    <% elsif item.can_edit?-%>
        <li><%= icon_link_to("Edit #{assay_word} Details", 'edit', edit_assay_path) %></li>
    <% end -%>
    <%= delete_icon(item,current_user) %>
<% end %>
