<% assay_word ||=
  if item.is_assay_stream?
    t('assays.assay_stream')
  elsif Seek::Config.isa_json_compliance_enabled && item.is_isa_json_compliant?
    t('isa_assay')
  else
    t("assays.#{item.assay_class.long_key.delete(' ').underscore}")
  end

  isa_assay_verb ||=
    if item&.is_assay_stream?
      if item.next_linked_child_assay
        "Insert a new"
      else
        "Design"
      end
    else
      if item.next_linked_child_assay
        "Insert a new"
      else
        "Design the next"
      end
    end

  hide_new_assays_button = item.next_linked_child_assay&.sample_type&.samples&.any?
%>
<%= render :partial => "subscriptions/subscribe", :locals => {:object => item} %>

<% if Seek::Config.project_single_page_enabled %>
	<% if !displaying_single_page? %>
		<span title="<%= t("info_text.single_page") %>">
     <%= button_link_to(t('single_page'), 'sop', single_page_path(id: item.projects.first.id, item_type: 'assay', item_id: item.id)) -%>
    </span>
	<% else %>
		<span title="<%= t('info_text.default_view') %>">
      <%= button_link_to(t('default_view'), 'sop', assay_path(item.id)) -%>
    </span>
	<% end %>
<% end -%>

<% if logged_in_and_member? %>
	<% unless item.is_isa_json_compliant?%>
		<%= button_link_to("New #{assay_word} based on this one", 'new', new_object_based_on_existing_one_assay_path(item, :controller_name => "assays")) %>
	<% end %>
<% end %>

<% if item.can_edit? %>
	<% if Seek::Config.isa_json_compliance_enabled && item.is_isa_json_compliant? %>
		<% valid_study = item&.study&.is_isa_json_compliant? %>
		<% valid_assay = item&.is_isa_json_compliant? %>
		<% if valid_study && valid_assay %>
      <% if hide_new_assays_button %>
        <%= button_link_to("#{isa_assay_verb} #{t('assay')}", 'new', nil, disabled_reason: 'The next linked assay has samples. Cannot insert new assay here.') %>
      <% else %>
        <% if item&.is_assay_stream? %>
            <%= button_link_to("#{isa_assay_verb} #{t('assay')}", 'new', new_isa_assay_path(source_assay_id: item.id, study_id: item.study.id, single_page: params[:single_page], assay_stream_id: item.id)) %>
        <% else %>
          <%= button_link_to("#{isa_assay_verb} #{t('assay')}", 'new', new_isa_assay_path(source_assay_id: item.id, study_id: item.study.id, single_page: params[:single_page], assay_stream_id: item.assay_stream_id)) %>
        <% end %>
      <% end %>
		<% end %>
	<% else %>
    <%= add_new_item_to_dropdown(item) %>
  <% end %>
<% end %>

<% if show_nels_button?(item) %>
  <%= button_link_to('Add data from NeLS', 'add', assay_nels_path(item.id)) %>
<% end -%>

<%= item_actions_dropdown do %>
  <% if item.can_edit? %>
    <% if Seek::Config.isa_json_compliance_enabled && item.is_isa_json_compliant? %>
      <% if item&.is_assay_stream? %>
        <li><%= image_tag_for_key('edit', edit_isa_assay_path(item, source_assay_id: item.id, study_id: item.study.id, single_page: params[:single_page], is_assay_stream: true), "Edit #{assay_word}", nil, "Edit #{assay_word}") -%></li>
      <% else %>
        <li><%= image_tag_for_key('edit', edit_isa_assay_path(item, source_assay_id: item.id, study_id: item.study.id, single_page: params[:single_page], assay_stream_id: item.assay_stream_id), "Edit #{assay_word}", nil, "Edit #{assay_word}") -%></li>
      <% end %>
    <% else %>
      <li><%= image_tag_for_key('edit', edit_assay_path(item), "Edit #{assay_word}", nil, "Edit #{assay_word}") -%></li>
    <% end %>
  <% end %>

  <% if item.can_manage? -%>
    <li><%= image_tag_for_key('manage', manage_assay_path(item), "Manage #{assay_word}", nil, "Manage #{assay_word}") -%></li>
    <%= render partial: 'snapshots/new_snapshot_link', locals: {item: item} %>
  <% end -%>

  <%= delete_icon(item, current_user, 'Are you sure?', assay_word) %>
<% end %>
