<%= javascript_include_tag "studies.js"  %>

<%= f.error_messages -%>


<center>
  <div style="width: 60%;">

    <% if !@assay.study.nil? -%>      
      <p>
        <%= label_tag "Associated study: " -%>
        <%= h @assay.study.title.capitalize -%>        
      </p>
    <% end -%>

    <p>
      <%= f.label :title-%>*<br/>
      <%= f.text_field :title,:size=>52 -%>
    </p>

    <p>
      <%= f.label :description -%><br/>
      <%= f.text_area :description,:cols=>50,:rows=>10 -%>
    </p>

    <p>
      <%= f.label :study -%><br/>
      <%
        studies=Study.find(:all,:joins=>:investigation,:conditions=>["project_id IN (?)",current_user.person.projects])
      -%>
      <%= f.collection_select :study_id,studies,:id,:title,:include_blank=>"Not specified" -%>
    </p>
  </div>
</center>



<h2>Assay and technology types</h2>
<table class="padded_table">
  <tr>
    <td><%= f.label "Assay type *: " %></td>
    <td><%= f.label "Technology type *: " %></td>
  </tr>
  <tr>
    <td><%= ontology_select_tag f,AssayType,"assay_type_id",selected_id= @assay.assay_type.nil? ? nil : @assay.assay_type.id %></td>
    <td><%= ontology_select_tag f,TechnologyType,"technology_type_id",selected_id= @assay.technology_type.nil? ? nil : @assay.technology_type.id %></td>
  </tr>
</table>
  



<%= render :partial=>"assays/select_organism_and_culture_growth",:locals=>{:model=>Assay} %>

<h2>Assay SOPs</h2>

<%= render :partial=>"assays/sop_selection",:locals=>{:f=>f} -%>

<h2>Data files</h2>
<%= render :partial=>"assays/associate_data_file",:locals=>{:f=>f} -%>

<p style="margin-top: 2em; text-align: center;" >
  <%= f.submit(action==:edit ? "Update" : "Create") -%>
  or <%= link_to 'Cancel', (@assay.id ? assay_path(@assay.id) : assays_path) -%>
</p>
