<%= javascript_include_tag 'strain.js' -%>
<%
 select_truncate_length=120
@assay_text=@assay.is_modelling? ? "#{t('assays.modelling_analysis').downcase}" : "#{t('assays.experimental_assay').downcase}"
@assay_type_text=@assay.is_modelling? ? "biological problem addressed" : "#{t('assays.assay').downcase} type"
%>
<%= javascript_include_tag "assays.js"  %>
<%= javascript_include_tag "sharing.js", "resource.js"%>

<%= f.error_messages -%>
<%= f.hidden_field :create_from_asset %>
<div style="width: 90%;">
  <% if !@assay.study.nil? and @assay.study.can_view? -%>
    <p>
      <%= label_tag "Associated study: " -%>
      <%= h @assay.study.title.capitalize -%>
    </p>
  <% end -%>

  <p>
    <%= f.label :title-%><span class="required">*</span><br/>
    <%= f.text_area :title,:style => "width: 100%;", :rows=>2 -%>
  </p>

  <p>
    <%= f.label :description -%><br/>
    <%= f.text_area :description,:style => "width: 100%;", :rows => 10 -%>
  </p>
  <% if Seek::Config.is_virtualliver -%>
      <p>
        <%= f.label "Institution" %><br/>
        <%= collection_select(:assay, :institution_id, Institution.all, :id, :name, {:include_blank =>"Please Select ..."},{:style=>"width:90%"}) %>
      </p>
  <% end -%>
  <% if @assay.study.blank? or @assay.study.can_view? %>
      <p>
      <div id="full_study_title" style="display:none; position: absolute; border: 1px solid black; background-color: #FFFF88; padding: 5px; text-align:left;"></div>
    <%= f.label :study -%>
    <span class="required">*</span>
     <%= link_to h(" New Study?"),new_study_path(:new_link_from_assay=>true), :onclick => "window.open(this.href);return false;" %> <br/>
    <% investigations = Investigation.all.select &:can_view? -%>
      <% options = @assay.study.nil? ? "<option value=\"\">Not specified</option>"  : "" %>
      <% investigations.each do |i| %>
         <% studies = i.studies.select &:can_edit? %>
        <% unless studies.empty?%>
          <% options << "<optgroup label=\"#{truncate(h(i.title), :length => 64)}\">\n" %>
          <% studies.each do |s| %>
            <% options << "<option #{"selected=\"selected\"" if @assay.study && (s.id == @assay.study.id)} value=\"#{s.id}\" style=\"z-index:0;\" onMouseOver=\"showTitle(\'#{h(s.title)}\')\">#{truncate(h(s.title), :length => 64)}</option>\n" %>
          <% end %>
          <% options << "</optgroup>" %>
        <% end %>
      <% end %>
    <select id="assay_study_id" name="assay[study_id]" onMouseOut="hideTitle()" style="width:100%">
        <%= options.html_safe %>
    </select>
    </p>
  <%end%>

</div>

<%= f.hidden_field :assay_class_id -%>

<table class="padded_table">
  <tr>
    <td><%= f.label "#{@assay_type_text.capitalize}: " %>
    <% if User.current_user.try(:can_manage_types?) %>
      <%= link_to h("New #{t('assays.assay').downcase} type?"),new_assay_type_path(:parent_name=>controller_name.underscore.singularize), :onclick => "window.open(this.href);return false;" %>
    <% end %>
    </td>
    <% unless @assay.is_modelling? -%>
      <td><%= f.label "Technology type: " %>

       <% if User.current_user.try(:can_manage_types?) %>
        <%= link_to h("New technology type?"),new_technology_type_path(:parent_name=>controller_name.underscore.singularize), :onclick => "window.open(this.href);return false;" %>
       <% end %>

      </td>
    <% end -%>
  </tr>
  <tr>
    <% root_id = @assay.is_modelling? ? AssayType.modelling_assay_type_id : AssayType.experimental_assay_type_id %>
    <td style="width:50%"><%= ontology_select_tag f,AssayType,root_id,"assay_type_id",(@assay.assay_type.nil? ? nil : @assay.assay_type.id),{:style=>"width:100%"} %></td>
    <% unless @assay.is_modelling? -%>
      <td style="width:50%"><%= try_block{ontology_select_tag f,TechnologyType,nil,"technology_type_id",(@assay.technology_type.nil? ? nil : @assay.technology_type.id),{:style=>"width:100%"} } %></td>
    <% end -%>
  </tr>
</table>

<br style="clear:both"/>
<% if User.current_user -%>
<% if Seek::Config.is_virtualliver %>
    <%= f.fancy_multiselect :samples, :object_type_text => @assay_text,:with_new_link=>true -%>
<% end %>
<div id="add_organism_form">
    <%= render :partial=>"assays/select_organisms" -%>
</div>

<br style="clear:both"/>

<p>
  <%= render :partial=>"assets/sharing_form" if @assay.can_manage? -%>
</p>

<p>
  <%= render :partial=>"assets/select_tags" -%>
</p>

<%= render :partial=>"assays/associate_sop",:locals=>{:f=>f, :resource => @assay} -%>

<%  if @assay.is_modelling? -%>
  <%= render :partial=>"assets/associate_model",:locals=>{:f=>f, :resource => @assay} -%>
<% end -%>

<%= render :partial => "assets/associate_data_file",:locals=>{:f=>f, :resource => @assay,:show_relationships=>@assay.is_modelling?} -%>

<%= render :partial => "assets/publication_relation_form", :locals => { :resource_type => "Assay",
                                                                        :related_publications => @assay.related_publications} -%>

<% end -%>

<p style="margin-top: 2em; text-align: center;" >
  <%
     button_text=action==:edit ? "Update" : "Create"
     disabled_text=action==:edit ? "Updating..." : "Creating..."
  %>
  <% if @assay.can_manage? %>
      <%= preview_permission_popup_link(@assay)-%>
      <%= f.submit button_text, :id => "assay_submit_btn", :onclick => "javascript: clickLink($('preview_permission'));return(false);" -%>
  <% else %>
      <%= f.submit button_text, :disable_with=>disabled_text, :id => "assay_submit_btn", :onclick => "javascript: $('assay_submit_btn').form.submit();return(false);" -%>
  <% end %>
  or <%= link_to 'Cancel', (@assay.id ? assay_path(@assay.id) : assays_path) -%>
</p>

<script type="text/javascript">

  function hide_organism_form(){
      Effect.Fade('add_organism_form');
  }
  function showTitle(text){
    var elem = document.getElementById("full_study_title");
    elem.style.display = '';
    elem.innerHTML = text;
  }
	
  function hideTitle(){
    var elem = document.getElementById("full_study_title");
    elem.style.display = 'none';
  }

  function check_show_organism_form() {
      if ($F('assay_sample_ids') && $F('assay_sample_ids').length > 0) {
          Effect.Fade('add_organism_form');
      }
      else {
          Effect.Appear('add_organism_form');
      }
  }

  function check_show_sample_form() {
      if ($F('assay_organism_ids') && $F('assay_organism_ids').length > 0) {
          Effect.Fade('add_samples_form');
      } else {
          Effect.Appear('add_samples_form');
      }
  }

  <%if @assay.is_modelling?%>
      Event.observe(window, 'load', function() {
//          Event.observe('assay_sample_ids', 'fancySelect:update', function(){
//            check_show_organism_form();
//          });
//
//          var update_organisms_without_check_sample_form = this['updateOrganisms'];
//          this['updateOrganisms'] = function() {
//              update_organisms_without_check_sample_form();
//              check_show_sample_form();
//          };

          $('assay_sample_ids').fire('fancySelect:update');
          updateOrganisms();
      });
  <% end %>

</script>
