<%
@assay_text=@assay.is_modelling? ? "analysis" : "assay"
@assay_type_text=@assay.is_modelling? ? "biological problem addressed" : "assay type"
%>
<%= javascript_include_tag "assays.js"  %>

<%= f.error_messages -%>

<div style="width: 90%;">
  <% if !@assay.study.nil? -%>
    <p>
      <%= label_tag "Associated study: " -%>
      <%= h @assay.study.title.capitalize -%>
    </p>
  <% end -%>

  <p>
    <%= f.label :title-%><span class="required">*</span><br/>
    <%= f.text_area :title,:style => "width: 100%;", :rows=>2 -%>
  </p>

  <p>
    <%= f.label :description -%><br/>
    <%= f.text_area :description,:style => "width: 100%;", :rows => 10 -%>
  </p>
  <p>
  <div id="full_study_title" style="display:none; position: absolute; border: 1px solid black; background-color: #FFFF88; padding: 5px; text-align:left;"></div>
  <%= f.label :study-%><span class="required">*</span><br/>
  <% investigations = current_user.person.projects.collect{|p| p.investigations}.flatten -%>
  <% options = @assay.study.nil? ? "<option value=\"\">Not specified</option>"  : "" %>
  <% investigations.each do |i| %>
    <% unless i.studies.empty?%>
      <% options << "<optgroup label=\"#{truncate(i.title, :length => 64)}\">\n" %>
      <% i.studies.each do |s| %>
        <% options << "<option #{"selected=\"selected\"" if @assay.study && (s.id == @assay.study.id)} value=\"#{s.id}\" style=\"z-index:0;\" onMouseOver=\"showTitle(\'#{s.title}\')\">#{truncate(s.title, :length => 64)}</option>\n" %>
      <% end %>
      <% options << "</optgroup>" %>
    <% end %>
  <% end %>
  <select id="study_id" name="assay[study_id]"  onMouseOut="hideTitle()" style="width:100%">
    <%= options %>
  </select>
</p>
</div>

<%= f.hidden_field :assay_class_id -%>

<table class="padded_table">
  <tr>
    <td><%= f.label "#{@assay_type_text.capitalize}: " %></td>
    <% unless @assay.is_modelling? -%>
      <td><%= f.label "Technology type: " %></td>
    <% end -%>
  </tr>
  <tr>
    <% root_id = @assay.is_modelling? ? AssayType.modelling_assay_type_id : AssayType.experimental_assay_type_id %>
    <td style="width:50%"><%= ontology_select_tag f,AssayType,root_id,"assay_type_id",(@assay.assay_type.nil? ? nil : @assay.assay_type.id),{:style=>"width:100%"} %></td>
    <% unless @assay.is_modelling? -%>
      <td style="width:50%"><%= ontology_select_tag f,TechnologyType,nil,"technology_type_id",(@assay.technology_type.nil? ? nil : @assay.technology_type.id),{:style=>"width:100%"} %></td>
    <% end -%>
  </tr>
</table>
<br style="clear:both"/>

<%= render :partial=>"assays/select_organisms" -%>

<%= render :partial=>"assays/associate_sop",:locals=>{:f=>f} -%>

<%  if @assay.is_modelling? -%>
  <%= render :partial=>"assays/associate_model",:locals=>{:f=>f, :resource => @assay} -%>
<% end -%>

<%= render :partial => "assets/associate_data_file",:locals=>{:resource_text=>@assay_text,:f=>f, :resource => @assay,:show_relationships=>@assay.is_modelling?} -%>

<%= render :partial => "assets/publication_relation_form", :locals => { :resource_type => "Assay",
                                                                        :related_publications => @assay.related_publications} -%>
                                                                        
<p style="margin-top: 2em; text-align: center;" >
  <%= f.submit(action==:edit ? "Update" : "Create") -%>
  or <%= link_to 'Cancel', (@assay.id ? assay_path(@assay.id) : assays_path) -%>
</p>

<script type="text/javascript">
  function showTitle(text){
    var elem = document.getElementById("full_study_title");
    elem.style.display = '';
    elem.innerHTML = text;
  }
	
  function hideTitle(){
    var elem = document.getElementById("full_study_title");
    elem.style.display = 'none';
  }
  
  function changeTypes(){
    var value = $("assay_class_select").value;
    var assayTypeRoot = "";
    var technologyTypeRoot = "";
    //Get the ID of the Modelling Assay class
    var modellingAssayClassID = <%= AssayClass.find_by_title("Modelling Assay").try(:id) || 0 -%>;
    var experimentalAssayClassID = <%= AssayClass.find_by_title("Experimental Assay").try(:id) || 0 -%>;
    if (value == modellingAssayClassID){
      //Get the IDs of the Type roots to switch the select box to.
      assayTypeRoot = <%= AssayType.find_by_title("modelling assay types").try(:id) || 0 -%>;
      technologyTypeRoot = <%= TechnologyType.find_by_title("modelling technology").try(:id) || 0 -%>;
      $('associate_model_form').style.display = '';
      $('data_file_relationship_type_section').style.display = '';
    }
    else if (value == experimentalAssayClassID){
      //Get the IDs of the Type roots to switch the select box to.
      assayTypeRoot = <%= AssayType.find_by_title("assay types").try(:id) || 0 -%>;
      technologyTypeRoot = <%= TechnologyType.find_by_title("technology").try(:id) || 0 -%>;
      $('associate_model_form').style.display = 'none';
      $('data_file_relationship_type_section').style.display = 'none';
    }
    //Change AssayType form
    var assayTypeSelect = $("assay_assay_type_id");
    for (var i=0;i < assayTypeSelect.options.length;i++) {
      if (assayTypeSelect.options[i].value == assayTypeRoot)
        assayTypeSelect.options[i].selected = true;
      else 
        assayTypeSelect.options[i].selected = false;
    }
    //Change TechnologyType form
    var techTypeSelect = $("assay_technology_type_id");
    for (var i=0;i < techTypeSelect.options.length;i++) {
      if (techTypeSelect.options[i].value == technologyTypeRoot)
        techTypeSelect.options[i].selected = true;
      else 
        techTypeSelect.options[i].selected = false;
    }
  }
</script>
