<%
   @assay_text=resource.is_modelling? ? "Analysis" : "Assay"
%>

<%= list_item_title resource %>

<div class="list_item_left_column">
  <%= list_item_attribute "ID", resource.id %>

  <%= list_item_attribute "#{@assay_text} type", resource.assay_type.title.capitalize, resource.assay_type %>
  <% unless resource.is_modelling? -%>
      <%= list_item_attribute "Technology type", resource.technology_type.title.capitalize, resource.technology_type %>
  <% end -%>

  <%= list_item_optional_attribute "Investigation", resource.investigation.try(:title), resource.investigation if resource.investigation.can_view?%>

  <%= list_item_optional_attribute "Study", resource.study.try(:title), resource.study if resource.study.can_view?%>

  <%= list_item_authorized_list(resource.models, "Models", true, 50, true) if resource.is_modelling? %>

</div>

<div class="list_item_right_column">
  <%= list_item_attribute "Owner", resource.owner.try(:name), resource.owner %>

  <%= list_item_optional_attribute "Project", resource.project.try(:title), resource.project %>

  <% if !resource.assay_organisms.blank? %>
  <%= list_item_simple_list(resource.assay_organisms, "Organism") { |ao| assay_organism_list_item(ao) } %>
  <% else %>
  <%= try_block{list_assay_sample_organism( "Organism",resource.sample.specimen.organism,resource.sample.specimen.strain,resource.sample,resource.sample.specimen.culture_growth_type) } %>
  <% end %>

  <%= list_item_authorized_list resource.sops, "SOPs", true, 50, true %>

  <%= list_item_authorized_list resource.data_files, "Data files", true, 50, true %>
</div>

<div class="list_item_whole_width">
  <%= list_item_tag_list resource %>
  <%= list_item_description resource.description %>
  <%= list_item_timestamp resource %>
</div>