<%= list_item_title resource %>

<%= list_item_attribute "ID", resource.id %>

<%= list_item_description resource.description %>

<div class="list_item_left_column">
<%= list_item_attribute "Assay type", resource.assay_type.title.capitalize, resource.assay_type %>

<%= list_item_attribute "Technology type", resource.technology_type.title.capitalize, resource.technology_type %>

<%= list_item_optional_attribute "Organism", resource.organism.try(:title), resource.organism %>

<%= list_item_optional_attribute "Culture growth", resource.culture_growth_type.try(:title) %>
</div>

<div class="list_item_right_column">
<%= list_item_optional_attribute "Project", resource.project.try(:title), resource.project %>

<%= list_item_optional_attribute "Investigation", resource.investigation.try(:title), resource.investigation %>

<%= list_item_optional_attribute "Study", resource.study.try(:title), resource.study %>
</div>

<div class="list_item_whole_width">
<%= list_item_authorized_list resource.sops, "SOPs", true, 200, true %>

<%= list_item_authorized_list resource.data_files, "Data", true, 200, true %>

<%= list_item_authorized_list resource.models, "Models", true, 200, true %>

<%= list_item_timestamp resource %>
</div>