<%
   assay_type_text = resource.is_modelling? ? "Biological problem addressed" : "#{t('assays.assay')} type"
%>

<%= list_item_description resource.description %>

<div class="row">
  <div class="col-sm-6">
    <%= list_item_authorized_attribute t('contributor').capitalize, resource.contributor %>

    <%= "<p class=\"list_item_attribute\"><b>#{assay_type_text}</b>: #{link_to_assay_type(resource)}</p>".html_safe %>
    <% unless resource.is_modelling? -%>
        <%= "<p class=\"list_item_attribute\"><b>Technology type</b>: #{link_to_technology_type(resource)}</p>".html_safe %>
    <% end -%>

    <%= list_item_snapshot_list resource %>
    <%= list_item_doi(resource) %>
  </div>

  <div class="col-sm-6 hidden-xs">
    <%= list_item_authorized_list [resource.investigation], t('investigation'), true, 50, true %>

    <%= list_item_authorized_list [resource.study], t('study'), true, 50, true %>

    <% if Seek::Config.organisms_enabled %>
        <%= list_assay_organisms("Organisms", resource.assay_organisms,{:class=>"list_item_attribute"}) %>
    <% end %>

    <% if Seek::Config.human_diseases_enabled %>
        <%= list_assay_human_diseases("Human Diseases", resource.assay_human_diseases,{:class=>"list_item_attribute"}) %>
    <% end %>

    <%= list_item_authorized_list(resource.models, t('model').pluralize, true, 50, true) if resource.is_modelling? %>
    <%= list_item_authorized_list resource.sops, t('sop').pluralize, true, 50, true %>
    <%= list_item_authorized_list resource.data_files, t('data_file').pluralize, true, 50, true %>
  </div>
</div>

<div class="hidden-xs">
  <%= scales_list_for_list_item resource %>
</div>
