<%
   @assay_text=resource.is_modelling? ? t('assays.modelling_analysis') : t('assays.assay')
%>

<%= list_item_title resource %>

<div class="list_item_left_column">
  <%= list_item_attribute "ID", resource.id %>

  <%= list_item_attribute "#{@assay_text} type", resource.assay_type.try(:title).try(:capitalize), resource.assay_type %>
  <% unless resource.is_modelling? -%>
      <%= list_item_attribute "Technology type", try_block{resource.technology_type.title.capitalize}, resource.technology_type %>
  <% end -%>

  <%= list_item_authorized_list [resource.investigation], t('investigation'), true, 50, true %>

  <%= list_item_authorized_list [resource.study], t('study'), true, 50, true %>

  <%= list_item_authorized_list(resource.model_masters, t('model').pluralize, true, 50, true) if resource.is_modelling? %>

</div>

<div class="list_item_right_column">
  <%= list_item_authorized_attribute "Owner", resource.owner %>

  <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => true}%>

  <%= list_item_simple_list(resource.assay_organisms, "Organisms") { |ao| assay_organism_list_item(ao) } %>

  <%= list_item_authorized_list resource.sop_masters, t('sop').pluralize, true, 50, true %>

  <%= list_item_authorized_list resource.data_file_masters, t('data_file').pluralize, true, 50, true %>

</div>

<div class="list_item_whole_width">
  <%= list_item_description resource.description %>
  <%= list_item_timestamp resource %>
</div>
