<%
   assay_type_text = resource.is_modelling? ? "Biological problem addressed" : "#{t('assays.assay')} type"
%>

<%= list_item_title resource %>


  <%= list_item_attribute "ID", resource.id %>

<%= "<p class=\"list_item_attribute\"><b>#{assay_type_text}</b>: #{link_to_assay_type(resource)}</p>".html_safe %>
<% unless resource.is_modelling? -%>
    <%= "<p class=\"list_item_attribute\"><b>Technology type</b>: #{link_to_technology_type(resource)}</p>".html_safe %>
<% end -%>

  <%= list_item_optional_attribute t('investigation'), h(resource.investigation.try(:title)), resource.investigation %>

  <%= list_item_optional_attribute t('study'), h(resource.study.try(:title)), resource.study %>

  <%= list_item_authorized_list(resource.models, t('model').pluralize, true, 50, true) if resource.is_modelling? %>




  <%= list_item_attribute "Contributor", resource.owner.name, resource.owner %>

  <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => true} %>
  <% if Seek::Config.organisms_enabled %>
    <%= list_item_simple_list(resource.assay_organisms, "Organism") { |ao| assay_organism_list_item(ao) } %>
  <% end %>

  <%= list_item_authorized_list resource.sops, t('sop').pluralize, true, 50, true %>

  <%= list_item_authorized_list resource.data_files, t('data_file').pluralize, true, 50, true %>

