<%
   select_truncate_length=120
   if @assay.investigation
    available_organisms = @assay.investigation.projects.collect{|p| p.organisms}.flatten.uniq.sort_by(&:title)
   else
     available_organisms = current_user.person.projects.collect{|p| p.organisms}.flatten.uniq.sort_by(&:title)
   end
   all_tissue_and_cell_types = TissueAndCellType.order(:title)
   culture_growth_options = options_for_select(CultureGrowthType.order(:title).map { |cg| [cg.title,cg.id] })
   existing_json = associations_json_from_assay_organisms(@assay.assay_organisms)
%>

<%= folding_panel('Organisms', false,
                  help_text: "Here you can associate the #{t('assays.assay').downcase} with specific organisms and cell types/tissues.") do %>
    <p>
      The following Organism and cell types/tissues are involved in this <%= "#{@assay_text}" -%>:
    </p>

    <%= associations_list('organism_to_list', 'associations/assay_organism', existing_json, empty_text: 'No organisms') %>

    <div class="association_step form-group">
      <label>Step 1 - <span class="assay_organism_info">Choose an organism</span></label>
      <%= select_tag :possible_organisms,
                     options_for_select(available_organisms.map { |o| [truncate(h(o.title), length: select_truncate_length), o.id] }),
                     prompt: 'Select Organism ...', class: 'form-control' -%>
    </div>

    <div id="extra_organism_details" style="display:none;">
      <div class="association_step form-group">
        <label>Step 2 - <span class="assay_item_sup_info">Select method of cell culture (optional)</span></label>
        <%= select_tag :culture_growth, culture_growth_options, include_blank: 'Not specified', class: 'form-control' -%>
      </div>

      <div class="association_step form-group">
        <label>Step 3 - <span class="assay_strain_info">Specify a strain (optional)</span></label>
        <div id="existing_strains_for_assay_organism"></div>
      </div>

      <% if Seek::Config.is_virtualliver %>
          <div class="association_step">
            <b>Step 4</b> - <span class="assay_tissue_and_cell_type_info">  Select or specify a cell type or tissue (optional)</span> <br/>
            <%= select_tag :possible_tissue_and_cell_types,
                           options_for_select(all_tissue_and_cell_types.collect { |o| [truncate(h(o.title), length: select_truncate_length), o.id] }),
                           prompt: 'Select Tissue or Cell Type ...', class: 'form-control', onchange: "$j('#tissue_and_cell_type').val('');" -%>
            <%= text_field_tag :tissue_and_cell_type, nil, onfocus: "$j('#possible_tissue_and_cell_types').val('');", class: 'form-control', placeholder: '... or enter a new one' %>
            <br/>
          </div>
      <% end %>

      <%= button_link_to "Include in the #{@assay_text}", 'new', '#', id: 'add-organism-btn' %>
    </div>
<% end %>

<script type="text/javascript">
    $j(document).ready(function () {
        $j('#possible_organisms').change(function () {
            if (this.value) {
                $j('#extra_organism_details').fadeIn();
                $j('#existing_strains_for_assay_organism').spinner('add');
                $j.get('<%= existing_strains_for_assay_organism_strains_path -%>',
                    { organism_id: this.value }).done(function (html) {
                    $j('#existing_strains_for_assay_organism').html(html);
                });
            } else {
                $j('#extra_organism_details').fadeOut();
            }
        });

        $j('#add-organism-btn').click(function () {
            var list = $j('#organism_to_list').data('associationList');
            var selectedOrganism = $j("#possible_organisms option:selected");

            var org = {
                organism_id: parseInt(selectedOrganism.val()),
                organism_title: selectedOrganism.text(),
            };
            if ($j('#strains').length) {
                var selectedStrain = $j('#strains option:selected');
                if (selectedStrain.val()) {
                    org.strain_id = parseInt(selectedStrain.val());
                    org.strain_info = selectedStrain.text();
                }
            }
            if ($j('#culture_growth').length) {
                var selectedCulture = $j('#culture_growth option:selected');
                if (selectedCulture.val()) {
                    org.culture_growth = selectedCulture.text();
                }
            }
            if ($j('#possible_tissue_and_cell_types').length) {
                var selectedCellType = $j('#possible_tissue_and_cell_types option:selected'); // Dropdown menu
                var specifiedCellType = $j('#tissue_and_cell_type').val(); // Text box
                if (selectedCellType.val()) {
                    org.tissue_and_cell_type_id = parseInt(selectedCellType.val());
                    org.tissue_and_cell_type_title = selectedCellType.text();
                } else if (specifiedCellType) {
                    org.tissue_and_cell_type_title = specifiedCellType;
                }
            }

            var existing = list.find(function (o) {
                return o.organism_id === org.organism_id &&
                    o.strain_id === org.strain_id &&
                    o.culture_growth === org.culture_growth &&
                    o.tissue_and_cell_type_title === org.tissue_and_cell_type_title
            });

            if (!existing) {
                list.add(org);
            } else {
                existing.element.highlight('blue');
            }

            return false;
        });

        $j('#possible_organisms').change(); // Trigger `change` event on select to act on initial state.
    });
</script>
