<%
 select_truncate_length=120
 samples_collection =  Sample.all.select &:can_view?
%>


<div id="add_samples_form" class="fold">

  <div class="foldTitle">
    <%= help_icon("Here you can associate the assay with specific samples.") -%>
    Samples
  </div>

  <div id="samples_fold_content" class="foldContent" style="display: block;">
    <div class="yui-u first">
      <p style="color: #666666;">
        The following samples are involved in this <%= "#{@assay_text}" -%>:
      </p>
      <div id="sample_to_list" class="box_editing_inner" style="line-height: 1.5;">
        <span class="none_text" id="samples">Loading...</span>
      </div>
      <div class="association_step">
         <%= select_tag :possible_samples,
             options_for_select([["Select Sample ...", 0]]|samples_collection.collect{|o| [truncate(h(o.title), :length=>select_truncate_length), o.id]}),
             {:style=>"width:90%"} -%>
        <%= select_tag 'assay[sample_ids]', options_from_collection_for_select(samples_collection, :id, :title, @assay.samples.map(&:id)), {:multiple=>true, :style=>"display:none;"} -%>
      </div>


		<br/>
        <%= link_to_function (image("new") + " Include in the #{@assay_text}"), "addSelectedSample(); return(false);", :id=>"add_sample_link", :class=>"block_link", :style => "width: 12em" %>

    </div>
  </div>
</div>

<script type="text/javascript">

    Event.observe(window, 'load',function () {
        updateSamples();
    });

    function checkSampleNotInList(id) {
        var samples = $F('assay_sample_ids');
        var toAdd = true;

        for (var i = 0; i < samples.length; i++)
            if (samples[i] == id ) {
                toAdd = false;
                alert("Sample already exists!");
                break;
            }
        return toAdd;
    }

    function addSample(id) {
        if (checkSampleNotInList(id)) {
            $('assay_sample_ids').setValue($F('assay_sample_ids').push(id));
            updateSamples();
        }
    }

    function addSelectedSample() {
        addSample($F("possible_samples"));
    }

    function removeSample(id) {
        $('assay_sample_ids').setValue($F('assay_sample_ids').reject(function(val){
            return id == val;
        }));
        updateSamples();
    }

    function optionToListItem(option) {
        var title_span = '<span title="' + option.text + '">' + option.text.truncate(100) + '</span>';
        var remove_link = '[<a href="" onclick="javascript:removeSample(' + option.value + '); return(false);">remove</a>]';
        return '<li>&nbsp;&nbsp;&nbsp;'+ title_span +'<small style="vertical-align: middle;">' + remove_link + '</small>';
    }

    function updateSamples() {
        samples = $F('assay_sample_ids');
        sample_text = '<ul class="related_asset_list">';

        for (var i = 0; i < samples.length; i++) {
            id = samples[i];
            title = $$('#assay_sample_ids option[value='+ id +']')[0].text;

            titleText = '<span title="' + title + '">' + title.truncate(100);


            titleText += '</span>';
            sample_text += '<li>' + titleText +
                    '&nbsp;&nbsp;&nbsp;<small style="vertical-align: middle;">' +
                    '[<a href="" onclick="javascript:removeSample(' + id + '); return(false);">remove</a>]</small></li>';
        }

        sample_text += '</ul>';

        // update the page
        if (samples.length == 0) {
            $('sample_to_list').innerHTML = '<span class="none_text">No samples</span>';
        }
        else {
            $('sample_to_list').innerHTML = sample_text;
        }
    }
</script>