<ul class="sectionIcons">
    <li><%= image_tag_for_key "new", new_assay_path, "New assay", nil, "New assay" %></li>
</ul>

<% if @assays.public_methods.include?("page_totals") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate_alphabetical", :locals => { :pages => @assays.pages, :page_totals=>@assays.page_totals,:current_page=>@assays.page } -%>
<% end %>

<div class="list_items_container">
  <%= render :partial => "layouts/resource_list_item", :collection=>@assays %>
</div>

<% if @assays.page == "latest"%>
    <% filter_hash = {:filter => params[:filter]} %>
    <div class="alphabetcal_pagination">
      <ul>
          <li><%= link_to "See All", {:id => params[:id], :page => "all"}.merge(filter_hash) %></li>
      </ul>
      <%=  link_to("Clear Filter", CGI::unescape(request.url).gsub(/filter\[.+\]=[0-9]*[&]?/,""), :style => "display:none") unless params[:filter].blank? %>
    </div>
<% end %>