<%= render :partial => "general/item_title",:locals=>{:item=>@assay} %>

<%
@assay_word=@assay.is_modelling? ? "Analysis" : "Assay" %>
<ul class="sectionIcons">
    <%= render :partial => "subscriptions/subscribe", :locals => {:object => @assay }%>
    <% if @assay.can_manage? -%>
      <li><%= image_tag_for_key('manage', edit_assay_path, nil, nil, "Manage #{@assay_word}") -%></li>
    <% elsif @assay.can_edit?-%>
      <li> <%= image_tag_for_key('edit', edit_assay_path, "Edit #{@assay_word} Details", nil, "Edit #{@assay_word} Details") -%></li>
    <% end -%>
    <%= delete_icon(@assay,current_user) %>
    <% if logged_in? and current_user.person.member? %>
      <li><%= image_tag_for_key('new', new_object_based_on_existing_one_path(:controller_name=>"assays", :id=>@assay.id), nil, nil, 'New Assay based on this one') %></li>
    <% end %>
</ul>

<div class="show_basic">
   <div class="main_content_left_box">
      <% if @assay.study.nil? -%>
      <div class="warning">
          <%= image("warning") %><b style="color:red">WARNING</b>
          <br/>
          <br/>
          An Assay may be edited by anybody, regardless of project membership, until it has been associated with a Study
      </div>
      <% end -%>
      <p class="id">
          <label>
              ID: 
          </label>
          <%= @assay.id -%>
      </p>
      <p class="id">
          <label>
              Class: 
          </label>
          <%= @assay.assay_class.title -%>
      </p>
      <% if @assay.owner.can_view? %>
          <p class="id">
              <label>
                  Owner:
              </label>
              <%= link_to h(@assay.owner.name),@assay.owner -%>
          </p>
      <% end %>

     <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @assay}  %>
      <p id="investigation">
          <b>Investigation: </b>
          <%= investigation_link(@assay.investigation) %>
      </p>
      <p id="study">
          <b>Study: </b>
          <%= studies_link_list [@assay.study] %>
      </p>
      <p id="assay_type">
          <b><%= @assay_word -%> type: </b>
          <%= link_to h(@assay.assay_type.title.capitalize), @assay.assay_type -%>
      </p>
      <% unless @assay.is_modelling? -%>
      <p id="technology_type">
          <b>Technology type: </b>
          <%= link_to h(try_block{@assay.technology_type.title.capitalize}), @assay.technology_type -%>
      </p>
      <% end -%>


      <p id="organism">
          <b>Organisms: </b>
          <%= list_organisms_and_strains( @assay.assay_organisms.collect{|ao| [ao.organism,ao.strain]} | @assay.samples.collect{|s| [s.specimen.organism,s.specimen.strain]}) -%>
      </p>

     <%= item_description @assay.description -%>

     <%# FIXME: should be in a css file rather than in the middle of a page -%>
      <style type="text/css">
          div.data_model_relationship {
              border: 1px dotted black;
              background-color: #EEEEFF;
              padding: 5px
          }
          
          div.data_model_relationship ul li {
              list-style: none;
              list-style-position: inside;
              margin-left: 5px;
          }
          
          div.data_model_relationship span {
              color: #1465FF;
          }
          
      </style>
      <% if ((@assay.is_modelling?) && !@assay.models.empty? && !@assay.data_files.empty?) %><%#MODELLING ASSAY %>
      <div class="data_model_relationship">
          <% unless @assay.models.empty? %>
          <b><%= @assay.models.size > 1 ? "Models" : "Model" %>:</b>
          <br/>
          <ul>
              <% @assay.model_masters.each do |m| %>
              <li>
                  <%= link_to truncate(h(m.title), :length=>110), show_resource_path(m) %>
              </li>
              <% end %>
          </ul>
          <% end %>
          <% unless @assay.data_files.empty? %>
          <b>Data:</b>
          <br/>
          <ul>
              <% @assay.data_file_masters.each do |d| %>
              <li>
                  <%= link_to truncate(h(d.title), :length=>110), show_resource_path(d) %><%= d.relationship_type(@assay) ? (" <span>(" + d.relationship_type(@assay).title + ")</span>").html_safe : "" %>
              </li>
              <% end %>
          </ul>
          <% end %>
      </div>
      <% end %>

	  
    </div>
		
	

    <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @assay, :creators=>[@assay.owner] } %>


    <div style="clear:both">
        <%= embedded_isa_svg(@assay.study, true, @assay) -%>
        <%= render :partial=>"general/items_related_to",:object => @assay %>
    </div>
</div>
