<%
@assay_word=@assay.is_modelling? ? "Analysis" : "Assay" %>
<ul class="sectionIcons">
    <% if @assay.can_edit?(current_user) -%>
    <li>
        <%= image_tag_for_key('edit', edit_assay_path(@assay), "Edit #{@assay_word} Details", nil, "Edit #{@assay_word} Details") -%>
    </li>
    <% end -%>
    <%= delete_ISA_icon(@assay,current_user) %>
</ul>
<%= render :partial => "layouts/item_title",:locals=>{:item=>@assay} %>
<div class="show_basic">
   <div class="main_content_left_box">
      <%= render :partial => "layouts/usage_info", :locals => { :resource => @assay } -%>
      <% if @assay.study.nil? -%>
      <div class="warning">
          <%= image("warning") %><b style="color:red">WARNING</b>
          <br/>
          <br/>
          An Assay may be edited by anybody, regardless of project membership, until it has been associated with a Study
      </div>
      <% end -%>
      <p class="id">
          <label>
              ID: 
          </label>
          <%= @assay.id -%>
      </p>
      <p class="id">
          <label>
              Class: 
          </label>
          <%= @assay.assay_class.title -%>
      </p>
      <p class="id">
          <label>
              Owner: 
          </label>
          <%= @assay.owner.name -%>
      </p>
      <p>
          <b>Description:</b>
          <div id="description" class="box_standout">
              <%= text_or_not_specified(@assay.description, :description=>true,:auto_link=>true) %>
          </div>
      </p>
      <p id="project">
          <b>Project: </b>
          <%= projects_link_list [@assay.project] %>
      </p>
      <p id="investigation">
          <b>Investigation: </b>
          <%= investigation_link(@assay.investigation) %>
      </p>
      <p id="study">
          <b>Study: </b>
          <%= studies_link_list [@assay.study] %>
      </p>
      <p id="assay_type">
          <b><%= @assay_word -%>type: </b>
          <%= link_to h(@assay.assay_type.title.capitalize), @assay.assay_type -%>
      </p>
      <% unless @assay.is_modelling? -%>
      <p id="technology_type">
          <b>Technology type: </b>
          <%= link_to h(@assay.technology_type.title.capitalize), @assay.technology_type -%>
      </p>
      <% end -%>
      <p id="organism">
          <b>Organisms: </b>
          <%= assay_organisms_list @assay.assay_organisms %>
      </p>
      <style type="text/css">
          div.data_model_relationship {
              border: 1px dotted black;
              background-color: #EEEEFF;
              padding: 5px
          }
          
          div.data_model_relationship ul li {
              list-style: none;
              list-style-position: inside;
              margin-left: 5px;
          }
          
          div.data_model_relationship span {
              color: #1465FF;
          }
          
      </style>
      <% if ((@assay.assay_class_id == 2) && !@assay.models.empty? && !@assay.data_files.empty?) %><%#MODELLING ASSAY %>
      <div class="data_model_relationship">
          <% unless @assay.models.empty? %>
          <b><%= @assay.models.size > 1 ? "Models" : "Model" %>:</b>
          <br/>
          <ul>
              <% @assay.models.each do |m| %>
              <li>
                  <%= link_to truncate(h(m.title), :length=>110), show_resource_path(m) %>
              </li>
              <% end %>
          </ul>
          <% end %>
          <% unless @assay.data_files.empty? %>
          <b>Data:</b>
          <br/>
          <ul>
              <% @assay.data_files.each do |d| %>
              <li>
                  <%= link_to truncate(h(d.title), :length=>110), show_resource_path(d) %><%= d.relationship_type(@assay) ? " <span>(" + d.relationship_type(@assay).title + ")</span>" : "" %>
              </li>
              <% end %>
          </ul>
          <% end %>
      </div>
      <% end %>
    </div>
    <div class="main_content_right_box">
      <%= render :partial => "assets/resource_authors_box", :locals => { :resource => @assay, :creators => [@assay.owner]} -%>
    </div>
    <br style="clear:both"/>
    <%= render :partial=>"layouts/items_related_to",:locals=>{:include_hidden_asset_count=>true},:object => @assay %>
</div>
