<ul class="sectionIcons">
  <% if user_can_edit_assay? @assay -%>
    <li><%= icon('edit', edit_assay_path(@assay), "Edit Assay Details", nil, 'Edit Assay Details') -%></li>
  <% end -%>
  <% if user_can_delete_assay? @assay -%>
    <li><%= icon('destroy', assay_path(@assay), "Delete Assay", { :confirm => 'Are you sure?', :method => :delete }, "Delete Assay") -%></li>
  <% end -%>
  <li>    
    <%= icon('new',new_study_path(:assay_id=>@assay),"Create a new Study",nil,'Create a new Study using this Assay') -%>
  </li>
</ul>

<h1><%= h @assay.title -%></h1>

<div class="show_basic">

  <p>
    <b>Description:</b>
    <div id="description" class="box_standout">
      <%= text_or_not_specified(@assay.description, :description=>true) %>
    </div>
  </p>

  <p id="project">
    <b>Project: </b> <%= projects_link_list [@assay.project] %>
  </p>

  <p id="study">
    <b>Study: </b><%= studies_link_list [@assay.study] %>
  </p>

  <p id="assay_type">
    <b>Assay type: </b><%= link_to h(@assay.assay_type.title), @assay.assay_type -%>
  </p>

  <p id="technology_type">
    <b>Technology type: </b><%= link_to h(@assay.technology_type.title), @assay.technology_type -%>
  </p>

  <%= render :partial=>"assays/assay_tabs",:object=>@assay %>

</div>



