<ul class="sectionIcons">
  <% if @assay.can_edit?(current_user) -%>
    <li><%= icon('edit', edit_assay_path(@assay), "Edit Assay Details", nil, 'Edit Assay Details') -%></li>
  <% end -%>
  <%= delete_ISA_icon(@assay,current_user) %>
  

</ul>

<h1><%= h @assay.title -%></h1>



<div class="show_basic">

  <% if @assay.study.nil? -%>
    <div class="warning">
      <%= image("warning") %> <b style="color:red">WARNING</b>
      <br/>
      <br/>
      An Assay may be edited by anybody, regardless of project membership, until it has been associated with a Study
    </div>
  <% end -%>

  <p>
    <b>Description:</b>
    <div id="description" class="box_standout">
      <%= text_or_not_specified(@assay.description, :description=>true) %>
    </div>
  </p>

  <p id="project">
    <b>Project: </b> <%= projects_link_list [@assay.project] %>
  </p>


  <p id="investigation">
    <b>Investigation: </b><%= investigation_link(@assay.investigation) %>
  </p>
  
  <p id="study">
    <b>Study: </b><%= studies_link_list [@assay.study] %>
  </p>

  <p id="assay_type">
    <b>Assay type: </b><%= link_to h(@assay.assay_type.title.capitalize), @assay.assay_type -%>
  </p>

  <p id="technology_type">
    <b>Technology type: </b><%= link_to h(@assay.technology_type.title.capitalize), @assay.technology_type -%>
  </p>

  <p id="organism">
    <b>Organism: </b><%= organism_link_to @assay.organism %>
  </p>

  <p id="culture_growth_type">
    <b>Culture growth: </b><%= model_title_or_not_specified(@assay.culture_growth_type) %>
  </p>

  <%= render :partial=>"assays/assay_tabs",:object=>@assay %>

</div>



