<ul class="sectionIcons">
  <% if user_can_edit_assay? @assay -%>
    <li><%= icon('edit', edit_assay_path(@assay), "Edit Assay Details", nil, 'Edit Assay Details') -%></li>
  <% end -%>
  <% if user_can_delete_assay? @assay -%>
    <li><%= icon('destroy', assay_path(@assay), "Delete Assay", { :confirm => 'Are you sure?', :method => :delete }, "Delete Assay") -%></li>
  <% end -%>
</ul>

<h1><%= h @assay.title -%></h1>

<div class="show_basic">

  <p>
    <b>Description:</b>
    <div id="description" class="box_standout">

      <%= text_or_not_specified(@assay.description, :description=>true) %>

    </div>
  </p>

  <p id="assay_type">
    <b>Assay type: </b><%= link_to h(@assay.assay_type.title), @assay.assay_type %>
  </p>
  <p id="technology_type">
    <b>Technology type: </b><%= link_to h(@assay.technology_type.title), @assay.technology_type %>
  </p>

  <p>
    <b>Studies:</b>
    <% if @assay.studies.empty? -%>
      <span class="none_text">No Studies are associated with this assay</span>
    <% else -%>
      <ul>
        <% for study in @assay.studies -%>
          <li>
            <%=  "#{link_to h(study.title),study} for the Investigation - #{link_to h(study.investigation.title),study.investigation}" %>
          </li>
        <% end -%>
      </ul>
    <% end -%>
  </p>

  <p>
    <b>SOPs:</b><br/>

    <ul>
      <% if Authorization.authorize_collection("show",@assay.sops,current_user).empty? -%>
        <li class="none_text">No SOPs, or none that are visible to you.</li>
      <% else -%>

        <% for sop in @assay.sops -%>
          <li><%=  link_to h(sop.title),sop,:title=>tooltip_title_attrib(h(sop.description),1000) %></li>

        <% end -%>
      <% end -%>
    </ul>

  </p>

</div>



