<% if Seek::Config.about_page_enabled || Seek::Config.about_instance_link_enabled  || Seek::Config.about_instance_admins_link_enabled  || Seek::Config.cite_link.present?  || Seek::Config.contact_link.present? %>
  <li id="navbar_about" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      <span class="hidden-md">About</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% if Seek::Config.about_page_enabled %>
        <li><%= link_to "About #{Seek::Config.instance_name}", about_home_path -%></li>
      <% end %>
      <% if Seek::Config.about_instance_link_enabled && Seek::Config.instance_name.present? && Seek::Config.instance_link.present? %>
        <li><%= link_to "About #{Seek::Config.instance_name}", Seek::Config.instance_link, :target => '_blank' -%></li>
      <% end %>
      <% if Seek::Config.about_instance_admins_link_enabled && Seek::Config.instance_admins_name.present? && Seek::Config.instance_admins_link.present? %>
        <li><%= link_to "About #{Seek::Config.instance_admins_name}", Seek::Config.instance_admins_link, :target => '_blank' -%></li>
      <% end %>
      <% if !Seek::Config.cite_link.blank? %>
        <li><%= link_to "Cite us", Seek::Config.cite_link, :target => '_blank' -%></li>
      <% end %>
      <% if !Seek::Config.contact_link.blank? %>
        <li><%= link_to "Contact us", Seek::Config.contact_link, :target => '_blank' -%></li>
      <% end %>
    </ul>
  </li>
<% end %>
