<li class="dropdown" id="create-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <span class="hidden-md">Create</span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation" class="dropdown-header visible-md">Create</li>

    <li role="presentation" class="dropdown-header"><%= t("menu.yellow_pages") -%></li>
    <% if can_create_programmes? %>
        <li><%= link_to t('programme'), new_programme_path %></li>
    <% end %>
    <% if can_create_projects? %>
        <li><%= link_to t("project"), new_project_path %></li>
    <% end %>
    <% if can_create_institutions? %>
        <li><%= link_to t("institution"), new_institution_path %></li>
    <% end %>
    <% if can_create_profiles? %>
        <li><%= link_to t("profile"), new_person_path %></li>
    <% end %>

    <% if can_create_new_items? %>
        <% if Seek::Config.isa_enabled %>
          <li role="presentation" class="dropdown-header"><%= t("menu.isa") -%></li>
          <li><%= link_to t("investigation"), new_investigation_path %></li>
          <li><%= link_to t("study"), new_study_path %></li>
          <li><%= link_to t("assays.assay"), new_assay_path %></li>
        <% end %>

        <li role="presentation" class="dropdown-header"><%= t("menu.assets") -%></li>
        <li><%= link_to t("data_file"), new_data_file_path %></li>
        <% if Seek::Config.models_enabled %>
            <li><%= link_to t("model"), new_model_path %></li>
        <% end %>
        <li><%= link_to t("sop"), new_sop_path %></li>
        <% if Seek::Config.workflows_enabled %>
          <li><%= link_to t("workflow"), new_workflow_path %></li>
          <% if false %>
            <li><%= link_to t("node"), new_node_path %></li>
          <% end %>
        <% end %>
        <% if Seek::Config.publications_enabled %>
          <li><%= link_to t("publication"), new_publication_path %></li>
        <% end %>
        <% if Seek::Config.documents_enabled %>
          <li><%= link_to t("document"), new_document_path %></li>
        <% end %>
        <% if Seek::Config.collections_enabled %>
          <li><%= link_to t("collection"), new_collection_path %></li>
        <% end %>

      <li role="presentation" class="dropdown-header"><%= t("menu.activities") -%></li>
        <li><%= link_to t("presentation"), new_presentation_path %></li>
        <% if Seek::Config.events_enabled %>
            <li><%= link_to t("event"), new_event_path %></li>
        <% end %>

      <% if Seek::Config.samples_enabled || Seek::Config.organisms_enabled %>
        <li role="presentation" class="dropdown-header"><%= t("menu.samples") -%></li>
        <% if Sample.can_create? %>
            <li><%= link_to(t("sample"), select_sample_types_path) %></li>
        <% end %>
        <% if SampleType.can_create? %>
            <li><%= link_to(t("sample_type"), new_sample_type_path) %></li>
        <% end %>
        <% if Seek::Config.organisms_enabled && can_create_organisms? %>
          <li><%= link_to(t("strain"), new_strain_path) %></li>
          <li><%= link_to t("organism"), new_organism_path %></li>
        <% end %>
      <% end %>

      <% if can_create_human_diseases? %>
        <li role="presentation" class="dropdown-header"><%= t("menu.vocabularies") -%></li>
        <li><%= link_to t("human_disease"), new_human_disease_path %></li>
      <% end %>
    <% else %>
        <li role="presentation" class="dropdown-header"><span style="color:red">You cannot add assets or other items until you are a member of a <%= t('project') %>.</span></li>
    <% end %>
  </ul>
</li>
