<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <span class="hidden-md"><%= t("menu.documentation") -%></span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation" class="dropdown-header visible-md-block"><%= t("menu.documentation") -%></li>
    <li><%= link_to t("menu.help"), help_documents_path, :target => "_blank" -%></li>
    <% if Seek::Config.internal_help_enabled %>
      <li><%= link_to t("menu.faq"), help_documents_path + '/faq' -%></li>
      <li><%= link_to t("menu.jerm_templates"), help_documents_path + '/templates' -%></li>
      <li><%= link_to t("menu.isa_best_practice"), help_documents_path + '/isa-best-practice' -%></li>
    <% end %>
    <li><%= link_to t("menu.api"), '/api' %></li>
    <% if logged_in_and_registered? %>
        <li><%= link_to 'Provide feedback', feedback_home_path -%></li>
    <% end %>
    <% if Seek::Config.issue_tracker.present? %>
      <% if logged_in_and_registered? %>
          <li><%= link_to t('menu.report_issue'), report_issue_home_path %></li>
      <% else %>
        <li><%= link_to t('menu.report_issue'), Seek::Config.issue_tracker, target: :_blank %></li>
      <% end %>
    <% end %>
  </ul>
</li>
