<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '/',:class=>"logo_link" do %>
          <%= image_tag(Seek::Config.header_image, :alt => Seek::Config.header_image_link, :title => Seek::Config.header_image_title, :height => 50) %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <%= render :partial => "layouts/navbar/browse_menu" %>
        <% if current_user.person.can_create_new_items? -%>
            <%= render :partial => "layouts/navbar/create_menu" %>
        <% end %>
        <%= render :partial => "layouts/navbar/help_menu" %>
      </ul>

      <%= render :partial => 'layouts/navbar/search_bar' %>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in_and_registered? %>
            <% if current_user.try(:person).try(:member?) -%>
                <%= render :partial => "layouts/navbar/projects_menu" %>
            <% end %>
            <%= render :partial => "layouts/navbar/user_menu" %>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
