
<% @search_type="All" unless @search_type %>


<% force_search_type(search_type_options) %>

<% if true || Seek::Config.solr_enabled -%>

  <%= form_tag main_app.search_path, :class => 'navbar-form navbar-left' do -%>
    <div id="search_box" class="input-group">
      <%= text_field_tag :search_query, @search_query, :class=>"form-control", :placeholder=>"Search here..." %>
      <% if false && show_scales? && Seek::Config.is_virtualliver %>
        <%= select_tag :scale, (options_for_select({"All" => 'all'}, :selected => (params[:scale] ? nil : 'all')) + options_from_collection_for_select(Scale.all.reverse, :key, :title, params[:scale])) %>
      <% end %>
      <% if false && Seek::Config.external_search_enabled %>
        <span title='<%= tooltip_title_attrib(external_search_tooltip_text) -%>' >
          <%= check_box_tag :include_external_search, 1, @include_external_search -%>External
        </span>
      <% end %>
      <div class="input-group-btn">
        <%= submit_tag "Search", :class => 'btn btn-default' -%>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">All <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <% search_type_options[1..-1].each do |option| %>
                <li><a href="#">Search <%= option.first %></a></li>
            <% end %>
        </ul>
      </div>
    </div>
  <% end  -%>
<% end %>
