<% if logged_in_and_registered? %>
    <% current_person = current_user.person %>
    <li><%= link_to 'My ' + Seek::Config.instance_name, person_path(current_person)+'/items' -%></li>
    <li class="dropdown" id="user-menu">
      <a href="#" id="user-menu-button" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <% if current_person.avatar.nil? %>
            <%= image_tag(icon_filename_for_key("person_avatar"), :size => "18x18") %>
        <% else %>
            <%= image_tag avatar_url(current_person, current_person.avatar, 18) %>
        <% end %>
        <span class="truncated-name" style="max-width: 12em"><%= current_person.name %></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation" class="dropdown-header"> My details</li>
        <li><%= link_to 'My items', items_person_path(current_person) -%></li>
        <li><%= link_to 'My profile', person_path(current_person) -%></li>
        <li><%= link_to 'Edit profile', edit_person_path(current_person) -%></li>
        <li><%= link_to 'Change password', edit_user_path(current_user) -%></li>
        <% if Seek::Config.omniauth_enabled %>
          <li><%= link_to 'Manage identities', user_identities_path(current_user) -%></li>
        <% end %>

        <% unless current_person.projects.empty? %>
            <li role="presentation" class="dropdown-header"> My <%= t('project').downcase.pluralize -%></li>
            <% current_person.projects.each do |project| %>
                <li class="project-item"><%= link_to project.title, project_path(project), title: project.title -%></li>
            <% end %>
        <% end %>

        <li role="presentation" class="dropdown-header">
          My favourites
          <%= image_tag("ajax-loader.gif", :alt => "loading...", :title => "loading...",
                        :id => "fav_ajax-loader", :style => 'display: none') %>
        </li>
        <div id="add-favourites-zone-text" style="display: none">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          Drop below to save
        </div>
        <% cache "favourites/user/#{current_user.id}", skip_digest: true do -%>
            <div id="add-favourites-zone">
              <div id="favourite_list">
                <%= render :partial=>"favourites/gadget_list" %>
              </div>
            </div>
        <% end -%>
        <div id="delete-favourite-zone" style="display: none">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Drop here to delete
        </div>

        <% if current_person.is_admin? %>
            <li role="presentation" class="divider"></li>
            <li><%= link_to 'Server admin', admin_path -%></li>
        <% end %>
        <li role="presentation" class="divider"></li>
        <li><%= link_to 'Provide feedback', feedback_home_path -%></li>
        <li><%= link_to 'Logout', logout_path, data: { confirm: 'Are you sure you wish to logout?' } -%></li>
      </ul>
    </li>
<% end %>
