<li class="institution_member{{#if leftAt}} left-project{{/if}}" data-person-name="{{person.name}}" data-membership-id="{{id}}" data-person-id="{{person.id}}" data-institution-id="{{institution.id}}" data-institution-title="{{institution.title}}">
    <span>{{person.name}}</span>
    {{#unless cannotRemove}}
        {{#if leftAt}}
            <a class="action-button unflag-action clickable" title="Unmark as inactive in the project"><span class="unflag_as_left_icon"></span></a>
        {{else}}
            <a class="action-button flag-action clickable" title="Mark as inactive the project"><span class="flag_as_left_icon"></span></a>
        {{/if}}
        <a class="action-button remove-action clickable" title="Remove from project"><span class="remove_member_icon"></span></a>
        {{> projects/_undo_button}}
    {{/unless}}
</li>
