<% creators = @asset_version.creators.collect{|creator| creator.last_name.capitalize + ', ' + creator.first_name.capitalize} %>
<%= render :partial => "datacite_doi/multiple_entries",
           :locals => {:objects => creators,
                       :field_name => 'creator',
                       :obligation => "(M) <span class='required'>*</span>".html_safe,
                       :metadata_path => "metadata[creators][creator][creatorName]",
                       :description => "Input the creator names, with the format: Last name, First name"
           } %>

<%= render :partial => "datacite_doi/single_entry",
           :locals => {:field_name => 'title',
                       :obligation => "(M) <span class='required'>*</span>".html_safe,
                       :description => "Input the title of the asset",
                       :field => text_area_tag("metadata[titles][title]", @asset_version.title, :class => "title_text_entry")
           } %>

<%= render :partial => "datacite_doi/single_entry",
           :locals => {:field_name => 'publisher',
                       :obligation => "(M) <span class='required'>*</span>".html_safe,
                       :description => "Input the publisher",
                       :field => text_field_tag("metadata[publisher]", nil, :size => 40)
           } %>

<%= render :partial => "datacite_doi/single_entry",
           :locals => {:field_name => 'publication year',
                       :obligation => "(M) <span class='required'>*</span>".html_safe,
                       :description => "Input the publication year",
                       :field => text_field_tag("metadata[publicationYear]", nil, :size => 40)
           } %>

<%= render :partial => "datacite_doi/multiple_entries",
           :locals => {:objects => [],
                       :field_name => 'subject',
                       :obligation => "(R)",
                       :metadata_path => "metadata[subjects][subject]",
                       :description => "Input the subjects of the asset, e.g. System Biology"
           } %>

<%= render :partial => "datacite_doi/single_entry",
           :locals => {:field_name => 'language',
                       :obligation => "(O)",
                       :description => "Input the language, e.g. eng",
                       :field => text_field_tag("metadata[language]", nil, :size => 40)
           } %>

<%= render :partial => "datacite_doi/single_entry",
           :locals => {:field_name => 'resource type',
                       :obligation => "(R)",
                       :description => "Input the asset type, e.g. Dataset",
                       :field => text_field_tag("metadata[resourceType]", nil, :size => 40)
           } %>

<%= render :partial => "datacite_doi/single_entry",
           :locals => {:field_name => 'version',
                       :obligation => "(O)",
                       :description => "Input the version",
                       :field => text_field_tag("metadata[version]", nil, :size => 40)
           } %>

<%= render :partial => "datacite_doi/single_entry",
           :locals => {:field_name => 'Description',
                       :obligation => "(R)",
                       :description => "Input the description",
                       :field => text_area_tag("metadata[descriptions][description]", @asset_version.description, :class => "large_text_entry")
           } %>