<div class="metadata">
  <p>
    <%= label_tag "Creators:"%>
    <%= text_field_tag :creators %>
  </p>

  <p>
    <%= label_tag "Titles:"%>
    <%= text_field_tag :titles %>
  </p>

  <p>
    <%= label_tag "Publisher:"%>
    <%= text_field_tag :publisher %>
  </p>

  <p>
    <%= label_tag "Publication year:"%>
    <%= text_field_tag :publicationYear %>
  </p>

  <p>
    <%= label_tag "Subjects:"%>
    <%= text_field_tag :subjects %>
  </p>

  <p>
    <%= label_tag "Language:"%>
    <%= text_field_tag :language %>
  </p>

  <p>
    <%= label_tag "Resource type:"%>
    <%= text_field_tag :resourceType %>
  </p>

  <p>
    <%= label_tag "Version:"%>
    <%= text_field_tag :version %>
  </p>

  <p>
    <%= label_tag "Descriptions:"%>
    <%= text_field_tag :descriptions %>
    <%= label_tag "Description type:"%>
    <%= text_field_tag :descriptionType %>    
  </p>
</div>