<%
# Parameters:
# field_name
# metadata_path: to be aligned with metadata schema of Datacite
# objects: use to populate some field taken from seek asset
# description: some explanation how to input the content
%>

<div class="metadata">
  <span class="label">
    <%= label_tag "#{field_name}".capitalize.pluralize %>
  </span>

  <span class="description">
    <%= description %>
  </span>

  <table id="<%= table_id %>" class="field">
    <% objects.each_with_index do |object, index| %>
        <tr id='<%= field_name %>_<%= index %>'>
          <td>
            <%= text_field_tag "#{metadata_path}[#{index}]", object.html_safe, :size => 40 %>
          </td>
          <td> <%= link_to_function image("destroy", :alt => "Delete", :title => "Delete this entry", :id => "delete_#{field_name}_#{index}"), "fadeRow('#{field_name}','#{index}')" -%>
          </td>
        </tr>
    <% end %>
  </table>

  <div class="add_icon">
    <%= image_tag 'famfamfam_silk/add.png', :alt=>"Add more", :title=>"Add more #{field_name}", :onclick=>"addRow('#{field_name}', '#{metadata_path}')" %>
  </div>

</div>