<%= javascript_include_tag 'datacite_doi' %>
<%= stylesheet_link_tag "datacite_doi" %>

<div class="show_basic">
  <%= show_title "Minting a DOI for this #{t(controller_name.singularize)} version #{@asset_version.version} from DataCite service" %>

  <div class="box_infotext">
    <p>
      You are going to mint a DOI for this <%= "#{t(controller_name.singularize)}" -%>, using DataCite Metadata Store
      service.
    </p>

    <p>
      You will first need to update and fill in the metadata below. They are conformed to the standards published by
      DataCite at:
      <%= link_to "Schema", 'http://schema.datacite.org', :target => '_blank' -%>
    </p>
  </div>
  <br/>

  <%= form_tag({:action => :mint}, :method => :post) do -%>
      <%= render :partial => "datacite_doi/metadata" -%>
      <br/>

      <%= submit_tag "Mint a DOI" -%>
      Or
      <%= link_to "Cancel", polymorphic_path(@asset_version.parent, :version => @asset_version.version) -%>
  <% end %>
</div>