<% type_text = text_for_resource(@asset_version.parent) %>

<div class="row">
  <div class="col-md-8 col-md-push-2">
    <%= panel("Confirmation") do %>
        <%= form_tag(polymorphic_path(@asset_version.parent,
                                      action: :mint_doi,
                                      version: @asset_version.version), method: :post) do -%>
            <%= image_tag('logos/doi_logo.svg', class: 'mint-doi') %>

            <p>
              You are about to create Digital Object Identifier (DOI) that will allow you to easily cite your <%= type_text %>.
              The DOI will be created using the current version and information stored about the <%= type_text %>
              and you may want to <%= link_to "review and modify", polymorphic_path(@asset_version.parent, action: :edit) %> this first.
            </p>

            The DOI that will be generated will be:
            <pre><%= @asset_version.suggested_doi %></pre>

            <div class="alert alert-warning">
              <strong>Please note:</strong><br/>
              Once you have generated a DOI you will be unable to easily delete, or hide, the <%= type_text %>
              except under special circumstances where a retraction is necessary.
            </div>

            <hr/>

            <p class="text-center">
              <%= submit_tag 'Mint DOI', class: 'btn btn-primary' %>
              <%= cancel_button(polymorphic_path(@asset_version.parent, version: @asset_version.version)) %>
            </p>
        <% end %>
    <% end %>
  </div>
</div>
