<%
  entity=openbis_dataset_card
  extra ||= nil
  extra_params ||= nil
%>

<div class="col-md-3 openbis-card">
   <div class='panel panel-default'>
     <div class='openbis-card-heading'>
       <span>
        <%= entity.perm_id %>
       </span>
     </div>
     <div class='panel-body'>
       <%= render partial:'openbis_common/obis_attr_list', locals: {entity: entity} %>
       <%= render partial:'openbis_common/obis_prop_list', locals: {entity: entity} %>
       <p class="list_item_attribute">
        <%= openbis_files_modal_link(entity) %>
       </p>
       <%= render partial:'openbis_common/registered_link_item', locals: {entity: entity} %>
       <p class="list_item_attribute">
           <%= link_to(entity.registered? ? 'Show/Update' : 'Show/Register', edit_project_openbis_endpoint_openbis_dataset_path(entity.openbis_endpoint.project, entity.openbis_endpoint, entity.perm_id)) %>
       </p>

      <%= render partial: extra, locals: {entity: entity, extra_params: extra_params} if extra %>
     </div>
   </div>

</div>