<%
  dataset=openbis_dataset_card
  openbis_endpoint = dataset.openbis_endpoint
  project=openbis_endpoint.project
%>

<div class='col-md-3'>
   <div class='panel panel-default'>
     <div class='openbis-card-heading'>
       <span>
        <%= dataset.perm_id %>
       </span>
     </div>
     <div class='panel-body'>
       <%= list_item_attribute('Code',dataset.code) %>
       <%= list_item_attribute('Dataset Type',dataset.dataset_type['code']) %>
       <%= list_item_attribute('Dataset Type Desc',dataset.dataset_type['description']) %>

       <%= list_item_attribute('Registrator',dataset.registrator) %>
       <%= list_item_attribute('Modifier',dataset.modifier) %>

       <%= list_item_attribute('Registered',date_as_string(dataset.registration_date,true)) %>
       <%= list_item_attribute('Modified',date_as_string(dataset.modification_date,true))   %>

       <%= link_to('Register with SEEK',add_dataset_project_openbis_endpoint_path(project,openbis_endpoint,dataset_perm_id:dataset.perm_id),method: :post) %>
     </div>
   </div>

</div>