<%
  authentication_result = one_endpoint.do_authentication
  openbis_space = authentication_result.space
%>

<div class="panel panel-default">
  <!-- If an error occurs, the space value is a string containing the error. -->
  <% if !authentication_result.success %>
    <div class="panel-heading">
      <div class="list_item_title">
        <%= one_endpoint.title %>
      </div>
      <div class="errorCell">
        <%= authentication_result.error_message %>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <%= list_item_attribute("Front page", one_endpoint.web_endpoint) %>
        </div>
        <div class="col-md-6">
          <%= list_item_attribute("AS Endpoint", one_endpoint.as_endpoint) %>
          <%= list_item_attribute("DSS Endpoint", one_endpoint.dss_endpoint) %>
        </div>
        <div class="col-sm-2 text-right list_item_actions">
          <% if one_endpoint.can_edit? %>
            <%= button_link_to 'Edit', 'edit', edit_openbis_endpoint_path(one_endpoint), :class => 'btn-xs' %>
          <% end %>
          <% if one_endpoint.can_delete? %>
            <%= button_link_to 'Delete', 'destroy', openbis_endpoint_path(one_endpoint), class: 'btn-xs', disabled: !one_endpoint.can_delete?, confirm: "Are you sure?", method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="panel-heading">
      <div class="list_item_title">
        <%= one_endpoint.title %>
      </div>

    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <%= list_item_attribute("Code", openbis_space.code) %>
          <%= list_item_attribute("Perm ID", openbis_space.perm_id) %>
          <%= list_item_attribute("Front page", one_endpoint.web_endpoint) %>
        </div>
        <div class="col-md-6">
          <%= list_item_attribute("AS Endpoint", one_endpoint.as_endpoint) %>
          <%= list_item_attribute("DSS Endpoint", one_endpoint.dss_endpoint) %>
        </div>
        <div class="col-sm-2 text-right list_item_actions">
          <% if one_endpoint.can_edit? %>
            <%= button_link_to 'Edit', 'edit', edit_openbis_endpoint_path(one_endpoint), :class => 'btn-xs' %>
          <% end %>
          <% if one_endpoint.can_delete? %>
            <%= button_link_to 'Delete', 'destroy', openbis_endpoint_path(one_endpoint), class: 'btn-xs', disabled: !one_endpoint.can_delete?, confirm: "Are you sure?", method: :delete %>
            <%# button_link_to 'Delete', 'destroy', project_openbis_endpoint_path(project, space), class:'btn-xs', disabled:!space.can_delete?,confirm:"Are you sure?",method: :delete %>
          <% end %>
          <%= button_link_to 'Browse', 'openbis_square_small', openbis_endpoint_path(one_endpoint), { class: 'btn-xs' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <%= list_item_description(openbis_space.description) %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="panel-footer hidden-xs small">
    <%= list_item_timestamp one_endpoint %>
  </div>

</div>