<div class ="strain" id="existing_strain">
    <table >
        <tr>
          <th>Name</th>
          <th>Genotypes</th>
          <th>Phenotype</th>
          <th>Comment</th>
          <th>Provider ID</th>
          <th>Provider mame</th>
          <th>Synonym</th>
        </tr>

        <tr>
          <td><%= text_field_tag :title, existing_strain.title %></td>
          <td><%= text_field_tag :genotypes -%></td>
          <td><%= text_field_tag :phenotype, existing_strain.phenotype.try(:description) %></td>
          <td><%= text_field_tag :comment, existing_strain.comment %></td>
          <td><%= text_field_tag :provider_id, existing_strain.provider_id %></td>
          <td><%= text_field_tag :provider_name, existing_strain.provider_name %></td>
          <td><%= text_field_tag :synonym, existing_strain.synonym %></td>
        </tr>
    </table>
</div>



