<% strains = existing_strains_for_assay_organism.select{ |strain| strain.can_view? } %>
<div id="existing_strains_for_assay_organism">
  <% if existing_strains_for_assay_organism.empty? -%>
      <p class="none_text">
        No strains have been defined for <b><%= h(organism.title) -%></b> for your <%= t('project').downcase.pluralize -%>.
      </p>
  <% else -%>
      <p class="none_text">
        Here are the strains for <b><%= h(organism.title) -%></b> defined for your <%= t('project').downcase.pluralize -%>.<br/>
        If required, please select the appropriate one.
      </p>
      <%= select_tag :strains,
                     options_for_select(strains.map { |strain| [strain.info,strain.id] }),
                     include_blank: 'No strain',
                     class: 'form-control' %>
  <% end -%>
</div>
