<%= f.error_messages -%>

<div id="strain_form">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag 'Name' , nil, class: 'required' %>
        <%= f.text_field :title, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag "Provider's strain ID" %>
        <%= f.text_field :provider_id, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag "Provider Name" %>
        <%= f.text_field :provider_name, :class => 'form-control' %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag "Synonym" %>
        <%= f.text_field :synonym, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag "Comment" %>
        <%= f.text_area :comment, :class => 'form-control', :cols => 33, :rows => 3 %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= render partial: 'genotype_form', locals: { item: @strain } %>
    <%= render partial: 'phenotype_form', locals: { item: @strain } %>
  </div>

  <div class="form-group">
    <%= f.label "Organism", class: 'required' -%>
    <%= f.select :organism_id,
                 options_for_select([["Not specified", ""]] + Organism.order(:title).map { |o| [o.title, o.id] }, @strain.organism.try(:id) || current_user.try(:person).try(:projects).try(:first).try(:organism_ids).try(:first)), {},
                 class: 'form-control' -%>
  </div>

  <div class="form-group">
    <% strains = @strain.organism.nil? ? [] : @strain.organism.strains.without_default.select(&:can_view?) -%>
    <%= label_tag "Based on" %>

    <div id='strains_of_selected_organism'>
      <%= f.collection_select :parent_id, strains, :id, :info, {:include_blank => "Not specified"},
                              {:class => 'form-control'} -%>

    </div>
  </div>

  <% if show_form_manage_specific_attributes? && @strain.can_manage? %>
    <%= render :partial => 'projects/project_selector', :locals => {:resource => @strain} %>

    <%= render partial: 'assets/manage_specific_attributes', locals:{f:f} %>
  <% end %>

  <%= form_submit_buttons(@strain, validate:false) %>
</div>

<script type="text/javascript">
    $j(document).ready(function () {
        $j('#strain_organism_id').change(function () {
            var select = $j('#strain_parent_id');
            select.hide().html('<option value="0">Select Strain ...</option>');
            $j('#strains_of_selected_organism').spinner('add');

            $j.get('<%= strains_of_selected_organism_strains_path -%>', { organism_id: $j(this).val() }).done(function (data) {
                data.strains.forEach(function (strain) {
                    select.append($j('<option value="' + strain[0] + '">' + strain[1] + '</option>'));
                });
            }).fail(function () {
                alert('Something went wrong, please try again...');
            }).always(function () {
                $j('#strains_of_selected_organism').spinner('remove');
                select.show();
            });
        });
    });

    <% if action.to_s == 'create' && @strain.parent_id.nil? && f.error_messages.blank? %>
    $j('#strain_organism_id').change(); // Trigger AJAX call
    <% end %>
</script>
