<%= javascript_include_tag 'strain', 'biosample' -%>
<script type="text/javascript">
    initialiseFold('add_projects_form');
    initialiseFold('sharing_form');
    updateFancyMultiselect('strain_project_ids');
</script>

<%= f.error_messages -%>

<div  id="strain_form">
  <div class="yui-g">
    <center>
      <div class="yui-u first" style="width: 42%; margin-left: 2em; margin-top: 1em; margin-bottom: 1em;">
        <p style="margin-bottom: 0.5em">
          <%= label_tag 'Name:', nil,  :style => 'float:left' %><span class="required">*</span>
          <%= f.text_field :title, :style => 'float:right' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <%= label_tag "Provider's strain ID:", nil, :style => 'float:left' %>
          <%= f.text_field :provider_id, :style => 'float:right' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <%= label_tag "Provider Name:", nil, :style => 'float:left' %>
          <%= f.text_field :provider_name, :style => 'float:right' %>
        </p>

      </div>
    </center>

    <center>
      <div class="yui-u" style="width: 42%;margin-right: 2em; margin-top: 1em; margin-bottom: 1em;">

        <p style="margin-bottom: 1.5em">
          <%= label_tag "Synonym:", nil,  :style => 'float:left' %>
          <%= f.text_field :synonym, :style => 'float:right' %>
        </p>

        <p style="margin-bottom: 1.5em">
          <%= label_tag "Comment:", nil, :style => 'float:left' %>
          <%= f.text_area :comment, :style => 'float:right', :cols => 33, :rows => 3 %>
        </p>

      </div>
    </center>
  </div>

  <div class="yui-g">
    <%= render :partial => "genotype_form", :locals => {:item => @strain, :f => f, :action => action} %>
    <%= render :partial => "phenotype_form", :locals => {:item => @strain, :f => f, :action => action} %>
  </div>
  <br/>

  <p>
    <%= f.label "Organism:" -%><span class="required">*</span>
    <%= f.select :organism_id,
                 options_for_select([["Not specified", ""]] + Organism.all(:order => :title).collect { |o| [o.title, o.id] }, @strain.organism.try(:id) || current_user.try(:person).try(:projects).try(:first).try(:organism_ids).try(:first)), {},
                 :onchange => "show_ajax_loader('strains_of_selected_organism');strains_of_selected_organism(this.value,'strain_parent_id', 'strain[parent_id]');"
    -%>
  </p>

  <p>
            <% strains = @strain.organism.nil? ? [] : @strain.organism.strains.without_default.select(&:can_view?) -%>
    <%= label_tag "Based on:", nil, :style => 'float:left' %>

  <div id='strains_of_selected_organism'>
    <%= f.collection_select :parent_id,
                            strains, :id, :info, :include_blank => "Not specified" -%>

  </div>
  </p>

  <%= render :partial => 'projects/project_selector', :locals => {:resource => @strain} %>
  <br/>

  <% if (action == 'create') || (action == 'edit' && @strain.can_manage?) %>
      <%= render :partial => "assets/sharing_form", :locals => {:object => @strain} -%>
  <% end %>

  <%= f.hidden_field :id %>
  <%
     button_text=action=="edit" ? "Update" : "Create"
     disabled_text=action=="edit" ? "Updating..." : "Creating..."
  %>
  <br/>
  <% if @strain.can_manage? %>
      <%= preview_permission_popup_link(@strain) -%>
      <%= f.submit button_text, :id => "strain_submit_btn", :onclick => "clickLink($('preview_permission'));return(false);" -%>
  <% else %>
      <%= f.submit button_text, :disable_with => disabled_text, :id => "strain_submit_btn" -%>
  <% end %>
  or <%= link_to 'Cancel', (@strain.id ? strain_path(@strain.id) : strains_path) -%>
</div>

<script type="text/javascript">
    if ('<%= action.to_s%>' == 'create' && <%= f.error_messages.blank?%>) {
        show_ajax_loader('strains_of_selected_organism');
        strains_of_selected_organism($F('strain_organism_id'), 'strain_parent_id', 'strain[parent_id]');
    }
</script>


