<% parent_name ||= item.class.name.underscore
   action ||=nil
%>
<div class="col-sm-6">
  <div class="form-group">
    <label>Phenotypes</label>
    <%= button_link_to 'Add phenotype', 'add', "javascript: addPhenotypeRow('phenotype_table','#{parent_name}','#{action}')", :class => 'btn-xs' %>
    <table id="phenotype_table" class="table">
      <% item.phenotypes.each_with_index do |phenotype,index| %>
          <%= f.fields_for :phenotypes, phenotype do |phenotype_form| %>
              <tr id='phenotype_row_<%= index %>'>
                <td>
                  <%= phenotype_form.text_field :description, :size=>25 %>
                </td>
                <td> <%= link_to_function image("destroy", :alt => "Delete", :title => "Delete this entry", :id => "delete_phenotype_#{index}"), "fadePhenotypeRow('#{index}','#{action}')" -%>
                </td>
              </tr>
              <%= phenotype_form.hidden_field :_destroy,{:id => "phenotype_#{index}",:value=>0} %>
          <% end %>
      <% end %>
    </table>
  </div>
</div>
