<h1> <font color="#456AAA"> <%= 'Strains' %> </font> </h1> <br>
<% if logged_in? and current_user.person.member? %>
    <ul class="sectionIcons">
      <li><%= image_tag_for_key "new", new_strain_path, "New Strain", nil, "New strain" %></li>
    </ul>
<% end %>

<% if @strains.public_methods.include?(:page_totals) %>
    <!-- only do the page links if the collection supports it -->
    <%= render :partial => "general/paginate_alphabetical", :locals => {:pages => @strains.pages, :page_totals=>@strains.page_totals, :current_page=>@strains.page} -%>
<% end %>


<div class="list_items_container">
  <%= render :partial=>"assets/resource_list_item", :collection=>@strains %>
</div>


<% if @strains.page == "latest" && Strain.count > Seek::Config.limit_latest %>
    <%= render :partial => "general/paginate_see_all" %>
<% end %>


