<%
   queue = AuthLookupUpdateQueue.all.to_a | ReindexingQueue.all.to_a | RdfGenerationQueue.all.to_a
   queue = queue.sort_by(&:created_at)
   solid_queue_jobs = SolidQueue::Job.where(finished_at: nil).includes(:failed_execution).order(created_at: :asc)
%>

<h4>
  Total jobs waiting = <%= solid_queue_jobs.count -%>
</h4>

<p><%= link_to 'Open the Job queue dashboard', mission_control_jobs_path %> for a fuller view of queues, failed and scheduled jobs.</p>

<% if SolidQueue::Job.failed.count > 0 %>
  <%= button_link_to "Clear failed jobs", 'destroy', '#', id: 'clear-failed-btn', class: 'btn-primary' %>
<% end %>

<div class='job-queue-table'>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Time created</th>
        <th>Priority</th>
        <th>Queue</th>
        <th>Class</th>
        <th>Scheduled at</th>
        <th>Failed</th>
      </tr>
    </thead>
    <tbody>
      <% solid_queue_jobs.each do |item| %>
          <% failure = item.failed_execution %>
          <tr>
            <td><%= date_as_string(item.created_at,true) -%></td>
            <td><%= item.priority -%></td>
            <td><%= item.queue_name -%></td>
            <td><%= item.class_name -%></td>
            <td><%= date_as_string(item.scheduled_at,true) -%></td>
            <td>
              <% if failure %>
                <%= link_to 'Yes', '#', onclick: "$j('#last_error_#{item.id}').fadeIn(); return false;" %>
              <% end %>
            </td>
          </tr>
          <% if failure -%>
              <tr id='<%= "last_error_#{item.id}" -%>' style="display:none;">
                <td colspan="6">
                  <%# failed_execution.error is a JSON hash (exception_class/message/backtrace),
                      so format it into a readable string rather than dumping the raw hash %>
                  <pre><%= [ "#{failure.exception_class}: #{failure.message}", *failure.backtrace ].join("\n") -%></pre>
                </td>
              </tr>
          <% end -%>
      <% end -%>
    </tbody>
  </table>
</div>
<hr/>
<h4>
  Total items waiting in queues = <%= queue.count -%>
</h4>

<div class='job-queue-table'>
  <table id="job_queue" class="table table-hover">
    <thead>
      <tr>
        <th>Time created</th>
        <th>Priority</th>
        <th>Item type</th>
        <th>Item id</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% queue.each do |item| %>
          <tr>
            <td><%= date_as_string(item.created_at,true) -%></td>
            <td><%= item.respond_to?(:priority) ? item.priority : "<span class='none_text'>N/A</span>".html_safe -%></td>
            <td><%= item.item_type -%></td>
            <td><%= item.item_id -%></td>
            <td><%= item.class.name -%></td>
          </tr>
      <% end -%>
    </tbody>
  </table>
</div>

<script type="application/javascript">

    $j('#clear-failed-btn').click(function () {
        if (confirm("This will clear all failed jobs listed, are you sure?")) {
            var request = $j.ajax({
                type: "POST",
                dataType: "json",
                timeout: 0,
                url: '<%= clear_failed_jobs_admin_path -%>'
            });

            request.done(function (data) {

            }).fail(function (jqXHR, textStatus,errorThrown) {

            });

            $j('#stats-refresh-btn').click();
        }
    });

</script>
