<% limit = 15 -%>

<h4>Search statistics</h4>

<table class="table">
  <thead>
  <tr>
    <th></th>
    <th>1 year</th>
    <th>1 month</th>
    <th>1 week</th>
    <th>1 day</th>
  </tr>
  </thead>
  <tr>
    <td>Searches made</td>
    <td><%= stats.yearly_searches -%></td>
    <td><%= stats.monthly_searches -%></td>
    <td><%= stats.weekly_searches -%></td>
    <td><%= stats.daily_searches -%></td>
  </tr>
</table>

<hr/>

<h4>Popular search queries (limited to top <%=  limit -%>)</h4>
<ul>
  <li>
    <label><b>1 year:</b></label> <%= search_terms_summary stats.yearly_search_terms(limit) -%>
  </li>
  <li>
    <label><b>1 month:</b></label> <%= search_terms_summary stats.monthly_search_terms(limit) -%>
  </li>
  <li>
    <label><b>1 week:</b></label> <%= search_terms_summary stats.weekly_search_terms(limit) -%>
  </li>
  <li>
    <label><b>1 day:</b></label> <%= search_terms_summary stats.daily_search_terms(limit) -%>
  </li>
</ul>