
<div id="plot_panel" class="spreadsheet_popup" style="display:none">
  <div class="spreadsheet_box_title">
    <div style="float: left">Data plot</div>
    <div style="float: right"><a href="#" onclick="$j('#plot_panel').hide(); return false;">Close</a></div>
    <br style="clear:both"/>
  </div>
  

  <div id="plot_data">

  </div>
  <div>&nbsp;</div>
  <%= form_tag(spreadsheet_annotations_path, method: :post, class: 'spreadsheet-annotation-ctrl',
               id: "plot_panel_form", remote: true) do  %>
    <div style="display:none;">
      <%= hidden_field_tag :annotation_content_blob_id, @display_data_file.content_blob.id %>
      <%= hidden_field_tag :annotation_sheet_id, "0" %>

      <%= text_field_tag :annotation_cell_coverage, nil,:class=>"annotation_cell_coverage_class" %>

      <%= text_area_tag :annotation_content,nil,:class=>"annotation_content_class" %>
      <%= hidden_field_tag :annotation_attribute_name, "plot_data" %>
    </div>
    <%= submit_tag('Store as annotation',:id=>"store_plot_button") if logged_in? %>
  <% end %>
  <%= image_tag "ajax-loader.gif", :id => 'spinner_plot', :style => 'display:none;', :class => 'loading-spinner' -%>

</div>
