<% start_open ||= false %>
<% object ||= nil %>
<% locals ||= nil %>
<% unique_id = partial.hash * locals.hash * title.hash * (object.nil? ? 1 : object.hash) %>
<% div_options ||= {} 
   div_options[:class] ||= "collapsable_div"
   div_options[:style] ||= "" %>

<% header_options ||= {} 
   header_options[:class] ||= "collapsable_div_header"
   header_options[:style] ||= "" %>
   
<div <%= tag_options div_options %>>
  <div <%= tag_options header_options %> href="#" onclick="toggle_collapsable_div('<%= unique_id -%>'); return false;">
    <%= title -%> <img id="collapsable_div_img_<%= unique_id -%>" style="float:right" src="/images/folds/<%= (start_open ? "fold.png" : "unfold.png") %>"/>
  </div>
  <div class="collapsable_div_contents" id="collapsable_div_<%= unique_id -%>" <%= start_open ? "" : "style=\"display: none\""%> >
    <%= render :partial => partial, :object => object, :locals => locals %>
  </div>
</div>

