
<%
logged_in_class = logged_in_and_registered? ? "class=logged_in" : ""
%>

<% cache "header_#{logged_in_and_registered?}" do -%>

    <ul id="header">
      <li id="seek_logo">
        <%= link_to image_tag(Seek::Config.header_home_logo_image, :alt => Seek::Config.application_name, :title => tooltip_title_attrib(Seek::Config.application_name)),
                    root_path %>
      </li>

      <li id="header_text" <%= logged_in_class -%>>
        <%= render :partial => "layouts/header_text_main" -%>
      </li>

      <li id="image_block" <%= logged_in_class -%>>
            <% if Seek::Config.header_image_enabled %>
                <%= link_to image_tag(Seek::Config.header_image, :alt => Seek::Config.header_image_link, :title => Seek::Config.header_image_title),Seek::Config.header_image_link,:class=>"logo_link" %>
            <% end %>
      </li>
    </ul>

<% end -%>
