<%= javascript_include_tag 'pdfjs' -%>
<%= stylesheet_link_tag 'pdfjs.css' -%>
<%

item||=nil
avatar = item.nil? ? nil : resource_title_draggable_avatar(item)
title_prefix||="" 
title_postfix||=""
title||=h(item.title)
%>
<% if item.respond_to?(:private?) && item.respond_to?(:public?) && item.try(:can_manage?) %>
<div class="sharing_summary">
  <%=
          if item.private?
              "This item is <span style='color: red; font-weight: bold;'>Private</span> (only you can view it)"
          elsif item.public?
              "This item is <span style='color: green; font-weight: bold;'>Public</span> (all visitors, even without a login, may view this item)"
          else
              "This item is <span style='font-weight: bold;'>Shared</span>, but not with all visitors to this site"
          end
  %>
</div>
<% end %>

<div class="contribution_title">
    <% unless avatar.blank? -%>
    <span class="contribution_title_image"><%= avatar -%></span>
    <% end -%>
    <h1><%= title_prefix + title + title_postfix -%></h1>
</div>

<% if item.is_downloadable_pdf?
   version ||= 1
   download_url = polymorphic_path(item, :version => version, :action => 'download') %>
    <center>
    <%= link_to_function 'View content' + expand_image, :onclick => "viewPDFContent('#{download_url}')", :id => 'view_content_expand_image', :class=> 'link_text' do |page|
        page["view_content_expand_image"].toggle
        page["hide_content_collapse_image"].toggle
    end
  %>
  <%= link_to_function 'Hide content' + collapse_image, :onclick => "hidePDFContent('')", :id => 'hide_content_collapse_image', :class=> 'link_text', :style => "display:none" do |page|

        page["view_content_expand_image"].toggle
        page["hide_content_collapse_image"].toggle
        end
  %>
   </center>
  <br/>
  <%= render :partial =>  'layouts/pdf_content_display'%>
<% end %>

