<style>
    ul#my_profile_menu {
        float:right;
        right: 1em;
        margin-top: 0.5em;
    }
    ul#my_profile_menu > li {
        list-style: none;
        text-align: left;
        padding-left: 0.25em;
    }
    ul#my_profile_menu > li.dynamic_menu_li {
        padding-left: 0.5em;
    }

    ul#my_profile_menu:before {
        border-color: transparent transparent #ccc;
        border-style: solid;
        border-width: 0 10px 10px;
        content: "";
        display: block;
        height: 0;
        left: 8em;
        position: absolute;
        top: -10px;
        width: 0;
    }
    ul#my_profile_menu > li.my_profile_menu_header {
        background-color: #ccc;
    }
    ul#my_profile_menu > li.my_profile_menu_break {
        border-bottom: 1px solid #ddd;
        font-size: 4px;
    }
</style>

<% if logged_in_and_registered? %>
    <div class="sysmo_gadget">
      <div class="contents curved">
        <div id="logged_in_as">
          <% current_person = current_user.person %>
          <% if current_person.avatar.nil? %>
              <%= image_tag(icon_filename_for_key("person_avatar"), :size => "32x32", :onclick => "toggleDynamicMenu('my_profile_menu');") %>
          <% else %>
              <%= image_tag avatar_url(current_person, current_person.avatar_id, 32), :onclick => "toggleDynamicMenu('my_profile_menu');" %>
          <% end %>

          <%= link_to_function(current_person.name, :onclick => "toggleDynamicMenu('my_profile_menu');") %>

          <%= image_tag(icon_filename_for_key('arrow_down_small'), :onclick => "toggleDynamicMenu('my_profile_menu');") %>

          <ul id="my_profile_menu" class='dynamic_menu with_smaller_shadow' style="display:none;">
            <li class="my_profile_menu_header">&nbsp;</li>
            <li class='dynamic_menu_li' onclick="javascript:location.href='<%= person_path(current_person) -%>';">Your profile
            </li>
            <% if current_person.is_admin? %>
                <li class='dynamic_menu_li' onclick="javascript:location.href='<%= admin_path -%>';">Server admin</li>
            <% end %>
            <li class='dynamic_menu_li' onclick="javascript:location.href='<%= feedback_home_path -%>';">Provide
              feedback
            </li>
            <li class="my_profile_menu_break">&nbsp;</li>
            <li class='dynamic_menu_li' onclick="javascript:location.href='<%= logout_path -%>';">Logout</li>
          </ul>
        </div>
      </div>
    </div>
<% end -%>