
<% if logged_in? -%>
  <%= render :partial => "gadgets/new_object_gadget" -%>
  <%= render :partial=>"gadgets/announcements_gadget" %>
  <%= render :partial => "gadgets/favourites" -%>
<% else -%>
  <%= render :partial => "gadgets/sign_in" -%>
<% end -%>


<% cache "tag_clouds" do -%>
  <div id="sidebar_tag_cloud">
    <%= render :partial=>"gadgets/merged_tag_cloud_gadget" %>
  </div>
<% end -%>	

<%= render :partial=>"gadgets/organism_gadget" %>
