<% if logged_in_and_registered? -%>

    <%= render :partial => "gadgets/new_object_gadget" -%>
    <%= render :partial => "gadgets/my_project_gadget" -%>
    <%= render :partial=>"gadgets/announcements_gadget" %>
    <%= render :partial => "gadgets/favourites" -%>

<% else -%>
    <%= render :partial => "gadgets/sign_in" -%>
<% end -%>
<% if Seek::Config.tagging_enabled %>
    <div id="sidebar_tag_cloud">
      <% cache "sidebar_tag_cloud" do -%>
          <%= render :partial=>"gadgets/tag_cloud_gadget" %>
      <% end -%>
    </div>
<% end %>

<%= render :partial=>"gadgets/organism_gadget" %>




