<%
   resource ||= nil
%>

<div id="facebook" class="clearfix" style="display:block;">
Please enter the concentration of which substance:
  <div tabindex="-1" id="<%= name -%>_ids" class="clearfix tokenizer" onclick="$('<%= name -%>_autocomplete_input').focus();">
    <span class="tokenizer_stretcher">^_^</span>
    <span class="tab_stop"><input type="text" id="<%= name -%>_hidden_input" tabindex="-1"></span>
    <div id="<%= name -%>_autocomplete_display" class="tokenizer_input">
      <input type="text" size="1" tabindex="" id="<%= name -%>_autocomplete_input" disabled=true onBlur="addLastTag('<%= name -%>_autocompleter');"/>
    </div>
  </div>
  <div id="<%= name -%>_autocomplete_populate" class="clearfix autocomplete typeahead_list" style="width: 600px; height: auto; overflow-y: hidden;display:none">
    <div class="typeahead_message"></div>
  </div>
</div>

<%= render :partial=>"annotations/autocompleter_javascript", :locals=>{:name=> name, :all_annotations =>all_substances ,:item_annotations=>tagged_substances(resource)} %>


