<% if logged_in? && !current_user.person.nil? %>
  <div>
    <ul class="tabnav">
      
      <!-- People tab -->
      <li <%= (["people"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
        <%= link_to "People", people_url -%>
      </li>

      <!-- Projects tab -->
      <li <%= (["projects"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
        <%= link_to "Projects", projects_url -%>
      </li>

      <!-- Institutions tab -->
      <li <%= (["institutions"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
        <%= link_to "Institutions", institutions_url -%>
      </li>

      <!-- SOPs tab -->
      <li <%= (["sops"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> style="margin-left: 1.5em;">
        <%= link_to "SOPs", sops_url -%>
      </li>

      <!-- Models tab -->
      <li <%= (["models"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Models", models_url -%>
      </li>

      <!-- Experiments tab -->
      <li <%= (["experiments"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Experiments", experiments_url -%>
      </li>

      <!-- Data tab -->
      <li <%= (["data_files"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> >
        <%= link_to "Data", data_files_url -%>
      </li>

      <% if current_user.is_admin? -%>
        <!-- Admin tab -->
        <li <%= (["admin"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %> style="margin-left: 8.5em;">
          <%= link_to "Admin", admin_url -%>
        </li>
      <% end -%>
      
    </ul>
  </div>
<% end  %>
