<% if logged_in? && !current_user.person.nil? -%>
    <div>
      <ul class="tabnav">

        <!-- People tab -->
        <%= tab_definition :controllers=>["people"] -%>

        <!-- Projects tab -->
        <%= tab_definition :controllers=>["projects"] -%>

        <!-- Institutions tab -->
        <%= tab_definition :controllers=>["institutions"] -%>

        <!-- Investigations tab -->
        <%= tab_definition :controllers=>["investigations"], :gap_before=>true -%>

        <!-- Studies tab -->
        <%= tab_definition :controllers=>["studies"] -%>

        <!-- Assays tab -->
        <%= tab_definition :controllers=>["assays"] -%>

        <!-- Data tab -->
        <%= tab_definition :controllers=>["data_files"],:title=>"Data", :gap_before=>true -%>

        <!-- Models tab -->
        <%= tab_definition :controllers=>["models"] -%>

        <!-- SOPs tab -->
        <%= tab_definition :controllers=>["sops"] -%>

        <!-- Publications tab -->
        <%= tab_definition :controllers=>["publications"] -%>

        <!-- Forums tab -->
        <%= tab_definition :controllers=>["forums","topics"], :gap_before=>true -%>

        <!-- Events tab -->
        <%= tab_definition :controllers=>["events"], :gap_before=>true if Seek::ApplicationConfiguration.events_enabled -%>

        <!-- Help tab -->
        <%= tab_definition :controllers=>["help_documents"],:title=>"Help",:gap_before=>true -%>
      </ul>
    </div>
<% end -%>