<% if logged_in?  %>
<div>
  <ul class="tabnav">
    <!-- Home tab -->
    <li <%= (["home"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
      <%= link_to "Home", url_for(:controller=>'home') -%>
      </li>
    <!-- People tab -->
    <li <%= (["people"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
      <%= link_to "People", people_url -%>
      </li>
    <!-- Projects tab -->
    <li <%= (["projects"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
      <%= link_to "Projects", projects_url -%>
      </li>
    <!-- Institutions tab -->
    <li <%= (["institutions"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
      <%= link_to "Institutions", institutions_url -%>
      </li>
  </ul>
</div>
<% end  %>
