

<%= javascript_include_tag 'dropMenu.js' %>


<div>
<table cellspacing="0" cellpadding="0" id="menu" class="dm">
  <tr>
    <td>
      <a class="item1" href="javascript:void(0)">Yellow Pages</a>

      <div class="section">
        <%= tab_definition :controllers=>["people"] -%>

        <!-- Projects tab -->
        <%= tab_definition :controllers=>["projects"] -%>

        <!-- Institutions tab -->
        <%= tab_definition :controllers=>["institutions"] -%>
      </div>
    </td>
    <td>
      <div class="tab_gap_before">
        <a class="item1" href="javascript:void(0)">Experiments</a>


        <div class="section">
          <!-- Investigations tab -->
          <%= tab_definition :controllers=>["investigations"] -%>

          <!-- Studies tab -->
          <%= tab_definition :controllers=>["studies"] -%>

          <!-- Assays tab -->
          <%= tab_definition :controllers=>["assays"] -%>
        </div>
      </div>
    </td>

    <td>
      <div class="tab_gap_before">
        <a class="item1" href="javascript:void(0)">Items</a>


        <div class="section">
          <!-- Data tab -->
          <%= tab_definition :controllers=>["data_files"], :title=>"Data" -%>

          <!-- Models tab -->
          <%= tab_definition :controllers=>["models"] -%>

          <!-- SOPs tab -->
          <%= tab_definition :controllers=>["sops"], :title=>"SOPs" -%>

          <!-- Publications tab -->
          <%= tab_definition :controllers=>["publications"]-%>

          <!-- Presentations tab -->
          <%= tab_definition :controllers=>["presentations"]-%>

          <!-- biosamples tab -->
          <%= tab_definition :controllers=>["biosamples"]-%>

        </div>
      </div>
    </td>
    <td>
      <div class="tab_gap_before">
        <a class="item1" href="javascript:void(0)">Activities</a>

        <div class="section">
          <!-- Events tab -->
          <%= tab_definition :controllers => ["events"] if Seek::Config.events_enabled -%>
          <!-- Forums tab -->
          <%= tab_definition :controllers => ["forums"] if logged_in? -%>
        </div>

      </div>
    </td>
    <td>
      <div class="tab_gap_before">
        <%= link_to "Content Statistics", statistics_path,{:class =>"item1",:target=>"_blank"} if logged_in?%>
      </div>
    </td>
    <td>
      <div class="tab_gap_before">
        <%= link_to "Help", {:controller => "help_documents", :action=>"index"}, {:class =>"item1"} %>
      </div>
    </td>
  </tr>
</table>
</div>

<script type="text/javascript">
    var dm = new DropMenu1('menu');
    dm.init();
</script>

