<div class="container-fluid">
  <p>Brought to you by:</p>
  <div id="footer-logos">
    <a href="https://elixir-europe.org/" target="_blank">
      <%= image_tag('logos/footer/elixir.png') %>
    </a>
    <a href="https://www.eosc-life.eu/" target="_blank">
      <%= image_tag('logos/footer/eosclife.png') %>
    </a>
    <a href="https://bioexcel.eu/" target="_blank">
      <%= image_tag('logos/footer/bioexcel.png') %>
    </a>
    <a href="https://www.ibisba.eu/" target="_blank">
      <%= image_tag('logos/footer/ibisba.png') %>
    </a>
    <a href="https://www.synthesys.info/" target="_blank">
      <%= image_tag('logos/footer/synthesysplus.png') %>
    </a>
    <a href="https://www.fair-dom.org" target="_blank">
      <%= image_tag('logos/footer/fairdom.png') %>
    </a>
  </div>
</div>
