<!doctype html>

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title><%= page_title controller.controller_name, controller.action_name %></title>

  <%= favicon_link_tag('favicon.png', :type => 'image/png') %>
  <%= csrf_meta_tag %>

  <%= schema_ld_script_block %>

  <%= seek_stylesheet_tags %>
  <%= seek_javascript_tags %>
</head>

<body id="body">

<%= render :partial=>"layouts/navbar/navbar" %>

<div id="content">
  <div class="container-fluid">

    <%# applying styling to error / notice messages -%>
    <% if flash[:error] %>
        <%= alert_box('danger', :id => 'error_flash', :class => 'fade in') do %>
            <%= flash[:error] %>
        <% end %>
    <% end %>
    <% if flash[:notice] %>
        <%= alert_box('success', :id => 'notice_flash', :class => 'fade in') do %>
            <%= flash[:notice] %>
        <% end %>
    <% end %>

    <%= render partial: 'layouts/pending_events_warnings' %>

    <%# main content part of every page -%>
    <%= yield :layout %>
  </div>
</div>

<%= render partial: 'layouts/footer' %>
<%# Note: This seems to break if a page is generated from a POST request and the params contain non-ASCII characters -FB %>
<%= debug(params.except(:utf8)) if Rails.env.development? %>

<% if cookie_consent.allow_tracking? %>
  <%= render partial: 'layouts/piwik' if Seek::Config.piwik_analytics_enabled  %>
  <% if Seek::Config.google_analytics_enabled %>
    <script id="ga-script"/> <!-- so we can check if the ga-script is here -->
    <%= analytics_init  %>
  <% end %>
<% end %>
<% if !cookie_consent.given?%>
  <%= render partial: 'layouts/cookies_banner'%>
<% end %>
</body>
</html>
