<%= render :partial => "layouts/head" %>

<div id="container">

<div id="content">
  
<%= content_tag 'p', h(flash[:notice]), :class => 'notice' if flash[:notice] %>
<%= content_tag 'p', h(flash[:error]), :class => 'notice error' if flash[:error] %>
  
<%= yield %>
</div>

<div id="right">
  <%= yield :right %>
</div>

<br style="clear:both;" />

</div>

<div id="footer">
<p class="disclaim">
<strong>
  </strong>
</p>
<br style="clear:both;" />
</div>
</body>
</html>
