<!doctype html>

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title><%= page_title controller.controller_name, controller.action_name %></title>

  <%= favicon_link_tag('favicon.png', :type => 'image/png') %>
  <%= csrf_meta_tag %>

  <%= schema_ld_script_block %>

  <%= seek_stylesheet_tags %>
  <%= seek_javascript_tags %>

  <link href="#data" type="application/json" rel="exhibit-data" />

</head>

<body id="body">

<%= render :partial=>"layouts/navbar/navbar" %>

<div id="content">
  <div class="container-fluid">
    <% unless breadcrumbs.empty? %>
        <div class="breadcrumbs">
          <ol class="breadcrumb">
            <%= render_breadcrumbs :tag => 'li', :separator => ' ' %>
          </ol>
        </div>
    <% end %>

    <%# applying styling to error / notice messages -%>
    <% if flash[:error] %>
        <%= alert_box('danger', :id => 'error_flash', :class => 'fade in') do %>
            <%= flash[:error] %>
        <% end %>
    <% end %>
    <% if flash[:notice] %>
        <%= alert_box('success', :id => 'notice_flash', :class => 'fade in') do %>
            <%= flash[:notice] %>
        <% end %>
    <% end %>

    <% if join_or_create_project_banner? %>
      <div class="alert alert-warning text-center">
        As a newly registered user, you are not yet a member of a <%= t('project') %>. Please
        <%=
          link_to(
            button_tag("Join or Create a #{t('project')}", class:'btn btn-success'),
          create_or_join_project_home_path)
        %>
      </div>
    <% end %>

    <%# main content part of every page -%>
    <%= yield :layout %>
  </div>
</div>

<%= render :partial=>"layouts/footer" %>
<%= debug(params) if Rails.env.development? %>

<%= render partial: 'layouts/piwik' if Seek::Config.piwik_analytics_enabled %>
<%= analytics_init if Seek::Config.google_analytics_enabled %>
</body>
</html>
