<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="X-UA-Compatible"/>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BioVeL Portal</title>
  <link rel="shortcut icon" href="<%= asset_path('biovel-logo-no-text.png')%>" type="image/png"/>

  <%= csrf_meta_tag %>

  <%= seek_stylesheet_tags %>
  <%= seek_javascript_tags %>

  <link href="#data" type="application/json" rel="exhibit-data" />
</head>

<body id="body">

<%= render :partial=>"layouts/navbar/biovel_navbar" %>

<div id="content">
  <div class="container-fluid">
    <% unless breadcrumbs.empty? %>
        <div class="breadcrumbs">
          <ol class="breadcrumb">
            <%= render_breadcrumbs :tag => 'li', :separator => ' ' %>
          </ol>
        </div>
    <% end %>

    <%= add_return_to_search %>

    <%# applying styling to error / notice messages -%>
    <% if flash[:error] %>
        <%= alert_box('danger', :id => 'error_flash', :class => 'fade in') do %>
            <%= flash[:error] %>
        <% end %>
    <% end %>
    <% if flash[:notice] %>
        <%= alert_box('success', :id => 'notice_flash', :class => 'fade in') do %>
            <%= flash[:notice] %>
        <% end %>
    <% end %>
    <% if logged_in? && current_user.person && current_user.person.projects.empty? %>
        <%= alert_box('warning') do %>
            <%= image 'denied', :class => 'icon' %> Your project membership has not been confirmed.
            You will be unable to run or upload workflows until an administrator confirms your membership.
        <% end %>
    <% end %>

    <%# main content part of every page -%>
    <%= yield :layout %>
  </div>
</div>

<%= render :partial=>"layouts/biovel_footer" %>

<%= render partial: 'layouts/piwik' if Seek::Config.piwik_analytics_enabled %>
<%= analytics_init if Seek::Config.google_analytics_enabled %>
</body>
</html>
