<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name %>:  <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'reset-fonts-grids' %>
    <%= stylesheet_link_tag 'base-min' %>
    <%= stylesheet_link_tag 'my_exp' %>
    <%= stylesheet_link_tag 'gadgets' %>
    <%= stylesheet_link_tag 'styles'  %>
    <%= stylesheet_link_tag 'people' %>
                                        
  </head>
  
  
  
  <body>
    
    <div id="doc2" class="yui-t2">
      <div id="hd">
        <div id="header">
          <%= render :partial=>"layouts/header" %>
        </div>
        <%= render :partial=>"layouts/tabnav" %>
        <div id="myexp_searchbar">
          <%= render :partial=>"layouts/search_bar" %>
        </div>
      </div>
      <div id="bd">
        <div id="yui-main"> 
          <div class="yui-b">
            
              <%= flash[:notice] %>
              <%= yield :layout %>
                                                      
            
          </div>
        </div>
        <div id="myexp_sidebar" class="yui-b">
          <%= render :partial => "layouts/sidebar" %>
        </div>
      </div>
      <div id="ft">
        
          <%= render :partial=>"layouts/footer" %>
        
      </div>
    </div>
    
  </body>
</html>