<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name %>:  <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'reset-fonts-grids' %>
    <%= stylesheet_link_tag 'base-min' %>
    <%= stylesheet_link_tag 'my_exp' %>
    <%= stylesheet_link_tag 'styles'  %>
                        
  </head>
  
  
  
  <body>
    <p style="color: green"><%= flash[:notice] %></p>
    <div id="doc2" class="yui-t4">
      <div id="hd">
        <div id="header">
          <%= render :partial=>"layouts/header" %>
        </div>
        <div>
          <ul class="tabnav">
            <!-- People tab -->
            <li <%= (["people"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
              <%= link_to "People", people_url -%>
              </li>
            <!-- Projects tab -->
            <li <%= (["projects"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
              <%= link_to "Projects", projects_url -%>
              </li>
            <!-- Institutions tab -->
            <li <%= (["institutions"].include?(controller.controller_name.to_s) ? ' id="selected_tabnav"' : '') %>>
              <%= link_to "Institutions", institutions_url -%>
              </li>
          </ul>
        </div>
        
        <div id="myexp_searchbar"></div>
      </div>
      <div id="bd">
        <div id="yui-main"> 
          <div class="yui-b">
            <div id="myexp_content">
              <div class="left"></div>
              <%= yield :layout %>
              <div class="right"/></div>
            </div>
          </div>
        </div>
      </div>
      
  </body>
</html>