<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= page_title controller.controller_name, controller.action_name %></title>

    

    <%= javascript_include_tag 'prototype.js','effects.js','dragdrop.js','boxover.js','scriptaculous.js','controls.js', 'redbox.js','builder.js','application.js','autocompleter_advanced.js',:cache=>'js_cached' %>

    <%= stylesheet_link_tag 'reset-fonts-grids', 'base-min', 'my_exp', 'gadgets', 'acts_as_taggable_stylesheet', 'styles', 'fast_auto_complete', 'redbox', 'autocompleter_advanced', 'alphabetical_pagination', :cache=>'css_cached'%>

    <script type="text/javascript">
      function show_ajax_loader(element) {
        $(element).innerHTML=<%= "'"+image_tag("ajax-loader.gif")+"'" -%>;
      }
    </script>

  </head>


  <body>

    <div id="doc2" class="yui-t2">
      <div id="hd">
        <div id="header">
          <%= render :partial=>"layouts/header" %>
        </div>
        <%= render :partial=>"layouts/tabnav" %>
        <div id="myexp_searchbar">
          <%= render :partial=>"search/search_bar" %>
        </div>
      </div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">

            <%# applying styling to error / notice messages -%>
            <% if flash[:error] %>
              <div id="error_flash" class="box_standout" style="color: red; font-weight: bold; margin: 0.8em 0.8em; line-height: 1.4;">
                <%= link_to_function image_tag("close.gif", :style => "float: right;"),
                  visual_effect(:toggle_slide, "error_flash", :duration => 0.3) %>
                <%= white_list flash[:error] %>
              </div>
            <% end %>
            <% if flash[:notice] %>
              <div id="notice_flash" class="box_standout" style="color: green; font-weight: bold; margin: 0.8em 0.8em; line-height: 1.4;">
                <%= link_to_function image_tag("close.gif", :style => "float: right;"),
                  visual_effect(:toggle_slide, "notice_flash", :duration => 0.3) %>
                <%= white_list flash[:notice] %>
              </div>
            <% end %>

            <%# main content part of every page -%>
            <%= yield :layout %>

          </div>
        </div>
        <div id="myexp_sidebar" class="yui-b">
          <%= render :partial => "layouts/sidebar" %>
        </div>
      </div>
      <div id="ft">
        <%= render :partial=>"layouts/footer" %>
      </div>

    </div>

    <%# NB! These javascript include should be here - otherwise folds / tabs will not be displayed on any pages. -%>
    <%= javascript_include_tag "folds.js" %>
    <%= javascript_include_tag "tabber-minimized.js" %>
  </body>
</html>