<%= javascript_include_tag "resource.js"%>
<%
   is_new_file = params[:is_new_file]
   resource_name = params[:resource_name]
%>
<style>
  #preview_permissions ul.people_list {
      max-height: 10em;
      overflow-y: auto;
  }
  #preview_permissions ul.people_list li.name {
      color: #ff8c00;
  }
  #preview_permissions p.private {
      color: red;
      font-size: medium;
      font-weight: bold;
      margin-left: 3em;
  }
  #preview_permissions p.public{
      color: #0000ff;
      font-weight: bold;
  }
</style>

<div class="redbox_contents" id="preview_permissions" style="width:500px;">
    <div class="body">
    <h1>You will share this item with:</h1>
    <%unless grouped_people_by_access_type.blank?
      grouped_people_by_access_type.each do |key, value|
      case key
        when Policy::NO_ACCESS %>
            <h2 style="color: red">People who have no access:</h2>
            <%= display_people_list value-%>
        <%when Policy::VISIBLE %>
            <h2>People who can view the summary:</h2>
            <%= display_people_list value-%>
        <%when Policy::ACCESSIBLE %>
            <h2>People who can view the summary and get contents:</h2>
            <%= display_people_list value-%>
        <%when Policy::EDITING %>
            <h2>People who can view and edit the summary and contents:</h2>
            <%= display_people_list value-%>
        <%when Policy::MANAGING %>
            <%if (grouped_people_by_access_type.count == 1) && (value.count == 1 and value.first[0] == try_block{current_user.person.id})%>
               <p class='private'>You keep this item private (only visible to you)</p>
            <%else%>
               <h2>People who can manage:</h2>
               <%= display_people_list value-%>
            <%end%>
        <%when Policy::DETERMINED_BY_GROUP %>
            <p class='public'>All visitors (including anonymous visitors with no login) can <span style="color: #475f30;"><%= Policy.get_access_type_wording(value, try_block{resource_name.camelize.constantize.new()}).downcase -%> </span>  </p>
            <% if !updated_can_publish %>
                <span style="color: red;">(An email will be sent to the Gatekeepers of the projects associated with this <%= resource_name.humanize %> to ask for publishing approval. This <%= resource_name.humanize %> will not be published until one of the Gatekeepers has granted approval)</span>
            <% end %>
       <%end%>
      <%end%>
    <%end%>

    <div align="center" style="margin-top: 1em">
      <input type=button value='OK' style="width: 5em" onclick="createOrUpdateResource('<%= is_new_file -%>', '<%= resource_name -%>')">
      <input type=button value='Cancel' onclick="RedBox.close()">
    </div>
  </div>
</div>
